<template>
    <div class="row breadcrumb-container">
        <div class="col-lg-6" v-bind:class="{'col-md-6':title,'col-md-12':!title}">
            <ol class="breadcrumb breadcrumb-left">
                <li class="breadcrumb-item  "><router-link :to="'/'">{{$t('Címlap')}}</router-link></li>
                <li class="breadcrumb-item " v-bind:class="{'active': !l.link}" v-for="(l,index ) in links" v-bind:key="'bread-'+index"  >
                    <router-link v-if="l.link" :to="l.link">{{l.name}}</router-link>
                    <span v-if="!l.link">{{l.name}}</span>
                </li>
            </ol>
        </div>
        <div class="col-md-6 breadcrumb-title" v-if="title">
            <h2 class="title">{{title}}</h2>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Breadgrump',
    props: ['links', 'title']
}
</script>

<style scoped>

</style>
