<template>
    <LoadingSvg  v-if="infinityLoading"></LoadingSvg>
</template>

<script>
import LoadingSvg from './LoadingSvg'
export default {
    name: 'InfinityScroll',
    components: { LoadingSvg },
    props: ['HTMLElement', 'infinityLoading'],
    methods: {
        scroll (scroll = true) {
            window.onscroll = () => {
                if (document.getElementById(this.HTMLElement) && !this.infinityLoading) {
                    const bottomOfWindow = document.documentElement.scrollTop + 600 > document.getElementById(this.HTMLElement).offsetHeight
                    if (bottomOfWindow && !this.infinityLoading && document.getElementById(this.HTMLElement).offsetHeight > 0) {
                        this.$emit('loadMore')
                    }
                }
            }
        }
    },
    created () {
        setTimeout(() => { this.scroll() }, 100)
    }
}
</script>

<style scoped>

</style>
