<template>
    <router-view></router-view>
</template>
<script>

import Layout from './../../../../../../resources/js/frontend/components/Layout'
import NewRealization from './profile/Profile/NewRealization.vue'
export default {
    name: 'Site',
    components: { NewRealization },
    mixin: { Layout },
    beforeMount () {
        const self = this
        if ($cookies.get('token')) {
            this.axios.get(`${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/user`).then((response) => {
                if (response.status === 401) {
                    $cookies.remove('token')
                    this.$router.push('/login')
                }
                $cookies.set('userId', response.data.id, 60 * 60)
                self.$store.commit('defaultStore/setLoggedIn', true)
                self.$store.commit('defaultStore/setUser', response.data)

                self.loaded = 1
            }).catch((err) => {
                if (err.response && err.response.status === 401) {
                    $cookies.remove('token')
                }
                self.loaded = 1
            })
        }
        if (localStorage.getItem('language')) {
            this.selectedLanguage = localStorage.getItem('language')
            this.$store.commit('defaultStore/setPageLanguage', this.selectedLanguage)
        } else {
            localStorage.setItem('language', 'en')
            this.$store.commit('defaultStore/setPageLanguage', 'en')
        }
        if (localStorage.getItem('currency')) {
            this.selectedCurrency = localStorage.getItem('currency')
            this.$store.commit('defaultStore/setPageCurrency', this.selectedCurrency)
        } else {
            localStorage.setItem('currency', '1')
            this.$store.commit('defaultStore/setPageCurrency', '1')
        }
    }
}
</script>
