<template>
    <PostalOutgoingsForm v-if="Object.keys(model).length > 0" :url="url" :model="model"></PostalOutgoingsForm>
</template>

<script>
import PostalOutgoingsForm from './PostalOutgoingsForm'
import PostalOutgoings from './PostalOutgoings'

export default {
    name: 'PostalOutgoingsEdit',
    extends: PostalOutgoings,
    data () {
        return {
            model: {}
        }
    },
    components: { PostalOutgoingsForm },
    beforeMount: function () {
        this.handleUpdate('postal-outgoings', this.url, {})

        this.getPostalOutgoings()
    }
}
</script>
