<template>
    <div>
        <div class="alert alert-custom alert-white alert-shadow kt-portlet" role="alert">

            <h3 class="text-info">{{ $t('Kimenő posta') }}</h3>
        </div>
        <div class="kt-portlet pt-3">
            <div class="kt-portlet__body">
                <div class="kt-form kt-form--label-right">
                    <div class="kt-form__body">
                        <div class="row">
                            <div class="col-md-6">
                                <FormInput readonly="" v-model="model.number" :title="$t('Sorszám')"></FormInput>
                            </div>
                            <div class="col-md-6">
                                <FormDatePicker v-model="model.postal_date"
                                                :title="$t('Postázás dátuma')"></FormDatePicker>
                            </div>
                            <div class="col-md-6">
                              <FormAutocomplete v-model="model.recipient" empty-enable="true" :url="'/api/v1/postal-income/search'" :attribute-key="'name'" :attribute-value="'name'" :full="true" v-on:objectChanged="model.recipient_address = $event.address" :title="$t('Címzett')"></FormAutocomplete>
                            </div>
                            <div class="col-md-6">
                                <FormInput v-model="model.recipient_address" :title="$t('Cím')"></FormInput>
                            </div>
                            <div class="col-md-6">
                                <FormSelect :select2="true" v-model="model.post_delivery_id" :title="$t('Küldemény tartalma')"
                                            v-if="model && model.selectables && model.selectables && model.selectables.post_deliveries" :options="model.selectables.post_deliveries"></FormSelect>
                            </div>
                            <div class="col-md-6">
                                <FormSelect :select2="true" v-model="model.post_delivery_type_id" :title="$t('Postázás módja')"
                                            v-if="model && model.selectables && model.selectables.postdeliverytype"
                                            :options="model.selectables.postdeliverytype"></FormSelect>
                            </div>
                            <div class="col-md-6">
                                <FormTextArea v-model="model.comment" :title="$t('Megjegyzés')"></FormTextArea>
                            </div>
                            <div class="col-md-6">
                                <FormDatePicker v-model="model.contrackt_back_date"
                                                :title="$t('Szerődés visszaérkezés dátuma')"></FormDatePicker>
                            </div>
                            <div class="col-md-6">
                                <FormSelect v-model="model.transporter" :title="$t('Szállító')"
                                            v-if="model && model.selectables" :options="{1:'MADS',2:'MADS work',3:'Marklar',4:'MADS Gold'}"></FormSelect>
                            </div>
                            <div class="col-md-6">

                            </div>
                        </div>
                    </div>
                </div>    </div>
        </div>
        </div>
</template>

<script>
import FormInput from '../../../../../../resources/js/components/form/FormInput'
import FormDatePicker from '../../../../../../resources/js/components/form/FormDatePicker'
import FormSelect from '../../../../../../resources/js/components/form/FormSelect'
import FormTextArea from '../../../../../../resources/js/components/form/FormTextArea'
import FormAutocomplete from '../../../../../../resources/js/components/form/FormAutocomplete'

export default {
    name: 'PostalOutgoingsForm',
    props: {
        url: {
            required: true,
            type: String
        },
        model: {
            required: true,
            type: Object
        }
    },
    data () {
        return {}
    },
    computed: {
        languages: function () {
            const l = []
            for (const it in this.$store.state.defaultStore.languages) {
                l.push(it)
            }
            return l
        }
    },
    components: { FormInput, FormDatePicker, FormSelect, FormTextArea, FormAutocomplete },
    methods: {},
    created () {
    },
    mounted () {
    }
}
</script>
