<template>
    <div class="bottom_header dark_skin main_menu_uppercase border-top border-bottom">
        <div class="custom-container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 col-3">
                    <div class="categories_wrap">
                        <button type="button" data-toggle="collapse"  data-target="#navCatContent" aria-expanded="false" class="categories_btn collapsed">
                            <i class="linearicons-menu"></i><span>{{$t('MADS')}} </span>
                        </button>
                        <div id="navCatContent" class="nav_cat navbar collapse" >
                            <ul>
                                <li  v-for="cat in categories" v-bind:key="'categories-head'+cat.id" v-bind:class="{'dropdown dropdown-mega-menu':cat.children && cat.children.length}">
                                <router-link v-if="!cat.children || !cat.children.length" class="dropdown-item nav-link nav_item" :to="'/shop/'+cat.slug+'?category_id='+cat.id"> <span>{{cat.name}}</span></router-link>
                                    <router-link v-if="cat.children && cat.children.length" class="dropdown-item nav-link dropdown-toggler" :to="'/shop/'+cat.slug+'?category_id='+cat.id" data-toggle="dropdown">
                                         <span>{{cat.name}}</span></router-link>
                                    <div v-if="cat.children && cat.children.length" class="dropdown-menu" >
                                        <ul class="mega-menu d-lg-flex">
                                            <li class="mega-menu-col col-lg-7">
                                                <ul class="d-lg-flex">
                                                    <li class="mega-menu-col col-lg-6">
                                                        <ul>
                                                            <li v-for="child2 in cat.children" v-bind:key="'child2-'+cat.id+'-'+child2.id">
                                                                <router-link class="dropdown-item nav-link nav_item" :to="'/shop/'+child2.slug+'?category_id='+child2.id">{{child2.name}}</router-link></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="mega-menu-col col-lg-5">
                                                <div class="header-banner2">
                                                    <router-link :to="'/shop/'+cat.slug+'?category_id='+cat.id">
                                                        <ImageLazy :image="cat.image" :alt="cat.name"></ImageLazy>
                                                    </router-link>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <button type="button" data-toggle="collapse" data-target="#navCatContent"   aria-expanded="true" class="navbar-toggler menu_close side_navbar_toggler"><span class="ion-android-menu"></span></button>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-8 col-sm-6 col-9">
                    <nav class="navbar navbar-expand-lg">
                        <button class="navbar-toggler side_navbar_toggler" type="button" data-toggle="collapse" data-target="#navbarSidetoggle" aria-expanded="false">
                            <span class="ion-android-menu"></span>
                        </button>
                        <div class="collapse navbar-collapse mobile_side_menu" id="navbarSidetoggle">
                            <ul class="navbar-nav">
                                <li class="dropdown" v-for="item in menu.items" v-bind:key="'menu-1-'+item.id">
                                    <router-link class="nav-link nav_item" v-if="!item.children.length" :to="item.link"  >{{item.title[language]}}</router-link>
                                    <router-link v-if="item.children.length" data-toggle="dropdown" class="nav-link dropdown-toggle"  :to="item.link" >{{item.title[language]}}</router-link>
                                    <div class="dropdown-menu dropdown-reverse" v-if="item.children.length">
                                        <ul>
                                            <li v-for="(child) in item.children"   v-bind:key="'menu-1-sub+'+child.id">
                                                <router-link @click="menuopen=false" class="dropdown-item nav-link nav_item" :to="child.link">{{child.title[language]}}</router-link>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <button type="button" data-toggle="collapse" data-target="#navbarSidetoggle" aria-expanded="true" class="navbar-toggler menu_close side_navbar_toggler"><span class="ion-android-menu"></span></button>
                            </ul>

                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import ImageLazy from '../../components/ImageLazy'
export default {
    name: 'BottomHeader',
    components: { ImageLazy },
    props: ['url'],
    data () {
        return {
            menu: {
                items: {}
            },
            submenu: {
                items: {}
            },
            categories: {

            },
            search: null,
            getFound: null,
            found: [],
            menuopen: false,
            selectedMenu: null,
            show: {}
        }
    },
    computed: {
        origin: function () {
            return document.location.origin
        },
        language: function () {
            return localStorage.getItem('language')
        },
        routePath: function () {
            console.log(this.$route.name)
            return this.$route.path
        },
        currentRouteName () {
            console.log(this.$route.name)
            return this.$route.name
        }
    },
    mounted () {
        this.getMenuCategory()
        this.getMenu()
    },
    watch: {
        '$route.params': {
            handler: function (val, oldVal) {
                console.log('change')
                window.$('ul.navigation > li').removeClass('active')
            }
        }
    },
    methods: {
        getMenu () {
            const self = this

            this.axios.get(`${process.env.MIX_APP_URL}/storage/menus/menu-${process.env.MIX_APP_ENV}-1.json`).then(response => {
                self.menu = response.data
            })
        },
        getMenuCategory () {
            return new Promise((resolve) => {
                this.axios.get(this.url + '/menu-category').then(response => {
                    this.categories = response.data.data
                    resolve(true)
                })
            })
        },
        toggleMenu (slug) {
            if (this.selectedMenu === slug && this.menuopen) {
                this.menuopen = false
            } else {
                this.menuopen = true
            }
            this.selectedMenu = slug
        },
        getClass (item) {
            return (item.show) ? 'show' : ''
        },
        replaceLink (_link) {
            return _link.replace(document.location.origin, '')
        },
        searchProduct () {
            const self = this
            clearTimeout(self.getFound)
            if (self.search.length === 0) {
                self.found = []
            }
            if (self.search.length > 0) {
                this.getFound = setTimeout(function () {
                    self.axios.get(self.url + '/product/list?search=' + self.search).then((resp) => {
                        self.found = resp.data.data
                    })
                }, 400)
            }
        },
        getImage (product) {
            const image = '/frontend/img/no-image.png'
            Object.keys(product.variations).forEach((variation) => {
                this.image = product.variations[variation].image
            })
            return image
        }
    }
}
</script>
