<template>
    <section class="py-3 bg-light">
        <div class="container">
            <nav>
                <ol class="breadcrumb text-white">
                        <li class="breadcrumb-item" v-for="(route,index) in $route.matched" v-bind:key="index">
                            <router-link :to="{name: route.name}">{{ route.meta.title }}</router-link>
                        </li>
                </ol>
            </nav>
        </div>
    </section>
</template>

<script>
export default {
    name: 'BreadcrumbComponent',
    mounted () {
        console.log(this.$route.matched)
    }
}
</script>
