<template>
    <div class="container blog-container">
        <div class="new-block">
            <Breadgrump :links="[{name:'Hírek'}]"></Breadgrump>
            <div class="row">
                <LoadingSvg v-if="!list && !loaded"></LoadingSvg>
                <div class="col-md-8 blog-content-column">
                    <h1 class="h4 title mt-5 mb-5" v-if=" loaded && list.length == 0">Még nincs feltöltve tartalmom. Kérelk látogass vissza később!</h1>
                    <div class="blog-post" v-for="(postD,key) in list" v-bind:key="'post-'+postD.id+'-'+key">
                        <router-link :to="{name:'Post',params:{'slug':postD.slug}}" class="thumbnail-entry"><ImageLazy :image="postD.main_image" :alt="postD.title"></ImageLazy></router-link>
                        <div class="data">
                            <div class="date"><span>{{postD.publication_date.split(' ')[2]}}</span>{{postD.publication_date.split(' ')[3]}} <br> {{postD.publication_date.split(' ')[0]}} <br> {{postD.publication_date.split(' ')[1]}}  </div>
                            <div class="text">
                                <router-link class="title" :to="{name:'Post',params:{'slug':postD.slug}}">{{postD.title}}</router-link>
                                <div class="description">{{postD.lead}}</div>
                                <router-link :to="{name:'Post',params:{'slug':postD.slug}}" class="button size-2"><span>Tovább olvasom</span></router-link>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <InfinityScroll v-if="postData.meta && postData.meta.last_page > postData.meta.current_page" :infinityLoading="infinityLoading" :HTMLElement="'blogList'" v-on:loadMore="getData(currentPage++)"></InfinityScroll>
                </div>
                <div class="col-md-4 blog-content-column" >
                    <div class="widget-entry" v-if="postData.categories && postData.categories.length">
                        <h3 class="widget-title">Kategóriák</h3>
                        <div class="categories-wrapper">
                            <a href="#" v-for="(category,index) in postData.categories" v-bind:key="'category-'+index" @click.prevent="setCategory(category.slug)" class="entry"><span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span>{{category.name}}</a>
                        </div>
                    </div>
                    <div class="widget-entry"  v-if="latest && latest.length">
                        <h3 class="widget-title">Legfrissebb</h3>
                        <div class="popular-post-entry" v-for="last in latest" v-bind:key="'last-'+last.id">
                            <router-link :to="{name:'Post',params:{'slug':last.slug}}" class="popular-thumbnail">
                                <ImageLazy :image="last.main_image" :alt="last.title" class="mr-1"></ImageLazy></router-link>
                            <div class="content">
                                <div class="date">{{ last.publication_date }}</div>
                                <router-link :to="{name:'Post',params:{'slug':last.slug}}" class="title">{{last.title}}</router-link>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="widget-entry" v-if="postData.archives && postData.archives.length">
                        <h3 class="widget-title">Archive</h3>
                        <div class="categories-wrapper">
                            <a  v-for="(archive,index) in postData.archives" v-bind:key="'archive-'+index" href="#" @click.prevent="setArchive(index)" class="entry"><span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span>{{archive}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import ImageLazy from '../../components/ImageLazy'
import InfinityScroll from '../../../../Modules/WebshopFrontend/Resources/assets/js/components/InfinityScroll'
import LoadingSvg from '../../../../Modules/WebshopFrontend/Resources/assets/js/components/LoadingSvg'
import Breadgrump from '../../../../Modules/WebshopFrontend/Resources/assets/js/components/Breadgrump'
export default {
    props: ['url'],
    data () {
        return {
            postData: [],
            infinityLoading: false,
            latest: false,
            currentPage: 1,
            category: null,
            search: null,
            searchTimeout: null,
            archive: null,
            list: [],
            loaded: false
        }
    },
    computed: {
        postPrefix: function () {
            return this.$store.state.defaultStore.prefixes.blog
        }
    },
    watch: {
        '$route.query.page': function (val, oldVal) {
            this.getData()
        },
        '$route.query.category': function (val, oldVal) {
            this.setCategory(val)
        },
        '$route.query.archive': function (val, oldVal) {
            this.setArchive(val)
        }
    },
    components: {
        Breadgrump,
        LoadingSvg,
        InfinityScroll,
        ImageLazy
    },
    methods: {
        updatePage (_data) {
            this.$router.push({ name: 'Category', query: { page: _data } })
        },
        setArchive (archive) {
            this.archive = archive
            this.list = []
            this.currentPage = 1
            this.getData()
        },
        setCategory (slug) {
            this.category = slug
            this.list = []
            this.currentPage = 1
            this.getData()
        },
        searchPost () {
            clearTimeout(this.searchTimeout)
            this.searchTimeout = null
            this.currentPage = 1
            const self = this
            this.searchTimeout = setTimeout(() => {
                this.list = []
                self.getData()
            }, 400)
        },
        getData (page = null) {
            this.infinityLoading = true
            const self = this
            let slug = `${this.url}/${this.postPrefix}/get-list`

            if (this.$route.query.page) {
                this.currentPage = this.$route.query.page
            }
            if (!page) {
                slug += `?page=${this.currentPage}`
            } else {
                slug += `?page=${page}`
            }
            if (self.search) {
                slug += '&search=' + self.search
            }
            if (self.category) {
                slug += '&category=' + self.category
            }
            if (self.archive) {
                slug += '&archive=' + self.archive
            }
            if (this.$route.params.slug) {
                slug += `&slug=${this.$route.params.slug}`
            }

            this.axios.get(`${slug}`).then(response => {
                self.infinityLoading = false
                this.loaded = true
                self.postData = response.data
                self.latest = response.data.latest
                self.postData.data.forEach(item => {
                    this.list.push(item)
                })
            }).catch((err) => {
                console.log(err)
                self.$router.push({ name: 'NotFound' })
            })
        }
    },
    beforeMount () {
        this.infinityLoading = true
        this.getData()
    }

}
</script>
