<template>
    <div class="container blog-container" id="contact">
    <div class="new-block">
        <div class="row page-tagline">
            <div class="col-md-12">
                <h2 class="title">Kapcsolat</h2>
            </div>
        </div>
        <div class="row">
           <div class="col-md-8">
               <h3 class="h4 title">BUDAPESTI KÖZPONTI ÜGYFÉLSZOLGÁLAT:</h3>
               <h4 class="text-center"><a class="button size-2" href="ajanlat-keres?id=8">&Aacute;raj&aacute;nlat</a></h4>
               <div class="typography-article">
                   <ul>
                       <li>Címe: {{model.address}} </li>
                       <li>Telefon:  <a v-for="p in model.phone.split(',')" :href = "'tel:'+p" v-bind:key="'phone'+p">{{p}}</a></li>
                       <li>Fax: {{model.fax}}</li>
                       <li>E-mail: <a :href = "'mailto:'+model.email">{{model.email}}</a></li>
                   </ul>
               </div>
               <img src="/frontend/images/logo.png" alt="" >
           </div>
            <div class="col-md-4">
                <h3 class="h4 title">Nyitvatartás</h3>
                <div v-if="model.opening_alert && model.opening_alert.length" class="alert alert-danger w100">{{model.opening_alert}}</div>
                <table class="table table-bordered" width="171">
                    <tbody>
                    <tr>
                        <td>Hétfő:</td>
                        <td>{{model.opening[1]}}</td>
                    </tr>
                    <tr>
                        <td>Kedd:</td>
                        <td>{{model.opening[2]}}</td>
                    </tr>
                    <tr>
                        <td>Szerda:</td>
                        <td>{{model.opening[3]}}</td>
                    </tr>
                    <tr>
                        <td>Csütörtök:</td>
                        <td>{{model.opening[4]}}</td>
                    </tr>
                    <tr>
                        <td>Péntek:</td>
                        <td>{{model.opening[5]}}</td>
                    </tr>
                    <tr>
                        <td>Szombat:</td>
                        <td>{{model.opening[6]}}</td>
                    </tr>
                    <tr>
                        <td>Vasárnap:</td>
                        <td>{{model.opening[7]}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="map-responsive mt-3" v-html="model.map"></div>
            </div>
        </div>
        <div class="row page-tagline members">
            <div class="col-md-12">
                <h2 class="title">Munkatársaink</h2>
            </div>
            <div class="col-md-6">
                <h2 class="h4 title-left mt-3">{{positions[1]}}</h2>
                    <div class="row" v-for="(u,ind) in members" v-bind:key="'member-'+u.email">
                        <template v-if="u.position===1">
                        <div class="col-md-4" v-bind:class="{'order-md-12':ind%2 ==0}">
                            <img class="rounded-circle" :src="u.avatar" :alt="u.name">
                        </div>
                        <div class="col-md-8" v-bind:class="{'text-right': ind%2 == 0,'text-left': ind%2 == 1}">
                            <div class="name">{{u.name}}</div>
                            <div class="contact"><i class="fa fa-envelope"></i> E-mail: <a :href = "'mailto:'+u.email">{{u.email}}</a></div>
                            <div class="contact"><i class="fa fa-phone"></i>Telefon: <a  :href = "'tel:'+u.phone" >{{u.phone}}</a></div>
                        </div>
                        </template>
                    </div>
            </div>
            <div class="col-md-6">
                <div class="row" v-for="(p,index) in positions" v-bind:key="'position-'+index">
                    <template v-if="index !=1">
                        <h2 class="h4 title-left mt-3 col-md-12">{{p}}</h2>
                        <template  v-for="(u,ind) in members" >
                            <div class="col-md-4" v-bind:class="{'offset-md-12':ind%2 ==0}" v-if="u.position == index" v-bind:key="'member-c'+index+u.email">
                                <img class="rounded-circle" :src="u.avatar" :alt="u.name">
                            </div>
                            <div class="col-md-8" v-if="u.position == index" v-bind:key="'member-v'+index+u.email" v-bind:class="{'text-left': index%2 == 0,'text-right': index%2 == 1}">
                                <div class="name">{{u.name}}</div>
                                <div class="contact"><i class="fa fa-envelope"></i>E-mail: <a :href = "'mailto:'+u.email">{{u.email}}</a></div>
                                <div class="contact"><i class="fa fa-phone"></i>Telefon: <a  :href = "'tel:'+u.phone" >{{u.phone}}</a></div>
                            </div>
                        </template>
                    </template>
                </div>
            </div>
        </div>
    </div>
    </div>
</template>
<script>
import ImageLazy from '../../components/ImageLazy'
import FrontendInput from './form/FrontendInput'
import FronendTextArea from './form/FronendTextArea'
import InfinityScroll from '../../../../Modules/WebshopFrontend/Resources/assets/js/components/InfinityScroll'
import LoadingSvg from '../../../../Modules/WebshopFrontend/Resources/assets/js/components/LoadingSvg'

export default {
    name: 'Contact',
    data () {
        return {
            model: {},
            message: {},
            members: {},
            positions: {}
        }
    },
    computed: {
        lang: function () {
            return localStorage.getItem('language')
        },
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/`
        }
    },
    components: {
        LoadingSvg,
        InfinityScroll,
        ImageLazy,
        FrontendInput,
        FronendTextArea
    },
    methods: {
        sendMessage () {
            this.axios.post(this.url + 'message', this.message).then((resp) => {
                this.message = {}
            })
        }
    },
    beforeMount () {
        this.axios.get('/storage/contact.json?time=' + (new Date().getTime())).then((response) => {
            console.log(response)
            if (response.status === 200) {
                this.model = response.data
            }
        })
        this.axios.get('/api/v1/members').then((response) => {
            this.members = response.data.data
            this.positions = response.data.positions
        })
    }

}
</script>

<style>
.map-responsive{
    overflow:hidden;
    padding-bottom:25.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;

    height: 200px;
    width:100%;
    position:absolute;
}
</style>
