<template>
    <footer>
        <div class="mads">
            <div class="row p-3">
           <div class="col-md-4">
               <router-link to="/" id="logo"><img src="/frontend/images/logo.png" alt="MADS"></router-link>
           </div>
            <div class="col-md-8 description white ">
                <h4>MADS - MÁRTON ÁRON ISKOLASZÖVETKEZET [MADS]</h4>
                <p class="text-justify">
                MADS - MÁRTON ÁRON Iskolaszövetkezet (MADS) a Márton Áron Szakkollégium támogatásával 1999-ben alakult, diákokat foglalkoztató, szövetkezeti formában működő gazdasági szervezetként. A szervezet 2005-ben vérfrissítésen esett át, mely során alkalom nyílt a 21. század diákjainak és az információs társadalom üzleti szférájának igényeit egyaránt számba venni, majd összeegyeztetni, és az iskolaszövetkezet arculatát, profilját ezen szempontrendszerek alapján átalakítani.
                </p>
            </div>
                <div class="col-md-12 text-center mt-3 black">
                    <router-link class="button" to="/kapcsolat"><span>Lépj kapcsolatba velünk!</span></router-link>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-linck" v-if="menu">
                <template v-for="m in menu.items">
                    <router-link class="p-2" v-bind:key="'footer-menu-'+m.id" v-if="!m.link.includes('http')" :to="m.link" v-bind:class="{'scroll-to-link':m.link.toString().includes('#')}">{{m.title}}</router-link>
                    <a class="p-2" v-bind:key="'footer-menu-'+m.id" v-if="m.link.includes('http')" :href="m.link" target="_blank">{{m.title}}</a>
                </template>
            </div>
            <div class="footer-linck mt-3 " >
                <a href="https://hu.jooble.org/állás-diákmunka"><img id="img-responsive "  height="80" src="https://hu.jooble.org//css/images/jooble_cvp.svg" onerror=" this.src = '/css/images/logo.png';this.onerror = null; " alt="Jooble"> </a>
                <a href="https://www.bisnode.hu/szolgaltatasok/bisnode-tanusitvany/" height="80" target="_blank"><img src="https://tanusitvany.bisnode.hu/Rating/GetImage?cid=584796&amp;lang=hu&amp;typ=l&amp;bg=FFFFFF&amp;fg=000000" alt="Bisnode tanusitvany" style="border:1px solid #CCCCCC;border-radius: 11px;height: 80px" oncontextmenu="return false" title=" A Bisnode tanúsítvánnyal rendelkező cégekkel az üzletkötés kockázata alacsony. A minősítés 100 éves nemzetközi tapasztalattal rendelkező, több száz változót figyelembe vevő Bisnode minősítési rendszeren alapul. A tanúsítvány az aktuális állapotot jelzi, és naponta frissül.   "> </a>
                <a href="https://labijob.hu"><img id="img-responsive "  height="80" src="/frontend/images/labijob_logo.svg" alt="Labijob"></a>
            </div>
            <div class="copy">
                <span>© {{ new Date().getFullYear() }} Minden jog fenntartva. MADS</span>
            </div>
        </div>
        <div class="back-to-top"><i class="fa fa-chevron-up"></i></div>
    </footer>
</template>

<script>

export default {
    name: 'Footer',
    computed: {
        lang: function () {
            return localStorage.getItem('language')
        },
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/`
        }
    },
    data () {
        return {
            contact: {},
            menu: {
                items: {}
            }
        }
    },

    methods: {
        getMenu () {
            this.axios.get('/storage/menus/menu-local-2.json').then((resp) => {
                console.log(resp.data)
                this.menu = resp.data
            })
        }
    },

    beforeMount () {
        this.axios.get('/storage/content.json').then((response) => {
            if (response.status === 200) {
                this.content = response.data
            }
        })
        this.getMenu()
    }

}
</script>
