<template>
    <div>
        <div class="secondary-menu fixed-top">
            <ul>
                <li class="login-block" v-if="loggedIn"><router-link :to="'/profile'" ><i class="fa fa-user  mt-2 mr-1 "></i>Profilom</router-link></li>
                <li class="login-block" v-if="loggedIn"><router-link :to="'/logout'" ><i class="fa fa-sign-out-alt  mt-2 mr-1 "></i>Kilépés</router-link></li>
                <li v-if="!loggedIn" class="login-block">
                    <a class="auth-action " data-toggle="modal" title="Belépés" data-target="#loginModal"><i class="fa  mt-2 mr-1 fa-sign-in-alt "></i>{{$t('Belépés')}}</a>
                </li>
                <li v-if="!loggedIn" class="login-block">
                    <a class="auth-action" data-toggle="modal" title="Regisztráció"  data-target="#registrationModal"><i class="fa  mt-2 mr-1 fa fa-registered  " aria-hidden="true"></i>{{$t('Regisztráció')}}</a>
                </li>
            </ul>
        </div>
    <header class="act default-act " v-bind:class="{'bottom-fixed bottom-fixed-control-class': $route.path=='/' || $route.path=='' }">
        <router-link to="/" id="logo"><img src="/frontend/images/logo.png" class="act" alt=""></router-link>
        <div class="mob-icon">
            <span></span>
        </div>
        <nav>
            <ul v-if="menu && menu.items">
                <li  v-for="item in menu.items" v-bind:key="'menu-item-'+item.id" v-bind:class="{'submeny':item.children.length}">
                    <router-link v-if="!item.link.includes('http')" :to="item.link" class="submeny-top " v-bind:class="{'act':item.link==='/','scroll-to-link':item.link.toString().includes('#')}">{{item.title}}</router-link>
                    <a v-if="item.link.includes('http')" :href="item.link" target="_blank">{{item.title}}</a>
                    <ul v-if="item.children.length">
                        <li  v-for="subItem in item.children" v-bind:key="'sub-menu-'+subItem.id">
                            <router-link v-if="!subItem.link.includes('http')" :to="subItem.link" v-bind:class="{'scroll-to-link':subItem.link.toString().includes('#')}">{{subItem.title}}</router-link>
                            <a v-if="subItem.link.includes('http')" :href="subItem.link" target="_blank">{{subItem.title}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <nav class="search">
          <div class="has-float-label">
            <input  class="form-control" v-model="search.search" id="searchInput2" type="search" placeholder=" " >
            <label for="searchInput2">Keresés</label>
            <button id="searchButton" class="btn btn-sm "  @click.prevent="searchAction(1)"><i class="fa fa-search"></i> </button>
            <button id="detailsButton" class="btn btn-sm" @click="searchToogle=!searchToogle"><i class="fa fa-arrow-down"></i> </button>
          </div>
          <button id="searchButtonToogle" class="btn btn-sm " @click="searchToogle=!searchToogle"><i class="fa fa-search"></i> </button>
        </nav>
      <div class="search-details" v-bind:class="{'d-none':!searchToogle,'d-block':searchToogle}">
        <div class="search-details-container">
          <div class="row">
            <div class="col-12 alternative-search" >
              <FrontendInput :title="'Keresés'" v-model="search.search" ></FrontendInput>
            </div>
            <div class="col-md-6">
              <FrontendAutocomplete :title="'Kategória'" :url="'/api/v1/search-category'" v-model="search.category_id" :attributeKey="'id'" :attributeValue="'name'"></FrontendAutocomplete>
            </div>
            <div class="col-md-6">
              <FrontendAutocomplete :title="'Város'" :url="'/api/v1/search-city'" v-model="search.city_id" :attributeKey="'id'" :attributeValue="'name'"></FrontendAutocomplete>
            </div>
            <div class="col-md-6">
              <FrontendSelect :title="'Típus'" v-model="search.type" :options="{'Hosszú távú':'Hosszú távú','Alkalmi':'Alkalmi'}"></FrontendSelect>
            </div>
            <div class="col-md-6">
              <FrontendInput :title="'Minumum bruttó órabér'" v-model="search.gross" ></FrontendInput>
            </div>
            <div class="col-md-6"></div>
            <div class="col-md-6"><a  href="#" class="button black size-2" style="margin-right: 10px" @click.prevent="clearAction"><span>Törlés <i class="fa fa-trash"></i></span></a>
              <a  href="#" class="button size-2" @click.prevent="searchAction(0)"><span>Keresés <i class="fa fa-search"></i></span></a></div>
          </div>
        </div>
      </div>
        <LoginWeb></LoginWeb>
        <RegistrationWeb></RegistrationWeb>
        <ForgetPasswordWeb></ForgetPasswordWeb>
        <NewRealization></NewRealization>
    </header>

    </div>
</template>

<script>
import LoginWeb from '../../../../Modules/WebshopFrontend/Resources/assets/js/components/profile/LoginWeb'
import RegistrationWeb from '../../../../Modules/WebshopFrontend/Resources/assets/js/components/profile/RegistrationWeb'
import ForgetPasswordWeb from '../../../../Modules/WebshopFrontend/Resources/assets/js/components/profile/ForgetPasswordWeb'
import MiddleHeader from './MiddleHeader'
import FrontendSelect from './form/FrontendSelect'
import FrontendAutocomplete from './form/FrontendAutocomplete'
import FrontendInput from './form/FrontendInput'
import NewRealization from '../../../../Modules/WebshopFrontend/Resources/assets/js/components/profile/Profile/NewRealization.vue'
export default {
    name: 'Header',
    components: { NewRealization, MiddleHeader, ForgetPasswordWeb, LoginWeb, RegistrationWeb, FrontendSelect, FrontendInput, FrontendAutocomplete },
    data () {
        return {
            loggedIn: false,
            searchToogle: false,
            menu: [],
            search: {
                search: '',
                category_id: null,
                city_id: null,
                type: null,
                gross: null

            }
        }
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}`
        }
    },
    mounted () {
        this.loggedIn = this.$store.state.defaultStore.studentLoggedIn
        this.getMenu()
    },
    methods: {
        getMenu () {
            this.axios.get('/storage/menus/menu-local-1.json').then((resp) => {
                this.menu = resp.data
            })
        },
        searchAction (toogle = 0) {
            if (!toogle) {
                this.searchToogle = !this.searchToogle
            }
            if (this.$route.path !== '/munkak') {
                this.$router.push({ path: '/munkak', query: this.search })
            } else {
                this.$router.push({ path: '/munkak', query: this.search })
                this.$eventHub.$emit('filterWork')
            }
        },
        clearAction () {
            this.search = {}
        }
    },
    watch: {
        '$store.state.defaultStore.studentLoggedIn': {
            handler: function (val, oldVal) {
                console.log(val)
                if (val !== oldVal) {
                    this.loggedIn = val
                }
            },
            deep: true
        }
    }
}
</script>
<style>
.search input {
  border-radius: 0;
  border: none !important;
  border-bottom: 1px solid silver !important;
}
#searchButtonToogle{
  display: none;
}
.alternative-search{
  display: none;
}
@media screen and (max-width: 1600px) {
  .search{
    width: 100% !important;
    margin: auto;
    text-align: center;
    border-top: solid 1px #2b2b2b;
    padding-bottom: 10px;
  }
  .search-details{
    top:145px !important;
  }
  .blog-container {
    padding-top: 135px;
  }
}
@media screen and (max-width: 1199px) {
  .search {
    width: 100% !important;
    margin: auto;
    text-align: center;
    border-top: solid 1px #2b2b2b;
    padding-bottom: 10px;
    position: relative;
    display: block;
    top: -40px;
    left: 0px;
    background: transparent;
  }
  .blog-container {
    padding-top: 75px;
  }
  .search-details{
    top:65px!important;
  }
  #searchButtonToogle{
    display:none;
  }
  .alternative-search{
    display: none;
  }
}
@media screen and (max-width: 750px) {
  .search {
    width: 100px!important;
    margin: auto;
    text-align: center;
    border-top: solid 1px #2b2b2b;
    padding-bottom: -2px;
    right: 0;
    top: -5px;
    float: right;
  }
  .search .has-float-label{
    display: none !important;
  }
  #searchButtonToogle{
    display:block !important;
    float: right;
    margin-right: 0;
    color: #f3ad0b;
    background: white;
    font-size: 23px;
  }
  .alternative-search{
    display: block;
  }
}
.search{
  margin-top:4px;
  width: 400px;
}
.search button{
  width: 50px;
  border-radius: 0px !important;
  height: 40px;
  margin-top: 13px;

  background: #f3ad0b;
  margin-right: 5px;
}
.search button:focus{
  box-shadow: none !important;
}
.search .has-float-label{
  display: inline-flex;
  width:100%;
  max-width:400px;
}
.search-details{
  position: absolute;
  margin: auto;
  background: #f3f3f3;
  z-index: 1000;
  padding: 10px;
  top: 75px;
  width: 100%;
}
.search-details input.form-control {
  height: 36px;
  background: white;
}
.search-details .form-group {
  margin-bottom: 0.5rem;
}
.search-details-container{
  padding: 10px;
  width: 600px;
  margin: auto;
  max-width: 100%;
}
.search-details .button{
  line-height: 5px;
}
</style>
