<template>
    <div class="application-container">
        <div id="loader-wrapper" >
            <img src="/frontend/images/loading.png" alt="">
            <span></span>
        </div>
        <Header></Header>
        <div id="content-wrapper">
            <div class="blocks-container">
                <transition name="fade" mode="out-in">
                    <router-view :url="url"></router-view>
                </transition>
                <Footer :url="url"></Footer>
            </div>
        </div>

    </div>
</template>

<script>

import Header from './Header'
import Footer from './Footer'
import BreadcrumbComponent from './BreadcrumbComponent'

export default {
    name: 'Layout',
    components: { BreadcrumbComponent, Header, Footer },
    props: ['url'],
    mounted () {
        window.$(document).on('show.bs.modal', '.modal', function () {
            window.$(this).appendTo('body > div.application-container')
        })
    }
}
</script>
