<template>
    <div class="middle-header light_skin bg_dark">
        <div class="custom-container">
            <div class="nav_block">
                <router-link class="navbar-brand" to="/">
                    <img class="logo_light" style="max-height:80px" src="/frontend/images/logo.png" alt="logo">
                </router-link>
                <div class="product_search_form ">
                        <div class="input-group">
                            <input v-model="search" class="form-control" :placeholder="$t('Search...')" type="search">
                        </div>
                        <ul class="autocomplete-result" >
                            <li v-if="search && search.length >=2
                            && (searchResult.products && !searchResult.products.length)
                            && (searchResult.events && !searchResult.events.length)
                            && (searchResult.pages && !searchResult.pages.length)
                            && (searchResult.documents && !searchResult.documents.length)
                            && (searchResult.blog && !searchResult.blog.length)
                            ">
                                <h5 class="text-center p-3">{{$t('No result!')}}</h5>
                            </li>
                            <li v-if="searchResult.products && searchResult.products.length">
                                <ul>
                                    <div class="autocomplete-title">{{$t('Product')}}</div>
                                    <li v-on:click="searchResult=[]" class="container p-2" v-for="prod in searchResult.products" v-bind:key="'search-prod-'+prod.slug">
                                        <router-link :to="{name:'ProductDetails',params:{slug:prod.slug}}">
                                            <div class="row">
                                                <div class="col-2">
                                                    <ImageLazy style="height:50px" :image="prod.variations[0].main_image"></ImageLazy>
                                                </div>
                                                <div class="col-6">
                                                    <span >{{prod.name}}</span>
                                                </div>
                                                <div class="col-4">
                                                    <span > <Price :value="''+ (prod.variations[0].price_default>prod.variations[0].price)?prod.variations[0].price:prod.variations[0].price_default"></Price></span>
                                                </div>
                                            </div>
                                        </router-link>
                                    </li>
                                </ul>
                            </li>
                            <li v-if="searchResult.events && searchResult.events.length">
                                <ul>
                                    <div class="autocomplete-title">{{$t('Event')}}</div>
                                    <li v-on:click="searchResult=[]" class="container p-2" v-for="event in searchResult.events" v-bind:key="'search-event-'+event.id">
                                        <router-link :to ="{name:'EventPage',params:{id:event.id}}">
                                            <div class="row">
                                            <div class="col-4">
                                                <ImageLazy style="height:50px" :image="event.image"></ImageLazy>
                                            </div>
                                            <div class="col-8">
                                                <span >{{event.title}}</span><br>
                                                <span ><i class="ti-calendar mr-2"></i>{{event.date}} <i class="fa fa-map-marker mr-2"></i> {{event.location}} </span>
                                            </div>
                                            </div>
                                        </router-link>
                                    </li>
                                </ul>
                            </li>
                            <li v-if="searchResult.documents && searchResult.documents.length">
                                <ul>
                                    <div class="autocomplete-title">{{$t('Downloadable contents')}}</div>
                                    <li v-on:click="searchResult=[]" class="p-2 container" v-for="doc in searchResult.documents" v-bind:key="'search-document-'+doc.id">
                                        <a target="_blank" :href="doc.file">
                                            {{doc.category}} - {{doc.name}} <i class="fa fa-download"></i>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li  v-if="searchResult.pages && searchResult.pages.length">
                                <ul>
                                    <div class="autocomplete-title">{{$t('Content')}}</div>
                                    <li v-on:click="searchResult=[]" class="p-2 container" v-for="page in searchResult.pages" v-bind:key="'search-page-'+page.id">
                                        <router-link :to="'/'+page.slug">
                                        {{page.name}}
                                        </router-link>
                                    </li>

                                </ul>
                            </li>
                            <li  v-if="searchResult.blog && searchResult.blog.length">
                                <ul>
                                    <div class="autocomplete-title">{{$t('Blog')}}</div>
                                    <li v-on:click="searchResult=[]" class="p-2 container" v-for="blog in searchResult.blog" v-bind:key="'search-blog-'+blog.id">
                                        <router-link :to="'/blog/'+blog.slug">
                                            <div class="row">
                                            <div class="col-4">
                                                <ImageLazy style="height:50px" :image="blog.main_image"></ImageLazy>
                                            </div>
                                            <div class="col-8">
                                                {{blog.title}}
                                            </div>
                                            </div>
                                        </router-link>
                                    </li>

                                </ul>
                            </li>
                        </ul>
                </div>
                <ul class="navbar-nav attr-nav align-items-center">
                    <li> <Languages></Languages></li>
                    <li v-if="loggedIn"><router-link :to="'/profile'" class="nav-link"><i class="linearicons-user"></i></router-link></li>
                    <li v-if="loggedIn"><router-link :to="'/logout'" class="nav-link"><i class="linearicons-exit"></i></router-link></li>
                    <li v-if="!loggedIn">
                        <a data-toggle="modal" data-target="#loginModal" class=" nav-link align-self-center"><span class="login-text mr-2 pb-2">{{$t('Login')}}</span> <i class="linearicons-arrow-right-circle"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <LoginWeb></LoginWeb>
        <RegistrationWeb></RegistrationWeb>
        <ForgetPasswordWeb></ForgetPasswordWeb>
    </div>
</template>

<script>
import LoginWeb from '../../../../Modules/WebshopFrontend/Resources/assets/js/components/profile/LoginWeb'
import RegistrationWeb from '../../../../Modules/WebshopFrontend/Resources/assets/js/components/profile/RegistrationWeb'
import ForgetPasswordWeb from '../../../../Modules/WebshopFrontend/Resources/assets/js/components/profile/ForgetPasswordWeb'
import Languages from './Languages'
import ImageLazy from '../../components/ImageLazy'
import Price from '../../components/Price'
export default {
    name: 'MiddleHeader',
    components: { Languages, ForgetPasswordWeb, LoginWeb, RegistrationWeb, ImageLazy, Price },
    data () {
        return {
            loggedIn: false,
            search: null,
            searchResult: [],
            searchInterval: null
        }
    },
    watch: {
        '$store.state.defaultStore.studentLoggedIn': {
            handler: function (val, oldVal) {
                if (val !== oldVal) {
                    this.loggedIn = val
                }
            },
            deep: true
        },
        search: {
            handler: function (val, oldVal) {
                if (val.length < 2) {
                    this.searchResult = []
                }
                if (val.length !== oldVal.length) {
                    this.searchMethod()
                }
            }
        }
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}`
        }
    },
    methods: {
        searchMethod () {
            if (this.search && this.search.length > 2) {
                clearTimeout(this.searchInterval)
                this.searchInterval = null
                const self = this
                this.searchInterval = setTimeout(function () {
                    self.axios.get(self.url + '/search?search=' + self.search).then((response) => {
                        self.searchResult = response.data
                    })
                }, 400)
            } else {
                this.searchResult = []
            }
        }
    },
    created () {
        const self = this
        this.$eventHub.$on('studentLoggedIn', function (data) {
            self.$store.commit('defaultStore/setStudentLoggedIn', true)
            self.$store.commit('defaultStore/setStudent', data)
        })
    }

}
</script>
<style scoped>

</style>
