<template>
    <div class="container blog-container">
        <div class="new-block">
    <section class="page_404">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 ">
                    <div class="col-sm-10 offset-sm-1  text-center">
                        <div class="four_zero_four_bg">
                            <h1 class="text-center ">404</h1>

                        </div>

                        <div class="contant_box_404">
                            <h3 class="h2">
                                Úgy néz ki, mintha elvesztél volna
                            </h3>

                            <p>a keresett oldal nem elérhető!</p>

                            <a href="/" class="button link_404">Címlap</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
        </div>
    </div>
</template>

<script>
import Footer from './Footer'
export default {
    name: 'NotFound',
    components: { Footer },
    mounted () {
        // eslint-disable-next-line no-undef
    }
}
</script>
<style>
.page_404{ padding:40px 0;
}
.page_404 h1, .page_404 p{
    color:black;
}
.page_404  img{ width:100%;}

.four_zero_four_bg{

    background-image: url("/frontend/images/dribbble_1.gif");
    height: 400px;
    background-position: center;
}

.four_zero_four_bg h1{
    font-size:80px;
}

.contant_box_404.h2{
    font-size:60px !important;
}

.link_404{
    color: #fff!important;
    padding: 10px 20px;
    margin: 20px 0;
    display: inline-block;}
.contant_box_404{ margin-top:-50px;}
</style>
