<template>
    <div>
        <LoadingSvg v-if = "!postData.data"></LoadingSvg>
        <div class = "container blog-container">
            <div class = "new-block" v-if = "postData.data && postData.data[0]">
                <Breadgrump :links="[{name:'Hírek',link:'/blog'},{name: postData.data[0].title}]"></Breadgrump>
                <div class = "row">
                    <div class = "col-md-12 blog-content-column">

                        <div class = "blog-post detail-post" >

                            <div class = "data">
                                <div class = "text">

                                    <div class = "blog-post-hat-center-align">

                                        <h1 class = "title">{{ postData.data[0].title }}</h1>
                                        <div class = "author-center-align">
                                            <div class = "author-entry">
                                                <ImageLazy :image = "postData.data[0].main_image"
                                                           :alt = "postData.data[0].title"
                                                ></ImageLazy>
                                                <div class = "author-text">
                                                    <span class = "block"><span aria-hidden = "true"
                                                                                class = "glyphicon glyphicon-calendar"
                                                    ></span> {{ postData.data[0].publication_date }}</span>
                                                </div>
                                                <div class = "clear"></div>
                                            </div>
                                            <div class = "clear"></div>
                                        </div>
                                        <div class = "blog-article-description"></div>
                                    </div>

                                    <div class = "blog-detail-article" v-html = "postData.data[0].content">
                                        <div class = "clear"></div>
                                    </div>
                                </div>

                                <div class = "related-posts">
                                    <h2 class = "h2 titel-left">Kapcsolódó cikkek</h2>
                                    <div class = "row">
                                        <div class = "col-md-12">
                                            <div class = "row blog-entry nopadding" v-if = "postData.prev">
                                                <div class = "col-sm-6 nopadding ">
                                                    <router-link
                                                        :to = "{name:'Post',params:{'slug':postData.prev.slug}}"
                                                        class = "blog-entry-image"
                                                    >
                                                        <ImageLazy :image = "postData.prev.main_image"
                                                                   :alt = "postData.prev.title"
                                                        ></ImageLazy>
                                                    </router-link>
                                                </div>
                                                <div class = "col-sm-6 nopadding ">
                                                    <div class = "cell-view">
                                                        <router-link
                                                            :to = "{name:'Post',params:{'slug':postData.prev.slug}}"
                                                            class = "title"
                                                        >{{ postData.prev.title }}
                                                        </router-link>
                                                        <div class = "description">{{ postData.prev.lead }}</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class = "row blog-entry nopadding" v-if = "postData.next">
                                                <div class = "col-sm-6 nopadding  order-sm-12">
                                                    <router-link
                                                        :to = "{name:'Post',params:{'slug':postData.next.slug}}"
                                                        class = "blog-entry-image"
                                                    >
                                                        <ImageLazy :image = "postData.next.main_image"
                                                                   :alt = "postData.next.title"
                                                        ></ImageLazy>
                                                    </router-link>
                                                </div>
                                                <div class = "col-sm-6 nopadding  col-sm-pull-6">
                                                    <div class = "cell-view">
                                                        <router-link
                                                            :to = "{name:'Post',params:{'slug':postData.next.slug}}"
                                                            class = "title"
                                                        >{{ postData.next.title }}
                                                        </router-link>
                                                        <div class = "description">{{ postData.next.lead }}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class = "clear"></div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
import ImageLazy from '../../components/ImageLazy'
import LoadingSvg from '../../../../Modules/WebshopFrontend/Resources/assets/js/components/LoadingSvg'
import Breadgrump from '../../../../Modules/WebshopFrontend/Resources/assets/js/components/Breadgrump'

export default {
    props: ['url'],
    components: { Breadgrump, LoadingSvg, ImageLazy },
    data () {
        return {
            postData: {}
        }
    },
    computed: {
        postPrefix: function () {
            return this.$store.state.defaultStore.prefixes.blog
        }
    },
    watch: {
        $route: {
            handler: function (val, oldVal) {
                this.getPost()
            },
            deep: true
        }
    },
    beforeMount () {
        this.getPost()
    },
    methods: {
        getPost () {
            const self = this
            this.axios.get(`${this.url}/${this.postPrefix}/get/${this.$route.params.slug}`).then(response => {
                self.postData = response.data
                self.setMetaTags(self.postData)
            }).catch((err) => {
                console.log(err)
                self.$router.push({ name: 'NotFound' })
            })
        }
    }
}
</script>
