<template>
  <div>
    <div class="modal fade" id="AmrestSearchModal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg  modal-dialog-centered" role="document" >
        <div class="modal-content ">
          <div class="modal-header bg-success">
            <h5 class="modal-title">Amrest diákok keresése</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <i aria-hidden="true" class="ki ki-close"></i>
            </button>
          </div>
          <div class="modal-body p-4">
            <div class="row">
              <div class="col-12">
                <FormInput v-model="search" v-on:keyupEvent="searchAmrestStudent" :placeholder="'Keresés'"></FormInput>

              </div>
              <div class="col-12">
                <table class="table table-bordered" v-if="data">
                  <tr>
                    <th>Azonosító</th>
                    <th style="white-space: nowrap">Név</th>
                    <th style="white-space: nowrap">Adószám</th>
                    <th style="white-space: nowrap">Művelet</th>
                  </tr>
                  <tr v-for="item in data" v-bind:key="'students-'+item.student_id" >
                    <td>{{item.student_number}}</td>
                    <td>{{item.student_name}}</td>
                    <td>{{item.tax_number}}</td>
                    <td><button class="btn btn-xs btn-primary" @click="add(item)"><i class="fa fa-plus"></i> </button></td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="modal-footer ">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Bezár</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Price from '../../../../../../resources/js/components/Price'
import FormInput from '../../../../../../resources/js/components/form/FormInput'
export default {
    name: 'AmrestSearchModal',
    props: ['costcenter', 'month', 'url'],
    components: { Price, FormInput },
    data () {
        return {
            search: '',
            data: null,
            searchEvent: null
        }
    },
    methods: {
        searchAmrestStudent () {
            console.log(this.search)
            const self = this
            clearTimeout(this.searchEvent)
            this.searchEvent = setTimeout(function () {
                this.axios.get(self.url + '/fixing-amrest/student-search/' + self.month + '/' + self.costcenter + '?search=' + self.search).then(resp => {
                    self.data = resp.data.data
                })
            }, 400)
        },
        add (item) {
            this.$emit('selectStudent', item)
            window.$('#AmrestSearchModal').modal('hide')
        }
    }
}
</script>

<style scoped>

</style>
