<template>
  <div>
    <div class="modal fade" id="costCenterModal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg  modal-dialog-centered" role="document" >
        <div class="modal-content ">
          <div class="modal-header bg-danger">
            <h5 class="modal-title">Cost centerek</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <i aria-hidden="true" class="ki ki-close"></i>
            </button>
          </div>
          <div class="modal-body p-4">
            <div class="row">
              <div class="col-12">
                <table class="table table-bordered" v-if="costList">
                  <tr>
                    <th>Cost Center</th>
                    <th style="white-space: nowrap">Van már rögzítve</th>
                  </tr>
                  <tr v-for="item in costList" v-bind:key="'cost-center-'+item.cost_center" v-bind:class="{'bg-success':item.fixing>0}">
                    <td>{{item.cost_center}}</td>
                    <td>{{item.fixing>0?'IGEN':'NEM'}}</td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="modal-footer ">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Bezár</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Price from '../../../../../../resources/js/components/Price'
export default {
    name: 'CostCenterModal',
    props: ['costList'],
    components: { Price },
    data () {
        return {
            data: null
        }
    }
}
</script>

<style scoped>

</style>
