<template>
    <FixingForm v-if="Object.keys(model).length > 0" :url="url" :model="model"></FixingForm>
</template>

<script>
import FixingForm from './FixingForm'
import Fixing from './Fixing'

export default {
    name: 'FixingCreate',
    extends: Fixing,
    data () {
        return {
            model: {}
        }
    },
    components: { FixingForm },
    beforeMount: function () {
        this.handleCreate('fixing', this.url, {})

        this.getFixing()
    }
}
</script>
