<template>
  <div style = "margin-top: -50px">
    <div class = "alert alert-custom alert-white alert-shadow kt-portlet" role = "alert">
      <h3 class = "text-info">{{ $t('Rögzítés jóváhagyása és visszavonása') }}</h3>
    </div>
    <div class = "kt-portlet">
      <LoadingSvgLayer v-if="loading" ></LoadingSvgLayer>
      <div class = "kt-portlet__body">
        <div class = "kt-form kt-form--label-right">
          <div class = "kt-form__body">
            <div class="row">
              <div class="col-md-3"><FormMonthPicker title="Hónap" v-model="month"></FormMonthPicker></div>
              <div class="col-md-3"><FormSelect title="Állapot" v-model="status" :options="{'':'Összes',1:'jóváhagya',0:'Nincs jóváhagyva'}"></FormSelect></div>
              <div class="col-md-3"><FormInput title="Cég, diák , tevékenység" v-model="search"></FormInput></div>
            </div>
            <div role="alert" class="alert alert-custom alert-white alert-shadow kt-portlet bg-secondary"><h3 class="text-danger">Nincs jóváhagyva</h3></div>
            <div class = "row" v-for="(company,index) in list" v-bind:key="'company-'+index">
              <div class="col-md-12" v-if="company.status_computed<0">
                <div class="card mb-3">
                  <div class="card-header bg-dark text-white">
                    <div class="row">
                      <div class="col-md-5">
                        <h5>{{company.company_name}}</h5>
                      </div>
                      <div class="col-md-7">
                        <table class="table mini table-striped table-bordered text-white">
                          <tr>
                            <td class="text-center"> {{formatHour(company.sum_hour)}} óra</td>
                            <td class="text-center">Diák bér: <Price :value="company.sum_student"></Price></td>
                            <td class="text-center">Cég bér: <Price :value="company.sum_company"></Price></td>
                            <td>
                              <button class="btn btn-success btn-sm" v-if="company.status_computed < 0" @click.prevent="approve(company.company_id)">Jóváhagy</button>
                              <button class="btn btn-danger btn-sm" v-else @click.prevent="decline(company.company_id)">Visszaállít</button>
                              <button class="btn btn-warning btn-sm"  @click.prevent="recalculate(company.company_id,0)" title="A rögzített diákbérek felülírásra kerülnek a tevékenységnél beállított értékkel">Teljes újraszámolás</button>
                              <button class="btn btn-warning btn-sm"  @click.prevent="recalculate(company.company_id,1)" title="A diákbérek nem íródnak felül">Részleges újraszámolás</button>
                            </td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="card-body" v-for="(industry, id) in company.industries" v-bind:key="'industry-'+index+'-'+id">
                    <div class="card-header bg-info text-white">
                      <div class="row">
                        <div class="col-md-5">
                          <h5>{{industry.industry_name}}</h5>
                        </div>
                        <div class="col-md-7">
                          <table class="table table-striped mini table-bordered text-white">
                            <tr>
                              <td class="text-center"> {{formatHour(industry.sum_hour)}} óra</td>
                              <td class="text-center">Diák bér: <Price :value="industry.sum_student"></Price></td>
                              <td class="text-center">Cég bér: <Price :value="industry.sum_company"></Price></td>
                              <td> <button class="btn btn-success btn-sm" v-if="industry.status_computed < 0" @click.prevent="approve(company.company_id,industry.industry_id)">Jóváhagy</button>
                              <button class="btn btn-danger btn-sm" v-else @click.prevent="decline(company.company_id,industry.industry_id)">Visszaállít</button></td>
                            </tr>
                          </table>
                        </div>
                      </div>
                    </div>
                    <div class="card-body" >
                      <table class="table-hover mini table">
                        <thead>
                          <tr>
                            <th>Diák</th>
                            <th>Össz óra</th>
                            <th>Bónusz óra</th>
                            <th>Bér</th>
                          </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(student, sid) in industry.students" v-bind:key="'students-'+index+'-'+id+'-'+sid">
                          <td><router-link :to="'/admin/student/edit/'+student.student_id">{{student.student_name}}</router-link></td>
                          <td>{{formatHour(student.sum_hour)}} </td>
                          <td>{{formatHour(student.sum_bonus_hour)}}</td>
                          <td><Price :value="student.sum_student"></Price></td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div role="alert" class="alert alert-custom alert-white alert-shadow kt-portlet bg-secondary"><h3 class="text-success">Jóváhagyva</h3></div>
            <div class = "row" v-for="(company,index) in list" v-bind:key="'company2-'+index">
              <div class="col-md-12" v-if="!(company.status_computed<0)">
                <div class="card mb-3">
                  <div class="card-header bg-dark text-white">
                    <div class="row">
                      <div class="col-md-5">
                        <h5>{{company.company_name}}</h5>
                      </div>
                      <div class="col-md-7">
                        <table class="table mini table-striped table-bordered text-white">
                          <tr>
                            <td class="text-center"> {{formatHour(company.sum_hour)}} óra</td>
                            <td class="text-center">Diák bér: <Price :value="company.sum_student"></Price></td>
                            <td class="text-center">Cég bér: <Price :value="company.sum_company"></Price></td>
                            <td>
                              <button class="btn btn-success btn-sm" v-if="company.status_computed < 0" @click.prevent="approve(company.company_id)">Jóváhagy</button>
                              <button class="btn btn-danger btn-sm" v-else @click.prevent="decline(company.company_id)">Visszaállít</button>
                              <button class="btn btn-warning btn-sm"  @click.prevent="recalculate(company.company_id,0)" title="A rögzített diákbérek felülírásra kerülnek a tevékenységnél beállított értékkel">Teljes újraszámolás</button>
                              <button class="btn btn-warning btn-sm"  @click.prevent="recalculate(company.company_id,1)" title="A diákbérek nem íródnak felül">Részleges újraszámolás</button>
                            </td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="card-body" v-for="(industry, id) in company.industries" v-bind:key="'industry-'+index+'-'+id">
                    <div class="card-header bg-info text-white">
                      <div class="row">
                        <div class="col-md-5">
                          <h5>{{industry.industry_name}}</h5>
                        </div>
                        <div class="col-md-7">
                          <table class="table table-striped mini table-bordered text-white">
                            <tr>
                              <td class="text-center"> {{formatHour(industry.sum_hour)}} óra</td>
                              <td class="text-center">Diák bér: <Price :value="industry.sum_student"></Price></td>
                              <td class="text-center">Cég bér: <Price :value="industry.sum_company"></Price></td>
                              <td> <button class="btn btn-success btn-sm" v-if="industry.status_computed < 0" @click.prevent="approve(company.company_id,industry.industry_id)">Jóváhagy</button>
                                <button class="btn btn-danger btn-sm" v-else @click.prevent="decline(company.company_id,industry.industry_id)">Visszaállít</button></td>
                            </tr>
                          </table>
                        </div>
                      </div>
                    </div>
                    <div class="card-body" >
                      <table class="table-hover mini table">
                        <thead>
                        <tr>
                          <th>Diák</th>
                          <th>Össz óra</th>
                          <th>Bónusz óra</th>
                          <th>Bér</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(student, sid) in industry.students" v-bind:key="'students-'+index+'-'+id+'-'+sid">
                          <td><router-link :to="'/admin/student/edit/'+student.student_id">{{student.student_name}}</router-link></td>
                          <td>{{formatHour(student.sum_hour)}} </td>
                          <td>{{formatHour(student.sum_bonus_hour)}}</td>
                          <td><Price :value="student.sum_student"></Price></td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
import BaseDatatable from '../../../../../../resources/js/components/BaseDatatable'
import FormMonthPicker from '../../../../../../resources/js/components/form/FormMonthPicker'
import Price from '../../../../../../resources/js/components/Price'
import FormInput from '../../../../../../resources/js/components/form/FormInput'
import FormSelect from '../../../../../../resources/js/components/form/FormSelect'
import LoadingSvgLayer from '../../../../../../resources/js/components/LoadingSvgLayer'

export default {
    name: 'FixingControl',

    components: { BaseDatatable, FormMonthPicker, Price, FormInput, FormSelect, LoadingSvgLayer },
    data () {
        return {
            month: null,
            search: '',
            status: '',
            loading: false,
            timeoutSearch: null,
            list: []
        }
    },
    watch: {
        month: {
            handler: function (val, oldVal) {
                if (val !== oldVal) {
                    this.getFixingControl()
                }
            }
        },
        status: {
            handler: function (val, oldVal) {
                if (val !== oldVal) {
                    this.getFixingControl()
                }
            }
        },
        search: {
            handler: function (val, oldVal) {
                if (val !== oldVal) {
                    const self = this
                    clearTimeout(self.timeoutSearch)
                    self.timeoutSearch = null
                    self.timeoutSearch = setTimeout(function () {
                        self.getFixingControl()
                    }, 500)
                }
            }
        }
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/fixing-control`
        }
    },
    mounted () {
        this.month = new Date()
        this.month.setMonth(this.month.getMonth() - 1)
        this.month = this.month.getFullYear() + '-' + ((this.month.getMonth() + 1 > 9) ? this.month.getMonth() + 1 : '0' + (this.month.getMonth() + 1))
        this.getFixingControl()
    },
    methods: {
        getFixingControl () {
            this.axios.get(this.url + '/' + this.month + '?status=' + this.status + '&search=' + this.search).then(resp => {
                this.list = resp.data
            })
        },
        formatHour (hour) {
            return parseInt(hour * 100) / 100
        },
        approve (company, industry = null) {
            this.axios.post(this.url + '/approve/' + this.month + '/' + company + (industry ? '/' + industry : '') + '?status=' + this.status + '&search=' + this.search).then(resp => {
                this.list = resp.data
            })
        },
        decline (company, industry = null) {
            this.axios.post(this.url + '/decline/' + this.month + '/' + company + (industry ? '/' + industry : '') + '?status=' + this.status + '&search=' + this.search).then(resp => {
                this.list = resp.data
            })
        },
        recalculate (company, type = 0) {
            this.loading = true
            this.axios.post(this.url + '/recalculate/' + this.month + '/' + company + (type ? '/' + type : '') + '?status=' + this.status + '&search=' + this.search).then(resp => {
                this.list = resp.data
                this.loading = false
            }).catch(() => {
                this.loading = false
            })
        }
    }
}
</script>
