<template>
    <div>
      <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-3"><FormMonthPicker title="Hónap" v-model="month"></FormMonthPicker></div>
        <div class="col-md-3"><router-link class="btn btn-dark" :to="'/admin/fixing/edit/'+month">Rögzítés</router-link></div>
      </div>
      <div class="table-responsive">
        <BaseDatatable v-if="loaded" :multiple-actions="multipleAction" :module="`fixing`" :apiurl="url" :list-url="`${url}/index?month${month}`" :fields="fields"></BaseDatatable>
      </div>
    </div>
</template>

<script>
import BaseDatatable from '../../../../../../resources/js/components/BaseDatatable'
import FormMonthPicker from '../../../../../../resources/js/components/form/FormMonthPicker'
export default {
    name: 'FixingList',
    props: ['url'],
    components: { BaseDatatable, FormMonthPicker },
    data () {
        return {
            month: null,
            loaded: false,
            multipleAction: {
            },
            apiurl: this.url,
            fields: [
                {
                    name: 'company_name',
                    title: this.$translate.t('Cég')
                },
                {
                    name: 'industry_name',
                    title: this.$translate.t('Tevékenység')
                },
                {
                    name: 'month',
                    sortField: 'month',
                    title: this.$translate.t('Hónap')
                },
                {
                    name: 'students',
                    title: this.$translate.t('Rögzített dolgozók')
                },
                {
                    name: 'hours',
                    title: this.$translate.t('Rögzített óraszám')
                },
                {
                    name: 'price',
                    title: this.$translate.t('Fix')
                },
                {
                    name: 'status',
                    title: this.$translate.t('Állapot')
                },
                {
                    name: 'invoice_status',
                    title: this.$translate.t('Számlázva')
                }
            ]
        }
    },
    mounted () {
        this.month = new Date()
        this.month.setMonth(this.month.getMonth() - 1)
        this.month = this.month.getFullYear() + '-' + ((this.month.getMonth() + 1 > 9) ? this.month.getMonth() + 1 : '0' + (this.month.getMonth() + 1))
        this.loaded = true
    }
}
</script>
