<template>
  <div style = "margin-top: -50px">
    <div class = "alert alert-custom alert-white alert-shadow kt-portlet" role = "alert">
      <h3 class = "text-info">{{ $t('Rögzítés') }}</h3>
      <div class="text-success" v-if="bonus && bonus.length && getBonusHTML" style="position: absolute;right: 155px;font-size: 25px; top: 20px;;" >
      <FormSingleCheckbox :class="'text-success'" v-model="bonusEnabled" :title="'Aktivál'"></FormSingleCheckbox>
      </div>
      <div class="text-success" v-if="bonus && bonus.length && getBonusHTML" style="position: absolute;right: 10px;font-size: 18px;" >

        <div class="dropdown dropleft">
          <div class="btn btn-secondary  text-danger" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-star fa-2x kt-animate-shake"></i>Bónusz
          </div>
          <div class="dropdown-menu" >
            <template v-for="(b, index) in bonus">
                <div class="dropdown-item" v-bind:key="'bonus-+'+index" v-html="b.text"></div>
            </template>

          </div>
        </div>

    </div>
    </div>
    <div class = "kt-portlet">
      <div class = "kt-portlet__body">
        <div class = "kt-form kt-form--label-right">
          <div class = "kt-form__body">
            <div class = "row">
              <div class = "col-md-4">
                <div class = "row">
                  <div class = "col-md-12">
                    <FormSelect :select2 = "true" v-model = "model.company_id" :title = "$t('Cég')" v-if = "model && model.selectables && model.selectables.company" :options = "model.selectables.company"></FormSelect>
                  </div>
                  <div class = "col-md-12">
                    <FormSelect :select2="true" v-model = "model.industry_id" :title = "$t('Tevékenység')" :options = "industry"></FormSelect>
                  </div>
                  <div class = "col-md-12">
                    <FormDatePicker v-model="addFreeday"></FormDatePicker>
                    <FormInput v-model = "model.freedays"  :title = "$t('Ünnepnapok')" :multiple = "true" @change="calc"></FormInput>

                  </div>
                </div>
              </div>
              <div class="col-md-8 card bg-light">
                <h3 v-if="selectedIndustry">{{model.selectables.company[selectedIndustry.company_id]}} / {{selectedIndustry.name}}</h3>
                <h4 v-if="selectedIndustry"> {{selectedIndustry.instructor}}</h4>
                <h5 v-if="selectedIndustry">Bérek és bónuszok</h5>
                <div class="table-responsive">
                <table class="table table-condensed table-striped fixing-table" v-if="selectedIndustry">
                  <tr>
                    <th>Órabér</th>
                    <th><FormNumberInput input-class="m-0" v-model="selectedIndustry.price_hour"></FormNumberInput></th>
                    <th>Éjszakai
                      <span v-if="selectedIndustry.night_bonus">
                        <br/><span class="text-danger">+ {{selectedIndustry.night_bonus*100}} % <br><b>({{selectedIndustry.night_bonus_from}} - {{selectedIndustry.night_bonus_to}})</b></span>
                      </span>
                    </th>
                    <th>Ünnepi
                      <span v-if="selectedIndustry.festive_bonus">
                        <br><span class="text-danger">+ {{selectedIndustry.festive_bonus*100}} % <br></span>
                      </span>
                    </th>
                    <th>Szombati
                      <span v-if="selectedIndustry.saturday_bonus">
                        <br><span class="text-danger">+ {{selectedIndustry.saturday_bonus*100}} % <br></span>
                      </span>
                    </th>
                    <th>Vasárnapi
                      <span v-if="selectedIndustry.sunday_bonus">
                        <br><span class="text-danger">+ {{selectedIndustry.sunday_bonus*100}} % <br></span>
                      </span>
                    </th>
                    <th>Szünet<br>
                      <span v-if="selectedIndustry.break">
                        <span class="text-danger"> Nincs fizetve! <br><b>({{selectedIndustry.break_from}} - {{selectedIndustry.break_to}})</b></span>
                      </span>
                      <span class="text-success" v-else>Fizetett</span>
                    </th>
                  </tr>
                </table>
              </div>
              </div>
            </div>
            <div class="row sticky-top" v-if="selectedIndustry"   style="z-index: 10;top: 64px;background: white;">
              <div class="col-12 text-center " >
                <hr/>
                <h1 class="text-warning" v-if="!selectedStudent.student_id">Nincs diák kiválasztva!</h1>
                <h1 class="text-success" v-else>{{selectedStudent.name}}
                  <button v-if="selectedStudent.student_id" class=" btn btn-primary pull-right " @click="getPresents()">Jelenléti</button>
                  <button v-if="selectedStudent.student_id && selectedStudent.status==0" class=" btn btn-success pull-right " @click="saveData()">Rögzít</button>

                  <button v-if="selectedStudent.student_id && selectedStudent.status==0" class=" btn btn-warning pull-right " @click="clearData()">Kiűrítés</button>
                  <DeleteConfirm class="pull-right" v-on:delete="deleteFixing()"></DeleteConfirm>
                  <span style="font-size: 12px" class="text-danger mr-3  pull-right m-3" v-if="selectedStudent.student_id && selectedStudent.status==1">Véglegesítve</span>
                </h1>
                <hr/>
              </div>
            </div>
            <div class="row" v-if="selectedIndustry">
              <div class="col-md-4 table-responsive">
                <table class="table table-bordered">
                  <tbody>
                  <tr>
                    <th>Diák óra</th>
                    <th>Diák fix(%)</th>
                  </tr>
                  <tr>
                    <td style="width:75px;padding:0px"><h2 class="p-2">{{sum_hour}}</h2></td>
                    <td style="width:75px;padding:0px"><h2 class="p-2"><Price :value="''+sum_price"></Price></h2></td>
                  </tr>

                  </tbody>
                </table>
                <table class="">
                  <tbody><tr>
                    <td>
                      <div class="color bg-info"></div>
                    </td>
                    <td><span class="float">Még nincs rögzitve<span></span></span></td>
                    <td>
                      <div class="color bg-aqua">
                      </div>
                    </td>
                    <td><span class="float">Aktív<span></span></span></td>
                  </tr><tr>
                    <td>
                      <div class="color bg-success">

                      </div></td>
                    <td><span class="float">Rögzítv<span></span></span></td>
                    <td>
                      <div class="color bg-danger">
                      </div></td>
                    <td><span class="float">Jóváhagyva<span></span></span></td>
                  </tr></tbody></table>
                <table class="table table-bordered table-hover " >
                  <thead>
                  <tr>
                    <td colspan="3">
                        <FormAutocomplete class="w-100 text-dark" v-on:objectChanged="selectStudent($event)" :full="true" attributeKey="id" attributeValue="name"  attributeValue2="tax_number" :url="'/api/v1/student/student-list/all'" v-model="studentsSearch" ></FormAutocomplete>
                    </td>
                  </tr>
                  </thead>
                  <template v-if="students && Object.keys(students).length>0">
                  <template v-for="(s,index) in students" >
                  <tr @click="selectStudent(s)"  v-bind:key="'student'+index" class="text-black has-cursor"   >
                    <td :class="(s.student_id===selectedStudent.student_id)?'bg-aqua':s.color" style="width: 20px"></td>
                    <td><label :for="'#'+s.student_id">{{s.name}}</label>
                      <i class="fa fa-globe text-info pull-right" v-if="s.phour &&  s.phour>0" :title="'Online jelénléti: '+s.phour+' óra'" ></i></td>
                    <td><label :for="'#'+s.student_id">{{s.tax}}</label></td>
                    <td><label :for="'#'+s.student_id">{{s.student_number}}</label></td>
                  </tr>
                  </template>
                  </template>
                </table>
              </div>
              <div class="col-md-8">
                <h3 v-if="!selectedStudent.student_id " class="text-center">Kérlek válassz diákot</h3>
                <div class="table-responsive">
                <table class="table-bordered table table-hover  fixing-table" v-if="Object.keys(table) && selectedStudent.student_id" >
                  <thead>
                  <tr >
                    <th>{{months[parseInt($route.params.month.split('-')[1])-1]}}</th>
                    <th>Bónusz</th>
                    <th>Kezdés</th>
                    <th>Befejezés</th>
                    <th>Óra</th>
                    <th>Bónusz óra</th>
                    <th>Fix</th>
                    <th v-if="selectedIndustry.break">Szünet</th>
                    <th>Összesen</th>

                  </tr>
                  <tr>
                    <th>Összes</th>
                    <th><input type="checkbox" v-model="allBonus" @click="selectAll"></th>
                    <th><div class="d-inline-flex"><FixingInput v-model="start" ></FixingInput> <i class="fa fa-check-circle text-success p-1   has-cursor" @click="fillStart()"></i></div></th>
                    <th><div class="d-inline-flex"><FixingInput v-model="end"></FixingInput><i class="fa fa-check-circle text-success p-1 has-cursor" @click="fillEnd()"></i></div></th>
                    <th></th>
                    <th></th>
                    <th ><div class="d-inline-flex"><input class='form-control fix' style='width:75px;height:auto;width: 75px; height: auto;    padding: 2px;    border-radius: initial;' v-model="fix"/><i  @click="fillFix" class="fa fa-check-circle p-1 text-success has-cursor"></i></div></th>
                    <th v-if="selectedIndustry.break" ><div  class="d-inline-flex"> <FixingInput v-model="break_from" ></FixingInput><FixingInput v-model="break_to"></FixingInput><i class="fa fa-check-circle text-success p-1 has-cursor" @click="fillBreak"></i></div></th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr v-for="(row,key,index) in table" v-bind:key="'day-'+row.shortDate+'-'+index" v-bind:class="{'bg-aqua': model.freedays && model.freedays.includes(key),'bg-lime': (row.day == 'Szombat' || row.day == 'Vasárnap'),'font-weight-bold':table[key].computed>0}">
                    <td >{{row.shortDate}}. {{row.day}}
                      <span v-if="selectedIndustry.saturday_bonus && row.day == 'Szombat' && !(model.freedays && model.freedays.includes(key))" class="text-danger">+{{selectedIndustry.saturday_bonus*100}}%</span>
                      <span v-if="selectedIndustry.sunday_bonus && row.day == 'Vasárnap' && !(model.freedays && model.freedays.includes(key))" class="text-danger">+{{selectedIndustry.sunday_bonus*100}}%</span>
                      <span v-if="selectedIndustry.festive_bonus &&  model.freedays && model.freedays.includes(key)" class="text-danger">+{{selectedIndustry.festive_bonus*100}} %</span>
                    </td>
                    <td> <input type="checkbox" v-model="table[key].bonus" @change="calc"></td>
                    <td><FixingInput v-model="table[key].start" @change="calc"></FixingInput></td>
                    <td><FixingInput v-model="table[key].end" @change="calc"></FixingInput></td>
                    <td style='padding:2px;width:50px'>{{(table[key].sum>0)?table[key].sum:''}}</td>
                    <td style='padding:2px;width:50px'>{{table[key].bonus_hour>0?table[key].bonus_hour:''}}</td>
                    <td style='width:10%;padding:2px'><input type='text'  value='0' autocomplete="off" v-model="row.fix" :tabindex="1000+index+''+1" @change="calc" class='form-control fix' style='width:75px;height:auto;width: 75px; height: auto;    padding: 2px;    border-radius: initial;'></td>
                    <td v-if="selectedIndustry.break" style='display: inline-flex;'><FixingInput v-model="table[key].break_from" @change="calc"></FixingInput><FixingInput v-model="table[key].break_to" @change="calc"></FixingInput></td>
                    <td style='padding:2px'><Price v-if="table[key].computed>0" :value="''+ table[key].computed"></Price></td>
                  </tr>
                  </tbody>
                </table>
              </div>
              </div>
              <LoadingSvgLayer v-if="loading" ></LoadingSvgLayer>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import FormSelect from '../../../../../../resources/js/components/form/FormSelect'
import FormInput from '../../../../../../resources/js/components/form/FormInput'
import FormNumberInput from '../../../../../../resources/js/components/form/FormNumberInput'
import FormDatePicker from '../../../../../../resources/js/components/form/FormDatePicker'
import FixingInput from '../../../../../../resources/js/components/form/FixingInput'
import LoadingSvgLayer from '../../../../../../resources/js/components/LoadingSvgLayer'
import Price from '../../../../../../resources/js/components/Price'
import FormAutocomplete from '../../../../../../resources/js/components/form/FormAutocomplete'
import DeleteConfirm from '../../../../../../resources/js/components/DeleteConfirm'
import FormSingleCheckbox from '../../../../../../resources/js/components/form/FormSingleCheckbox'

export default {
    name: 'FixingForm',
    props: {
        url: {
            required: true,
            type: String
        },
        model: {
            required: true,
            type: Object
        }

    },
    data () {
        return {
            industry: [],
            addFreeday: null,
            defaultPrice: 0,
            days: ['Vasárnap', 'Hétfő', 'Kedd', 'Szerda', 'Csötörtök', 'Péntek', 'Szombat'],
            months: ['Január', 'Február', 'Március', 'Április', 'Május', 'Június', 'Július', 'Agusztus', 'Szeptember', 'Október', 'November', 'December'],
            table: {},
            selectedIndustry: null,
            selectedStudent: { student_id: null, status: 0 },
            students: {},
            nightFrom: '18:00',
            nightTo: '06:00',
            studentsSearch: '',
            start: null,
            end: null,
            fix: null,
            break_from: null,
            break_to: null,
            loading: false,
            allBonus: false,
            sum_hour: 0,
            bonus: {},
            bonusEnabled: false,
            sum_price: 0
        }
    },
    computed: {
        languages: function () {
            const l = []
            for (const it in this.$store.state.defaultStore.languages) {
                l.push(it)
            }
            return l
        },
        getBonusHTML: function () {
            if (!this.bonus || !this.bonus.length) {
                return ''
            }
            let response = ''
            this.bonus.forEach((item) => {
                response += item.text + '<br>'
            })
            return response
        }
    },
    components: { FormSelect, FormInput, FormDatePicker, FormNumberInput, FixingInput, LoadingSvgLayer, Price, FormAutocomplete, DeleteConfirm, FormSingleCheckbox },
    methods: {
        fillStart () {
            const self = this
            const temp = JSON.parse(JSON.stringify(this.table))

            if (self.start) {
                Object.keys(self.table).forEach((index) => {
                    if (!(temp[index].day === 'Szombat' || temp[index].day === 'Vasárnap')) {
                        temp[index].start = self.start
                    }
                })
                self.table = temp
            }
        },
        prev () {

        },
        fillFix () {
            const self = this
            const temp = JSON.parse(JSON.stringify(this.table))

            if (self.fix) {
                Object.keys(self.table).forEach((index) => {
                    if (!(temp[index].day === 'Szombat' || temp[index].day === 'Vasárnap')) {
                        temp[index].fix = self.fix
                    }
                })
                self.table = temp
            }
        },
        fillBreak () {
            const self = this
            const temp = JSON.parse(JSON.stringify(this.table))

            if (self.break_from && self.break_to) {
                Object.keys(self.table).forEach((index) => {
                    if (!(temp[index].day === 'Szombat' || temp[index].day === 'Vasárnap')) {
                        temp[index].break_from = self.break_from
                        temp[index].break_to = self.break_to
                    }
                })
                self.table = temp
            }
        },
        fillEnd () {
            const self = this
            const temp = JSON.parse(JSON.stringify(this.table))
            if (self.end) {
                Object.keys(self.table).forEach((index) => {
                    if (!(temp[index].day === 'Szombat' || temp[index].day === 'Vasárnap')) {
                        temp[index].end = self.end
                    }
                })
                self.table = temp
            }
        },
        padRight (str) {
            if (str.toString().length === 1) {
                return '0' + str
            }
            return str
        },
        getIndustry () {
            this.axios.get(this.url.replace('fixing', 'project') + '/get-industry-worker/' + this.model.company_id).then((resp) => {
                this.industry = resp.data
            })
        },
        industryDetails () {
            this.axios.get(this.url.replace('fixing', 'industry') + '/show/' + this.model.industry_id).then((resp) => {
                this.selectedIndustry = resp.data.data
                this.defaultPrice = this.selectedIndustry.price_hour
            })
        },
        getStudents () {
            this.axios.get(this.url + '/get-student/' + this.model.industry_id + '/' + this.$route.params.month).then((resp) => {
                this.students = resp.data
            })
        },
        getBonus () {
            this.axios.get(this.url + '/get-bonus-by-company/' + this.model.company_id + '/' + this.model.industry_id).then((resp) => {
                this.bonus = resp.data
                window.$('[data-toggle="tooltip"]').tooltip()
            })
        },
        selectAll () {
            const self = this
            const temp = JSON.parse(JSON.stringify(this.table))

            Object.keys(self.table).forEach((index) => {
                temp[index].bonus = this.allBonus
            })
            this.calc()
            self.table = temp
        },
        selectStudent (s) {
            this.loading = true
            this.selectedStudent = s
            this.clearData()
            if (!this.selectedStudent.student_id) {
                this.selectedStudent.student_id = this.selectedStudent.id
                this.selectedStudent.student_id = this.selectedStudent.id
                this.selectedStudent.status = 0
            }
            this.axios.get(this.url + '/get-student-fixing/' + s.student_id + '/' + this.selectedIndustry.id + '/' + this.$route.params.month).then((resp) => {
                this.table = resp.data.fixing
                if (resp.data.freedays) {
                    this.model.freedays = resp.data.freedays
                }
                if (resp.data.price_hour) {
                    this.selectedIndustry.price_hour = resp.data.price_hour
                }
                if (resp.data.price_company_hourly) {
                    this.selectedIndustry.price_company_hourly = resp.data.price_company_hourly
                }
                this.loading = false
                window.$('#kt_scrolltop').trigger('click')
            }).catch(() => {
                this.loading = false
            })
        },
        calc () {
            const self = this
            const temp = JSON.parse(JSON.stringify(this.table))
            this.sum_hour = 0
            this.sum_price = 0
            if (this.selectedIndustry) {
                Object.keys(self.table).forEach((index) => {
                    temp[index].sum = self.calculate_diff_hour(self.table[index].start, self.table[index].end)

                    temp[index].fix_company_multiplier = (this.selectedIndustry) ? this.selectedIndustry.price_company_fix : 1
                    let s = null
                    let e = null
                    if (this.selectedIndustry && this.selectedIndustry.night_bonus && temp[index].bonus) {
                        s = this.selectedIndustry.night_bonus_from
                        e = this.selectedIndustry.night_bonus_to
                        temp[index].bonus_type = 1
                        temp[index].bonus_multiplier = this.selectedIndustry.night_bonus
                        temp[index].bonus_multiplier_company = this.selectedIndustry.night_bonus_company
                    }
                    if (temp[index].day === 'Szombat' && this.selectedIndustry.saturday_bonus && temp[index].bonus) {
                        s = this.selectedIndustry.saturday_bonus_from
                        e = this.selectedIndustry.saturday_bonus_to
                        temp[index].bonus_type = 2
                        temp[index].bonus_multiplier = this.selectedIndustry.saturday_bonus
                        temp[index].bonus_multiplier_company = this.selectedIndustry.saturday_bonus_company
                    }
                    if (temp[index].day === 'Vasárnap' && this.selectedIndustry.sunday_bonus && temp[index].bonus) {
                        s = this.selectedIndustry.sunday_bonus_from
                        e = this.selectedIndustry.sunday_bonus_to
                        temp[index].bonus_type = 3
                        temp[index].bonus_multiplier = this.selectedIndustry.sunday_bonus
                        temp[index].bonus_multiplier_company = this.selectedIndustry.sunday_bonus_company
                    }
                    if (this.model.freedays && this.model.freedays.includes(index) && this.selectedIndustry.festive_bonus && temp[index].bonus) {
                        s = this.selectedIndustry.festive_bonus_from
                        e = this.selectedIndustry.festive_bonus_to
                        temp[index].bonus_type = 4
                        temp[index].bonus_multiplier = this.selectedIndustry.festive_bonus
                        temp[index].bonus_multiplier_company = this.selectedIndustry.festive_bonus_company
                    }
                    if (temp[index].bonus_type === 1) {
                        temp[index].bonus_hour = self.calculateBonusHour(self.table[index].start, self.table[index].end, s, e)
                    }
                    if (temp[index].bonus_type === 2 || temp[index].bonus_type === 3 || temp[index].bonus_type === 4) {
                        temp[index].bonus_hour = this.calculate_diff_hour(self.table[index].start, self.table[index].end)
                    }
                    temp[index].sum -= temp[index].bonus_hour
                    // calculate szünet
                    let minusBonus = 0
                    let minusSum = 0
                    // if (temp[index].bonus_type === 1) {
                    if (this.selectedIndustry.break && temp[index].break_from && temp[index].break_to) {
                        const bf = (parseInt(temp[index].break_from) * 60 + parseInt(temp[index].break_from.substring(temp[index].break_from.indexOf(':') + 1)))
                        const bt = (parseInt(temp[index].break_to) * 60 + parseInt(temp[index].break_to.substring(temp[index].break_to.indexOf(':') + 1)))
                        // 10-11
                        // csak akkkor kell ha éjszakai bónusz van

                        if (this.calculate_diff_hour(temp[index].break_from, temp[index].break_to) > 0) {
                            if (bf < bt) {
                                // a szünet teljesen az éjszakaiba esik
                                if (this.calculate_beetwen(s, e, temp[index].break_from) && this.calculate_beetwen(s, e, temp[index].break_to)) {
                                    minusBonus = this.calculate_diff_hour(temp[index].break_from, temp[index].break_to)
                                    console.log('a szünet teljesen az éjszakaiba esik' + minusBonus)
                                    // eslint-disable-next-line brace-style
                                }
                                // ha csak az eleje éjszakai vége nappali
                                else if (this.calculate_beetwen(s, e, temp[index].break_from) && !this.calculate_beetwen(s, e, temp[index].break_to)) {
                                    minusBonus = this.calculate_diff_hour(temp[index].break_from, e)
                                    minusSum = this.calculate_diff_hour(temp[index].break_to, s)
                                    console.log('ha csak az eleje éjszakai vége nappali')
                                    // eslint-disable-next-line brace-style
                                }

                                // ha eleje nappali vége esti
                                else if (this.calculate_beetwen(temp[index].start, s, temp[index].break_from) && temp[index].break_from !== temp[index].start && this.calculate_beetwen(s, e, temp[index].break_to)) {
                                    minusBonus = this.calculate_diff_hour(s, temp[index].break_to)
                                    minusSum = this.calculate_diff_hour(temp[index].break_from, s)
                                    console.log(' ha eleje nappali vége esti')
                                } else if (!this.calculate_beetwen(s, e, temp[index].break_from) && !this.calculate_beetwen(s, e, temp[index].break_to)) {
                                    minusSum = this.calculate_diff_hour(temp[index].break_from, temp[index].break_to)
                                }
                            } else {
                                console.log('A bónusz kezdete > vége')
                                if (this.calculate_beetwen(s, e, temp[index].break_from) && this.calculate_beetwen(s, e, temp[index].break_to)) {
                                    minusBonus = this.calculate_diff_hour(temp[index].break_from, temp[index].break_to)
                                }
                            }
                        } else {
                            console.log('nem éjszakai bónusz van')
                            if (this.calculate_beetwen(temp[index].start, temp[index].end, temp[index].break_from) && this.calculate_beetwen(temp[index].start, temp[index].end, temp[index].break_to)) {
                                console.log('csak nappali')
                                minusSum = this.calculate_diff_hour(temp[index].break_from, temp[index].break_to)
                            }
                        }
                    }
                    //  }
                    if (temp[index].bonus_type === 2 || temp[index].bonus_type === 3 || temp[index].bonus_type === 4) {
                        minusBonus = this.calculate_diff_hour(temp[index].break_from, temp[index].break_to)
                    }
                    temp[index].sum -= minusSum
                    if (temp[index].sum < 0) {
                        temp[index].sum = 0
                    }
                    temp[index].bonus_hour -= minusBonus

                    temp[index].computed = this.selectedIndustry.price_hour * temp[index].sum
                    if (this.model.freedays && this.model.freedays.includes(index) && this.selectedIndustry.festive_bonus && temp[index].bonus) {
                        console.log('temmp ' + temp[index].sum)
                        console.log('bonus ' + temp[index].bonus_hour)
                        temp[index].computed += this.selectedIndustry.festive_bonus * this.selectedIndustry.price_hour * temp[index].bonus_hour
                    } else if (temp[index].day === 'Vasárnap' && this.selectedIndustry.sunday_bonus && temp[index].bonus) {
                        temp[index].computed += this.selectedIndustry.sunday_bonus * this.selectedIndustry.price_hour * temp[index].bonus_hour
                    } else if (temp[index].day === 'Szombat' && this.selectedIndustry.saturday_bonus && temp[index].bonus) {
                        temp[index].computed += this.selectedIndustry.saturday_bonus * this.selectedIndustry.price_hour * temp[index].bonus_hour
                    } else if (this.selectedIndustry.night_bonus && temp[index].bonus) {
                        temp[index].computed += this.selectedIndustry.night_bonus * this.selectedIndustry.price_hour * temp[index].bonus_hour
                    }
                    temp[index].computed += (!isNaN(parseInt(temp[index].fix))) ? parseInt(temp[index].fix) : 0
                    this.sum_hour += temp[index].bonus_hour + temp[index].sum
                    this.sum_price += temp[index].computed
                })
            }
            self.table = temp
        },
        calculateBonusHour (a, b, s, e) {
            console.log(a + '-' + b + '-' + s + '-' + e)
            if (!s || !e) {
                return 0
            }
            if (!a || !b || a.includes(':') === false || b.includes(':') === false) {
                return 0
            }
            const ma = (parseInt(a) * 60 + parseInt(a.substring(a.indexOf(':') + 1)))
            const mb = (parseInt(b) * 60 + parseInt(b.substring(b.indexOf(':') + 1)))
            const na = (parseInt(s) * 60 + parseInt(s.substring(s.indexOf(':') + 1)))
            const nb = (parseInt(e) * 60 + parseInt(e.substring(e.indexOf(':') + 1)))

            if (ma === nb && mb === na) {
                return 0
            }
            if (this.calculate_beetwen(a, b, s) && this.calculate_beetwen(a, b, e) && this.calculate_beetwen(s, e, a) && this.calculate_beetwen(s, e, b)) {
                return this.calculate_diff_hour(s, b)
            }
            if (this.calculate_beetwen(a, b, s) && this.calculate_beetwen(a, b, e)) {
                console.log('2')
                return this.calculate_diff_hour(s, e)
            }
            if (this.calculate_beetwen(s, e, a) && this.calculate_beetwen(s, e, b)) {
                console.log('1')
                return this.calculate_diff_hour(a, b)
            }
            if (ma < mb && ((ma > nb && (ma > na || mb < na)) || (mb < na && mb < nb && ma > nb))) {
                console.log('3')
                return 0
            }
            /* if (ma > nb && na > ma && mb <= na) {
                console.log('4')
                return 0
            } */
            if (ma > mb && ma < na && mb > nb) {
                console.log('5')
                return 0
            }
            let start = a
            if (ma < na && mb > na) {
                console.log('6')
                start = s
            }

            let end = b
            if (mb > nb && ma - mb > 0) {
                console.log('7')
                end = e
            }
            if (ma < na && na > mb) {
                end = e
                console.log('9')
            }
            if (ma < na && mb < nb) {
                console.log('8')
                start = s
                end = b
            }
            if (start === a && end === b && (a !== s || b !== e)) {
                return 0
            }
            const diffNight = this.calculate_diff_hour(start, end)
            console.log(diffNight)

            const diffHour = this.calculate_diff_hour(a, b)
            console.log(diffHour)
            if (diffNight > diffHour) {
                return diffHour
            }
            return diffNight
        },
        calculate_beetwen (a, b, c) {
            if (!a || !b || !c || a.includes(':') === false || b.includes(':') === false || c.includes(':') === false) {
                return 0
            }
            a = (parseInt(a) * 60 + parseInt(a.substring(a.indexOf(':') + 1)))
            b = (parseInt(b) * 60 + parseInt(b.substring(b.indexOf(':') + 1)))
            c = (parseInt(c) * 60 + parseInt(c.substring(c.indexOf(':') + 1)))
            if (a === b) {
                return false
            }
            if (b < a) {
                if (c >= a && c < 23 * 60 + 59) {
                    return true
                }
                if (c <= b && c >= 0) {
                    return true
                }
                return false
            } else {
                if (a === c && c < b) {
                    return true
                }
                if (a < c && c === b) {
                    return true
                }
                return (a < c && b > c)
            }
        },
        calculate_diff_hour (a, b) {
            if (!a || !b || a.includes(':') === false || b.includes(':') === false) {
                return 0
            }
            a = (parseInt(a) * 60 + parseInt(a.substring(a.indexOf(':') + 1)))
            b = (parseInt(b) * 60 + parseInt(b.substring(b.indexOf(':') + 1)))
            let diff = b - a
            if (diff < 0) {
                diff += 1440
            }

            return parseInt(100 * diff / 60) / 100
        },
        clearData () {
            const self = this
            const temp = JSON.parse(JSON.stringify(this.table))
            Object.keys(self.table).forEach((index) => {
                temp[index].break_from = ''
                temp[index].break_to = ''
                temp[index].end = ''
                temp[index].fix = ''
                temp[index].start = ''
                temp[index].sum = 0
            })
            for (let i = 0; i < self.bonus.length; i++) {
                self.bonus[i].used = false
            }
            self.table = temp
        },
        deleteFixing () {
            const data = {}
            data.student_id = this.selectedStudent.student_id
            data.industry_id = this.selectedIndustry.id
            data.company_id = this.model.company_id
            data.month = this.$route.params.month
            this.axios.post(this.url + '/delete', data).then((resp) => {
                this.clearData()
                this.loading = false
            }).catch(() => {
                this.loading = false
            })
        },
        calcCompanyBonus (val) {
            let hasBonus = false
            for (let i = 0; i < this.bonus.length; i++) {
                if (this.bonus[i].hour <= val) {
                    if (!this.bonus[i].used) {
                        const add = (this.bonus[i].type === '1') ? this.bonus[i].value : parseInt((this.defaultPrice * (this.bonus[i].value / 100)).toString(), 0)

                        this.selectedIndustry.price_hour = this.defaultPrice + add
                        for (let j = 0; j < this.bonus.length; j++) {
                            this.bonus[j].used = false
                        }
                        this.bonus[i].used = true
                        hasBonus = true
                    }

                    break
                }
            }
            if (!hasBonus) {
                this.selectedIndustry.price_hour = this.defaultPrice
            }
        },
        getPresents () {
            window.open(this.url + '/presents/' + this.selectedIndustry.id + '/' + this.selectedStudent.student_id + '/' + this.$route.params.month + '?api_token=' + $cookies.get('token'), 'blank')
        },
        saveData () {
            this.loading = true
            const data = {}
            data.student_id = this.selectedStudent.student_id
            data.industry_id = this.selectedIndustry.id
            data.company_id = this.model.company_id
            data.month = this.$route.params.month
            data.price_hour = this.selectedIndustry.price_hour
            data.divisor = this.selectedIndustry.divisor
            data.multiplier = this.selectedIndustry.multiplier
            data.price_company_hourly = this.selectedIndustry.price_company_hourly
            data.fixing = this.table
            this.axios.post(this.url + '/save', data).then((resp) => {
                this.getStudents()
                this.loading = false
            }).catch(() => {
                this.loading = false
            })
        }
    },
    watch: {
        'model.company_id': {
            handler: function (val, oldVal) {
                if (val !== oldVal) {
                    this.selectedIndustry = null
                    this.getIndustry()
                }
            },
            deep: true
        },
        addFreeday: {
            handler: function (val, oldVal) {
                if (val !== oldVal) {
                    if (!this.model.freedays || !this.model.freedays.length) {
                        this.model.freedays = val
                    } else {
                        this.model.freedays += ',' + val
                    }
                }
            }

        },
        bonusEnabled: {
            handler: function (val, oldVal) {
                if (val !== oldVal) {
                    if (val === false) {

                    }
                    this.calcCompanyBonus(this.sum_hour)
                }
            }
        },
        sum_hour: {
            handler: function (val, oldVal) {
                if (val !== oldVal && this.bonusEnabled) {
                    this.calcCompanyBonus(val)
                }
            },
            deep: true
        },
        'model.industry_id': {
            handler: function (val, oldVal) {
                if (val !== oldVal) {
                    this.industryDetails()
                    this.selectedStudent = { student_id: null, status: 0 }
                    this.getStudents()
                    this.getBonus()
                }
            },
            deep: true
        }
    },
    created () {
    },
    mounted () {
        const date = new Date(this.$route.params.month + '-01')
        const y = date.getFullYear()
        const m = date.getMonth()
        const firstDay = new Date(y, m, 1)
        const lastDay = new Date(y, m + 1, 0)
        window.$('[data-toggle="tooltip"]').tooltip()

        // eslint-disable-next-line no-unmodified-loop-condition
        for (let day = firstDay; day <= lastDay; day.setDate(day.getDate() + 1)) {
            this.table[day.getFullYear() + '-' + this.padRight(day.getMonth() + 1) + '-' + this.padRight(day.getDate())] = {
                day: this.days[day.getDay()],
                shortDate: day.getDate(),
                start: null,
                end: null,
                fix: null,
                sum: null
            }
        }
        const self = this
        window.$(document).on('keydown', 'table td > input[type=text]:enabled', function (e) {
            const inputs = window.$('table td > input[type=text]:enabled')
            if (e.keyCode === 39) {
                inputs[inputs.index(this) + 1].focus()
            }
            if (e.keyCode === 37) {
                inputs[inputs.index(this) - 1].focus()
            }
            if (e.keyCode === 40) {
                if (self.selectedIndustry.break) {
                    inputs[inputs.index(this) + 5].focus()
                } else {
                    inputs[inputs.index(this) + 3].focus()
                }
            }
            if (e.keyCode === 38) {
                if (self.selectedIndustry.break) {
                    inputs[inputs.index(this) - 5].focus()
                } else {
                    inputs[inputs.index(this) - 3].focus()
                }
            }
        })
    }
}
</script>
