<template>
  <div class = "kt-portlet">
  <div class = "kt-portlet__body">
    <div class = "kt-form kt-form--label-right">
      <div class = "kt-form__body">
        <CostCenterModal :costList="costList"></CostCenterModal>
        <AmrestSearchModal v-if="selectedCostCenter && month" :costcenter="selectedCostCenter" v-on:selectStudent="addStudent($event)" :month="month" :url="url"></AmrestSearchModal>
  <div class="row">
        <div class="col-md-2" v-if="costCenter"><FormSelect title="Cost center" :select2="true" v-model="selectedCostCenter" :options="costCenter"></FormSelect></div>
        <div class="col-md-2"><FormMonthPicker title="Hónap" v-model="month"></FormMonthPicker></div>
        <div class="col-md-2"><button  class="btn btn-dark" @click="getData">Betölt</button></div>
        <div class="col-md-6 text-right">
          <button :disabled="!month || !selectedCostCenter"  class="btn btn-outline-dark" @click="openAmrestModal">Diák hozzáadása</button>
        <button  class="btn btn-info" @click="getCostCenterFixing">Rögzítések megtekintése</button>
       <button  class="btn btn-danger" @click="moveToFixing">Adatok átemelése a rögzítésbe</button>
       <button  class="btn btn-success" @click="saveAll">Mentés</button>
          <a :href="getExcelLink" target="_blank" class="btn btn-warning "><i class="fa fa-file-excel"></i> Letöltés</a></div>
  </div>
        <div class="row">
        <div class="col-12">
          <table class="table table-bordered">
            <tr>
            <th class="px-0 m-0">Név</th>
            <th class="px-0 m-0">Adószám</th>
            <th class="px-0 m-0">Toborozta</th>
            <th class="px-0 m-0">Pozició</th>
            <th class="px-0 m-0">Bruttó bér</th>
            <th class="px-0 m-0">Nettó számla</th>
            <th class="px-0 m-0">ID</th>
            <th class="px-0 m-0">Össz óra</th>
            <th class="px-0 m-0">Éjjel</th>
            <th class="px-0 m-0">Ünnep</th>
            <th class="px-0 m-0">Bruttó órabér</th>
            <th class="px-0 m-0">Pénztárhiány</th>
            <th class="px-0 m-0">Levonás</th>
            <th class="px-0 m-0">Bónusz</th>
            <th class="px-0 m-0">Jelenléti bónusz</th>
            <th class="px-0 m-0">MADS Jutalék</th>
            <th class="px-0 m-0">Kilépett/Megjegyzés</th>
            </tr>
            <tr class="text-danger">
              <th class="px-0 m-0">Összesítő</th>
              <th class="px-0 m-0"></th>
              <th class="px-0 m-0"></th>
              <th class="px-0 m-0"></th>
              <th class="px-0 m-0"> <Price :value="sum.gross_student"></Price></th>
              <th class="px-0 m-0"><Price :value="sum.net"></Price></th>
              <th class="px-0 m-0"></th>
              <th class="px-0 m-0">{{ sum.sum_hour }}</th>
              <th class="px-0 m-0">{{ sum.sum_night }}</th>
              <th class="px-0 m-0">{{ sum.festive }}</th>
              <th class="px-0 m-0"></th>
              <th class="px-0 m-0"><Price :value="sum.deficit"></Price></th>
              <th class="px-0 m-0"><Price :value="sum.deduction"></Price></th>
              <th class="px-0 m-0"><Price :value="sum.bonus"></Price></th>
              <th class="px-0 m-0"><Price :value="sum.bonus_presence"></Price></th>
              <th class="px-0 m-0"></th>
              <th class="px-0 m-0"></th>
            </tr>
            <template v-for="(ind,index) of list">
              <template v-for="(student,index2) of ind.students">
                <tr  v-bind:key="'students-'+index+'-'+index2">
                  <td>{{student.student_name}}</td>
                  <td>{{student.tax_number}}</td>
                  <td>{{student.recruiter}}</td>
                  <td><FormInput placeholder="Pozició" input-class="amrest-fixing" v-model="list[index].students[index2]['position']"></FormInput ></td>
                  <td style="white-space: nowrap"><Price :value="student.gross_student"></Price></td>
                  <td style="white-space: nowrap"><Price :value="student.net"></Price></td>
                  <td class="px-0 m-0"><FormInput placeholder="Amrest ID" input-class="amrest-fixing" v-model="list[index].students[index2]['amrest_id']"></FormInput ></td>
                  <td class="px-0 m-0"> <FormInput @change="calc" placeholder="Össz óra" input-class="amrest-fixing" v-model="list[index].students[index2]['sum_hour']"></FormInput ></td>
                    <td class="px-0 m-0"><FormInput @change="calc"  placeholder="Éjjel" input-class="amrest-fixing" v-model="list[index].students[index2]['sum_night']"></FormInput ></td>
                    <td class="px-0 m-0"><FormInput @change="calc" placeholder="Ünnep" input-class="amrest-fixing" v-model="list[index].students[index2]['festive']"></FormInput ></td>
                    <td class="px-0 m-0"><FormInput @change="calc" placeholder="Bruttó órabér" input-class="amrest-fixing" v-model="list[index].students[index2]['price_hourly']"></FormInput ></td>
                    <td class="px-0 m-0"><FormInput @change="calc" placeholder="Pénztárhiány" input-class="amrest-fixing" v-model="list[index].students[index2]['deficit']"></FormInput ></td>
                    <td class="px-0 m-0"><FormInput @change="calc" placeholder="Levonás" input-class="amrest-fixing" v-model="list[index].students[index2]['deduction']"></FormInput ></td>
                    <td class="px-0 m-0"><FormInput @change="calc" placeholder="Bónusz" input-class="amrest-fixing" v-model="list[index].students[index2]['bonus']"></FormInput ></td>
                    <td class="px-0 m-0"><FormInput @change="calc" placeholder="Jelenléti bónusz" input-class="amrest-fixing" v-model="list[index].students[index2]['bonus_presence']"></FormInput ></td>
                    <td class="px-0 m-0"><FormInput @change="calc" placeholder="MADS Jutalék" input-class="amrest-fixing" v-model="list[index].students[index2]['company_price']"></FormInput ></td>
                  <td class="px-0 m-0">
                      <div class="row">
                        <div class="col-3"><FormCheckbox :input-class="'checkbox-success m-0'" v-model="list[index].students[index2]['exited']"  :options="{'1':''}"></FormCheckbox></div>
                        <div class="col-8"><FormInput placeholder="Megjegyzés" input-class="amrest-fixing" v-model="list[index].students[index2]['comment']">
                      </FormInput ></div></div></td>
                </tr>
              </template>
            </template>
          </table>
          <hr class="bg-danger"/>
          <table class="table table-condensed" v-if="Object.keys(list).length>0">
            <tr>
              <td v-if="!notHidden">
                <FormAutocomplete class="w-100 text-dark" v-on:objectChanged="selectStudent($event)" input-class="amrest-fixing" :full="true" attributeKey="id" attributeValue="name"  attributeValue2="tax_number" :url="'/api/v1/student/student-list/all'" v-model="studentsSearch" ></FormAutocomplete>
              </td>
              <td class="px-0 m-0"><FormSelect   placeholder="Toborozta" input-class="amrest-fixing" v-model="tempStudent.recruiter" :options="{'MADS':'Mads','AMREST':'Amrest'}"></FormSelect ></td>
              <td class="px-0 m-0"><FormInput   placeholder="Pozicíó" input-class="amrest-fixing" v-model="tempStudent.position"></FormInput ></td>
              <td style="white-space: nowrap"><Price :value="tempStudent.gross_student"></Price></td>
              <td style="white-space: nowrap"><Price :value="tempStudent.net"></Price></td>
              <td class="px-0 m-0"><FormInput placeholder="Amrest ID" input-class="amrest-fixing" v-model="tempStudent.amrest_id"></FormInput ></td>
              <td class="px-0 m-0"> <FormInput  placeholder="Össz óra" input-class="amrest-fixing" v-model="tempStudent.sum_hour"></FormInput ></td>
              <td class="px-0 m-0"><FormInput   placeholder="Éjjel" input-class="amrest-fixing" v-model="tempStudent.sum_night"></FormInput ></td>
              <td class="px-0 m-0"><FormInput  placeholder="Ünnep" input-class="amrest-fixing" v-model="tempStudent.festive"></FormInput ></td>
              <td class="px-0 m-0"><FormInput  placeholder="Bruttó órabér" input-class="amrest-fixing" v-model="tempStudent.price_hourly"></FormInput ></td>
              <td class="px-0 m-0"><FormInput  placeholder="Pénztárhiány" input-class="amrest-fixing" v-model="tempStudent.deficit"></FormInput ></td>
              <td class="px-0 m-0"><FormInput  placeholder="Levonás" input-class="amrest-fixing" v-model="tempStudent.deduction"></FormInput ></td>
              <td class="px-0 m-0"><FormInput  placeholder="Bónusz" input-class="amrest-fixing" v-model="tempStudent.bonus"></FormInput ></td>
              <td class="px-0 m-0"><FormInput  placeholder="Jelenléti bónusz" input-class="amrest-fixing" v-model="tempStudent.bonus_presence"></FormInput ></td>
              <td class="px-0 m-0"><FormInput  placeholder="MADS Jutalék" input-class="amrest-fixing" v-model="tempStudent.company_price"></FormInput ></td>
              <td class="px-0 m-0"><FormInput placeholder="Megjegyzés" input-class="amrest-fixing" v-model="tempStudent.comment"></FormInput ></td>
              <td class="px-0 m-0"><button class="btn btn-sm btn-success" @click="addStudent(tempStudent)"><i class="fa fa-plus"></i> </button>
                <button class="btn btn-sm btn-danger" @click="clear"><i class="fa fa-trash"></i> </button>
              </td>
            </tr>
          </table>
        </div>
    </div>
      </div>
    </div>
  </div>
  </div>
</template>

<script>
import FormMonthPicker from '../../../../../../resources/js/components/form/FormMonthPicker'
import FormInput from '../../../../../../resources/js/components/form/FormInput'
import FixingInput from '../../../../../../resources/js/components/form/FixingInput'
import FormSelect from '../../../../../../resources/js/components/form/FormSelect'
import Price from '../../../../../../resources/js/components/Price'
import CostCenterModal from './CostCenterModal'
import AmrestSearchModal from './AmrestSearchModal'
import FormAutocomplete from '../../../../../../resources/js/components/form/FormAutocomplete'
import FormCheckbox from '../../../../../../resources/js/components/form/FormCheckbox.vue'
export default {
    name: 'FixingAmrest',
    props: ['url'],
    components: { AmrestSearchModal, CostCenterModal, FormMonthPicker, FormInput, FixingInput, FormSelect, Price, FormAutocomplete, FormCheckbox },
    data () {
        return {
            costList: [],
            notHidden: false,
            studentsSearch: null,
            tempStudent: {},
            month: null,
            selectedCostCenter: null,
            list: [],
            costCenter: [],
            sum: {

            }
        }
    },
    computed: {
        getExcelLink: function () {
            return this.url + '/fixing-amrest/get-exel-export-all/' + this.month
        }

    },
    mounted () {
        this.month = new Date()
        this.month.setMonth(this.month.getMonth() - 1)
        this.month = this.month.getFullYear() + '-' + ((this.month.getMonth() + 1 > 9) ? this.month.getMonth() + 1 : '0' + (this.month.getMonth() + 1))
        this.getCostCenter()
    },

    methods: {
        getData () {
            this.axios.get(this.url + '/fixing-amrest/' + this.month + '/' + this.selectedCostCenter).then(resp => {
                this.list = resp.data.data
            })
        },
        sumFn (field) {
            let sm = 0
            Object.keys(this.list).forEach(item => {
                Object.keys(this.list[item].students).forEach(s => {
                    sm += this.parseFloat(this.list[item].students[s][field], 0)
                })
            })

            return parseInt(sm * 100, 0) / 100
        },
        getCostCenter () {
            this.axios.get(this.url + '/fixing-amrest/cost-center').then(resp => {
                this.costCenter = resp.data.data
            })
        },

        clear () {
            const self = this
            self.notHidden = true
            this.tempStudent = {}
            this.studentsSearch = null
            setTimeout(() => {
                self.notHidden = false
            }, 200)
        },
        selectStudent ($event) {
            this.tempStudent = $event
            this.tempStudent.student_name = $event.name
            this.tempStudent.student_id = $event.id
            this.tempStudent.month = this.month
            this.tempStudent.industry_id = Object.keys(this.list)[0]
            this.tempStudent.comment = ''
            this.tempStudent.cost_center = this.selectedCostCenter
            this.tempStudent.deficit = 0
            this.tempStudent.deduction = 0
            this.tempStudent.bonus = 0
            this.tempStudent.bonus_presence = 0
        },
        addStudent ($event) {
            let exists = false
            const temp = JSON.parse(JSON.stringify(this.list))
            Object.keys(this.list).forEach((index) => {
                Object.keys(this.list[index].students).forEach(st => {
                    if (this.list[index].students[st].student_id === $event.student_id) {
                        exists = true
                    }
                })
            })
            if (!exists) {
                if (!temp[Object.keys(this.list)[0]].students || Object.keys(temp[Object.keys(this.list)[0]].students).length === 0) {
                    temp[Object.keys(this.list)[0]].students = {}
                }

                temp[Object.keys(this.list)[0]].students[$event.student_id] = $event
            }
            this.list = temp
            this.tempStudent = {}
            this.studentsSearch = ''
            this.clear()
        },
        getCostCenterFixing () {
            this.axios.get(this.url + '/fixing-amrest/get-cost-center/' + this.month).then(resp => {
                this.costList = resp.data.data
                console.log(this.costList)
                window.$('#costCenterModal').modal('show')
            })
        },
        openAmrestModal () {
            window.$('#AmrestSearchModal').modal('show')
        },
        saveAll () {
            this.axios.post(this.url + '/fixing-amrest/save', this.list).then(resp => {

            })
        },
        moveToFixing () {
            this.axios.post(this.url + '/fixing-amrest/move-to-fixing/' + this.month).then(resp => {

            })
        },
        calc () {
            const val = JSON.parse(JSON.stringify(this.list))
            Object.keys(val).forEach((key1) => {
                console.log(Object.keys(this.list[key1].students))
                Object.keys(val[key1].students).forEach((key2, key) => {
                    const student = val[key1].students[key2]

                    student.gross_student = Math.ceil((student.sum_hour - this.parseFloat(student.sum_night)) * student.price_hourly + (student.sum_night * student.price_hourly * 1.3) + (this.parseFloat(student.festive) * student.price_hourly) + (this.parseFloat(student.deficit) + this.parseFloat(student.deduction) + this.parseFloat(student.bonus) + this.parseFloat(student.bonus_presence)))
                    student.net = Math.ceil(student.gross_student - (this.parseFloat(student.bonus) + this.parseFloat(student.bonus_presence)) + (student.sum_hour * student.company_price) + ((this.parseFloat(student.bonus) + this.parseFloat(student.bonus_presence)) * 1.1))
                    val[key1].students[key2] = student
                })
            })
            this.list = val
            this.sum.gross_student = 0
            this.sum.net = 0
            this.sum.sum_hour = 0
            this.sum.sum_night = 0
            this.sum.festive = 0
            this.sum.price_hourly = 0
            this.sum.deficit = 0
            this.sum.deduction = 0
            this.sum.bonus = 0
            this.sum.bonus_presence = 0
            this.sum.gross_student = this.sumFn('gross_student')
            this.sum.net = this.sumFn('net')
            this.sum.sum_hour = this.sumFn('sum_hour')
            this.sum.sum_night = this.sumFn('sum_night')
            this.sum.festive = this.sumFn('festive')
            this.sum.price_hourly = this.sumFn('price_hourly')
            this.sum.deficit = this.sumFn('deficit')
            this.sum.deduction = this.sumFn('deduction')
            this.sum.bonus = this.sumFn('bonus')
            this.sum.bonus_presence = this.sumFn('bonus_presence')
        },
        parseFloat (number) {
            if (!number) {
                return 0
            }
            return parseFloat(number.toString().replace(',', '.'))
        }
    }

}
</script>
<style>
.amrest-fixing {
  padding: 0 !important;
  margin: 0 !important;
  min-width: 70px;
  height:auto !important;
  line-height:1 !important;
}
.amrest-fixing input,.amrest-fixing select{
  padding:2px !important;
  height:auto !important;
  line-height:1 !important;
}
</style>
