<template>
  <div style = "margin-top: -50px">
    <div class = "alert alert-custom alert-white alert-shadow kt-portlet" role = "alert">
      <h3 class = "text-info">{{ $t('Összegzés') }}</h3>
    </div>
    <div class = "kt-portlet">
      <div class = "kt-portlet__body">
        <div class = "kt-form kt-form--label-right">
          <div class = "kt-form__body">
            <div class="row sticky-top" style="top:64px;background: white; z-index:50">
              <div class="col-12">
                <div class="row mt-3">
              <div class="col-md-2"><FormMonthPicker title="Hónap" v-model="month"></FormMonthPicker></div>
              <div class="col-md-2"><FormSelect title="Állapot" v-model="status" :options="{1:'jóváhagya',0:'Nincs jóváhagyva'}"></FormSelect></div>
              <div class="col-md-2"><FormSelect title="Számla állapot" v-model="invoice_status" :options="{1:'Számlázva',0:'Nincs számlázva'}"></FormSelect></div>
              <div class="col-md-2"><FormSelect title="Csoportosítás" v-model="group" :options="{'industry':'Tevékenység','site':'Telephely'}"></FormSelect></div>
              <div class="col-md-2"><FormInput title="Cég, tevékenység" v-model="search"></FormInput></div>
              <div class="col-md-2 text-nowrap">
                <button type="button" class="btn-outline-info bnt-sm btn" @click="details=!details">Részletek</button>
                <a type="button" class="btn-outline-warning bnt-sm btn" :href="downloadYear()" target="_blank">Éves összesítő<i class="ml-1 fa fa-file-excel"></i></a>
              </div>
            </div>
                <div class="row">
                  <div class="col-md-6 bg-dark">
                    <table class="table mini table-striped table-bordered text-white" v-if="sum.notapprove.net>0">
                      <tr>
                        <th class="text-right">Nincs jóváhagyva</th>
                        <th class="text-right" >Nettó számla</th>
                        <th class="text-right" ><Price :value="sum.notapprove.net"></Price></th>
                        <th class="text-right" >Bruttó számla</th>
                        <th class="text-right" ><Price :value="sum.notapprove.invoice"></Price></th>
                      </tr>
                    </table>
                  </div>
                  <div class="col-md-6 bg-blue" >
                    <table class="table mini table-striped table-bordered text-white" v-if="sum.approve.net>0">
                      <tr>
                        <th class="text-right">Jóváhagyva</th>
                        <th class="text-right" >Nettó számla</th>
                        <th class="text-right" ><Price :value="sum.approve.net"></Price></th>
                        <th class="text-right" >Bruttó számla</th>
                        <th class="text-right" ><Price :value="sum.approve.invoice"></Price></th>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" v-if="sum.approve.net>0">

            <InvoiceModal></InvoiceModal>
            <div class="col-md-12  bg-aqua mt-3 mb-3">
              <hr/>
              <h4>Jóváhagyva</h4>
              <hr/>
            </div>
          </div>
          <div class = "row" v-for="(company,index) in list" v-bind:key="'company-'+index">

            <div class="col-md-12" v-if="company.status===1">
              <div class="card mb-3">
                <div class="card-header bg-olive bg-text-white">
                  <div class="row">
                    <div class="col-md-3">
                      <h5><router-link :to="'/admin/company/edit/'+company.company_id" class="text-white">{{company.company_name}}</router-link></h5>
                      <div class="text-white pull-left">Fizetési határidő: {{company.payment_deadline}} nap</div>
                      <button class="btn btn-info pull-right" @click="openInvoiceModal(company.company_id)">Számla</button>
                      <div class="dropdown pull-right">
                        <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Teljesítési PDF
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#" @click.prevent="openStudentPdf('empty',company.company_id)"><i class="fa fa-file-pdf mr-3"></i>Csak összeg</a>
                          <a class="dropdown-item" href="#" @click.prevent="openStudentPdf('student',company.company_id)"><i class="fa fa-file-pdf mr-3"></i>Diák</a>
                          <a class="dropdown-item" href="#" @click.prevent="openStudentPdf('industry',company.company_id)"><i class="fa fa-file-pdf mr-3"></i>Tevékenység</a>
                          <a class="dropdown-item" href="#" @click.prevent="openStudentPdf('site',company.company_id)"><i class="fa fa-file-pdf mr-3"></i>Telephely</a>
                          <a class="dropdown-item" href="#" @click.prevent="openStudentPdf('uuid',company.company_id)"><i class="fa fa-file-pdf mr-3"></i>Egyedi azonosító</a>
                        </div>
                      </div>
                      <div class="dropdown pull-right">
                        <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Teljesítési XLS
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#" @click.prevent="openStudentXLS('student',company.company_id)"><i class="fa fa-file-pdf mr-3"></i>Diák</a>
                          <a class="dropdown-item" href="#" @click.prevent="openStudentXLS('industry',company.company_id)"><i class="fa fa-file-pdf mr-3"></i>Tevékenység</a>
                          <a class="dropdown-item" href="#" @click.prevent="openStudentXLS('site',company.company_id)"><i class="fa fa-file-pdf mr-3"></i>Telephely</a>
                          <a class="dropdown-item" href="#" @click.prevent="openStudentXLS('uuid',company.company_id)"><i class="fa fa-file-pdf mr-3"></i>Egyedi azonosító</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-9">
                      <table class="table mini table-striped table-bordered text-white">
                        <tr>
                          <td class="text-right">Óra</td>
                          <td class="text-right" v-if="details">Éjszaka</td>
                          <td class="text-right" v-if="details">Szombat</td>
                          <td class="text-right" v-if="details">Vasárnap</td>
                          <td class="text-right" v-if="details">Ünnep</td>
                          <td class="text-right" v-if="details">Éjszakai </td>
                          <td class="text-right" v-if="details">Szombati </td>
                          <td class="text-right" v-if="details">Vasárnapi </td>
                          <td class="text-right" v-if="details">Ünnep </td>
                          <td class="text-right">Fix </td>
                          <th class="text-right">Nettó számla</th>
                          <th class="text-right">Bruttó számla</th>
                        </tr>
                        <tr>
                          <td class="text-right"> {{formatHour(company.sum_hour)}} óra</td>
                          <td v-if="details" class="text-right"> {{formatHour(company.night_hour)}} óra</td>
                          <td v-if="details" class="text-right"> {{formatHour(company.saturday_hour)}} óra</td>
                          <td v-if="details" class="text-right"> {{formatHour(company.sunday_hour)}} óra</td>
                          <td v-if="details" class="text-right"> {{formatHour(company.festive_hour)}} óra</td>
                          <td v-if="details" class="text-right"><Price :value="company.night_hour_price"></Price></td>
                          <td v-if="details" class="text-right"><Price :value="company.saturday_hour_price"></Price></td>
                          <td v-if="details" class="text-right"><Price :value="company.sunday_hour_price"></Price></td>
                          <td v-if="details" class="text-right"><Price :value="company.festive_hour_price"></Price></td>
                          <td  class="text-right"><Price :value="company.sum_fix"></Price></td>
                          <td class="text-right"><Price :value="(company.sum_student+company.sum_fix)"></Price></td>
                          <td class="text-right">
                            <Price :value="(company.sum_student+company.sum_fix)*1.27"></Price>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
                <table class="table mini table-striped table-bordered" >
                  <tr>
                    <th>Tevékenység/Telephely</th>
                    <th class="text-right">Átl Megbíz.díj</th>
                    <th class="text-right">Óra</th>
                    <th class="text-right" v-if="details">Éjszaka</th>
                    <th class="text-right" v-if="details">Szombat</th>
                    <th class="text-right" v-if="details">Vasárnap</th>
                    <th class="text-right" v-if="details">Ünnep</th>
                    <th class="text-right" v-if="details">Éjszakai </th>
                    <th class="text-right" v-if="details">Szombati </th>
                    <th class="text-right" v-if="details">Vasárnapi </th>
                    <th class="text-right" v-if="details">Ünnep </th>
                    <th class="text-right" v-if="details">Fix </th>
                    <th class="text-right">Nettó számla</th>
                    <th class="text-right">Bruttó számla</th>
                    <th class="text-right">Művelet</th>
                  </tr>
                  <tr v-for="(industry, id) in company.items" v-bind:key="'industry-'+index+'-'+id">
                    <td>
                      <i style="font-size: 21px" v-if="industry.invoice_status == '0'" class="  flaticon2-file text-success mr-2"></i>
                      <i style="font-size: 21px" v-else class="kt-animate-blink  flaticon-warning text-danger mr-02"></i>
                    {{industry.name}}
                      <a :href="download(company.company_id,industry.id)" target="_blank"><i style="font-size: 21px" class="fa fa-file-excel text-info pull-right has-cursor"></i></a>
                    </td>
                    <td  class="text-right"> <Price :value="(industry.sum_student/industry.sum_hour)"></Price></td>
                    <td class="text-right"> {{ formatHour(industry.sum_hour)}} óra</td>
                    <td v-if="details" class="text-right"> {{formatHour(industry.night_hour)}} óra</td>
                    <td v-if="details" class="text-right"> {{formatHour(industry.saturday_hour)}} óra</td>
                    <td v-if="details" class="text-right"> {{formatHour(industry.sunday_hour)}} óra</td>
                    <td v-if="details" class="text-right"> {{formatHour(industry.festive_hour)}} óra</td>
                    <td v-if="details" class="text-right"><Price :value="industry.night_hour_price"></Price></td>
                    <td v-if="details" class="text-right"><Price :value="industry.saturday_hour_price"></Price></td>
                    <td v-if="details" class="text-right"><Price :value="industry.sunday_hour_price"></Price></td>
                    <td v-if="details" class="text-right"><Price :value="industry.festive_hour_price"></Price></td>
                    <td v-if="details" class="text-right"><Price :value="industry.sum_fix"></Price></td>
                    <td class="text-right"><Price :value="industry.sum_student+industry.sum_fix"></Price></td>
                    <td class="text-right">
                      <Price  :value="(industry.sum_student+industry.sum_fix)*1.27"></Price>
                    </td>
                    <td class="text-right">
                      <button class="btn btn-success btn-sm" v-if="industry.invoice_status != '0'" @click.prevent="createInvoice(company.company_id,industry.id)">Számlázás</button>
                      <button class="btn btn-danger btn-sm" v-else @click.prevent="stornoInvoice(company.company_id,industry.id)">Stornó</button></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
          <div class="col-md-12 bg-aqua mb-3" v-if="sum.notapprove.net>0">
            <hr/>
            <h4> Nincs jóváhagyva</h4>
            <hr/>
          </div>
        </div>
            <div class = "row" v-for="(company,index) in list" v-bind:key="'company1-'+index">

              <div class="col-md-12" v-if="company.status!==1">
                <div class="card mb-3">
                  <div class="card-header bg-warning bg-text-white">
                    <div class="row">
                      <div class="col-md-3">
                        <h5><router-link :to="'/admin/company/edit/'+company.company_id" class="text-white">{{company.company_name}}</router-link></h5>
                        <div class="text-white pull-left">Fizetési határidő: {{company.payment_deadline}} nap</div>
                        <button class="btn btn-info pull-right" @click="openInvoiceModal(company.company_id)">Számla</button>
                        <div class="dropdown pull-right">
                          <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Teljesítési
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#" @click.prevent="openStudentPdf('empty',company.company_id)"><i class="fa fa-file-pdf mr-3"></i>Csak összeg</a>
                            <a class="dropdown-item" href="#" @click.prevent="openStudentPdf('student',company.company_id)"><i class="fa fa-file-pdf mr-3"></i>Diák</a>
                            <a class="dropdown-item" href="#" @click.prevent="openStudentPdf('industry',company.company_id)"><i class="fa fa-file-pdf mr-3"></i>Tevékenység</a>
                            <a class="dropdown-item" href="#" @click.prevent="openStudentPdf('site',company.company_id)"><i class="fa fa-file-pdf mr-3"></i>Telephely</a>
                            <a class="dropdown-item" href="#" @click.prevent="openStudentPdf('uuid',company.company_id)"><i class="fa fa-file-pdf mr-3"></i>Egyedi azonosító</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-9">
                        <table class="table mini table-striped table-bordered text-white">
                          <tr>
                            <td class="text-right">Óra</td>
                            <td class="text-right" v-if="details">Éjszaka</td>
                            <td class="text-right" v-if="details">Szombat</td>
                            <td class="text-right" v-if="details">Vasárnap</td>
                            <td class="text-right" v-if="details">Ünnep</td>
                            <td class="text-right" v-if="details">Éjszakai </td>
                            <td class="text-right" v-if="details">Szombati </td>
                            <td class="text-right" v-if="details">Vasárnapi </td>
                            <td class="text-right" v-if="details">Ünnep </td>
                            <td class="text-right">Fix </td>
                            <th class="text-right">Nettó számla</th>
                            <th class="text-right">Bruttó számla</th>
                          </tr>
                          <tr>
                            <td class="text-right"> {{formatHour(company.sum_hour)}} óra</td>
                            <td v-if="details" class="text-right"> {{formatHour(company.night_hour)}} óra</td>
                            <td v-if="details" class="text-right"> {{formatHour(company.saturday_hour)}} óra</td>
                            <td v-if="details" class="text-right"> {{formatHour(company.sunday_hour)}} óra</td>
                            <td v-if="details" class="text-right"> {{formatHour(company.festive_hour)}} óra</td>
                            <td v-if="details" class="text-right"><Price :value="company.night_hour_price"></Price></td>
                            <td v-if="details" class="text-right"><Price :value="company.saturday_hour_price"></Price></td>
                            <td v-if="details" class="text-right"><Price :value="company.sunday_hour_price"></Price></td>
                            <td v-if="details" class="text-right"><Price :value="company.festive_hour_price"></Price></td>
                            <td  class="text-right"><Price :value="company.sum_fix"></Price></td>
                            <td class="text-right"><Price :value="(company.sum_student+company.sum_fix)"></Price></td>
                            <td class="text-right">  <Price  :value="(company.sum_student+company.sum_fix)*1.27"></Price>
                          </td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                  <table class="table mini table-striped table-bordered" >
                    <tr>
                      <th>Tevékenység/Telephely</th>
                      <th class="text-right">Átl Megbíz.díj</th>
                      <th class="text-right">Óra</th>
                      <th class="text-right" v-if="details">Éjszaka</th>
                      <th class="text-right" v-if="details">Szombat</th>
                      <th class="text-right" v-if="details">Vasárnap</th>
                      <th class="text-right" v-if="details">Ünnep</th>
                      <th class="text-right" v-if="details">Éjszakai </th>
                      <th class="text-right" v-if="details">Szombati </th>
                      <th class="text-right" v-if="details">Vasárnapi </th>
                      <th class="text-right" v-if="details">Ünnep </th>
                      <th class="text-right" v-if="details">Fix </th>
                      <th class="text-right">Nettó számla</th>
                      <th class="text-right">Bruttó számla</th>
                      <th class="text-right">Művelet</th>
                    </tr>
                    <tr v-for="(industry, id) in company.items" v-bind:key="'industry-'+index+'-'+id">
                      <td>
                        <i style="font-size: 21px" v-if="industry.invoice_status == 0" class="  flaticon2-file text-success mr-2"></i>
                        <i style="font-size: 21px" v-else class="kt-animate-blink  flaticon-warning text-danger mr-02"></i>
                     {{industry.name}}
                        <a :href="download(company.company_id,industry.id)" target="_blank"><i style="font-size: 21px" class="fa fa-file-excel text-info pull-right has-cursor"></i></a>
                      </td>
                      <td  class="text-right"> <Price :value="(industry.sum_student/industry.sum_hour)"></Price></td>
                      <td class="text-right"> {{formatHour(industry.sum_hour)}} óra</td>
                      <td v-if="details" class="text-right"> {{formatHour(industry.night_hour)}} óra</td>
                      <td v-if="details" class="text-right"> {{formatHour(industry.saturday_hour)}} óra</td>
                      <td v-if="details" class="text-right"> {{formatHour(industry.sunday_hour)}} óra</td>
                      <td v-if="details" class="text-right"> {{formatHour(industry.festive_hour)}} óra</td>
                      <td v-if="details" class="text-right"><Price :value="industry.night_hour_price"></Price></td>
                      <td v-if="details" class="text-right"><Price :value="industry.saturday_hour_price"></Price></td>
                      <td v-if="details" class="text-right"><Price :value="industry.sunday_hour_price"></Price></td>
                      <td v-if="details" class="text-right"><Price :value="industry.festive_hour_price"></Price></td>
                      <td v-if="details" class="text-right"><Price :value="industry.sum_fix"></Price></td>
                      <td class="text-right"><Price :value="industry.sum_student+industry.sum_fix"></Price></td>
                      <td class="text-right">
                        <Price  :value="(industry.sum_student+industry.sum_fix)*1.27"></Price>
                      </td>
                      <td class="text-right">
                        <button class="btn btn-success btn-sm" v-if="industry.invoice_status != 0" @click.prevent="createInvoice(company.company_id,industry.id)">Számlázás</button>
                        <button class="btn btn-danger btn-sm" v-else @click.prevent="stornoInvoice(company.company_id,industry.id)">Stornó</button></td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            <div class="row">

          </div>
        </div>
      </div>
    </div>
</template>

<script>
import BaseDatatable from '../../../../../../resources/js/components/BaseDatatable'
import FormMonthPicker from '../../../../../../resources/js/components/form/FormMonthPicker'
import Price from '../../../../../../resources/js/components/Price'
import FormInput from '../../../../../../resources/js/components/form/FormInput'
import FormSelect from '../../../../../../resources/js/components/form/FormSelect'
import InvoiceModal from './InvoiceModal'

export default {
    name: 'FixingSummation',

    components: { InvoiceModal, BaseDatatable, FormMonthPicker, Price, FormInput, FormSelect },
    data () {
        return {
            month: null,
            search: '',
            status: '',
            group: 'industry',
            invoice_status: null,
            timeoutSearch: null,
            details: false,
            list: [],
            sum: {
                approve: {
                    net: 0,
                    invoice: 0
                },
                notapprove: {
                    net: 0,
                    invoice: 0
                }
            }
        }
    },
    watch: {
        month: {
            handler: function (val, oldVal) {
                if (val !== oldVal) {
                    this.getFixingControl()
                }
            }
        },
        status: {
            handler: function (val, oldVal) {
                if (val !== oldVal) {
                    this.getFixingControl()
                }
            }
        },
        group: {
            handler: function (val, oldVal) {
                if (val !== oldVal) {
                    this.getFixingControl()
                }
            }
        },
        invoice_status: {
            handler: function (val, oldVal) {
                if (val !== oldVal) {
                    this.getFixingControl()
                }
            }
        },

        search: {
            handler: function (val, oldVal) {
                if (val !== oldVal) {
                    const self = this
                    clearTimeout(self.timeoutSearch)
                    self.timeoutSearch = null
                    self.timeoutSearch = setTimeout(function () {
                        self.getFixingControl()
                    }, 500)
                }
            }
        }
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/fixing-summation`
        }

    },
    mounted () {
        this.month = new Date()
        this.month.setMonth(this.month.getMonth() - 1)
        this.month = this.month.getFullYear() + '-' + ((this.month.getMonth() + 1 > 9) ? this.month.getMonth() + 1 : '0' + (this.month.getMonth() + 1))
        this.getFixingControl()
    },
    methods: {
        calcSum () {
            this.sum = {
                approve: {
                    net: 0,
                    invoice: 0
                },
                notapprove: {
                    net: 0,
                    invoice: 0
                }
            }
            Object.keys(this.list).forEach(key => {
                if (this.list[key].status === 1) {
                    this.sum.approve.net += (this.list[key].sum_student + this.list[key].sum_fix)
                    this.sum.approve.invoice += (this.list[key].sum_student + this.list[key].sum_fix) * 1.27
                } else {
                    this.sum.notapprove.net += (this.list[key].sum_student + this.list[key].sum_fix)
                    this.sum.notapprove.invoice += (this.list[key].sum_student + this.list[key].sum_fix) * 1.27
                }
            })
        },
        openIndustry (id, link) {
            console.log(id)
            this.$eventHub.$emit('openIndustry', id)
            this.$router.push(link)
        },
        getFixingControl () {
            this.axios.get(this.url + '/' + this.month + '?status=' + this.status + '&search=' + this.search + '&invoice_status=' + this.invoice_status + '&group=' + this.group).then(resp => {
                this.list = resp.data
                this.calcSum()
            })
        },
        formatHour (hour) {
            return parseInt(hour * 100) / 100
        },
        openInvoiceModal (company) {
            console.log(company)
            this.$eventHub.$emit('openInvoiceModal', { company_id: company, month: this.month })
        },
        openStudentPdf (type, id) {
            const pdf = `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/fixing/completion-form/${type}/${this.month}/${id}`
            this.$eventHub.$emit('openPDFStudent', pdf)
        },
        openStudentXLS (type, id) {
            const xls = `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/fixing/completion-form-excel/${type}/${this.month}/${id}`
            window.open(xls, 'blank')
        },
        createInvoice (company, industry) {
            this.axios.post(this.url + '/invoice/' + this.month + '/' + company + '/' + industry + '?status=' + this.status + '&search=' + this.search + '&invoice_status=' + this.invoice_status + '&group=' + this.group).then(resp => {
                this.list = resp.data
                this.calcSum()
            })
        },
        download (company, industry) {
            return this.url + '/excel/' + this.month + '/' + company + '/' + industry + '?status=' + this.status + '&search=' + this.search + '&invoice_status=' + this.invoice_status + '&group=' + this.group + '&api_token=' + $cookies.get('token')
        },
        downloadYear () {
            return this.url + '/excel-year/' + this.month + '&api_token=' + $cookies.get('token')
        },
        stornoInvoice (company, industry) {
            this.axios.post(this.url + '/storno/' + this.month + '/' + company + '/' + industry + '?status=' + this.status + '&search=' + this.search + '&invoice_status=' + this.invoice_status + '&group=' + this.group).then(resp => {
                this.list = resp.data
                this.calcSum()
            })
        }
    }
}
</script>
