<template>
  <div>
    <div class="modal fade" id="invoiceModal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg  modal-dialog-centered" role="document" style="max-width: 80% !important;">
        <div class="modal-content ">
          <div class="modal-header bg-danger">
            <h5 class="modal-title">Számla tételek</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <i aria-hidden="true" class="ki ki-close"></i>
            </button>
          </div>
          <div class="modal-body p-4">
            <div class="row">
              <div class="col-12">
                <table class="table table-bordered" v-if="data">
                  <tr>
                    <th>Cég</th>
                    <th>Telephely</th>
                    <th>Tevékenység</th>
                    <th>Napszak</th>
                    <th>Óraszám</th>
                    <th>Megbízási díj</th>
                    <th class="bg-danger">Nettó számla érték</th>
                    <th>Áfa</th>
                    <th>Bruttó számlaérték</th>
                  </tr>
                  <template v-for="key in Object.keys(data)">
                  <template v-for="(company,index) in data[key]">
                  <tr v-bind:key=" 'comp-1-'+index+'-'+key" class="bg-succes">
                    <td class="bg-success">{{company.company_name}}</td>
                    <td class="bg-success">{{company.site_name}}</td>
                    <td class="bg-success">{{company.teaor}}</td>
                    <td class="bg-success"></td>
                    <td class="bg-success"></td>
                    <td class="bg-success"></td>
                    <td class="bg-danger"></td>
                    <td class="bg-success"></td>
                    <td class="bg-success"></td>
                  </tr>
                  <tr v-bind:key=" 'comp-2-'+index+'-'+key">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>napközben</td>
                    <td>{{company.sum_hour}}</td>
                    <td class="text-right"><Price :value="company.sum_hourly"></Price></td>
                    <td class="bg-danger text-right text-white font-weight-bold"><Price :value="company.sum_net"></Price></td>
                    <td class="text-right"><Price :value="(company.sum_gross-company.sum_net)"></Price></td>
                    <td class="text-right"><Price :value="(company.sum_gross)"></Price></td>
                  </tr>
                  <tr v-bind:key=" 'comp-2-'+index+'-'+key">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>éjjel</td>
                    <td>{{company.night_hour}}</td>
                    <td class="text-right"><Price :value="company.night_sum_hourly"></Price></td>
                    <td class="bg-danger text-right text-white font-weight-bold"><Price :value="company.night_sum_net"></Price></td>
                    <td class="text-right"><Price :value="(company.night_sum_gross-company.night_sum_net)"></Price></td>
                    <td class="text-right"><Price :value="(company.night_sum_gross)"></Price></td>
                  </tr>
                  <tr v-bind:key=" 'comp-3-'+index+'-'+key">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>szombat</td>
                    <td>{{company.saturday_hour}}</td>
                    <td class="text-right"><Price :value="company.saturday_sum_hourly"></Price></td>
                    <td class="bg-danger text-right text-white font-weight-bold"><Price :value="company.saturday_sum_net"></Price></td>
                    <td class="text-right"><Price :value="(company.saturday_sum_gross-company.saturday_sum_net)"></Price></td>
                    <td class="text-right"><Price :value="(company.saturday_sum_gross)"></Price></td>
                  </tr>
                    <tr v-bind:key=" 'comp-32-'+index+'-'+key">
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>vasárnap</td>
                      <td>{{company.sunday_hour}}</td>
                      <td class="text-right"><Price :value="company.sunday_sum_hourly"></Price></td>
                      <td class="bg-danger text-right text-white font-weight-bold"><Price :value="company.sunday_sum_net"></Price></td>
                      <td class="text-right"><Price :value="(company.sunday_sum_gross-company.sunday_sum_net)"></Price></td>
                      <td class="text-right"><Price :value="(company.sunday_sum_gross)"></Price></td>
                    </tr>
                  <tr v-bind:key=" 'comp-4-'+index+'-'+key">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>ünnepnapon</td>
                    <td>{{company.festive_hour}}</td>
                    <td class="text-right"><Price :value="company.festive_sum_hourly"></Price></td>
                    <td class="bg-danger text-right text-white font-weight-bold"><Price :value="company.festive_sum_net"></Price></td>
                    <td class="text-right"><Price :value="(company.festive_sum_gross-company.festive_sum_net)"></Price></td>
                    <td class="text-right"><Price :value="(company.festive_sum_gross)"></Price></td>
                  </tr>
                    <tr v-bind:key=" 'comp-4-'+index+'-'+key">
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>fix</td>
                      <td></td>
                      <td class="text-right"></td>
                      <td class="bg-danger text-right text-white font-weight-bold"><Price :value="company.sum_fix"></Price></td>
                      <td class="text-right"><Price :value="company.sum_fix*1.27-company.sum_fix"></Price></td>
                      <td class="text-right"><Price :value="company.sum_fix*1.27"></Price></td>
                    </tr>
                  <tr v-bind:key=" 'comp-5-'+index+'-'+key">
                    <td></td>
                    <td></td>
                    <td>Összesen</td>
                    <td></td>
                    <td>{{ company.sunday_hour+company.saturday_hour+company.festive_hour +company.night_hour+company.sum_hour}}</td>
                    <td></td>
                    <td  class="bg-danger text-right text-white font-weight-bold"><Price :value="company.sunday_sum_net+company.saturday_sum_net+company.festive_sum_net +company.night_sum_net +company.sum_net+ company.sum_fix"></Price></td>
                    <td></td>
                    <td class="text-right"><Price :value="company.sunday_sum_gross+company.saturday_sum_gross+company.festive_sum_gross +company.night_sum_gross +company.sum_gross+ company.sum_fix*1.27"></Price></td>
                  </tr>
                  </template>
                  </template>
                </table>
              </div>
            </div>
            <div class="modal-footer ">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Mégse</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Price from '../../../../../../resources/js/components/Price'
export default {
    name: 'InvoiceModal',
    components: { Price },
    data () {
        return {
            data: null
        }
    },
    methods: {
        getInvoiceData (data) {
            window.$('#invoiceModal').modal('show')
            this.axios.get(this.url + '/get-invoice-data/' + data.month + '/' + data.company_id).then(resp => {
                this.data = resp.data.data
                console.log(this.data)
            })
        }
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/fixing-summation`
        }
    },
    created () {
        const self = this
        this.$eventHub.$on('openInvoiceModal', function (id) {
            self.getInvoiceData(id)
        })
    }
}
</script>

<style scoped>

</style>
