<template>
  <div style = "margin-top: -50px">
    <div class = "alert alert-custom alert-white alert-shadow kt-portlet" role = "alert">
      <h3 class = "text-info">{{ $t('Bértábla') }}</h3>
    </div>
    <div class = "kt-portlet">
      <div class = "kt-portlet__body">
        <div class = "kt-form kt-form--label-right">
          <div class = "kt-form__body">
            <div class="row">
              <div class="col-md-3"><FormMonthPicker title="Hónap" v-model="month"></FormMonthPicker></div>
              <div class="col-md-3"><a :href="unitExport()" target="_blank" class="btn  btn-outline-info">Unit export <i class="fa fa-file-excel"></i></a></div>
            </div>
            <div class = "row">
              <div class="col-md-12 mb-3">
                <div class="card text-white bg-success p-2 "><h3>Bér adatok</h3></div>
                <table id="ossz" class="table table-striped  table-condensed table-bordered">
                  <thead>
                  <tr>
                    <th class="header">Diák neve</th>
                    <th class="header">Szül.idő</th>
                    <th class="header">Kód</th>
                    <th class="header">Diák adószáma</th>
                    <th class="header">FEOR</th>
                    <th class="header">Bruttó bér</th>
                    <th class="header">Nettó bér</th>
                    <th class="header">SZJA</th>
                    <th class="header">Részjegy</th>
                    <th class="header">Hóközi (bruttó)</th>
                    <th class="header">Hóközi (nettó)</th>
                    <th class="header">Fizetendő nettó</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr v-for="student in hasCard" v-bind:key="'has-card'+student.student_id">
                    <td><router-link :to="'/admin/student/edit/'+student.student_id">{{student.student_name}}</router-link></td>
                    <td>{{student.birth_date}}</td>
                    <td>{{student.code}}</td>
                    <td>{{student.tax_number}}</td>
                    <td>{{student.feor}}</td>
                    <td><Price :value="''+student.gross"></Price></td>
                    <td><Price :value="''+student.net"></Price></td>
                    <td><Price :value="''+(student.gross-student.net)"></Price></td>
                    <td><Price :value="''+student.part"></Price></td>
                    <td><Price v-if="student.monthly_price_gross" :value="''+student.monthly_price_gross"></Price></td>
                    <td><Price v-if="student.monthly_price_net" :value="''+student.monthly_price_net"></Price></td>
                    <td><Price :value="''+(student.net - student.part - student.monthly_price_net)"></Price></td>
                  </tr>
                  <tr>
                    <th class="header">Összsesen: {{hasCard.length}} - Új: {{  hasCardTotal.hasPrev }}</th>
                    <th class="header"></th>
                    <th class="header"></th>
                    <th class="header"></th>
                    <th class="header"></th>
                    <th class="header"><Price :value="''+hasCardTotal.grossTotal"></Price></th>
                    <th class="header"><Price :value="''+hasCardTotal.netTotal"></Price></th>
                    <th class="header"><Price :value="''+hasCardTotal.szjaTotal"></Price></th>
                    <th class="header"><Price :value="''+hasCardTotal.partTotal"></Price></th>
                    <th class="header"><Price :value="''+hasCardTotal.monthlyGrossTotal"></Price></th>
                    <th class="header"><Price :value="''+hasCardTotal.monthlyNetTotal"></Price></th>
                    <th class="header"><Price :value="''+hasCardTotal.payNetTotal"></Price></th>
                  </tr>
                  </tbody>
                </table>
                </div>
              <div class="col-md-12 mb-3">
                <div class="card text-white bg-info p-2 "><h3>Előlegek</h3></div>
                <table class="table table-striped  table-condensed table-bordered">
                  <thead><tr>
                    <th>Adószám</th>
                    <th>Név</th>
                    <th>Megjegyzés</th>
                    <th>Bruttó összeg</th>
                    <th>Nettó összeg</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr v-for="(student,index) in monthly" v-bind:key="'monthly-'+student.student_id+'-'+index" v-bind:class="{'text-danger':!existStudent(student.student_id)}">
                    <td>{{student.tax_number}}</td>
                    <td><router-link :to="'/admin/student/edit/'+student.student_id">{{student.student_name}}</router-link></td>
                    <td>{{student.comment}}</td>
                    <td><Price :value="''+student.gross"></Price></td>
                    <td><Price :value="''+(student.net)"></Price></td>
                  </tr>
                  </tbody>
                  <tfoot>
                  <tr>
                    <th>Összesen</th>
                    <th></th>
                    <th></th>
                    <th><Price :value="''+monthlyTotal.grossTotal"></Price></th>
                    <th><Price :value="''+monthlyTotal.netTotal"></Price></th>
                  </tr>
                  </tfoot>
                </table>
              </div>
                <div class="col-md-12 mb-3">
                  <div class="card text-white bg-orange p-2 "><h3>Nincs jogviszonya  <button class="button btn-sm float-right btn btn-info" @click="sendEmail">Email küldése a diákoknak</button></h3></div>
                  <table id="" class="table table-striped  table-condensed table-bordered">
                    <thead>
                    <tr>
                      <th class="header">Diák neve</th>
                      <th class="header">Szül.idő</th>
                      <th class="header">Kód</th>
                      <th class="header">Diák adószáma</th>
                      <th class="header">FEOR</th>
                      <th class="header">Bruttó bér</th>
                      <th class="header">Nettó bér</th>
                      <th class="header">SZJA</th>
                      <th class="header">Részjegy</th>
                      <th class="header">Hóközi (bruttó)</th>
                      <th class="header">Hóközi (nettó)</th>
                      <th class="header">Fizetendő nettó</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(student,index) in noCard" v-bind:key="'no-card-'+index+'-'+student.student_id">
                      <td><router-link :to="'/admin/student/edit/'+student.student_id">{{student.student_name}}</router-link></td>
                      <td>{{student.birth_date}}</td>
                      <td>{{student.code}}</td>
                      <td>{{student.tax_number}}</td>
                      <td>{{student.feor}}</td>
                      <td><Price :value="''+student.gross"></Price></td>
                      <td><Price :value="''+student.net"></Price></td>
                      <td><Price :value="''+(student.gross-student.net)"></Price></td>
                      <td><Price :value="''+student.part"></Price></td>
                      <td><Price v-if="student.monthly_price_gross" :value="''+student.monthly_price_gross"></Price></td>
                      <td><Price v-if="student.monthly_price_net" :value="''+student.monthly_price_net"></Price></td>
                      <td><Price :value="''+(student.net - student.part - student.monthly_price_net)"></Price></td>
                    </tr>
                    <tr>
                      <th class="header">Összsesen: {{noCard.length}} - Új: {{  noCardTotal.hasPrev }}</th>
                      <th class="header"></th>
                      <th class="header"></th>
                      <th class="header"></th>
                      <th class="header"></th>
                      <th class="header"><Price :value="''+noCardTotal.grossTotal"></Price></th>
                      <th class="header"><Price :value="''+noCardTotal.netTotal"></Price></th>
                      <th class="header"><Price :value="''+noCardTotal.szjaTotal"></Price></th>
                      <th class="header"><Price :value="''+noCardTotal.partTotal"></Price></th>
                      <th class="header"><Price :value="''+noCardTotal.monthlyGrossTotal"></Price></th>
                      <th class="header"><Price :value="''+noCardTotal.monthlyNetTotal"></Price></th>
                      <th class="header"><Price :value="''+noCardTotal.payNetTotal"></Price></th>
                    </tr>
                    </tbody>
                  </table>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
import BaseDatatable from '../../../../../../resources/js/components/BaseDatatable'
import FormMonthPicker from '../../../../../../resources/js/components/form/FormMonthPicker'
import Price from '../../../../../../resources/js/components/Price'

export default {
    name: 'PayScale',

    components: { BaseDatatable, FormMonthPicker, Price },
    data () {
        return {
            month: null,
            hasCard: [],
            noCard: [],
            monthly: []
        }
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/pay-scale`
        },
        hasCardTotal: function () {
            const total = {
                grossTotal: 0,
                netTotal: 0,
                szjaTotal: 0,
                partTotal: 0,
                monthlyGrossTotal: 0,
                monthlyNetTotal: 0,
                payNetTotal: 0,
                hasPrev: 0

            }
            if (this.hasCard && this.hasCard.length) {
                this.hasCard.forEach(item => {
                    total.grossTotal += item.gross
                    total.netTotal += item.net
                    total.szjaTotal += item.gross - item.net
                    total.partTotal += item.part
                    total.monthlyGrossTotal += item.monthly_price_gross
                    total.monthlyNetTotal += item.monthly_price_net
                    total.payNetTotal += item.net - item.part - item.monthly_price_net
                    total.hasPrev += (item.part) ? 1 : 0
                })
            }
            return total
        },
        noCardTotal: function () {
            const total = {
                grossTotal: 0,
                netTotal: 0,
                szjaTotal: 0,
                partTotal: 0,
                monthlyGrossTotal: 0,
                monthlyNetTotal: 0,
                payNetTotal: 0,
                hasPrev: 0

            }
            if (this.noCard && this.noCard.length) {
                this.noCard.forEach(item => {
                    total.grossTotal += item.gross
                    total.netTotal += item.net
                    total.szjaTotal += item.gross - item.net
                    total.partTotal += item.part
                    total.monthlyGrossTotal += item.monthly_price_gross
                    total.monthlyNetTotal += item.monthly_price_net
                    total.payNetTotal += item.net - item.part - item.monthly_price_net
                    total.hasPrev += (item.part) ? 1 : 0
                })
            }
            return total
        },
        monthlyTotal: function () {
            const total = {
                grossTotal: 0,
                netTotal: 0
            }
            if (this.monthly && this.monthly.length) {
                this.monthly.forEach(item => {
                    total.grossTotal += item.gross
                    total.netTotal += item.net
                })
            }
            return total
        }

    },
    mounted () {
        this.month = new Date()
        this.month.setMonth(this.month.getMonth() - 1)
        this.month = this.month.getFullYear() + '-' + ((this.month.getMonth() + 1 > 9) ? this.month.getMonth() + 1 : '0' + (this.month.getMonth() + 1))
        this.getPayScale()
    },
    watch: {
        month: {
            handler: function (val, oldVal) {
                if (val !== oldVal) {
                    this.getPayScale()
                }
            }
        }
    },
    methods: {
        getPayScale () {
            this.axios.get(this.url + '?month=' + this.month).then(resp => {
                this.hasCard = resp.data.hasCard
                this.noCard = resp.data.noCard
                this.monthly = resp.data.monthly
            })
        },
        fillEmailRecipient () {
            this.recipients = []
            this.noCard.forEach(item => {
                this.recipients.push({ name: item.student_name, email: item.student_email })
            })
        },
        sendEmail () {
            const self = this
            this.fillEmailRecipient()
            console.log(this.recipients)
            self.$eventHub.$emit('sendEmailModal', { recipients: this.recipients })
        },
        existStudent (studentId) {
            let target = false
            this.hasCard.forEach(i => {
                if (i.student_id === studentId) {
                    target = true
                }
            })
            this.noCard.forEach(i => {
                if (i.student_id === studentId) {
                    target = true
                }
            })
            return target
        },
        unitExport () {
            return this.url + '/' + this.month + '/export'
        }
    }
}
</script>
