<template>
  <div style = "">
    <div class = "alert alert-custom alert-white alert-shadow kt-portlet" role = "alert">
      <h3 class = "text-info">{{ $t('Jelenléti összesítő') }}</h3>
    </div>
    <div class = "kt-portlet">
      <div class = "kt-portlet__body">
        <div class = "kt-form kt-form--label-right">
          <div class = "kt-form__body">
            <div class="row">
              <div class="col-md-3"><FormMonthPicker title="Hónap" v-model="month" ></FormMonthPicker></div>
            </div>
            <div class = "row">
              <div class="col-md-12 mb-3">
                <h3 class = "text-white bg-success p-2">{{ $t('Cégek, akik használják') }}</h3>
                <table id="ossz" class="table table-striped  table-condensed table-bordered">
                  <thead>
                  <tr>
                    <th class="header">Cég/Tevékenység</th>
                    <th class="header">Diákok száma</th>
                    <th class="header">Doldgozókszáma</th>
                    <th class="header">Rögzített napok</th>
                    <th class="header">Össz. óra</th>
                    <th class="header">Cég jóváhagyva?</th>
                    <th class="header">Véglegesítve</th>
                    <th class="header">Részletek</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr v-for="(company,index) in companies.filter(f=>f.online_presence ===1)" v-bind:key="'row'+index">
                    <td>{{company.name}}</td>
                      <td>{{company.student}}</td>
                      <td>{{company.student_count}}</td>
                      <td>{{company.line}}</td>
                      <td>{{company.hours}}</td>
                    <td class="text-center"><i class="fa fa-check-circle fa-2x text-center text-success"  title="Jóváhagyva" v-if="company.approved == 0"></i>
                      <i class="fa fa fa-ban fa-2x text-danger   text-error" title="nincs jóváhagyva" v-if="company.approved != 0"></i>
                    </td>
                      <td class="text-center"><i class="fa fa-check-circle fa-2x text-center text-success"  title="véglegesítve" v-if="company.all == company.final"></i>
                        <i class="fa fa fa-ban fa-2x text-danger   text-error" title="nincs véglegesítve" v-if="company.all != company.final"></i>
                      </td>
                      <td><router-link :to="'/admin/fixing/presence/company/'+month+'/'+company.industry_id" class="btn btn-xs btn-info">Részletek</router-link>
                        <a v-if="company.all != company.final" class="btn btn-xs btn-warning" @click.prevent="approve(company.industry_id)" title="Véglegesítés"><i class="fa fa-check-circle "   ></i></a>
                        <a v-if="company.all != company.final && company.approved == 0" class="btn btn-xs btn-danger" @click.prevent="approveBan(company.industry_id)" title="Jóváhagyás visszavonás"><i class="fa fa fa-ban"   ></i></a>
                      </td>
                  </tr>
                  <tr>
                    <th class="header"></th>
                    <th class="header">{{ sum('student',1) }}</th>
                    <th class="header">{{ sum('student_count',1) }}</th>
                    <th class="header">{{ sum('line',1) }}</th>
                    <th class="header">{{ sum('hours',1) }}</th>
                    <th class="header"></th>
                    <th class="header"></th>
                    <th class="header"></th>
                  </tr>
                  </tbody>
                </table>
                </div>
              </div>

            <div class = "row">
              <div class="col-md-12 mb-3">
                <h3 class = " bg-warning p-2">{{ $t('Nem használják') }}</h3>
                <table id="ossz" class="table table-striped  table-condensed table-bordered">
                  <thead>
                  <tr>
                    <th class="header">Cég/Tevékenység</th>
                    <th class="header">Diákok száma</th>
                    <th class="header">Doldgozókszáma</th>
                    <th class="header">Rögzített napok</th>
                    <th class="header">Össz. óra</th>
                    <th class="header">Cég jóváhagyta?</th>
                    <th class="header">Véglegesítve</th>
                    <th class="header">Részletek</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr v-for="(company,index) in companies.filter(f=>f.online_presence !==1)" v-bind:key="'row'+index">
                    <td>{{company.name}}</td>
                    <td>{{company.student}}</td>
                    <td>{{company.student_count}}</td>
                    <td>{{company.line}}</td>
                    <td>{{company.hours}}</td>
                    <td class="text-center"><i class="fa fa-check-circle fa-2x text-center text-success"  title="Jóváhagyva" v-if="company.approved == 0"></i>
                      <i class="fa fa fa-ban fa-2x text-danger   text-error" title="nincs jóváhagyva" v-if="company.approved != 0"></i>
                    </td>
                    <td class="text-center"><i class="fa fa-check-circle fa-2x text-center text-success"  title="véglegesítve" v-if="company.all == company.final"></i>
                      <i class="fa fa fa-ban fa-2x text-danger   text-error" title="nincs véglegesítve" v-if="company.all != company.final"></i>
                    </td>
                    <td><router-link :to="'/admin/fixing/presence/company/'+month+'/'+company.industry_id" class="btn btn-xs btn-info">Részletek</router-link>
                      <a v-if="company.all != company.final" class="btn btn-xs btn-warning" @click.prevent="approve(company.industry_id)" title="Véglegesítés"><i class="fa fa-check-circle "   ></i></a>
                    </td>
                  </tr>
                  <tr>
                    <th class="header"></th>
                    <th class="header">{{ sum('student',0) }}</th>
                    <th class="header">{{ sum('student_count',0) }}</th>
                    <th class="header">{{ sum('line',0) }}</th>
                    <th class="header">{{ sum('hours',0) }}</th>
                    <th class="header"></th>
                    <th class="header"></th>
                    <th class="header"></th>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
import BaseDatatable from '../../../../../../resources/js/components/BaseDatatable'
import FormMonthPicker from '../../../../../../resources/js/components/form/FormMonthPicker'
import Price from '../../../../../../resources/js/components/Price'
import swal from 'sweetalert2'
export default {
    name: 'PrecenceCompany',

    components: { BaseDatatable, FormMonthPicker, Price },
    data () {
        return {
            month: null,
            companies: []

        }
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/fixing-summation`
        }
    },
    mounted () {
        this.month = new Date()
        this.month.setMonth(this.month.getMonth() - 1)
        this.month = this.month.getFullYear() + '-' + ((this.month.getMonth() + 1 > 9) ? this.month.getMonth() + 1 : '0' + (this.month.getMonth() + 1))
        if (localStorage.getItem('presentsMonth')) {
            this.month = localStorage.getItem('presentsMonth')
        }
        this.getPresens()
    },
    watch: {
        month: {
            handler: function (val, oldVal) {
                if (val !== oldVal) {
                    localStorage.setItem('presentsMonth', val)
                    this.getPresens()
                }
            }
        }
    },
    methods: {
        getPresens () {
            this.axios.get(this.url + '/presence/' + this.month).then(resp => {
                this.companies = resp.data.data
            })
        },
        sum (field, filter) {
            let count = 0
            if (filter === 1) {
                this.companies.filter(f => f.online_presence === filter).forEach(item => {
                    if (item[field]) {
                        count += item[field]
                    }
                })
            } else {
                this.companies.filter(f => f.online_presence !== 1).forEach(item => {
                    if (item[field]) {
                        count += item[field]
                    }
                })
            }
            return count
        },
        approve (industry) {
            const self = this
            swal.fire({
                title: this.$t('Biztosan véglegesíted a jelenlétiket?'),
                text: this.$t('A Művelet nem visszavonható'),
                type: 'warning',
                showCancelButton: !0,
                confirmButtonText: this.$t('Igen, véglegesítem!'),
                cancelButtonText: this.$t('Mégse!'),
                reverseButtons: !0
            }).then(function (e) {
                if (e.value) {
                    self.axios.post(self.url + '/finalize-presence/' + industry + '/' + self.month, {}).then(resp => {
                        self.getPresens()
                    })
                }
            })
        },
        approveBan (industry) {
            const self = this
            swal.fire({
                title: this.$t('Biztosan visszaállítod a cég jóváhagyását?'),
                text: this.$t('A Művelet nem visszavonható'),
                type: 'warning',
                showCancelButton: !0,
                confirmButtonText: this.$t('Igen, visszaállítom!'),
                cancelButtonText: this.$t('Mégse!'),
                reverseButtons: !0
            }).then(function (e) {
                if (e.value) {
                    self.axios.post(self.url + '/ban-presence/' + industry + '/' + self.month, {}).then(resp => {
                        self.getPresens()
                    })
                }
            })
        }

    }
}
</script>
