<template>
  <div style = "margin-top: -50px">
    <div class = "alert alert-custom alert-white alert-shadow kt-portlet" role = "alert">
      <h3 class = "text-info">{{ $t('Jelenléti összesítő') }}</h3>
    </div>
    <div class = "kt-portlet">
      <div class = "kt-portlet__body">
        <div class = "kt-form kt-form--label-right">
          <div class = "kt-form__body">
            <StudentPresents v-if="selectedStudent" :industry="selectedStudent.industry_id" :student="selectedStudent.student_id" :month="month"></StudentPresents>
            <div class="row">
              <div class="col-md-3"><FormMonthPicker title="Hónap" v-model="month" ></FormMonthPicker></div>
              <div class="col-md-9"> <router-link :to="{name:'FixingPersenceList'}" class="btn btn-warning">Vissza</router-link></div>
            </div>
            <div class = "row">
              <div class="col-md-12 mb-3" v-if="companies && companies.company">
                <h3> {{companies.company.name}}/{{companies.company.industry_name}}</h3>
              </div>
              <div class="col-md-12 mb-3">
                <table id="ossz" class="table table-striped  table-condensed table-bordered">
                  <thead>
                  <tr>
                    <th colspan="6" class="bg-success">Tölti a jelenlétit</th>
                  </tr>
                  <tr>
                    <th class="header">Azonosító</th>
                    <th class="header">Diák</th>
                    <th class="header">Adószám</th>
                    <th class="header">Cég jóváhagyta?</th>
                    <th class="header">Össz. óra</th>
                    <th class="header">Művelet</th>

                  </tr>
                  </thead>
                  <tbody  v-if="companies && companies.has_presence">
                  <tr v-for="(company,index) in companies.has_presence" v-bind:key="'row'+index">
                      <td>{{company.student_number}}</td>
                      <td>{{company.name}}</td>
                      <td>{{company.tax_number}}</td>
                      <td class="text-center"><i class="fa fa-check-circle fa-2x text-center text-success"  title="Jóváhagyva" v-if="company.approved == 0"></i>
                        <i class="fa fa fa-ban fa-2x text-danger   text-error" title="nincs jóváhagyva" v-if="company.approved != 0"></i>
                      </td>
                    <td>{{company.hours}}</td><td><button class="btn btn-primary btn-xs float-right" @click="openPresence(company)"><i class="fa fa-eye"></i> </button>
                      <a v-if="company.count != company.finalized" class="btn btn-xs btn-warning float-right" @click.prevent="approve(company.industry_id,company.student_id)" title="Véglegesítés"><i class="fa fa-check-circle "   ></i></a>
                      <a v-if="company.count != company.finalized && company.approved == 0" class="btn btn-xs btn-danger float-right" @click.prevent="approveBan(company.industry_id,company.student_id)" title="Jóváhagyás visszavonás"><i class="fa fa fa-ban"   ></i></a>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <table id="ossz2" class="table table-striped  table-condensed  mt-5">
                  <thead>
                  <tr>
                    <th colspan="3" class="bg-warning">Nem tölti a jelenlétit</th>
                  </tr>
                  <tr>
                    <th class="header">Azonosító</th>
                    <th class="header">Diák</th>
                    <th class="header">Adószám</th>

                  </tr>
                  </thead>
                  <tbody  v-if="companies && companies.not_has_presence">
                  <tr v-for="(company,index) in companies.not_has_presence" v-bind:key="'not-row'+index">
                    <td>{{company.student_number}}</td>
                    <td>{{company.name}}</td>
                    <td>{{company.tax_number}}</td>
                  </tr>
                  </tbody>
                </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
import BaseDatatable from '../../../../../../resources/js/components/BaseDatatable'
import FormMonthPicker from '../../../../../../resources/js/components/form/FormMonthPicker'
import Price from '../../../../../../resources/js/components/Price'
import StudentPresents from './StudentPresents'
import swal from 'sweetalert2'
export default {
    name: 'PresenceIndustry',

    components: { BaseDatatable, FormMonthPicker, Price, StudentPresents },
    data () {
        return {
            selectedStudent: null,
            month: null,
            companies: []

        }
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/fixing-summation`
        }
    },
    mounted () {
        if (!this.$route.params.month) {
            this.month = new Date()
            this.month.setMonth(this.month.getMonth() - 1)
            this.month = this.month.getFullYear() + '-' + ((this.month.getMonth() + 1 > 9) ? this.month.getMonth() + 1 : '0' + (this.month.getMonth() + 1))
        } else {
            this.month = this.$route.params.month
        }
        if (localStorage.getItem('presentsMonth')) {
            this.month = localStorage.getItem('presentsMonth')
        }
    },
    watch: {
        month: {
            handler: function (val, oldVal) {
                if (val !== oldVal) {
                    localStorage.setItem('presentsMonth', val)
                    this.selectedStudent = null
                    this.getPresens()
                }
            }
        }
    },
    methods: {
        getPresens () {
            this.axios.get(this.url + '/presence/' + this.month + '/' + this.$route.params.industry).then(resp => {
                this.companies = resp.data.data
            })
        },
        openPresence (student) {
            this.selectedStudent = null
            const self = this
            self.selectedStudent = student
            setTimeout(() => {
                window.$('#presensePrintModal').modal('show')
            }, 500)
        },
        approve (industry, student) {
            const self = this
            swal.fire({
                title: this.$t('Biztosan véglegesíted a jelenlétit?'),
                text: this.$t('A Művelet nem visszavonható'),
                type: 'warning',
                showCancelButton: !0,
                confirmButtonText: this.$t('Igen, véglegesítem!'),
                cancelButtonText: this.$t('Mégse!'),
                reverseButtons: !0
            }).then(function (e) {
                if (e.value) {
                    self.axios.post(self.url + '/finalize-presence/' + industry + '/' + self.month + '/' + student, {}).then(resp => {
                        self.getPresens()
                    })
                }
            })
        },
        approveBan (industry, student) {
            const self = this
            swal.fire({
                title: this.$t('Biztosan visszaállítod a cég jóváhagyását?'),
                text: this.$t('A Művelet nem visszavonható'),
                type: 'warning',
                showCancelButton: !0,
                confirmButtonText: this.$t('Igen, visszaállítom!'),
                cancelButtonText: this.$t('Mégse!'),
                reverseButtons: !0
            }).then(function (e) {
                if (e.value) {
                    self.axios.post(self.url + '/ban-presence/' + industry + '/' + self.month + '/' + student, {}).then(resp => {
                        self.getPresens()
                    })
                }
            })
        }

    }
}
</script>
