<template>
<div class="student-search" style="position:relative;margin-bottom: 15px;">
  <input v-model="search" @keypress="searchStudent" class="form-control" :placeholder="$t('Diák keresés...')" type="search">
  <ul class="autocomplete-result" v-if="list && list.length" style="position: absolute;
    background: white; width: 100%; top: 37px; z-index: 20;border: solid 1px silver;list-style: none;padding:5px" >
      <li class="cursor" @click="emitSelect(student)" v-for="student in list" v-bind:key="'student_search-'+student.id" style="padding: 5px; border-bottom: dashed 1px silver">
        {{student.name }} - {{student.tax_number}}
      </li>
  </ul>
</div>
</template>

<script>
export default {
    name: 'StudentSearch',
    data () {
        return {
            search: null,
            timeout: null,
            list: []
        }
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/student/index`
        }
    },
    methods: {
        searchStudent () {
            this.timout = null
            const self = this
            this.timout = setTimeout(() => {
                self.axios.get(self.url + '?search=' + self.search).then(resp => {
                    self.list = resp.data.data
                })
            })
        },
        emitSelect (student) {
            this.list = []
            this.search = student.name + ((student.tax_number) ? ' - ' + student.tax_number : '')
            this.$emit('select', student)
        }
    }
}
</script>

<style scoped>
.autocomplete-result li:hover{
  background: aliceblue;
  cursor: pointer;
}
</style>
