<template>
  <div class="modal fade" id="presensePrintModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="form" style="max-width:80%">
      <div class="modal-content">
        <div class="modal-header bg-warning">
          Jelenléti
        </div>
        <div class="row" >
            <div class="col-12">
              <table class="table table-bordered present-table presents" v-if="selectedPresent && selectedPresent.price_hourly ">
                <tr class="purple text-white">
                  <th class="text-center text-nowrap">Bér az alap órabérrel számolva</th>
                  <th class="text-center text-nowrap">MADS által véglegesített adatok</th>
                </tr>
                <tr>
                  <td class="text-center"><h1 class="h3 text-success"><Price :value="sum*selectedPresent.price_hourly"></Price></h1></td>
                  <td class="text-center">
                    <h1 class="h3 text-danger" v-if="selectedPresent.mads_all"><Price :value="selectedPresent.mads_all"></Price></h1>
                    <span v-if="!selectedPresent.mads_all" class="text-info">Az adatok még nem kerültek feldolgozásra</span>
                  </td>
                </tr>
              </table>
                <h2 style="font-size: 18px" class="text-left pl-2 mt-2 mb-2">
                  <b v-if="month!==0">{{month.split('-')[0]}}. {{months[parseInt(month.split('-')[1])]}}</b> -
                    <a :href="presenentsUrl" target="_blank" class=" btn btn-xs btn-warning ml-5 mr-2 pull-right">Letöltés pdf-ben</a><span class="bg-danger p-3 text-white pull-right"><b>összesen: {{sum}} óra</b></span></h2>
                <table class="table-bordered presents table table-bordered present-table">
                    <tr  class="purple text-white">
                        <th>#</th>
                        <th>Érkezés</th>
                        <th>Távozás</th>
                        <th  v-if="selectedPresent.industry_has_break">Szünet</th>
                        <th>Óra</th>
                    </tr>
                    <template v-for="(day) in selectedPresent.presents">
                        <tr  v-bind:key="'date-'+day.date" v-bind:class="{'bg-weekend':day.weekend}">
                        <th ><div  v-html="day.name"></div>
                        </th>
                            <td>
                              <span >{{selectedPresent.presents[day.date].start}}</span>
                            </td>
                            <td>
                                <span>{{selectedPresent.presents[day.date].end}}</span>
                            </td>
                            <td  v-if="selectedPresent.industry_has_break" >
                                <div class="d-inline-flex">
                                    <div><span >{{selectedPresent.presents[day.date].break_from}}</span>-<span >{{selectedPresent.presents[day.date].break_to}}</span></div>
                                </div>
                            </td>
                        <td>
                            {{selectedPresent.presents[day.date].hour}}
                        </td>
                        </tr>
                    </template>
                </table>

            </div>
            <div class="col-12"><hr class="separator"/></div>
        </div>
          <div class="modal-footer ">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Bezár</button>
          </div>
        </div>
      </div>
    </div>

</template>

<script>

import Price from '../../../../../../resources/js/components/Price'

export default {
    name: '',
    components: { Price },
    props: ['student', 'month', 'industry'],
    data () {
        return {
            presents: {},
            months: {
                1: 'Január',
                2: 'Február',
                3: 'Március',
                4: 'Április',
                5: 'Május',
                6: 'Június',
                7: 'Július',
                8: 'Augusztus',
                9: 'Szeptember',
                10: 'Október',
                11: 'November',
                12: 'December'
            },
            selectedPresent: {
                industry_id: 0
            },
            meta: null,
            links: null,
            attributes: null,
            page: 1,
            loaded: false
        }
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/fixing-summation`
        },
        sum: function () {
            let sum = 0
            if (!this.selectedPresent.presents) {
                return 0
            }
            Object.keys(this.selectedPresent.presents).forEach(key => {
                sum += this.selectedPresent.presents[key].hour
            })
            return sum.toFixed(2)
        },
        presenentsUrl () {
            return this.url + '/view-student-presence-pdf/' + this.student + '/' + this.industry + '/' + `${this.month}` + '?api_token=' + $cookies.get('token')
        },
        pageLanguage: function () {
            return this.$store.state.defaultStore.pageLanguage
        }
    },
    created () {
        this.getMyPresents()
    },
    watch: {
        '$store.state.defaultStore.pageLanguage': {
            handler: function (val, oldVal) {
            }
        },
        student: {
            handler: function (val, oldVal) {
                if (val !== oldVal) {
                    this.getMyPresents()
                    this.selectedPresent = {
                        industry_id: 0
                    }
                }
            }
        }
    },
    methods: {
        getMyPresents () {
            this.axios.get(this.url + '/view-student-presence/' + this.student + '/' + this.industry + '/' + this.month).then((resp) => {
                this.selectedPresent = resp.data[0]
            })
        },
        calculate_diff_hour (a, b, c = null, d = null) {
            if (!a || !b || a.includes(':') === false || b.includes(':') === false) {
                return 0
            }
            let minusHour = 0
            if (c && d && c.includes(':') > 0 && d.includes(':') > 0) {
                // Mindekettő benne van
                if (this.calculate_between(a, b, c) && this.calculate_between(a, b, d)) {
                    minusHour = this.calculate_diff_hour(c, d)
                }
                // eleje benne van vége nincs
                if (this.calculate_between(a, b, c) && !this.calculate_between(a, b, d)) {
                    minusHour = this.calculate_diff_hour(c, b)
                }
                // vége benne van eleje nincs
                if (!this.calculate_between(a, b, c) && this.calculate_between(a, b, d)) {
                    minusHour = this.calculate_diff_hour(a, d)
                }
            }
            a = (parseInt(a) * 60 + parseInt(a.substring(a.indexOf(':') + 1)))
            b = (parseInt(b) * 60 + parseInt(b.substring(b.indexOf(':') + 1)))
            let diff = b - a
            if (diff < 0) {
                diff += 1440
            }
            return (parseInt(100 * diff / 60) / 100) - minusHour
        },
        calculate_between (a, b, c) {
            if (!a || !b || !c || a.includes(':') === false || b.includes(':') === false || c.includes(':') === false) {
                return 0
            }
            a = (parseInt(a) * 60 + parseInt(a.substring(a.indexOf(':') + 1)))
            b = (parseInt(b) * 60 + parseInt(b.substring(b.indexOf(':') + 1)))
            c = (parseInt(c) * 60 + parseInt(c.substring(c.indexOf(':') + 1)))
            if (a === b) {
                return false
            }
            if (b < a) {
                return (a <= c && 23 * 60 + 59 >= c) || (c >= 0 && b >= c)
            } else {
                return a <= c && b >= c
            }
        }
    }
}
</script>
<style>
.bg-weekend{
    background: #8fcba3 !important
}
td input{
    border:solid 1px silver !important;
    max-width: 120px;
    margin-top: 0px !important;
    background: white !important;
}
.present .input-group-append {
    margin-left: -1px;
    height: 43px;
}
.present .form-group {
    margin-bottom: 0rem;
}
.table td {
    padding: 0.35rem !important;
}
.bootstrap-timepicker-widget{
    display: none !important;
}

</style>
