<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-12">
        <div class="kt-portlet kt-portlet--height-fluid">
          <div class="row">
            <div role="alert" class="alert alert-custom alert-white alert-shadow kt-portlet col-12"><h3 class="text-info">Bevétel statisztika</h3></div>
            <div class="col-md-2">
             <FormMonthPicker title="Hónap" @change="getData" v-model="month"></FormMonthPicker>
            </div>
          </div>
          <div class="kt-portlet__body">
            <div class="table-responsive">
              <table class="table table-bordered table-condensed" v-if="data">
                <tr>
                  <th class="cursor-pointer nowrap" @click="sortList('student_name')"><i class="fa fa-fw fa-sort pull-right" ></i>Diák </th>
                  <th class="cursor-pointer nowrap" @click="sortList('student_number')"><i class="fa fa-fw fa-sort pull-right" ></i>MADS azonosító</th>
                  <th class="cursor-pointer nowrap" @click="sortList('company_name')"><i class="fa fa-fw fa-sort pull-right" ></i>Cég</th>
                  <th class="cursor-pointer nowrap" @click="sortList('industry_name')"><i class="fa fa-fw fa-sort pull-right" ></i>Tevékenység</th>
                  <th class="cursor-pointer nowrap" @click="sortList('pm')"><i class="fa fa-fw fa-sort pull-right" ></i>Pm</th>
                  <th class="cursor-pointer nowrap" @click="sortList('fixing')"><i class="fa fa-fw fa-sort pull-right" ></i>Rögzítve</th>
                </tr>
                <tr v-for="(user2,index) in data" v-bind:key="'pm-'+index" >
                  <td >{{user2.student_name}}</td>
                  <td class="text-nowrap">{{ user2.student_number }}</td>
                  <td class="">{{ user2.company_name }}</td>
                  <td class="">{{ user2.industry_name }}</td>
                  <td class="text-nowrap">{{ user2.pm }}</td>
                  <td class="text-nowrap" v-bind:class="{'bg-success':user2.fixing,'bg-danger':!user2.fixing}">{{ user2.fixing?'IGEN':'NEM' }}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import FormMonthPicker from '../../../../../../resources/js/components/form/FormMonthPicker.vue'
import Price from '../../../../../../resources/js/components/Price.vue'
import FormInput from '../../../../../../resources/js/components/form/FormInput.vue'
import FormSelect from '../../../../../../resources/js/components/form/FormSelect.vue'

export default {
    name: 'WorkerStatistic',
    components: { FormMonthPicker, Price, FormInput, FormSelect },

    computed: {
        adminUrl: function () {
            return process.env.MIX_ADMIN_URL
        },

        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}`
        },
        getLink: function () {
            let query = ''
            if (this.year) {
                query += 'year=' + this.year + '&'
            }
            return this.url + '/fixing/student-worker-statistic/excel?' + query + '&api_token=' + $cookies.get('token')
        }

    },
    data () {
        return {
            start: null,
            month: null,
            end: null,
            data: null,
            year: new Date().getFullYear(),
            type: 1,
            company_name: null,
            sales: null,
            user_id: null,
            contract_date: null,
            sort: '',
            direction: '',
            users: [],
            years: {}
        }
    },
    watch: {

    },
    created () {
        this.getData()
    },
    methods: {
        getData () {
            if (!this.month) {
                this.month = new Date().getFullYear() + (new Date().getMonth() + 1 < 10 ? '0' + (new Date().getMonth() + 1) : (new Date().getMonth() + 1))
            }
            this.axios.get(this.url + '/fixing/student-worker-statistic/' + this.month).then((response) => {
                this.data = []
                Object.keys(response.data.data).forEach(item => {
                    this.data.push(response.data.data[item])
                })
                this.users = response.data.users
            })
        },
        getQuery () {
            let query = ''

            if (this.sort) {
                query += '&sort=' + this.sort + ',' + this.direction
            }
            return query
        },
        sortList (name) {
            if (!this.direction) {
                this.direction = 'asc'
            }
            const self = this
            this.data = this.data.sort(function (a, b) {
                if (name !== 'fixing') {
                    if (self.direction === 'asc') {
                        return (a[name] == null ? '' : a[name]).localeCompare((b[name] == null ? '' : b[name]))
                    } else {
                        return (b[name] == null ? '' : b[name]).localeCompare((a[name] == null ? '' : a[name]))
                    }
                } else {
                    if (self.direction === 'asc') {
                        return (a[name] === b[name]) ? 0 : a[name] ? -1 : 1
                    } else {
                        return (a[name] === b[name]) ? 0 : a[name] ? 1 : -1
                    }
                }
            })
            this.direction = (this.direction === 'asc') ? 'desc' : 'asc'
        },
        sum (key) {
            let sum = 0
            Object.keys(this.data).forEach(ite => {
                sum += (this.data[ite][key] > 0) ? parseInt(this.data[ite][key]) : 0
            })
            return sum
        }
    }
}
</script>
