<template>
  <div>
    <div class="alert alert-custom alert-white alert-shadow kt-portlet" role="alert">

      <h3 class="text-info">{{ $t('Havi megrendelések') }}</h3>
    </div>
    <div class="kt-portlet">
      <div class="kt-portlet__body">
        <div class="kt-form kt-form--label-right">
          <div class="kt-form__body">
            <div class="row">
              <div class="col-md-6">
                <FormSelect v-model="model.company_id" :title="$t('Cég')"  :select2="true" v-if="model && model.selectables && model.selectables.companies" :options="model.selectables.companies"></FormSelect>
              </div>
              <div class="col-md-6">
                <FormMonthPicker v-model="model.month" :itle="$t('Hónap')"></FormMonthPicker>
              </div>
              <div class="col-md-6">
                <FormNumberInput v-model="model.student_count" :title="$t('Diákok')"></FormNumberInput>
              </div>
              <div class="col-md-6">
                <FormSelect v-model="model.type" :title="$t('Típus')"  :options="{1:'Alkalmi',2:'Folyamatos'}"></FormSelect>
              </div>

              <div class="col-md-6">
                <FormSelect v-model="model.status" :title="$t('Állapot')" v-if="model && model.selectables && model.selectables.status" :options="model.selectables.status"></FormSelect>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import FormSelect from '../../../../../../resources/js/components/form/FormSelect'
import FormInput from '../../../../../../resources/js/components/form/FormInput'
import FormDatePicker from '../../../../../../resources/js/components/form/FormDatePicker'
import FormMonthPicker from '../../../../../../resources/js/components/form/FormMonthPicker'
import FormNumberInput from '../../../../../../resources/js/components/form/FormNumberInput'

export default {
    name: 'MonthlyOrdersForm',
    props: {
        url: {
            required: true,
            type: String
        },
        model: {
            required: true,
            type: Object
        }
    },
    data () {
        return {}
    },
    computed: {
        languages: function () {
            const l = []
            for (const it in this.$store.state.defaultStore.languages) {
                l.push(it)
            }
            return l
        }
    },
    components: { FormSelect, FormInput, FormDatePicker, FormMonthPicker, FormNumberInput },
    methods: {},
    created () {
    },
    mounted () {
    }
}
</script>
