<template>
  <div class="nowrap">
    <div class="dropdown d-inline">
      <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Állapot váltás
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a   class="dropdown-item" @click.prevent="changeStatus(data.id,1)" href="#">Nem volt munkavégzés</a>
        <a   class="dropdown-item" @click.prevent="changeStatus(data.id,2)" href="#">Adatok bekérése folymatban</a>
        <a   class="dropdown-item" @click.prevent="changeStatus(data.id,3)" href="#">Adatok bekérve</a>
        <a   class="dropdown-item" @click.prevent="changeStatus(data.id,7)" href="#">Adatok bekérve, rögzítés után számlázható</a>
        <a   class="dropdown-item" @click.prevent="changeStatus(data.id,8)" href="#">Adatok bekérve, rögzítés után elszámolást kell küldeni</a>
        <a   class="dropdown-item" @click.prevent="changeStatus(data.id,9)" href="#">Rögzítve, elszámolást kell küldeni</a>
        <a   class="dropdown-item" @click.prevent="changeStatus(data.id,4)" href="#">Számlázható</a>
        <a   class="dropdown-item" @click.prevent="changeStatus(data.id,5)" href="#">Számlázva</a>
        <a   class="dropdown-item" @click.prevent="changeStatus(data.id,6)" href="#">Lezárva</a>
      </div>
    </div>
    <DeleteConfirm v-on:delete="deleteProject(data.id)"></DeleteConfirm>
    <router-link class="btn btn-sm btn-primary" :to="'edit/'+data.id" ><i class="fa fa-edit"></i> </router-link>
    <button @click="openCampaignModal(data.company_id)" class="btn btn-warning btn-sm" title="Cég kampányhoz rendelése"><i class="flaticon-graph"></i></button>
  </div>
</template>

<script>

import DeleteConfirm from '../../../../../../resources/js/components/DeleteConfirm'
export default {
    name: 'MonthlyOrderAction',
    props: ['data', 'componentProps'],
    components: { DeleteConfirm },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/monthlyorders/`
        }
    },
    methods: {
        deleteProject (id) {
            this.axios.delete(this.url + 'delete/' + id).then(() => {
                this.$emit('refresh', true)
            })
        },
        changeStatus (id, status) {
            this.axios.post(this.url + 'change-status/' + id, { status }).then(() => {
                this.$emit('refresh', true)
            })
        },
        openCampaignModal (id) {
            this.$eventHub.$emit('campaignModal', id)
        }
    }
}
</script>
