<template>
    <MonthlyOrdersForm v-if="Object.keys(model).length > 0" :url="url" :model="model"></MonthlyOrdersForm>
</template>

<script>
import MonthlyOrdersForm from './MonthlyOrdersForm'
import MonthlyOrders from './MonthlyOrders'

export default {
    name: 'MonthlyOrdersCreate',
    extends: MonthlyOrders,
    data () {
        return {
            model: {}
        }
    },
    components: { MonthlyOrdersForm },
    beforeMount: function () {
        this.handleCreate('monthly-orders', this.url, {})

        this.getMonthlyOrders()
    }
}
</script>
