<template>
    <div>
      <div class="alert alert-custom alert-white alert-shadow kt-portlet" role="alert">
        <div class="row">
          <div class="col-md-8">
        <h3 class="text-info">{{ $t('Havi megrendelések') }}</h3>
          </div>
          <div class="col-md-4">
          <button class="btn btn-info pull-right" @click="myProject()"> Átemelelés a projektjeimből</button>
            <FormMonthPicker class="pull-right" v-model="month" :title="'Hónap'"></FormMonthPicker>
          </div></div>
      </div>
      <div class="modal fade" id="campaignModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content ">
            <div class="modal-header bg-warning">
              <h5 class="modal-title">Cég kampányhoz rendelése</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i aria-hidden="true" class="ki ki-close"></i>
              </button>
            </div>
            <div class="modal-body p-4" >
              <div class="row">
                <div class="col-md-12">
                  <FormAutocomplete  attributeKey="id" attributeValue="name" :url="'/api/v1/campaig/index'" v-model="campaign.campaign_id" :title="'Kampány'"></FormAutocomplete>
                </div>
                <div class="col-md-12">
                  <FormSelectCheckbox :select2="true"  v-model = "campaign.services" :title = "$t('Milyen szolgáltatások érdeklik')" :options = "{'diák':'diák', 'főállású':'főállású', 'kölcsönzés':'kölcsönzés', 'közvetítés':'közvetítés', 'nyugdíjkas':'nyugdíjkas'}"></FormSelectCheckbox>
                </div>
                <div class="col-md-12"><FormAutocomplete :title="'Kapcsolattartó'" attributeKey="id" attributeValue="name" :url="'/api/v1/user/index'" v-model="campaign.user_id" ></FormAutocomplete></div>
              </div>
              <div class="modal-footer ">
                <button type="button" class="btn btn-success"  @click="addCompany">Cég hozzárendelése</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Mégse</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <BaseDatatable class="mb-5" v-if="loaded" :noResponsive="true" :multiple-actions="multipleAction" :module="`monthlyorders`" :apiurl="url" :list-url="`${url}/index`" :fields="fields"></BaseDatatable>
      </div>
    </div>
</template>

<script>
import BaseDatatable from '../../../../../../resources/js/components/BaseDatatable'
import FormMonthPicker from '../../../../../../resources/js/components/form/FormMonthPicker'
import FormAutocomplete from '../../../../../../resources/js/components/form/FormAutocomplete.vue'
import FormSelectCheckbox from '../../../../../../resources/js/components/form/FormSelectCheckbox.vue'
export default {
    name: 'MonthlyOrdersList',
    props: ['url'],
    components: { FormSelectCheckbox, FormAutocomplete, BaseDatatable, FormMonthPicker },
    data () {
        return {
            campaign: {
                user_id: null,
                services: null,
                company_id: null,
                campaign_id: null
            },
            month: null,
            loaded: true,
            multipleAction: {

            },
            apiurl: this.url,
            fields: [
                {
                    name: 'company_name',
                    sortField: 'company_id',
                    title: this.$translate.t('Cég')
                },
                {
                    name: 'type',
                    sortField: 'type',
                    title: this.$translate.t('Típus')
                },
                {
                    name: 'user_name',
                    sortField: 'user_id',
                    title: this.$translate.t('Felelős')
                },
                {
                    name: 'month',
                    sortField: 'month',
                    title: this.$translate.t('Hónap')
                },
                {
                    name: 'student_count',
                    sortField: 'student_count',
                    title: this.$translate.t('Diák')
                },
                {
                    name: 'status',
                    sortField: 'status',
                    title: this.$translate.t('Állapot')
                },
                {
                    name: '__slot:component',
                    componentName: 'MonthlyOrderAction',
                    title: this.$translate.t('Művelet')
                }
            ]
        }
    },
    methods: {
        myProject () {
            this.axios.post(this.url + '/fill-project' + ((this.month) ? '/' + (this.month) : ''), { }).then(() => {
                this.$emit('refresh', true)
            })
        },
        addCompany () {
            this.axios.post(this.url.replace('monthlyorders', 'campaig') + '/add-company', this.campaign).then((response) => {
                window.$('#campaignModal').modal('hide')
            }).catch(() => {
            })
        }

    },
    mounted () {
        const self = this
        this.$eventHub.$on('campaignModal', function (id) {
            self.campaign.company_id = id
            window.$('#campaignModal').modal('show')
        })
    }
}
</script>
