<template>
  <div>
    <div class="modal fade" id="industryModal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-xxlarge modal-dialog-centered" role="document">
        <div class="modal-content ">
          <div class="modal-header bg-warning">
            <h5 class="modal-title">Tevékenységek</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <i aria-hidden="true" class="ki ki-close"></i>
            </button>
          </div>
          <div class="modal-body p-4">
            <div class="row">
            <div class="col-4">
              <FormInput v-model="localModel.name" :title="'Egyedi azonosító'"></FormInput>
            </div>
              <div class="col-4">
                <FormInput v-model="localModel.teaor" :title="'Tevékenység'" ></FormInput>
              </div>

              <div class="col-2">
                <FormInput v-model="localModel.work_schedule" :title="'Munkarend'"></FormInput>
              </div>
              <div class="col-2">
                <FormSelect v-model="localModel.region" :title="'Régió'" :options="{'':'Válassz','1':'Közép','2':'Kelet','3':'Nyugat'}"></FormSelect>
              </div>
              <div class="col-4">
                <FormSelect v-if="selectables.contact" v-model="localModel.contact_id" :title="'Utasítást adó személy'" :select2="true" :options="selectables.contact"></FormSelect>
              </div>
              <div class="col-4">
                <FormSelect v-model="localModel.feor_id" :title="'FEOR'" :select2="true" :options="selectables.feor"></FormSelect>
              </div>
              <div class="col-4">
                <FormSelect v-model="localModel.site_id" :title="'Telephely/Munkavégzés helye'" :select2="true" :options="selectables.site"></FormSelect>
              </div>
              <div class="col-4">
                <FormSelect v-if="selectables.users" v-model="localModel.user_id" :title="'Projekt felelős'" :select2="true" :options="selectables.users"></FormSelect>
              </div>
              <div class="col-4">
                <FormSelect v-if="selectables.users" v-model="localModel.user2_id" :title="'2. Projekt felelős'" :select2="true" :options="selectables.users"></FormSelect>
              </div>
              <div class="col-4">
                <FormSelect v-model="localModel.work_category_id" :title="'Kategória'" :select2="true" :options="selectables.work_category"></FormSelect>
              </div>
              <div class="col-4">
                <FormSelect v-model="localModel.recruiter" :title="'Toborzó'"  :options="{'MADS':'MADS','AMREST':'AMREST'}"></FormSelect>
              </div>
              <div class="col-4">
                <FormInput v-model="localModel.cost_center" :title="'Cost center'"></FormInput>
              </div>
              <div class="col-4">
                <FormInput v-model="localModel.amrest_position" :title="'Amrest pozició'"></FormInput>
              </div>
              <div class="col-4">
                <FormSelect v-model="localModel.medical_certificate" :title="'EÜ kiskönyv szükséges'" :options="{'0':'Cég szerint','1':'Orvosi vizsgálat szükséges','2':'Eü kiskönyv szükséges'}"></FormSelect>
              </div>
              <div class="col-12">
                <h3>Bér</h3>
              </div>
              <div class="col-3">
                <FormNumberInput v-on:change="calculateCompanyPrice()"   v-model="localModel.price_hour" :title="'Diák  órabér (bruttó) '"></FormNumberInput>
              </div>
              <div class="col-2">
                <FormNumberInput v-on:change="calculateCompanyPrice()"   v-model="localModel.divisor" :title="'Osztó'"></FormNumberInput>
              </div>
              <div class="col-2">
                <FormNumberInput v-on:change="calculateCompanyPrice()" v-model="localModel.multiplier" :title="'Szorzó'"></FormNumberInput>
              </div>
              <div class="col-3">
                <FormNumberInput  v-model="localModel.price_company_hour" :title="'Cég  órabér (bruttó) '"></FormNumberInput>
              </div>
              <div class="col-2">
                <FormNumberInput  v-model="localModel.price_company_hourly" :title="'Cég  óránkénti bér'"></FormNumberInput>
              </div>
              <div class="col-3">
                <FormNumberInput  v-model="localModel.price_company_fix" :title="'Cég fix %-os szorzó'"></FormNumberInput>
              </div>
              <div class="col-3">
                  <FormSelect  v-model="localModel.hourly_algorithm" :title="'Rögzítés algoritmus'"  :options="{0:'Osztó vagy Szorzó alapján számol',1:'Mindig az óránként bérrel számol'}"></FormSelect>
              </div>
              <div class="col-6 text-warning text-right" style="font-size:25px">
                Számlázandó: <br>
                <br>
                <Price style="font-size: 40px;font-weight:bold" :value="Math.ceil(localModel.price_hour+localModel.price_company_hourly)"></Price>
              </div>
              <div class="col-12">
                <h3>Bónuszok</h3>
                <h4>Kalkuláció:</h4> <i class="text-info">(Diák órabér * óraszám) + (Diák órabér*bónusz szorzó * bónuszóra) + fix + <br/>
                                   (Cég órákénti bér * óraszám) + (Cég órákénti bér * cég bónusz szorzó * bónuszóra)+ (fix*cég fix szorzó) =<br/>
                              számlázandó (Az óraszám tartalmazza a szünet levonását)
                </i>
                <h4>Szorzó:</h4> <i class="text-info">30% => 1,3, 100% => 2
              </i>
              </div>
              <div class="col-3">
                <FormNumberInput inputClass="no-position" v-model="localModel.night_bonus" :title="'Éjszakai bónusz(szorzó)'"></FormNumberInput>
                <b v-if="localModel.night_bonus"  class="text-danger"><Price :value="localModel.price_hour*localModel.night_bonus"></Price></b>
              </div>
              <div class="col-3">
                <FormNumberInput inputClass="no-position" v-model="localModel.night_bonus_company" :title="'Éjszakai bónusz cég(szorzó)'" ></FormNumberInput>
                <b v-if="localModel.night_bonus"  class="text-danger"><Price :value="localModel.price_company_hourly*localModel.night_bonus_company"></Price></b>
              </div>
              <div class="col-2">
                <b v-if="localModel.night_bonus" style="font-size:20px" class="text-danger">Diák bruttó számlázandó:<br><Price :value="Math.ceil(localModel.price_hour*localModel.night_bonus + localModel.price_company_hourly*localModel.night_bonus_company)"></Price></b>
              </div>
              <div class="col-2">
                <FormTimePicker inputClass="no-position" v-model="localModel.night_bonus_from" :title="'Kezdete'"></FormTimePicker>
              </div>
              <div class="col-2">
                <FormTimePicker inputClass="no-position" v-model="localModel.night_bonus_to" :title="'Vége'"></FormTimePicker>
              </div>
              <div class="col-12"><hr/></div>
              <div class="col-3">
                <FormNumberInput inputClass="no-position" v-model="localModel.saturday_bonus" :title="'Szombati bónusz(szorzó)'"></FormNumberInput>
                <b v-if="localModel.saturday_bonus"  class="text-danger"><Price :value="localModel.price_hour*localModel.saturday_bonus"></Price></b>
              </div>
              <div class="col-3">
                <FormNumberInput inputClass="no-position" v-model="localModel.saturday_bonus_company" :title="'Szombati bónusz cég(szorzó)'"  ></FormNumberInput>
                <b v-if="localModel.saturday_bonus_company"  class="text-danger"><Price :value="localModel.price_company_hourly*localModel.saturday_bonus_company"></Price></b>
              </div>
              <div class="col-2">
                <b v-if="localModel.saturday_bonus" style="font-size:20px" class="text-danger">Diák bruttó számlázandó:<br><Price :value="Math.ceil(localModel.price_hour*localModel.saturday_bonus + localModel.price_company_hourly*localModel.saturday_bonus_company)"></Price></b>
              </div>
              <div class="col-2">
                <FormTimePicker inputClass="no-position" v-model="localModel.saturday_bonus_from" :title="'Kezdete'"></FormTimePicker>
              </div>
              <div class="col-2">
                <FormTimePicker inputClass="no-position" v-model="localModel.saturday_bonus_to" :title="'Vége'"></FormTimePicker>
              </div>
              <div class="col-12"><hr/></div>
              <div class="col-3">
                <FormNumberInput inputClass="no-position" v-model="localModel.sunday_bonus" :title="'Vasárnapi bónusz(szorzó)'"></FormNumberInput>
                <b v-if="localModel.sunday_bonus" class="text-danger"><Price :value="localModel.price_hour*localModel.sunday_bonus"></Price></b>
              </div>
              <div class="col-3">
                <FormNumberInput inputClass="no-position" v-model="localModel.sunday_bonus_company" :title="'Vasárnapi bónusz cég(szorzó)'"  ></FormNumberInput>
                <b v-if="localModel.sunday_bonus_company" class="text-danger"><Price :value="localModel.price_company_hourly*localModel.sunday_bonus_company"></Price></b>
              </div>
              <div class="col-2">
                <b v-if="localModel.sunday_bonus" style="font-size:20px" class="text-danger">Diák bruttó számlázandó:<br><Price :value="Math.ceil(localModel.price_hour*localModel.sunday_bonus + localModel.price_company_hourly*localModel.sunday_bonus_company)"></Price></b>
              </div>
              <div class="col-2">
                <FormTimePicker inputClass="no-position" v-model="localModel.sunday_bonus_from" :title="'Kezdete'"></FormTimePicker>
              </div>
              <div class="col-2">
                <FormTimePicker inputClass="no-position" v-model="localModel.sunday_bonus_to" :title="'Vége'"></FormTimePicker>
              </div>
              <div class="col-12"><hr/></div>
              <div class="col-3">
                <FormNumberInput inputClass="no-position" v-model="localModel.festive_bonus" :title="'Ünnepi bónusz(szorzó)'"></FormNumberInput>
                <b v-if="localModel.festive_bonus" class="text-danger"><Price :value="localModel.price_hour*localModel.festive_bonus"></Price></b>
              </div>
              <div class="col-3">
                <FormNumberInput inputClass="no-position" v-model="localModel.festive_bonus_company" :title="'Ünnepi bónusz cég(szorzó)'" ></FormNumberInput>
                <b v-if="localModel.festive_bonus_company" class="text-danger"><Price :value="localModel.price_company_hourly*localModel.festive_bonus_company"></Price></b>
              </div>
              <div class="col-2">
                <b v-if="localModel.sunday_bonus" style="font-size:20px" class="text-danger">Diák bruttó számlázandó:<br>
                  <Price :value="Math.ceil(localModel.price_hour*localModel.festive_bonus + localModel.price_company_hourly*localModel.festive_bonus_company)"></Price></b>
              </div>
              <div class="col-2">
                <FormTimePicker inputClass="no-position" v-model="localModel.festive_bonus_from" :title="'Kezdete'"></FormTimePicker>
              </div>
              <div class="col-2">
                <FormTimePicker inputClass="no-position" v-model="localModel.festive_bonus_to" :title="'Vége'"></FormTimePicker>
              </div>
              <div class="col-4">
                <FormSelect inputClass="no-position" v-model="localModel.break" :title="'Fizetett szünet'"  :options="{0:'Fizetve',1:'Nincs fizetve'}"></FormSelect>
              </div>
              <div class="col-4" v-if="localModel.break === '1'">
                <FormTimePicker inputClass="no-position" v-model="localModel.break_from" :title="'Kezdete'"></FormTimePicker>
              </div>
              <div class="col-4"  v-if="localModel.break === '1'">
                <FormTimePicker inputClass="no-position" v-model="localModel.break_to" :title="'Vége'"></FormTimePicker>
              </div>
          </div>
          <div class="modal-footer ">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Mégse</button>
            <button type="button" class="btn btn-success" @click="save()">Hozzáad</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</template>

<script>
import FormInput from '../../../../../../../resources/js/components/form/FormInput'
import FormSelect from '../../../../../../../resources/js/components/form/FormSelect'
import FormTimePicker from '../../../../../../../resources/js/components/form/FormTimePicker'
import FormNumberInput from '../../../../../../../resources/js/components/form/FormNumberInput'
import Price from '../../../../../../../resources/js/components/Price'
export default {
    name: 'IndustryForm',
    props: {
        selectables: {},
        url: {
            required: true,
            type: String
        },
        model: {
            required: true,
            type: Object
        }
    },
    components: { FormInput, FormSelect, FormTimePicker, FormNumberInput, Price },
    data () {
        return {
            localModel: {},
            startCalc: false
        }
    },
    watch: {
        model: {
            handler: function (val, oldVal) {
                if (val !== oldVal) {
                    this.localModel = val
                    this.startCalc = true
                }
            },
            deep: true
        }
    },
    methods: {
        save () {
            if (this.model.id) {
                this.axios.post(this.url + '/edit/' + this.model.id, this.localModel).then(() => {
                    this.$emit('refresh', true)
                    window.$('#industryModal').modal('hide')
                })
            } else {
                this.axios.put(this.url + '/edit', this.localModel).then(() => {
                    this.$emit('refresh', true)
                    window.$('#industryModal').modal('hide')
                })
            }
        },
        calculateCompanyPrice () {
            if (this.startCalc) {
                this.localModel.price_company_hour = this.localModel.price_hour
                if (this.localModel.divisor && this.localModel.divisor !== 0) {
                    this.localModel.price_company_hour = parseInt(100 * this.localModel.price_hour / this.localModel.divisor) / 100
                    this.localModel.price_company_hourly = Math.ceil(this.localModel.price_company_hour - this.localModel.price_hour)
                    return
                }
                if (this.localModel.multiplier) {
                    this.localModel.price_company_hour = parseInt(this.localModel.price_hour * this.localModel.multiplier * 100) / 100
                    this.localModel.price_company_hourly = Math.ceil(this.localModel.price_company_hour - this.localModel.price_hour)
                }
            }
        }
    },

    created () {},
    mounted () {}
}
</script>
