<template>
  <div class = "col-12">
    <div>
      <button class = "btn btn-success" @click="openIndustryModal()">Új tevékenység</button>
      <button class = "btn btn-info float-right" @click="saveOrder()">Sorrend mentése</button>
    </div>
    <IndustryForm :selectables="selectables" :url="url" v-on:refresh="getIndustry" :model = "selected"></IndustryForm>
    <div class = "table-responsive">
      <table class = "table table-bordered table-responsive0">

        <tr>
          <th>Telephely neve</th>
          <th>Munkavégzés helye</th>
          <th>Projektek száma </th>
          <th>Dolgozók száma </th>
          <th>Igényelt létszám </th>
          <th>Teljesítés % </th>
          <th>Művelet</th>
        </tr>

        <draggable v-if="list" v-model="list" tag="tbody" :options="{forceFallback: true,}" @change="onChange">
          <template v-for = "item in list">
        <tr  v-if="item.archive==0" v-bind:key = "'Industry-'+item.id">
          <td>{{ item.name }}</td>
          <td>{{ item.work_location }}</td>
          <td>{{ item.project_count }}</td>
          <td>{{ item.student_count }}</td>
          <td>{{ item.number_of_employees }}</td>
          <td>{{ (item.number_of_employees>0)?parseInt((item.student_count/item.number_of_employees)*100,0):0 }}%</td>
          <td>
            <button class="btn btn-outline btn-sm btn-primary" title="Szerkesztés" @click="openIndustryModal(item)"><i  class="la la-edit"></i></button>
            <button class="btn btn-outline btn-sm btn-warning" title="Másolás" @click="openIndustryModalCopy(item)"><i  class="la la-copy"></i></button>
            <DeleteConfirm v-on:delete="deleteIndustry(item.id)"></DeleteConfirm>
            <button  title="Archivál" class="btn btn-sm btn-outline-danger" @click="archiveIndustry(item.id)"><i class="fa fa fa-archive"></i></button>
          </td>
        </tr>
          </template>
        </draggable>
        <tr v-if="countArchive">
          <td colspan="8" class="bg-danger text-center"><h1>Archiválva</h1></td>
        </tr>
        <template v-for = "item in list">
          <tr  v-if="item.archive==1" v-bind:key = "'Industry-'+item.id">
            <td>{{ item.name }}</td>
            <td>{{ item.work_location }}</td>
            <td>{{ item.project_count }}</td>
            <td>{{ item.student_count }}</td>
            <td>{{ item.number_of_employees }}</td>
            <td>{{ (item.number_of_employees>0)?parseInt((item.student_count/item.number_of_employees)*100,0):0 }}%</td>
            <td>
              <button class="btn btn-outline btn-sm btn-primary" title="Szerkesztés" @click="openIndustryModal(item)"><i  class="la la-edit"></i></button>
              <button  title="Archiválás törlése" class="btn btn-sm btn-outline-success" @click="deleteArchiveIndustry(item.id)"><i class="fa fa fa-archive"></i></button>
            </td>
          </tr>
        </template>
        <tr v-if="!list.length">
          <td colspan="7" class="text-center">Nincs adat</td>
        </tr>
      </table>
    </div>
  </div>
</template>

<script>
import IndustryForm from './IndustryForm'
import DeleteConfirm from '../../../../../../../resources/js/components/DeleteConfirm'

export default {
    name: 'IndustryList',
    props: ['company_id', 'company'],
    components: { IndustryForm, DeleteConfirm },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/industry`
        },
        countArchive: function () {
            if (this.list && this.list.filter(i => i.archive === 1).length) {
                return true
            }
            return false
        }
    },
    data () {
        return {
            list: [],
            temp: [],
            selectables: [],
            fields: {},
            selected: {}
        }
    },
    methods: {
        getIndustry () {
            this.axios.get(this.url + '/list/' + this.company_id).then(resp => {
                this.list = resp.data.data
                this.temp = JSON.parse(JSON.stringify(this.list))
                if (!this.selectables || !this.selectables.site) {
                    this.selectables = resp.data.selectables
                }
                this.$emit('refresh')
            })
        },

        openIndustryModal (model) {
            if (!model) {
                this.selected = {}

                this.selected.company_id = this.company_id
                this.axios.get(this.url + '/show/0').then(resp => {
                    this.selected = resp.data.data
                    this.selected.company_id = this.company_id
                    this.selected.user_id = this.company.user_id
                    window.$('#industryModal').modal('show')
                })
            } else {
                this.selected = JSON.parse(JSON.stringify(model))
                window.$('#industryModal').modal('show')
            }
        },
        openIndustryModalCopy (model) {
            this.selected = JSON.parse(JSON.stringify(model))
            this.selected.id = null

            window.$('#industryModal').modal('show')
        },
        deleteIndustry (id) {
            this.axios.delete(this.url + '/delete/' + id).then(resp => {
                this.getIndustry()
            })
        },
        archiveIndustry (id) {
            this.axios.post(this.url + '/archive/' + id).then(resp => {
                this.getIndustry()
            })
        },
        deleteArchiveIndustry (id) {
            this.axios.post(this.url + '/delete-archive/' + id).then(resp => {
                this.getIndustry()
            })
        },
        saveOrder () {
            console.log(this.temp)
            console.log(this.list)
            this.axios.post(this.url + '/save-order', { industryList: this.list }).then(resp => {
                this.getIndustry()
            })
        },
        onChange (event) {
            this.reorder()
        },
        reorder () {
            this.list.forEach((item, index) => {
                this.list[index].order = index
            })
        }
    },
    created () {
        this.getIndustry()
    }
}
</script>
<style>
.dragging {
  opacity: .25;
}
.hover {
  background-color: rgba(0,191,165,.04);
}
[draggable="true"] {
  /*
 To prevent user selecting inside the drag source
*/
  background-color: #7095c4;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

</style>
