<template>
  <b-form-input @blur="sendBlurEvent" style="width: 75px; height: auto; padding: 2px; border-radius: initial;"  type="text" class="form-control" :name="name"  v-model="localValue" ></b-form-input>
</template>

<script>

export default {
    name: 'FixingInput',
    props: {
        value: {
            required: true
        }

    },
    computed: {
        name: function () {
            // eslint-disable-next-line vue/no-side-effects-in-computed-properties
            this.localValue = this.value

            if (this.nameAttr) {
                console.log(this.nameAttr)
                return this.nameAttr
            }

            const str = this.$vnode.data.model.expression.split('.')
            if (str.length > 1) {
                str.shift()
                if (str[0].includes('[item]')) {
                    const hlp = str[0].replace('[item]', '')
                    str[0] = hlp + '.' + this.lang
                } else {
                    if (str[0].includes('[') || str[0].includes(']')) {
                        str.shift()
                    }
                }
            }
            return str.join('.')
        }
    },
    data () {
        return {
            localValue: null
        }
    },
    methods: {
        sendBlurEvent () {
            this.formatValue()
            this.$emit('blurEvent', this.localValue)
            this.$emit('input', this.localValue)
            this.$emit('change', this.localValue)
        },

        formatValue () {
            const a = this.localValue.replace(/\./, ':').replace(/,/, ':')
            let h = -1
            let m = 0
            if (a.indexOf(':') < 0) {
                if ((a >= 0) && (a < 60)) {
                    h = parseInt(a * 1)
                    m = 0
                }
                if ((a > 99) && (a < 960)) {
                    h = parseInt(a.substring(0, 1) * 1)
                    m = parseInt(a.substring(1) * 1)
                }

                if ((a > 999) && (a < 2360)) {
                    h = parseInt(a.substring(0, 2) * 1)
                    m = parseInt(a.substring(2) * 1)
                }
            } else {
                h = parseInt(a.substring(0))
                m = parseInt(a.substring(a.indexOf(':') + 1))
            }
            let val = ''
            if (m < 10) m = '0' + m
            if ((h >= 0) && (h < 24) && (m >= 0) && (m < 60)) val = h + ':' + m; else val = ''
            if (this.localValue !== '') this.localValue = val
        }
    },
    watch: {
        localValue: function (value) {
            this.$emit('input', value)
            this.$emit('change', value)
        }
    }
}
</script>
