<template>
    <b-form-group v-bind:class="inputClass">
        <label v-if="title">{{title}}</label>
        <div class="input-group">
        <input v-bind:readonly="readonly" v-mask="['####-##-##']" v-bind:disabled="disabled" :type="type" class="form-control date" v-bind:class="{'is-invalid': hasError(name)}" v-bind:placeholder="placeholder" v-model="localValue" v-bind:id="id">
            <div class="input-group-append">
                <span class="input-group-text">
                    <i class="la la-calendar-check-o"></i>
                </span>
            </div>
        </div>
        <span class="form-text text-muted" v-if="helpText">{{helpText}}</span>
        <div class="invalid-feedback" v-for="message in filter(name)"
             v-bind:key="message">{{message}}
        </div>
    </b-form-group>
</template>

<script>
import FormControl from './FormControl'
import moment from 'moment'
import { mask } from 'vue-the-mask'
export default {
    name: 'FormDatePicker',
    extends: FormControl,
    directives: { mask },
    beforeDestroy () {
        var vm = this
        window.$(vm.$el)
            .find('.date')
            .datepicker('destroy')
    },
    mounted: function () {
        var vm = this
        window.$.fn.datepicker.dates.hu = {
            days: ['vasárnap', 'hétfő', 'kedd', 'szerda', 'csütörtök', 'péntek', 'szombat'],
            daysShort: ['vas', 'hét', 'ked', 'sze', 'csü', 'pén', 'szo'],
            daysMin: ['V', 'H', 'K', 'Sze', 'Cs', 'P', 'Szo'],
            months: ['január', 'február', 'március', 'április', 'május', 'június', 'július', 'augusztus', 'szeptember', 'október', 'november', 'december'],
            monthsShort: ['jan', 'feb', 'már', 'ápr', 'máj', 'jún', 'júl', 'aug', 'sze', 'okt', 'nov', 'dec'],
            today: 'ma',
            clear: 'töröl'
        }
        $(document).ready(function () {
            window.$(vm.$el)
                .find('.date')
                // init select2
                .trigger('change')
                .trigger('input')
                .datepicker({
                    format: 'yyyy-mm-dd',
                    multidateSeparator: ',',
                    multidate: !!vm.multiple,
                    closeOnDateSelect: true,
                    locale: vm.$store.state.defaultStore.pageLanguage,
                    todayHighlight: true,
                    beforeShowDay: function (date) {
                        let dmy = date.getDay()
                        if (dmy === 0) {
                            dmy = 7
                        }
                        if (!vm.disabledDays || vm.disabledDays.length === 0) {
                            return true
                        }
                        if (vm.disabledDays.includes(dmy)) {
                            return true
                        } else {
                            return false
                        }
                    },
                    minDate: (vm.startDate) ? vm.startDate : moment().startOf('hour')
                })
                .on('change', function (val) {
                    if (vm.multiple) {
                        vm.$emit('input', val.target.value)
                        vm.$emit('change', val.target.value)
                    } else {
                        vm.$emit('input', window.$(vm.$el).find('.date').val())
                        vm.$emit('change', window.$(vm.$el).find('.date').val())
                    }
                })
        })
    },
    watch: {
        localValue: function (value) {
            window.$(this.$el)
                .find('.date')
                .val(value)
                .trigger('change')
                .trigger('input')
        }
    }
}
</script>
