<template>
    <b-form-group v-bind:class="inputClass">
        <label v-if="title">{{title}}</label>
        <div class="input-group">
            <input v-bind:readonly="readonly" v-bind:disabled="disabled" :type="type" class="form-control timepicker" v-bind:class="{'is-invalid': hasError(name)}" v-bind:placeholder="placeholder" v-model="localValue" v-bind:id="id">
            <div class="input-group-append">
                <span class="input-group-text">
                    <i class="la la-clock-o"></i>
                </span>
            </div>
        </div>
        <span class="form-text text-muted" v-if="helpText">{{helpText}}</span>
        <div class="invalid-feedback" v-for="message in filter(name)"
             v-bind:key="message">{{message}}
        </div>
    </b-form-group>
</template>

<script>
import FormControl from './FormControl'

export default {
    name: 'FormTimePicker',
    extends: FormControl,
    mounted: function () {
        var vm = this
        $(document).ready(function () {
            window.$(vm.$el)
                .find('.timepicker')
            // init select2
                .trigger('change')
                .trigger('input')
                .timepicker({
                    minuteStep: 15,
                    showSeconds: false,
                    showMeridian: false,
                    days: ['vasárnap', 'hétfő', 'kedd', 'szerda', 'csütörtök', 'péntek', 'szombat'],
                    daysShort: ['vas', 'hét', 'ked', 'sze', 'csü', 'pén', 'szo'],
                    daysMin: ['V', 'H', 'K', 'Sze', 'Cs', 'P', 'Szo'],
                    months: ['január', 'február', 'március', 'április', 'május', 'június', 'július', 'augusztus', 'szeptember', 'október', 'november', 'december'],
                    monthsShort: ['jan', 'feb', 'már', 'ápr', 'máj', 'jún', 'júl', 'aug', 'sze', 'okt', 'nov', 'dec'],
                    today: 'ma',
                    weekStart: 1,
                    clear: 'töröl',
                    todayHighlight: true,
                    icons: {
                        up: 'fa fa-angle-up fa-2x',
                        down: 'fa fa-angle-down fa-2x'
                    }
                })
                .on('change', function () {
                    vm.$emit('input', window.$(vm.$el).find('.timepicker').val())
                    vm.$emit('change', window.$(vm.$el).find('.timepicker').val())
                })
        })
    },
    watch: {
        localValue: function (value) {
            window.$(this.$el)
                .find('.timepicker')
                .val(value)
                .trigger('change')
                .trigger('input')
        }
    }
}
</script>
