<template>
    <b-form-group v-bind:class="inputClass">
        <label v-if="title">{{title}}</label>
        <b-form-input v-bind:readonly="readonly" v-bind:disabled="disabled" @focusIn="search=null" @keyup="autocomplete()" style="min-width: 100%"  type="text" class="form-control w-100" v-bind:class="{'is-invalid': hasError(name)}" v-bind:placeholder="placeholder" v-model="search" v-bind:id="id"></b-form-input>
        <input type="hidden" v-model="localValue">
        <ul style="position: absolute;width: 90%; max-width:500px; list-style: none;border: 1px solid rgb(238, 238, 238);padding: 0px;background: white;z-index: 3000;}" v-if="responseList">
            <template v-for="item in responseList">
                <li class="autoLi" v-bind:key="item[attributeKey]" style="border-bottom:solid 1px #eee;padding:7px;" @click="selectItem(item)">{{item[attributeValue]}}<span v-if="attributeValue2"> {{item[attributeValue2]}}</span></li>
            </template>
            <li style="padding: 5px;" v-if="!responseList.length && search && search.length && !localValue">
                Nincs találat
            </li>
        </ul>
        <span class="form-text text-muted" v-if="helpText">{{helpText}}</span>
        <div class="invalid-feedback" v-for="message in filter(name)"
             v-bind:key="message">{{message}}
        </div>
    </b-form-group>
</template>

<script>
import FormControl from './FormControl'

export default {
    name: 'FormAutocomplete',
    extends: FormControl,
    data () {
        return {
            search: null,
            timeout: null,
            responseList: []
        }
    },
    props: ['url', 'attributeKey', 'attributeValue', 'attributeValue2', 'full', 'emptyEnable'],
    methods: {
        autocomplete () {
            const self = this
            clearTimeout(self.timeout)
            self.timeout = null
            if (this.emptyEnable) {
                this.localValue = (self.search) ? self.search : this.value
                this.$emit('inputEvent', this.localValue)
                this.$emit('change', this.localValue)
            }
            self.timeout = setTimeout(() => {
                self.axios.get(self.url + '?search=' + self.search + '&limit=10').then(resp => {
                    self.responseList = resp.data.data
                })
            }, 300)
        },
        selectItem (item) {
            this.responseList = []
            this.localValue = item[this.attributeKey]
            this.search = item[this.attributeValue]
            this.$emit('inputEvent', item[this.attributeKey])
            this.$emit('change', item[this.attributeKey])
            if (this.full) {
                this.$emit('objectChanged', item)
            }
        }
    },
    mounted () {
        this.search = null
        if (this.emptyEnable) {
            this.search = (self.search) ? self.search : this.localValue
        }

        this.responseList = []
    }
}
</script>

<style scoped>
    .autoLi:hover{
        cursor: pointer;
        background: #dbdfe0;
    }
</style>
