<template>
    <b-form-group v-bind:class="inputClass">
        <label v-if="title">{{title}}</label>
        <div class="input-group">
            <div class="input-group-prepend" v-if="prefix">
                <span class="input-group-text">{{prefix}}</span>
            </div>
            <b-form-input v-bind:readonly="readonly" v-bind:disabled="disabled" :type="type" @blur="sendBlurEvent" @input="sendInputEvent" @keyup="sendKeyupevent" class="form-control" v-bind:placeholder="placeholder" v-model="localValue" v-bind:id="id" v-bind:class="{'is-invalid': hasError(name)}"></b-form-input>
            <div class="input-group-append" v-if="suffix">
                <span class="input-group-text">{{suffix}}</span>
            </div>
            <span class="form-text text-muted" v-if="helpText">{{helpText}}</span>
            <div class="invalid-feedback" v-for="message in filter(name)"
                 v-bind:key="message">{{message}}
            </div>
        </div>
    </b-form-group>
</template>

<script>
import FormControl from './FormControl'

export default {
    name: 'FormInputGroup',
    extends: FormControl,
    methods: {
        sendBlurEvent () {
            this.$emit('blurEvent', this.localValue)
        },
        sendInputEvent () {
            this.$emit('inputEvent', this.localValue)
        },
        sendKeyupevent () {
            this.$emit('keyupEvent', this.localValue)
        }
    }
}
</script>
