<template>
    <b-form-group v-bind:class="inputClass">
        <label v-if="title">{{title}}</label>
        <div class="input-group">
        <input v-bind:readonly="readonly" v-bind:disabled="disabled" :type="type" class="form-control week" v-bind:class="{'is-invalid': hasError(name)}" v-bind:placeholder="placeholder" v-model="localValue" v-bind:id="id">
            <div class="input-group-append">
                <span class="input-group-text">
                    <i class="la la-calendar-check-o"></i>
                </span>
            </div>
        </div>
        <span class="form-text text-muted" v-if="helpText">{{helpText}}</span>
        <div class="invalid-feedback" v-for="message in filter(name)"
             v-bind:key="message">{{message}}
        </div>
    </b-form-group>
</template>

<script>
import FormControl from './FormControl'

export default {
    name: 'FormWeekPicker',
    extends: FormControl,
    beforeDestroy () {
        var vm = this
        window.$(vm.window.$el)
            .find('.week')
            .datepicker('destroy')
    },
    mounted: function () {
        window.$.fn.datepicker.dates.hu = {
            days: ['vasárnap', 'hétfő', 'kedd', 'szerda', 'csütörtök', 'péntek', 'szombat'],
            daysShort: ['vas', 'hét', 'ked', 'sze', 'csü', 'pén', 'szo'],
            daysMin: ['V', 'H', 'K', 'Sze', 'Cs', 'P', 'Szo'],
            months: ['január', 'február', 'március', 'április', 'május', 'június', 'július', 'augusztus', 'szeptember', 'október', 'november', 'december'],
            monthsShort: ['jan', 'feb', 'már', 'ápr', 'máj', 'jún', 'júl', 'aug', 'sze', 'okt', 'nov', 'dec'],
            today: 'ma',
            clear: 'töröl'
        }
        var startDate,
            endDate
        var vm = this

        $(document).ready(function () {
            window.$(vm.$el)
                .find('.week').datepicker({
                    autoclose: true,
                    format: 'yyyy-mm-dd',
                    weekStart: 1,
                    language: 'hu',
                    locale: 'hu',
                    forceParse: true,

                    todayHighlight: true

                }).on('changeDate', function (e) {
                    var date = e.date
                    let add = 1

                    if (date.getDay() === 0) {
                        add = -6
                    }
                    startDate = new Date(date.getFullYear(), date.getMonth(), date.getDate() - date.getDay() + add + (vm.week_start))
                    endDate = new Date(date.getFullYear(), date.getMonth(), date.getDate() - date.getDay() + add + 7 + (vm.week_start))

                    window.$('.week').datepicker('update', startDate)
                    window.$('.week').val((startDate.getFullYear() + '-' + (startDate.getMonth() + 1) + '-' + startDate.getDate()) + ' - ' + (endDate.getFullYear() + '-' + (endDate.getMonth() + 1) + '-' + endDate.getDate()))
                    vm.$emit('input', window.$(vm.$el).find('.week').val())
                    vm.$emit('change', window.$(vm.$el).find('.week').val())
                })
        })
    },
    watch: {
        localValue: function (value) {
            window.$(this.$el)
                .find('.week')
                .val(value)
                .trigger('change')
                .trigger('input')
        }
    }
}
</script>
