<template>
    <b-form-group v-bind:class="inputClass">
        <label v-if="title">{{title}}</label>
        <div>

            <number-input v-bind:class="{'is-invalid': hasError(name)}" v-model="localValue" :min="min" :max="max" inline controls></number-input>
            <span class="form-text text-muted" v-if="helpText">{{helpText}}</span>
            <div class="invalid-feedback" v-for="message in filter(name)"
                 v-bind:key="message">{{message}}
            </div>

        </div>
    </b-form-group>
</template>
<style>
    .number-input--inline>input {
        display: inline-block;
        width: 100% !important;
        min-width: 100px !important;
    }
</style>
<script>

import VueNumberInput from '@chenfengyuan/vue-number-input'
export default {
    name: 'FormNumberInput',
    components: { 'number-input': VueNumberInput },
    props: {
        id: {
            type: String,
            required: false
        },
        value: {
            required: true
        },
        title: {
            type: String,
            required: false
        },
        inputClass: {
            type: String
        },
        helpText: {
            type: String,
            default: null
        },
        nameAttr: {
            required: false
        },
        max: {
            required: false
        },
        min: {
            required: false,
            default: null
        }
    },
    computed: {
        name: function () {
            // eslint-disable-next-line vue/no-side-effects-in-computed-properties
            this.localValue = this.value

            if (this.nameAttr) {
                return this.nameAttr
            }

            const str = this.$vnode.data.model.expression.split('.')
            if (str.length > 1) {
                str.shift()
                if (str[0].includes('[item]')) {
                    const hlp = str[0].replace('[item]', '')
                    str[0] = hlp + '.' + this.lang
                } else {
                    if (str[0].includes('[') || str[0].includes(']')) {
                        str.shift()
                    }
                }
            }
            return str.join('.')
        }
    },
    data () {
        return {
            localValue: null
        }
    },
    watch: {
        localValue: function (value) {
            this.$emit('input', value)
            this.$emit('change', value)
        }
    }
}
</script>
