<template>
  <b-form-group v-bind:class="inputClass">
            <label v-if="title">{{title}}</label>
            <div class="input-group date-range-picker-input">
                <input v-bind:readonly="readonly" v-bind:disabled="disabled" :type="type" class="form-control date" v-bind:class="{'is-invalid': hasError(name)}" v-bind:placeholder="placeholder" v-model="localValue" v-bind:id="id">
                <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="la la-calendar-check-o"></i>
                        </span>
                </div>
            </div>
            <span class="form-text text-muted" v-if="helpText">{{helpText}}</span>
            <div class="invalid-feedback" v-for="message in filter(name)"
                 v-bind:key="message">{{message}}
            </div>
  </b-form-group>
</template>
<style>
    .datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
        background: none;
        cursor: default;
        color: red !important;
        background: #f9f9f9;
    }
</style>
<script>
import FormControl from './FormControl'

export default {
    name: 'FormMonthPicker',
    extends: FormControl,
    mounted: function () {
        this.initDatePicker()
    },
    watch: {
        value: function (value) {
            window.$(this.$el)
                .find('.date')
                .val(value)
                .trigger('change')
                .trigger('input')
        },
        disabledDays: function (value) {
            var vm = this
            window.$(vm.$el)
                .find('.date').datepicker('destroy')
            this.initDatePicker()
        }
    },
    methods: {
        initDatePicker: function () {
            var vm = this
            window.$.fn.datepicker.dates.hu = {
                days: ['vasárnap', 'hétfő', 'kedd', 'szerda', 'csütörtök', 'péntek', 'szombat'],
                daysShort: ['vas', 'hét', 'ked', 'sze', 'csü', 'pén', 'szo'],
                daysMin: ['V', 'H', 'K', 'Sze', 'Cs', 'P', 'Szo'],
                months: ['január', 'február', 'március', 'április', 'május', 'június', 'július', 'augusztus', 'szeptember', 'október', 'november', 'december'],
                monthsShort: ['jan', 'feb', 'már', 'ápr', 'máj', 'jún', 'júl', 'aug', 'sze', 'okt', 'nov', 'dec'],
                today: 'ma',
                clear: 'töröl'
            }
            $(document).ready(function () {
                window.$(vm.$el)
                    .find('.date')
                    // init select2
                    .trigger('change')
                    .trigger('input')
                    .datepicker({
                        format: 'yyyy-mm',
                        locale: 'hu',
                        language: 'hu',
                        minViewMode: 1,
                        autoclose: true,
                        weekStart: 1,
                        clear: 'töröl',
                        todayHighlight: true

                    })
                    .on('change', function () {
                        vm.$emit('input', window.$(vm.$el).find('.date').val())
                        vm.$emit('change', window.$(vm.$el).find('.date').val())
                    })
            })
        }
    }
}
</script>
