<template>
    <b-form-group v-bind:class="inputClass">
        <label v-if="title"> <div style="display:inline" class="" v-if="flag"><img  style="width:30px;display:inline" :src="'/frontend/images/'+flag+'.jpg'"/> </div> {{title}}</label>
        <b-form-input v-bind:readonly="readonly" v-bind:disabled="disabled" :type="type" @blur="sendBlurEvent" @input="sendInputEvent" @keyup="sendKeyupevent" class="form-control" v-bind:class="{'is-invalid': hasError(name)}" v-bind:placeholder="placeholder" v-model="localValue" v-bind:id="id"></b-form-input>
        <span class="form-text text-muted" v-if="helpText">{{helpText}}</span>
        <div class="invalid-feedback" v-for="message in filter(name)"
             v-bind:key="message">{{message}}
        </div>
    </b-form-group>
</template>

<script>
import FormControl from './FormControl'

export default {
    name: 'FormInput',
    extends: FormControl,
    methods: {
        sendBlurEvent () {
            this.$emit('blurEvent', this.localValue)
        },
        sendInputEvent () {
            this.$emit('inputEvent', this.localValue)
        },
        sendKeyupevent () {
            this.$emit('keyupEvent', this.localValue)
        }
    }
}
</script>
