<template>
    <b-form-group v-bind:class="inputClass">
        <label v-if="title">{{title}}</label>
        <p class="form-control-static" v-html="localValue"></p>
    </b-form-group>
</template>

<script>
import FormControl from './FormControl'

export default {
    name: 'FormStatic',
    extends: FormControl
}
</script>
