<template>
    <b-form-group v-bind:class="inputClass">
        <label v-if="title">{{title}}</label>
        <b-form-input  v-bind:readonly="readonly" v-mask="['+36(##)-###-####','+36(#)-###-####']" v-bind:disabled="disabled"  @blur="sendBlurEvent" @input="sendInputEvent" @keyup="sendKeyupevent" :type="type" class="form-control" v-bind:class="{'is-invalid': hasError(name)}" v-bind:placeholder="placeholder" v-model="localValue" v-bind:id="id"></b-form-input>
        <span class="form-text text-muted" v-if="helpText">{{helpText}}</span>
        <div class="invalid-feedback" v-for="message in filter(name)"
             v-bind:key="message">{{message}}
        </div>
    </b-form-group>
</template>

<script>
import FormControl from './FormControl'
import { mask } from 'vue-the-mask'
export default {
    name: 'FormPhone',
    extends: FormControl,
    directives: { mask },
    methods: {
        sendBlurEvent () {
            this.$emit('blurEvent', this.localValue)
        },
        sendInputEvent () {
            this.$emit('inputEvent', this.localValue)
        },
        sendKeyupevent () {
            this.$emit('keyupEvent', this.localValue)
        }
    }
}
</script>
