<template>
    <b-form-group v-bind:class="inputClass">
        <label v-if="title">{{title}}</label>
        <div class="input-group">
            <input v-bind:readonly="readonly" v-bind:disabled="disabled" :type="type" class="form-control date" v-bind:class="{'is-invalid': hasError(name)}" v-bind:placeholder="placeholder" v-model="localValue" v-bind:id="id">
            <div class="input-group-append">
                <span class="input-group-text">
                    <i class="la la-calendar-check-o"></i>
                </span>
            </div>
        </div>
        <span class="form-text text-muted" v-if="helpText">{{helpText}}</span>
        <div class="invalid-feedback" v-for="message in filter(name)"
             v-bind:key="message">{{message}}
        </div>
    </b-form-group>
</template>

<script>
import FormControl from './FormControl'

export default {
    name: 'FormDateTimePicker',
    extends: FormControl,
    beforeDestroy () {
        var vm = this
        window.$(vm.$el)
            .find('.date')
            .datetimepicker('destroy')
    },
    mounted: function () {
        var vm = this
        window.$.fn.datepicker.dates.hu = {
            days: ['vasárnap', 'hétfő', 'kedd', 'szerda', 'csütörtök', 'péntek', 'szombat'],
            daysShort: ['vas', 'hét', 'ked', 'sze', 'csü', 'pén', 'szo'],
            daysMin: ['V', 'H', 'K', 'Sze', 'Cs', 'P', 'Szo'],
            months: ['január', 'február', 'március', 'április', 'május', 'június', 'július', 'augusztus', 'szeptember', 'október', 'november', 'december'],
            monthsShort: ['jan', 'feb', 'már', 'ápr', 'máj', 'jún', 'júl', 'aug', 'sze', 'okt', 'nov', 'dec'],
            today: 'ma',
            clear: 'töröl'
        }
        $(document).ready(function () {
            window.$(vm.$el)
                .find('.date')
            // init select2
                .trigger('change')
                .trigger('input')
                .datetimepicker({
                    format: 'yyyy-mm-dd hh:ii',
                    todayHighlight: true,
                    autoclose: true,
                    todayBtn: true,
                    weekStart: 1,
                    clear: 'töröl'
                })
                .on('change', function () {
                    vm.$emit('input', window.$(vm.$el).find('.date').val())
                    vm.$emit('change', window.$(vm.$el).find('.date').val())
                })
        })
    },
    watch: {
        localValue: function (value) {
            window.$(this.$el)
                .find('.date')
                .val(value)
                .trigger('change')
                .trigger('input')
        }
    }
}
</script>
