<template>
  <b-form-group v-bind:class="inputClass" v-if="options">
    <label v-if="title">{{title}}</label>
    <select v-bind:readonly="readonly" v-bind:disabled="disabled" class="form-control" v-model="localValue" v-bind:id="id" v-if="!select2" v-on:change="updateValue" :value="value" v-bind:class="{'is-invalid': hasError(name)}" :multiple="multiple">
      <option :value="null" v-if="!disableDefault && !multiple">{{$t('Please choose')}}</option>
      <template v-if="options.length > 0 || Object.keys(options).length > 0">
        <FormSelectOption v-for="(item, index) in options" v-bind:key="index" :fKey="index" :value="item" :valueKey="optionValueKey"></FormSelectOption>
      </template>
    </select>
    <div  v-bind:class="{'is-invalid': hasError(name)}">
      <select2 v-bind:readonly="readonly" v-bind:disabled="disabled" :options="options" v-if="select2" v-model="localValue" :value="value" :multiple="multiple" v-on:change="updateValue">
        <option :value="null" v-if="!disableDefault && !multiple">{{$t('Please choose')}}</option>
        <template v-if="options.length > 0 || ((Object.keys(options)) && Object.keys(options).length > 0)">
          <FormSelectOption v-for="(item, index) in options" v-bind:key="index" :fKey="index" :value="item" :valueKey="optionValueKey"></FormSelectOption>
        </template>
      </select2>
    </div>
    <span class="form-text text-muted" v-if="helpText">{{helpText}}</span>
    <div class="invalid-feedback" v-for="message in filter(name)"
         v-bind:key="message">{{message}}
    </div>
  </b-form-group>
</template>

<script>
import FormControl from './FormControl'
import Select2 from './Select2'
import FormSelectOption from './FormSelectOption'

export default {
    name: 'FormSelect',
    extends: FormControl,
    components: { FormSelectOption, Select2 },
    methods: {
        updateValue () {
            this.$emit('input', this.localValue)
            this.$emit('change', this.localValue)
        }
    }
}
</script>
