<template>
    <b-form-group v-bind:class="inputClass">
        <label v-if="title"> <div style="display:inline" class="" v-if="flag"><img  style="width:30px;display:inline" :src="'/frontend/images/'+flag+'.jpg'"/> </div>{{title}}</label>
        <tinymce-editor v-bind:disabled="disabled || readonly" :init="initValue" :id="id+'-editor-'+randomUid" tag-name="textarea" v-model="localValue"></tinymce-editor>
        <span class="form-text text-muted" v-if="helpText">{{helpText}}</span>
        <div class="invalid-feedback" v-for="message in filter(name)"
             v-bind:key="message">{{message}}
        </div>
    </b-form-group>
</template>

<script>
import tinymce from 'tinymce'
import 'tinymce/themes/silver'
import 'tinymce/plugins/image'
import 'tinymce/plugins/link'
import 'tinymce/plugins/anchor'
import 'tinymce/plugins/advlist'
import 'tinymce/plugins/code'
import 'tinymce/plugins/fullscreen'
import 'tinymce/plugins/help'
import 'tinymce/plugins/hr'
import 'tinymce/plugins/imagetools'
import 'tinymce/plugins/lists'
import 'tinymce/plugins/media'
import 'tinymce/plugins/nonbreaking'
import 'tinymce/plugins/pagebreak'
import 'tinymce/plugins/paste'
import 'tinymce/plugins/searchreplace'
import 'tinymce/plugins/tabfocus'
import 'tinymce/plugins/table'
import 'tinymce/plugins/textcolor'
import 'tinymce/plugins/textpattern'
import 'tinymce/plugins/visualblocks'
import 'tinymce/plugins/visualchars'
import 'tinymce/icons/default'

import Vue from 'vue'
import FormControl from './FormControl'
import TinyMce from '@tinymce/tinymce-vue'

window.tinymce = tinymce

Vue.use(TinyMce)

export default {
    name: 'FormWyswygEditor',
    extends: FormControl,
    components: { 'tinymce-editor': TinyMce },
    data () {
        return {
            initValue: {
                branding: false,
                language: this.language,
                language_url: '/vendor/tinymce/lang/' + this.language + '.js',
                skin_url: '/vendor/tinymce/skins/ui/oxide',
                height: 400,
                plugins: 'image link anchor advlist code fullscreen help hr imagetools lists media nonbreaking pagebreak paste searchreplace tabfocus table textpattern visualblocks visualchars',
                toolbar: [
                    {
                        name: 'history', items: ['undo', 'redo']
                    },
                    {
                        name: 'styles', items: ['styleselect']
                    },
                    {
                        name: 'formatting', items: ['bold', 'italic']
                    },
                    {
                        name: 'alignment', items: ['alignleft', 'aligncenter', 'alignright', 'alignjustify']
                    },
                    {
                        name: 'indentation', items: ['outdent', 'indent']
                    },
                    {
                        name: 'list', items: ['bullist', 'numlist']
                    },
                    {
                        name: 'embed', items: ['image', 'media', 'link']
                    }
                ],
                file_picker_callback (callback, value, meta) {
                    const x = window.innerWidth || document.documentElement.clientWidth || document.getElementsByTagName('body')[0].clientWidth
                    const y = window.innerHeight || document.documentElement.clientHeight || document.getElementsByTagName('body')[0].clientHeight

                    tinymce.activeEditor.windowManager.openUrl({
                        url: '/file-manager/tinymce5?api_token=' + $cookies.get('token'),
                        title: 'File manager',
                        width: x * 0.8,
                        height: y * 0.8,
                        onMessage: (api, message) => {
                            callback(message.content, { text: message.text })
                        }
                    })
                }
            }
        }
    },
    computed: {
        language: function () {
            if (localStorage.getItem('language') === 'hu') {
                return 'hu_HU'
            } else {
                return 'en_GB'
            }
        },
        randomUid: function () {
            return Math.floor(Math.random(1000, 9999) * 1000)
        }
    }
}
</script>
