<template>
    <div class="form-group">
    <label data-v-9a84a97a=""> {{title}}</label>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" @click="setSelected()" style="width: 100%;border: solid 1px #a7a7a9;" type="button" :id="'dropdownMenuButton'+name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Kiválaszt
        </button>
        <div class="dropdown-menu p-3" :aria-labelledby="'dropdownMenuButton'+name" style="z-index: 100" >
            <input type="text" v-model="search" class="form-control mt-3 mb-3" placeholder="Keresés">
        <ul style="max-height: 300px;background: white;overflow-y: auto;z-index:100; width:100%;   list-style: none;padding-left: 5px;padding-right: 5px" @click.stop="cclick">
            <li style="" v-for="index in Object.keys(filteredList)" v-bind:key="name+'-'+index">
                <span @click.stop="cclick" style="width: 100%;white-space: nowrap"> {{filteredList[index]}} <input style="float: right" type="checkbox" :id="'check-'+index" v-bind:class="{'checked':localValue[index] }" v-model="localValue[index]" :value="index"></span>
            </li>
        </ul>
            <div class="dropdown-divider"></div>
            <span @click.stop="selectAll($event)"  style="width: 100%;white-space: nowrap">Összes <input style="float: right" type="checkbox"  v-model="all" :value="true" ></span>
            <div class="dropdown-divider"></div>
            <button class="btn btn-xs btn-outline-danger btn-block" @click="submit()">Kiválaszt</button>
        </div>
    </div>
    </div>
</template>
<style>
.checkbox {
    display:block !important;
}
.kt-checkbox.is-invalid >span {
    border: 1px solid #fd27eb;
}
</style>
<script>

export default {
    name: 'FormSelectCheckbox',
    props: {
        id: {
            type: String,
            required: false
        },
        disabledDays: null,
        startDate: {
            type: String,
            required: false
        },
        value: {
            required: true
        },
        title: {
            type: String,
            required: false
        },
        placeholder: {
            type: String
        },
        type: {
            type: String,
            default: 'text'
        },
        inputClass: {
            type: String
        },
        helpText: {
            type: String,
            default: null
        },
        format: {
            type: String,
            default: 'YYYY-MM-DD'
        },
        prefix: {
            type: String,
            default: null
        },
        suffix: {
            type: String,
            default: null
        },
        select2: {
            type: Boolean,
            default: false
        },
        options: {
            required: false
        },
        multiple: {
            type: Boolean,
            default: false
        },
        rows: {
            type: Number,
            default: 3
        },
        readonly: {
            default: false
        },
        disabled: {
            default: false
        },
        nameAttr: {
            required: false
        },
        mask: {
            default: false,
            required: false
        }
    },
    computed: {
        name: function () {
            return this.nameAttr
        },
        filteredList: function () {
            const filter = {}
            if (this.options) {
                Object.keys(this.options).forEach(index => {
                    if (this.options[index].toLowerCase().includes(this.search.toLowerCase())) {
                        filter[index] = this.options[index]
                    }
                })
            }
            return filter
        }
    },
    watch: {
        localValue: {
            handler: function (val, oldVal) {
                console.log(val)
            },
            deep: true
        }
    },
    created () {
        Object.keys(this.options).forEach(index => {
            this.localValue[index] = false
        })
        if (this.value) {
            this.value.split(',').forEach(item => {
                this.localValue[item] = true
            })
        }
    },
    data () {
        return {
            localValue: {},
            search: '',
            all: false
        }
    },
    methods: {
        submit () {
            const value = Object.keys(this.localValue).filter(v => {
                return this.localValue[v]
            }).join(',')
            this.$emit('change', value)
            this.$emit('input', value)
            this.$emit('blurEvent', value)
        },
        cclick () {

        },
        setSelected () {
            console.log('setSelected')
            const temp = {}
            if (this.value) {
                this.value.split(',').forEach(item => {
                    temp[item] = true
                })
            }
            this.localValue = temp
        },
        selectAll (event) {
            Object.keys(this.options).forEach(index => {
                this.localValue[index] = !this.all
            })
        }
    }
}
</script>
