<template>
    <div id="app" v-if="loaded">
        <label>{{title}}</label>
        <vue-dropzone v-bind:id="id"  :options="dropOptions" @vdropzone-complete="afterComplete"  @vdropzone-removed-file="removedfile($event)"  >
            <input accept="image/jpeg, image/png" multiple="" type="file" autocomplete="off" tabindex="-1" style="display: none;">
        </vue-dropzone>
    </div>
</template>

<script>
import vueDropzone from 'vue2-dropzone'
import 'vue2-dropzone/dist/vue2Dropzone.min.css'

export default {
    props: ['url', 'maxFiles', 'id', 'responseFile', 'acceptedFiles', 'title', 'student'],
    data: () => ({
        loaded: false,
        dropOptions: {
            url: '/api/v1/upload-file',
            acceptedFiles: null,
            dictDefaultMessage: 'Húzd ide a fájt',
            dictInvalidFileType: 'Ez a formátum nem támogatott.',
            dictRemoveFile: '<i class="fa fa-trash"></i>',
            maxFilesize: 10, // MB
            maxFiles: 1,
            thumbnailWidth: 100, // px
            thumbnailHeight: 50,
            addRemoveLinks: true,
            headers: {
                Authorization: 'Bearer ' + $cookies.get('token')
            }

        }
    }),
    components: {
        vueDropzone
    },
    beforeMount () {
        if (this.maxFiles) { this.dropOptions.maxFiles = this.maxFiles }
        if (this.url) { this.dropOptions.url = this.url }
        if (this.acceptedFiles) { this.dropOptions.acceptedFiles = this.acceptedFiles }
        if (this.student) {
            this.dropOptions.headers.Authorization = 'Bearer ' + $cookies.get('student-token')
        }
    },
    created () {
        this.loaded = true
    },
    methods: {
        afterComplete (file) {
            if (file.xhr && file.xhr.response) {
                var resp = JSON.parse(file.xhr.response)

                this.$emit('success', resp.path)
                this.$emit('success-full', resp)
            }
            console.log('after')
            console.log(file)
        },
        removedfile ($event) {
            this.$emit('remove', $event.upload)
        }
        /* echoError ($event, error, xhr) {
            console.log('error')
            console.log($event)
            console.log(error)
            console.log(xhr)
            const html = $('.dz-error-message span').text()
            console.log(html.indexOf('<title>'))
            console.log(html.indexOf('</title>'))
            $('.dz-error-message span').text(html.substr(html.indexOf('<title>') + 7, html.indexOf('</title>') - html.indexOf('<title>') - 7))
            // $($event.previewElement).find('.dz-error-message span').innerHTML = html.substr(0, 10)
        } */
    }
}
</script>
<style>
.dropzone .dz-preview{
    height: 50px;
    width: 100px;
    font-size: 10px;
}
.vue-dropzone>.dz-preview .dz-remove {
    color: #fdf8f8 !important;
    margin: 15px !important;;
    font-size: 1.2rem !important;;
    background: red !important;;
    left: 15px !important;;
}
.vue-dropzone{
    padding:0;
}
.dz-error-message {
  z-index: 100;
  opacity: 1 !important;
  display: inline-block !important;
  width: 320px !important;
  position: absolute !important;
  left: -100% !important;
  top: -17px !important;
  margin: 0px;
  padding: 0px !important;
}
</style>
