<template>
  <select v-bind:readonly="readonly" v-bind:disabled="disabled" class="form-control"  :multiple="multiple">
    <slot></slot>
  </select>
</template>

<script>
export default {
    name: 'Select2',
    props: {
        options: {
            required: false
        },
        value: {
            required: true
        },
        multiple: {
            required: false,
            default: false
        },
        watcher: {
            default: true
        },
        readonly: {
            default: false
        },
        disabled: {
            default: false
        }
    },
    data () {
        return {
            localValue: null
        }
    },
    mounted: function () {
        var vm = this
        this.localValue = this.value
        window.$(vm.$el).val(this.localValue)
        $(document).ready(function () {
            window.$(vm.$el)
            // init select2
                .select2({
                    sorter: data => data.sort((a, b) => a.text.localeCompare(b.text))
                })
                .val(vm.localValue)
                .trigger('change')
            // emit event on change.
                .on('change', function () {
                    vm.localValue = window.$(vm.$el).val()
                    vm.$emit('input', window.$(vm.$el).val())
                    vm.$emit('change', window.$(vm.$el).val())
                    vm.$emit('updateValue', window.$(vm.$el).val())
                })
        })
    },
    watch: {
        value: function (value) {
            this.localValue = value
            if (this.watcher) {
                // update value
                if (!this.multiple) {
                    window.$(this.$el)
                        .val(value).trigger('change')
                } else {
                    console.log('change')
                    window.$(this.$el)
                        .val(value)
                    this.$emit('updateValue', value)
                }
            }
        },
        options: function (options) {
            // update options
            var vm = this
            window.$(vm.$el).off().select2('destroy')
            setTimeout(function () {
                window.$(vm.$el)
                // init select2
                    .select2({
                        sorter: data => data.sort((a, b) => a.text.localeCompare(b.text))
                    })
                    .val(null)
                    .trigger('change')
                // emit event on change.
                    .on('change', function () {
                        vm.localValue = window.$(vm.$el).val()
                        vm.$emit('input', window.$(vm.$el).val())
                        vm.$emit('change', window.$(vm.$el).val())
                        vm.$emit('updateValue', window.$(vm.$el).val())
                    })
            }, 300)
        }
    },
    destroyed: function () {
        window.$(this.$el).off().select2('destroy')
    }
}
</script>
