<template>
  <div>
    <div class = "alert alert-custom alert-white alert-shadow kt-portlet" role = "alert">

      <h3 class = "text-info">{{ $t('Project status email sablonok') }}</h3>
    </div>
    <div class = "kt-portlet">
      <div class = "kt-portlet__body">
        <div class = "kt-form kt-form--label-right">
          <div class = "kt-form__body">
            <div class = "row">
              <div class = "col-md-6" >
          <FormSelect v-model="model.status_id" :title="$t('Projekt állapot')" v-if="model && model.selectables" :options="model.selectables.status_list"></FormSelect>
              </div>
              <div class = "col-md-6" >
          <FormInput v-model="model.name" :title="$t('Sablon neve')"></FormInput>
              </div>
              <div class = "col-md-12" >
          <FormWyswygEditor v-model="model.content" :title="$t('Tartalom')"></FormWyswygEditor>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
import FormSelect from '../../../../../../resources/js/components/form/FormSelect'
import FormInput from '../../../../../../resources/js/components/form/FormInput'
import FormWyswygEditor from '../../../../../../resources/js/components/form/FormWyswygEditor'

export default {
    name: 'ProjectEmailSablonForm',
    props: {
        url: {
            required: true,
            type: String
        },
        model: {
            required: true,
            type: Object
        }
    },
    data () {
        return {}
    },
    computed: {
        languages: function () {
            const l = []
            for (const it in this.$store.state.defaultStore.languages) {
                l.push(it)
            }
            return l
        }
    },
    components: { FormSelect, FormInput, FormWyswygEditor },
    methods: {},
    created () {
    },
    mounted () {
    }
}
</script>
