<template>
    <ProjectEmailSablonForm v-if="Object.keys(model).length > 0" :url="url" :model="model"></ProjectEmailSablonForm>
</template>

<script>
import ProjectEmailSablonForm from './ProjectEmailSablonForm'
import ProjectEmailSablon from './ProjectEmailSablon'

export default {
    name: 'ProjectEmailSablonCreate',
    extends: ProjectEmailSablon,
    data () {
        return {
            model: {}
        }
    },
    components: { ProjectEmailSablonForm },
    beforeMount: function () {
        this.handleCreate('project-email-sablon', this.url, {})

        this.getProjectEmailSablon()
    }
}
</script>
