@media (max-width: 480px){
    .sorting-item{
        width:50% !important;
    }
    .frontend-text{
        padding-left: 0px !important;
    }
    .page-tagline .title {
        font-size: 25px !important;
    }
    .mads h1, .mads h2, .mads h3{
        font-size: 25px !important;
    }
    .front-company article p{
        height: 80px !important;
    }
    .mads p.text-justify{
        padding-right:0px;
    }
    footer #logo {
        margin:auto;
        width:100%;

    }
    footer #logo img{
        width:100%;
    }
    #contact .h4{
        text-align: center;
    }
    #contact img{
        width:100%
    }
    #contact .members .text-right,#contact .members .text-left{
        text-align: center !important;
    }
    #contact .members .row .col-md-8,#contact .members .row .col-md-4{
        padding-bottom: 20px;
        border-bottom: solid 1px #e1e0e0;
        padding-top: 10px;
    }
    .footer-bottom .footer-linck a{
        width:100%
    }
    .widget-entry{
        margin-bottom:0px;
    }
}
.new-block input[type="text"]{
    border-radius: 0;
    border: none !important;
    border-bottom: 1px solid silver !important;
}
.select2-container  li:after {
    position: relative;
    background:none !important;
    width: 0px;
    height: 0px;
    border-radius: 5px;
    content: "";
}
.typography-article{

}
.select2-container--default .select2-selection--single, span.select2-selection.select2-selection--multiple{
height: 45px !important;
    margin-top: 10px;
}
.select2-container--default  .select2-selection__rendered{
    line-height: 30px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    top: 16px !important;
}
input[type="text"], input[type="email"], select, textarea {
 border:solid 1px silver !important;
}
.form-group label{
    margin-top: 5px;


}
h2.custom-title {
    font-size: 1.5rem;
    color: #34495e;
    padding: 6px;
}
h3.custom-title {
    font-size: 1.5rem;
    color: #34495e;
    padding: 6px;
}
.profile input{
    border:solid 1px silver;
}
.circle-tile {
    margin-bottom: 15px;
    text-align: center;
}
.circle-tile-heading {
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 100%;
    color: #FFFFFF;
    height: 80px;
    margin: 0 auto -40px;
    position: relative;
    transition: all 0.3s ease-in-out 0s;
    width: 80px;
}
.circle-tile-heading .fa {
    line-height: 80px;
}
.circle-tile-content {
    padding-top: 50px;
}
.circle-tile-number {
    font-size: 26px;
    font-weight: 700;
    line-height: 1;
    padding: 5px 0 15px;
}
.circle-tile-description {
    text-transform: uppercase;
}
.circle-tile-footer {
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(255, 255, 255, 0.5);
    display: block;
    padding: 5px;
    transition: all 0.3s ease-in-out 0s;
}
.circle-tile-footer:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}
.circle-tile-heading.dark-blue:hover {
    background-color: #2E4154;
}
.circle-tile-heading.green:hover {
    background-color: #138F77;
}
.circle-tile-heading.orange:hover {
    background-color: #DA8C10;
}
.circle-tile-heading.blue:hover {
    background-color: #2473A6;
}
.circle-tile-heading.red:hover {
    background-color: #CF4435;
}
.circle-tile-heading.purple:hover {
    background-color: #7F3D9B;
}
.tile-img {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.9);
}
.dark-blue {
    background-color: #34495E !important;
}
.green {
    background-color: #16A085 !important;
}
.blue {
    background-color: #2980B9 !important;
}
.orange {
    background-color: #F39C12 !important;
}
.red {
    background-color: #E74C3C !important;
}
.purple {
    background-color: #8E44AD !important;
}
.dark-gray {
    background-color: #7F8C8D !important;
}
.gray {
    background-color: #95A5A6 !important;
}
.light-gray {
    background-color: #BDC3C7 !important;
}
.yellow {
    background-color: #8d800a !important;
}
.text-dark-blue {
    color: #34495E;
}
.text-green {
    color: #16A085;
}
.text-blue {
    color: #2980B9;
}
.text-orange {
    color: #F39C12;
}
.text-red {
    color: #E74C3C;
}
.text-purple {
    color: #8E44AD;
}
.text-faded {
    color: rgba(255, 255, 255, 0.7);
}
.bootstrap-timepicker {
    position: relative;
}

.bootstrap-timepicker.pull-right .bootstrap-timepicker-widget.dropdown-menu {
    left: auto;
    right: 0;
}

.bootstrap-timepicker.pull-right .bootstrap-timepicker-widget.dropdown-menu:before {
    left: auto;
    right: 12px;
}

.bootstrap-timepicker.pull-right .bootstrap-timepicker-widget.dropdown-menu:after {
    left: auto;
    right: 13px;
}

.bootstrap-timepicker .input-group-addon {
    cursor: pointer;
}

.bootstrap-timepicker .input-group-addon i {
    display: inline-block;
    width: 16px;
    height: 16px;
}

.bootstrap-timepicker-widget.dropdown-menu {
    padding: 4px;
}

.bootstrap-timepicker-widget.dropdown-menu.open {
    display: inline-block;
}

.bootstrap-timepicker-widget.dropdown-menu:before {
    border-bottom: 7px solid rgba(0, 0, 0, 0.2);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    content: "";
    display: inline-block;
    position: absolute;
}

.bootstrap-timepicker-widget.dropdown-menu:after {
    border-bottom: 6px solid #FFFFFF;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    display: inline-block;
    position: absolute;
}

.bootstrap-timepicker-widget.timepicker-orient-left:before {
    left: 6px;
}

.bootstrap-timepicker-widget.timepicker-orient-left:after {
    left: 7px;
}

.bootstrap-timepicker-widget.timepicker-orient-right:before {
    right: 6px;
}

.bootstrap-timepicker-widget.timepicker-orient-right:after {
    right: 7px;
}

.bootstrap-timepicker-widget.timepicker-orient-top:before {
    top: -7px;
}

.bootstrap-timepicker-widget.timepicker-orient-top:after {
    top: -6px;
}

.bootstrap-timepicker-widget.timepicker-orient-bottom:before {
    bottom: -7px;
    border-bottom: 0;
    border-top: 7px solid #999;
}

.bootstrap-timepicker-widget.timepicker-orient-bottom:after {
    bottom: -6px;
    border-bottom: 0;
    border-top: 6px solid #ffffff;
}

.bootstrap-timepicker-widget a.btn,
.bootstrap-timepicker-widget input {
    border-radius: 4px;
}

.bootstrap-timepicker-widget table {
    width: 100%;
    margin: 0;
}

.bootstrap-timepicker-widget table td {
    text-align: center;
    height: 30px;
    width: 20px !important;
    margin: 0;
    padding: 2px;
}

.bootstrap-timepicker-widget table td:not(.separator) {
    min-width: 30px;
    width: 50px !important;
}

.bootstrap-timepicker-widget table td span {
    width: 100%;
    background: #f2a359;
}

.bootstrap-timepicker-widget table td a {
    border: 1px transparent solid;
    width: 100%;
    display: inline-block;
    margin: 0;
    padding: 8px 0;
    outline: 0;
    color: #333;
}

.bootstrap-timepicker-widget table td a:hover {
    text-decoration: none;
    color: white;
}

.bootstrap-timepicker-widget table td a i {
    margin-top: 2px;
    font-size: 18px;
}

.bootstrap-timepicker-widget table td input {
    width: 40px;
    margin: 0;
    color: black;
    text-align: center;
    padding: 0px;
}

.bootstrap-timepicker-widget .modal-content {
    padding: 4px;
}
.secondary-menu{

    background: #2b2b2b;
    height:33px;
}
#loginModal .close,#registrationModal .close {
    float: right;
    font-size: 2.35rem;
    font-weight: 900;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    border: solid 1px black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.modal .button span, .reset .button span{
    position: relative;
    float: none;
    z-index: 1;
    border:none;
}


.modal input[type="text"],.modal input,.modal select,.modal textarea
{
    background: #f8f8f8 !important;
    border:none;
}
.modal .widget-title{
    height: 68px;
    background: #f3ad0b;
}
li.login-block {
    color: #f3ad0b;
    /* background: #efefef; */
    display: inline-block;
    list-style: none;
    font-weight: 600;
    text-transform: uppercase;
    padding-left:10px;
    padding-right:10px;
}
li.login-block a:hover{
    color:white;
}
li.login-block a{
    color: #f3ad0b;
}
li.login-block:first-child {
    border-right:solid 2px silver;
}
li.login-block:after {
    content: '';
    background: none;
}
.secondary-menu ul{
    float:right;
    list-style: none
}
.sorting-item, .grid-sizer{
    padding:3px;
}
.new-block{
    padding: 60px 0;
    padding-bottom: 20px;
}
img.company{
    width: 100% !important;
    height: auto !important;
}
.block.type-3.type-3-1 article, .new-block.type-3.type-3-1 article, .new-block .little-img-text-entry article {
    padding-left: 0px;
}
.block.type-3.type-3-1 img, .new-block.type-3.type-3-1 img, .new-block .little-img-text-entry img.icon{
    width: 100%;
    height: auto;
}
.new-block.type-3 h5{
    text-align: center;
}
#logo img.act {
    position: absolute;
    left: -20px;
    top: -27px;
    opacity: 0;
    max-width: 170px;
}
nav .submeny:hover ul li a {

    white-space: nowrap;
}
header.act nav ul ul {
    top: 69px;
    width: auto;
}
nav ul ul li a {
    width: auto !important;

}
@media (max-width: 1199px) {
    nav .submeny:hover ul li a {
        width: 100%!important;

    }
    header.act nav ul ul {
        top: 0px !important;
        width: 100%;
    }
}
.login_footer.form-group {
    margin: 20px;
}
h3.calculator.text-warning {
    font-size: 1.5em;
    color:#f3ad0b !important
}
h3.calculator{
    font-size: 1.5em;
    color: #222
}
.sorting-item, .grid-sizer {
    width: 25% ;

}
.toast-title{font-weight:bold}.toast-message{-ms-word-wrap:break-word;word-wrap:break-word}.toast-message a,.toast-message label{color:#FFFFFF}.toast-message a:hover{color:#CCCCCC;text-decoration:none}.toast-close-button{position:relative;right:-0.3em;top:-0.3em;float:right;font-size:20px;font-weight:bold;color:#FFFFFF;-webkit-text-shadow:0 1px 0 #ffffff;text-shadow:0 1px 0 #ffffff;opacity:0.8;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=80);filter:alpha(opacity=80);line-height:1}.toast-close-button:hover,.toast-close-button:focus{color:#000000;text-decoration:none;cursor:pointer;opacity:0.4;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=40);filter:alpha(opacity=40)}.rtl .toast-close-button{left:-0.3em;float:left;right:0.3em}button.toast-close-button{padding:0;cursor:pointer;background:transparent;border:0;-webkit-appearance:none}.toast-top-center{top:0;right:0;width:100%}.toast-bottom-center{bottom:0;right:0;width:100%}.toast-top-full-width{top:0;right:0;width:100%}.toast-bottom-full-width{bottom:0;right:0;width:100%}.toast-top-left{top:12px;left:12px}.toast-top-right{top:12px;right:12px}.toast-bottom-right{right:12px;bottom:12px}.toast-bottom-left{bottom:12px;left:12px}#toast-container{position:fixed;z-index:999999;pointer-events:none}#toast-container *{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}#toast-container>div{position:relative;pointer-events:auto;overflow:hidden;margin:0 0 6px;padding:15px 15px 15px 50px;width:300px;-moz-border-radius:3px 3px 3px 3px;-webkit-border-radius:3px 3px 3px 3px;border-radius:3px 3px 3px 3px;background-position:15px center;background-repeat:no-repeat;-moz-box-shadow:0 0 12px #999999;-webkit-box-shadow:0 0 12px #999999;box-shadow:0 0 12px #999999;color:#FFFFFF;opacity:0.8;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=80);filter:alpha(opacity=80)}#toast-container>div.rtl{direction:rtl;padding:15px 50px 15px 15px;background-position:right 15px center}#toast-container>div:hover{-moz-box-shadow:0 0 12px #000000;-webkit-box-shadow:0 0 12px #000000;box-shadow:0 0 12px #000000;opacity:1;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);filter:alpha(opacity=100);cursor:pointer}#toast-container>.toast-info{background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=") !important}#toast-container>.toast-error{background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S19Wgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B81hguOMlQTnVyG40wAcjnmgsCNESDrjme7wfftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII=") !important}#toast-container>.toast-success{background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg==") !important}#toast-container>.toast-warning{background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGYSURBVEhL5ZSvTsNQFMbXZGICMYGYmJhAQIJAICYQPAACiSDB8AiICQQJT4CqQEwgJvYASAQCiZiYmJhAIBATCARJy+9rTsldd8sKu1M0+dLb057v6/lbq/2rK0mS/TRNj9cWNAKPYIJII7gIxCcQ51cvqID+GIEX8ASG4B1bK5gIZFeQfoJdEXOfgX4QAQg7kH2A65yQ87lyxb27sggkAzAuFhbbg1K2kgCkB1bVwyIR9m2L7PRPIhDUIXgGtyKw575yz3lTNs6X4JXnjV+LKM/m3MydnTbtOKIjtz6VhCBq4vSm3ncdrD2lk0VgUXSVKjVDJXJzijW1RQdsU7F77He8u68koNZTz8Oz5yGa6J3H3lZ0xYgXBK2QymlWWA+RWnYhskLBv2vmE+hBMCtbA7KX5drWyRT/2JsqZ2IvfB9Y4bWDNMFbJRFmC9E74SoS0CqulwjkC0+5bpcV1CZ8NMej4pjy0U+doDQsGyo1hzVJttIjhQ7GnBtRFN1UarUlH8F3xict+HY07rEzoUGPlWcjRFRr4/gChZgc3ZL2d8oAAAAASUVORK5CYII=") !important}#toast-container.toast-top-center>div,#toast-container.toast-bottom-center>div{width:300px;margin-left:auto;margin-right:auto}#toast-container.toast-top-full-width>div,#toast-container.toast-bottom-full-width>div{width:96%;margin-left:auto;margin-right:auto}.toast{background-color:#030303}.toast-success{background-color:#51A351}.toast-error{background-color:#BD362F}.toast-info{background-color:#2F96B4}.toast-warning{background-color:#F89406}.toast-progress{position:absolute;left:0;bottom:0;height:4px;background-color:#000000;opacity:0.4;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=40);filter:alpha(opacity=40)}@media all and (max-width: 240px){#toast-container>div{padding:8px 8px 8px 50px;width:11em}#toast-container>div.rtl{padding:8px 50px 8px 8px}#toast-container .toast-close-button{right:-0.2em;top:-0.2em}#toast-container .rtl .toast-close-button{left:-0.2em;right:0.2em}}@media all and (min-width: 241px) and (max-width: 480px){#toast-container>div{padding:8px 8px 8px 50px;width:18em}#toast-container>div.rtl{padding:8px 50px 8px 8px}#toast-container .toast-close-button{right:-0.2em;top:-0.2em}#toast-container .rtl .toast-close-button{left:-0.2em;right:0.2em}}@media all and (min-width: 481px) and (max-width: 768px){#toast-container>div{padding:15px 15px 15px 50px;width:25em}#toast-container>div.rtl{padding:15px 50px 15px 15px}}
.datetimepicker {
    width: 265px;
    padding: 10px;
    left: auto;
    border-radius: 0 !important
}

.datetimepicker.datetimepicker-orient-top {
    margin-top: 8px
}

.datetimepicker table {
    width: 100%
}

.datetimepicker td, .datetimepicker th {
    width: 35px;
    height: 35px;
    border-radius: 3px;
    font-weight: 400;
    border-radius: 0 !important
}

.datetimepicker thead th i {
    font-size: 1.2rem
}

.datetimepicker thead th.next, .datetimepicker thead th.prev, .datetimepicker thead th.switch {
    color: #a7abc3;
    font-weight: 500
}

.datetimepicker thead th.next .glyphicon, .datetimepicker thead th.prev .glyphicon, .datetimepicker thead th.switch .glyphicon {
    color: #a7abc3
}

.datetimepicker thead th.next:hover, .datetimepicker thead th.prev:hover, .datetimepicker thead th.switch:hover {
    background: #f7f8fa !important
}

.datetimepicker thead th.dow {
    font-weight: 500;
    color: #6c7293
}

.datetimepicker thead th.next > span, .datetimepicker thead th.prev > span {
    display: inline-block;
    font: normal normal normal 16px/1 LineAwesome;
    font-size: inherit;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-size: 1.2rem
}

.datetimepicker thead th.next > span:before {
    content: "\f112"
}

.datetimepicker thead th.prev > span:before {
    content: "\f111"
}

.datetimepicker tbody tr > td span {
    color: #6c7293
}

.datetimepicker tbody tr > td.day {
    color: #6c7293
}

.datetimepicker tbody tr > td.day:hover {
    background: #f7f8fa
}

.datetimepicker tbody tr > td.day.old {
    color: #a7abc3
}

.datetimepicker tbody tr > td.day.new {
    color: #6c7293
}

.datetimepicker tbody tr > td.day.active, .datetimepicker tbody tr > td.day.selected {
    background: #5867dd;
    color: #fff
}

.datetimepicker tbody tr > td.day.today {
    position: relative;
    background: rgba(44, 119, 244, .7) !important;
    color: #fff !important
}

.datetimepicker tbody tr > td.day.today:before {
    content: '';
    display: inline-block;
    border: solid transparent;
    border-width: 0 0 7px 7px;
    border-bottom-color: #fff;
    border-top-color: #ebedf2;
    position: absolute;
    bottom: 4px;
    right: 4px
}

.datetimepicker tbody tr > td.day.range {
    background: #f7f8fa
}

.datetimepicker tbody tr > td span.hour, .datetimepicker tbody tr > td span.minute, .datetimepicker tbody tr > td span.month, .datetimepicker tbody tr > td span.year {
    color: #6c7293
}

.datetimepicker tbody tr > td span.hour.focused, .datetimepicker tbody tr > td span.hour:hover, .datetimepicker tbody tr > td span.minute.focused, .datetimepicker tbody tr > td span.minute:hover, .datetimepicker tbody tr > td span.month.focused, .datetimepicker tbody tr > td span.month:hover, .datetimepicker tbody tr > td span.year.focused, .datetimepicker tbody tr > td span.year:hover {
    background: #f7f8fa
}

.datetimepicker tbody tr > td span.hour.active, .datetimepicker tbody tr > td span.hour.active:hover, .datetimepicker tbody tr > td span.minute.active, .datetimepicker tbody tr > td span.minute.active:hover, .datetimepicker tbody tr > td span.month.active, .datetimepicker tbody tr > td span.month.active:hover, .datetimepicker tbody tr > td span.year.active, .datetimepicker tbody tr > td span.year.active:hover {
    background: #5867dd;
    color: #fff
}

.datetimepicker tfoot tr > th.clear, .datetimepicker tfoot tr > th.today {
    font-weight: 500
}

.datetimepicker tfoot tr > th.clear:hover, .datetimepicker tfoot tr > th.today:hover {
    background-color: #f7f8fa
}

.datetimepicker.datetimepicker-inline {
    border: 1px solid #f7f8fa
}

.datepicker {
    width: 265px;
    padding: 10px;
    border-radius: 0
}

.datepicker.datepicker-orient-top {
    margin-top: 8px
}

.datepicker table {
    width: 100%
}

.datepicker td, .datepicker th {
    font-weight: regular;
    width: 35px;
    height: 35px;
    border-radius: 0
}

.datepicker thead th {
    color: #a7abc3
}

.datepicker thead th.datepicker-switch, .datepicker thead th.next, .datepicker thead th.prev {
    font-weight: 500;
    color: #a7abc3
}

.datepicker thead th.datepicker-switch i, .datepicker thead th.next i, .datepicker thead th.prev i {
    font-size: 1.2rem;
    color: #a7abc3
}

.datepicker thead th.datepicker-switch i:before, .datepicker thead th.next i:before, .datepicker thead th.prev i:before {
    line-height: 0;
    vertical-align: middle
}

.datepicker thead th.datepicker-switch:hover, .datepicker thead th.next:hover, .datepicker thead th.prev:hover {
    background: #f7f8fa !important
}

.datepicker thead th.dow {
    color: #6c7293;
    font-weight: 500
}

.datepicker tbody tr > td.day {
    color: #6c7293
}

.datepicker tbody tr > td.day:hover {
    background: #ebedf2;
    color: #6c7293
}

.datepicker tbody tr > td.day.old {
    color: #a7abc3
}

.datepicker tbody tr > td.day.new {
    color: #6c7293
}

.datepicker tbody tr > td.day.active, .datepicker tbody tr > td.day.active:hover, .datepicker tbody tr > td.day.selected, .datepicker tbody tr > td.day.selected:hover {
    background: #5867dd;
    color: #fff
}

.datepicker tbody tr > td.day.today {
    position: relative;
    background: rgba(44, 119, 244, .7) !important;
    color: #fff !important
}

.datepicker tbody tr > td.day.today:before {
    content: '';
    display: inline-block;
    border: solid transparent;
    border-width: 0 0 7px 7px;
    border-bottom-color: #fff;
    border-top-color: #ebedf2;
    position: absolute;
    bottom: 4px;
    right: 4px
}

.datepicker tbody tr > td.day.range {
    background: #f7f8fa
}

.datepicker tbody tr > td span.hour, .datepicker tbody tr > td span.minute, .datepicker tbody tr > td span.month, .datepicker tbody tr > td span.year {
    color: #6c7293
}

.datepicker tbody tr > td span.hour:hover, .datepicker tbody tr > td span.minute:hover, .datepicker tbody tr > td span.month:hover, .datepicker tbody tr > td span.year:hover {
    background: #f7f8fa
}

.datepicker tbody tr > td span.hour.active, .datepicker tbody tr > td span.hour.active.focused:hover, .datepicker tbody tr > td span.hour.active:hover, .datepicker tbody tr > td span.hour.focused, .datepicker tbody tr > td span.hour.focused:hover, .datepicker tbody tr > td span.minute.active, .datepicker tbody tr > td span.minute.active.focused:hover, .datepicker tbody tr > td span.minute.active:hover, .datepicker tbody tr > td span.minute.focused, .datepicker tbody tr > td span.minute.focused:hover, .datepicker tbody tr > td span.month.active, .datepicker tbody tr > td span.month.active.focused:hover, .datepicker tbody tr > td span.month.active:hover, .datepicker tbody tr > td span.month.focused, .datepicker tbody tr > td span.month.focused:hover, .datepicker tbody tr > td span.year.active, .datepicker tbody tr > td span.year.active.focused:hover, .datepicker tbody tr > td span.year.active:hover, .datepicker tbody tr > td span.year.focused, .datepicker tbody tr > td span.year.focused:hover {
    background: #5867dd;
    color: #fff
}

.datepicker tfoot tr > th.clear, .datepicker tfoot tr > th.today {
    font-weight: 500
}

.datepicker tfoot tr > th.clear:hover, .datepicker tfoot tr > th.today:hover {
    background: #ebedf2
}

.datepicker.datepicker-inline {
    border: 1px solid #ebedf2
}

.daterangepicker {
    padding: 0;
    margin: 0;
    width: auto;
    -webkit-box-shadow: 0 0 50px 0 rgba(82, 63, 105, .15);
    box-shadow: 0 0 50px 0 rgba(82, 63, 105, .15);
    border-radius: 0;
    border: 0;
    font-family: Poppins;
    z-index: 95;
    border-radius: 0 !important
}

.modal-open .daterangepicker {
    z-index: 1051
}

.daterangepicker:after, .daterangepicker:before {
    display: none
}

.daterangepicker .ranges ul {
    padding: 1rem 0;
    width: 170px
}

.daterangepicker .ranges li {
    padding: .7rem 1.75rem;
    font-weight: 400;
    font-size: 1rem;
    color: #6c7293;
    -webkit-transition: color .3s ease;
    transition: color .3s ease
}

.daterangepicker .ranges li.active, .daterangepicker .ranges li:hover {
    background-color: #f7f8fa;
    color: #2c77f4;
    -webkit-transition: color .3s ease;
    transition: color .3s ease
}

.daterangepicker.show-calendar .ranges {
    border-right: 1px solid #ebedf2
}

.daterangepicker.show-ranges .drp-calendar.left {
    border-left: 0
}

.daterangepicker.show-calendar .ranges {
    margin-top: 0
}

.daterangepicker .drp-buttons {
    padding: 1rem 1.75rem;
    border-top: 1px solid #ebedf2
}

.daterangepicker .drp-buttons .btn {
    font-size: .9rem;
    font-weight: 400;
    padding: .5rem 1rem;
    border-radius: 0
}

.daterangepicker .drp-calendar.left, .daterangepicker .drp-calendar.right {
    padding: 1rem 1.5rem 1rem 1.5rem
}

.daterangepicker .drp-calendar th {
    font-weight: 500;
    font-size: 1rem;
    color: #6c7293
}

.daterangepicker .drp-calendar th.month {
    font-weight: 400;
    color: #a7abc3
}

.daterangepicker .drp-calendar th.next span, .daterangepicker .drp-calendar th.prev span {
    border-width: 0 1px 1px 0;
    border-color: #a7abc3
}

.daterangepicker .drp-calendar th.next span {
    margin-right: 1px
}

.daterangepicker .drp-calendar th.prev span {
    margin-left: 1px
}

.daterangepicker .drp-calendar td {
    font-size: 1rem;
    color: #6c7293
}

.daterangepicker .drp-calendar td.available.off {
    color: #adb1c7
}

.daterangepicker .drp-calendar td.active {
    background-color: #2c77f4;
    color: #fff;
    border-radius: 0
}

.daterangepicker .drp-calendar td.active.start-date {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.daterangepicker .drp-calendar td.active.end-date {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}

.daterangepicker .drp-calendar td.today, .daterangepicker .drp-calendar td.today.active {
    border-radius: 0;
    background: rgba(44, 119, 244, .7) !important;
    color: #fff !important
}

.daterangepicker .drp-calendar td.in-range.available:not(.active):not(.off):not(.today) {
    background-color: #f7f8fa;
    color: #6c7293
}

.daterangepicker select {
    background: 0 0 !important;
    border-color: #ebedf2;
    color: #6c7293
}
