<template>
    <MonthlyPaymentForm v-if="Object.keys(model).length > 0" :url="url" :model="model"></MonthlyPaymentForm>
</template>

<script>
import MonthlyPaymentForm from './MonthlyPaymentForm'
import MonthlyPayment from './MonthlyPayment'

export default {
    name: 'MonthlyPaymentEdit',
    extends: MonthlyPayment,
    data () {
        return {
            model: {}
        }
    },
    components: { MonthlyPaymentForm },
    beforeMount: function () {
        this.handleUpdate('monthly_payments', this.url, {})

        this.getMonthlyPayment()
    }
}
</script>
