<template>
  <div>
    <div class = "alert alert-custom alert-white alert-shadow kt-portlet" role = "alert">

      <h3 class = "text-info">{{ $t('Hóközi kifizetés') }}</h3>
    </div>
    <div class = "kt-portlet">
      <div class = "kt-portlet__body">
        <div class = "kt-form kt-form--label-right">
          <div class = "kt-form__body">
            <div class = "row">
              <div class = "col-md-6" >
                    <StudentSearch v-on:select="selectStudent($event)"></StudentSearch>
              </div>
              <div class="col-md-6">
                    <FormMonthPicker v-model="model.month"  :title="$t('Hónap')"></FormMonthPicker>
              </div>
              <div class="col-md-6">
                    <FormNumberInput v-model="model.price"  :title="$t('Összeg')"></FormNumberInput>
              </div>
              <div class="col-md-6">
                    <FormTextArea v-model="model.comment"  :title="$t('Megjegyzés')"></FormTextArea>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>

<script>

import FormNumberInput from '../../../../../../resources/js/components/form/FormNumberInput'
import StudentSearch from '../../../../../Fixing/Resources/assets/js/components/StudentSearch'
import FormMonthPicker from '../../../../../../resources/js/components/form/FormMonthPicker'
import FormTextArea from '../../../../../../resources/js/components/form/FormTextArea'

export default {
    name: 'MonthlyPaymentForm',
    props: {
        url: {
            required: true,
            type: String
        },
        model: {
            required: true,
            type: Object
        }
    },
    data () {
        return {

        }
    },
    computed: {
        languages: function () {
            const l = []
            for (const it in this.$store.state.defaultStore.languages) {
                l.push(it)
            }
            return l
        }
    },
    components: { FormMonthPicker, StudentSearch, FormTextArea, FormNumberInput },
    methods: {
        selectStudent ($event) {
            this.model.student_id = $event.id
        }
    },
    created () {},
    mounted () {}
}
</script>
