<template>
    <div class="table-responsive">
        <BaseDatatable v-if="loaded" :multiple-actions="multipleAction" :module="`monthlypayment`" :apiurl="url" :list-url="`${url}/index`" :fields="fields"></BaseDatatable>
    </div>
</template>

<script>
import BaseDatatable from '../../../../../../resources/js/components/BaseDatatable'
export default {
    name: 'MonthlyPaymentList',
    props: ['url'],
    components: { BaseDatatable },
    data () {
        return {
            loaded: true,
            multipleAction: {
                localStorageVariable: 'selectedMonthlyPayment', // milyen local Storagebe rakja
                trackBy: 'id', // milyik oszlopot figyelje
                actions: [
                    {
                        name: this.$translate.t('Delete'),
                        trigger: 'bulkDelete'
                    }
                ]
            },
            apiurl: this.url,
            fields: [
                {
                    name: 'id',
                    sortField: 'id',
                    title: this.$translate.t('ID')
                },
                {
                    name: '__slot:student_link',
                    sortField: 'student_name',
                    title: this.$translate.t('Diák')
                },
                {
                    name: 'month',
                    sortField: 'month',
                    title: this.$translate.t('Hónap')
                },
                {
                    name: 'price',
                    sortField: 'price',
                    title: this.$translate.t('Összeg')
                },
                {
                    name: 'comment',
                    sortField: 'comment',
                    title: this.$translate.t('Megjegyzés')
                },
                {
                    name: 'user_name',
                    sortField: 'user_name',
                    title: this.$translate.t('Rögzitő')
                },
                {
                    name: '__slot:action_delete',
                    title: this.$translate.t('Actions')
                }
            ]
        }
    }
}
</script>
