<template>
    <div>
        <div class = "alert alert-custom alert-white alert-shadow kt-portlet" role = "alert">

            <h3 class = "text-info">{{ $t('Tags') }}</h3>
        </div>
        <div class = "kt-portlet">
            <div class = "kt-portlet__body">
                <div class = "kt-form kt-form--label-right">
                    <div class = "kt-form__body">
                        <div class = "row">
                            <div class = "col-md-6">
                                    <FormInput  v-model="model.name" :title="$t('Name')" v-on:inputEvent="setSlugEditTitle(item)" v-on:blurEvent="setSlugEditTitle(item)"></FormInput>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import FormInput from '../../../../../../../resources/js/components/form/FormInput'
import FormTextArea from '../../../../../../../resources/js/components/form/FormTextArea'
import FormCheckbox from '../../../../../../../resources/js/components/form/FormCheckbox'
import FormSelect from '../../../../../../../resources/js/components/form/FormSelect'

export default {
    name: 'TagForm',
    props: {
        url: {
            required: true,
            type: String
        },
        model: {
            required: true,
            type: Object
        },
        tags: {
            required: true
        }
    },
    data () {
        return {
            slugEditable: {}
        }
    },
    methods: {
        setSlugEditTitle (_lang) {
            if (this.model.name[_lang] && this.slugEditable[_lang]) {
                this.model.slug = this.sanitizeTitle(this.model.name[_lang])
            }
        },
        setSlugEditSlug (_lang) {
            if (this.model.slug === null || this.model.slug === '') {
                this.slugEditable[_lang] = true
            } else {
                this.slugEditable[_lang] = false
            }
        }
    },
    computed: {
        languages: function () {
            const l = []
            for (const it in this.$store.state.defaultStore.languages) {
                l.push(it)
            }
            return l
        }
    },
    components: { FormSelect, FormCheckbox, FormTextArea, FormInput }
}
</script>
