<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-12">
        <div class="kt-portlet kt-portlet--height-fluid">
          <div class="row">
            <div role="alert" class="alert alert-custom alert-white alert-shadow kt-portlet"><h3 class="text-info">Szerződés statisztika</h3></div>
            <div class="col-md-2">
                <FormSelect v-model = "year" :title = "$t('Év')" :options = "years"></FormSelect>
            </div> <div class="col-md-2">
              <FormMonthPicker v-model="month" :title="'Hónap'" @change="getData"></FormMonthPicker>
            </div>
              <div class="col-md-2 text-nowrap text-right">
                  <a type="button" class="btn-outline-warning bnt-sm btn"  :href="getLink" target="_blank">Letöltés<i class="ml-1 fa fa-file-excel"></i></a>
              </div>
          </div>
          <div class="kt-portlet__body">
              <ContractDetailsStatistic :type="selectedType" :date="selectedDate" :query="selectedQuery"></ContractDetailsStatistic>
            <div class="table-responsive">
              <table class="table table-bordered table-condensed" v-if="data">
                <tr>
                  <th>Hónap/nap</th>
                  <th>Elektronikus</th>
                  <th>Nem elektronikis</th>
                  <th>Összes</th>

                </tr>
                <tr v-for="(user2,index) in data" v-bind:key="'spm-'+index">
                  <td>{{user2.date }}</td>
                    <td><a href="" @click.prevent="selectDeatilas(user2,'online')">{{ user2.online }}</a></td>
                    <td><a href="" @click.prevent="selectDeatilas(user2,'natural')">{{ user2.cnt }}</a></td>
                  <td>{{ user2.allCnt }}</td>

                </tr>
                <tr v-if="data" class="btn-success text-white">
                  <td>Összesen</td>
                  <td>{{ sum('online') }}</td>
                  <td>{{ sum('cnt') }}</td>
                  <td>{{ sum('allCnt') }}</td>

                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import FormMonthPicker from '../../../../../../resources/js/components/form/FormMonthPicker.vue'
import Price from '../../../../../../resources/js/components/Price.vue'
import FormSelect from '../../../../../../resources/js/components/form/FormSelect.vue'
import ContractDetailsStatistic from './ContractDetailsStatistic.vue'
export default {
    name: 'ContractStatistic',
    components: { FormSelect, FormMonthPicker, Price, ContractDetailsStatistic },

    computed: {
        adminUrl: function () {
            return process.env.MIX_ADMIN_URL
        },
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}`
        },
        years: function () {
            const start = new Date().getFullYear()
            const resp = {}
            resp[start] = start
            for (let i = 1; i < 10; i++) {
                resp[start - i] = start - i
            }
            console.log(resp)
            return resp
        },
        getLink: function () {
            let query = ''
            if (this.year) {
                query += 'year=' + this.year + '&'
            }
            if (this.month) {
                query += 'month=' + this.month + '&'
            }

            return this.url + '/admin/contract-statistic/excel?' + query + '&api_token=' + $cookies.get('token')
        }
    },
    data () {
        return {
            year: null,
            month: null,
            data: null,
            selectedType: null,
            selectedDate: null,
            selectedQuery: null

        }
    },
    watch: {
        start: function (val) {
            this.$router.push({ query: Object.assign({}, this.$route.query, { start: val }) })
        },
        end: function (val) {
            this.$router.push({ query: Object.assign({}, this.$route.query, { end: val }) })
        }

    },
    created () {
        const d = new Date()
        this.year = d.getFullYear()
        if (this.$route.query.year) {
            this.year = this.$route.query.year
        }
        if (this.$route.query.month) {
            this.month = this.$route.query.month
        }

        this.getData()
    },
    methods: {
        getData () {
            let query = ''
            if (this.year) {
                query += 'year=' + this.year + '&'
            }
            if (this.month) {
                query += 'month=' + this.month + '&'
            }

            this.axios.get(this.url + '/admin/contract-statistic?' + query).then((response) => {
                this.data = response.data
            })
        },
        sum (key) {
            let sum = 0
            Object.keys(this.data).forEach(ite => {
                sum += (this.data[ite][key] > 0) ? parseInt(this.data[ite][key]) : 0
            })
            return sum
        },
        selectDeatilas (user, type) {
            console.log(user)
            this.selectedType = type
            if (this.month) {
                this.selectedDate = user.date
            } else {
                this.selectedDate = this.year + '-' + ((user.date < 10) ? '0' + user.date : user.date)
            }

            console.log(this.selectedDate)
            window.$('#contractDetailsStatistic').modal('show')
        }
    }
}
</script>
