<template>
    <div>
      <div class="modal fade" id="contractDetailsStatistic" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-xxlarge modal-dialog-centered" role="document">
          <div class="modal-content ">
            <div class="modal-header bg-warning">
              <h5 class="modal-title">Részletek</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i aria-hidden="true" class="ki ki-close"></i>
              </button>
            </div>
            <div class="modal-body p-4">
              <div class="row">
                <div class = "table-responsive">
                <table class = "table table-bordered table-responsive">

                  <tr>
                    <th>Diák</th>
                    <th>Azonosító</th>
                    <th>Szerződés dátuma </th>
                  </tr>
                  <template v-for = "item in list">
                      <tr  v-bind:key = "'stIndustry-'+item.student_id">
                          <td><a :href="'/admin/student/edit/'+item.student_id" target="_blank">{{ item.student_name }}</a></td>
                        <td>{{ item.student_number }}</td>
                        <td>{{ item.date }}</td>
                      </tr>
                    </template>

                </table>
              </div>
              </div>
              </div>
            </div>
          </div>
          </div>
        </div>
</template>

<script>

import FormDateRangePicker from '../../../../../../resources/js/components/form/FormDateRangePicker'
import FormSelect from '../../../../../../resources/js/components/form/FormSelect'

export default {
    name: 'ContractDetailsStatistic',
    components: { FormDateRangePicker, FormSelect },
    props: ['type', 'query', 'date'],
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}`
        }
    },
    watch: {
        date: {
            handler: function (val, oldVal) {
                if (val !== oldVal) {
                    this.getContractDetails()
                }
            },
            deep: true
        },
        type: {
            handler: function (val, oldVal) {
                if (val !== oldVal) {
                    this.getContractDetails()
                }
            },
            deep: true
        }
    },
    data () {
        return {
            list: []
        }
    },
    methods: {
        getContractDetails () {
            let query = ''
            if (this.type) {
                query += 'type=' + this.type + '&'
            }
            if (this.date) {
                query += 'date=' + this.date
            }

            this.axios.get(this.url + '/admin/contract-statistic-details?' + query).then(resp => {
                this.list = resp.data
            })
        }
    }
}
</script>
