<template>
  <div>
    <DashboardCompany v-if="$store.state.defaultStore.user.is_company"></DashboardCompany>
    <div v-else class="container-fluid">
      <div class="row">
        <div class="col-12" v-if="projects">
          <div role="alert" class="alert alert-custom alert-white alert-shadow kt-portlet"><h3 class="text-info">Hová kell toborozni?</h3></div>
          <div class="row">
            <div class="col-md-3 col-sm-6" v-for="p in projects" v-bind:key="'project'+p.id">
              <div class="card mt-2">
                <div class="card-title bg-secondary p-2">
                  <div class="row">
                    <div class="col-7">
                  <router-link :to="'admin/projects/details/'+p.id">{{p.company}}</router-link>
                    </div>
                    <div class="col-5"><span class="text-danger float-right ml-2 p-1 bg-black text-nowrap" style="font-size: 20px;    width: 30px;
    text-align: center;">{{p.number_of_employees-(p.worker?p.worker:0)}}</span> <span class=" text-nowrap text-info float-right p-1" style="font-size: 20px;">{{p.number_of_employees}}/{{(p.worker?p.worker:0)}}</span> </div>
                  </div>
                  </div>
                <div class="card-subtitle p-2"><router-link :to="'admin/projects/details/'+p.id"> {{p.industry}} {{p.name}}</router-link></div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6" >
              <div class="card mt-2">
                <div class="card-title bg-secondary p-2">
                  <h2 class="text-warning text-center"><router-link to="/admin/projects/index">Összes</router-link></h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card card-custom bg-white card-stretch gutter-b">
            <div role="alert" class="alert alert-custom alert-white alert-shadow kt-portlet"><h3 class="text-info">Aláírásra váró dokumentumok</h3></div>
            <div style="max-height: 500px;overflow: auto">
              <table class="table table-row-dashed table-row-gray-200 align-middle gs-0 gy-4">
                <!--begin::Table head-->
                <tbody>
                <tr class="border-0" v-for="item in documents" v-bind:key="'docs'+item.id">
                  <td>
                    <div class="symbol symbol-45px me-2">
              <span class="symbol-label">
                <a href="#" class="btn btn-primary" @click.prevent="openPdf('/'+item.file)"><i class="fa fa-file-pdf"></i></a>
              </span>
                    </div>
                  </td>
                  <td>
                    <span class="text-muted fw-bold d-block">{{ item.student_name }}</span>
                  </td>
                  <td class="text-end text-muted fw-bold" style="max-width: 200px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">{{item.name}}</td>
                  <td class="text-end">
                    <a href="#" class="btn btn-warning" @click.prevent="updateDocument(item)" title="aláírt dokumentum feltöltése"><i class="fa fa-upload"></i></a>
                    <a href="#" class="btn btn-success" @click.prevent="noSign(item.id)" title="Nem kell aláírás"><i class="fa fa-check"></i></a>
                  </td>
                </tr>
                </tbody>
              </table>
              <UpdateStudentDocument :model="selectedDocumentum" v-on:refresh="getDocument"></UpdateStudentDocument>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-custom bg-white card-stretch gutter-b">
            <div role="alert" class="alert alert-custom alert-white alert-shadow kt-portlet"><h3 class="text-info">Potenciális jelöltek</h3></div>
            <div style="max-height: 500px;overflow: auto">
              <table class="table table-row-dashed table-row-gray-200 align-middle gs-0 gy-4">
                <!--begin::Table head-->
                <tbody>
                <tr class="border-0" v-for="(item,index) in potencial" v-bind:key="'email-24-'+index" v-bind:class="{'bg-success':compareDate(item.udate)}">
                  <td>
                    <div class="symbol symbol-45px me-2">
                      <span class="symbol-label">
                      <img :src="item.image" style="height:50px" class=" align-self-center" alt="">
                      </span>
                    </div>
                  </td>
                  <td>
                    <router-link :to="'/admin/projects/details/'+item.id+'?status_id=27'" class="text-dark fw-bolder text-hover-primary mb-1 fs-6"><b style="font-size:14px">{{ item.company_name }}</b></router-link>
                    <span class="text-muted fw-bold d-block">{{ item.industry_name }}</span>
                  </td>
                  <td class="text-end text-muted fw-bold">{{item.user_name}}   </td>
                  <td class="text-end">
                   {{item.reg_name}}<br>
                   <a :href="'mailto:'+item.reg_email"> {{item.reg_email}}</a><br>
                   <a :href="'tel:'+item.reg_phone"> {{item.reg_phone}}</a><br>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-custom bg-white card-stretch gutter-b">
            <div role="alert" class="alert alert-custom alert-white alert-shadow kt-portlet"><h3 class="text-info">Tökéletes jelöltek</h3></div>
            <div style="max-height: 500px;overflow: auto">
              <table class="table table-row-dashed table-row-gray-200 align-middle gs-0 gy-4">
                <!--begin::Table head-->
                <tbody>
                <tr class="border-0" v-for="(item,index) in perfect" v-bind:key="'email-24-'+index" v-bind:class="{'bg-success':compareDate(item.udate)}">
                  <td>
                    <div class="symbol symbol-45px me-2">
                      <span class="symbol-label">
                      <img :src="item.image" style="height:50px" class=" align-self-center" alt="">
                      </span>
                    </div>
                  </td>
                  <td>
                    <router-link :to="'/admin/projects/details/'+item.id+'?status_id=28'" class="text-dark fw-bolder text-hover-primary mb-1 fs-6"><b style="font-size:14px">{{ item.company_name }}</b></router-link>
                    <span class="text-muted fw-bold d-block">{{ item.industry_name }}</span>
                  </td>
                  <td class="text-end text-muted fw-bold">{{item.user_name}}   </td>
                  <td class="text-end">
                    {{item.reg_name}}<br>
                    <a :href="'mailto:'+item.reg_email"> {{item.reg_email}}</a><br>
                    <a :href="'tel:'+item.reg_phone"> {{item.reg_phone}}</a><br>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-custom bg-white card-stretch gutter-b">
            <div role="alert" class="alert alert-custom alert-white alert-shadow kt-portlet"><h3 class="text-info">Nem alkalmas</h3></div>
            <div style="max-height: 500px;overflow: auto">
              <table class="table table-row-dashed table-row-gray-200 align-middle gs-0 gy-4">
                <!--begin::Table head-->
                <tbody>
                <tr class="border-0" v-for="(item,index) in declined" v-bind:key="'email-24-'+index" v-bind:class="{'bg-success':compareDate(item.udate)}">
                  <td>
                    <div class="symbol symbol-45px me-2">
                      <span class="symbol-label">
                      <img :src="item.image" style="height:50px" class=" align-self-center" alt="">
                      </span>
                    </div>
                  </td>
                  <td>
                    <router-link :to="'/admin/projects/details/'+item.id+'?status_id=5'" class="text-dark fw-bolder text-hover-primary mb-1 fs-6"><b style="font-size:14px">{{ item.company_name }}</b></router-link>
                    <span class="text-muted fw-bold d-block">{{ item.industry_name }}</span>
                  </td>
                  <td class="text-end text-muted fw-bold">{{item.user_name}}   </td>
                  <td class="text-end">
                    {{item.reg_name}}<br>
                    <a :href="'mailto:'+item.reg_email"> {{item.reg_email}}</a><br>
                    <a :href="'tel:'+item.reg_phone"> {{item.reg_phone}}</a><br>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-12 mt-3 mb-1 pb-1 pt-3 bg-white" v-if="users && Object.keys(users).length">
          <div class="row">
            <div class="col-md-3">
                <FormSelect v-model="selectedUser" :select2="true" @change="refresh" :options="users" title="Felelős"></FormSelect>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card card-custom bg-white card-stretch gutter-b">
            <div role="alert" class="alert alert-custom alert-white alert-shadow kt-portlet"><h4 class="text-info">Bejelentésre vár</h4></div>
            <div style="max-height: 500px;overflow: auto">
              <table class="table table-row-dashed table-row-gray-200 align-middle gs-0 gy-4">
                <!--begin::Table head-->
                <tbody>
                <tr class="border-0" v-for="(item,ind) in waiting_for_registration" v-bind:key="'waiting-'+ind">
                  <td>
                    <router-link :to="'/admin/student/edit/'+item.student_id" class="text-dark fw-bolder text-hover-primary mb-1 fs-6"><b style="font-size:14px">{{ item.student_name }}</b></router-link>
                  </td>
                  <td class="text-end">
                    <a :href="'mailto:'+item.email"> {{item.email}}</a><br>
                    <a :href="'tel:'+item.phone"> {{item.phone}}</a><br>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card card-custom bg-white card-stretch gutter-b">
            <div role="alert" class="alert alert-custom alert-white alert-shadow kt-portlet"><h4 class="text-info">Jelentkezők az elmúlt 24 órában</h4></div>
      <div style="max-height: 500px;overflow: auto">
      <table class="table table-row-dashed table-row-gray-200 align-middle gs-0 gy-4">
        <!--begin::Table head-->
        <tbody>
        <template class="border-0" v-for="item in hour24" >
          <tr v-bind:key="'hour-24'+item.id">
          <td>
            <div class="symbol symbol-45px me-2">
              <span class="symbol-label">
              <img :src="item.image" style="height:50px" class=" align-self-center" alt="">
              </span>
            </div>
          </td>
            <td class="text-end">
              <span class="badge badge-light-danger"><span style="font-size:20px" class="text-danger">{{item.new_student}}</span></span>
            </td>
          <td class="text-end text-muted fw-bold">{{item.user_name}}</td>

        </tr><tr v-bind:key="'hour-24-2-'+item.id">
          <td colspan="3">
            <router-link :to="'/admin/projects/details/'+item.id" class="text-dark fw-bolder text-hover-primary mb-1 fs-6"><b style="font-size:14px">{{ item.company_name }}</b></router-link>
            <span class="text-muted fw-bold d-block">{{ item.industry_name }}</span>
          </td>
        </tr>
        </template>
        </tbody>
      </table>
      </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card card-xl-stretch mb-5 mb-xl-8">
              <div role="alert" class="alert alert-custom alert-white alert-shadow kt-portlet"><h4 class="text-info">Jelentkezők az elmúlt 3 napban</h4></div>
            <div style="max-height: 500px;overflow: auto">
          <table class="table table-row-dashed table-row-gray-200 align-middle gs-0 gy-4">
            <!--begin::Table head-->
            <tbody>
            <template class="border-0" v-for="item in day3" >
              <tr v-bind:key="'day-3-'+item.id">
              <td>
                <div class="symbol symbol-45px me-2">
              <span class="symbol-label">
              <img :src="item.image" style="height:50px" class=" align-self-center" alt="">
              </span>
                </div>
              </td>
                <td class="text-end">
                  <span class="badge badge-light-danger"><span style="font-size:20px" class="text-danger">{{item.new_student}}</span></span>
                </td>
              <td class="text-end text-muted fw-bold">{{item.user_name}}</td>

              </tr><tr v-bind:key="'day-3-2-'+item.id">
              <td colspan="3">
                <router-link :to="'/admin/projects/details/'+item.id" class="text-dark fw-bolder text-hover-primary mb-1 fs-6"><b style="font-size:14px">{{ item.company_name }}</b></router-link>
                <span class="text-muted fw-bold d-block">{{ item.industry_name }}</span>
              </td>
            </tr>
            </template>
            </tbody>
          </table>
            </div>
        </div>
        </div>
        <div class="col-md-3">
          <div class="card card-xl-stretch mb-5 mb-xl-8">
            <div role="alert" class="alert alert-custom alert-white alert-shadow kt-portlet"><h4 class="text-info float-left">Aktív jelentkezők</h4></div>
            <div style="max-height: 500px;overflow: auto">
              <table class="table table-row-dashed table-row-gray-200 align-middle gs-0 gy-4">
                <!--begin::Table head-->
                <tbody>
                <template class="border-0" v-for="item in dayAll" >
                  <tr v-bind:key="'day-all-2'+item.id">
                  <td>
                    <div class="symbol symbol-45px me-2">
              <span class="symbol-label">
              <img :src="item.image" style="height:50px" class=" align-self-center" alt="">
              </span>
                    </div>
                  </td>
                    <td class="text-end">
                      <span class="badge badge-light-danger"><span style="font-size:20px" class="text-danger">{{item.new_student}}</span></span>
                    </td>
                  <td class="text-end text-muted fw-bold">{{item.user_name}}</td>

                </tr><tr v-bind:key="'day-all-2-'+item.id">
                  <td colspan="3">
                    <router-link :to="'/admin/projects/details/'+item.id" class="text-dark fw-bolder text-hover-primary mb-1 fs-6"><b style="font-size:14px">{{ item.company_name }}</b></router-link>
                    <span class="text-muted fw-bold d-block">{{ item.industry_name }}</span>
                  </td>
                </tr>
                </template>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-3" v-if="cert">
        <div class="col-md-3">
          <div class="card card-custom bg-white card-stretch gutter-b">
            <div role="alert" class="alert alert-custom alert-white alert-shadow kt-portlet"><h4 class="text-info">Lejár a jogviszonya</h4></div>
            <div style="max-height: 500px;overflow: auto">
              <table class="table table-row-dashed table-row-gray-200 align-middle gs-0 gy-4">
                <!--begin::Table head-->
                <tbody>
                <tr class="border-0" v-for="(item,ind) in cert.certificate" v-bind:key="'waiting-'+ind">
                  <td>
                    <router-link :to="'/admin/student/edit/'+item.student_id" class="text-dark fw-bolder text-hover-primary mb-1 fs-6"><b style="font-size:14px">{{ item.student_name }}</b></router-link><br>
                    <router-link :to="'/admin/projects/details/'+item.project_id" class="text-dark fw-bolder text-hover-primary mb-1 fs-6">{{ item.project_name }}</router-link>
                  </td>
                  <td class="text-end">
                    <h4 class="text-warning"> {{item.expire}}</h4>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card card-custom bg-white card-stretch gutter-b">
            <div role="alert" class="alert alert-custom alert-white alert-shadow kt-portlet"><h4 class="text-info">Lejár az EÜ kisjönyve</h4></div>
            <div style="max-height: 500px;overflow: auto">
              <table class="table table-row-dashed table-row-gray-200 align-middle gs-0 gy-4">
                <!--begin::Table head-->
                <tbody>
                <tr class="border-0" v-for="(item,ind) in cert.eu" v-bind:key="'waiting-'+ind">
                  <td>
                    <router-link :to="'/admin/student/edit/'+item.student_id" class="text-dark fw-bolder text-hover-primary mb-1 fs-6"><b style="font-size:14px">{{ item.student_name }}</b></router-link><br>
                    <router-link :to="'/admin/projects/details/'+item.project_id" class="text-dark fw-bolder text-hover-primary mb-1 fs-6">{{ item.project_name }}</router-link>
                  </td>
                  <td class="text-end">
                    <h4 class="text-warning"> {{item.expire}}</h4>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card card-custom bg-white card-stretch gutter-b">
            <div role="alert" class="alert alert-custom alert-white alert-shadow kt-portlet"><h4 class="text-info">Lejár az orvosija</h4></div>
            <div style="max-height: 500px;overflow: auto">
              <table class="table table-row-dashed table-row-gray-200 align-middle gs-0 gy-4">
                <!--begin::Table head-->
                <tbody>
                <tr class="border-0" v-for="(item,ind) in cert.medical" v-bind:key="'waiting-'+ind">
                  <td>
                    <router-link :to="'/admin/student/edit/'+item.student_id" class="text-dark fw-bolder text-hover-primary mb-1 fs-6"><b style="font-size:14px">{{ item.student_name }}</b></router-link><br>
                    <router-link :to="'/admin/projects/details/'+item.project_id" class="text-dark fw-bolder text-hover-primary mb-1 fs-6">{{ item.project_name }}</router-link>
                  </td>
                  <td class="text-end">
                    <h4 class="text-warning"> {{item.expire}}</h4>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card card-custom bg-white card-stretch gutter-b">
            <div role="alert" class="alert alert-custom alert-white alert-shadow kt-portlet"><h4 class="text-info">Passzív</h4></div>
            <div style="max-height: 500px;overflow: auto">
              <table class="table table-row-dashed table-row-gray-200 align-middle gs-0 gy-4">
                <!--begin::Table head-->
                <tbody>
                <tr class="border-0" v-for="(item,ind) in cert.passive" v-bind:key="'waiting-'+ind">
                  <td>
                    <router-link :to="'/admin/student/edit/'+item.student_id" class="text-dark fw-bolder text-hover-primary mb-1 fs-6"><b style="font-size:14px">{{ item.student_name }}</b></router-link><br>
                    <router-link :to="'/admin/projects/details/'+item.project_id" class="text-dark fw-bolder text-hover-primary mb-1 fs-6">{{ item.project_name }}</router-link>
                  </td>
                  <td class="text-end">
                    <h4 class="text-warning"> {{item.expire}}</h4>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card card-custom bg-white card-stretch gutter-b">
            <div role="alert" class="alert alert-custom alert-white alert-shadow kt-portlet"><h4 class="text-info">Nincs orvosija</h4></div>
            <div style="max-height: 500px;overflow: auto">
              <table class="table table-row-dashed table-row-gray-200 align-middle gs-0 gy-4">
                <!--begin::Table head-->
                <tbody>
                <tr class="border-0" v-for="(item,ind) in cert.no_medical" v-bind:key="'waiting-'+ind">
                  <td>
                    <router-link :to="'/admin/student/edit/'+item.student_id" class="text-dark fw-bolder text-hover-primary mb-1 fs-6"><b style="font-size:14px">{{ item.student_name }}</b></router-link><br>
                    <router-link :to="'/admin/projects/details/'+item.project_id" class="text-dark fw-bolder text-hover-primary mb-1 fs-6">{{ item.project_name }}</router-link>
                  </td>
                  <td class="text-end">
                    <h4 class="text-warning"> {{item.expire}}</h4>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-6">
        <div class="card card-custom bg-white card-stretch gutter-b">
          <div role="alert" class="alert alert-custom alert-white alert-shadow kt-portlet"><h4 class="text-info">Nincs EÜ kiskönyve</h4></div>
          <div style="max-height: 500px;overflow: auto">
            <table class="table table-row-dashed table-row-gray-200 align-middle gs-0 gy-4">
              <!--begin::Table head-->
              <tbody>
              <tr class="border-0" v-for="(item,ind) in cert.no_eu" v-bind:key="'waiting-'+ind">
                <td>
                  <router-link :to="'/admin/student/edit/'+item.student_id" class="text-dark fw-bolder text-hover-primary mb-1 fs-6"><b style="font-size:14px">{{ item.student_name }}</b></router-link><br>
                  <router-link :to="'/admin/projects/details/'+item.project_id" class="text-dark fw-bolder text-hover-primary mb-1 fs-6">{{ item.project_name }}</router-link>
                </td>
                <td class="text-end">
                  <h4 class="text-warning"> {{item.expire}}</h4>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      </div>
      <div class="row mb-3">
        <div class="col-xl-4">
          <div class="card card-custom bg-white card-stretch gutter-b">
            <div class="card-body">
                            <span class="svg-icon svg-icon-2x svg-icon-white">
                                <i class="text-dashboard fa fa-users fa-4x"></i>
                            </span>
              <span
                  class="card-title font-weight-bolder font-size-h2 mb-0 mt-6 d-block text-dashboard">{{ dashboard.student }}</span>
              <span class="font-weight-bold  font-size-sm">Aktív diákok</span>
            </div>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="card card-custom bg-white card-stretch gutter-b">
            <div class="card-body">
                            <span class="svg-icon svg-icon-2x svg-icon-white">
                                <i class=" text-dashboard fa fa-address-card fa-4x"></i>
                            </span>
              <span
                  class="card-title font-weight-bolder font-size-h2 mb-0 mt-6 d-block text-dashboard">{{ dashboard.company }}</span>
              <span class="font-weight-bold  font-size-sm">Aktív cégek</span>
            </div>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="card card-custom bg-white card-stretch gutter-b">
            <div class="card-body">
                            <span class="svg-icon svg-icon-2x svg-icon-white">
                                <i class=" text-dashboard fa fa-chart-bar fa-4x"></i>
                            </span>
              <span
                  class="card-title font-weight-bolder text-dashboard  font-size-h2 mb-0 mt-6 d-block">{{ dashboard.project }}</span>
              <span class="font-weight-bold  font-size-sm">Aktív projektek</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <h1 class="col-12 bg-white text-dashboard text-center p-3">Weboldal megjelenítés eszköz szerinti eloszlása</h1>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="row">
            <div class="col-8">
              <PieChart :width="300" :height="300" v-if="lastDay && lastDay[0]" :chartdata="lastDay[0].data"></PieChart>
            </div>
            <div class="col-4 bg-lime">
              <aside class="rotateInDownRight">
                <h3>Mai nap</h3>
              </aside>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-8">
              <PieChart :width="300" :height="300" v-if="last7Day && last7Day[0]"
                        :chartdata="last7Day[0].data"></PieChart>
              -
            </div>
            <div class="col-4 bg-lime">
              <aside class="rotateInDownRight">
                <h3>Utolsó 7 nap</h3>
              </aside>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-8">
              <PieChart :width="300" :height="300" v-if="lastMonth && lastMonth[0]"
                        :chartdata="lastMonth[0].data"></PieChart>
              -
            </div>
            <div class="col-4  bg-lime">
              <aside class="rotateInDownRight">
                <h3>Elmúlt 1 hónap</h3>
              </aside>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <h1 class="col-12 bg-white text-dashboard text-center p-3">Online jelenléti elmúlt 1 hónap</h1>
      </div>
      <div class="row mb-3 mt-3">
        <div class="col-xl-3">
          <div class="card card-custom bg-white card-stretch gutter-b">
            <div class="card-body">
                            <span class="svg-icon svg-icon-2x svg-icon-white">
                                <i class="text-dashboard fa fa-address-card fa-4x"></i>
                            </span>
              <span
                  class="card-title font-weight-bolder font-size-h2 mb-0 mt-6 d-block text-dashboard">{{ dashboardPresence.company }}</span>
              <span class="font-weight-bold  font-size-sm">Cégek</span>
            </div>
          </div>
        </div>
        <div class="col-xl-3">
          <div class="card card-custom bg-white card-stretch gutter-b">
            <div class="card-body">
                            <span class="svg-icon svg-icon-2x svg-icon-white">
                                <i class="text-dashboard fa fa-industry fa-4x"></i>
                            </span>
              <span
                  class="card-title font-weight-bolder font-size-h2 mb-0 mt-6 d-block text-dashboard">{{ dashboardPresence.industry }}</span>
              <span class="font-weight-bold  font-size-sm">Tevékenység</span>
            </div>
          </div>
        </div>
        <div class="col-xl-3">
          <div class="card card-custom bg-white card-stretch gutter-b">
            <div class="card-body">
                            <span class="svg-icon svg-icon-2x svg-icon-white">
                                <i class=" text-dashboard fa fa-users fa-4x"></i>
                            </span>
              <span
                  class="card-title font-weight-bolder font-size-h2 mb-0 mt-6 d-block text-dashboard">{{ dashboardPresence.student }}</span>
              <span class="font-weight-bold  font-size-sm">Diák</span>
            </div>
          </div>
        </div>
        <div class="col-xl-3">
          <div class="card card-custom bg-white card-stretch gutter-b">
            <div class="card-body">
                            <span class="svg-icon svg-icon-2x svg-icon-white">
                                <i class=" text-dashboard fa fa-clock fa-4x"></i>
                            </span>
              <span
                  class="card-title font-weight-bolder text-dashboard  font-size-h2 mb-0 mt-6 d-block">{{ dashboardPresence.hour }}</span>
              <span class="font-weight-bold  font-size-sm">Adott hónap óraszám</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <h1 class="col-12 bg-white text-center text-dashboard p-3">Napi oldalmegtekintések</h1>
      </div>
      <div class="row">
        <div class="col-md-12" style="height:300px">
          <div style="height: 300px">
            <LineChart :styles="{height: '250px', position: 'relative'}" :width="300" :height="300" v-if="pageViews && pageViews[0]" :chartdata="pageViews[0].data"></LineChart>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import DashboardCompany from './DashboardCompany'

import PieChart from './dashboard/PieChart'
import LineChart from './dashboard/LineChart'
import UpdateStudentDocument from './UpdateStudentDocument'
import FormSelect from '../../../../../../resources/js/components/form/FormSelect'
import certificates from './company/Certificates.vue'

export default {
    name: 'Dashboard',
    components: { UpdateStudentDocument, LineChart, PieChart, DashboardCompany, FormSelect },
    beforeMount: function () {
        this.$emit('updateDisable', true)
    },
    mounted () {
        this.getStatus()
        this.getExpriringCertificates()
        this.axios.get(this.url + '/dashboard').then((resp) => {
            this.last7Day = resp.data.devicesLast7Day
            this.lastDay = resp.data.devicesDay
            this.lastMonth = resp.data.deviceLastMonth
            this.pageViews = resp.data.pageViews
            this.dashboard = resp.data.dashboard
            this.dashboardPresence = resp.data.dashboardPresence
        })
        this.getDocument()
        this.getProjects()
    },
    data () {
        return {
            selectedUser: null,
            projects: null,
            cert: null,
            users: null,
            lastDay: {},
            hour24: [],
            day3: [],
            dayAll: [],
            selectedDocumentum: {},
            potencial: [],
            declined: [],
            perfect: [],
            last7Day: {},
            lastMonth: {},
            pageViews: {},
            dashboard: {},
            dashboardPresence: {},
            documents: [],
            waiting_for_registration: {}
        }
    },
    computed: {
        certificates () {
            return certificates
        },
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}`
        }
    },
    methods: {
        getStatus () {
            this.axios.get(this.url + '/projects-status' + (this.selectedUser ? '?user_id=' + this.selectedUser : '')).then((resp) => {
                this.hour24 = resp.data.hour24
                this.day3 = resp.data.day3
                this.dayAll = resp.data.dayAll
                this.potencial = resp.data.potencial
                this.perfect = resp.data.perfect
                this.declined = resp.data.declined
                this.waiting_for_registration = resp.data.waiting_for_declaration
                if (!this.users) {
                    this.users = resp.data.users
                }
            })
        },
        compareDate (date) {
            const d = new Date()
            const c = new Date(date)
            d.setDate(d.getDate() - 1)
            if (c > d) {
                return true
            }
            return false
        },
        refresh () {
            this.getStatus()
        },
        goTo (route) {
            this.$router.push(route)
        },
        getDocument () {
            this.axios.get(this.url + '/get-documents').then((resp) => {
                this.documents = resp.data.documents
            })
        },
        getExpriringCertificates () {
            this.axios.get(this.url + '/expiring-certificates?limit=15').then((resp) => {
                this.cert = resp.data
            })
        },
        openPdf (link) {
            this.$eventHub.$emit('openPDF', link)
        },
        updateDocument (item) {
            this.selectedDocumentum = item
            window.$('#updateDocument').modal('show')
        },
        noSign (id) {
            this.axios.post(this.url + '/no-sign/' + id).then((resp) => {
                this.getDocument()
            })
        },
        applyHandled (id) {
            this.axios.post(this.url + '/apply-handled/' + id).then((resp) => {
                this.getStatus()
            })
        },
        getProjects () {
            if (!this.$store.state.defaultStore.user.is_company) {
                this.axios.get('/api/v1/project/index?status=0&student-diff=1&sort=number_of_employees%7Cdesc&page=1&per_page=7').then((resp) => {
                    this.projects = resp.data.data
                })
            }
        }
    }
}
</script>
<style>
.rotateInDownRight {
  transform-origin: 0px 50px;
  transform: rotate(
      90deg
  );
  width: 100%;
  white-space: nowrap;
}

.card-custom.bg-white .card-title {
  float: right;
  font-size: 30px;
}
</style>
