<template>
    <div class="w-100 p-5">
      <div class="row mb-5">
        <h2 class="text-center col-12">{{$t('Online szerződéskötés')}}</h2>
        <div class="progress progress--sm w-100 m-4" style="height:25px;" v-if="campaign.status_id">
          <div role="progressbar"  aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-striped bg-purple progress-bar-animated" :style="'font-size: 15px;width:'+getPercent ((campaign.status_id)*10)+'%;'">{{campaign.status}} - {{getPercent((campaign.status_id)*10)+'%'}}</div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="circle-tile ">
            <a   :href="'/admin/my-questions'" title="Kérdések"><div class="circle-tile-heading bg-primary"><i class="fa fa-question fa-fw fa-3x"></i></div></a>
            <div class="circle-tile-content bg-primary">
              <div class="circle-tile-description text-faded mb-3"><h3 class="text-dark">{{$t('Kérdések')}}</h3></div>
              <a href="/admin/my-questions" class="circle-tile-footer p-2">{{$t('Tovább')}}<i class="ml-2 fa fa-chevron-circle-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="circle-tile ">
            <a  :href="'/admin/my-requests'" title="Árajánlatok"><div class="circle-tile-heading bg-warning"><i class="fa fa-newspaper fa-fw fa-3x"></i></div></a>
            <div class="circle-tile-content bg-warning">
              <div class="circle-tile-description text-faded mb-3"><h3 class="text-dark">{{ $t('Árajánlatok') }}</h3> </div>
              <a href="/admin/my-requests" class="circle-tile-footer p-2">{{$t('Tovább')}}<i class="ml-2 fa fa-chevron-circle-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="circle-tile ">
            <a :href="'/admin/my-contracts'"  title="Szerződések"><div class="circle-tile-heading bg-success"><i class="fa fa-handshake fa-fw fa-3x"></i></div></a>
            <div class="circle-tile-content bg-success">
              <div class="circle-tile-description text-faded mb-3"><h3 class="text-dark">{{$t('Szerződések')}}</h3></div>
              <a href="/admin/my-contracts" class="circle-tile-footer p-2">{{$t('Tovább')}}<i class="ml-2 fa fa-chevron-circle-right"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-5">
        <h2 class="text-center col-12">{{$t('További szolgáltatásaink')}}</h2>
        <div class="col-lg-4 col-sm-6">
          <div class="circle-tile ">
            <a  target="_blank" :href="openPdf('app/public/dashboard_company/kolcsonzes.pdf')" title="Tájékozatató letöltése"><div class="circle-tile-heading orange"><i class="fa fa-file-pdf fa-fw fa-3x"></i></div></a>
            <div class="circle-tile-content orange">
              <div class="circle-tile-description text-faded mb-3"><h3 class="text-dark">{{$t('Munkaerő-kölcsönzés')}}</h3></div>
              <a target="_blank" href ="https://madswork.hu/"  class="circle-tile-footer p-2" ><img class="img-fluid" height="50" style="max-height: 80px" src="/images/madswork_logo.png"></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="circle-tile ">
            <a target="_blank" :href="openPdf('app/public/dashboard_company/nyugdijas.pdf')" title="Tájékozatató letöltése"><div class="circle-tile-heading orange"><i class="fa fa-file-pdf fa-fw fa-3x"></i></div></a>
            <div class="circle-tile-content orange">
              <div class="circle-tile-description text-faded mb-3"><h3 class="text-dark">{{$t('Nyugdíjas foglalkoztatás')}}</h3> </div>
              <a class="circle-tile-footer p-2" href="https://www.madsgold.hu/"><img class="img-fluid" height="50" src="/images/madsgold_logo.jpg" style="max-height: 80px" ></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="circle-tile ">
            <a target="_blank" :href="openPdf('app/public/dashboard_company/kozvetites.pdf')" title="Tájékozatató letöltése"><div class="circle-tile-heading orange"><i class="fa fa-file-pdf fa-fw fa-3x"></i></div></a>
            <div class="circle-tile-content orange">
              <div class="circle-tile-description text-faded mb-3"><h3 class="text-dark">{{$t('Munkaerő-közvetítés')}}</h3></div>
              <a target="_blank" href ="https://madswork.hu/" class="circle-tile-footer p-2" ><img class="img-fluid" height="50" style="max-height: 80px"  src="/images/madswork_logo.png"></a>
            </div>
          </div>
        </div>
      </div>
        <div class="row  mb-5 page-tagline">
          <div class="col-12 class text-center mb-5">
            <button data-toggle="modal" data-target="#newStudentModal" class="btn btn-lg btn-success">{{$t('Több diákot kérek!')}}</button>
            <div v-if="enableMessage" class="alert alert-warning m-3 text-center"><h4 class="text-center">{{$t('Köszönjük a kérést. Értesítüttek az illetékeseket. Hamarasan személyesen is felvesszük a kapcsolatot veled, hogy egyeztessük a részleket!')}}</h4></div>
            <NewStudentModal v-on:success="enMessage" :industries="industires"></NewStudentModal>
          </div>
            <div class="col-lg-4 col-sm-6">
                <div class="circle-tile ">
                    <a href="#"><div class="circle-tile-heading dark-blue"><i class="fa fa-users fa-fw fa-3x"></i></div></a>
                    <div class="circle-tile-content dark-blue">
                        <div class="circle-tile-description text-faded mb-3">{{$t('Cég adatok')}}</div>
                        <router-link class="circle-tile-footer p-2" :to="'/admin/company/data'">{{$t('Tovább!')}}<i class="ml-2 fa fa-chevron-circle-right"></i></router-link>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="circle-tile ">
                    <router-link to="/admin/profile"><div class="circle-tile-heading red"><i class="fa fa-key fa-fw fa-3x"></i></div></router-link>
                    <div class="circle-tile-content red">
                        <div class="circle-tile-description text-faded mb-3"> {{$t('Jelszó módosítás')}} </div>
                        <router-link class="circle-tile-footer p-2" to="/admin/profile">{{$t('Tovább')}}<i class="ml-2 fa fa-chevron-circle-right"></i></router-link>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="circle-tile ">
                    <a href="#"><div class="circle-tile-heading yellow"><i class="fa flaticon2-chart fa-fw fa-3x"></i></div></a>
                    <div class="circle-tile-content yellow">
                        <div class="circle-tile-description text-faded mb-3">{{$t('Teljesítési igazolások')}}</div>
                        <router-link :to="'/admin/company/certificates'" class="circle-tile-footer p-2" href="#">{{$t('Tovább')}}<i class="ml-2 fa fa-chevron-circle-right"></i></router-link>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="circle-tile ">
                    <a href="#"><div class="circle-tile-heading blue"><i class="fa fa-file-pdf fa-fw fa-3x"></i></div></a>
                    <div class="circle-tile-content blue">
                        <div class="circle-tile-description text-faded mb-3">{{$t('Dokumentumok')}}  </div>
                        <router-link class="circle-tile-footer p-2" :to="'admin/company/documents'">{{$t('Tovább')}}<i class="ml-2 fa fa-chevron-circle-right"></i></router-link>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="circle-tile ">
                    <a href="#"><div class="circle-tile-heading purple"><i class="fa fa-calendar-alt fa-fw fa-3x"></i></div></a>
                    <div class="circle-tile-content purple">
                        <div class="circle-tile-description text-faded mb-3">{{$t('Online jelenléti')}} </div>
                        <router-link class="circle-tile-footer p-2" :to="'/admin/company/presents'">{{$t('Tovább')}}<i class="ml-2 fa fa-chevron-circle-right"></i></router-link>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="circle-tile ">
                    <a href="#"><div class="circle-tile-heading dark-gray"><i class="fa fa-table fa-fw fa-3x"></i></div></a>
                    <div class="circle-tile-content dark-gray">
                        <div class="circle-tile-description text-faded mb-3">{{$t('Beosztások')}}</div>
                        <router-link class="circle-tile-footer p-2" :to="'/admin/company/schedules'">{{$t('Tovább')}}<i class="ml-2 fa fa-chevron-circle-right"></i></router-link>
                    </div>
                </div>
            </div>
          <div class="col-lg-4 col-sm-6">
            <div class="circle-tile ">
              <a href="#"><div class="circle-tile-heading red"><i class="fa fa-table fa-fw fa-3x"></i></div></a>
              <div class="circle-tile-content red">
                <div class="circle-tile-description text-faded mb-3">{{$t('Jelenlét összesítő')}}</div>
                <router-link class="circle-tile-footer p-2" :to="'/admin/company/presents-summation'">{{$t('Tovább')}}<i class="ml-2 fa fa-chevron-circle-right"></i></router-link>
              </div>
            </div>
          </div>
            <div class="col-12"><hr class="separator"/></div>
        </div>
    </div>
</template>
<script>
import NewStudentModal from './NewStudentModal'
export default {
    name: 'DashboardCompany',
    components: { NewStudentModal },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/`
        }
    },
    data: function () {
        return {
            enableMessage: false,
            industires: {},
            campaign: {},
            selectedTab: 'orders'
        }
    },
    created () {
        this.getMyIndustires()
        this.getMyCampaign()
    },
    mounted: function () {

    },
    methods: {
        getMyIndustires () {
            this.axios.get(this.url + 'admin/company/get-my-industries').then(resp => {
                this.industires = {}
                resp.data.data.forEach(item => {
                    this.industires[item.id] = item.name
                })
            })
        },
        getMyCampaign () {
            this.axios.get(this.url + 'admin/company/get-my-campaign').then(resp => {
                this.campaign = resp.data.data
            })
        },
        enMessage () {
            this.enableMessage = true
            const self = this
            setTimeout(function () {
                self.enableMessage = false
            }, 4000)
        },
        openPdf (link) {
            return '/api/v1/get-any-document/' + link + '?api_token=' + $cookies.get('token')
        },
        getPercent (val) {
            if (val < 100) {
                return val
            }
            if (val === 100) {
                return 95
            }
            if (val > 100) {
                return 100
            }
        }
    }
}
</script>
<style>

</style>
