<template>
  <div>
  <div class="modal fade" id="editWorkSafety" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header bg-warning">
          <h5 class="modal-title"> EÜ/Orvosi igazolás kezelése</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i aria-hidden="true" class="ki ki-close"></i>
          </button>
        </div>
        <div class="modal-body p-4">
          <div class="row">
              <div class="col-12">
                  <FormSelect v-model="model.type" :title="'Típus'" :options="{'1':'Egeszsegügyi kiskönyv','3':'Orvosi igazolás'}"></FormSelect>
              </div>
              <div class="col-12">
                  <FormDatePicker v-model="model.date" :title="'Kiállítás dátuma'" ></FormDatePicker>
              </div>
              <div class="col-12">
                  <FormDatePicker v-model="model.expire" :title="'Lejárat dátuma'" ></FormDatePicker>
              </div>
              <div class="col-12">
                  <FormNumberInput v-model="model.price" :title="'Összeg'" ></FormNumberInput>
              </div>

              <div class="col-12">
                  <FormInput v-model="model.value" :title="'Egyéb infó'" ></FormInput>
              </div>
          </div>
        </div>
        <div class="modal-footer bg-warning">
          <button type="button" class="btn btn-danger" @click="decline()" data-dismiss="modal">Elutasít</button>
          <button type="button" class="btn btn-success" @click="approve()">Jóváhagyás</button>
        </div>
      </div>
    </div>
  </div>
  </div>
</template>

<script>

import FormInput from '../../../../../../resources/js/components/form/FormInput.vue'
import FormNumberInput from '../../../../../../resources/js/components/form/FormNumberInput.vue'
import FormMonthPicker from '../../../../../../resources/js/components/form/FormMonthPicker.vue'
import FormSelect from '../../../../../../resources/js/components/form/FormSelect.vue'
import FormAutocomplete from '../../../../../../resources/js/components/form/FormAutocomplete.vue'
import FormDatePicker from '../../../../../../resources/js/components/form/FormDatePicker.vue'
import FormDropZone from '../../../../../../resources/js/components/form/FormDropZone.vue'
export default {
    name: 'EditWorkSafety',
    props: ['model'],
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/admin`
        }
    },
    components: { FormInput, FormSelect, FormMonthPicker, FormAutocomplete, FormDatePicker, FormNumberInput, FormDropZone },
    data () {
        return {
        }
    },
    methods: {
        approve () {
            this.axios.post(this.url + '/approve-work-safety/' + this.model.id, this.model).then((resp) => {
                this.$emit('refresh')
                this.model = {
                    type: null,
                    value: null,
                    expire: null
                }
                window.$('#editWorkSafety').modal('hide')
            })
        },
        decline () {
            this.axios.delete(this.url + '/delete-work-safety/' + this.model.id).then((resp) => {
                this.$emit('refresh')
                this.model = {
                    type: null,
                    value: null,
                    expire: null
                }
                window.$('#editWorkSafety').modal('hide')
            })
        }
    }
}
</script>

<style scoped>

</style>
