<template>
  <div>
  <nav>
    <div class = "nav nav-tabs nav-fill" id = "nav-tab" role = "tablist">
      <a class = "nav-item nav-link active" @click="selectedTab='active-1'" id = "nav-section1" data-toggle = "tab" href = "#active" role = "tab" aria-controls = "nav-home" aria-selected = "true">Lejár a jogviszonya</a>
      <a class = "nav-item nav-link" @click="selectedTab='active-2'" id = "nav-section2" data-toggle = "tab" href = "#active2" role = "tab" aria-controls = "nav-home" aria-selected = "false">Lejár az EÜ kisjönyve</a>
      <a class = "nav-item nav-link" @click="selectedTab='active-5'" id = "nav-section5" data-toggle = "tab" href = "#active5" role = "tab" aria-controls = "nav-home" aria-selected = "false">Nincs az EÜ kisjönyve</a>
      <a class = "nav-item nav-link" @click="selectedTab='active-3'" id = "nav-section3" data-toggle = "tab" href = "#active3" role = "tab" aria-controls = "nav-home" aria-selected = "false">Lejár az orvosija</a>
      <a class = "nav-item nav-link" @click="selectedTab='active-6'" id = "nav-section6" data-toggle = "tab" href = "#active6" role = "tab" aria-controls = "nav-home" aria-selected = "false">Nincs orvosija</a>
      <a class = "nav-item nav-link" @click="selectedTab='active-4'" id = "nav-section4" data-toggle = "tab" href = "#active4" role = "tab" aria-controls = "nav-home" aria-selected = "false">Passzív</a>
    </div>
  </nav>
  <div class = "tab-content py-3 px-3 px-sm-0" id = "nav-tabContent">
    <div class = "tab-pane fade show active container-fluid" id = "active" role = "tabpanel" aria-labelledby = "nav-home-tab" v-if="selectedTab=='active-1'">
      <div class="table-responsive">
        <table class="table table-bordered table-condensed" v-if="cert">
          <tr>
            <th>Diák</th>
            <th>Project</th>
            <th>Érvényesség dátuma</th>
          </tr>
          <tr v-for="(item,index) in cert.certificate" v-bind:key="'spm-'+index">
            <td><router-link :to="'/admin/student/edit/'+item.student_id" class="text-dark fw-bolder text-hover-primary mb-1 fs-6"><b style="font-size:14px">{{ item.student_name }}</b></router-link></td>
            <td><router-link :to="'/admin/projects/details/'+item.project_id" class="text-dark fw-bolder text-hover-primary mb-1 fs-6">{{ item.project_name }}</router-link></td>
            <td>{{item.expire}}</td>
          </tr>
        </table>
      </div>
    </div>
    <div class = "tab-pane fade show active container-fluid" id = "active2" role = "tabpanel" aria-labelledby = "nav-home-tab" v-if="selectedTab=='active-2'">
      <div class="table-responsive">
        <table class="table table-bordered table-condensed" v-if="cert">
          <tr>
            <th>Diák</th>
            <th>Project</th>
            <th>Érvényesség dátuma</th>
          </tr>
          <tr v-for="(item,index) in cert.eu" v-bind:key="'spmeu-'+index">
            <td><router-link :to="'/admin/student/edit/'+item.student_id" class="text-dark fw-bolder text-hover-primary mb-1 fs-6"><b style="font-size:14px">{{ item.student_name }}</b></router-link></td>
            <td><router-link :to="'/admin/projects/details/'+item.project_id" class="text-dark fw-bolder text-hover-primary mb-1 fs-6">{{ item.project_name }}</router-link></td>
            <td>{{item.expire}}</td>
          </tr>
        </table>
      </div>
    </div>
    <div class = "tab-pane fade show active container-fluid" id = "active5" role = "tabpanel" aria-labelledby = "nav-home-tab" v-if="selectedTab=='active-5'">
      <div class="table-responsive">
        <table class="table table-bordered table-condensed" v-if="cert">
          <tr>
            <th>Diák</th>
            <th>Project</th>
            <th>Érvényesség dátuma</th>
          </tr>
          <tr v-for="(item,index) in cert.no_eu" v-bind:key="'spmeu2-'+index">
            <td><router-link :to="'/admin/student/edit/'+item.student_id" class="text-dark fw-bolder text-hover-primary mb-1 fs-6"><b style="font-size:14px">{{ item.student_name }}</b></router-link></td>
            <td><router-link :to="'/admin/projects/details/'+item.project_id" class="text-dark fw-bolder text-hover-primary mb-1 fs-6">{{ item.project_name }}</router-link></td>
            <td>{{item.expire}}</td>
          </tr>
        </table>
      </div>
    </div>
    <div class = "tab-pane fade show active container-fluid" id = "active2" role = "tabpanel" aria-labelledby = "nav-home-tab" v-if="selectedTab=='active-3'">
      <div class="table-responsive">
        <table class="table table-bordered table-condensed" v-if="cert">
          <tr>
            <th>Diák</th>
            <th>Project</th>
            <th>Érvényesség dátuma</th>
          </tr>
          <tr v-for="(item,index) in cert.medical" v-bind:key="'spm-'+index">
            <td><router-link :to="'/admin/student/edit/'+item.student_id" class="text-dark fw-bolder text-hover-primary mb-1 fs-6"><b style="font-size:14px">{{ item.student_name }}</b></router-link></td>
            <td><router-link :to="'/admin/projects/details/'+item.project_id" class="text-dark fw-bolder text-hover-primary mb-1 fs-6">{{ item.project_name }}</router-link></td>
            <td>{{item.expire}}</td>
          </tr>
        </table>
      </div>
    </div>
    <div class = "tab-pane fade show active container-fluid" id = "active6" role = "tabpanel" aria-labelledby = "nav-home-tab" v-if="selectedTab=='active-6'">
      <div class="table-responsive">
        <table class="table table-bordered table-condensed" v-if="cert">
          <tr>
            <th>Diák</th>
            <th>Project</th>
            <th>Érvényesség dátuma</th>
          </tr>
          <tr v-for="(item,index) in cert.no_medical" v-bind:key="'spm-'+index">
            <td><router-link :to="'/admin/student/edit/'+item.student_id" class="text-dark fw-bolder text-hover-primary mb-1 fs-6"><b style="font-size:14px">{{ item.student_name }}</b></router-link></td>
            <td><router-link :to="'/admin/projects/details/'+item.project_id" class="text-dark fw-bolder text-hover-primary mb-1 fs-6">{{ item.project_name }}</router-link></td>
            <td>{{item.expire}}</td>
          </tr>
        </table>
      </div>
    </div>
    <div class = "tab-pane fade show active container-fluid" id = "active2" role = "tabpanel" aria-labelledby = "nav-home-tab" v-if="selectedTab=='active-4'">
      <div class="table-responsive">
        <table class="table table-bordered table-condensed" v-if="cert">
          <tr>
            <th>Diák</th>
            <th>Project</th>
            <th>Érvényesség dátuma</th>
          </tr>
          <tr v-for="(item,index) in cert.passive" v-bind:key="'spm-'+index">
            <td><router-link :to="'/admin/student/edit/'+item.student_id" class="text-dark fw-bolder text-hover-primary mb-1 fs-6"><b style="font-size:14px">{{ item.student_name }}</b></router-link></td>
            <td><router-link :to="'/admin/projects/details/'+item.project_id" class="text-dark fw-bolder text-hover-primary mb-1 fs-6">{{ item.project_name }}</router-link></td>
            <td>{{item.expire}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  </div>
</template>

<script>

import FormMonthPicker from '../../../../../../resources/js/components/form/FormMonthPicker.vue'
import Price from '../../../../../../resources/js/components/Price.vue'
import FormSelect from '../../../../../../resources/js/components/form/FormSelect.vue'
import ContractDetailsStatistic from './ContractDetailsStatistic.vue'

export default {
    name: 'ExpiringCertificate',
    components: { FormSelect, FormMonthPicker, Price, ContractDetailsStatistic },

    computed: {

        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}`
        }

    },
    data () {
        return {
            cert: null,
            selectedTab: 'active-1'

        }
    },

    created () {
        this.getExpriringCertificates()
    },
    methods: {
        getExpriringCertificates () {
            this.axios.get(this.url + '/expiring-certificates').then((resp) => {
                this.cert = resp.data
            })
        }

    }
}
</script>
