<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-12">
        <div class="kt-portlet kt-portlet--height-fluid">
          <div class="row">
            <div role="alert" class="alert alert-custom alert-white alert-shadow kt-portlet col-12"><h3 class="text-info">Bevétel statisztika</h3></div>
            <div class="col-md-2">
              <FormSelect v-model="year" :title="'Év'" :options="years" @change="getData"></FormSelect>
            </div>
            <div class="col-md-2">
              <FormSelect v-model="type" :title="'Összesítés'" :options="{1:'Nettó bevétel',2:'Össz óra',3:' Diák'}" @change="getData"></FormSelect>
            </div>
            <div class="col-md-2">
               <FormInput v-model="company_name" :title="'Cég'" @change="getData"></FormInput>
            </div>
            <div class="col-md-2">
              <FormSelect v-model="user_id" :title="'PM'" :options="this.users" @change="getData"></FormSelect>
            </div>
            <div class="col-md-2">
              <FormInput v-model="sales" :title="'Sales'" @change="getData"></FormInput>
            </div>
            <div class="col-md-2">
               <FormMonthPicker v-model="contract_date" :title="'Szerződés'" @change="getData"></FormMonthPicker>
            </div>

        <!--    <div class="col-md-2 text-nowrap text-right">
              <a type="button" class="btn-outline-warning bnt-sm btn"  :href="getLink" target="_blank">Letöltés<i class="ml-1 fa fa-file-excel"></i></a>
            </div>
            -->
          </div>
          <div class="kt-portlet__body">
            <div class="table-responsive">
              <table class="table table-bordered table-condensed" v-if="data">
                <tr>
                  <th colspan="6">Partner</th>
                  <th colspan="12">Hónap</th>
                  <th colspan="4">Összesítés</th>
                </tr>
                <tr>
                  <th class="cursor-pointer nowrap" @click="sortList('name')"><i class="fa fa-fw fa-sort pull-right" ></i>Cég </th>
                  <th>Adószám</th>
                  <th>E-számla</th>
                  <th>Online jelenléti</th>
                  <th>Szerződés</th>
                  <th>Teljesítés</th>
                  <th class="cursor-pointer nowrap" @click="sortList('1')"><i class="fa fa-fw fa-sort pull-right" ></i>1</th>
                  <th class="cursor-pointer nowrap" @click="sortList('2')"><i class="fa fa-fw fa-sort pull-right" ></i>2</th>
                  <th class="cursor-pointer nowrap" @click="sortList('3')"><i class="fa fa-fw fa-sort pull-right" ></i>3</th>
                  <th class="cursor-pointer nowrap" @click="sortList('4')"><i class="fa fa-fw fa-sort pull-right" ></i>4</th>
                  <th class="cursor-pointer nowrap" @click="sortList('5')"><i class="fa fa-fw fa-sort pull-right" ></i>5</th>
                  <th class="cursor-pointer nowrap" @click="sortList('6')"><i class="fa fa-fw fa-sort pull-right" ></i>6</th>
                  <th class="cursor-pointer nowrap" @click="sortList('7')"><i class="fa fa-fw fa-sort pull-right" ></i>7</th>
                  <th class="cursor-pointer nowrap" @click="sortList('8')"><i class="fa fa-fw fa-sort pull-right" ></i>8</th>
                  <th class="cursor-pointer nowrap" @click="sortList('9')"><i class="fa fa-fw fa-sort pull-right" ></i>9</th>
                  <th class="cursor-pointer nowrap" @click="sortList('10')"><i class="fa fa-fw fa-sort pull-right" ></i>10</th>
                  <th class="cursor-pointer nowrap" @click="sortList('11')"><i class="fa fa-fw fa-sort pull-right" ></i>11</th>
                  <th class="cursor-pointer nowrap" @click="sortList('12')"><i class="fa fa-fw fa-sort pull-right" ></i>12</th>
                  <th class="cursor-pointer nowrap" @click="sortList('sum')">Nettó számla érték<i class="fa fa-fw fa-sort pull-right" ></i></th>
                  <th>Projekt menedzser</th>
                  <th>Sales</th>
                </tr>
                <tr v-for="(user2,index) in data" v-bind:key="'pm-'+index" v-bind:class="{'bg-warning':!user2.sum}">
                  <td ><a :href="'/admin/company/edit/'+user2.id" target="_blank">{{user2.name }} <i v-if="!user2.docs" class="text-danger fa fa-file-pdf"></i> </a></td>
                  <td class="text-nowrap">{{ user2.tax }}</td>
                  <td class="text-nowrap">{{ user2.invoice_type }}</td>
                  <td class="text-nowrap">{{ user2.online_presence }}</td>
                  <td class="text-nowrap">{{ user2.contract_date }}</td>
                  <td class="text-nowrap">{{ user2.emp }}/{{ user2.worker }}</td>
                  <template v-if="type==1">
                  <td class="text-nowrap text-right"><Price :value="user2[1]"></Price> </td>
                  <td class="text-nowrap text-right"><Price :value="user2[2]"></Price> </td>
                  <td class="text-nowrap text-right"><Price :value="user2[3]"></Price> </td>
                  <td class="text-nowrap text-right"><Price :value="user2[4]"></Price> </td>
                  <td class="text-nowrap text-right"><Price :value="user2[5]"></Price> </td>
                  <td class="text-nowrap text-right"><Price :value="user2[6]"></Price> </td>
                  <td class="text-nowrap text-right"><Price :value="user2[7]"></Price> </td>
                  <td class="text-nowrap text-right"><Price :value="user2[8]"></Price> </td>
                  <td class="text-nowrap text-right"><Price :value="user2[9]"></Price> </td>
                  <td class="text-nowrap text-right"><Price :value="user2[10]"></Price> </td>
                  <td class="text-nowrap text-right"><Price :value="user2[11]"></Price> </td>
                  <td class="text-nowrap text-right"><Price :value="user2[12]"></Price> </td>
                  <td class="text-nowrap text-right"><Price :value="user2.sum"></Price></td>
                  </template>
                  <template v-if="type!=1">
                    <td class="text-nowrap text-right">
                      {{user2[1]}} </td>
                    <td class="text-nowrap text-right">
                      {{user2[2]}} </td>
                    <td class="text-nowrap text-right">
                      {{user2[3]}} </td>
                    <td class="text-nowrap text-right">
                      {{user2[4]}} </td>
                    <td class="text-nowrap text-right">
                      {{user2[5]}} </td>
                    <td class="text-nowrap text-right">
                      {{user2[6]}} </td>
                    <td class="text-nowrap text-right">
                      {{user2[7]}} </td>
                    <td class="text-nowrap text-right">
                      {{user2[8]}} </td>
                    <td class="text-nowrap text-right">
                      {{user2[9]}} </td>
                    <td class="text-nowrap text-right">
                      {{user2[10]}} </td>
                    <td class="text-nowrap text-right">
                      {{user2[11]}} </td>
                    <td class="text-nowrap text-right">
                      {{user2[12]}} </td>
                    <td class="text-nowrap text-right">
                      {{user2.sum}}</td>
                  </template>
                  <td class="text-nowrap">{{user2.pm}}</td>
                  <td class="text-nowrap">{{user2.importer}}</td>
                </tr>
               <!-- <tr v-if="data" class="btn-success text-white">
                  <td>Összesen</td>
                  <td>{{ sum('sum_hour') }}</td>
                  <td>{{ sum('sum_student') }}</td>
                  <td>{{ sum('sum_company') }}</td>
                  <td><Price :value="sumsum_net')}}}</td>

                </tr>-->
                <tr>
                  <template v-if="type==1">
                    <th colspan="5">Összesen</th>
                    <th class="text-nowrap text-right"><Price :value="sumTable('1')"></Price></th>
                    <th class="text-nowrap text-right"><Price :value="sumTable('2')"></Price></th>
                    <th class="text-nowrap text-right"><Price :value="sumTable('3')"></Price></th>
                    <th class="text-nowrap text-right"><Price :value="sumTable('4')"></Price></th>
                    <th class="text-nowrap text-right"><Price :value="sumTable('5')"></Price></th>
                    <th class="text-nowrap text-right"><Price :value="sumTable('6')"></Price></th>
                    <th class="text-nowrap text-right"><Price :value="sumTable('7')"></Price></th>
                    <th class="text-nowrap text-right"><Price :value="sumTable('8')"></Price></th>
                    <th class="text-nowrap text-right"><Price :value="sumTable('9')"></Price></th>
                    <th class="text-nowrap text-right"><Price :value="sumTable('10')"></Price></th>
                    <th class="text-nowrap text-right"><Price :value="sumTable('11')"></Price></th>
                    <th class="text-nowrap text-right"><Price :value="sumTable('12')"></Price></th>
                    <th class="text-nowrap text-right"><Price :value="sumTable('sum')"></Price></th>
                  </template>
                  <template v-if="type!=1">
                    <th colspan="5">Összesen</th>
                    <th>{{sumTable('1')}}</th>
                    <th>{{sumTable('2')}}</th>
                    <th>{{sumTable('3')}}</th>
                    <th>{{sumTable('4')}}</th>
                    <th>{{sumTable('5')}}</th>
                    <th>{{sumTable('6')}}</th>
                    <th>{{sumTable('7')}}</th>
                    <th>{{sumTable('8')}}</th>
                    <th>{{sumTable('9')}}</th>
                    <th>{{sumTable('10')}}</th>
                    <th>{{sumTable('11')}}</th>
                    <th>{{sumTable('12')}}</th>
                    <th>{{sumTable('sum')}}</th>
                  </template>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import FormMonthPicker from '../../../../../../resources/js/components/form/FormMonthPicker.vue'
import Price from '../../../../../../resources/js/components/Price.vue'
import FormInput from '../../../../../../resources/js/components/form/FormInput.vue'
import FormSelect from '../../../../../../resources/js/components/form/FormSelect.vue'

export default {
    name: 'FixingStatistic',
    components: { FormMonthPicker, Price, FormInput, FormSelect },

    computed: {
        adminUrl: function () {
            return process.env.MIX_ADMIN_URL
        },

        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}`
        },
        getLink: function () {
            let query = ''
            if (this.user_id) {
                query += 'user_id=' + this.user_id + '&'
            }
            if (this.company_name) {
                query += 'company_name=' + this.company_name + '&'
            }
            if (this.sales) {
                query += 'sales=' + this.sales + '&'
            }
            if (this.year) {
                query += 'year=' + this.year + '&'
            }
            if (this.contract_date) {
                query += 'contract_date=' + this.contract_date + '&'
            }

            return this.url + '/admin/fixing-statistic/excel?' + query + '&api_token=' + $cookies.get('token')
        }

    },
    data () {
        return {
            start: null,
            end: null,
            data: null,
            year: new Date().getFullYear(),
            type: 1,
            company_name: null,
            sales: null,
            user_id: null,
            contract_date: null,
            sort: '',
            direction: '',
            users: [],
            years: {}
        }
    },
    watch: {

    },
    created () {
        this.years = {}
        const y = new Date().getFullYear()
        for (var i = 15; i >= 0; i--) {
            this.years[y - i] = y - i
        }

        this.getData()
    },
    methods: {
        getData () {
            let query = ''
            if (this.user_id) {
                query += 'user_id=' + this.user_id + '&'
            }
            if (this.company_name) {
                query += 'company_name=' + this.company_name + '&'
            }
            if (this.sales) {
                query += 'sales=' + this.sales + '&'
            }
            if (this.year) {
                query += 'year=' + this.year + '&'
            }
            if (this.contract_date) {
                query += 'contract_date=' + this.contract_date + '&'
            }

            this.axios.get(this.url + '/admin/fixing-statistic/' + this.type + '?' + query + this.getQuery()).then((response) => {
                this.data = []
                Object.keys(response.data.data).forEach(item => {
                    this.data.push(response.data.data[item])
                })
                this.users = response.data.users
            })
        },
        getQuery () {
            let query = ''

            if (this.sort) {
                query += '&sort=' + this.sort + ',' + this.direction
            }
            return query
        },
        sortList (name) {
            if (!this.direction) {
                this.direction = 'asc'
            }
            const self = this
            this.data = this.data.sort(function (a, b) {
                if (name === 'name') {
                    if (self.direction === 'asc') {
                        return a[name].localeCompare(b[name])
                    } else {
                        return b[name].localeCompare(a[name])
                    }
                } else {
                    if (self.direction === 'asc') {
                        return a[name] - b[name]
                    } else {
                        return b[name] - a[name]
                    }
                }
            })
            this.direction = (this.direction === 'asc') ? 'desc' : 'asc'
        },
        sumTable: function (field) {
            if (!this.data) {
                return 0
            }
            let s = 0
            Object.keys(this.data).forEach(index => {
                s += this.data[index][field]
            })
            return s
        },
        sum (key) {
            let sum = 0
            Object.keys(this.data).forEach(ite => {
                sum += (this.data[ite][key] > 0) ? parseInt(this.data[ite][key]) : 0
            })
            return sum
        }
    }
}
</script>
