<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-12">
        <div class="kt-portlet kt-portlet--height-fluid">
          <div class="row">
            <div role="alert" class="alert alert-custom alert-white alert-shadow kt-portlet"><h3 class="text-info">EÜ/Orvosi igazolások jóváhagyása</h3></div>
          </div>
            <EditWorkSafety v-on:refresh="refreshTable()" :model="this.selectedSafety"></EditWorkSafety>
          <div class="kt-portlet__body">
              <h1 class="title">Jóvahagyásra vár</h1>
            <div class="table-responsive">
                <BaseDatatable v-if="loaded"  :multiple-actions="multipleAction" :module="`admin`" :apiurl="url" :list-url="`${url}/admin/work-safety?approve=false`" :fields="fields"></BaseDatatable>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import FormMonthPicker from '../../../../../../resources/js/components/form/FormMonthPicker.vue'
import Price from '../../../../../../resources/js/components/Price.vue'
import BaseDatatable from '../../../../../../resources/js/components/BaseDatatable.vue'
import EditWorkSafety from './EditWorkSafety.vue'
export default {
    name: 'MedicalCertificate',
    components: { FormMonthPicker, Price, BaseDatatable, EditWorkSafety },

    computed: {
        adminUrl: function () {
            return process.env.MIX_ADMIN_URL
        },
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}`
        }
    },
    data () {
        return {
            start: null,
            loaded: true,
            selectedSafety: {},
            multipleAction: {},
            apiurl: this.url,
            fields: [
                {
                    name: 'student_number',
                    sortField: 'student_number',
                    title: this.$translate.t('MADS azonosító')
                },
                {
                    name: 'student_name',
                    sortField: 'student_name',
                    title: this.$translate.t('Diák')
                },
                {
                    name: 'type_name',
                    sortField: 'type',
                    title: this.$translate.t('Tipus')
                },
                {
                    name: 'expire',
                    sortField: 'expire',
                    title: this.$translate.t('Lejárat dáuma')
                },
                {
                    name: 'date',
                    sortField: 'date',
                    title: this.$translate.t('Dátum')
                },
                {
                    name: 'value',
                    sortField: 'value',
                    title: this.$translate.t('Infó')
                },
                {
                    name: 'project',
                    sortField: 'project',
                    title: this.$translate.t('Project')
                },
                {
                    name: '__slot:pdf_link',
                    title: this.$translate.t('File')
                }, {
                    name: '__slot:editWorkSafety',
                    title: this.$translate.t('Művelet')
                }
            ]

        }
    },
    watch: {
    },
    mounted () {
        const self = this
        this.$eventHub.$on('openWorkSafety', function (data) {
            self.selectedSafety = data
            console.log(data)
            window.$('#editWorkSafety').modal('show')
        })
    },
    methods: {
        refreshTable () {
            console.log('refresh')
            this.$eventHub.$emit('refresh-table', true)
        }
    }
}
</script>
