<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-12">
        <div class="kt-portlet kt-portlet--height-fluid">
          <div class="row">
            <div role="alert" class="alert alert-custom alert-white alert-shadow kt-portlet"><h3 class="text-info">Online eseti, tagsági</h3></div>
          </div>
          <div class="kt-portlet__body">
            <div class="table-responsive">
                <BaseDatatable v-if="loaded"  :multiple-actions="multipleAction" :module="`admin`" :apiurl="url" :list-url="`${url}/admin/membership-documents`" :fields="fields"></BaseDatatable>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import FormMonthPicker from '../../../../../../resources/js/components/form/FormMonthPicker.vue'
import Price from '../../../../../../resources/js/components/Price.vue'
import BaseDatatable from '../../../../../../resources/js/components/BaseDatatable.vue'
import EditWorkSafety from './EditWorkSafety.vue'
export default {
    name: 'MembershipDocuments',
    components: { FormMonthPicker, Price, BaseDatatable, EditWorkSafety },

    computed: {
        adminUrl: function () {
            return process.env.MIX_ADMIN_URL
        },
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}`
        }
    },
    data () {
        return {
            start: null,
            loaded: true,
            selectedSafety: {},
            multipleAction: {},
            apiurl: this.url,
            fields: [
                {
                    name: 'student_number',
                    sortField: 'student_number',
                    title: this.$translate.t('Azonosító')
                },
                {
                    name: '__slot:student_link',
                    sortField: 'student_id',
                    title: this.$translate.t('Diák')
                },
                {
                    name: 'user',
                    sortField: 'User',
                    title: this.$translate.t('Felhasználó')
                },
                {
                    name: 'project_name',
                    sortField: 'project_name',
                    title: this.$translate.t('Project')
                },
                {
                    name: 'type',
                    sortField: 'type',
                    title: this.$translate.t('Tipus')
                },
                {
                    name: 'updated_at',
                    sortField: 'updated_at',
                    title: this.$translate.t('Módosítva')
                },
                {
                    name: 'signed_date',
                    sortField: 'signed_date',
                    title: this.$translate.t('Diák aláírás')
                },
                {
                    name: 'mads_signed',
                    sortField: 'mads_signed',
                    title: this.$translate.t('MADS aláírás')
                },
                {
                    name: '__slot:pdf_link',
                    title: this.$translate.t('File')
                }
            ]

        }
    },
    watch: {
    },
    mounted () {

    },
    methods: {
        refreshTable () {
            console.log('refresh')
            this.$eventHub.$emit('refresh-table', true)
        }
    }
}
</script>
