<template>
  <div>
    <div class="modal fade" id="newStudentModal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content ">
          <div class="modal-header bg-warning">
            <h5 class="modal-title">Új diákot kérek</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <i aria-hidden="true" class="ki ki-close"></i>
            </button>
          </div>
          <div class="modal-body p-4" >
            <div class="row">
                <div class="col-md-12"><FormSelect title="Melyik tevékenységre kéred a diákokat?" v-model="model.industry_id" select2="true" :options="industries"></FormSelect></div>
                <div class="col-md-12"><FormNumberInput v-model="model.new_student" :title="'Hány új diákot szeretnél?'"></FormNumberInput></div>
                <div class="col-md-12"><FormDatePicker v-model="model.from" :title="'Mikortól kéred a diákokat?'"></FormDatePicker></div>
            </div>
            <div class="modal-footer ">
              <button type="button" class="btn btn-success"  @click="saveEvent">Elküld</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal">Mégse</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import FormTextArea from '../../../../../../resources/js/components/form/FormTextArea'
import FormInput from '../../../../../../resources/js/components/form/FormInput'
import FormSelect from '../../../../../../resources/js/components/form/FormSelect'
import FormTimePicker from '../../../../../../resources/js/components/form/FormTimePicker'
import FormDatePicker from '../../../../../../resources/js/components/form/FormDatePicker'
import FormNumberInput from '../../../../../../resources/js/components/form/FormNumberInput'
export default {
    name: 'NewStudentModal',
    data () {
        return {
            model: {}

        }
    },
    props: ['industries'],
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/admin/company-new-student`
        }
    },
    components: { FormTextArea, FormSelect, FormTimePicker, FormInput, FormDatePicker, FormNumberInput },
    methods: {
        saveEvent () {
            this.axios.post(this.url, this.model).then(() => {
                this.model = {}
                window.$('#newStudentModal').modal('hide')
                this.$emit('success')
            })
        }
    }

}
</script>
