<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-12">
        <div class="kt-portlet kt-portlet--height-fluid">
          <div class="row">
            <div role="alert" class="alert alert-custom alert-white alert-shadow kt-portlet"><h3 class="text-info">Régió statisztika</h3></div>
            <div class="col-md-2">
               <FormMonthPicker v-model="start" :title="'Tól'" @change="getData"></FormMonthPicker>
            </div>
            <div class="col-md-2">
              <FormMonthPicker v-model="end" :title="'Ig'" @change="getData"></FormMonthPicker>
            </div>
            <div class="col-md-2 text-nowrap text-right">
              <a type="button" class="btn-outline-warning bnt-sm btn"  :href="getLink" target="_blank">Letöltés<i class="ml-1 fa fa-file-excel"></i></a>
            </div>
          </div>
          <div class="kt-portlet__body">
            <div class="table-responsive">
              <table class="table table-bordered table-condensed" v-if="data">
                <tr>
                  <th>Régió</th>
                  <th>Ledolgozott munkaóra</th>
                  <th>Munkát végző tagok száma</th>
                  <th>Megbízók száma</th>
                  <th>Nettó árbevétel</th>
                </tr>
                <tr v-for="(user2,index) in data" v-bind:key="'pm-'+index">
                  <td>{{user2.region }}</td>
                  <td>{{ user2.sum_hour }}</td>
                  <td>{{ user2.sum_student }}</td>
                  <td>{{ user2.sum_company }}</td>
                  <td><Price :value="user2.sum_net"></Price></td>
                </tr>
                <tr v-if="data" class="btn-success text-white">
                  <td>Összesen</td>
                  <td>{{ sum('sum_hour') }}</td>
                  <td>{{ sum('sum_student') }}</td>
                  <td>{{ sum('sum_company') }}</td>
                  <td><Price :value="sum('sum_net')"></Price></td>

                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import FormMonthPicker from '../../../../../../resources/js/components/form/FormMonthPicker.vue'
import Price from '../../../../../../resources/js/components/Price.vue'
export default {
    name: 'RegioStatistic',
    components: { FormMonthPicker, Price },

    computed: {
        adminUrl: function () {
            return process.env.MIX_ADMIN_URL
        },
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}`
        },
        getLink: function () {
            let query = ''
            if (this.start) {
                query += 'start=' + this.start + '&'
            }
            if (this.end) {
                query += 'end=' + this.end + '&'
            }

            return this.url + '/admin/region-statistic/excel?' + query + '&api_token=' + $cookies.get('token')
        }
    },
    data () {
        return {
            start: null,
            end: null,
            data: null

        }
    },
    watch: {
        start: function (val) {
            this.$router.push({ query: Object.assign({}, this.$route.query, { start: val }) })
        },
        end: function (val) {
            this.$router.push({ query: Object.assign({}, this.$route.query, { end: val }) })
        }

    },
    created () {
        const d = new Date()
        this.start = d.getFullYear() + '-' + ((d.getMonth() + 1) > 9 ? (d.getMonth() + 1) : '0' + (d.getMonth() + 1))
        this.end = d.getFullYear() + '-' + ((d.getMonth() + 1) > 9 ? (d.getMonth() + 1) : '0' + (d.getMonth() + 1))
        if (this.$route.query.end) {
            this.end = this.$route.query.end
        }
        if (this.$route.query.start) {
            this.start = this.$route.query.start
        }

        this.getData()
    },
    methods: {
        getData () {
            let query = ''
            if (this.start) {
                query += 'start=' + this.start + '&'
            }
            if (this.end) {
                query += 'end=' + this.end + '&'
            }

            this.axios.get(this.url + '/admin/region-statistic?' + query).then((response) => {
                this.data = response.data
            })
        },
        sum (key) {
            let sum = 0
            Object.keys(this.data).forEach(ite => {
                sum += (this.data[ite][key] > 0) ? parseInt(this.data[ite][key]) : 0
            })
            return sum
        }
    }
}
</script>
