<template>
    <div class="kt-grid kt-grid--ver kt-grid--root">
        <div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v3 kt-login--signin" id="kt_login">
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor"
                 style="background: url(/assets/media/bg/bg-11.png);background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;">
                <div class="kt-grid__item kt-grid__item--fluid kt-login__wrapper" style="    background: rgba(0, 0, 0, 0.8);

    margin-top: 30px;
    border: solid 1px #f3ad0a !important;
    border-radius: 6px;
;
  ">
                    <div class="kt-login__container" >
                        <div class="kt-login__signin">
                            <div class="kt-login__head">
                                <h3 class="kt-login__title">{{$t('Új jelszó beállítása')}}</h3>
                            </div>
                            <form class="kt-form" v-on:submit.prevent="doReset" autocomplete="off">
                                <input id="real-password"  style="display:none"  type="password" autocomplete="new-password">
                                <div class="input-group">
                                    <input class="form-control"
                                           v-bind:class="{'is-invalid': hasError('password')}" type="password"
                                           placeholder="Jelszó" name="email" autocomplete="off" v-model="model.password">
                                    <div class="invalid-feedback" v-for="message in filter('password')"
                                         v-bind:key="message">{{message}}
                                    </div>
                                </div>
                              <div class="input-group">
                                <input class="form-control"
                                       v-bind:class="{'is-invalid': hasError('password_confirmation')}" type="password"
                                       placeholder="Jelszó újra" name="email" autocomplete="off" v-model="model.password_confirmation">
                                <div class="invalid-feedback" v-for="message in filter('password_confirmation')"
                                     v-bind:key="message">{{message}}
                                </div>
                              </div>
                                <div class="kt-login__actions">
                                    <button id="kt_login_signin_submit"
                                            class="btn btn-fill btn-block btn-outline-warning" type="submit">{{$t('Új jelszó mentése')}}
                                    </button>
                                  <router-link to="/admin/login" id="kt_login_signin_submit"
                                               class="text-white text-center mt-5" type="submit">{{$t('Belépés')}}
                                  </router-link>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style>
.kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container .kt-form .form-control {
    height: 46px;
    border: none;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-top: 1.5rem;
    background: rgba(235, 237, 242, 0.4);
    color: white;
}
.kt-login.kt-login--v3 {
    background-size: cover;
    background-repeat: no-repeat;
}

.kt-login.kt-login--v3 .kt-login__wrapper {
    padding: 6% 2rem 1rem 2rem;
    margin: 0 auto 2rem auto;
    overflow: hidden;
}

.kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container {
    width: 430px;
    margin: 0 auto;
}

.kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container .kt-login__logo {
    text-align: center;
    margin: 0 auto 4rem auto;
}

.kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container .kt-login__head {
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container .kt-login__head .kt-login__title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    color: #6c7293;
}

.kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container .kt-login__head .kt-login__desc {
    margin-top: 1.5rem;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 400;
    color: #a7abc3;
}

.kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container .kt-form {
    margin: 0 auto;
}

.kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container .kt-form .input-group {
    padding: 0;
    margin: 0 auto;
}

.kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container .kt-form .form-control {
    height: 46px;
    border: none;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-top: 1.5rem;
    background: rgba(235, 237, 242, 0.4);
}

.kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container .kt-form .form-control::-moz-placeholder {
    color: #a7abc3;
    opacity: 1;
}

.kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container .kt-form .form-control:-ms-input-placeholder {
    color: #a7abc3;
}

.kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container .kt-form .form-control::-webkit-input-placeholder {
    color: #a7abc3;
}

.kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container .kt-form .form-control.is-valid + .valid-feedback,
.kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container .kt-form .form-control.is-invalid + .invalid-feedback {
    font-weight: 500;
    font-size: 0.9rem;
    padding-left: 1.6rem;
}

.kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container .kt-form .kt-login__extra {
    margin-top: 30px;
    margin-bottom: 15px;
    color: #a7abc3;
    font-size: 1rem;
}

.kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container .kt-form .kt-login__extra .kt-checkbox {
    font-size: 1rem;
}

.kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container .kt-form .kt-login__extra .kt-login__link {
    font-size: 1rem;
    color: #a7abc3;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container .kt-form .kt-login__extra .kt-login__link:hover {
    color: #2c77f4;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container .kt-form .kt-login__actions {
    text-align: center;
    margin-top: 7%;
}

.kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container .kt-form .kt-login__actions .kt-login__btn-secondary,
.kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container .kt-form .kt-login__actions .kt-login__btn-primary {
    height: 50px;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container .kt-login__account {
    text-align: center;
    margin-top: 2rem;
}

.kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container .kt-login__account .kt-login__account-msg {
    font-size: 1rem;
    font-weight: 400;
    color: #a7abc3;
}

.kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container .kt-login__account .kt-login__account-link {
    font-size: 1rem;
    font-weight: 500;
    color: #6c7293;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container .kt-login__account .kt-login__account-link:hover {
    color: #2c77f4;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.kt-login.kt-login--v3.kt-login--signin .kt-login__signup {
    display: none;
}

.kt-login.kt-login--v3.kt-login--signin .kt-login__signin {
    display: block;
}

.kt-login.kt-login--v3.kt-login--signin .kt-login__forgot {
    display: none;
}

.kt-login.kt-login--v3.kt-login--signup .kt-login__signup {
    display: block;
}

.kt-login.kt-login--v3.kt-login--signup .kt-login__signin {
    display: none;
}

.kt-login.kt-login--v3.kt-login--signup .kt-login__forgot {
    display: none;
}

.kt-login.kt-login--v3.kt-login--signup .kt-login__account {
    display: none;
}

.kt-login.kt-login--v3.kt-login--forgot .kt-login__signup {
    display: none;
}

.kt-login.kt-login--v3.kt-login--forgot .kt-login__signin {
    display: none;
}

.kt-login.kt-login--v3.kt-login--forgot .kt-login__forgot {
    display: block;
}

@media (max-width: 1024px) {
    .kt-login.kt-login--v3 .kt-login__wrapper {
        padding-top: 5rem;
        width: 100%;
    }

    .kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container {
        margin: 0 auto;
    }

    .kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container .kt-login__account {
        margin-top: 1rem;
    }
}

@media (max-width: 768px) {
    .kt-login.kt-login--v3 .kt-login__wrapper {
        width: 100%;
    }

    .kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container {
        width: 100%;
        margin: 0 auto;
    }

    .kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container .kt-form {
        width: 100%;
        margin: 0 auto;
    }

    .kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container .kt-login__account {
        margin-top: 1rem;
    }
}
</style>

<script>
export default {
    name: 'Login',
    created () {
        if (this.$route.query.redirect) {
            this.redirect = this.$route.query.redirect
        }
    },
    mounted () {
        this.onReset()
    },
    watch: {
        '$route.query': {
            handler: function (val, oldVal) {
                this.onReset()
            },
            deep: true
        }
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/admin/password/reset`
        },
        logo: function () {
            return this.$store.state.defaultStore.logo
        },
        backgroundImage: function () {
            return process.env.MIX_APP_URL + '/assets/media/bg/bg-4.jpg'
        },
        appName: function () {
            return process.env.MIX_APP_NAME
        },
        year: function () {
            const d = new Date()
            return d.getFullYear()
        },
        env: function () {
            return process.env.MIX_APP_ENV
        }
    },
    data () {
        return {
            model: {
                password_confirmation: '',
                password: ''
            },
            redirect: `/${process.env.MIX_ADMIN_URL}`
        }
    },
    methods: {
        onReset () {
            if (this.$route.query.change_password && this.$route.query.change_password === 'true') {
                this.axios.get(`${this.url}/${this.$route.query.token}`).then((response) => {
                    this.model.token = this.$route.query.token
                    this.model.email = this.$route.query.email
                }).catch(() => {
                    this.$router.push('/')
                })
            }
        },
        doReset () {
            this.model.token = this.$route.query.token
            this.model.email = this.$route.query.email
            this.axios.post(this.url, this.model).then((response) => {
                this.model = {
                    password: null,
                    password_confirmation: null
                }
                this.toastMessage(this.$translate.t('Sikeres jelszó módostás!'), this.$translate.t('Lépj be az új jelszavaddal.'))
            })
        }
    }
}
</script>
