<template>
    <div>
      <div class="modal fade" id="industryDetailsModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-xxlarge modal-dialog-centered" role="document">
          <div class="modal-content ">
            <div class="modal-header bg-warning">
              <h5 class="modal-title">Részletek</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i aria-hidden="true" class="ki ki-close"></i>
              </button>
            </div>
            <div class="modal-body p-4">
              <div class="row">
                <div class = "table-responsive">
                <table class = "table table-bordered table-responsive0">

                  <tr>
                    <th>Telephely neve</th>
                    <th>Munkavégzés helye</th>
                    <th>Projektek száma </th>
                    <th>Dolgozók száma </th>
                    <th>Igényelt létszám </th>
                    <th>Teljesítés % </th>
                    <th>Teljesítés dátuma </th>
                    <th>Létszám módosítás </th>
                  </tr>
                  <template v-for = "item in list">
                      <tr  v-if="item.archive==0" v-bind:key = "'Industry-'+item.id">
                        <td>{{ item.name }}</td>
                        <td>{{ item.work_location }}</td>
                        <td>{{ item.project_count }}</td>
                        <td>{{ item.student_count }}</td>
                        <td>{{ item.number_of_employees }}</td>
                        <td>{{ (item.number_of_employees>0)?parseInt((item.student_count/item.number_of_employees)*100,0):0 }}%</td>
                        <td>{{ item.completion_date}}</td>
                        <td>{{ item.employees_change }}</td>
                      </tr>
                    </template>

                  <tr v-if="countArchive">
                    <td colspan="8" class="bg-danger text-center"><h1>Archiválva</h1></td>
                  </tr>
                  <template v-for = "item in list">
                    <tr  v-if="item.archive==1" v-bind:key = "'Industry-'+item.id">
                      <td>{{ item.name }}</td>
                      <td>{{ item.work_location }}</td>
                      <td>{{ item.project_count }}</td>
                      <td>{{ item.student_count }}</td>
                      <td>{{ item.number_of_employees }}</td>
                      <td>{{ (item.number_of_employees>0)?parseInt((item.student_count/item.number_of_employees)*100,0):0 }}%</td>
                      <td>{{ item.completion_date}}</td>
                      <td>{{ item.employees_change }}</td>
                    </tr>
                  </template>
                  <tr v-if="!list.length">
                    <td colspan="8" class="text-center">Nincs adat</td>
                  </tr>
                </table>
              </div>
              </div>
              </div>
            </div>
          </div>
          </div>
        </div>
</template>

<script>

import FormDateRangePicker from '../../../../../../resources/js/components/form/FormDateRangePicker'
import FormSelect from '../../../../../../resources/js/components/form/FormSelect'

export default {
    name: 'StaffingDetailsStatistic',
    components: { FormDateRangePicker, FormSelect },
    props: ['company_id'],
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/industry`
        },
        countArchive: function () {
            if (this.list && this.list.filter(i => i.archive === 1).length) {
                return true
            }
            return false
        }
    },
    data () {
        return {
            list: []
        }
    },
    watch: {
        company_id: {
            handler: function (val, oldVal) {
                if (val !== oldVal) {
                    this.list = []
                    this.getIndustry()
                }
            },
            deep: true
        }
    },
    methods: {
        getIndustry () {
            this.axios.get(this.url + '/list/' + this.company_id).then(resp => {
                this.list = resp.data.data
                this.temp = JSON.parse(JSON.stringify(this.list))
                if (!this.selectables || !this.selectables.site) {
                    this.selectables = resp.data.selectables
                }
                this.$emit('refresh')
            })
        }
    }
}
</script>
