<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-12">
        <div class="kt-portlet kt-portlet--height-fluid">
          <div class="row">
            <StaffingDetailsStatistic :company_id="selectedCompany"></StaffingDetailsStatistic>
            <div role="alert" class="alert alert-custom alert-white alert-shadow kt-portlet"><h3 class="text-info">Létszámigény statisztika</h3></div>
            <div class="col-md-3">
              <FormSelect v-model="user" :options="users" @change="getData"></FormSelect>
            </div>
          </div>
          <div class="kt-portlet__body">
            <div class="table-responsive">
              <table class="table table-bordered table-condensed" v-if="model && model.data">
                <tr>
                  <th class="cursor-pointer nowrap" @click="sortList('name')">Cég <i class="fa fa-fw fa-sort pull-right" ></i></th>
                  <th class="cursor-pointer nowrap" @click="sortList('project_count')">Projecktek <i class="fa fa-fw fa-sort pull-right" ></i></th>
                  <th class="cursor-pointer nowrap" @click="sortList('student_count')">Dolgozik <i class="fa fa-fw fa-sort pull-right" ></i></th>
                  <th class="cursor-pointer nowrap" @click="sortList('number_of_employees')">Megrendelt <i class="fa fa-fw fa-sort pull-right" ></i></th>
                  <th class="cursor-pointer nowrap" @click="sortList('percent')">Teljesítés % <i class="fa fa-fw fa-sort pull-right" ></i></th>
                  <th>Részletek</th>
                </tr>
                <template v-for="(user2,index) in model.data">
                <tr v-if="user2.project_count>0"  v-bind:key="'staffing-'+index">
                  <td>{{ user2.name }}</td>
                  <td>{{ user2.project_count }}</td>
                  <td>{{ user2.student_count }}</td>
                  <td>{{ user2.number_of_employees }}</td>
                  <td>{{ (user2.number_of_employees>0)?parseInt((user2.student_count/user2.number_of_employees)*100,0):0 }}%</td>
                  <td><button class = "btn btn-xs btn-success" @click="openIndustryModal(user2.company_id)" title="Részletek"><i class="fa fa fa-list"></i></button></td>
                </tr>
                </template>
                <tr><td colspan="6" class="bg-danger text-center"><h1>Nincs projekt</h1></td></tr>
                <template v-for="(user2,index) in model.data">
                  <tr v-if="user2.project_count==0"  v-bind:key="'staffing-'+index">
                    <td>{{ user2.name }}</td>
                    <td>{{ user2.project_count }}</td>
                    <td>{{ user2.student_count }}</td>
                    <td>{{ user2.number_of_employees }}</td>
                    <td>{{ (user2.number_of_employees>0)?parseInt((user2.student_count/user2.number_of_employees)*100,0):0 }}%</td>
                    <td></td>
                  </tr>
                </template>
                <tr v-if="model && model.data" class="btn-success text-white">
                  <td>Összesen</td>
                  <td>{{sum("project_count")}}</td>
                  <td>{{sum("student_count")}}</td>
                  <td>{{sum("number_of_employees")}}</td>
                  <td>{{ (sum("number_of_employees"))?parseInt((sum("student_count")/sum("number_of_employees"))*100,0):0 }}%</td>
                  <td></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import FormDateRangePicker from '../../../../../../resources/js/components/form/FormDateRangePicker'
import FormSelect from '../../../../../../resources/js/components/form/FormSelect'
import StaffingDetailsStatistic from './StaffingDetailsStatistic.vue'

export default {
    name: 'StaffingStatistic',
    components: { StaffingDetailsStatistic, FormDateRangePicker, FormSelect },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/user`
        }
    },
    data () {
        return {
            model: {},
            users: {},
            user: null,
            page: 0,
            selectedCompany: null
        }
    },
    watch: {
        user: function (val) {
            this.$router.push({ query: Object.assign({}, this.$route.query, { user_id: val }) })
        }
    },
    created () {
        if (this.$route.query.user_id) {
            this.user = this.$route.query.user_id
        }
        this.getData()
    },
    methods: {
        getData () {
            let query = this.getQuery()

            if (this.user) {
                query += '&user_id=' + this.user
            }
            this.axios.get(this.url + '/get-staffing-statistic?' + query).then((response) => {
                this.model = response.data
                this.users = response.data.users
            })
        },
        getQuery () {
            let query = ''
            if (this.sort) {
                query += 'sort=' + this.sort + ',' + this.direction
            }
            return query
        },
        sortList (name) {
            if (!this.direction) {
                this.direction = 'asc'
            }
            if (this.sort === name) {
                this.direction = (this.direction === 'asc') ? 'desc' : 'asc'
            } else {
                this.sort = name
                this.direction = 'asc'
            }
            this.getData()
        },
        openIndustryModal (id) {
            this.selectedCompany = id
            window.$('#industryDetailsModal').modal('show')
        },
        sum (key) {
            let sum = 0
            this.model.data.forEach(ite => {
                sum += (ite[key] > 0) ? parseInt(ite[key]) : 0
            })
            return sum
        }
    }
}
</script>
