<template>
  <div class="modal fade" id="updateDocument" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header bg-warning">
          <h5 class="modal-title">Aláírt dokumentum feltöltése</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i aria-hidden="true" class="ki ki-close"></i>
          </button>
        </div>
        <div class="modal-body p-4">
          <div class="row">
            <div class="col-12">
              <h1 class="text-center">{{model.student_name}}</h1>
              <h4 class="text-center">{{model.name}}</h4>
            </div>
            </div>
              <div class="col-12">
                  <FormDropZone v-if="!refreshDropzone" v-model="model.new_file"  v-on:success="changePath($event)" :student="false"  max-files="1" acceptedFiles="application/pdf" :url="'/api/v1/upload-private-file?dir=student/'+model.student_id" :option="{}" :title="'Húzd ide a dokumentumot'"></FormDropZone>
              </div>
          </div>
        <div class="modal-footer bg-warning">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Mégse</button>
          <button type="button" class="btn btn-success" @click="saveStudentSchool">Feltöltés</button>
        </div>
        </div>
    </div>

      </div>

</template>

<script>

import FormDropZone from '../../../../../../resources/js/components/form/FormDropZone'
export default {
    name: 'UpdateStudentDocument',
    props: ['model'],
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}`
        }
    },
    components: { FormDropZone },
    data () {
        return {
            refreshDropzone: false
        }
    },
    methods: {
        saveStudentSchool () {
            this.axios.post(this.url + '/update-document/' + this.model.id, this.model).then((resp) => {
                this.$emit('refresh')
                this.model = {}
                window.$('#updateDocument').modal('hide')
                this.refreshDropzone = true
                setTimeout(() => {
                    this.refreshDropzone = false
                }, 1000)
            }, () => {
                this.refreshDropzone = false
            })
        },
        changePath ($event) {
            console.log($event)
            this.model.new_file = $event
        }
    }
}
</script>

<style scoped>

</style>
