<template>
  <div>
    <!--begin: Head -->
    <div
      class="kt-user-card kt-user-card--skin-dark kt-notification-item-padding-x"
      :style="{ backgroundImage: `url(${backgroundImage})` }"
    >
      <div class="kt-user-card__avatar">
        <img
          class="kt-hidden"
          alt="Pic"
          :src="model.avatar"
        />
        <!--use below badge element instead the user avatar to display username's first letter(remove kt-hidden class to display it) -->
        <span
          class="kt-badge kt-badge--lg kt-badge--rounded kt-badge--bold kt-font-success"
          >{{model.monogram}}</span
        >
      </div>
      <div class="kt-user-card__name">{{model.name_formatted}}</div>
      <div class="kt-user-card__badge">
        <span class="btn btn-success btn-sm btn-bold btn-font-md" v-if="model && model.roles && model.roles.length > 0"
          >{{model.roles[0].name}}</span
        >
      </div>
    </div>
    <!--end: Head -->
    <!--begin: Navigation -->
    <div class="kt-notification">
        <router-link :to="`/${adminUrl}/profile`" class="kt-notification__item">
            <div class="kt-notification__item-icon">
              <i class="flaticon2-calendar-3 kt-font-success"></i>
            </div>
            <div class="kt-notification__item-details">
              <div class="kt-notification__item-title kt-font-bold">{{$t('My Profile')}}</div>
              <div class="kt-notification__item-time">
                {{$t('Account settings and more')}}
              </div>
            </div>
        </router-link>
        <router-link :to="`/${adminUrl}/profile/messages`" class="kt-notification__item">
        <div class="kt-notification__item-icon">
          <i class="flaticon2-mail kt-font-warning"></i>
        </div>
        <div class="kt-notification__item-details">
          <div class="kt-notification__item-title kt-font-bold">
              {{$t('My Messages')}}
          </div>
          <div class="kt-notification__item-time">{{$t('My message logs')}}</div>
        </div>
        </router-link>
        <router-link :to="`/${adminUrl}/profile/accesslog`" class="kt-notification__item">
        <div class="kt-notification__item-icon">
          <i class="flaticon2-rocket-1 kt-font-danger"></i>
        </div>
        <div class="kt-notification__item-details">
          <div class="kt-notification__item-title kt-font-bold">
              {{$t('My Activities')}}
          </div>
          <div class="kt-notification__item-time">{{$t('Activity history')}}</div>
        </div>
        </router-link>
          <div class="kt-notification__custom kt-space-between">
            <a
              href="#"
              v-on:click="onLogout()"
              class="btn btn-label btn-label-brand btn-sm btn-bold"
              >{{$t('Sign Out')}}</a>
          </div>
    </div>
    <!--end: Navigation -->
  </div>
</template>

<script>

export default {
    name: 'KTDropdownUser',
    props: ['model', 'adminUrl'],
    methods: {
        onLogout () {
            this.$router.push({ name: 'Logout' })
        }
    },
    computed: {
        backgroundImage () {
            return process.env.MIX_APP_URL + '/' + 'assets/media/misc/bg-1.jpg'
        }
    }
}
</script>
