<template>
  <div
    v-bind:class="{ 'kt-quick-search--has-result': hasResult() }"
    class="kt-quick-search kt-quick-search--dropdown kt-quick-search--result-compact"
    id="kt_quick_search_dropdown"
    style="width:345px;background: #222222"
  >
    <form class="kt-quick-search__form" style="padding-left: 5px;padding-right: 5px;background: #222222;width: 300px;border-bottom: solid 1px #f2a359;">
      <div
        class="input-group kt-spinner--input kt-spinner--sm kt-spinner--brand kt-spinner--right"
        v-bind:class="{ 'kt-spinner': loading }"
      >
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="flaticon2-search-1" style="color: #f2a359;"></i>
          </span>
        </div>
        <input style="color: #f2a359;"
          v-on:keyup="onSearch"
          type="text"
          class="form-control kt-quick-search__input"
          placeholder="Keresés..."
        />
        <div class="input-group-append" style="border:none!important;">
          <span class="input-group-text">
            <i
              class="fa fa-trash kt-quick-search__close" style="color: #f2a359;"
              v-on:click="reset"
              v-bind:style="{ display: hasResult() ? 'flex' : '' }"
            ></i>
          </span>
        </div>
      </div>
    </form>
    <div
      class="kt-quick-search__wrapper" options
      style="max-height: 600px ; position: relative; width: 400px ;margin-left: -20px; background: #f7f8fa; margin-top: 0px ; padding: 10px ; border: solid 1px silver; position: relative;;overflow-y: scroll"
    >
      <KTSearchResult v-bind:data="data" v-on:clear="reset"></KTSearchResult>
    </div>
  </div>
</template>

<script>
import KTSearchResult from '../../theme/topbar/SearchResult.vue'

export default {
    name: 'KTSearchDefault',
    components: { KTSearchResult },
    data () {
        return {
            data: [],
            loading: false,
            // dummy search result data
            result: [],
            timeout: null
        }
    },
    methods: {
        onSearch (event) {
            if (event.target.value.length > 2) {
                this.loading = true
                const self = this
                clearTimeout(this.timeout)
                // simulate getting search result
                this.timeout = setTimeout(() => {
                    self.axios.get('/api/v1/admin/search?search=' + event.target.value).then(resp => {
                        self.data = resp.data
                        self.loading = false
                    })
                }, 500)
            }
        },
        /**
     * Check if the data has result
     * @returns {boolean}
     */
        hasResult () {
            return this.data.length || false
        },
        /**
     * Reset search data
     */
        reset () {
            this.data = []
        }
    }
}
</script>
