<template>
  <div class="kt-quick-search__result">
    <div v-if="!data" class="kt-quick-search__message">
      No record found
    </div>

    <template v-for="(item, i) in data">
      <!-- category item -->
      <div v-if="item.type === 0" :key="i" class="kt-quick-search__category" style="background: #f2a359;padding: 8px;" @click="$emit('clear')">
        {{ item.text }} <router-link class="pull-right text-danger" v-if="item.text.includes('Diákok')" :to="item.link" >összes találat</router-link>
      </div>

      <div v-if="item.type === 1" :key="i" class="kt-quick-search__item">
        <a :href="item.link" >
        <div class="kt-quick-search__item-wrapper" @click="$emit('clear')">
          <span href="#" class="kt-quick-search__item-title">
            {{ item.text }}
          </span>
          <div v-if="item.desc" class="kt-quick-search__item-desc">
            {{ item.desc }}
          </div>
        </div>
        </a>
      </div>
    </template>
  </div>
</template>

<script>
export default {
    name: 'KTSearchResult',
    props: {
        data: Array
    }
}
</script>
