<template>
  <div class="card card-custom">
    <div class="card-header">
        <h3 class="card-label pull-left">Tulajdonságok</h3>
      <div class="card-toolbar pull-right">
          <NewAttribute v-on:refresh="getStudentAttribute" :student="student" ></NewAttribute>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-12 mb-3 border-primary">
          <div class="row">
            <div class="col-md-12">
              <table class="table table-condensed mt-3">
                <tr>
                <th>Név</th>
                <th>Érték</th>
                <th>Törlés</th>
                </tr>
                <tr v-for="document in attributes " v-bind:key="'attribute-'+ document.id">
                    <td>{{document.attribute_name}}</td>
                    <td>{{document.value}}</td>
                    <td><DeleteConfirm v-on:delete="deleteAttribute(document.id)"></DeleteConfirm></td>
                </tr>
              </table>
            </div>
            <hr class="col-md-12">
          </div>

        </div>
      </div>

    </div>
  </div>
</template>

<script>
import NewAttribute from './NewAttribute'
import DeleteConfirm from '../../../../../../../resources/js/components/DeleteConfirm'

export default {
    name: 'StudentAttributes',
    components: { NewAttribute, DeleteConfirm },
    props: ['student'],
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/student`
        }
    },
    data () {
        return {
            attributes: {},
            company: []
        }
    },

    methods: {
        getStudentAttribute () {
            this.axios.get(this.url + '/get-attribute/' + this.student.id).then((response) => {
                this.attributes = response.data.data
                this.company = response.data.company
            })
        },
        deleteAttribute (id) {
            this.axios.delete(this.url + '/delete-attribute/' + id).then((response) => {
                this.getStudentAttribute()
            })
        }

    },
    mounted () {
        this.getStudentAttribute()
    }
}
</script>

<style scoped>

</style>
