<template>
    <div class="modal fade" id="forgotModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="widget-entry">
                    <div class="widget-title p-3">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="row page-tagline  p-3">
                        <div class="col-md-12 col-md-offset-3 wow flipInX animated" data-wow-delay="0.3s"
                             style="visibility: visible; animation-delay: 0.3s; animation-name: flipInX;">
                            <h2 class="title">{{ $t('Forgot password') }}</h2>
                            <form>
                                <p>
                                    Kérlek add meg a regisztrált email címet!</p>
                                <FrontendInput v-model="model.email" :placeholder="$t('E-mail')"></FrontendInput>

                                <div class="login_footer form-group">
                                    <div class="chek-form">
                                        <div class="custome-checkbox"></div>
                                    </div>
                                    <a href="#" @click.prevent="loginModal()">{{ $t('Login') }}</a></div>
                                <div class="form-group">
                                    <button type="submit" class="button btn-xs black w-100" name="register"
                                            v-on:click.stop.prevent="doReset()"><span>{{ $t('Send password reminder') }}</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

</template>

<script>
import ForgetPass from '../../../../../../../resources/js/components/ForgetPass'
import FrontendInput from '../../../../../../../resources/js/frontend/components/form/FrontendInput'

export default {
    name: 'ForgetPasswordWeb',
    components: { FrontendInput },
    extends: ForgetPass,
    methods: {
        loginModal () {
            window.$('#loginModal').modal('show')
            window.$('#forgotModal').modal('hide')
        }
    }
}
</script>
