<template>
    <div class = "modal fade" id = "loginModal" tabindex = "-1" role = "dialog" aria-labelledby = "exampleModalLabel" aria-hidden = "true">
        <div class = "modal-dialog">
            <div class = "modal-content">
                <div class="widget-entry">
                    <div class="widget-title p-3"> <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button></div>
                <div class="row page-tagline  p-3">
                    <div class="col-md-12 col-md-offset-3 wow flipInX animated" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: flipInX;">
                        <h2 class="title">{{$t('Login')}}</h2>
                        <p class="text-info" v-if="!resend">A mymads jelszavak nem érvenyesek. Kérelel kérj új jelszót!</p>
                        <template v-if="!resend">
                        <FrontendInput aria-autocomplete="none" v-model="model.email" :placeholder="$t('Your email address')"></FrontendInput>
                        <template v-if="notVerified">
                            <p class="text-center bg-warning p-3"><a href="#" @click.prevent="resendVerification()" class=" text-dark text-uppercase">Megerősítés újraküldése</a> </p>
                        </template>
                        <FrontendInput aria-autocomplete="none" v-model="model.password" :type="'password'" :placeholder="$t('Password')"></FrontendInput>
                        <div class = "login_footer form-group">
                            <div class = "chek-form">
                                <div class = "custome-checkbox">
                                </div>
                            </div>
                            <a href = "#" @click.prevent="forgotModal()">{{$t('Forgot password?')}}</a>
                        </div>
                        <div class = "form-group">
                            <button type = "submit"  class = "button btn-xs black w-100" name = "login" @click.prevent="doLogin()"><span>{{$t('Log in')}}</span></button>
                        </div>
                        <div class = "different_login p-2 mb-2">
                            <span> {{$t('or')}}</span>
                        </div>
                        <div class = "form-note text-center">{{$t('Don\'t Have an Account?')}} <a href = "#" @click.prevent="registrationModal()">{{$t('Sign up now')}}</a></div>
                        </template>
                        <template v-if="resend">
                            <div class="col-md-12 col-md-offset-3 wow flipInX animated" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: flipInX;">
                                <h3 class="text-center" style="font-size: 1.6rem;">A megadott email címre küldtönk egy megerősítő email! Kérlek nézd meg a leveleződet.</h3>
                            </div>
                        </template>
                    </div>

                    </div>
                </div>
                </div>
            </div>
    </div>
</template>

<script>
import FrontendInput from '../../../../../../../resources/js/frontend/components/form/FrontendInput'
import Login from '../../../../../../../resources/js/components/Login'
import SocialLogin from './SocialLogin'

export default {
    name: 'LoginWeb',
    extends: Login,
    components: { SocialLogin, FrontendInput },
    methods: {
        resendVerification () {
            this.notVerified = false
            this.axios.post(this.url.replace('student/login', 'email/resend'), this.model).then(resp => {
                this.resend = resp.data.resend
            })
        },
        registrationModal () {
            window.$('#registrationModal').modal('show')
            window.$('#loginModal').modal('hide')
        },
        forgotModal () {
            window.$('#forgotModal').modal('show')
            window.$('#loginModal').modal('hide')
        }
    }
}

</script>
