<template>
    <div class="container blog-container">
        <div class="row mt-5 mb-5 page-tagline">
            <div class="col-12 bg-danger p-3" v-if="profile && profile.exit_date" >
                <h3 class="text-large text-white" style="font-size: 23px">A profilod fel lett függesztve kilépés miatt. Néhány funkció nem lesz elérhető a továbbiakban, de továbbra is hozzáférsz majd az adataidhoz!</h3>
            </div>

          <div class="col-12  mt-2 mb-2" v-if="profile && !profile.exit_date"> <router-link :to="'/munkak'" style="font-size: 23px" class="orange btn btn-icon text-center text-large text-white" > <i class=" fa-fw  fa fa-hand-paper"></i>Aktuális munkáink, válasz kedvedre és jelentkezz!</router-link></div>
          <div class="col-12  mt-2 mb-2"><a href="https://mads.hu/storage/files/partners/Dokumentumok%20honlap%20VIKTOR/munka_baleset_es_tuzvedelmi_tajekoztato_MADS_Cegcsoport_230803.pdf" target="_blank">Itt olvashatod el a Munka-, baleset és tűzvédelmi tájékoztatónkat.</a></div>
          <div  v-if="profile.date_of_entry" class="col-12  mt-2 " v-html="cert"></div>
            <div class="col-12 mt-4" v-if="profile"><h1 class="title">{{profile.name}}</h1>
            </div>
          <div class="col-12 " v-if="profile.date_of_entry">
            <h3 class="text-center text-danger">M30 as nyomtatványok</h3>
            <div class="row">
            <div class="col-md-3 p-3" v-for="m in m30List" v-bind:key="'m-30'+m">
              <a :href="'/api/v1/student/get-my-m30/'+m" target="_blank" class="btn btn-outline-success"><i class="fa fa-file-pdf-o " style="font-size:40px"></i> </a>
              <h2 style="font-size:20px;"> {{m.split('/')[1]}}</h2>
            </div>
            </div>
            <div class="w-100 alert alert alert-warning text-center">Amennyiben nem jelennének meg az M30 as nyomtatványok kérlek lépj kapcsolatba velünk!</div>

          </div>
            <div class="col-lg-4 col-sm-6" v-for="(item,index) in menu" v-bind:key="'menu-'+index">
                <div class="circle-tile ">
                    <router-link :to="item.link"><div class="circle-tile-heading " v-bind:class="item.color"><i v-bind:class="item.icon" class=" fa-fw fa-3x"></i></div></router-link>
                    <div class="circle-tile-content" v-bind:class="item.color">
                        <div class="circle-tile-description text-faded mb-3"> {{item.title}}</div>
                        <router-link :to="item.link" class="circle-tile-footer p-2" >Tovább<i  class="ml-2 fa fa-chevron-circle-right"></i></router-link>
                    </div>
                </div>
            </div>
            <div class="col-12"><hr class="separator"/></div>
        </div>
    </div>
</template>
<script>
export default {
    name: 'Profile',
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/`
        }
    },
    data: function () {
        return {
            selectedTab: 'orders',
            m30List: [],
            cert: '',
            profile: null,
            menu: [
                {
                    title: 'Online diák/jogviszony igazolás',
                    link: '/profile/student-card',
                    icon: 'fa fa-chevron-circle-right',
                    color: 'blue'
                },
                {
                    title: 'Személyes adatok',
                    link: '/profile/personal-data',
                    icon: 'fa fa-users',
                    color: 'dark-blue'
                },
                {
                    title: 'Jelszó módosítás',
                    link: '/profile/password',
                    icon: 'fa fa-key',
                    color: 'red'
                }, {
                    title: 'Munkaeszközök, igazolások',
                    link: '/profile/work-safety',
                    icon: 'fa fa-ambulance',
                    color: 'orange'
                },
                {
                    title: 'Értesítéseim',
                    link: '/profile/notification',
                    icon: 'fa fa-comment',
                    color: 'yellow'
                },
                {
                    title: 'Munka jelentkezéseim',
                    link: '/profile/apply',
                    icon: 'fa fa-hand-paper',
                    color: 'light-gray'
                },
                {
                    title: 'Pénzügyek',
                    link: '/profile/finance',
                    icon: 'fa fa-dollar',
                    color: 'green'
                },
                {
                    title: 'Bérelszámolási lapok',
                    link: '/profile/payroll',
                    icon: 'fa fa-chart-line',
                    color: 'orange'
                },
                {
                    title: 'Dokumentumok',
                    link: '/profile/documents',
                    icon: 'fa fa-file-pdf',
                    color: 'blue'
                },
                {
                    title: 'Online jelenléti',
                    link: '/profile/presents',
                    icon: 'fa fa-calendar-alt',
                    color: 'purple'
                },
                {
                    title: 'Beosztások',
                    link: '/profile/schedules',
                    icon: 'fa fa-table',
                    color: 'dark-gray'
                },
                {
                    title: 'Ráérésem',
                    link: '/profile/realization',
                    icon: 'fa fa-clock',
                    color: 'yellow'
                }

            ],
            menuExit: [
                {
                    title: 'Személyes adatok',
                    link: '/profile/personal-data',
                    icon: 'fa fa-users',
                    color: 'dark-blue'
                },
                {
                    title: 'Jelszó módosítás',
                    link: '/profile/password',
                    icon: 'fa fa-key',
                    color: 'red'
                }, {
                    title: 'Munkaeszközök, igazolások',
                    link: '/profile/work-safety',
                    icon: 'fa fa-ambulance',
                    color: 'orange'
                },
                {
                    title: 'Pénzügyek',
                    link: '/profile/finance',
                    icon: 'fa fa-dollar',
                    color: 'green'
                },
                {
                    title: 'Bérelszámolási lapok',
                    link: '/profile/payroll',
                    icon: 'fa fa-chart-line',
                    color: 'orange'
                },
                {
                    title: 'Dokumentumok',
                    link: '/profile/documents',
                    icon: 'fa fa-file-pdf',
                    color: 'blue'
                }

            ]
        }
    },
    created () {

    },
    mounted: function () {
        this.initUserPage()
        this.m30()
        this.myCert()
    },
    methods: {
        changeTab (val) {
            this.selectedTab = val
        },
        getMenu () {
            if (this.profile) {
                if (this.profile.exit_date) {
                    return this.menuExit
                }
                return this.menu
            }
            return []
        },
        m30 () {
            this.axios.get(`${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/` + 'student/my-m30').then((response) => {
                this.m30List = response.data
            })
        },
        myCert () {
            this.axios.get(`${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/` + 'student/get-my-cert').then((response) => {
                this.cert = response.data.data
            })
        },
        initUserPage () {
            this.axios.get(`${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/` + 'student/profile').then((response) => {
                this.profile = response.data.data
                if (!this.profile.id) {
                    const self = this
                    self.axios.post(`${self.url}logout`).finally(() => {
                        self.$store.commit('defaultStore/setStudentLoggedIn', false)
                        self.$store.commit('defaultStore/setStudentUser', {})
                        $cookies.remove('student-token')
                        document.location.href = '/'
                    })
                }
                this.$store.commit('defaultStore/setStudent', response.data.data)

                if (this.profile.avatar !== null) {
                    this.hasImage = true
                    this.image = this.profile.avatar
                }
            })
        }
    }
}
</script>
