<template>
    <div class="modal fade" id="registrationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content modal-lg">
                <div class="widget-entry">
                    <div class="widget-title p-3">
                        <h2 class="d-inline text-white pl-3 pt-2"> Regisztráció</h2>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="row page-tagline  p-3">
                        <div v-if="!regFinished" class="col-md-12 col-md-offset-3 ">
                           <p class="text-danger col-md-12"> Regisztrációt követően e-mailben értesítünk aktuális munkáinkról.
                               FIGYELEM: A regisztráció nem azonos a MADS - Márton Áron Iskolaszövetkezetbe való belépéssel!</p>
                            <div class="row">
                                <div class="col-md-6 mt-3  text-left">
                                    <h3 class="text-left p-2 text-dark">Személyes adatok</h3>
                                    <FrontendInput v-model="model.name" :placeholder="$t('Név')"></FrontendInput>
                                    <FrontendSelect v-model="model.gender" :title="$t('Neme')" :options="{1:'Nő', 2:'Férfi'}"></FrontendSelect>
                                    <FrontendDatePicker v-model="model.birth_date" :mask="['####-##-##']" :placeholder="$t('Születési dátum')" ></FrontendDatePicker>
                                    <FrontendMask :help-text="'pl:+36308111111'" :mask="['+36(##)-###-####']"  v-model="model.phone" :placeholder="$t('Telefonszám')" ></FrontendMask>
                                    <FrontendInput v-model="model.email" :placeholder="$t('Email')"></FrontendInput>
                                    <FrontendSingleCheckbox v-model="model.ability_to_work"  title="Megváltozott munkaképességű?"></FrontendSingleCheckbox>
                                    <FrontendInput type="password" v-model="model.password" :placeholder="$t('Password')"></FrontendInput>
                                  <FrontendInput type="password" v-model="model.password_confirm" :placeholder="$t('Password again')"></FrontendInput>
                            <p class="small mt-3">
                                A jelszónak minimum 6 karakternek kell lennie,Tartalmaznia kell kis-,nagy betüt számot és speciális karaktert! pl: #,?,!,@,$,%,^,&,*,-</p>
                                </div>
                                <div class="col-md-6 mt-3 text-left" v-if="selectables">
                                    <h3 class="text-left p-2 text-dark">Készségek</h3>
                                    <FrontendSelect v-model="model.education_level" :title="$t('Aktuális tanulmányok')" :options="selectables.education_levels"></FrontendSelect>
                                  <div class="row">
                                    <div class="col-6" >
                                      <FrontendSelect   :options="selectables.languages" v-model="model.language_id" :title="'Nyelvek'"></FrontendSelect>
                                    </div>
                                    <div class="col-6">
                                      <FrontendSelect v-model="model.value" :title="'Szint'" :options="{'Alap':'Alap','Közép':'Közép','Emelt':'Emelt'}"></FrontendSelect>
                                    </div>
                                  </div>
                                    <FrontendSelect v-model="model.education_area" :title="$t('Végzettség/szakma')" :options="selectables.education_areas"></FrontendSelect>
                                    <FrontendSelect v-model="model.work_categories" :multiple="true" :select2="true" :title="$t('Milyen munkák érdekelnek')" :options="selectables.work_categories"></FrontendSelect>
                                    <FrontendSelect v-model="model.prefered_work_location" :title="$t('Hol szeretnél dolgozni?')" :options="selectables.work_locations"></FrontendSelect>
                                    <FrontendSingleCheckbox v-model="model.newsletter"  title="Hozzájárulok ahhoz, hogy a MADS - Márton Áron Iskolaszövetkezet elektronikus hirdetést és karrierhírlevelet küldjön számomra."></FrontendSingleCheckbox>
                                    <FrontendSingleCheckbox v-model="model.personal_data"  title="Hozzájárulok ahhoz, hogy a megadott adataim továbbításra kerüljenek olyan harmadik személyek/külső szolgáltatást fogadók részére, akik az általam megjelölt típusú feladat teljesítésére keresnek hallgatókat."></FrontendSingleCheckbox>
                                    <FrontendSingleCheckbox v-model="model.aszf"  title="Az <a target='_blank' href='/storage/letoltheto-dokumentumok/ADATKEZELESI_TAJEKOZTATO_FOGLALKOZTATOTTAK_RESZERE_MADS_Cegcsoport_200914(1).pdf'>Adatkezelési Tájékoztatóban</a> foglaltakat elolvastam, megértettem, és a regisztrációmmal hozzájárulok ahhoz, hogy személyes adataimat a megjelölt célból és feltételekkel a MADS -Márton Áron Iskolaszövetkezet kezelje."></FrontendSingleCheckbox>
                                </div>
                            </div>
                            <div class="form-group col-md-6 offset-md-3">
                                <button type="submit" :disabled="regRuning" class="button btn-xs black w-100" name="register"
                                        @click.prevent="doRegister()"><span>{{ $t('Register') }}</span>
                                </button>
                            </div>
                            <div class="different_login p-2 mb-2">
                                <span>{{ $t('or') }}</span>
                            </div>
                            <div class="form-note text-center">{{ $t('Already have an account?') }} <a href="#"
                                                                                                       @click.prevent="loginModal()">{{ $t('Log in') }}</a>
                            </div>
                        </div>
                        <div v-if="regFinished" class="col-md-12 col-md-offset-3 wow flipInX animated" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: flipInX;">
                            <h2 class="text-center" style="font-size: 2rem;">Köszönjük a regisztrációt!</h2>
                            <h3 class="text-center" style="font-size: 1.6rem;">A megadott email címre küldtönk egy megerősítő email! Kérlek nézd meg a leveleződet.</h3>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            </div>

</template>

<script>
import FrontendInput from '../../../../../../../resources/js/frontend/components/form/FrontendInput'
import FrontendMask from '../../../../../../../resources/js/frontend/components/form/FrontendMask'
import FrontendCheckbox from '../../../../../../../resources/js/frontend/components/form/FrontendCheckbox'
import Register from '../../../../../../../resources/js/components/Register'
import FrontendDatePicker from '../../../../../../../resources/js/frontend/components/form/FrontendDatePicker'
import FrontendSelect from '../../../../../../../resources/js/frontend/components/form/FrontendSelect'
import FrontendSingleCheckbox from '../../../../../../../resources/js/frontend/components/form/FrontendSingleCheckbox'
export default {
    name: 'RegistrationWeb',
    extends: Register,
    data () {
        return {
            selectables: null
        }
    },
    created () {
        this.getSelectables()
    },
    components: { FrontendInput, FrontendMask, FrontendCheckbox, FrontendSelect, FrontendDatePicker, FrontendSingleCheckbox },
    methods: {
        loginModal () {
            window.$('#loginModal').modal('show')
            window.$('#registrationModal').modal('hide')
        },
        getSelectables () {
            this.axios.get(this.url + '/get-selectables').then(resp => {
                this.selectables = resp.data.data
            })
        }
    }
}

</script>
