<template>
    <div class="container blog-container">
    <div class="widget-entry reset">
        <div class="widget-title p-3">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="row page-tagline  p-3">
            <div class="col-md-12 c wow flipInX animated" data-wow-delay="0.3s"
                 style="visibility: visible; animation-delay: 0.3s; animation-name: flipInX;">
                <h2 class="title">{{ $t('Change password') }}</h2>
                <form class="row">
                    <div class="col-md-6 offset-md-3 p-5">
                        <p class="text-info p-3">A jelszó legalább 6 karakter hosszú kell legyen és tartalmazzon kisbetűt,nagybetűt számot és speciális karaktert! pl: #,?,!,@,$,%,^,&,*,-</p>
                    <FrontendInput type="password" v-model="model.password" :placeholder="$t('Password')"
                                   ></FrontendInput>
                    <FrontendInput type="password" v-model="model.password_confirm"
                                   :placeholder="$t('Password confirm')"
                                   ></FrontendInput>
                    <div class="form-group">
                        <button v-on:click.stop.prevent="doReset()"  class = "button btn-xs black w-100"><span> {{
                                $t('Change')
                            }}</span>
                        </button>
                    </div> <!-- form-group// -->
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>

</template>

<script>

import FrontendInput from '../../../../../../../resources/js/frontend/components/form/FrontendInput'
import ResetPass from '../../../../../../../resources/js/components/ResetPass'

export default {
    name: 'ResetPasswordWeb',
    components: { FrontendInput },
    extends: ResetPass
}
</script>
