<template>
    <div class="block type-4 type-4-1 profile" >
        <div class="container type-4-text">
            <div class="row">
                <div class="col-md-12">
                    <div class="normall wow flipInY animated" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: flipInY;">
                        <h2 class="h2 titel-left">Email cím megerősítése</h2>
                        <p v-if="!verified && !verified_at && !error">A megerősítés folyamatban van! Kérlek várj!</p>
                        <div v-if="verified_at" class="text-center">
                            <h2 class="text-center text-success" style="font-size: 2rem;">Az email címed már meg van erősítve!</h2>
                            <a href="#" data-toggle="modal" data-target="#loginModal" class="button m-5"><span>Belépés</span></a>
                        </div>
                        <div v-if="verified" class="text-center">
                            <h2 class="text-center text-success" style="font-size: 2rem;">Az email címed sikeresen megerősítetted!</h2>
                            <a href="#" data-toggle="modal" data-target="#loginModal" class="button m-5"><span>Belépés</span></a>
                        </div>
                        <div v-if="error" class="text-center">
                            <template v-if="!resend">
                            <h2 class="text-center text-danger" style="font-size: 2rem;">A link érvénytelen vagy lejárt! Szeretnéd újraküldeni a megerősítő emailt?</h2>
                                <div class="col-md-4 offset-md-4">
                                <FrontendInput aria-autocomplete="none" v-model="email" :placeholder="$t('Your email address')"></FrontendInput>
                                </div>
                            <a href="#"  class="button m-3" @click.prevent="resendVerification()"><span>Megerősítés újraküldése</span></a>
                            </template>
                            <template v-if="resend">
                                <div class="col-md-12 col-md-offset-3 wow flipInX animated" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: flipInX;">
                                    <h3 class="text-center" style="font-size: 1.6rem;">A megadott email címre küldtönk egy megerősítő email! Kérlek nézd meg a leveleződet.</h3>
                                </div>
                            </template>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <LoadingSvg v-if="!verified && !verified_at && !error"></LoadingSvg>
            </div>
        </div>
    </div>
</template>

<script>
import LoadingSvg from '../LoadingSvg'
import FrontendInput from '../../../../../../../resources/js/frontend/components/form/FrontendInput'
export default {
    name: 'VerifyPassword',
    data () {
        return {
            verified: false,
            verified_at: false,
            isSendRemember: false,
            email: null,
            error: false,
            resend: false
        }
    },
    components: { LoadingSvg, FrontendInput },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}`
        }
    },
    methods: {
        resendVerification () {
            this.notVerified = false
            this.axios.post(this.url + '/email/resend', { email: this.email }).then(resp => {
                this.resend = resp.resend
            })
        }

    },
    mounted () {
        if (this.$route.params.id && this.$route.params.hash) {
            this.axios.get(this.url + `/email/verify/${this.$route.params.id}/${this.$route.params.hash}?expires=${this.$route.query.expires}&signature=${this.$route.query.signature}`).then(resp => {
                console.log(resp)
                console.log(resp.data)
                if (resp.data.verified) {
                    this.verified = resp.data.verified
                }
                if (resp.data.verified_at) {
                    this.verified_at = resp.data.verified_at
                }
            }).catch(error => {
                this.error = error
            })
        }
    }
}
</script>

<style scoped>

</style>
