<template>
    <div>
        <div class="kt-portlet kt-portlet--height-fluid">
            <div class="kt-portlet__body">
                <div class="kt-form kt-form--label-right">
                    <div class="row align-items-center">
                        <div class="col-xl-8 order-2 order-xl-1">
                            <div class="row align-items-center">
                                <div class="col kt-margin-b-20-tablet-and-mobile">
                                     <FormInput :title="$t('Search')" v-model="searchInput"></FormInput>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body kt-portlet__body--fit">
                <ul class="treeview" v-if="computedTree.length > 0" style="margin-top: 20px">
                    <Tree v-for="(item, index) in computedTree" :url="url" v-bind:key="index" :workcategory="item" :module="'workcategory'" v-on:updateData="getData"></Tree>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
import Tree from './Tree'
import FormInput from '../../../../../../../resources/js/components/form/FormInput'

export default {
    name: 'WorkCategoryList',
    props: ['url'],
    components: { Tree, FormInput },
    beforeMount () {
        this.getData()
    },
    computed: {
        computedTree: function () {
            if (this.searchInput !== null && this.searchInput.length > 2 && this.tree.length > 0) {
                const self = this
                return self.tree.filter(function (t) {
                    return (t.children.length > 0 && self.recursiveSearch(t).length > 0) || t.name.toLowerCase().includes(self.searchInput.toLowerCase())
                })
            }

            return this.tree
        }
    },
    methods: {
        getData () {
            this.axios.get(this.url + '/tree').then((response) => {
                this.tree = response.data.data
            })
        },
        recursiveSearch: function (element) {
            const self = this
            return (element.children.filter(function (t) {
                return (t.children.length > 0 && self.recursiveSearch(t).length > 0) || t.name.toLowerCase().includes(self.searchInput.toLowerCase())
            }))
        }
    },
    data () {
        return {
            tree: [],
            searchInput: null
        }
    }
}
</script>
