<template>
    <WorkCategoryForm v-if="Object.keys(model).length > 0" :url="url" :model="model" :categories="categories"></WorkCategoryForm>
</template>

<script>
import WorkCategoryForm from './WorkCategoryForm'
import WorkCategory from './WorkCategory'

export default {
    name: 'WorkCategoryCreate',
    extends: WorkCategory,
    data () {
        return {
            model: {},
            categories: []
        }
    },
    components: { WorkCategoryForm },
    beforeMount: function () {
        this.handleCreate('workcategory', this.url, {})

        this.getWorkCategory()
    }
}
</script>
