<template>
    <MenuForm :url="url" :model="model"></MenuForm>
</template>

<script>
import MenuForm from './MenuForm'
import Menu from './Menu'

export default {
    name: 'MenuCreate',
    extends: Menu,
    data () {
        return {
            model: {
                items: []
            }
        }
    },
    components: { MenuForm },
    beforeMount: function () {
        this.handleCreate('menu', this.url, { items: [] })

        this.getMenu()
    }
}
</script>
