<template>
    <draggable v-model="value.items"
               class="accordion  accordion-toggle-arrow"
               :options="{draggable:'.item', group:'menu.items'}"
               :element="'div'">
        <div class="card item" v-for="(item, index) in options" :key="index">
            <div class="card-header">
                <div class="card-title" data-toggle="collapse" :data-target="'#collapseOne'+item.id" aria-expanded="true" :aria-controls="'collapseOne'+item.id">
                    <i class="flaticon2-layers-1"></i>
                    <template v-if="item.title">{{item.title}}</template>
                    <template v-else>{{$t('No title')}}</template>
                </div>
            </div>
            <div :id="'collapseOne'+item.id" class="collapse" aria-labelledby="headingOne">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <FormInput  v-model="item.title" :title="$t('Title')"></FormInput>
                        </div>
                        <div class="col-md-2">
                            <FormInput v-model="item.link" :title="$t('Url')"></FormInput>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>&nbsp;</label>
                                <div class="btn-toolbar" role="toolbar" aria-label="...">
                                    <div class="btn-group mr-2" role="group" aria-label="...">
                                        <button type="button" class="btn btn-secondary" :title="$t('Create submenu')" @click="addNewSubItem(index)"><i class="la la-files-o"></i></button>
                                        <button type="button" class="btn btn-secondary" :title="$t('Delete')" @click="deleteElement(index)"><i class="la la-trash"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <MenuItem v-if="item.children && item.children.length > 0" :value="value" :options="item.children"></MenuItem>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </draggable>
</template>

<script>
import draggable from 'vuedraggable'
import FormInput from '../../../../../../resources/js/components/form/FormInput'

export default {
    name: 'MenuItem',
    props: ['value', 'options'],
    data () {
        return {
            selected: 0
        }
    },
    computed: {
        languages: function () {
            const l = []
            for (const it in this.$store.state.defaultStore.languages) {
                l.push(it)
            }
            return l
        }
    },
    components: { FormInput, draggable },
    methods: {
        deleteElement (index) {
            this.options.splice(index, 1)
        },
        addNewSubItem (index) {
            this.options[index].children.push({
                id: Math.floor(Math.random() * 10000),
                title: '',
                children: [],
                link: ''
            })
            this.$emit('onUpdateMenu', this.menu)
        }
    },
    watch: {
        'item.link': {
            handler: function (val, oldVal) {
                this.item.link = this.sanitizeTitle(val)
            }
        }
    }
}
</script>
