<template>
    <div class="table-responsive">
        <BaseDatatable v-if="loaded" :multiple-actions="multipleAction" :module="`request`" :apiurl="url" :list-url="`${url}/index`" :fields="fields"></BaseDatatable>
    </div>
</template>

<script>
import BaseDatatable from '../../../../../../resources/js/components/BaseDatatable'
export default {
    name: 'RequestList',
    props: ['url'],
    components: { BaseDatatable },
    data () {
        return {
            loaded: true,
            multipleAction: {
            },
            apiurl: this.url,
            fields: [
                {
                    name: 'id',
                    sortField: 'id',
                    title: this.$translate.t('ID')
                },
                {
                    name: 'subject',
                    sortField: 'subject',
                    title: this.$translate.t('Ajánlatkérés tárgy')
                },
                {
                    name: 'company_name',
                    sortField: 'company_name',
                    title: this.$translate.t('Cég neve')
                },
                {
                    name: 'city',
                    sortField: 'city',
                    title: this.$translate.t('Város')
                },

                {
                    name: 'contact_name',
                    sortField: 'contact_name',
                    title: this.$translate.t('Kapcsolattartó név')
                },
                {
                    name: 'contact_phone',
                    sortField: 'contact_phone',
                    title: this.$translate.t('Kapcsolattartó telefon')
                },
                {
                    name: 'contact_email',
                    sortField: 'contact_email',
                    title: this.$translate.t('Kapcsolattartó email')
                },
                {
                    name: 'task',
                    sortField: 'task',
                    title: this.$translate.t('Elvégzendő feladat')
                },
                {
                    name: '__slot:actions',
                    title: this.$translate.t('Actions')
                }
            ]
        }
    }
}
</script>
