<template>
  <div>
    <div class="alert alert-custom alert-white alert-shadow kt-portlet" role="alert">

      <h3 class="text-info">{{ $t('Árajánlat kérések') }}</h3>
    </div>
    <div class="kt-portlet">
      <div class="kt-portlet__body">
        <div class="kt-form kt-form--label-right">
          <div class="kt-form__body">
            <div class="row">
              <div class="col-md-6">
                <FormSelect :multiple="true" :select2="true" v-model="model.subject" :title="$t('Ajánlatkérés tárgy')" v-if="model && model.selectables && model.selectables.subjects" :options="model.selectables.subjects"></FormSelect>
              </div>
              <div class="col-md-6">
                <FormInput v-model="model.company_name" :title="$t('Cég neve')"></FormInput>
              </div>
              <div class="col-md-6">
                <FormInput v-model="model.city" :title="$t('Város')"></FormInput>
              </div>
              <div class="col-md-6">
                <FormInput v-model="model.zip" :title="$t('Irányítószám')"></FormInput>
              </div>
              <div class="col-md-6">
                <FormInput v-model="model.contact_name" :title="$t('Kapcsolattartó név')"></FormInput>
              </div>
              <div class="col-md-6">
                <FormInput v-model="model.contact_phone" :title="$t('Kapcsolattartó telefon')"></FormInput>
              </div>
              <div class="col-md-6">
                <FormInput v-model="model.contact_email" :title="$t('Kapcsolattartó email')"></FormInput>
              </div>
              <div class="col-md-6">
                <FormInput v-model="model.task" :title="$t('Elvégzendő feladat')"></FormInput>
              </div>
              <div class="col-md-6">
                <FormInput v-model="model.location" :title="$t('Munkavégzés helye')"></FormInput>
              </div>
              <div class="col-md-6">
                <FormInput v-model="model.duration" :title="$t('Megbizás időtartama')"></FormInput>
              </div>
              <div class="col-md-6">
                <FormInput v-model="model.program" :title="$t('Munkarend')"></FormInput>
              </div>
              <div class="col-md-6">
                <FormInput v-model="model.type" :title="$t('Típus')"></FormInput>
              </div>
              <div class="col-md-12">
                <FormTextArea v-model="model.description" :title="$t('Tevljenység rövid benutatása')"></FormTextArea>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</template>

<script>
import FormSelect from '../../../../../../resources/js/components/form/FormSelect'
import FormInput from '../../../../../../resources/js/components/form/FormInput'
import FormTextArea from '../../../../../../resources/js/components/form/FormTextArea'

export default {
    name: 'RequestForm',
    props: {
        url: {
            required: true,
            type: String
        },
        model: {
            required: true,
            type: Object
        }
    },
    data () {
        return {}
    },
    computed: {
        languages: function () {
            const l = []
            for (const it in this.$store.state.defaultStore.languages) {
                l.push(it)
            }
            return l
        }
    },
    components: { FormSelect, FormInput, FormTextArea },
    methods: {},
    created () {
    },
    mounted () {
    }
}
</script>
