<template>
    <RequestForm v-if="Object.keys(model).length > 0" :url="url" :model="model"></RequestForm>
</template>

<script>
import RequestForm from './RequestForm'
import Request from './Request'

export default {
    name: 'RequestEdit',
    extends: Request,
    data () {
        return {
            model: {}
        }
    },
    components: { RequestForm },
    beforeMount: function () {
        this.handleUpdate('request', this.url, {})

        this.getRequest()
    }
}
</script>
