<template>
    <div class="blog-container">
        <div class="page-tagline present">
            <div class="col-12 mt-2">
                <div class="circle-tile-heading yellow"><i style="width: 1.75em;"
                                                           class="fa flaticon2-chart fa-fw fa-3x"></i></div>
                <div class="circle-tile-content yellow text-center">
                    <h1 class="title text-white"> {{$t('')}}Teljesítési igazolások </h1>
                </div>
            </div>
        </div>
        <div class="kt-portlet">
            <div class="kt-portlet__body">
                <div class="kt-form kt-form--label-right">
                    <div class="kt-form__body">
                        <div class="row sticky-top" style="top:64px;background: white; z-index:50">
                            <div class="col-12">
                                <div class="row mt-3">
                                    <div class="col-md-2"><FormMonthPicker :title="$t('Hónap')" v-model="month"></FormMonthPicker></div>
                                    <div class="col-md-2"><FormSelect :title="$t('Csoportosítás')" v-model="group" :options="{'industry':'Tevékenység','site':'Telephely'}"></FormSelect></div>
                                    <div class="col-md-2">
                                        <button type="button" class="btn-outline-info bnt-sm btn" @click="details=!details">{{$t('Részletek')}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" v-if="list && Object.keys(list).length>0">
                            <div class="col-md-4"><h1>{{$t('Teljesítési igazolások')}}:</h1></div>
                            <div class="col-md-8" v-if="list.completition">
                                <button v-if="list.completition=='empty'" type="button" class=" btn btn-xs btn-success" @click="openStudentPdf('empty')"><i class="fa fa-file-pdf mr-3"></i>{{$t('Teljesítési letöltése(PDF)')}}</button>
                                <button v-if="list.completition=='student'" type="button" class=" btn btn-xs btn-success" @click="openStudentPdf('student')"><i class="fa fa-file-pdf mr-3"></i>{{$t('Teljesítési letöltése(PDF)')}}</button>
                                <button v-if="list.completition=='industry'" type="button" class=" btn btn-xs btn-success" @click="openStudentPdf('industry')"><i class="fa fa-file-pdf mr-3"></i>{{$t('Teljesítési letöltése(PDF)')}}</button>
                                <button v-if="list.completition=='site'" type="button" class=" btn btn-xs btn-success" @click="openStudentPdf('site')"><i class="fa fa-file-pdf mr-3"></i>{{$t('Teljesítési letöltése(PDF)')}}</button>
                              <button v-if="list.completition=='student'" type="button" class=" btn btn-xs btn-warning" @click="openStudentXLS('student')"><i class="fa fa-file-pdf mr-3"></i>{{$t('Teljesítési letöltése(XLSX)')}}</button>
                              <button v-if="list.completition=='industry'" type="button" class=" btn btn-xs btn-success" @click="openStudentXLS('industry')"><i class="fa fa-file-pdf mr-3"></i>{{$t('Teljesítési letöltése(XLSX)')}}</button>
                              <button v-if="list.completition=='site'" type="button" class=" btn btn-xs btn-success" @click="openStudentXLS('site')"><i class="fa fa-file-pdf mr-3"></i>{{$t('Teljesítési letöltése(XLSX)')}}</button>
                            </div>
                            <div v-if="!list.completition" class="col-md-8 text-danger">{{$t('Nincs még minden tétel számlázva!')}}</div>
                        </div>
                        <div class = "row" v-for="(company,index) in list" v-bind:key="'company-'+index">
                            <div class="col-md-12">
                                <div class="card mb-3">
                                    <div class="card-header yellow bg-text-white">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <h5>{{company.company_name}}</h5>
                                                <div class="text-white">{{$t('Fizetési határidő')}}: {{company.payment_deadline}} {{$t('nap')}}</div>
                                            </div>
                                            <div class="col-md-9">
                                              <div class="table-responsive">
                                                <table class="table mini table-striped table-bordered text-white">
                                                    <tr>
                                                        <td class="text-right">{{$t('Óra')}}</td>
                                                        <td class="text-right" v-if="details">{{$t('Éjszaka')}}</td>
                                                        <td class="text-right" v-if="details">{{$t('Szombat')}}</td>
                                                        <td class="text-right" v-if="details">{{$t('Vasárnap')}}</td>
                                                        <td class="text-right" v-if="details">{{$t('Ünnep')}}</td>
                                                        <td class="text-right" v-if="details">{{$t('Éjszakai bér')}}</td>
                                                        <td class="text-right" v-if="details">{{$t('Szombati bér')}}</td>
                                                        <td class="text-right" v-if="details">{{$t('Vasárnapi bér')}}</td>
                                                        <td class="text-right" v-if="details">{{$t('Ünnep bér')}}</td>
                                                        <td class="text-right" v-if="details">{{$t('Fix bér')}}</td>
                                                        <td class="text-right">{{$t('Diák bér')}}</td>
                                                        <td class="text-right">{{$t('Számlázandó')}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-right"> {{company.sum_hour}} {{$t('óra')}}</td>
                                                        <td v-if="details" class="text-right"> {{company.night_hour}} {{$t('óra')}}</td>
                                                        <td v-if="details" class="text-right"> {{company.saturday_hour}} {{$t('óra')}}</td>
                                                        <td v-if="details" class="text-right"> {{company.sunday_hour}} {{$t('óra')}}</td>
                                                        <td v-if="details" class="text-right"> {{company.festive_hour}} {{$t('óra')}} </td>
                                                        <td v-if="details" class="text-right"><Price :value="company.night_hour_price"></Price></td>
                                                        <td v-if="details" class="text-right"><Price :value="company.saturday_hour_price"></Price></td>
                                                        <td v-if="details" class="text-right"><Price :value="company.sunday_hour_price"></Price></td>
                                                        <td v-if="details" class="text-right"><Price :value="company.festive_hour_price"></Price></td>
                                                        <td v-if="details" class="text-right"><Price :value="company.sum_fix"></Price></td>
                                                        <td class="text-right"><Price :value="company.sum_student"></Price></td>
                                                        <td class="text-right"><Price :value="company.sum_student+company.sum_company"></Price></td>
                                                    </tr>
                                                </table>
                                              </div>
                                            </div>
                                        </div>
                                    </div>
                                  <div class="table-responsive">
                                    <table class="table mini table-striped table-bordered" >
                                        <tr>
                                            <th> {{$t('Tevékenység/Telephely')}}</th>
                                            <th class="text-right"> {{$t('Megbíz.díj')}}</th>
                                            <th class="text-right">Óra</th>
                                            <th class="text-right" v-if="details">{{$t('Éjszaka')}}</th>
                                            <th class="text-right" v-if="details">{{$t('Szombat')}}</th>
                                            <th class="text-right" v-if="details">{{$t('Vasárnap')}}</th>
                                            <th class="text-right" v-if="details">{{$t('Ünnep')}}</th>
                                            <th class="text-right" v-if="details">{{$t('Éjszakai bér')}}</th>
                                            <th class="text-right" v-if="details">{{$t('Szombati bér')}}</th>
                                            <th class="text-right" v-if="details">{{$t('Vasárnapi bér')}}</th>
                                            <th class="text-right" v-if="details">{{$t('Ünnep bér')}}</th>
                                            <th class="text-right" v-if="details">{{$t('Fix bér')}}</th>
                                            <th class="text-right">{{$t('Diák bér')}}</th>
                                            <th class="text-right">{{$t('Számlázandó')}}</th>
                                            <th class="text-right">{{$t('Állapot')}}</th>
                                        </tr>
                                        <tr v-for="(industry, id) in company.items" v-bind:key="'industry-'+index+'-'+id">
                                            <td>
                                                <i style="font-size: 21px" v-if="industry.invoice_status == 1" class="  flaticon2-file text-success mr-2"></i>
                                                <i style="font-size: 21px" v-else class="kt-animate-blink  flaticon-warning text-danger mr-02"></i>
                                                {{industry.name}}
                                                <a :href="download(company.company_id,industry.id)" target="_blank"><i style="font-size: 21px" class="fa fa-file-excel text-info pull-right has-cursor"></i></a>
                                            </td>
                                            <td  class="text-right"> <Price :value="(industry.avg_price_hour+industry.avg_price_company)"></Price></td>
                                            <td class="text-right"> {{industry.sum_hour}} {{$t('óra')}}</td>
                                            <td v-if="details" class="text-right"> {{industry.night_hour}} {{$t('óra')}}</td>
                                            <td v-if="details" class="text-right"> {{industry.saturday_hour}} {{$t('óra')}}</td>
                                            <td v-if="details" class="text-right"> {{industry.sunday_hour}} {{$t('óra')}}</td>
                                            <td v-if="details" class="text-right"> {{industry.festive_hour}} {{$t('óra')}}</td>
                                            <td v-if="details" class="text-right"><Price :value="industry.night_hour_price"></Price></td>
                                            <td v-if="details" class="text-right"><Price :value="industry.saturday_hour_price"></Price></td>
                                            <td v-if="details" class="text-right"><Price :value="industry.sunday_hour_price"></Price></td>
                                            <td v-if="details" class="text-right"><Price :value="industry.festive_hour_price"></Price></td>
                                            <td v-if="details" class="text-right"><Price :value="industry.sum_fix"></Price></td>
                                            <td class="text-right"><Price :value="industry.sum_student"></Price></td>
                                            <td class="text-right"><Price :value="industry.sum_student+industry.sum_company"></Price></td>
                                            <td class="text-right">
                                                <span class="text-danger" v-if="industry.invoice_status != 0" >{{$t('Számlázásra vár')}}</span>
                                                <span class="text-success" v-else >{{$t('Számlázva')}}</span></td>
                                        </tr>
                                    </table>
                                  </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import ImageLazy from '../../../../../../../resources/js/components/ImageLazy'
import FrontendTimePicker from '../../../../../../../resources/js/frontend/components/form/FrontendTimePicker'
import FormNumberInput from '../../../../../../../resources/js/components/form/FormNumberInput'
import FormSelect from '../../../../../../../resources/js/components/form/FormSelect'
import FormMonthPicker from '../../../../../../../resources/js/components/form/FormMonthPicker'
import Price from '../../../../../../../resources/js/components/Price'
export default {
    name: 'Certificates',
    components: { ImageLazy, FrontendTimePicker, FormNumberInput, FormSelect, FormMonthPicker, Price },
    data () {
        return {
            month: null,
            search: '',
            status: '',
            group: 'industry',
            invoice_status: null,
            timeoutSearch: null,
            details: false,
            list: []
        }
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/admin/company/fixing-summation`
        }
    },
    created () {
        this.month = new Date()
        this.month = this.month.getFullYear() + '-' + ((this.month.getMonth() + 1 > 9) ? this.month.getMonth() + 1 : '0' + (this.month.getMonth() + 1))
        this.getFixingControl()
    },
    watch: {
        '$store.state.defaultStore.pageLanguage': {
            handler: function (val, oldVal) {
            }
        },
        month: {
            handler: function (val, oldVal) {
                if (val !== oldVal) {
                    this.getFixingControl()
                }
            }
        },
        invoice_status: {
            handler: function (val, oldVal) {
                if (val !== oldVal) {
                    this.getFixingControl()
                }
            }
        },
        group: {
            handler: function (val, oldVal) {
                if (val !== oldVal) {
                    this.getFixingControl()
                }
            }
        }
    },
    mounted () {
        this.month = new Date()
        this.month = this.month.getFullYear() + '-' + ((this.month.getMonth() + 1 > 9) ? this.month.getMonth() + 1 : '0' + (this.month.getMonth() + 1))
        this.getFixingControl()
    },
    methods: {
        getFixingControl () {
            this.axios.get(this.url + '/' + this.month + '?status=' + this.status + '&search=' + this.search + '&invoice_status=' + this.invoice_status + '&group=' + this.group).then(resp => {
                this.list = resp.data
            })
        },
        download (company, industry) {
            return this.url + '/excel/' + this.month + '/' + industry + '?status=' + this.status + '&search=' + this.search + '&invoice_status=' + this.invoice_status + '&group=' + this.group + '&api_token=' + $cookies.get('token')
        },
        openStudentPdf (type) {
            const pdf = `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/company/completion-form/${type}/${this.month}`
            this.$eventHub.$emit('openPDFStudent', pdf)
        },
        openStudentXLS (type) {
            const xls = `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/company/completion-form-excel/${type}/${this.month}`
            window.open(xls, 'blank')
        }
    }
}
</script>
<style>
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    cursor: pointer;
    background-color: #fff1e5;
}
.bg-weekend {
    background: #8fcba3 !important
}

td input {
    border: solid 1px silver !important;
    max-width: 120px;
    margin-top: 0px !important;
}

.present .input-group-append {
    margin-left: -1px;
    height: 43px;
}

.present .form-group {
    margin-bottom: 0rem;
}

.table td {
    padding: 0.35rem !important;
}
</style>
