<template>
    <div class="blog-container">
        <div class=" page-tagline present">
            <div class="col-12 mt-2">
                <div class="circle-tile-heading bg-success"><i style="width: 1.75em;"
                                                           class="fa fa-handshake fa-fw fa-3x"></i></div>
                <div class="circle-tile-content bg-success text-center">
                    <h1 class="title text-white">{{$t('Szerződések')}} </h1>
                </div>
            </div>
        </div>
        <div class="kt-portlet">
            <div class="kt-portlet__body">
                <div class="kt-form kt-form--label-right">
                    <div class="kt-form__body">
                        <div class="col-md-12">
                            <div class="table table-responsive">
                                <table class="table table-bordered">
                                    <tr>
                                        <th>{{$t('Sorszám')}}</th>
                                        <th>{{$t('Cég')}}</th>
                                        <th>{{$t('Tárgy')}}</th>
                                        <th>{{$t('MADS jóváhagyta')}}</th>
                                        <th>{{$t('Cég jóváhagyta')}}</th>
                                        <th>{{$t('MADS szerkesztve')}}</th>
                                        <th>{{$t('Cég szerkesztve')}}</th>
                                        <th>{{$t('Művelet')}}</th>
                                    </tr>
                                    <tr v-for="document in documents" v-bind:key="'doc-'+document.id">
                                        <td>{{document.number}}</td>
                                        <td>{{document.name}}</td>
                                      <td>
                                        <span class="" v-if="document.type=='mads'">{{$t('Diákmunka')}}</span>
                                        <span class="" v-if="document.type=='gold'">{{$t('Nyugdíjas foglalkoztatás')}}</span>
                                      </td>
                                      <td class="text-center">
                                        <i class="fa fa-check-circle fa-2x  text-success" v-if="document.mads_approved"></i>
                                        <i class="fa fa-minus-circle fa-2x  text-danger" v-if="!document.mads_approved"></i>
                                      </td>
                                      <td class="text-center">
                                        <i class="fa fa-check-circle fa-2x  text-success" v-if="document.company_approved"></i>
                                        <i class="fa fa-minus-circle fa-2x text-danger" v-if="!document.company_approved"></i>
                                      </td>
                                      <td>
                                        {{document.mads_updated}}
                                      </td>
                                      <td>
                                        {{document.company_updated}}
                                      </td>
                                      <td><router-link :to="'/admin/my-contracts/'+document.id" class="btn btn-warning btn-xs" ><i class="fa fa-edit"></i> </router-link> </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import ImageLazy from '../../../../../../../resources/js/components/ImageLazy'
import FrontendTimePicker from '../../../../../../../resources/js/frontend/components/form/FrontendTimePicker'
import FormNumberInput from '../../../../../../../resources/js/components/form/FormNumberInput'
import DocumentsForm from '../../../../../../Company/Resources/assets/js/components/forms/FormsForm'
export default {
    name: 'Contracts',
    components: { ImageLazy, FrontendTimePicker, FormNumberInput, DocumentsForm },
    data () {
        return {
            documents: {},
            selected: {}

        }
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/admin/company`
        }
    },
    created () {
        this.getCompanyDocuments()
    },

    methods: {
        getCompanyDocuments () {
            this.axios.get(this.url + '/get-my-contracts').then((resp) => {
                this.documents = resp.data.data
            })
        },
        openDocumentModal () {
            this.selected = {}
            window.$('#documentModal').modal('show')
        },
        openPDF (link) {
            this.$eventHub.$emit('openPDF', link)
        }

    }
}
</script>
<style>
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    cursor: pointer;
    background-color: #fff1e5;
}
.bg-weekend {
    background: #8fcba3 !important
}

td input {
    border: solid 1px silver !important;
    max-width: 120px;
    margin-top: 0px !important;
}
h3.blue{
    color:white;
}
.present .input-group-append {
    margin-left: -1px;
    height: 43px;
}

.present .form-group {
    margin-bottom: 0rem;
}

.table td {
    padding: 0.35rem !important;
}
</style>
