<template>
    <div class="blog-container">
        <div class=" page-tagline present">
            <div class="col-12 mt-2">
                <div class="circle-tile-heading dark-blue"><i style="width: 1.75em;"
                                                           class="fa fa-users fa-fw fa-3x"></i></div>
                <div class="circle-tile-content dark-blue text-center">
                    <h1 class="title text-white"> {{$t('Cég adatok')}} </h1>
                </div>
            </div>
        </div>
        <div class="kt-portlet">
            <div class="kt-portlet__body">
                <div class="kt-form kt-form--label-right">
                    <div class="kt-form__body">
                        <div class = "row">
                            <div class = "col-md-4 ">
                                <div class = "row p-2">
                                    <h3 class = "col-md-12 mt-2 dark-blue p-2 mb-5">{{$t('Céges adatok')}}</h3>
                                    <div class = "col-md-12">
                                        <FormInput v-model = "model.name" :title = "$t('Cég neve')"></FormInput>
                                    </div>
                                    <div class = "col-md-12">
                                        <FormInput v-model = "model.tax" :title = "$t('Adószám')"></FormInput>
                                    </div>
                                    <div class = "col-md-12">
                                        <FormInput v-model = "model.tax_eu" :title = "$t('EU adószám')"></FormInput>
                                    </div>
                                    <div class = "col-md-12">
                                        <FormInput v-model = "model.company_number" :title = "$t('Cégjegyzékszám')"></FormInput>
                                    </div>
                                    <div class = "col-md-12">
                                        <FormInput v-model = "model.delegate" :title = "$t('Képviselő')"></FormInput>
                                    </div>
                                    <div class = "col-md-12">
                                        <FormInput v-model = "model.delegate_position" :title = "$t('Képviselő beosztása')"></FormInput>
                                    </div>
                                    <div class = "col-md-12">
                                        <FormInput v-model = "model.delegate_comment" :title = "$t('Megjegyzés')"></FormInput>
                                    </div>
                                </div>
                            </div>
                            <div class = "col-md-4 ">
                                <div class = "row p-2">
                                    <h3 class = "col-md-12 mt-2 dark-blue p-2 mb-5">{{$t('Szerződés adatok')}}</h3>
                                    <div class = "col-md-12">
                                        <FormDatePicker disabled="disabled" v-model = "model.contract_date" :title = "$t('Szerződéskötés dáuma')"></FormDatePicker>
                                    </div>
                                    <div class = "col-md-12">
                                        <FormDatePicker disabled="disabled" v-model = "model.contract_expire" :title = "$t('Szerződés érvényessége')"></FormDatePicker>
                                    </div>
                                    <div class = "col-md-12">
                                        <FormSelect disabled="disabled" v-model = "model.contract_type" :title = "$t('Határozattlan')" v-if = "model && model.selectables && {}" :options = "{}"></FormSelect>
                                    </div>
                                    <div class = "col-md-12">
                                        <FormDatePicker disabled="disabled" v-model = "model.agancy_contract_date" :title = "$t('Megbízási szerződés dátuma')"></FormDatePicker>
                                    </div>
                                    <div class = "col-md-12">
                                        <FormDatePicker disabled="disabled" v-model = "model.works_contarct_date" :title = "$t('Vállalkozási szerződés dátuma')"></FormDatePicker>
                                    </div>
                                    <div class = "col-md-12">
                                        <FormInput disabled="disabled" v-model = "model.payment_deadline" :title = "$t('Fizetési határidő')"></FormInput>
                                    </div>
                                    <div class = "col-md-12">
                                        <FormSelect v-model = "model.paper_contract" :title = "$t('Papír alapú szerződés')" v-if = "model && model.selectables && {}" :options = "{1:'Igen','2':'Nem'}"></FormSelect>
                                    </div>
                                    <div class = "col-md-12">
                                        <FormSelect disabled="disabled" v-model = "model.user_id" :title = "$t('Felelős')" v-if = "model && model.selectables && model.selectables.user" :options = "model.selectables.user"></FormSelect>
                                    </div>
                                </div>
                            </div>
                            <div class = "col-md-4 ">
                                <div class = "row p-2">
                                    <h3 class = "col-md-12 mt-2 dark-blue p-2 mb-5">{{$t('Számlázási adatok')}}</h3>
                                    <div class = "col-md-12">
                                        <FormInput v-model = "model.pob" :title = "$t('Postafiók')"></FormInput>
                                    </div>
                                    <div class = "col-md-12">
                                        <FormInput v-model = "model.zip" :title = "$t('Irányítószám')"></FormInput>
                                    </div>
                                    <div class = "col-md-12">
                                        <FormSelect v-model = "model.country_id" :title = "$t('Ország')" v-if = "model && model.selectables && model.selectables.country" :options = "model.selectables.country"></FormSelect>
                                    </div>
                                    <div class = "col-md-12">
                                        <FormSelect v-model = "model.city_id" :title = "$t('Város')" v-if = "model && model.selectables && model.selectables.city" :options = "model.selectables.city"></FormSelect>
                                    </div>
                                    <div class = "col-md-12">
                                        <FormInput v-model = "model.postal_address" :title = "$t('Postázási cím')"></FormInput>
                                    </div>
                                    <div class = "col-md-12">
                                        <FormInput v-model = "model.work_address" :title = "$t('Munkavégés helye')"></FormInput>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row" v-if="fixings && fixings.fixing">
                            <div class="col-md-9">
                                <h3 class = "mt-2 dark-blue p-2 mb-5">{{$t('Rögzítések')}}</h3>
                              <div class="table-responsive">
                                <table class="table table-bordered">
                                    <tr>
                                        <th>{{$t('Év')}}</th>
                                        <th>{{$t('Január')}}</th>
                                        <th>{{$t('Február')}}</th>
                                        <th>{{$t('Március')}}</th>
                                        <th>{{$t('Április')}}</th>
                                        <th>{{$t('Május')}}</th>
                                        <th>{{$t('Június')}}</th>
                                        <th>{{$t('Július')}}</th>
                                        <th>{{$t('Augusztus')}}</th>
                                        <th>{{$t('Szeptember')}}</th>
                                        <th>{{$t('Október')}}</th>
                                        <th>{{$t('November')}}</th>
                                        <th>{{$t('December')}}</th>
                                    </tr>
                                    <tr v-for="(fix,index) in Object.keys(fixings.fixing)" v-bind:key="'fix-'+index">
                                        <th>{{fix}}</th>
                                        <td class=" text-nowrap nowrap" v-bind:class="{'bg-success':fixings.fixing[fix]['01'].hours}">{{fixings.fixing[fix]['01'].hours}}</td>
                                        <td class=" text-nowrap nowrap" v-bind:class="{'bg-success':fixings.fixing[fix]['02'].hours}">{{fixings.fixing[fix]['02'].hours}}</td>
                                        <td class=" text-nowrap nowrap" v-bind:class="{'bg-success':fixings.fixing[fix]['03'].hours}">{{fixings.fixing[fix]['03'].hours}}</td>
                                        <td class=" text-nowrap nowrap" v-bind:class="{'bg-success':fixings.fixing[fix]['04'].hours}">{{fixings.fixing[fix]['04'].hours}}</td>
                                        <td class=" text-nowrap nowrap"  v-bind:class="{'bg-success':fixings.fixing[fix]['05'].hours}">{{fixings.fixing[fix]['05'].hours}}</td>
                                        <td class=" text-nowrap nowrap" v-bind:class="{'bg-success':fixings.fixing[fix]['06'].hours}">{{fixings.fixing[fix]['06'].hours}}</td>
                                        <td class=" text-nowrap nowrap" v-bind:class="{'bg-success':fixings.fixing[fix]['07'].hours}">{{fixings.fixing[fix]['07'].hours}}</td>
                                        <td class=" text-nowrap nowrap" v-bind:class="{'bg-success':fixings.fixing[fix]['08'].hours}">{{fixings.fixing[fix]['08'].hours}}</td>
                                        <td class=" text-nowrap nowrap" v-bind:class="{'bg-success':fixings.fixing[fix]['09'].hours}">{{fixings.fixing[fix]['09'].hours}}</td>
                                        <td class=" text-nowrap nowrap" v-bind:class="{'bg-success':fixings.fixing[fix]['10'].hours}">{{fixings.fixing[fix]['10'].hours}}</td>
                                        <td class=" text-nowrap nowrap" v-bind:class="{'bg-success':fixings.fixing[fix]['11'].hours}">{{fixings.fixing[fix]['11'].hours}}</td>
                                        <td class=" text-nowrap nowrap" v-bind:class="{'bg-success':fixings.fixing[fix]['12'].hours}">{{fixings.fixing[fix]['12'].hours}}</td>
                                    </tr>
                                </table>
                              </div>
                            </div>
                            <div class="col-md-3">
                                <h4>{{$t('Diákok akik dolgoztak')}}</h4>
                                <h5>{{$t('Összesen')}}: {{fixings.students.length}}</h5>
                                <a class="btn btn-outline-danger" data-toggle="modal" data-target="#studentModal">{{$t('Részletek')}}</a>
                                <div class="modal fade" id="studentModal" tabindex="-1" role="dialog">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header dark-blue">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <i aria-hidden="true" class="ki ki-close"></i>
                                                </button>
                                            </div>
                                            <div class="modal-body p-4">
                                                <table class=" table table-condensed table-bordered">
                                                    <tr>
                                                        <th>{{$t('Név')}}</th>
                                                        <th nowrap="">{{$t('Ledolgozott óraszám')}}</th>
                                                    </tr>
                                                    <tr v-for="(student,index) in fixings.students" v-bind:key="'f-student-'+student.id+'-'+index">
                                                        <td>{{student.student_name}}</td>
                                                        <td>{{parseInt(student.sum_hour*100)/100}} {{$t('óra')}}</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <h3 class = "col-md-12 mt-2 dark-blue p-2 mb-5">{{$t('Tevékenységek')}}</h3>
                            <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                   <tr>
                                       <th>{{$t('Tevékenység')}}</th>
                                    <th>{{$t('Telephely')}}</th>
                                    <th>{{$t('FEOR')}}</th>
                                    <th>{{$t('Kapcsolattartó')}}</th>
                                    <th>{{$t('Órabér')}}</th>
                                   </tr>
                                    <tr v-for="industry in industries" v-bind:key="'industry-'+industry.id">
                                        <th>{{industry.name}}</th>
                                        <th>{{industry.site.name}}</th>
                                        <th><span v-if="industry.feor">{{industry.feor.code}}-{{industry.feor.name}}</span></th>
                                        <th>{{industry.contact.name}}<br/>
                                           <a :href="'tel:'+industry.contact.phone">{{industry.contact.phone}}</a><br/>
                                            <a :href="'mailto:'+industry.contact.email">{{industry.contact.email}}</a><br/>
                                        </th>
                                        <th class=" text-nowrap nowrap"><Price :value="industry.price_hour+industry.price_company_hourly"></Price></th>
                                    </tr>
                                </table>
                            </div>
                            </div>
                        </div>
                        <div class="row">
                            <ContactForm :url="url+'/edit-contact'" v-on:refresh="getMyContacts" :model = "selected"></ContactForm>
                            <h3 class = "col-md-12 mt-2 dark-blue p-2 mb-5">{{$t('Kapcsolattartók')}}   <button type="button" class="pull-right btn-xs btn btn-success" @click="openContactModal(null)">{{$t('Új kapcsolattartó')}}</button></h3>
                            <div class="col-md-12">
                                <div class="table table-responsive">
                                    <table class="table table-bordered">
                                        <tr>
                                        <th>{{$t('Név')}}</th>
                                        <th>{{$t('Beosztás')}}</th>
                                        <th>{{$t('Telefon')}}</th>
                                        <th>{{$t('Email')}}</th>
                                        <th>{{$t('Művelet')}}</th>
                                        </tr>
                                        <tr v-for="contact in contacts" v-bind:key="'contanct'+contact.id">
                                            <td>{{ contact.name}}</td>
                                            <td>{{contact.position}}</td>
                                            <td><a :href="'tel:'+contact.phone">{{contact.phone}}</a></td>
                                            <td><a :href="'mailto:'+contact.email">{{contact.email}}</a></td>
                                            <td><button type="button" class="btn-xs btn btn-info" @click="openContactModal(contact)" >{{$t('Szerkesztés')}}</button></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Price from '../../../../../../../resources/js/components/Price'
import ImageLazy from '../../../../../../../resources/js/components/ImageLazy'
import FrontendTimePicker from '../../../../../../../resources/js/frontend/components/form/FrontendTimePicker'
import FormNumberInput from '../../../../../../../resources/js/components/form/FormNumberInput'
import FormInput from '../../../../../../../resources/js/components/form/FormInput'
import FormDatePicker from '../../../../../../../resources/js/components/form/FormDatePicker'
import FormSelect from '../../../../../../../resources/js/components/form/FormSelect'
import ContactForm from '../../../../../../Company/Resources/assets/js/components/contact/ContactForm'
export default {
    name: 'Data',
    components: { ImageLazy, FrontendTimePicker, FormNumberInput, FormSelect, FormDatePicker, FormInput, ContactForm, Price },
    data () {
        return {
            model: {},
            contacts: [],
            industries: [],
            fixings: null,
            selected: {}
        }
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/admin/company`
        },
        pageLanguage: function () {
            return this.$store.state.defaultStore.pageLanguage
        }
    },
    mounted () {
        this.getData()
        this.getMyFixings()
        this.getIndustires()
        this.getMyContacts()
    },
    watch: {
        '$store.state.defaultStore.pageLanguage': {
            handler: function (val, oldVal) {
            }
        }
    },
    methods: {
        getMyFixings () {
            this.axios.get(this.url + '/get-my-fixings').then(resp => {
                this.fixings = resp.data
            })
        },
        getData () {
            this.axios.get(this.url + '/data').then(resp => {
                this.model = resp.data.data
            })
        },
        getIndustires () {
            this.axios.get(this.url + '/get-my-industries').then(resp => {
                this.industries = resp.data.data
            })
        },
        openContactModal (model) {
            if (!model) {
                this.selected = {}
                this.selected.company_id = this.model.id
            } else {
                this.selected = JSON.parse(JSON.stringify(model))
            }
            window.$('#contactModal').modal('show')
        },
        getMyContacts () {
            this.axios.get(this.url + '/get-my-contacts').then(resp => {
                this.contacts = resp.data.data
            })
        }

    }
}
</script>
<style>
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    cursor: pointer;
    background-color: #fff1e5;
}
.bg-weekend {
    background: #8fcba3 !important
}

td input {
    border: solid 1px silver !important;
    max-width: 120px;
    margin-top: 0px !important;
}

.present .input-group-append {
    margin-left: -1px;
    height: 43px;
}

.present .form-group {
    margin-bottom: 0rem;
}
h3.dark-blue{
    color:white;
}
.table td {
    padding: 0.35rem !important;
}
</style>
