<template>
    <div class="blog-container">
        <div class=" page-tagline present">
            <div class="col-12 mt-2">
                <div class="circle-tile-heading blue"><i style="width: 1.75em;"
                                                           class="fa fa-file-pdf fa-fw fa-3x"></i></div>
                <div class="circle-tile-content blue text-center">
                    <h1 class="title text-white">{{$t('Dokumentumok')}} </h1>
                </div>
            </div>
        </div>
        <div class="kt-portlet">
            <div class="kt-portlet__body">
                <div class="kt-form kt-form--label-right">
                    <div class="kt-form__body">
                        <DocumentsForm :url="url+'/document'" v-on:refresh="getCompanyDocuments" :model = "selected"></DocumentsForm>
                        <h3 class = "col-md-12 mt-2 blue p-2 mb-5">{{$t('Dokumentumok')}} </h3>
                        <div class="col-md-12">
                            <div class="table table-responsive">
                                <table class="table table-bordered">
                                    <tr>
                                        <th>{{$t('Név')}}</th>
                                        <th>{{$t('Feltöltve')}}</th>
                                        <th>{{$t('Megtekintés')}}</th>
                                    </tr>
                                    <tr v-for="document in documents" v-bind:key="'doc-'+document.id">
                                        <td>{{document.name}}</td>
                                        <td>{{document.created_at}}</td>
                                        <td><button class="btn btn-warning btn-xs" @click="openPDF(document.path)"><i class="fa fa-eye"></i> </button> </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import ImageLazy from '../../../../../../../resources/js/components/ImageLazy'
import FrontendTimePicker from '../../../../../../../resources/js/frontend/components/form/FrontendTimePicker'
import FormNumberInput from '../../../../../../../resources/js/components/form/FormNumberInput'
import DocumentsForm from '../../../../../../Company/Resources/assets/js/components/forms/FormsForm'
export default {
    name: 'Documents',
    components: { ImageLazy, FrontendTimePicker, FormNumberInput, DocumentsForm },
    data () {
        return {
            documents: {},
            selected: {}

        }
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/admin/company`
        }
    },
    created () {
        this.getCompanyDocuments()
    },

    methods: {
        getCompanyDocuments () {
            this.axios.get(this.url + '/documents?limit=1000').then((resp) => {
                this.documents = resp.data.data
            })
        },
        openDocumentModal () {
            this.selected = {}
            window.$('#documentModal').modal('show')
        },
        openPDF (link) {
            this.$eventHub.$emit('openPDF', link)
        }

    }
}
</script>
<style>
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    cursor: pointer;
    background-color: #fff1e5;
}
.bg-weekend {
    background: #8fcba3 !important
}

td input {
    border: solid 1px silver !important;
    max-width: 120px;
    margin-top: 0px !important;
}
h3.blue{
    color:white;
}
.present .input-group-append {
    margin-left: -1px;
    height: 43px;
}

.present .form-group {
    margin-bottom: 0rem;
}

.table td {
    padding: 0.35rem !important;
}
</style>
