<template>
  <div>
    <div class = "alert alert-custom alert-white alert-shadow kt-portlet" role = "alert">
      <h3 class = "text-info">{{ $t('Szerződések') }}
        <div class="float-right" v-if="model.id">
          <button class="btn btn-outline-info" @click="openPDF(url+'/company/contract/pdf-preview/'+model.id+'/1-szamu-melleklet')">1. Számú melléklet <i class="fa fa-file-pdf"></i></button>
          <button class="btn btn-outline-info" @click="openPDF(url+'/company/contract/pdf-preview/'+model.id+'/2-szamu-melleklet')">2. Számú melléklet <i class="fa fa-file-pdf"></i></button>
          <button class="btn btn-outline-info" @click="openPDF(url+'/company/contract/pdf-preview/'+model.id+'/szerzodes')">Szerződés <i class="fa fa-file-pdf"></i></button>
        </div>
      </h3>
    </div>
    <div class = "kt-portlet">
      <div class = "kt-portlet__body">
        <div class = "kt-form kt-form--label-right">
          <div class = "kt-form__body">
            <div class = "row">
              <div class="col-md-12 table-responsive">
                 <table class="table table-bordered">
                   <tr>
                     <th>MADS által utoljára szerkesztve</th>
                     <th>MADS által elfogadva?</th>
                     <th>Cég által utoljára szerkesztve</th>
                     <th>Cég által elfogadva</th>
                     <th>Műveletek</th>
                   </tr>
                   <tr>
                     <td>{{model.mads_updated}}</td>
                     <td>{{model.mads_approved}}</td>
                     <td>{{model.company_updated}}</td>
                     <td>{{model.company_approved}}</td>
                     <td>
                       <div v-if="!(model.mads_approved !='Igen' || model.mads_approved =='Igen' && model.company_approved == 'Igen')">
                       <button class="btn btn-sm btn-primary" @click="openConfirm('Ha elfogadja a szerződést a végrahajtott módosítások elvesznek, a MADS által küldött módosítások lesznek érvényesek. A szerződés végleges lesz.',approve)">Elfogadás</button>
                       <button class="btn btn-sm btn-success" @click="openConfirm('A szerződést újra elküldjük a MADS-nak jóváhagyásra.',saveAndApproveContract)">Mentés és küldés az ügyfélnek</button>
                       <button class="btn btn-sm btn-warning" @click="saveAsDraft">Mentés piszkozatként</button>
                       <button class="btn btn-sm btn-danger" @click="openConfirm('Biztos vissza szeretné tölteni a MADS által küldött verziót, a piszkozatok és a módosítások elvesznek.',revertLastVersion)">Utolsó verzió visszaállítása</button>
                       </div>
                     </td>
                   </tr>
                 </table>
              </div>
              <div class="col-md-12" v-if="(model.mads_approved !='Igen')">
                <h2 class="text-center text-info">A szerződés jelenleg nem szerkeszthető. Kérem várja meg a MADS válaszát!</h2>
                <hr class="m-3"/>
              </div>
              <div class="col-md-12" v-if="model.mads_approved =='Igen' && model.company_approved == 'Igen'">
                <h2 class="text-center text-danger">A szerződés nem szerkeszthető! Mindkét fél jóváhagyta a szerződés tartlamát, így a szerződés véglegesítve lett.</h2>
                <hr class="m-3"/>
              </div>
              <div class = "col-md-6" >
                <FormContractWyswygEditor :disabled="model.mads_approved !='Igen' || model.mads_approved =='Igen' && model.company_approved == 'Igen'" v-model="model.actual_contract"></FormContractWyswygEditor>
                </div>
              <div class="col-md-6 " >
                <h2 class="text-center">Eltérések az előző verzióhoz képest</h2>
                <div style="margin-left:10px;margin-top:75px; margin-right:10px" class="diffBlock" v-html="model.diff"></div>
              </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      </div>
</template>

<script>
import FormContractWyswygEditor from '../../../../../../../resources/js/components/form/FormContractWyswygEditor.vue'
import swal from 'sweetalert2'

export default {
    name: 'MyContractShow',
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/admin`
        }
    },
    data () {
        return {
            model: {}
        }
    },
    methods: {
        getContract () {
            let id = 0
            if (this.$route.params.id) {
                id = this.$route.params.id
            }

            this.axios.get(this.url + '/company/contract/show/' + id).then((response) => {
                this.model = response.data.data
            })
        },
        saveAsDraft () {
            this.axios.post(this.url + '/company/contract/save-as-draft/' + this.model.id, this.model).then((response) => {
                this.model = response.data.data
            })
        },
        approve () {
            this.axios.post(this.url + '/company/contract/approve-contract/' + this.model.id, this.model).then((response) => {
                this.model = response.data.data
            })
        },
        revertLastVersion () {
            this.axios.post(this.url + '/company/contract/revert-last-version/' + this.model.id, this.model).then((response) => {
                this.model = response.data.data
            })
        },
        saveAndApproveContract () {
            this.axios.post(this.url + '/company/contract/save-and-approve/' + this.model.id, this.model).then((response) => {
                this.model = response.data.data
            })
        },
        openPDF (link) {
            this.$eventHub.$emit('openPDFStudent', link)
        },
        openConfirm (question, callback) {
            swal.fire({
                title: question,
                text: this.$t('A Művelet nem visszavonható'),
                type: 'warning',
                showCancelButton: !0,
                confirmButtonText: this.$t('Igen, értettem!'),
                cancelButtonText: this.$t('Mégse!'),
                reverseButtons: !0
            }).then(function (e) {
                if (e.value) {
                    callback()
                }
            })
        }
    },

    components: { FormContractWyswygEditor },
    beforeMount: function () {
        this.getContract()
    }
}
</script>
<style >
del.diffmod, del {
  background-color:red;
  font-weight: bold;
  color:white;
}
ins.diffmod, ins.diffins{
  background-color:green;
  font-weight: bold;
  color:white;
}
.normal {
   background: none !important;
}
.diffBlock{
  font-family: Arial !important;
}
.diffBlock li{
  line-height: 1.14;
}
.diffBlock table tr td
  {
    margin: 0px;
    padding: 5px;
    vertical-align: top;

    font-size: 12px;
    line-height: normal;
    border:solid 1px #ccccc6;
  }
  .paper{

    font-size: 12px;
    text-align: justify;

  }
  .signiture {

    text-align: right;
  }
.diffBlock  .paper div, .paper span
  {
    font-size:12px;
  }
  .head{
    font-size:13px;
    text-align: center
  }
.diffBlock  .paper table.data td{
    border:solid 1px #ccccc6;
    white-space: nowrap;
  }
.diffBlock  table {
    width: 100%; margin:0 0 0 0; font-size:14px; border:solid 1px #ccccc6;
  }
</style>
