<template>
    <div class="blog-container">
        <div class=" page-tagline present">
            <div class="col-12 mt-2">
                <div class="circle-tile-heading purple"><i style="width: 1.75em;"
                                                           class="fa fa-calendar-alt fa-fw fa-3x"></i></div>
                <div class="circle-tile-content purple text-center">
                    <h1 class="title text-white"> {{$t('Online jelenléti')}} </h1>
                </div>
            </div>
            <div v-if="presents && (!presents.length && !Object.keys(presents).length)" class="col-12 mt-2 text-center">
                <div class="alert alert-warning text-center">{{$t('Jelenleg nincs jóváhagyásra váró jelenléti!')}}</div>
            </div>
            <div class="col-12 mt-2" v-if="presents && (presents.length || Object.keys(presents).length)">
                <h2 style="font-size: 18px" class="text-center pl-2 mt-2 mb-2">{{$t('Válassz hónapot!')}}</h2>
                <div class="tags-container center-block text-center">
                  <a v-if="new Date().getMonth() == 0" class="text-white" v-bind:class="{'btn btn-xs btn-success':month == 0, 'btn btn-xs btn-info':0 !=month}"  href="#" @click.prevent="month=0">{{$t('December')}}</a>
                    <a class="text-white"
                       v-bind:class="{'btn btn-xs btn-success':index == month ,' btn btn-xs btn-info':index!=month}"
                       v-for="(m,index) in months" v-bind:key="'month-'+index" href="#"
                       @click.prevent="month=index">{{ $t(m) }}</a>
                </div>
                <h2 style="font-size: 18px" class="text-center pl-2 mt-2 mb-2">{{$t('Válassz tevékenységet!')}}</h2>
                <div class="tags-container center-block text-center">
                  <template v-if="Object.keys(presents).length<6">
                    <a class="text-white"
                       v-bind:class="{'btn btn-xs btn-success':present.industry_id == selectedPresent.industry_id ,'btn btn-xs btn-info':present.industry_id != selectedPresent.industry_id}"
                       v-for="(present,index) in presents" v-bind:key="'presents-'+index" href="#"
                       @click.prevent="selectedPresent=present;selectedStudent.student_id = 0">{{ present.name }}</a>
                  </template>
                  <template v-if="Object.keys(presents).length>=6">
                    <div class="row">
                    <div class="col-md-4"></div>
                    <div class=" col-md-4">
                      <label data-v-9a84a97a=""> {{$t('Tevékenyésg kiválasztása')}}</label>
                      <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" style="width: 100%" type="button" :id="'dropdownMenuButton2'" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          {{$t('Kiválaszt')}}
                        </button>
                        <div class="dropdown-menu p-3" :aria-labelledby="'dropdownMenuButton2'" style="z-index: 100" >
                          <input type="text" v-model="search" class="form-control mt-3 mb-3" :placeholder="$t('Keresés')">
                          <ul style="max-height: 300px;background: white;overflow-y: auto;z-index:100; width:100%;   list-style: none;padding-left: 5px;padding-right: 5px" >
                            <li style="cursor: pointer;padding:2px" v-for="(item,index) in filteredList" v-bind:key="'pres'+'-'+index" v-bind:class="{'bg-success':selectedPresent.industry_id ==item.industry_id}">
                              <label :id="'dropdownMenuButton2'" data-toggle="dropdown" @click="selectedPresent=item;selectedStudent.student_id = 0" style="width: 100%;white-space: nowrap"> {{item.name}}</label>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4"></div>
                    </div>
                  </template>
                </div>
            </div>
        </div>
        <div class="kt-portlet">
            <div class="kt-portlet__body">
                <div class="kt-form kt-form--label-right">
                    <div class="kt-form__body">
                        <div class="row"
                             v-if="presents && selectedPresent.industry_id >0 && selectedStudent.student_id == 0 ">
                            <div class="col-12">
                                <h2 style="font-size: 18px" class="text-left pl-2 mt-2 mb-2">  <b v-if="month===0">{{new Date().getFullYear()-1}}. {{$t('December')}}</b>
                                  <b v-if="month!==0">{{ new Date().getFullYear() }}. {{ $t(months[month]) }} - {{$t('dolgozók')}}</b>
                                    <button class="btn btn-info pull-right"  @click="openPDF()"> {{$t('Jelenlétik letöltése pdf-ben')}}</button>
                                </h2>
                              <div class="table-responsive">
                                <table class="table-bordered presents table table-bordered">
                                    <tr style="background:#f3ad0b">
                                        <th>{{$t('Név')}}</th>
                                        <th>{{$t('Email')}}</th>
                                        <th>{{$t('Telefon')}}</th>
                                        <th>{{$t('jóváhagyva')}}</th>
                                        <th>{{$t('Jelenléti')}}</th>
                                    </tr>
                                    <tr v-for="student in selectedPresent.students"
                                        v-bind:key="'student-'+student.student_id">
                                        <th class="nowrap" v-html="student.name"></th>
                                        <td class="nowrap"><a :href="'mailto:'+student.email">{{ student.email }}</a></td>
                                        <td class="nowrap"><a :href="'tel:'+student.phone ">{{ student.phone }}</a></td>
                                        <td  class="text-center text-white"
                                            v-bind:class="{'bg-danger':student.all_approved,'bg-success':!student.all_approved}">
                                            {{ (student.all_approved) ? $t('NEM') : $t('IGEN') }}
                                        </td>
                                        <td class="nowrap"><a class="btn btn-xs btn-outline-success" href="#"
                                               @click.prevent="selectStudent(student)">{{$t('Megtekint')}}</a></td>
                                    </tr>
                                </table>
                                </div>

                            </div>
                            <div class="col-12">
                                <hr class="separator"/>
                            </div>
                        </div>
                        <div class="row" v-if="presents && selectedStudent.student_id>0">
                            <div class="col-12">
                                <h2 style="font-size: 18px" class="text-center pl-2 mt-2 mb-2">
                                  <b v-if="month===0">{{new Date().getFullYear()-1}}. {{$t('December')}}</b>
                                  <b v-if="month!==0">{{ new Date().getFullYear() }}. {{ $t(months[month]) }}</b>- {{selectedStudent.name}} - <span class="bg-danger p-2"><b>{{$t('összesen')}}: {{sum}} {{$t('óra')}}</b></span></h2>
                                <div class="alert alert-info mt-2 ">
                                    {{$t('A jelenlétik jóváhagyására a tárgyhót követő 3.nap 12 óráig van lehetőség. Ezután a rendszer automatikusan jóváhagyja az adatokat és nincs lehetőség módosításra.')}}
                                </div>
                              <div class="table-responsive">
                              <table class="table table-bordered present-table presents" v-if="selectedStudent && selectedStudent.price_hourly ">
                                <tr class="purple text-white">
                                  <th class="text-center w-50">{{$t('Bér az alap órabérrel számolva')}}</th>
                                  <th class="text-center w-50">{{$t('MADS által véglegesített adatok')}}</th>
                                </tr>
                                <tr>
                                  <td class="text-center w-50"><h1 class="h3 text-success"><Price :value="sum*selectedStudent.price_hourly"></Price></h1></td>
                                  <td class="text-center w-50">
                                    <h1 class="h3 text-danger" v-if="selectedStudent.mads_all"><Price :value="selectedStudent.mads_all"></Price></h1>
                                    <span v-if="!selectedStudent.mads_all" class="text-info">{{$t('Az adatok még nem kerültek feldolgozásra')}}</span>
                                  </td>
                                </tr>
                              </table>
                                <div class="w-100 text-right p-3"><button class="btn btn-outline-primary" @click="back()">{{$t('Vissza a diák listához')}}</button><button class="btn btn-warning" @click="approvePresents()">{{$t('Jóváhagyás')}}</button></div>
                                <div class="table-responsive">
                                <table style="margin:auto;width:auto" class="table-bordered presents table table-bordered">
                                    <tr style="background:#f3ad0b">
                                        <th>#</th>
                                        <th>{{$t('Érkezés')}}</th>
                                        <th>{{$t('Távozás')}}</th>
                                        <th v-if="selectedPresent.industry_has_break">{{$t('Szünet')}}</th>
                                        <th>{{$t('Ledolgozott óra')}}</th>
                                        <th>{{$t('Jóváhagyva')}}</th>
                                    </tr>
                                    <tr v-for="day in selectedStudent.presents" v-bind:key="'date-'+day.date"
                                        v-bind:class="{'bg-weekend':day.weekend,'text-danger':selectedStudent.presents[day.date].start}">
                                        <th v-html="day.name"></th>
                                        <td>
                                            <FrontendTimePicker v-model="selectedStudent.presents[day.date].start" v-on:change="selectedStudent.presents[day.date].hour=calculate_diff_hour(selectedStudent.presents[day.date].start,selectedStudent.presents[day.date].end,selectedStudent.presents[day.date].break_from,selectedStudent.presents[day.date].break_to)"/>
                                        </td>
                                        <td>
                                            <FrontendTimePicker  v-model="selectedStudent.presents[day.date].end"  v-on:change="selectedStudent.presents[day.date].hour=calculate_diff_hour(selectedStudent.presents[day.date].start,selectedStudent.presents[day.date].end,selectedStudent.presents[day.date].break_from,selectedStudent.presents[day.date].break_to)"></FrontendTimePicker>
                                        </td>
                                        <td v-if="selectedPresent.industry_has_break">
                                            <div class="d-inline-flex">
                                            <FrontendTimePicker  v-model="selectedStudent.presents[day.date].break_from"  v-on:change="selectedStudent.presents[day.date].hour=calculate_diff_hour(selectedStudent.presents[day.date].start,selectedStudent.presents[day.date].end,selectedStudent.presents[day.date].break_from,selectedStudent.presents[day.date].break_to)"></FrontendTimePicker>
                                            <FrontendTimePicker  v-model="selectedStudent.presents[day.date].break_to"  v-on:change="selectedStudent.presents[day.date].hour=calculate_diff_hour(selectedStudent.presents[day.date].start,selectedStudent.presents[day.date].end,selectedStudent.presents[day.date].break_from,selectedStudent.presents[day.date].break_to)"></FrontendTimePicker>
                                            </div>
                                        </td>
                                        <td><FormNumberInput  v-model="selectedStudent.presents[day.date].hour"></FormNumberInput></td>
                                        <td>{{day.approved}}</td>
                                    </tr>
                                </table>
                                    </div>
                                    </div>
                            </div>
                            <div class="col-12">
                                <hr class="separator"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import ImageLazy from '../../../../../../../resources/js/components/ImageLazy'
import FrontendTimePicker from '../../../../../../../resources/js/frontend/components/form/FrontendTimePicker'
import FormNumberInput from '../../../../../../../resources/js/components/form/FormNumberInput'
import FormSelect from '../../../../../../../resources/js/components/form/FormSelect'
import Price from '../../../../../../../resources/js/components/Price'
export default {
    name: '',
    components: { ImageLazy, FrontendTimePicker, FormNumberInput, FormSelect, Price },
    data () {
        return {
            presents: {},
            months: {
                1: 'Január',
                2: 'Február',
                3: 'Március',
                4: 'Április',
                5: 'Május',
                6: 'Június',
                7: 'Július',
                8: 'Augusztus',
                9: 'Szeptember',
                10: 'Október',
                11: 'November',
                12: 'December'
            },
            selectedPresent: {
                industry_id: 0
            },
            selectedStudent: {
                student_id: 0
            },
            search: '',
            meta: null,
            links: null,
            attributes: null,
            page: 1,
            loaded: false,
            month: (new Date().getMonth() + 1)
        }
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/admin/company-user`
        },
        pageLanguage: function () {
            return this.$store.state.defaultStore.pageLanguage
        },
        sum: function () {
            let sum = 0
            if (!this.selectedStudent.student_id) {
                return 0
            }
            Object.keys(this.selectedStudent.presents).forEach(key => {
                sum += this.selectedStudent.presents[key].hour
            })
            return sum
        },
        filteredList: function () {
            const filter = {}
            if (Object.keys(this.presents)) {
                Object.keys(this.presents).forEach((index) => {
                    if (this.presents[index].name.toLowerCase().includes(this.search.toLowerCase())) {
                        filter[index] = this.presents[index]
                    }
                })
            }
            return filter
        }
    },
    created () {
        this.getCompanyPresents()
    },
    watch: {
        '$store.state.defaultStore.pageLanguage': {
            handler: function (val, oldVal) {
            }
        },
        month: {
            handler: function (val, oldVal) {
                if (val !== oldVal) {
                    this.getCompanyPresents()
                    this.selectedPresent = {
                        industry_id: 0
                    }
                }
            }
        }
    },
    methods: {
        getCompanyPresents () {
            if (this.month === 0) {
                this.axios.get(this.url + '/presents/' + (new Date().getFullYear() - 1) + '-12').then((resp) => {
                    this.presents = resp.data
                    if (this.selectedPresent.industry_id > 0) {
                        Object.keys(this.presents).forEach(key => {
                            if (this.presents[key].industry_id === this.selectedPresent.industry_id) {
                                this.selectedPresent = this.presents[key]
                            }
                        })
                    }
                })
            } else {
                this.axios.get(this.url + '/presents/' + (new Date().getFullYear()) + '-' + this.month).then((resp) => {
                    this.presents = resp.data
                    if (this.selectedPresent.industry_id > 0) {
                        Object.keys(this.presents).forEach(key => {
                            if (this.presents[key].industry_id === this.selectedPresent.industry_id) {
                                this.selectedPresent = this.presents[key]
                            }
                        })
                    }
                })
            }
        },
        openPDF () {
            if (this.month === 0) {
                this.$eventHub.$emit('openPDFStudent', `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/company/presents-pdf/${new Date().getFullYear() - 1}-12/${this.selectedPresent.industry_id}`)
            } else {
                this.$eventHub.$emit('openPDFStudent', `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/company/presents-pdf/${new Date().getFullYear()}-${this.month}/${this.selectedPresent.industry_id}`)
            }
        },
        approvePresents () {
            this.axios.post(this.url + '/save-presents', this.selectedStudent).then((resp) => {
                this.selectedStudent.presents = resp.data
                this.getCompanyPresents()
            })
        },
        calculate_diff_hour (a, b, c = null, d = null) {
            if (!a || !b || a.includes(':') === false || b.includes(':') === false) {
                return 0
            }
            let minusHour = 0
            if (c && d && c.includes(':') > 0 && d.includes(':') > 0) {
                // Mindekettő benne van
                if (this.calculate_between(a, b, c) && this.calculate_between(a, b, d)) {
                    minusHour = this.calculate_diff_hour(c, d)
                }
                // eleje benne van vége nincs
                if (this.calculate_between(a, b, c) && !this.calculate_between(a, b, d)) {
                    minusHour = this.calculate_diff_hour(c, b)
                }
                // vége benne van eleje nincs
                if (!this.calculate_between(a, b, c) && this.calculate_between(a, b, d)) {
                    minusHour = this.calculate_diff_hour(a, d)
                }
            }
            a = (parseInt(a) * 60 + parseInt(a.substring(a.indexOf(':') + 1)))
            b = (parseInt(b) * 60 + parseInt(b.substring(b.indexOf(':') + 1)))
            let diff = b - a
            if (diff < 0) {
                diff += 1440
            }
            return (parseInt(100 * diff / 60) / 100) - minusHour
        },
        calculate_between (a, b, c) {
            if (!a || !b || !c || a.includes(':') === false || b.includes(':') === false || c.includes(':') === false) {
                return 0
            }
            a = (parseInt(a) * 60 + parseInt(a.substring(a.indexOf(':') + 1)))
            b = (parseInt(b) * 60 + parseInt(b.substring(b.indexOf(':') + 1)))
            c = (parseInt(c) * 60 + parseInt(c.substring(c.indexOf(':') + 1)))
            if (a === b) {
                return false
            }
            if (b < a) {
                return (a <= c && 23 * 60 + 59 >= c) || (c >= 0 && b >= c)
            } else {
                return a <= c && b >= c
            }
        },
        selectStudent (student) {
            Object.keys(student.presents).forEach(key => {
                if (!student.presents[key].hour) {
                    student.presents[key].hour = this.calculate_diff_hour(student.presents[key].start, student.presents[key].end)
                }
            })
            this.selectedStudent = student
        },
        back () {
            this.getCompanyPresents()
            this.selectedStudent.student_id = 0
        }

    }
}
</script>
<style>
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    cursor: pointer;
    background-color: #fff1e5;
}
.bg-weekend {
    background: #8fcba3 !important
}

td input {
    border: solid 1px silver !important;
    max-width: 120px;
    margin-top: 0px !important;
}

.present .input-group-append {
    margin-left: -1px;
    height: 43px;
}

.present .form-group {
    margin-bottom: 0rem;
}

.table td {
    padding: 0.35rem !important;
}
</style>
