<template>
    <div class="blog-container">
        <div class=" page-tagline present">
            <div class="col-12 mt-2">
                <div class="circle-tile-heading bg-primary"><i style="width: 1.75em;"
                                                           class="fa fa-question fa-fw fa-3x"></i></div>
                <div class="circle-tile-content bg-primary text-center">
                    <h1 class="title text-white">{{$t('Árajanlathoz szükséges kérdések')}} </h1>
                </div>
            </div>
        </div>
      <div class="modal fade" id="questionModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content ">
            <div class="modal-header bg-warning">
              <h5 class="modal-title">{{$t('Kérdések megváloszolása')}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i aria-hidden="true" class="ki ki-close"></i>
              </button>
            </div>
            <div class="modal-body p-4" v-if="selected">
              <div class="row" v-for="(q,i) of selected.questions" v-bind:key="'question-'+i">
                <div class="col-md-12">{{i+1}}. {{q.question}}</div>
                <div class="col-md-12 mt-3"><FormTextArea :disabled="selected.answered==1" v-model="selected.questions[i].answer" :title="$t('Válasz')"></FormTextArea></div>
              </div>
              <div class="modal-footer ">
                <button type="button" v-if="!selected.answered" class="btn btn-success"  @click="saveQuestion">{{$t('Válaszok küldése')}}</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">{{$t('Mégse')}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
        <div class="kt-portlet">
            <div class="kt-portlet__body">
                <div class="kt-form kt-form--label-right">
                    <div class="kt-form__body">
                        <div class="col-md-12">
                            <div class="table table-responsive">
                                <table class="table table-bordered">
                                    <tr>
                                        <th>{{$t('Címzett')}}</th>
                                        <th>{{$t('Email')}}</th>
                                        <th>{{$t('Dátum')}}</th>
                                        <th>{{$t('Válaszok elküldve')}}</th>
                                        <th>{{$t('Itt tudja megválaszolni a kérdéseket!')}}</th>
                                    </tr>
                                    <tr v-for="document in documents" v-bind:key="'doc-'+document.id">
                                        <td>{{document.name}}</td>
                                        <td>{{document.email}}</td>
                                        <td>{{document.updated_at}}</td>
                                        <td><span v-if="document.answered">{{$t('IGEN')}}</span><span v-if="!document.answered">{{$t('NEM')}}</span></td>
                                        <td>
                                          <button v-if="!document.answered" class="btn btn-warning btn-xs" @click="openDocumentModal(document)" :title="$t('válaszok')"><i class="fa fa-edit"></i> </button>
                                          <button v-if="document.answered" class="btn btn-success btn-xs" @click="openDocumentModal(document)" :title="$t(Megtekint)"><i class="fa fa-eye"></i> </button>
                                        </td>
                                    </tr>
                                  <tr v-if="!documents">
                                    <td colspan="4"><h3>{{$t('Jelenkeg nincsenek kérdesek')}}</h3></td>
                                  </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import FormTextArea from '../../../../../../../resources/js/components/form/FormTextArea.vue'
export default {
    name: 'Questions',
    components: { FormTextArea },
    data () {
        return {
            documents: {},
            selected: {}

        }
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/admin/company`
        }
    },
    created () {
        this.getCompanyDocuments()
    },

    methods: {
        getCompanyDocuments () {
            this.axios.get(this.url + '/get-my-questions').then((resp) => {
                this.documents = resp.data.data
            })
        },
        saveQuestion () {
            this.axios.post(this.url + '/save-answer', this.selected).then((resp) => {
                this.documents = resp.data.data
                window.$('#questionModal').modal('hide')
            })
        },
        openDocumentModal (row) {
            this.selected = row
            window.$('#questionModal').modal('show')
        }

    }
}
</script>
<style>
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    cursor: pointer;
    background-color: #fff1e5;
}
.bg-weekend {
    background: #8fcba3 !important
}

td input {
    border: solid 1px silver !important;
    max-width: 120px;
    margin-top: 0px !important;
}
h3.blue{
    color:white;
}
.present .input-group-append {
    margin-left: -1px;
    height: 43px;
}

.present .form-group {
    margin-bottom: 0rem;
}

.table td {
    padding: 0.35rem !important;
}
</style>
