<template>
    <div class="blog-container">
        <div class=" page-tagline present">
            <div class="col-12 mt-2">
                <div class="circle-tile-heading bg-warning"><i style="width: 1.75em;"
                                                           class="fa fa-newspaper fa-fw fa-3x"></i></div>
                <div class="circle-tile-content bg-warning text-center">
                    <h1 class="title text-white">{{$t('Árajánlatok')}} </h1>
                </div>
            </div>
        </div>
      <div class="modal fade" id="acceptRequest" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content ">
            <div class="modal-header bg-warning">
              <h5 class="modal-title">{{$t('Válassza ki az ajánlatokat amit el szeretne fogadni')}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i aria-hidden="true" class="ki ki-close"></i>
              </button>
            </div>
            <div class="modal-body p-4" v-if="selectedRequest">
              <div class="row" v-for="(q,i) of selectedRequest.request" v-bind:key="'question-'+i">
                <div class="col-md-6 mb-3" v-if="q.selected=== true">{{i+1}}. {{q.name}}</div>
                <div class="col-md-6 "><FormSingleCheckbox v-model="selectedRequest.request[i].approved"></FormSingleCheckbox></div>
              </div>
              <div class="modal-footer ">
                <button type="button"  class="btn btn-success"  @click="approveRequest">{{$t('Elfogadás')}}</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">{{$t('Mégse')}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="declineRequest" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content ">
            <div class="modal-header bg-warning">
              <h5 class="modal-title">{{$t('Elutasítás indoka')}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i aria-hidden="true" class="ki ki-close"></i>
              </button>
            </div>
            <div class="modal-body p-4" >
              <div class="row">
                <div class="col-md-12">
                  <FormTextArea  v-model="selectedRequest.declined" :title="$t('Kérlek segítsd a munkánkat az indoklással')"></FormTextArea>
                </div>
              </div>
              <div class="modal-footer ">
                <button type="button" class="btn btn-success"  @click="decline">{{$t('Válasz küldése')}}</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">{{$t('Mégse')}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
        <div class="kt-portlet">
            <div class="kt-portlet__body">
                <div class="kt-form kt-form--label-right">
                    <div class="kt-form__body">
                        <div class="col-md-12">
                            <div class="table table-responsive">
                                <table class="table table-bordered">
                                    <tr>
                                        <th>{{$t('Címzett')}}</th>
                                        <th>{{$t('Email')}}</th>
                                        <th>{{$t('Dátum')}}</th>
                                        <th>{{$t('Ajánlat')}}</th>
                                        <th>{{$t('Elfogadva')}}</th>
                                    </tr>
                                    <tr v-for="document in documents" v-bind:key="'doc-'+document.id">
                                        <td>{{document.name}}</td>
                                        <td>{{document.email}}</td>
                                        <td>{{document.updated_at}}</td>
                                        <td><button class="btn btn-warning btn-xs" @click="openPDF(document.documentum)" :title="$t('Megtekintés')"><i class="fa fa-eye"></i> </button></td>
                                      <td class="text-center">
                                        <button v-if="!document.approved" class="btn btn-info btn-xs"  title="Kérdésiem vannak" @click="callMeBack(document)" >{{$t('Kérdésiem vannak! Visszahívást kérek!')}} </button>
                                        <button  class="btn btn-success btn-xs"  :title="$t('Elfogadás')" @click="approveDetailsRequest(document)"><i class="fa fa-check-circle"></i> </button>
                                        <button v-if="!document.approved" class="btn btn-danger btn-xs"  :title="$t('Elutasítás')" @click="declineRequest(document)"><i class="fa fa-trash"></i> </button>
                                        <div v-if="document.approved ==1" class="text-info">{{$t('IGEN')}}</div>
                                        <div v-if="document.approved ==2" class="text-danger">{{$t('ELUTASÍTVA')}}</div>
                                      </td>
                                    </tr>
                                  <tr v-if="!documents">
                                    <td colspan="5"><h3 class="text-center">{{$t('Még nem érkezett ajánlat')}}</h3></td>
                                  </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import ImageLazy from '../../../../../../../resources/js/components/ImageLazy'
import FrontendTimePicker from '../../../../../../../resources/js/frontend/components/form/FrontendTimePicker'
import FormNumberInput from '../../../../../../../resources/js/components/form/FormNumberInput'
import DocumentsForm from '../../../../../../Company/Resources/assets/js/components/forms/FormsForm'
import FormAutocomplete from '../../../../../../../resources/js/components/form/FormAutocomplete.vue'
import FormSelectCheckbox from '../../../../../../../resources/js/components/form/FormSelectCheckbox.vue'
import FormTextArea from '../../../../../../../resources/js/components/form/FormTextArea.vue'
import FormSingleCheckbox from '../../../../../../../resources/js/components/form/FormSingleCheckbox.vue'
export default {
    name: 'Requests',

    components: { FormSelectCheckbox, FormAutocomplete, ImageLazy, FrontendTimePicker, FormNumberInput, DocumentsForm, FormTextArea, FormSingleCheckbox },
    data () {
        return {
            documents: {},
            selected: {},
            selectedRequest: {}

        }
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/admin/company`
        }
    },
    created () {
        this.getCompanyDocuments()
    },

    methods: {
        getCompanyDocuments () {
            this.axios.get(this.url + '/get-my-requests').then((resp) => {
                this.documents = resp.data.data
            })
        },
        approveRequest () {
            this.axios.post(this.url + '/approve-request', this.selectedRequest).then((resp) => {
                this.documents = resp.data.data
            })
        },
        approveDetailsRequest (row) {
            this.selectedRequest = row
            window.$('#acceptRequest').modal('show')
        },
        declineRequest (row) {
            this.selectedRequest = {}
            this.selectedRequest = row
            window.$('#declineRequest').modal('show')
        },
        decline () {
            window.$('#declineRequest').modal('hide')
            this.axios.post(this.url + '/decline-request', this.selectedRequest).then((resp) => {
                this.documents = resp.data.data
            })
        },
        callMeBack (row) {
            this.axios.post(this.url + '/call-me-back', row).then((resp) => {

            })
        },
        openPDF (link) {
            this.$eventHub.$emit('openPDF', link)
        }

    }
}
</script>
<style>
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    cursor: pointer;
    background-color: #fff1e5;
}
.bg-weekend {
    background: #8fcba3 !important
}

td input {
    border: solid 1px silver !important;
    max-width: 120px;
    margin-top: 0px !important;
}
h3.blue{
    color:white;
}
.present .input-group-append {
    margin-left: -1px;
    height: 43px;
}

.present .form-group {
    margin-bottom: 0rem;
}

.table td {
    padding: 0.35rem !important;
}
</style>
