<template>
    <div class="blog-container">
        <div class=" page-tagline present">
            <div class="col-12 mt-2">
                <div class="circle-tile-heading dark-gray"><i style="width: 1.75em;"
                                                           class="fa fa-table fa-fw fa-3x"></i></div>
                <div class="circle-tile-content dark-gray text-center">
                    <h1 class="title text-white"> {{$t('Beosztás')}} </h1>
                </div>
            </div>
        </div>
        <div class="kt-portlet">
            <div class="kt-portlet__body">
                <div class="kt-form kt-form--label-right">
                    <div class="kt-form__body">

                        <div class="row">
                            <div class="col-12"><FormWeekPicker style="max-width: 300px"  v-model="currentDate"></FormWeekPicker></div>
                            <div class="col-md-12 " v-if="!scheduleData || !scheduleData.schedules.length  ">
                                <div class="alert alert-info text-center">{{$t('Nincs beosztás rögzítve az adott hétre')}}</div>
                            </div>
                            <div class="col-md-12 " v-if="scheduleData && scheduleData.schedules  ">
                            <div class="" >
                                <div v-for="(industry,ind) in Object.keys(scheduleData.schedules)" v-bind:key="'industry-'+ind">
                                    <h2 class="text-center" v-if="industry">{{industry}}</h2>
                                <div  v-for="(sch,index) in scheduleData.schedules[industry]"  v-bind:key="'deps-'+index">
                                    <h4 v-if="index">{{index}}</h4>
                                    <table class="table table-bordered table-striped " v-if="scheduleData && scheduleData.schedules">
                                        <thead>
                                        <tr>
                                            <th class="bg-dark text-white text-center">{{$t('Diákok')}}</th>
                                            <th class="bg-dark text-white text-center" v-for="day in scheduleData.days" v-bind:key="'day-header'+day.value" v-html="day.formatted"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="(st,index,key) in scheduleData.schedules[industry][index]" v-bind:key="'dd'-index+'-'+ key + '-' + st.student_id">
                                            <td class="bg-silver">{{st.name}} <a href="#" data-toggle="modal" data-target="#projectScheduleModal" @click.prevent="selectExistingStudent(st,st.student_id,dep)" class="pull-right text-indo m-2" title="Besztás/Szerkesztés"> <i class="fa fa-calendar "></i></a>
                                                <br/>
                                                <i class="fa fa-phone"></i> <a :href="'tel:'+st.phone">{{st.phone}}</a>
                                            </td>
                                            <template  v-for="day in scheduleData.days">
                                                <td class="text-center" v-bind:key="'day-ddd'+day.value+'-'+ key + '-' + st.student_id" > <span v-if="st[day.value]">{{st[day.value].start}} - {{st[day.value].end}}</span>
                                                    <!-- <i class="text-danger fa fa-exclamation-triangle" title="Nem jelent meg" aria-hidden="true"></i>
                                                     <i class="text-warning fa fa-exclamation" title="Időpont eltérés" aria-hidden="true"></i>
                                                     <i class="text-success fa fa-check" title="Megjelent" aria-hidden="true"></i> -->
                                                </td>
                                            </template>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                    </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import ImageLazy from '../../../../../../../resources/js/components/ImageLazy'
import FrontendTimePicker from '../../../../../../../resources/js/frontend/components/form/FrontendTimePicker'
import FormNumberInput from '../../../../../../../resources/js/components/form/FormNumberInput'
import FormWeekPicker from '../../../../../../../resources/js/components/form/FormWeekPicker'
export default {
    name: 'Schedules',
    components: { ImageLazy, FrontendTimePicker, FormNumberInput, FormWeekPicker },
    data () {
        return {
            currentDate: null,
            selectedTab: 0,
            notFound: false,
            scheduleData: {
                days: [],
                scheduels: []
            }
        }
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/admin/company`
        }
    },
    mounted () {
        var date = new Date()
        let add = 1

        if (date.getDay() === 0) {
            add = -6
        }
        const startDate = new Date(date.getFullYear(), date.getMonth(), date.getDate() - date.getDay() + add)
        const endDate = new Date(date.getFullYear(), date.getMonth(), date.getDate() - date.getDay() + add + 6)
        this.currentDate = (startDate.getFullYear() + '-' + (startDate.getMonth() + 1) + '-' + startDate.getDate()) + ' - ' + (endDate.getFullYear() + '-' + (endDate.getMonth() + 1) + '-' + endDate.getDate())
    },
    watch: {
        currentDate: {
            handler: function (val, oldVal) {
                console.log('change')

                this.getSchedule()
            },
            deep: true
        }
    },
    methods: {
        getSchedule () {
            this.axios.get(this.url + '/schedule' + '?interval=' + this.currentDate).then((resp) => {
                this.scheduleData = resp.data
            })
        }

    }
}
</script>
<style>
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    cursor: pointer;
    background-color: #fff1e5;
}
.bg-weekend {
    background: #8fcba3 !important
}

td input {
    border: solid 1px silver !important;
    max-width: 120px;
    margin-top: 0px !important;
}

.present .input-group-append {
    margin-left: -1px;
    height: 43px;
}

.present .form-group {
    margin-bottom: 0rem;
}

.table td {
    padding: 0.35rem !important;
}
</style>
