<template>
    <div class="blog-container">
        <div class=" page-tagline present">
            <div class="col-12 mt-2">
                <div class="circle-tile-heading blue"><i style="width: 1.75em;"
                                                           class="fa fa-users fa-fw fa-3x"></i></div>
                <div class="circle-tile-content blue text-center">
                    <h1 class="title text-white">{{$t('Dolgozó diákok- a legutolsó lezárt hónapban')}} </h1>
                </div>
            </div>
        </div>
        <div class="kt-portlet">
            <div class="kt-portlet__body">
                <div class="kt-form kt-form--label-right">
                    <div class="kt-form__body">
                      <div class = "col-12">
                        <div class = "table-responsive">
                          <table class = "table table-bordered ">
                      <tr>
                        <th>{{$t('MADS azonosító')}}</th>
                        <th>{{$t('Név')}}</th>
                        <th>{{$t('Email')}}</th>
                        <th>{{$t('Jogviszony')}}</th>
                        <th>{{$t('Telefon')}}</th>
                        <th>{{$t('Munkakör')}}</th>
                        <th>{{$t('óraszám')}}</th>
                      </tr>
                      <tbody>
                      <tr v-for = "(item,ind) in list" v-bind:key = "'workers-'+ind">
                        <td>{{ item.student_number }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.email }}</td>
                        <td>{{ item.certificate }}</td>
                        <td>{{ item.phone }}</td>
                        <td>{{ item.teaor }}</td>
                        <td>{{ item.hour }}</td>
                      </tr>
                      <tr v-if="!list.length">
                        <td colspan="7" class="text-center">{{$t('Nincs adat')}}</td>
                      </tr>
                      </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import ImageLazy from '../../../../../../../resources/js/components/ImageLazy'
import FrontendTimePicker from '../../../../../../../resources/js/frontend/components/form/FrontendTimePicker'
import FormNumberInput from '../../../../../../../resources/js/components/form/FormNumberInput'
import DocumentsForm from '../../../../../../Company/Resources/assets/js/components/forms/FormsForm'
export default {
    name: 'Workers',
    components: { ImageLazy, FrontendTimePicker, FormNumberInput, DocumentsForm },
    data () {
        return {
            list: {},
            selected: {}

        }
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/admin/company/workers-list`
        }
    },
    created () {
        this.getCompanyDocuments()
    },

    methods: {
        getCompanyDocuments () {
            this.axios.get(this.url).then((resp) => {
                this.list = resp.data.data
            })
        }

    }
}
</script>
<style>
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    cursor: pointer;
    background-color: #fff1e5;
}
.bg-weekend {
    background: #8fcba3 !important
}

td input {
    border: solid 1px silver !important;
    max-width: 120px;
    margin-top: 0px !important;
}
h3.blue{
    color:white;
}
.present .input-group-append {
    margin-left: -1px;
    height: 43px;
}

.present .form-group {
    margin-bottom: 0rem;
}

.table td {
    padding: 0.35rem !important;
}
</style>
