<template>
  <div class="col-12">
  <div class="row">
  <div class = "col-6">
    <div class = "table-responsive">
      <h3 class = "col-md-12 mt-2 bg-info p-2 mb-5">Aktív - toborzást igényel</h3>
      <table class = "table table-bordered table-responsive">
        <tr>
          <th>Tevékenység</th>
          <th>Azonosító</th>
          <th>Felelős</th>
          <th>Állapot</th>
          <th>Létszám</th>
          <th>Dolgozik</th>
        </tr>
        <tbody>
        <tr v-for = "item in listActive" v-bind:key = "'Document-'+item.id">
          <td>{{ item.industry }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.user }}</td>
          <td>   <div class="progress">
            <div v-if="item.completion>=1" class="progress-bar progress-bar-striped bg-success" role="progressbar" :title="'100%'" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            <div v-if="item.completion<1 && item.completion>0.5" class="progress-bar progress-bar-striped bg-warning" :title="item.completion*100+'%'" role="progressbar" :style="'width:' +item.completion*100+'%'" :aria-valuenow="item.completion*100" aria-valuemin="0" aria-valuemax="100"></div>
            <div v-if=" item.completion<=0.5" class="progress-bar progress-bar-striped bg-danger" role="progressbar"  :title="item.completion*100+'%'" :style="'width:' +item.completion*100+'%'" :aria-valuenow="item.completion*100" aria-valuemin="0" aria-valuemax="100"></div>
          </div></td>
          <td>{{ item.number_of_employees }}</td>
          <td>{{ item.worker }}</td>
        </tr>
        <tr v-if="!listActive.length">
          <td colspan="6" class="text-center">Nincs adat</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class = "col-6">
    <div class = "table-responsive">
      <h3 class = "col-md-12 mt-2 bg-info p-2 mb-5">Aktív - nem igényel toborzást</h3>
      <table class = "table table-bordered table-responsive">

        <tr>
          <th>Tevékenység</th>
          <th>Azonosító</th>
          <th>Felelős</th>
          <th>Állapot</th>
          <th>Létszám</th>
          <th>Dolgozik</th>
        </tr>
        <tbody>
        <tr v-for = "item in listActive2" v-bind:key = "'Document-'+item.id">
          <td>{{ item.industry }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.user }}</td>
          <td>   <div class="progress">
            <div v-if="item.completion>=1" class="progress-bar progress-bar-striped bg-success" role="progressbar" :title="'100%'" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            <div v-if="item.completion<1 && item.completion>0.5" class="progress-bar progress-bar-striped bg-warning" :title="item.completion*100+'%'" role="progressbar" :style="'width:' +item.completion*100+'%'" :aria-valuenow="item.completion*100" aria-valuemin="0" aria-valuemax="100"></div>
            <div v-if=" item.completion<=0.5" class="progress-bar progress-bar-striped bg-danger" role="progressbar"  :title="item.completion*100+'%'" :style="'width:' +item.completion*100+'%'" :aria-valuenow="item.completion*100" aria-valuemin="0" aria-valuemax="100"></div>
          </div></td>
          <td>{{ item.number_of_employees }}</td>
          <td>{{ item.worker }}</td>
        </tr>
        <tr v-if="!listActive2.length">
          <td colspan="6" class="text-center">Nincs adat</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
    <div class = "col-6">
      <div class = "table-responsive">
        <h3 class = "col-md-12 mt-2 bg-info p-2 mb-5">Inaktív</h3>
        <table class = "table table-bordered table-responsive">
          <tr>
            <th>Tevékenység</th>
            <th>Azonosító</th>
            <th>Felelős</th>
            <th>Állapot</th>
            <th>Létszám</th>
            <th>Dolgozik</th>
          </tr>
          <tbody>
          <tr v-for = "item in incative" v-bind:key = "'Document-'+item.id">
            <td>{{ item.industry }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.user }}</td>
            <td>   <div class="progress">
              <div v-if="item.completion>=1" class="progress-bar progress-bar-striped bg-success" role="progressbar" :title="'100%'" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              <div v-if="item.completion<1 && item.completion>0.5" class="progress-bar progress-bar-striped bg-warning" :title="item.completion*100+'%'" role="progressbar" :style="'width:' +item.completion*100+'%'" :aria-valuenow="item.completion*100" aria-valuemin="0" aria-valuemax="100"></div>
              <div v-if=" item.completion<=0.5" class="progress-bar progress-bar-striped bg-danger" role="progressbar"  :title="item.completion*100+'%'" :style="'width:' +item.completion*100+'%'" :aria-valuenow="item.completion*100" aria-valuemin="0" aria-valuemax="100"></div>
            </div></td>
            <td>{{ item.number_of_employees }}</td>
            <td>{{ item.worker }}</td>
          </tr>
          <tr v-if="!listActive.length">
            <td colspan="6" class="text-center">Nincs adat</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class = "col-6">
      <div class = "table-responsive">
        <h3 class = "col-md-12 mt-2 bg-info p-2 mb-5">Teljesítve</h3>
        <table class = "table table-bordered table-responsive">

          <tr>
            <th>Tevékenység</th>
            <th>Azonosító</th>
            <th>Felelős</th>
            <th>Állapot</th>
            <th>Létszám</th>
            <th>Dolgozik</th>
          </tr>
          <tbody>
          <tr v-for = "item in completed" v-bind:key = "'Document-'+item.id">
            <td>{{ item.industry }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.user }}</td>
            <td>   <div class="progress">
              <div v-if="item.completion>=1" class="progress-bar progress-bar-striped bg-success" role="progressbar" :title="'100%'" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              <div v-if="item.completion<1 && item.completion>0.5" class="progress-bar progress-bar-striped bg-warning" :title="item.completion*100+'%'" role="progressbar" :style="'width:' +item.completion*100+'%'" :aria-valuenow="item.completion*100" aria-valuemin="0" aria-valuemax="100"></div>
              <div v-if=" item.completion<=0.5" class="progress-bar progress-bar-striped bg-danger" role="progressbar"  :title="item.completion*100+'%'" :style="'width:' +item.completion*100+'%'" :aria-valuenow="item.completion*100" aria-valuemin="0" aria-valuemax="100"></div>
            </div></td>
            <td>{{ item.number_of_employees }}</td>
            <td>{{ item.worker }}</td>
          </tr>
          <tr v-if="!listActive2.length">
            <td colspan="6" class="text-center">Nincs adat</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  </div>
</template>

<script>

export default {
    name: 'ProjectList',
    props: ['company_id'],
    components: { },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/project`
        }
    },
    data () {
        return {
            listActive: [],
            listActive2: [],
            incative: [],
            completed: []
        }
    },
    methods: {
        getDocument () {
            this.axios.get(this.url + '/get-company-project/' + this.company_id).then(resp => {
                this.listActive = resp.data.active
                this.listActive2 = resp.data.active2
                this.incative = resp.data.incative
                this.completed = resp.data.completed
            })
        }

    },
    created () {
        this.getDocument()
    }
}
</script>
