<template>
    <PostDeliveryTypeForm v-if="Object.keys(model).length > 0" :url="url" :model="model"></PostDeliveryTypeForm>
</template>

<script>
import PostDeliveryTypeForm from './PostDeliveryTypeForm'
import PostDeliveryType from './PostDeliveryType'

export default {
    name: 'PostDeliveryTypeCreate',
    extends: PostDeliveryType,
    data () {
        return {
            model: {}
        }
    },
    components: { PostDeliveryTypeForm },
    beforeMount: function () {
        this.handleCreate('post-delivery-type', this.url, {})

        this.getPostDeliveryType()
    }
}
</script>
