<template>
    <div class='table-responsive'>
        <BaseDatatable v-if="loaded" :multiple-actions="multipleAction" :module="`project-question`" :apiurl="url" :list-url="`${url}/index`" :fields="fields"></BaseDatatable>
    </div>
</template>

<script>
import BaseDatatable from '../../../../../../resources/js/components/BaseDatatable'
export default {
    name: 'ProjectQuestionList',
    props: ['url'],
    components: { BaseDatatable },
    data () {
        return {
            loaded: true,
            multipleAction: {
                localStorageVariable: 'selectedProjectQuestion', // milyen local Storagebe rakja
                trackBy: 'id', // milyik oszlopot figyelje
                actions: [
                    {
                        name: this.$translate.t('Delete'),
                        trigger: 'bulkDelete'
                    }
                ]
            },
            apiurl: this.url,
            fields: [
                {
                    name: 'id',
                    sortField: 'id',
                    title: this.$translate.t('ID')
                },
                {
                    name: 'question',
                    sortField: 'question',
                    title: this.$translate.t('Kérdés')
                },
                {
                    name: 'answer_type',
                    sortField: 'answer_type',
                    title: this.$translate.t('Válasz típusa')
                },
                {
                    name: 'answer',
                    sortField: 'answer',
                    title: this.$translate.t('Válasz')
                },
                {
                    name: '__slot:actions',
                    title: this.$translate.t('Actions')
                }
            ]
        }
    }
}
</script>
