<template>
    <ProjectQuestionForm v-if="Object.keys(model).length > 0" :url="url" :model="model"></ProjectQuestionForm>
</template>

<script>
import ProjectQuestionForm from './ProjectQuestionForm'
import ProjectQuestion from './ProjectQuestion'

export default {
    name: 'ProjectQuestionCreate',
    extends: ProjectQuestion,
    data () {
        return {
            model: {}
        }
    },
    components: { ProjectQuestionForm },
    beforeMount: function () {
        this.handleCreate('project-question', this.url, {})

        this.getProjectQuestion()
    }
}
</script>
