<template>
  <div>
    <div class="alert alert-custom alert-white alert-shadow kt-portlet" role="alert">

      <h3 class="text-info">{{ $t('Project teszt kérdések') }}</h3>
    </div>
    <div class="kt-portlet">
      <div class="kt-portlet__body">
        <div class="kt-form kt-form--label-right">
          <div class="kt-form__body">
            <div class="row">
              <div class="col-md-4">
                <FormInput v-model="model.question" :title="$t('Kérdés')"></FormInput>
              </div>
              <div class="col-md-4">
                <FormSelect v-model="model.answer_type" :title="$t('Válasz típusa')" v-if="model" :options="{1:'Intevallum',2:'Felsorolás',3:'Szám',4: 'Szöveges'}"></FormSelect>
              </div>
              <div class="col-md-4">
                <FormInput v-if="model.answer_type == 1 || model.answer_type == 2" v-model="model.answer"
                           :placeholder="model.answer_type == 1? 'pl: 1...10':'alma,körte,szőlő'"
                           :title="$t('Válasz')"></FormInput>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import FormInput from '../../../../../../resources/js/components/form/FormInput'
import FormSelect from '../../../../../../resources/js/components/form/FormSelect'

export default {
    name: 'ProjectQuestionForm',
    props: {
        url: {
            required: true,
            type: String
        },
        model: {
            required: true,
            type: Object
        }
    },
    data () {
        return {}
    },
    computed: {
        languages: function () {
            const l = []
            for (const it in this.$store.state.defaultStore.languages) {
                l.push(it)
            }
            return l
        }
    },
    components: { FormInput, FormSelect },
    methods: {},
    created () {
    },
    mounted () {
    }
}
</script>
