<template>
    <div class="blog-post detail-post" >
      <div v-if="testList && !testFilled && !testSuccess">
      <h2 class="h4">Kérlek válaszolj pár kérdésre, hogy eldönthessük mennyire vagy alkalmas a munkára!</h2>

      <div v-bind:class="{'d-none': (index+1) !== step}" v-for="(item,index) in testList" v-bind:key="'step'+index" >
        <div class="question-title"><span class="badge">{{step}}</span>{{item.question.question}}</div>
        <div class="" v-if="item.question.answer_type==='3'">
          <FrontendNumberInput v-model="answer[index]" :title="'Válasz'"></FrontendNumberInput>
        </div>
        <div class="" v-if="item.question.answer_type==='4'">
          <FronendTextArea v-model="answer[index]" :title="'Válasz'"></FronendTextArea>
        </div>
        <div class="" v-if="item.question.answer_type==='2'">
          <div v-if="item.ct==='one'">
            <div v-if="item.question.answer.split(',').length<4">
              <FrontendCustumRadio v-model="answer[index]" :options="mapToRadio(item.question.answer.split(','))"></FrontendCustumRadio>
            </div>
            <div v-else>
              <FrontendSelect v-model="answer[index]" :options="mapToRadio(item.question.answer.split(','))"></FrontendSelect>
            </div>

          </div>
          <div v-if="item.ct==='many'">
            <FrontendCheckbox v-model="answer[index]" :options="mapToRadio(item.question.answer.split(','))"></FrontendCheckbox>
          </div>
        </div>
        <div class="" v-if="item.question.answer_type==='1'">
          <div v-if="item.ct==='one'">
            <div v-if="getIntervall(item.question.answer).length<4">
              <FrontendCustumRadio v-model="answer[index]" :options="mapToRadio(getIntervall(item.question.answer))"></FrontendCustumRadio>
            </div>
            <div v-else>
              <FrontendSelect v-model="answer[index]" :options="mapToRadio(getIntervall(item.question.answer))"></FrontendSelect>
            </div>

          </div>
          <div v-if="item.ct==='many'">
            <FrontendCheckbox v-model="answer[index]" :options="mapToRadio(getIntervall(item.question.answer))"></FrontendCheckbox>
          </div>
        </div>

        <button style="width:200px" class="button black size-3" v-if="step<=tests.length && step >1" @click="step--">Vissza </button>
        <button style="width:200px"  class="button  size-3"  v-if="answer[index] && step<tests.length" @click="step++">Tovább </button>
        <button style="width:200px" class="button  size-3" v-if="loggedIn && answer[index] && step===tests.length" @click="saveTests(true)">Beküldés </button>
        <button style="width:200px" class="button  size-3" v-if="!loggedIn && answer[index] && step===tests.length" @click="showPersonalData()">Tovább </button>
      </div>
      </div>
      <div v-if="!testList || testFilled">
        <h3 v-if="!haseEmail"  class="text-left">{{$t('Add meg az email címed!')}}</h3>
        <FrontendInput v-if="!haseEmail" type="email" v-model="applyModel.email" :placeholder="$t('Your email address')"></FrontendInput>
        <a v-if="!haseEmail" href="#" class="button black size-1" @click.prevent="checkEmailExists" ><span>Tovább</span></a>

        <div v-if="haseEmail">
          <FrontendInput v-if="!haseMatch" aria-autocomplete="none" v-model="applyModel.name" :placeholder="$t('Neved')"></FrontendInput>
          <FrontendMask  v-if="!haseMatch" aria-autocomplete="none" v-model="applyModel.phone" :mask="['+36(##)-###-####','+36(#)-###-####']" :placeholder="$t('Telfonszámod')"></FrontendMask>
          <FormDropZone max-files="1" acceptedFiles="application/pdf" :url="'/api/v1/upload-any-document'" aria-autocomplete="none" :title="'A gyorsabb kiválasztás érdekében tölts fel egy önéletrajzot'"  v-on:success="success2($event)" :placeholder="$t('Your email address')"></FormDropZone>
          <FrontendSingleCheckbox v-model="applyModel.aszf"  title="Az <a target='_blank' href='/storage/letoltheto-dokumentumok/ADATKEZELESI_TAJEKOZTATO_FOGLALKOZTATOTTAK_RESZERE_MADS_Cegcsoport_200914(1).pdf'>Adatkezelési Tájékoztatóban</a> foglaltakat elolvastam, megértettem, és a regisztrációmmal hozzájárulok ahhoz, hogy személyes adataimat a megjelölt célból és feltételekkel a MADS -Márton Áron Iskolaszövetkezet kezelje."></FrontendSingleCheckbox>
          <a href="#" class="button black size-1" @click.prevent="saveTests(false)" ><span>Jelentkezem</span></a>
        </div>
      </div>
      <div v-if="testList && testSuccess">
        <h2 class="h4">Köszönjük, hogy kitöltötted a kérdőívet és jelentkeztél a munkára! </h2>
        <p v-if="sentResend" style="font-size: 16px">Az email címedre elküldtük a jelszó beállításához szükséges lépésket!</p>
        <p style="font-size: 16px">Az eredményed {{percent}}%</p>
        <p style="font-size: 16px" class="pt-2 text-success" v-if="percent>40">Ezek alapján megfelelsz a munkára!</p>
        <p style="font-size: 16px" class="pt-2 text-danger" v-else>
          <span v-if="failed" class="">{{failedText}}</span> <br/>
          Ezek alapján sajnos nem felelsz meg a munkára!
        </p>
      </div>
      <div v-if="!testList && testSuccess">
        <h2 class="h4">Köszönjük, hogy jelentkeztél a munkára! </h2>
        <p v-if="sentResend" style="font-size: 16px">Az email címedre elküldtük a jelszó beállításához szükséges lépésket!</p>
      </div>
      </div>
</template>

<script>
import FrontendNumberInput from '../../../../../../../resources/js/frontend/components/form/FrontendNumberInput.vue'
import FronendTextArea from '../../../../../../../resources/js/frontend/components/form/FronendTextArea.vue'
import FrontendCheckbox from '../../../../../../../resources/js/frontend/components/form/FrontendCheckbox.vue'
import FrontendCustumRadio from '../../../../../../../resources/js/frontend/components/form/FrontendCustumRadio.vue'
import FrontendSelect from '../../../../../../../resources/js/frontend/components/form/FrontendSelect.vue'
import FrontendSingleCheckbox from '../../../../../../../resources/js/frontend/components/form/FrontendSingleCheckbox.vue'
import FrontendMask from '../../../../../../../resources/js/frontend/components/form/FrontendMask.vue'
import FrontendInput from '../../../../../../../resources/js/frontend/components/form/FrontendInput.vue'
import FormDropZone from '../../../../../../../resources/js/components/form/FormDropZone.vue'
export default {
    name: 'TestForm',
    props: ['student_id', 'project_id', 'json', 'loggedIn', 'work_id'],
    components: { FormDropZone, FrontendInput, FrontendMask, FrontendSingleCheckbox, FrontendNumberInput, FronendTextArea, FrontendCheckbox, FrontendCustumRadio, FrontendSelect },
    data () {
        return {
            step: 1,
            answer: [],
            testSuccess: false,
            testFilled: false,
            failed: false,
            haseEmail: false,
            failedText: '',
            percent: 0,
            testList: null,
            haseMatch: false,
            hideApply: false,
            sentResend: false,
            hasTest: false,
            testData: null,
            applyModel: {
                name: null,
                student_id: null,
                work_id: null,
                email: null,
                phone: null,
                aszf: false,
                comment: null,
                file: null,
                tests: null
            }
        }
    },
    mounted () {
        if (this.json) {
            this.json.forEach((item, index) => {
                if (item.ct === 'many') {
                    this.answer[index] = {}
                } else {
                    this.answer[index] = null
                }
            })
            this.testList = this.json
            console.log(this.answer)
            console.log('mount')
        }
    },
    computed: {
        tests: function () {
            return this.json
        },
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/student`
        }
    },
    watch: {
        json: {
            handler: function (val, oldVal) {
                console.log(val)
                const self = this
                val.forEach((item, index) => {
                    if (item.ct === 'many') {
                        self.answer[index] = {}
                    } else {
                        self.answer[index] = null
                    }
                })
                this.testList = val
            }
        }
    },
    methods: {
        getIntervall (intreval) {
            const res = []
            for (let i = intreval.split('...')[0]; i < intreval.split('...')[1]; i++) {
                res.push(i)
            }
            return res
        },
        showPersonalData () {
            this.testFilled = true
        },
        mapToRadio (arr) {
            const t = {}
            arr.forEach(item => {
                t[item] = item
            })
            return t
        },
        checkEmailExists () {
            this.axios.get(`${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/` + 'check-email/' + this.applyModel.email).then((res) => {
                this.haseEmail = true
                if (res.data.data.student_id) {
                    this.haseMatch = true
                }
                this.applyModel.student_id = res.data.data.student_id
                this.applyModel.name = res.data.data.name
                this.applyModel.phone = res.data.data.phone
            })
        },
        saveTests (auth = false) {
            let submit = null
            console.log(this.tests)
            if (this.tests && Object.keys(this.tests).length) {
                submit = {
                    student_id: this.student_id,
                    project_id: this.project_id,
                    work_id: this.work_id,
                    answers: [],
                    percent: null,
                    failed: false,
                    failedText: false
                }
                let ct = 0
                let minus = 0
                this.tests.forEach((item, index) => {
                    const ans = {
                        question: item.question.question,
                        correct_answer: item.correct_answer,
                        answer: this.answer[index]
                    }
                    submit.answers.push(ans)
                    if (item.question.answer_type === '1' || item.question.answer_type === '2') {
                        if (item.ct === 'one') {
                            if (this.answer[index] === item.correct_answer) {
                                ct++
                            } else {
                                if (item.required === true) {
                                    submit.failed = true
                                    submit.failedText = item.question.question + ' kérdésre hibásan válaszoltál. Ez kötelező a munkához!'
                                }
                            }
                        }
                        if (item.ct === 'many') {
                            let sub = 0
                            item.correct_answer.forEach((i, ii) => {
                                if (this.answer[index][i]) {
                                    console.log('checked')
                                    sub++
                                }
                            })
                            ct += (sub / item.correct_answer.length)
                            if (item.required === true && sub === 0) {
                                submit.failed = true
                                submit.failedText = item.question.question + ' kérdésre hibásan válaszoltál. Ez kötelező a munkához!'
                            }
                        }
                    }
                    if (item.question.answer_type === '3') {
                        if (item.condition === 'less') {
                            if (this.answer[index] < item.correct_answer) {
                                ct++
                            }
                            if (item.required === true) {
                                submit.failed = true
                                submit.failedText = item.question.question + ' kérdésre hibásan válaszoltál. Ez kötelező a munkához!'
                            }
                        }
                        if (item.condition === 'equal') {
                            if (this.answer[index] === item.correct_answer) {
                                ct++
                            }
                            if (item.required === true) {
                                submit.failed = true
                                submit.failedText = item.question.question + ' kérdésre hibásan válaszoltál. Ez kötelező a munkához!'
                            }
                        }
                        if (item.condition === 'greater') {
                            if (this.answer[index] > item.correct_answer) {
                                ct++
                            }
                            if (item.required === true) {
                                submit.failed = true
                                submit.failedText = item.question.question + ' kérdésre hibásan válaszoltál. Ez kötelező a munkához!'
                            }
                        }
                    }
                    if (item.question.answer_type === '4') {
                        minus--
                    }
                })
                submit.percent = ct / (this.testList.length + minus)
                if (submit.failed) {
                    submit.percent = 0
                    this.failedText = submit.failedText
                    this.failed = true
                }
                this.percent = parseInt(submit.percent * 100, 0)
            }
            if (auth) {
                console.log(submit)
                const uri = '/save-apply-test'
                this.axios.post(this.url + uri, submit).then((response) => {
                    this.testSuccess = true
                    this.$router.push('./sikeres-regisztacio')
                    setTimeout(() => {
                        window.$('#applyModal' + self.id).modal('hide')
                    }, 3000)
                })
            } else {
                this.applyModel.work_id = this.work_id
                this.applyModel.tests = submit
                this.axios.post(`${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/` + 'work-apply', this.applyModel).then((res) => {
                    this.applyModel = {}
                    this.$router.push('./sikeres-regisztacio')
                    this.sentResend = res.data.sentEmail
                    this.hideApply = true
                    this.testSuccess = true
                    const self = this
                    setTimeout(() => {
                        window.$('#applyModal' + self.id).modal('hide')
                    }, 3000)
                })
            }
        }
    }
}
</script>

<style scoped>
.question-title{
    font-size: 18px;
    text-align: center;
    margin-top: 10px;

    margin-bottom: 20px;
    border-bottom: dashed 3px #f39c12;
    width: 100%;
    padding-bottom: 5px;
}
</style>
