<template>
  <div class = "modal fade" id="tests" tabindex = "-1" role = "document" aria-labelledby = "exampleModalLabel" aria-hidden = "true">
    <div class = "modal-dialog">
      <div class = "modal-content">
        <div class="widget-entry">
          <div class="widget-title p-3"> <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button></div>
          <div class="row page-tagline  p-3" v-if="json">
            <div class="col-md-12 col-md-offset-3 wow flipInX animated" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: flipInX;">
              <h2 class="title">{{$t('Jelentkezés')}}</h2>
              <TestForm :project_id="project_id" :student_id="student_id" :json="json"></TestForm>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import TestForm from './TestForm.vue'
export default {
    name: 'Test',
    components: { TestForm },
    data () {
        return {
            student_id: null,
            project_id: null,
            json: null,
            step: 1,
            answer: []
        }
    },
    mounted () {
        this.axios.get(this.url + '13/23423').then((response) => {
            this.student_id = response.data.student_id
            this.project_id = response.data.project_id
            this.json = response.data.tests
        })
        window.$('#tests').modal('show')
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/student/get-test/`
        }
    },
    methods: {}
}
</script>

<style scoped>
.question-title{
    font-size: 18px;
    text-align: center;
    margin-top: 10px;

    margin-bottom: 20px;
    border-bottom: dashed 3px #f39c12;
    width: 100%;
    padding-bottom: 5px;
}
</style>
