<template>
    <div class="related-posts" v-if="works.length">
        <hr/>
        <h2 class="h2 titel-left mt-5" >Hasonló munkáink</h2>
        <div  class="row"  id="swiper-unique-id-1">
            <div class="col-md-6"  v-for="w in works" v-bind:key="'related-'+w.id">
            <div class="blog-post">
                <router-link :to="'/munkak'+w.category_slug+w.slug" class="thumbnail-entry"><img :src="w.image" alt=""></router-link>
                <div class="data">
                    <div class="text">
                        <router-link class="title" :to="'/munkak'+w.category_slug+w.slug">{{w.name}}</router-link>
                        <div class="description">{{w.lead}}</div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'WorkRelated',
    props: ['work'],
    data () {
        return {
            works: []
        }
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/`
        }
    },
    methods: {
        getRelatedWork () {
            this.axios.get(this.url + 'related-work/' + this.work.id + '/' + this.work.work_category_id).then(resp => {
                this.works = resp.data.data
            })
        }
    },
    created () {
        this.getRelatedWork()
    }
}
</script>

<style scoped>

</style>
