<template>
    <div class="widget-entry">
        <h3  class="widget-title">Ráérés</h3>
      <div v-if="!isLoggedIn" class="text-center">
        <a href="#" class="button black  size-2" data-toggle="modal" title="Belépés" data-target="#loginModal" ><span>Lépj be és add meg a ráérésed</span></a><br>
      </div>
          <button v-if="isLoggedIn" type="button" class="button  size-2" data-toggle="modal" data-target="#newRealization">
              <span>Ráérés rögzítése</span>
          </button>
    </div>
</template>

<script>
import FrontendInput from '../../../../../../../resources/js/frontend/components/form/FrontendInput'
import FronendTextArea from '../../../../../../../resources/js/frontend/components/form/FronendTextArea'
import FrontendMask from '../../../../../../../resources/js/frontend/components/form/FrontendMask'
import FrontendSingleCheckbox from '../../../../../../../resources/js/frontend/components/form/FrontendSingleCheckbox'
export default {
    name: 'WorkRealization',
    components: { FronendTextArea, FrontendInput, FrontendMask, FrontendSingleCheckbox },
    data () {
        return {
            hideApply: false,
            applyModel: {
                name: null,
                work_id: null,
                email: null,
                phone: null,
                aszf: false,
                comment: null,
                file: null
            }
        }
    },
    computed: {
        isLoggedIn: function () {
            return this.$store.state.defaultStore.studentLoggedIn
        }
    },
    methods: {
    }

}
</script>

<style scoped>

</style>
