<template>
    <div class="widget-entry" v-if="categories && Object.keys(categories).length">
        <h3 class="widget-title">Munkakategóriák</h3>
        <div class="categories-wrapper" v-if="!head">
            <a  href="#" class="entry" v-for="(category,index) in categories" v-bind:key="'wcat-'+index+'-'+category.slug" :to="'/munkak/'+category.slug" v-on:click.prevent="selectHeadCategory(category)">
                <span v-on:click="selectHeadCategory(category)" aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span>{{category.name}}<span class="number">({{category.cnt}})</span>
            </a>
        </div>
        <div class="categories-wrapper" v-if="head">
            <a href="#" @click.prevent="back()"  class="entry" >
                Vissza
            </a>
            <a href="#"  class="entry"  v-on:click.prevent="selectSubCategory(category)" v-for="category in head.children" v-bind:key="'wcat'+category.slug">
                <span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span>{{category.name}}<span class="number">({{category.cnt}})</span>
            </a>
        </div>
    </div>
</template>

<script>
export default {
    name: 'WorkCategories',
    data () {
        return {
            categories: [],
            head: null,
            sub: null
        }
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/`
        }
    },
    watch: {
        $route: {
            handler: function (val, oldVal) {
                if (val.params.cat !== oldVal.params.cat || val.params.subCat !== oldVal.params.subCat || val.params.slug !== oldVal.params.slug) {
                    this.detectCategory(val.params.cat, val.params.subCat)
                }
            }
        },
        deep: true

    },
    methods: {
        getWorkCategoriesWithNumber () {
            this.axios.get(this.url + 'work-categories-with-number').then(resp => {
                this.categories = resp.data
                this.detectCategory(this.$route.params.cat, this.$route.params.subCat)
            })
        },
        all () {
            this.sub = null
            this.head = null
            this.$emit('changeCategory', { cat: this.head, sub: this.sub })
            this.$router.push({ name: 'WorkTemplate', params: { } })
        },
        back () {
            this.sub = null
            this.head = null
            this.$emit('changeCategory', { cat: this.head, sub: this.sub })
            this.$router.push({ name: 'WorkTemplate' })
        },
        selectHeadCategory (category) {
            this.head = category
            this.$emit('changeCategory', { cat: this.head, sub: this.sub })
            this.$router.push({ name: 'WorkTemplate', params: { cat: category.slug } })
        },
        selectSubCategory (subCategory) {
            this.sub = subCategory
            this.$emit('changeCategory', { cat: this.head, sub: this.sub })
            this.$router.push({ name: 'WorkTemplate', params: { cat: this.head.slug, subCat: this.sub.slug } })
        },
        detectCategory (cat, subcat) {
            if (!this.head || cat !== this.head.slug) {
                if (!cat) {
                    this.head = null
                }
                Object.keys(this.categories).forEach(key => {
                    const act = this.categories[key]
                    if (act.slug === cat) {
                        this.head = act
                    }
                })
                if (!this.sub || (this.head && subcat !== this.sub.slug)) {
                    if (!subcat) {
                        this.sub = null
                    }
                    if (this.head && this.head.children) {
                        Object.keys(this.head.children).forEach(key2 => {
                            const actSub = this.head.children[key2]
                            if (actSub.slug === subcat) {
                                this.sub = actSub
                            }
                        })
                    }
                }

                this.$emit('changeCategory', { cat: this.head, sub: this.sub })
            }
        }
    },
    mounted () {
        this.getWorkCategoriesWithNumber()
    }
}
</script>

<style scoped>

</style>
