<template>
    <div class="blog-post detail-post">

        <div class="data">
            <div class="text">
                <h1 class="title">{{work.name}}</h1>
                <div class="thumbnail-entry">
                    <div class="swiper-container horizontal-pagination swiper-swiper-unique-id-0 initialized" id="swiper-unique-id-0">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide swiper-slide-visible swiper-slide-active">
                                <img :src="work.image" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="blog-detail-article work-view">
                    <p>{{work.description}}</p>
                    <h3 v-if="work.task">Feladat:</h3>
                    <div class="row" v-if="work.task">
                        <div class="col-sm-12" v-html="work.task"></div>
                    </div>
                    <h3 v-if="work.condition">Feltétel:</h3>
                    <div v-if="work.condition" class="row">
                        <div class="col-sm-12" v-html="work.condition"></div>
                    </div>
                  <h3 v-if="work.preference">Előny:</h3>
                  <div v-if="work.preference" class="row">
                    <div class="col-sm-12" v-html="work.preference"></div>
                  </div>
                  <h3 v-if="work.company_description">Cég bemutatása:</h3>
                  <div v-if="work.company_description" class="row">
                    <div class="col-sm-12" v-html="work.company_description"></div>
                  </div>
                  <h3 v-if="work.interview_date">Interjú időpontja:</h3>
                  <div v-if="work.interview_date" class="row">
                    <div class="col-sm-12" v-html="work.interview_date"></div>
                  </div>
                    <h3 v-if="work.start">Kezdés:</h3>
                    <div v-if="work.start" class="row">
                        <div class="col-sm-12" v-html="work.start"></div>
                    </div>
                    <h3 v-if="work.work_time">Munkaidő:</h3>
                    <div v-if="work.work_time" class="row">
                        <div class="col-sm-12" v-html="work.work_time"></div>
                    </div>
                    <h3 v-if="work.work_duration">Munka időtartama:</h3>
                    <div v-if="work.work_duration" class="row">
                        <div class="col-sm-12" v-html="work.work_duration"></div>
                    </div>
                    <h3 v-if="work.gross">Bruttó bér:</h3>
                    <div v-if="work.gross && !work.gross_text" class="row">
                        <div class="col-sm-12 mt-2 text-right">
                          <span v-if="work.gross_type ==2">Órabér:</span>
                          <span v-if="work.gross_type ==1">Fix:</span>
                          <Price class="text-danger font-weight-bold d-inline font-italic h3" :value="work.gross"></Price>
                        </div>
                    </div>
                  <div v-if="work.gross && work.gross_text" class="row">
                    <div class="col-sm-12 mt-2 text-right">
                      <span class="text-danger font-weight-bold d-inline font-italic h3">{{ work.gross_text}}</span>
                    </div>
                  </div>
                    <h3 v-if="work.work_location || work.city_id">Munkavégzés helye:</h3>
                    <div v-if="work.selectables && work.selectables.cities && work.selectables.cities[work.city_id]" class="row">
                      <div class="col-sm-12" v-html="work.selectables.cities[work.city_id]"></div>
                    </div>
                    <div v-if="work.work_location" class="row">
                        <div class="col-sm-12" v-html="work.work_location"></div>
                    </div>
                    <h3 v-if="work.comment">Megjegyzés:</h3>
                    <div class="row" v-if="work.comment">
                        <div class="col-sm-12" v-html="work.comment"></div>
                    </div>
                    <div class="thumbnail-entry">
                        <blockquote>
                            <h3>Projektmenedzser:</h3>
                            <div class="row mb-2" >
                                <div class="col-sm-12" v-html="work.user.name"></div>
                                <div class="col-sm-12" v-if="work.user.phone"> <a :href="'tel:'+work.user.phone">{{work.user.phone}}</a> </div>
                                <div class="col-sm-12" v-if="work.user.email"> <a :href="'mailto:'+work.user.email">{{work.user.email}}</a> </div>
                            </div>
                            <h3>Jelentkezés:</h3>
                            <div class="row">
                                <div class="col-sm-12" v-html="work.apply"></div>
                            </div>
                        </blockquote>
                    </div>
                    <div class="row">
                    <div class="col-md-6">
                  <WorkApply :work="work"></WorkApply>
                    </div>
                    <div class="col-md-6">
                        <WorkRealization></WorkRealization>
                    </div>
                    </div>
                </div>
             <!--   <div class="row">
                    <div class="col-sm-12">
                            <Share :title="work.name" :description="work.description"></Share>
                    </div>
                </div>
-->
            </div>
            <div class="clear"></div>
        </div>
        <WorkRelated :work="work"></WorkRelated>
    </div>
</template>

<script>
import Share from '../Share'
import WorkRelated from './WorkRelated'
import Price from '../../../../../../../resources/js/components/Price'
import WorkApply from './WorkApply'
import WorkRealization from './WorkRalization.vue'
export default {
    name: 'WorkItem',
    components: { WorkRealization, WorkApply, WorkRelated, Share, Price },
    props: ['work']
}
</script>

<style scoped>
.work-view blockquote .row div{
  text-transform: none !important;
  padding-left: 30px;
  font-size: 1.1rem !important;
}
.work-view blockquote{
  padding-top: 20px !important;
}
  .work-view .row div {
    font-size: 1.0rem !important;
  }
  .work-view h3 {
    /* font-style: italic; */
    margin-top: 30px !important;
    font-weight: 600;
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
    line-height: 18px !important;
  }
#work-list .blog-post.detail-post{
  border-left: 2px solid #f2f2f2;
  padding-left:30px;
}

</style>
