<template>
    <div class="widget-entry" v-if="works.length">
        <h3 class="widget-title">Kiemelt munkáink</h3>
        <div class="popular-post-entry" v-for="w in works" v-bind:key="'kiemelt-'+w.id">
            <router-link :to="'/munkak'+w.category_slug+w.slug" class="popular-thumbnail" ><img :src="w.image" alt=""></router-link>
            <div class="content">
                <div class="date">{{w.updated_at}}</div>
                <router-link :to="'/munkak'+w.category_slug+w.slug" class="title">{{w.name}}</router-link>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'WorkHighlighted',
    data () {
        return {
            works: []
        }
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/`
        }
    },
    methods: {
        getHighlightedWork () {
            this.axios.get(this.url + 'highlighted-work').then(resp => {
                this.works = resp.data.data
            })
        }
    },
    mounted () {
        this.getHighlightedWork()
    }
}
</script>

<style scoped>

</style>
