<template>
    <div class="widget-entry">
      <h3  v-if="!work.archive && !work.is_full" class="widget-title">Jelentkezés</h3>
      <h3  v-if="work.archive || work.is_full" class="widget-title text-center text-danger">A munka jelenleg nem elérhető</h3>
      <template v-if="!work.archive && !work.is_full">
      <div v-if="sentResend" class="text-center alert alert-success m-3">A megadott email címre küldtünk egy emailt, ahol megadhatod a jelszavad!</div>
      <div v-if="!isLoggedIn || (isLoggedIn && hasTest)" class="text-center">

        <a href="#" class="button black size-1"   data-toggle="modal" title="Jelentkezés" :data-target="'#applyModal'+id"><span>Jelentkezem </span></a>
        <div class = "modal fade" :id="'applyModal'+id" tabindex = "-1" role = "document" aria-labelledby = "exampleModalLabel" aria-hidden = "true">
          <div class = "modal-dialog">
            <div class = "modal-content">
              <div class="widget-entry">
                <div class="widget-title p-3"> <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button></div>
                <div class="row page-tagline  p-3">
                  <div class="col-md-12 col-md-offset-3 wow flipInX animated" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: flipInX;">
                    <h2 class="title">{{$t('Jelentkezés')}}</h2>
                    <TestForm v-if="testData" :project_id="testData.project_id" :work_id="work.id" :student_id="testData.student_id" :json="testData.json" :loggedIn="isLoggedIn"></TestForm>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
          <div v-if="isLoggedIn && !hasTest">
            <div v-if="hideApply" class="text-center alert alert-success m-3">Sikeres jelentkezés</div>
            <a v-else href="#" class="button black size-2" @click.prevent="applyAuth" ><span>Jelentkezem</span></a></div>
        </template>
    </div>
</template>

<script>
import FrontendInput from '../../../../../../../resources/js/frontend/components/form/FrontendInput'
import FronendTextArea from '../../../../../../../resources/js/frontend/components/form/FronendTextArea'
import FrontendMask from '../../../../../../../resources/js/frontend/components/form/FrontendMask'
import FormDropZone from '../../../../../../../resources/js/components/form/FormDropZone'
import FrontendSingleCheckbox from '../../../../../../../resources/js/frontend/components/form/FrontendSingleCheckbox'
import TestForm from './TestForm.vue'

export default {
    name: 'WorkApply',
    props: ['work'],
    components: { FormDropZone, FronendTextArea, FrontendInput, FrontendMask, FrontendSingleCheckbox, TestForm },
    data () {
        return {
            haseEmail: false,
            id: Math.round(Math.random() * 10000 + 1),
            haseMatch: false,
            hideApply: false,
            sentResend: false,
            hasTest: false,
            testData: { project_id: null, student_id: null },
            applyModel: {
                name: null,
                student_id: null,
                work_id: null,
                email: null,
                phone: null,
                aszf: false,
                comment: null,
                file: null
            }
        }
    },
    computed: {
        isLoggedIn: function () {
            return this.$store.state.defaultStore.studentLoggedIn
        }
    },
    mounted () {
        this.axios.get(`${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/` + 'get-test/' + this.work.id).then((res) => {
            this.testData = res.data.tests
            this.hasTest = res.data.hasTest
            console.log(this.testData)
        })
    },
    methods: {
        applyAuth () {
            if (!this.hasTest) {
                this.axios.post(`${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/` + 'student/work-apply/' + this.work.id).then(() => {
                    this.hideApply = true
                    this.sentResend = false
                    const self = this
                    this.$router.push('./sikeres-regisztacio')
                    setTimeout(() => {
                        self.hideApply = false
                    }, 3000)
                })
            }
        },
        success2 ($event) {
            console.log('success')
            this.applyModel.file = $event
        },
        apply () {
            this.applyModel.work_id = this.work.id
            const formData = new FormData()
            if (this.applyModel.file) {
                formData.append('file', this.applyModel.file)
            }
            formData.append('name', this.applyModel.name)
            formData.append('email', this.applyModel.email)
            formData.append('phone', this.applyModel.phone)
            formData.append('comment', this.applyModel.comment)
            formData.append('aszf', this.applyModel.aszf)
            formData.append('work_id', this.applyModel.work_id)
            formData.append('student_id', this.applyModel.student_id)
            this.axios.post(`${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/` + 'work-apply', formData, {
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
            }).then((res) => {
                this.applyModel = {}
                this.sentResend = res.data.sentEmail
                this.hideApply = true
                this.haseEmail = false
                this.haseMatch = false
                this.hasTest = true
                this.testData = res.data.tests
                const self = this
                setTimeout(() => {
                    if (res.data.hasTest) {
                        self.sentResend = false
                    } else {
                        window.$('#applyModal' + self.id).modal('hide')
                        self.sentResend = false
                        self.hideApply = false
                    }
                }, 3000)
            })
        }
    }

}
</script>

<style scoped>

</style>
