<template>
    <div class="container blog-container">
        <div class="new-block">
            <Breadgrump :links="links"></Breadgrump>
            <div class="row">
                <div class="col-md-4 col-sm-push blog-content-column ">
                    <WorkApply v-if="work" :work="work"></WorkApply>
                    <WorkCategories class="d-none d-sm-block" v-on:changeCategory = "setList($event)"></WorkCategories>
                    <WorkHighlighted class="d-none d-sm-block"></WorkHighlighted>
                    <WorkLastUpdated class="d-none d-sm-block"></WorkLastUpdated>

                </div>
                <div class="col-md-8 blog-content-column col-sm-pull" id = "work-list">
                    <div class="blog-post " v-if="list">
                        <template v-for = "(workItem,key) in list">
                                <WorkList v-if="!work" :workItem="workItem" :index="key" v-bind:key = "'work-'+workItem.id+'-'+key"></WorkList>
                        </template>
                    </div>

                    <WorkItem v-if="work" :work="work"></WorkItem>
                    <WorkCategories v-if="work" class="d-block d-sm-none" v-on:changeCategory = "setList($event)"></WorkCategories>
                    <WorkHighlighted v-if="work" class="d-block d-sm-none"></WorkHighlighted>
                    <WorkLastUpdated v-if="work" class="d-block d-sm-none"></WorkLastUpdated>
                </div>
                <InfinityScroll class="col-md-12"
                                v-if = "!work && postData.meta && postData.meta.last_page > postData.meta.current_page"
                                :infinityLoading = "infinityLoading" :HTMLElement = "'work-list'"
                                v-on:loadMore = "getData(currentPage++)"
                ></InfinityScroll>
            </div>
        </div>
    </div>
</template>

<script>
import WorkList from './WorkList'
import WorkItem from './WorkItem'

import WorkHighlighted from './WorkHighlighted'
import WorkLastUpdated from './WorkLastUpdated'
import WorkApply from './WorkApply'
import WorkCategories from './WorkCategories'
import InfinityScroll from '../InfinityScroll'
import LoadingSvg from '../LoadingSvg'
import Breadgrump from '../Breadgrump'
export default {
    name: 'WorkTemplate',
    data () {
        return {
            work: null,
            postData: [],
            infinityLoading: false,
            currentPage: 1,
            list: [],
            type: '',
            search: '',
            links: [
                {
                    name: 'Munkáink',
                    link: '/munkak'
                }
            ]
        }
    },
    components: { Breadgrump, LoadingSvg, InfinityScroll, WorkCategories, WorkApply, WorkLastUpdated, WorkHighlighted, WorkItem, WorkList },
    watch: {
        $route: {
            handler: function (val, oldVal) {
                if (val.params.cat !== oldVal.params.cat || val.params.subCat !== oldVal.params.subCat || val.params.slug !== oldVal.params.slug) {
                    if (val.params.slug && val.params.slug.length) {
                        this.getWorkBySlug()
                    } else {
                        this.list = []
                        this.currentPage = 1
                        this.getData()
                    }
                }
                if (val.path === '/munkak' && val.query !== oldVal.query) {
                    this.list = []
                    this.currentPage = 1
                    this.getData(1)
                }
            },
            deep: true
        }
    },
    methods: {
        getWorkBySlug () {
            const slug = '/api/v1/work/' + this.$route.params.cat + '/' + this.$route.params.subCat + '/' + this.$route.params.slug
            this.axios.get(`${slug}`).then(response => {
                this.work = response.data.data
            }).catch(() => {
                self.$router.push({ name: 'NotFound' })
            })
        },
        searchEvent () {
            clearTimeout(this.searchTimeout)
            this.searchTimeout = null
            this.currentPage = 1
            const self = this

            this.searchTimeout = setTimeout(() => {
                this.list = []
                self.getData()
            }, 400)
        },
        getData (page = null) {
            this.infinityLoading = true
            this.work = null
            const self = this
            let slug = '/api/v1/work-list'
            if (this.$route.params.cat) {
                slug += '/' + this.$route.params.cat
            }
            if (this.$route.params.subCat) {
                slug += '/' + this.$route.params.subCat
            }
            if (this.$route.query.page) {
                this.currentPage = this.$route.query.page
            }
            if (!page) {
                slug += `?page=${this.currentPage}`
                this.currentPage++
            } else {
                slug += `?page=${page}`
            }
            if (this.$route.query.search) {
                slug += '&search=' + this.$route.query.search
            }
            if (this.$route.query.category_id) {
                slug += '&category_id=' + this.$route.query.category_id
            }
            if (this.$route.query.city_id) {
                slug += '&city_id=' + this.$route.query.city_id
            } if (this.$route.query.type) {
                slug += '&type=' + this.$route.query.type
            }
            if (this.$route.query.gross) {
                slug += '&gross=' + this.$route.query.gross
            }
            this.axios.get(`${slug}`).then(response => {
                self.infinityLoading = false
                self.postData = response.data
                self.postData.data.forEach(item => {
                    this.list.push(item)
                })
            }).catch(() => {
                //  self.$router.push({ name: 'NotFound' })
            })
        },
        setList (data) {
            console.log(data)
            this.links = [
                {
                    name: 'Munkáink',
                    link: '/munkak'
                }
            ]
            if (data.cat) {
                this.links.push({
                    name: data.cat.name,
                    link: (data.sub) ? '/munkak/' + data.cat.slug : null
                })
            }
            if (data.sub) {
                this.links.push({
                    name: data.sub.name,
                    link: null
                })
            }
        }
    },
    mounted () {
        const self = this
        this.$eventHub.$on('filterWork', function () {
            self.list = []
            self.currentPage = 1
            self.getData(1)
        })
        if (this.$route.params.slug && this.$route.params.slug.length) {
            this.getWorkBySlug()
        } else {
            this.infinityLoading = true
            this.currentPage = 1
            this.getData()
        }
    }
}
</script>

<style scoped>

</style>
