<template>
    <div class="widget-entry" v-if="works.length">
        <h3 class="widget-title">Legújabb munkáink</h3>
        <div class="latest-comment-entry" v-for="w in works" v-bind:key="'last-'+w.id">
            <div class="date"><span aria-hidden="true" class="glyphicon glyphicon-time"></span>{{w.updated_at}}</div>
            <div class="title">  <router-link :to="'/munkak'+w.category_slug+w.slug" class="post-title">{{w.name}}</router-link></div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'WorkLastUpdated',
    data () {
        return {
            works: []
        }
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/`
        }
    },
    methods: {
        getHighlightedWork () {
            this.axios.get(this.url + 'last-work').then(resp => {
                this.works = resp.data.data
            })
        }
    },
    mounted () {
        this.getHighlightedWork()
    }
}
</script>

<style scoped>

</style>
