<template>
    <u-animate-container>
    <u-animate
               :name="(index%2===0)?'bounceInLeft':'bounceInRight'"
               delay="0s"
               duration="1s"
               :iteration="1"
               :offset="0"
               animateClass="animated"
               :begin="false"
               class="row work">
             <div class="col-md-4" v-bind:class="{'order-md-12':index%2 ==0}">
                <router-link :to="'/munkak'+workItem.category+'/'+workItem.slug" class="thumbnail-entry"><img :src="workItem.image" alt=""></router-link>
                <div class="clear"></div>
            </div>
            <div class="col-md-8" v-bind:class="{'order-md-1':index%2 ==0}">
                <div class="data">
                    <div class="text">
                        <router-link :to="'/munkak'+workItem.category+'/'+workItem.slug" class="title" >{{workItem.name}}</router-link>
                        <div class="description">{{workItem.lead}}</div>
                        <router-link :to="'/munkak'+workItem.category+'/'+workItem.slug" class="button size-2"><span>Részletek</span></router-link>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
    </u-animate>
    </u-animate-container>
</template>

<script>
import { UAnimateContainer, UAnimate } from 'vue-wow'
export default {
    name: 'WorkList',
    components: {
        UAnimateContainer,
        UAnimate
    },
    props: ['workItem', 'index']
}
</script>

<style scoped>

</style>
