<template>
    <div>
        <div class="row">
            <div class="col-12">
                <importModal :saveLink="'/api/v1/payroll/import'"></importModal>
            </div>
        </div>
      <div class="table-responsive">
        <BaseDatatable v-if="loaded" :multiple-actions="multipleAction" :module="`payroll`" :apiurl="url" :list-url="`${url}/index`" :fields="fields"></BaseDatatable>
      </div>
    </div>
</template>

<script>
import BaseDatatable from '../../../../../../resources/js/components/BaseDatatable'
import importModal from '../../../../../../resources/js/admin/components/importModal'
export default {
    name: 'PayrollList',
    props: ['url'],
    components: { BaseDatatable, importModal },
    data () {
        return {
            loaded: true,
            multipleAction: {
                localStorageVariable: 'selectedPayroll', // milyen local Storagebe rakja
                trackBy: 'id', // milyik oszlopot figyelje
                actions: [
                    {
                        name: this.$translate.t('Delete'),
                        trigger: 'bulkDelete'
                    }
                ]
            },
            apiurl: this.url,
            fields: [
                {
                    name: 'name',
                    sortField: 'name',
                    title: this.$translate.t('Név')
                },
                {
                    name: 'tax',
                    sortField: 'tax',
                    title: this.$translate.t('Adószám')
                },
                {
                    name: 'month',
                    sortField: 'month',
                    title: this.$translate.t('Hónap')
                },
                {
                    name: 'gross',
                    sortField: 'gross',
                    title: this.$translate.t('Bruttó')
                },
                {
                    name: 'szja',
                    sortField: 'szja',
                    title: this.$translate.t('SZJA')
                },
                {
                    name: 'deduction',
                    sortField: 'deduction',
                    title: this.$translate.t('Levonás')
                },
                {
                    name: 'part_ticket',
                    sortField: 'part_ticket',
                    title: this.$translate.t('Részjegy')
                },
                {
                    name: 'monthly',
                    sortField: 'monthly',
                    title: this.$translate.t('Hóközi kifizetés')
                },
                {
                    name: 'net',
                    sortField: 'net',
                    title: this.$translate.t('Nettó')
                },
                {
                    name: 'payable',
                    sortField: 'payable',
                    title: this.$translate.t('Fizetendő')
                }
                /*  {
                    name: '__slot:actions',
                    title: this.$translate.t('Actions')
                } */
            ]
        }
    }
}
</script>
