<template>
    <div>
        <router-view :url="url"></router-view>
    </div>
</template>

<script>
export default {
    name: 'Payroll',
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/payroll`
        }
    },
    watch: {
        model: {
            handler: function (val, oldVal) {
                if (val !== oldVal) {
                    this.$store.commit('defaultStore/setModel', val)
                }
            },
            deep: true
        },
        '$store.state.defaultStore.model': {
            handler: function (val, oldVal) {
                if (val !== oldVal) {
                    this.model = val
                }
            },
            deep: true
        }
    },
    methods: {
        getPayroll () {
            let id = 0
            if (this.$route.params.id) {
                id = this.$route.params.id
            }

            this.axios.get(this.url + '/show/' + id).then((response) => {
                this.model = response.data.data
            })
        }
    }
}
</script>
