<template>
    <PayrollForm v-if="Object.keys(model).length > 0" :url="url" :model="model"></PayrollForm>
</template>

<script>
import PayrollForm from './PayrollForm'
import Payroll from './Payroll'

export default {
    name: 'PayrollEdit',
    extends: Payroll,
    data () {
        return {
            model: {}
        }
    },
    components: { PayrollForm },
    beforeMount: function () {
        this.handleUpdate('payroll', this.url, {})

        this.getPayroll()
    }
}
</script>
