<template>
    <div class="kt-portlet">
        <div class="kt-portlet__body">
            <div class="kt-form kt-form--label-right">
                <div class="kt-form__body">
                    <FormInput v-model="model.student_id"  :title="$t('Student')"></FormInput>
<FormInput v-model="model.name"  :title="$t('Név')"></FormInput>
<FormInput v-model="model.tax"  :title="$t('Adószám')"></FormInput>
<FormInput v-model="model.month"  :title="$t('Hónap')"></FormInput>
<FormInput v-model="model.gross"  :title="$t('Bruttó')"></FormInput>
<FormInput v-model="model.szja"  :title="$t('SZJA')"></FormInput>
<FormInput v-model="model.deduction"  :title="$t('Levonás')"></FormInput>
<FormInput v-model="model.part_ticket"  :title="$t('Részjegy')"></FormInput>
<FormInput v-model="model.monthly"  :title="$t('Hóközi kifizetés')"></FormInput>
<FormInput v-model="model.net"  :title="$t('Nettó')"></FormInput>
<FormInput v-model="model.payable"  :title="$t('Fizetendő')"></FormInput>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
import FormInput from '../../../../../../resources/js/components/form/FormInput'

export default {
    name: 'PayrollForm',
    props: {
        url: {
            required: true,
            type: String
        },
        model: {
            required: true,
            type: Object
        }
    },
    data () {
        return {

        }
    },
    computed: {
        languages: function () {
            const l = []
            for (const it in this.$store.state.defaultStore.languages) {
                l.push(it)
            }
            return l
        }
    },
    components: { FormInput },
    methods: {},
    created () {},
    mounted () {}
}
</script>
