<template>
    <div class="">
        <div class="row">
            <div class="col-12">
                <h1 class="title text-center text-white"
                    v-if="works ">Munkahelyek</h1>
                <div class="table-responsive">
                    <table v-if="works " class="table table-bordered">
                        <tr>
                            <th>Cég</th>
                            <th>Tevékenység</th>
                            <th>Projekt megjegyzés</th>
                            <th>Teljesítés kezdete</th>
                            <th>Státusz</th>
                            <th>Pm</th>
                        </tr>
                        <tr v-for="(d,i) in works" v-bind:key="'work'+i">
                            <td><router-link :to="'/admin/projects/details/'+d.project_id">{{ d.company_name }}</router-link></td>
                            <td>{{ d.industry_name }}</td>
                            <td> {{ d.project_name }}</td>
                            <td> {{ d.start_date }}</td>
                            <td>{{d.status_name}}</td>
                            <td>{{d.pm}}</td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Projects',
    props: ['student'],
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/`
        }
    },
    data () {
        return {
            selectedAdhock: null,
            works: null
        }
    },
    components: { },
    methods: {
        getProject () {
            this.axios.get(this.url + 'student/get-projects/' + this.student.id).then((response) => {
                this.works = response.data.data
            })
        }
    },
    mounted () {
        this.getProject()
    }
}
</script>
