<template>
    <div class="table-responsive">
        <BaseDatatable v-if="loaded" :multiple-actions="multipleAction" :module="`blog`" :apiurl="url"
                       :list-url="`${url}/index`" :fields="fields"></BaseDatatable>
    </div>
</template>

<script>
import BaseDatatable from '../../../../../../resources/js/components/BaseDatatable'

export default {
    name: 'BlogList',
    props: ['url'],
    components: { BaseDatatable },
    data () {
        return {
            loaded: true,
            multipleAction: {
                localStorageVariable: 'selectedBlog', // milyen local Storagebe rakja
                trackBy: 'id', // milyik oszlopot figyelje
                actions: [
                    {
                        name: this.$translate.t('Delete'),
                        trigger: 'bulkDelete'
                    }
                ]
            },
            apiurl: this.url,
            fields: [
                {
                    name: 'title',
                    sortField: 'title',
                    title: this.$translate.t('Title')
                },
                {
                    name: 'slug',
                    sortField: 'slug',
                    title: this.$translate.t('Slug')
                },
                {
                    name: 'author_name',
                    sortField: 'user_id',
                    title: this.$translate.t('Author')
                },
                {
                    name: 'publication_date',
                    sortField: 'publication_date',
                    title: this.$translate.t('Publication Date')
                },
                {
                    name: 'created_at',
                    sortField: 'created_at',
                    title: this.$translate.t('Creation Date')
                },
                {
                    name: '__slot:actions',
                    title: this.$translate.t('Actions')
                }
            ]
        }
    }
}
</script>
