<template>
  <div class = "col-12">
    <div class = "row">
      <div class="col-md-8 offset-md-2">
        <div class="row">
          <div class="col-md-3 text-center box-calendar" v-for = "item in list" v-bind:key = "'fixing-' + item.month" v-bind:class="item.background">
            <h2>{{item.month}}</h2>
            <div class="">Diákok száma: {{item.student_count}}</div>
            <div class="">Össz óra: {{parseInt(item.sum_hour,0)}}</div>
          </div>
        </div>
      </div>
      </div>
  </div>
</template>

<script>

import DeleteConfirm from '../../../../../../../resources/js/components/DeleteConfirm'

export default {
    name: 'FixingList',
    props: ['company_id', 'year'],
    components: { DeleteConfirm },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/company/monthly-fixing`
        }
    },
    data () {
        return {
            list: [],
            fields: {},
            selected: {}
        }
    },
    watch: {
        year: function (val, oldVal) {
            if (val !== oldVal) {
                this.getForm()
            }
        },
        deep: true
    },
    methods: {
        getForm () {
            this.axios.get(this.url + '/' + this.company_id + '/' + this.year).then(resp => {
                this.list = resp.data.data
            })
        },
        openFormModal (model, type) {
            if (!model) {
                this.selected = {}
                this.selected.company_id = this.company_id
            } else {
                this.selected = JSON.parse(JSON.stringify(model))
            }
            if (type === 1) {
                this.selected.type = 1
            }
            window.$('#formModal').modal('show')
        },
        deleteForm (id) {
            this.axios.delete(this.url + '/delete/' + id).then(resp => {
                this.getForm()
            })
        },
        openPDF (link) {
            this.$eventHub.$emit('openPDF', link)
        }
    },
    created () {
        this.getForm()
    }
}
</script>
<style>
.box-calendar{
  border: solid 2px silver;
  border-radius: 15px;
  padding: 14px;
  margin: 12px;
}
</style>
