<template>
    <EducationLevelForm v-if="Object.keys(model).length > 0" :url="url" :model="model"></EducationLevelForm>
</template>

<script>
import EducationLevelForm from './EducationLevelForm'
import EducationLevel from './EducationLevel'

export default {
    name: 'EducationLevelCreate',
    extends: EducationLevel,
    data () {
        return {
            model: {}
        }
    },
    components: { EducationLevelForm },
    beforeMount: function () {
        this.handleCreate('education-level', this.url, {})

        this.getEducationLevel()
    }
}
</script>
