<template>
  <div class = "kt-portlet">
    <div class = "kt-portlet__body">
      <div class = "kt-form kt-form--label-right">
        <div class = "kt-form__body">
  <div class="row">
    <div class="col-12">
      <button type="button" class="btn btn-xs btn-info" @click="saveOrder()">Sorrend mentése</button>
      <table class="table table-bordered table-striped">
        <thead class="thead">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Állapot</th>
          <th scope="col">Művelet</th>
        </tr>
        </thead>
        <draggable v-if="list && list.length" v-bind="dragOptions"
                   @start="drag = true"
                   @end="drag = false" v-model="list" tag="tbody">
          <tr v-for="item in list" :key="item.name">
            <td scope="row">{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td><router-link :to="'/admin/project-status/edit/'+item.id" class="btn btn-outline btn-xs btn-primary"><i class="la la-edit"></i></router-link></td>
          </tr>
        </draggable>
      </table>
    </div>

  </div>
  </div>
  </div>
  </div>
  </div>
</template>
<style>

.ghost {
  opacity: 0.5;
  background: #c8ebfb;
}
</style>
<script>
import draggable from 'vuedraggable'

export default {
    name: 'ProjectStatusList',
    props: ['url'],
    components: { draggable },
    display: 'Transitions',
    computed: {
        dragOptions () {
            return {
                animation: 200,
                group: 'description',
                disabled: false,
                ghostClass: 'ghost'
            }
        }
    },
    data () {
        return {
            list: [],
            dragging: false
        }
    },
    methods: {
        saveOrder () {
            this.axios.post(this.url + '/save-order', { list: this.list }).then((resp) => {
                console.log('saved')
            })
        },
        getProjectStatus () {
            this.axios.get(this.url + '/index?per_page=100&sort=o|asc').then((resp) => {
                this.list = resp.data.data
            })
        }
    },
    created () {
        this.getProjectStatus()
    }
}
</script>
