<template>
    <ProjectStatusForm v-if="Object.keys(model).length > 0" :url="url" :model="model"></ProjectStatusForm>
</template>

<script>
import ProjectStatusForm from './ProjectStatusForm'
import ProjectStatus from './ProjectStatus'

export default {
    name: 'ProjectStatusCreate',
    extends: ProjectStatus,
    data () {
        return {
            model: {}
        }
    },
    components: { ProjectStatusForm },
    beforeMount: function () {
        this.handleCreate('project-status', this.url, {})

        this.getProjectStatus()
    }
}
</script>
