<template>
    <LanguageForm v-if="Object.keys(model).length > 0" :url="url" :model="model"></LanguageForm>
</template>

<script>
import LanguageForm from './LanguageForm'
import Language from './Language'

export default {
    name: 'LanguageCreate',
    extends: Language,
    data () {
        return {
            model: {}
        }
    },
    components: { LanguageForm },
    beforeMount: function () {
        this.handleCreate('language', this.url, {})

        this.getLanguage()
    }
}
</script>
