<template>
  <div class = "col-12">
    <div>
      <button class = "btn btn-success" @click="openFormModal(null,0)">Új nyomtatvány</button>
      <button class = "btn btn-success" @click="openFormModal(null,1)">Új eseti sablon</button>
    </div>
    <FormsForm :url="url" v-on:refresh="getForm" :model = "selected"></FormsForm>
    <div class = "table-responsive">
      <table class = "table table-bordered table-responsive0">

        <tr>
          <th>Név</th>
          <th>Cím</th>
          <th>Esetihez csatolva</th>
          <th>Művelet</th>
        </tr>
        <tbody>
        <tr v-for = "item in list" v-bind:key = "'Form-'+item.id">
          <td>{{ item.name }}{{item.type==1?'- Eseti sablon':''}}</td>
          <td>{{ item.title }}</td>
          <td>{{ item.membership?'IGEN':'NEM' }}</td>
            <td>
                <button class="btn btn-outline  btn-primary" @click="openFormModal(item)"><i  class="la la-edit"></i></button>
                <button  v-if="item.type!=1" class="btn btn-outline  btn-success" @click="previewForm(item)"><i  class="fa fa-file-pdf"></i></button>
                <DeleteConfirm v-on:delete="deleteForm(item.id)"></DeleteConfirm>
          </td>
        </tr>
        <tr v-if="!list.length">
          <td colspan="5" class="text-center">Nincs adat</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import FormForm from './FormsForm'
import DeleteConfirm from '../../../../../../../resources/js/components/DeleteConfirm'

export default {
    name: 'FormList',
    props: ['company_id'],
    components: { FormForm, DeleteConfirm },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/form`
        }
    },
    data () {
        return {
            list: [],
            fields: {},
            selected: {}
        }
    },
    methods: {
        getForm () {
            this.axios.get(this.url + '/list/' + this.company_id).then(resp => {
                this.list = resp.data.data
            })
        },
        previewForm (item) {
            this.$eventHub.$emit('openPDFStudent', `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/company/preview-form/${item.company_id}/${item.id}`)
        },
        openFormModal (model, type) {
            if (!model) {
                this.selected = {}
                this.selected.company_id = this.company_id
            } else {
                this.selected = JSON.parse(JSON.stringify(model))
            }
            if (type === 1) {
                this.selected.type = 1
            }
            window.$('#formModal').modal('show')
        },
        deleteForm (id) {
            this.axios.delete(this.url + '/delete/' + id).then(resp => {
                this.getForm()
            })
        },
        openPDF (link) {
            this.$eventHub.$emit('openPDF', link)
        }
    },
    created () {
        this.getForm()
    }
}
</script>
