<template>
  <div>
    <div class="modal fade" id="formModal" tabindex="-1" role="dialog">
      <div class="modal-dialog  modal-lg modal-dialog-centered" style="max-width:90% !important;width:90% !important" role="form">
        <div class="modal-content">
          <div class="modal-header bg-warning">
            <h5 class="modal-title">Nyomtatvány</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <i aria-hidden="true" class="ki ki-close"></i>
            </button>
          </div>
          <div class="modal-body p-4">
            <div class="row">
            <div class="col-12">
              <FormInput v-model="localModel.name" :title="'Név'"></FormInput>
            </div>
              <div class="col-6">
                <FormInput v-model="localModel.title" :title="'Dokumentum címe (Ha megvan adva, akkor MADS-os fejlécet kap)'"></FormInput>
              </div>
              <div class="col-6">
                <FrontendSingleCheckbox v-model="localModel.membership" :title="'Csatolás az esetihez'" ></FrontendSingleCheckbox>
              </div>
              <div class="col-12" v-if="localModel.type==1">
                <div class="row">
                <div class="col-6">
                  <FormInput v-model="esetimodel.job" :title="'Ellátandó feladatkör'"></FormInput>
                </div>
                <div class="col-6">
                  <FormInput v-model="esetimodel.task" :title="'A Tag által vállalt feladatok köre'"></FormInput>
                </div>
                <div class="col-6">
                  <FormInput v-model="esetimodel.task_details" :title="'A Tag általt vállalt feladatok jellemző'"></FormInput>
                </div>
                <div class="col-6">
                  <FormInput v-model="esetimodel.company" :title="'A Szolgáltatás fogadójának személye'"></FormInput>
                </div>
                <div class="col-6">
                  <FormInput v-model="esetimodel.work_location" :title="'A feladat teljesítésének hely'"></FormInput>
                </div>
                <div class="col-6">
                  <FormInput v-model="esetimodel.date" :title="'A feladat teljesítésének kezdőnapja'"></FormInput>
                </div>
                <div class="col-6">
                  <FormInput v-model="esetimodel.work_time" :title="'A feladat teljesítésének tartama'"></FormInput>
                </div>
                <div class="col-6">
                  <FormInput v-model="esetimodel.gross" :title="'Megbízási dí'"></FormInput>
                </div>
                <div class="col-6">
                  <FormInput v-model="esetimodel.day" :title="'A díjfizetés napja'"></FormInput>
                </div>

                <div class="col-6">
                  <FormInput v-model="esetimodel.schedule" :title="'Napi időbeosztás'"></FormInput>
                </div>
                <div class="col-6">
                  <FormInput v-model="esetimodel.contact" :title="'Az iskolaszövetkezet által kijelölt kapcsolattartó'"></FormInput>
                </div>
                <div class="col-6">
                  <FormInput v-model="esetimodel.contact_data" :title="'Kapcsolattartó elérhetősége'"></FormInput>
                </div>
                <div class="col-12">
                  <FormInput v-model="esetimodel.aszf" :title="'A szolgáltatás fogadója adatvédelmi tájékoztatójának és adatkezelési szabályzatának elérhetősége'"></FormInput>
                </div>
                <div class="col-6">
                  <FormInput v-model="esetimodel.delegate" :title="'A szolgáltatás fogadója által kijelölt kapcsolattartó'"></FormInput>
                </div>
                <div class="col-6">
                  <FormInput v-model="esetimodel.delegate_data" :title="'Kapcsolattartó elérhetősége'"></FormInput>
                </div>
                <div class="col-6">
                  <FormInput v-model="esetimodel.question" :title="'További szükségesnek tartott kérdés'"></FormInput>
                </div>
                  <div class="col-12">
                    <FormWyswygEditor  v-model="esetimodel.attachments" :title="'Mellékletek'" ></FormWyswygEditor>
                  </div>
                </div>
              </div>
              <div class="col-9" v-if="localModel.type !=1">
                <FormWyswygEditor  v-model="localModel.data" ></FormWyswygEditor>
              </div>
                <div class="col-md-3" v-if="localModel.type !=1">
                    <b class="text-danger">Helyettesító kódok diákok</b>:<br/>
                     <b>[student_number]</b> -> Mads azonosító <br>
                     <b>[name]</b> -> Név <br>
                     <b>[identity_card]</b> -> Személyi igazolvány szám <br>
                     <b>[birth_location]</b> -> Születési hely <br>
                     <b>[birth_date]</b> -> Születési dátum <br>
                     <b>[mothers_name]</b> -> Anyja neve <br>
                     <b>[nationality]</b> -> Állampolgársága <br>
                     <b>[passport]</b> -> Útlevélszám (ha nincs személyi igazolvány) <br>
                     <b>[eu_expire_date]</b> -> EÜ lejárat dátuma <br>
                     <b>[exit_date]</b> -> Kilépés dátuma <br>
                     <b>[gender]</b> -> Neme <br>
                     <b>[phone]</b> -> Mobil <br>
                     <b>[email]</b> -> E-mail <br>
                     <b>[country_id]</b> -> Ország <br>
                     <b>[zip]</b> -> Irányítószám <br>
                     <b>[city_id]</b> -> Város <br>
                     <b>[street]</b> -> Utca <br>
                     <b>[area_type_id]</b> -> Közterület jellege (utca, út, tér, stb.) <br>
                     <b>[house_number]</b> -> Házszám <br>
                     <b>[building]</b> -> Épület <br>
                     <b>[stairs]</b> -> Lépcsőház <br>
                     <b>[level]</b> -> Emelet <br>
                     <b>[door]</b> -> Ajtó <br>
                     <b>[notification_address]</b> -> Értesítési cím <br>
                     <b>[bank_account_number]</b> -> Bankszámlaszám <br>
                     <b>[tax_number]</b> -> Adószám <br>
                     <b>[taj]</b> -> Tajszám <br>
                     <b>[date_of_entry]</b> -> Belépés dátuma <br>
                     <b>[nav_declaration]</b> -> Nav bejelentés <br>
                     <b>[membership_agreement]</b> -> Tagsági megállapodás <br>
                     <b>[employment_contract]</b> -> Munkaszerződés <br>
                     <b class="text-danger">Helyettesító kódok Tevékenység</b>:<br/>
                        <b>[industry_name]</b> -> Név <br>
                        <b>[industry_site_id]</b> -> Telephely <br>
                        <b>[industry_work_category_id]</b> -> Kategória <br>
                        <b>[industry_price_hour]</b> -> Órabér <br>
                        <b>[industry_instructor]</b> -> Utasítást adó személy <br>
                    <b class="text-danger">Helyettesító kódok Projektmenedzser</b>:<br/>
                        <b>[project_name]</b> -> Név <br>
                        <b>[project_email]</b> -> Email <br>
                        <b>[project_phone]</b> -> Telefon <br>
                        <b>[date]</b> -> Dátum <br>
                    <b class="text-danger">Helyettesító kódok - Eszközök</b>:<br/>
                    <b>[work_safety1_date]</b> -> Eü kiadás dátuma <br>
                    <b>[work_safety1_price]</b> -> EÜ ára <br>
                    <b>[work_safety2_date]</b> -> Munkacipő kiadás dátuma <br>
                    <b>[work_safety2_price]</b> -> Munkacipő ára <br>
                    <b>[work_safety3_date]</b> -> Orvosi igazolás kiadás dátuma <br>
                    <b>[work_safety3_price]</b> -> Orvosi ára <br>
                    <b>[work_safety4_date]</b> -> Munkaruha kiadás dátuma <br>
                    <b>[work_safety4_price]</b> -> Munkaruha ára <br>
                    </div>
          </div>
          <div class="modal-footer ">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Mégse</button>
            <button type="button" class="btn btn-success" @click="save()">Hozzáad</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</template>
<script>
import FormInput from '../../../../../../../resources/js/components/form/FormInput'
import FormWyswygEditor from '../../../../../../../resources/js/components/form/FormWyswygEditor'
import FrontendSingleCheckbox from '../../../../../../../resources/js/frontend/components/form/FrontendSingleCheckbox.vue'
export default {
    name: 'FormsForm',
    props: {
        url: {
            required: true,
            type: String
        },
        model: {
            required: true,
            type: Object
        }
    },
    components: { FormInput, FormWyswygEditor, FrontendSingleCheckbox },
    data () {
        return {
            localModel: {},
            esetimodel: {}
        }
    },
    watch: {
        model: {
            handler: function (val, oldVal) {
                if (val !== oldVal) {
                    this.localModel = val
                    if (this.localModel.type === 1 && this.localModel.data) {
                        this.esetimodel = JSON.parse(this.localModel.data)
                    }
                }
            }
        }
    },
    methods: {
        save () {
            if (this.localModel.type === 1) {
                this.localModel.data = JSON.stringify(this.esetimodel)
            }
            if (this.model.id) {
                this.axios.post(this.url + '/edit/' + this.model.id, this.localModel).then(() => {
                    this.$emit('refresh', true)
                    window.$('#formModal').modal('hide')
                })
            } else {
                this.axios.put(this.url + '/edit', this.localModel).then(() => {
                    this.$emit('refresh', true)
                    window.$('#formModal').modal('hide')
                })
            }
        },
        changePath (event) {
            this.model.path = event
        }
    },
    created () {},
    mounted () {}
}
</script>
