<template>
  <div>
  <div class="modal fade" id="showEmail" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document" style="min-width:80%">
      <div class="modal-content">
        <div class="modal-header bg-warning">
          <h5 class="modal-title">Email megtekintése</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i aria-hidden="true" class="ki ki-close"></i>
          </button>
        </div>
        <div class="modal-body p-4">
          <div class="row">
              <div class="col-12" v-html="content"></div>
          </div>
        </div>
        <div class="modal-footer bg-warning">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Bezár</button>
        </div>
      </div>
    </div>
  </div>
  </div>
</template>

<script>

export default {
    name: 'ShowEmail',
    props: ['content']
}
</script>

<style scoped>

</style>
