<template>
  <div class="card card-custom">
    <div class="card-header">
        <h3 class="card-label pull-left">Az utolsó 20 email</h3>
      <div class="card-toolbar pull-right d-inline-block">
          <ShowEmail  class="d-inline-block" :content="content" ></ShowEmail>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-12 mb-3 border-primary">
          <div class="row">
            <div class="col-md-12">
              <table class="table table-condensed mt-3">
                <tr>
                <th>Tárgy</th>
                <th>Küldő</th>
                <th>Elküldve</th>
                <th>Megtekint</th>
                </tr>
                <tr v-for="email in emails " v-bind:key="'email-'+ email.id">
                    <td>{{email.subject}} <span  v-if="email.type===1" class="ml-5 bg-danger p-1">Aláírásra vár</span> <span  v-if="email.type===2" class="ml-5 bg-success p-1">Aláírva</span></td>
                    <td>{{email.user_name}}</td>
                    <td>{{email.sent_date}}</td>
                  <td><button class="btn btn-xs btn-info" @click="openModal(email.content)"><i class="fa fa-eye"></i> </button></td>
                </tr>
              </table>
            </div>

            <hr class="col-md-12">
          </div>

        </div>
      </div>

    </div>
  </div>
</template>

<script>

import ShowEmail from './ShowEmail'

export default {
    name: 'StudentEmails',
    components: { ShowEmail },
    props: ['student'],
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/student`
        }
    },
    data () {
        return {
            emails: {},
            content: ''
        }
    },

    methods: {
        getEmails () {
            this.axios.get(this.url + '/get-emails/' + this.student.id).then((response) => {
                this.emails = response.data.data
            })
        },
        openModal (content) {
            this.content = content
            window.$('#showEmail').modal('show')
        }

    },
    mounted () {
        this.getEmails()
    }
}
</script>

<style scoped>

</style>
