<template>
  <div class = "col-12">
    <div>
      <button class = "btn btn-success" @click="openSiteModal()">Új Telephely</button>
    </div>
    <SiteForm :url="url" v-on:refresh="getSite" :model = "selected"></SiteForm>
    <div class = "table-responsive">
      <table class = "table table-bordered table-responsive0">

        <tr>
          <th>Telephely neve</th>
          <th>Munkavégzés helye</th>
          <th>Művelet</th>
        </tr>
        <tbody>
        <tr v-for = "item in list" v-bind:key = "'Site-'+item.id">
          <td>{{ item.name }}</td>
          <td>{{ item.work_location }}</td>
          <td>
            <button class="btn btn-outline btn-sm btn-primary" @click="openSiteModal(item)"><i  class="la la-edit"></i></button>
            <DeleteConfirm v-on:delete="deleteSite(item.id)"></DeleteConfirm>
          </td>
        </tr>
        <tr v-if="!list.length">
          <td colspan="5" class="text-center">Nincs adat</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import SiteForm from './SiteForm'
import DeleteConfirm from '../../../../../../../resources/js/components/DeleteConfirm'

export default {
    name: 'SiteList',
    props: ['company_id'],
    components: { SiteForm, DeleteConfirm },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/site`
        }
    },
    data () {
        return {
            list: [],
            fields: {},
            selected: {}
        }
    },
    methods: {
        getSite () {
            this.axios.get(this.url + '/list/' + this.company_id).then(resp => {
                this.list = resp.data.data
                this.$emit('refresh')
            })
        },
        openSiteModal (model) {
            if (!model) {
                this.selected = {}
                this.selected.company_id = this.company_id
            } else {
                this.selected = JSON.parse(JSON.stringify(model))
            }
            window.$('#siteModal').modal('show')
        },
        deleteSite (id) {
            this.axios.delete(this.url + '/delete/' + id).then(resp => {
                this.getSite()
            })
        }
    },
    created () {
        this.getSite()
    }
}
</script>
