<template>
  <div>
    <div class="modal fade" id="bonusModal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document" style="max-width:80%">
        <div class="modal-content">
          <div class="modal-header bg-warning">
            <h5 class="modal-title">Bónusz</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <i aria-hidden="true" class="ki ki-close"></i>
            </button>
          </div>
          <div class="modal-body">
            <div class="container">
            <div class="row">
            <div class="col-md-6">
              <FormInput v-model="localModel.name" :title="'Név'"></FormInput>
            </div>
              <div class="col-md-6">
                <FormSingleCheckbox v-model="localModel.active" :title="'Aktív?'"></FormSingleCheckbox>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <h3 class="col-12">Bónusz összeállítáisa</h3>
                  <div class="col-md-4"><FormNumberInput v-model="temp.hour" :title="'Óraszám'"></FormNumberInput></div>
                  <div class="col-md-3"><FormSelect v-model="temp.type" :title="'Típus'" :options="{'1':'Fix','2':'%-os'}"></FormSelect></div>
                  <div class="col-md-4"><FormNumberInput v-model="temp.value" :title="'Bónusz'"></FormNumberInput></div>
                  <div class="col-md-1"><button class="btn btn-xs btn-info" :disabled="!temp.hour || !temp.type || !temp.value" @click="addAlgorithm"><i class="fa fa-plus-square"></i> </button></div>
                  <hr class="col-12"/>
                  <template  v-for="(alg,index) in model.bonus_algorithm">
                    <div v-bind:key="'alg-hour'+index" class="col-md-4"><FormNumberInput v-model="model.bonus_algorithm[index].hour" :title="'Óraszám'"></FormNumberInput></div>
                    <div v-bind:key="'alg-type'+index" class="col-md-3"><FormSelect v-model="model.bonus_algorithm[index].type" :title="'Típus'" :options="{'1':'Fix','2':'%-os'}"></FormSelect></div>
                    <div v-bind:key="'alg-value'+index" class="col-md-4"><FormNumberInput v-model="model.bonus_algorithm[index].value" :title="'Bónusz'"></FormNumberInput></div>
                    <div v-bind:key="'alg-action'+index" class="col-md-1"><button class="btn btn-xs btn-danger" @click="removeAlg(index)"><i class="fa fa-trash"></i> </button></div>
                  </template>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                <h3 class="col-12">Érintett tevékenységek</h3>
                  <div class="col-12" style="    height: 600px;overflow-y: scroll;overflow-x: hidden;">
                    <table class="table table-condensed table-bordered">
                      <tr>
                        <th> <input v-if="model.industries" type="checkbox"   v-model="selectAll"   @change="selectAllIndustry"></th>
                        <th>Tevékenység</th>
                      </tr>
                      <tr v-for="ind in list" v-bind:key="'industry-'+ind.id">
                        <td>
                          <input v-if="model.industries" type="checkbox"   v-model="model.industries['#'+ind.id]" :value="'#'+ind.id" >

                        </td>
                        <td>{{ind.name}}</td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
          </div>
          <div class="modal-footer ">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Mégse</button>
            <button type="button" class="btn btn-success" @click="save()">Hozzáad</button>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
  </div>
</template>

<script>
import FormInput from '../../../../../../../resources/js/components/form/FormInput'

import FormNumberInput from '../../../../../../../resources/js/components/form/FormNumberInput'
import FormSelect from '../../../../../../../resources/js/components/form/FormSelect'
import FormPhone from '../../../../../../../resources/js/components/form/FormPhone'
import FormSingleCheckbox from '../../../../../../../resources/js/components/form/FormSingleCheckbox'
import FormCheckbox from '../../../../../../../resources/js/components/form/FormCheckbox'
export default {
    name: 'BonusForm',
    props: {
        url: {
            required: true,
            type: String
        },
        model: {
            required: true,
            type: Object
        },
        list: {
            required: true,
            type: Array
        }
    },
    components: { FormInput, FormPhone, FormSingleCheckbox, FormNumberInput, FormSelect, FormCheckbox },
    data () {
        return {
            localModel: {
            },
            temp: {},
            selectAll: false
        }
    },

    watch: {
        model: {
            handler: function (val, oldVal) {
                if (val !== oldVal) {
                    this.localModel = val
                }
            }
        }
    },
    methods: {
        addAlgorithm () {
            if (!this.model.bonus_algorithm) {
                this.model.bonus_algorithm = []
            }
            const arr = JSON.parse(JSON.stringify(this.model.bonus_algorithm))

            arr.push(JSON.parse(JSON.stringify(this.temp)))
            this.model.bonus_algorithm = arr
            this.temp = {}
            console.log(this.model.bonus_algorithm.push)
        },
        removeAlg (index) {
            this.$delete(this.model.bonus_algorithm, index)
        },
        selectAllIndustry () {
            this.list.forEach(item => {
                console.log(this.model.industries[item])
                this.model.industries['#' + item.id] = this.selectAll
            })
        },
        save () {
            if (this.model.id) {
                this.axios.post(this.url + '/edit/' + this.model.id, this.model).then(() => {
                    this.$emit('refresh', true)
                    window.$('#bonusModal').modal('hide')
                })
            } else {
                this.axios.put(this.url + '/edit', this.model).then(() => {
                    this.$emit('refresh', true)
                    window.$('#bonusModal').modal('hide')
                })
            }
        }
    },

    created () {},
    mounted () {}
}
</script>
