<template>
  <div class = "col-12">
    <div>
      <button class = "btn btn-success" @click="openBonusModal()">Új bónusz</button>
    </div>
    <BonusForm :list="industries"  :url="url" v-on:refresh="getBonus" :model = "selected"></BonusForm>
    <div class = "table-responsive">
      <table class = "table table-bordered table-responsive0">

        <tr>
          <th>Név</th>
          <th>Aktiv</th>
          <th>Művelet</th>
        </tr>
        <tbody>
        <tr v-for = "item in list" v-bind:key = "'bonus-'+item.id">
          <td>{{ item.name }}</td>
          <td>{{ item.active }}</td>
          <td>
            <button class="btn btn-outline btn-sm btn-primary" @click="openBonusModal(item)"><i  class="la la-edit"></i></button>
            <DeleteConfirm v-on:delete="deleteBonus(item.id)"></DeleteConfirm>
          </td>
        </tr>
        <tr v-if="!list.length">
          <td colspan="5" class="text-center">Nincs adat</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import BonusForm from './BonusForm'
import DeleteConfirm from '../../../../../../../resources/js/components/DeleteConfirm'

export default {
    name: 'BonusList',
    props: ['company_id'],
    components: { BonusForm, DeleteConfirm },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/bonus`
        }
    },
    data () {
        return {
            list: [],
            industries: {},
            fields: {},
            selected: {}
        }
    },
    methods: {
        getBonus () {
            this.axios.get(this.url + '/list/' + this.company_id).then(resp => {
                this.list = resp.data.data
                this.list.forEach(item => {
                    if (!item.industries.length) {
                        item.industries = {}
                    }
                })
                this.$emit('refresh')
            })
        },
        openBonusModal (model) {
            if (!model) {
                this.selected = {}
                this.selected.company_id = this.company_id
                this.selected.industries = {}
            } else {
                this.selected = JSON.parse(JSON.stringify(model))
            }
            window.$('#bonusModal').modal('show')
        },
        getIndustry () {
            this.axios.get(this.url.replace('bonus', 'industry') + '/list/' + this.company_id).then(resp => {
                this.industries = resp.data.data
            })
        },
        deleteBonus (id) {
            this.axios.delete(this.url + '/delete/' + id).then(resp => {
                this.getBonus()
            })
        }
    },
    created () {
        this.getBonus()
        this.getIndustry()
    }
}
</script>
