<template>
  <div>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newWorkSafety">
    Új eszköz, igazolás
  </button>
  <div class="modal fade" id="newWorkSafety" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header bg-warning">
          <h5 class="modal-title">  Új eszköz, igazolás</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i aria-hidden="true" class="ki ki-close"></i>
          </button>
        </div>
        <div class="modal-body p-4">
          <div class="row">
              <div class="col-12">
                  <FormSelect v-model="model.type" :title="'Típus'" :options="{'1':'Egeszsegügyi kiskönyv','2':'Munkavédelmi cipő','3':'Orvosi igazolás','4':'Munkaruha'}"></FormSelect>
              </div>
              <div class="col-12">
                  <FormDatePicker v-model="model.date" :title="'Kiállítás dátuma'" ></FormDatePicker>
              </div>
              <div class="col-12">
                  <FormDatePicker v-model="model.expire" :title="'Lejárat dátuma'" ></FormDatePicker>
              </div>
              <div class="col-12">
                  <FormNumberInput v-model="model.price" :title="'Összeg'" ></FormNumberInput>
              </div>
              <div class="col-12" v-if="model.type==4">
                  <FormSelect v-model="model.size" :title="'Méret'" :options="size"></FormSelect>
              </div>
              <div class="col-12" v-if="model.type==2">
                  <FormSelect v-model="model.size" :title="'Méret'" :options="shoeSize"></FormSelect>
              </div>
              <div class="col-12"  v-if="model.type==1|| model.type==3 ">
                <FormDropZone v-model="model.file"  v-on:success="model.file=$event" :student="false"  max-files="1" acceptedFiles="application/pdf" :url="'/api/v1/upload-private-file?dir=student/'+student.id" :option="{}" :title="'Húzd ide a dokumentumot'"></FormDropZone>
             </div>
              <div class="col-12">
                  <FormInput v-model="model.value" :title="'Egyéb infó'" ></FormInput>
              </div>
          </div>
        </div>
        <div class="modal-footer bg-warning">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Mégse</button>
          <button type="button" class="btn btn-success" @click="saveStudentSchool">Hozzáad</button>
        </div>
      </div>
    </div>
  </div>
  </div>
</template>

<script>

import FormInput from '../../../../../../../resources/js/components/form/FormInput'
import FormNumberInput from '../../../../../../../resources/js/components/form/FormNumberInput'
import FormMonthPicker from '../../../../../../../resources/js/components/form/FormMonthPicker'
import FormSelect from '../../../../../../../resources/js/components/form/FormSelect'
import FormAutocomplete from '../../../../../../../resources/js/components/form/FormAutocomplete'
import FormDatePicker from '../../../../../../../resources/js/components/form/FormDatePicker'
import FormDropZone from '../../../../../../../resources/js/components/form/FormDropZone.vue'
export default {
    name: 'NewLanguage',
    props: ['student'],
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/student`
        },
        autoUrl: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/language/index`
        }
    },
    components: { FormInput, FormSelect, FormMonthPicker, FormAutocomplete, FormDatePicker, FormNumberInput, FormDropZone },
    data () {
        return {
            model: {
                language_id: null,
                value: null
            },
            size: {
                xs: 'XS',
                s: 'S',
                m: 'M',
                l: 'L',
                xl: 'XL',
                xxl: 'XXL',
                xxxl: 'XXXL'
            },
            shoeSize: {
                35: '35',
                '35,5': '35,5',
                36: '36',
                '36,5': '36,5',
                37: '37',
                '37,5': '37,5',
                38: '38',
                '38,5': '38,5',
                39: '39',
                '39,5': '39,5',
                40: '40',
                '40,5': '40,5',
                41: '41',
                '41,5': '41,5',
                42: '42',
                '42,5': '42,5',
                43: '43',
                '43,5': '43,5',
                44: '44',
                '44,5': '44,5',
                45: '45',
                '45,5': '45,5',
                46: '46',
                '46,5': '46,5',
                47: '47',
                '47,5': '47,5',
                48: '48',
                '48,5': '48,5',
                49: '49',
                '49,5': '49,5',
                50: '50'

            }
        }
    },
    methods: {
        saveStudentSchool () {
            this.axios.post(this.url + '/add-work-safety/' + this.student.id, this.model).then((resp) => {
                this.$emit('refresh')
                this.model = {
                    type: null,
                    value: null,
                    expire: null
                }
                window.$('#newWorkSafety').modal('hide')
            })
        }
    }
}
</script>

<style scoped>

</style>
