<template>
  <div class="card card-custom">
    <div class="card-header">
        <h3 class="card-label pull-left">Munka eszközök, igazolások</h3>
      <div class="card-toolbar pull-right">
          <NewWorkSafety v-on:refresh="getWorkSafety" :student="student" ></NewWorkSafety>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-12 mb-3 border-primary">
          <div class="row">
            <div class="col-md-12">
              <table class="table table-condensed mt-3">
                <tr>
                <th>Típus</th>
                <th>Lejárat dátuma</th>
                <th>Méret</th>
                <th>Érték</th>
                <th>Kiállítás dátuma</th>
                <th>Infó</th>
                <th>Törlés</th>
                </tr>
                <tr v-for="document in attributes " v-bind:key="'work-safety-'+ document.id">
                    <td>{{document.type}}</td>
                    <td>{{document.expire}}</td>
                    <td>{{document.size}}</td>
                    <td>{{document.price}}</td>
                    <td>{{document.date}}</td>
                    <td>{{document.value}}</td>
                    <td>
                      <a v-if="document.file" href="#" class="btn btn-primary" @click.prevent="openPdf('/'+document.file)"><i class="fa fa-file-pdf"></i> </a>
                      <DeleteConfirm v-on:delete="deleteWorkSafety(document.id)"></DeleteConfirm>
                    </td>
                </tr>
              </table>
            </div>
            <hr class="col-md-12">
          </div>

        </div>
      </div>

    </div>
  </div>
</template>

<script>
import NewWorkSafety from './NewWorkSafety'
import DeleteConfirm from '../../../../../../../resources/js/components/DeleteConfirm'

export default {
    name: 'WorkSafeties',
    components: { NewWorkSafety, DeleteConfirm },
    props: ['student'],
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/student`
        }
    },
    data () {
        return {
            attributes: {},
            company: []
        }
    },

    methods: {
        getWorkSafety () {
            this.axios.get(this.url + '/get-work-safety/' + this.student.id).then((response) => {
                this.attributes = response.data.data
                this.company = response.data.company
            })
        },
        deleteWorkSafety (id) {
            this.axios.delete(this.url + '/delete-work-safety-admin/' + id).then((response) => {
                this.getWorkSafety()
            })
        },
        openPdf (link) {
            this.$eventHub.$emit('openPDFStudent', '/api/v1/get-any-document/' + link + '?api_token=' + $cookies.get('token'))
        }

    },
    mounted () {
        this.getWorkSafety()
    }
}
</script>

<style scoped>

</style>
