<template>
    <div>
    <button type = "button" data-target = "#importStock" data-toggle = "modal" class = "btn btn-sm btn-secondary pull-right"><i class = "fa fa-arrow-circle-o-up"></i>Import</button>
    <div class = "modal" id = "importStock" tabindex = "-1" role = "dialog" aria-labelledby = "exampleModalCenterTitle" style = "display: none;" aria-hidden = "true">
        <div class = "modal-md modal-dialog modal-dialog-centered" role = "document">
            <div class = "modal-content">
                <div class = "modal-header">
                    <h5 class = "modal-title" id = "exampleModalLongTitle">Import fájl feltöltése</h5>
                    <button type = "button" class = "close" data-dismiss = "modal" aria-label = "Close">
                    </button>
                </div>
                <div class = "modal-body">
                    <div class="alert alert-warning" v-if="imported && importResponse" v-html = "importResponse"></div>
                    <Loader v-if = "imported && !importResponse"></Loader>
                    <FormDropZone url="/api/v1/upload-private-file?dir=payroll" :acceptedFiles = "'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'" v-on:success = "setPath" :responseFile = "filePath"  :maxFiles = "1" :id = "'companyImport'" :title = "$t('File')"></FormDropZone>
                    <button v-if = "filePath.length" type = "button" v-on:click = "runImport()"  class = "btn btn-success" >Import</button>
                </div>
                <div class = "modal-footer">
                    <button type = "button" class = "btn btn-secondary" data-dismiss = "modal">{{$t('Bezár')}}</button>
                </div>
            </div>
        </div>
    </div>
    </div>
</template>

<script>
import Loader from '../../components/Loader'
import FormDropZone from '../../components/form/FormDropZone'
export default {
    name: 'importModal',
    components: { FormDropZone, Loader },
    props: ['saveLink'],
    data () {
        return {
            filePath: '',
            imported: false,
            importResponse: false
        }
    },
    methods: {
        setPath (path) {
            this.imported = false
            this.importResponse = null
            this.filePath = path
        },
        runImport () {
            this.importResponse = null
            this.imported = true
            const self = this
            if (!this.filePath.length) {
                alert('Válassz fáljt')
            } else {
                self.axios.post(self.saveLink, { file: self.filePath }).then((response) => {
                    self.importResponse = response.data.data
                })
            }
        }
    }
}
</script>

<style scoped>

</style>
