<template>
    <StudentPresentForm v-if="Object.keys(model).length > 0" :url="url" :model="model"></StudentPresentForm>
</template>

<script>
import StudentPresentForm from './StudentPresentForm'
import StudentPresent from './StudentPresent'

export default {
    name: 'StudentPresentEdit',
    extends: StudentPresent,
    data () {
        return {
            model: {}
        }
    },
    components: { StudentPresentForm },
    beforeMount: function () {
        this.handleUpdate('studentpresent', this.url, {})

        this.getStudentPresent()
    }
}
</script>
