<template>
    <div class="table-responsive">
        <BaseDatatable v-if="loaded" :multiple-actions="multipleAction" :module="`studentpresent`" :apiurl="url" :list-url="`${url}/index`" :fields="fields"></BaseDatatable>
    </div>
</template>

<script>
import BaseDatatable from '../../../../../../resources/js/components/BaseDatatable'
export default {
    name: 'StudentPresentList',
    props: ['url'],
    components: { BaseDatatable },
    data () {
        return {
            loaded: true,
            multipleAction: {
                localStorageVariable: 'selectedStudentPresent', // milyen local Storagebe rakja
                trackBy: 'id', // milyik oszlopot figyelje
                actions: [
                    {
                        name: this.$translate.t('Delete'),
                        trigger: 'bulkDelete'
                    }
                ]
            },
            apiurl: this.url,
            fields: [
                {
                    name: 'id',
                    sortField: 'id',
                    title: this.$translate.t('ID')
                },
                {
                    name: 'student_id',
                    sortField: 'student_id',
                    title: this.$translate.t('Student')
                },
                {
                    name: 'company_id',
                    sortField: 'company_id',
                    title: this.$translate.t('Cég')
                },
                {
                    name: 'industry_id',
                    sortField: 'industry_id',
                    title: this.$translate.t('Tevékenység')
                },
                {
                    name: 'date',
                    sortField: 'date',
                    title: this.$translate.t('Dátum')
                },
                {
                    name: 'start',
                    sortField: 'start',
                    title: this.$translate.t('Start')
                },
                {
                    name: 'end',
                    sortField: 'end',
                    title: this.$translate.t('End')
                },
                {
                    name: 'approved',
                    sortField: 'approved',
                    title: this.$translate.t('jóváhagyva')
                },
                {
                    name: 'appruved_user_id',
                    sortField: 'appruved_user_id',
                    title: this.$translate.t('jóváhagyó')
                },
                {
                    name: '__slot:actions',
                    title: this.$translate.t('Actions')
                }
            ]
        }
    }
}
</script>
