<template>
    <div class="kt-portlet">
        <div class="kt-portlet__body">
            <div class="kt-form kt-form--label-right">
                <div class="kt-form__body">
                    <FormInput v-model="model.student_id"  :title="$t('Student')"></FormInput>
<FormInput v-model="model.company_id"  :title="$t('Cég')"></FormInput>
<FormInput v-model="model.industry_id"  :title="$t('Tevékenység')"></FormInput>
<FormInput v-model="model.date"  :title="$t('Dátum')"></FormInput>
<FormInput v-model="model.start"  :title="$t('Start')"></FormInput>
<FormInput v-model="model.end"  :title="$t('End')"></FormInput>
<FormInput v-model="model.approved"  :title="$t('jóváhagyva')"></FormInput>
<FormInput v-model="model.appruved_user_id"  :title="$t('jóváhagyó')"></FormInput>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
import FormInput from '../../../../../../resources/js/components/form/FormInput'

export default {
    name: 'StudentPresentForm',
    props: {
        url: {
            required: true,
            type: String
        },
        model: {
            required: true,
            type: Object
        }
    },
    data () {
        return {

        }
    },
    computed: {
        languages: function () {
            const l = []
            for (const it in this.$store.state.defaultStore.languages) {
                l.push(it)
            }
            return l
        }
    },
    components: { FormInput },
    methods: {},
    created () {},
    mounted () {}
}
</script>
