<template>
  <div>

  <div class="modal fade" id="newRealization" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document"  style="max-width: 80%;">
      <div class="modal-content">
        <div class="modal-header bg-warning">
          <h5 class="modal-title"> Ráérés rögzítése</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i aria-hidden="true" class="ki ki-close"></i>
          </button>
        </div>
        <div class="modal-body p-4">
          <div class="row">
            <div class = "col-md-6">
                <FormSelect :select2="true" v-model = "model.work" :title = "$t('Milyen munka érdekli?')"  :options = "works" ></FormSelect>
            </div>
            <div class = "col-md-6">
              <FormSelect :select2="true" v-model = "model.location" :title = "$t('Hol szeretne dolgozni?')"  :options = "cities" ></FormSelect>
            </div>
            <div class = "col-md-6">
                <FormDatePicker v-model="model.start" :title="'Kezdete'"></FormDatePicker>
            </div>
              <div class = "col-md-6">
                  <FormDatePicker v-model="model.end" :title="'Vége'"></FormDatePicker>
              </div>
              <div class="col-md-12">
                  <div class="table-responsive">
                      <table class="table table-bordered table-condensed">
                          <thead>
                          <tr>
                              <th>Hétfő</th>
                              <th>Kedd</th>
                              <th>Szerda</th>
                              <th>Csütörtök</th>
                              <th>Péntek</th>
                              <th>Szombat</th>
                              <th>Vasárnáp</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr>
                              <td><FormRadio inputClass="no-position" v-model="model.monday" :options="{0:'Nem ér rá',1:'Egész nap ráér',2:'Délelőtt ráér',3:'Délután ráér'}"></FormRadio></td>
                              <td><FormRadio inputClass="no-position" v-model="model.tuesday" :options="{0:'Nem ér rá',1:'Egész nap ráér',2:'Délelőtt ráér',3:'Délután ráér'}"></FormRadio></td>
                              <td><FormRadio inputClass="no-position" v-model="model.wednesday" :options="{0:'Nem ér rá',1:'Egész nap ráér',2:'Délelőtt ráér',3:'Délután ráér'}"></FormRadio></td>
                              <td><FormRadio inputClass="no-position" v-model="model.thursday" :options="{0:'Nem ér rá',1:'Egész nap ráér',2:'Délelőtt ráér',3:'Délután ráér'}"></FormRadio></td>
                              <td><FormRadio inputClass="no-position" v-model="model.friday" :options="{0:'Nem ér rá',1:'Egész nap ráér',2:'Délelőtt ráér',3:'Délután ráér'}"></FormRadio></td>
                              <td><FormRadio inputClass="no-position" v-model="model.saturday" :options="{0:'Nem ér rá',1:'Egész nap ráér',2:'Délelőtt ráér',3:'Délután ráér'}"></FormRadio></td>
                              <td><FormRadio inputClass="no-position"  v-model="model.sunday" :options="{0:'Nem ér rá',1:'Egész nap ráér',2:'Délelőtt ráér',3:'Délután ráér'}"></FormRadio></td>
                          </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
        </div>
        <div class="modal-footer bg-warning">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Mégse</button>
          <button type="button" class="btn btn-success" @click="saveStudentSchool">Hozzáad</button>
        </div>
      </div>
    </div>
  </div>
  </div>
</template>

<script>

import FormInput from '../../../../../../../resources/js/components/form/FormInput'
import FormDatePicker from '../../../../../../../resources/js/components/form/FormDatePicker.vue'
import FormSelect from '../../../../../../../resources/js/components/form/FormSelect'
import FormRadio from '../../../../../../../resources/js/components/form/FormRadio.vue'
import FormAutocomplete from '../../../../../../../resources/js/components/form/FormAutocomplete.vue'
export default {
    name: 'NewSchool',
    props: ['student'],
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/student`
        }
    },
    components: { FormInput, FormSelect, FormDatePicker, FormRadio, FormAutocomplete },
    data () {
        return {
            works: {},
            cities: {},
            start: null,
            end: null,
            model: {
            }
        }
    },
    methods: {
        saveStudentSchool () {
            if (!this.model.student_id) {
                this.model.student_id = this.student
            }
            this.axios.post(this.url + '/add-realization-backend', this.model).then((resp) => {
                this.$emit('refresh')
                this.model = {}
                window.$('#newRealization').modal('hide')
            })
        },
        getSelect () {
            this.axios.get(`${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/realization/select`).then((resp) => {
                this.works = resp.data.works
                this.cities = resp.data.cities
                this.start = resp.data.start
                this.end = resp.data.end
            })
        }
    },
    mounted () {
        const self = this
        this.$eventHub.$on('openRealization', function (data) {
            self.model = {}
            self.model.student_id = data
            self.model.start = self.start
            self.model.end = self.end
            window.$('#newRealization').modal('show')
        })
    },
    created () {
        this.getSelect()
    }

}
</script>

<style scoped>

</style>
