<template>
  <div class="card card-custom">
    <div class="card-header">
        <h3 class="card-label pull-left">Ráérés</h3>
      <div class="card-toolbar pull-right">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newRealization">
              Ráérés rögzítése
          </button>
          <NewRealization v-on:refresh="getStudentRealization" :student="student" ></NewRealization>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">

          <table class="table table-condensed table-bordered">
              <tr>
                  <th>Kezdete</th>
                  <th>Vége</th>
                  <th>Munka</th>
                  <th>Hely</th>
                  <th>Hétfő</th>
                  <th>Kedd</th>
                  <th>Szerda</th>
                  <th>Csütörtök</th>
                  <th>Péntek</th>
                  <th>Szombat</th>
                  <th>Vasárnap</th>
              </tr>
              <tr v-for="s in realization" v-bind:key="'school-'+s.id">
                <td>{{s.start}}</td>
                <td>{{s.end}}</td>
                <td>{{s.work}}</td>
                <td>{{s.location}}</td>
                <td>{{s.monday}}</td>
                <td>{{s.tuesday}}</td>
                <td>{{s.wednesday}}</td>
                <td>{{s.thursday}}</td>
                <td>{{s.friday}}</td>
                <td>{{s.saturday}}</td>
                <td>{{s.sunday}}</td>
              </tr>
          </table>
        </div>
      </div>

  </div>
</template>

<script>

import DeleteConfirm from '../../../../../../../resources/js/components/DeleteConfirm'
import NewRealization from './NewRealization.vue'

export default {
    name: 'Realization',
    components: { NewRealization, DeleteConfirm },
    props: ['student'],
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/student`
        }
    },
    data () {
        return {
            realization: []
        }
    },
    methods: {
        getStudentRealization () {
            this.axios.get(this.url + '/get-realization/' + this.student).then((response) => {
                this.realization = response.data.data
            })
        },
        deleteRealization (id) {
            this.axios.delete(this.url + '/delete-realization/' + id).then((response) => {
                this.getStudentRealization()
            })
        }
    },
    mounted () {
        this.getStudentRealization()
    }
}
</script>

<style scoped>

</style>
