<template>
    <EducationAreaForm v-if="Object.keys(model).length > 0" :url="url" :model="model"></EducationAreaForm>
</template>

<script>
import EducationAreaForm from './EducationAreaForm'
import EducationArea from './EducationArea'

export default {
    name: 'EducationAreaEdit',
    extends: EducationArea,
    data () {
        return {
            model: {}
        }
    },
    components: { EducationAreaForm },
    beforeMount: function () {
        this.handleUpdate('education-area', this.url, {})

        this.getEducationArea()
    }
}
</script>
