<template>
    <PostDeliveryForm v-if="Object.keys(model).length > 0" :url="url" :model="model"></PostDeliveryForm>
</template>

<script>
import PostDeliveryForm from './PostDeliveryForm'
import PostDelivery from './PostDelivery'

export default {
    name: 'PostDeliveryCreate',
    extends: PostDelivery,
    data () {
        return {
            model: {}
        }
    },
    components: { PostDeliveryForm },
    beforeMount: function () {
        this.handleCreate('post-delivery', this.url, {})

        this.getPostDelivery()
    }
}
</script>
