<template>
    <div>
        <div class = "alert alert-custom alert-white alert-shadow kt-portlet" role = "alert">

            <h3 class = "text-info">{{ $t('Event details') }}</h3>
        </div>
        <div class = "kt-portlet">
            <div class = "kt-portlet__body">
                <div class = "kt-form kt-form--label-right">
                    <div class = "kt-form__body">
                        <div class = "row">
                            <div class="col-md-6">
                                    <FormInput v-model = "model.name" :title = "$t('Name')"></FormInput>
                            </div>
                            <div class="col-md-6">
                                    <FormInput v-model = "model.email" :title = "$t('Email')"></FormInput>
                            </div>
                            <div class="col-md-6">
                                    <FormPhone v-model = "model.phone" :title = "$t('Phone')"></FormPhone>
                            </div>
                            <div class="col-md-6">
                                <FormSelect v-model = "model.status" :options="model.selectables.statusMessage" :title = "$t('Status')"></FormSelect>
                            </div>
                            <div class="col-md-12">
                                    <FormTextArea v-model = "model.message" :title = "$t('Message')"></FormTextArea>
                            </div>
                            <div class="col-md-12">
                                    <h2>{{$t('Reply message')}}</h2>
                            </div>
                            <div class="col-md-6">
                                    <FormInput v-model = "model.subject" :title = "$t('Subject')"></FormInput>
                            </div>
                            <div class="col-md-12">
                                    <FormTextArea v-model = "model.content" :title = "$t('Reply')"></FormTextArea>
                            </div>
                            <div class="col-md-12">
                                    <button type="button" class="btn btn-success" @click.prevent="sendReply()">{{$t('Send reply')}}</button>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import FormInput from '../../../../../../resources/js/components/form/FormInput'
import FormTextArea from '../../../../../../resources/js/components/form/FormTextArea'
import FormSelect from '../../../../../../resources/js/components/form/FormSelect'
import FormPhone from '../../../../../../resources/js/components/form/FormPhone'

export default {
    name: 'MessageForm',
    props: {
        url: {
            required: true,
            type: String
        },
        model: {
            required: true,
            type: Object
        }
    },
    data () {
        return {}
    },
    computed: {},
    components: { FormInput, FormTextArea, FormSelect, FormPhone },
    methods: {
        sendReply () {
            this.axios.post(this.url + '/send-reply', this.model).then(() => {
                console.log('success')
            })
        }
    },
    created () {
    },
    mounted () {
    }
}
</script>
