<template>
  <div>
    <div class = "alert alert-custom alert-white alert-shadow kt-portlet" role = "alert">

      <h3 class = "text-info">{{ $t('Állampolgárság') }}</h3>
    </div>
    <div class = "kt-portlet">
      <div class = "kt-portlet__body">
        <div class = "kt-form kt-form--label-right">
          <div class = "kt-form__body">
            <div class = "row mt-2">
              <div class = "col-md-4" >
                    <FormInput v-model="model.name"  :title="$t('Megnevezés')"></FormInput>
                </div>
              <div class = "col-md-4" >
                    <FormInput v-model="model.code"  :title="$t('Kód')"></FormInput>
              </div>
              <div class = "col-md-4" >
                    <FormSelect v-model="model.discount"  :title="$t('Vontakozik rá a 25 év alatti kedvezmény?')" :options="{'0':'Nem','1':'Igen'}"></FormSelect>
              </div>

              </div>
            </div>
          </div>

      </div>
    </div>
  </div>
</template>

<script>
import FormInput from '../../../../../../resources/js/components/form/FormInput'
import FormSelect from '../../../../../../resources/js/components/form/FormSelect.vue'

export default {
    name: 'NationalityForm',
    props: {
        url: {
            required: true,
            type: String
        },
        model: {
            required: true,
            type: Object
        }
    },
    data () {
        return {
            industry: []
        }
    },
    computed: {
        languages: function () {
            const l = []
            for (const it in this.$store.state.defaultStore.languages) {
                l.push(it)
            }
            return l
        }
    },
    components: { FormInput, FormSelect },
    methods: {
    },
    created () {},
    mounted () {}
}
</script>
