<template>
    <NationalityForm v-if="Object.keys(model).length > 0" :url="url" :model="model"></NationalityForm>
</template>

<script>
import NationalityForm from './NationalityForm'
import Nationality from './Nationality'

export default {
    name: 'NationalityEdit',
    extends: Nationality,
    data () {
        return {
            model: {}
        }
    },
    components: { NationalityForm },
    beforeMount: function () {
        this.handleUpdate('nationality', this.url, {})

        this.getNationality()
    }
}
</script>
