<template>
    <RealizationForm v-if="Object.keys(model).length > 0" :url="url" :model="model"></RealizationForm>
</template>

<script>
import RealizationForm from './RealizationForm'
import Realization from './Realization'

export default {
    name: 'RealizationCreate',
    extends: Realization,
    data () {
        return {
            model: {}
        }
    },
    components: { RealizationForm },
    beforeMount: function () {
        this.handleCreate('realization', this.url, {})

        this.getRealization()
    }
}
</script>
