<template>
    <div class="table-responsive">
        <BaseDatatable v-if="loaded" :multiple-actions="multipleAction" :module="`realization`" :apiurl="url" :list-url="`${url}/index`" :fields="fields"></BaseDatatable>
    </div>
</template>

<script>
import BaseDatatable from '../../../../../../resources/js/components/BaseDatatable'
export default {
    name: 'RealizationList',
    props: ['url'],
    components: { BaseDatatable },
    data () {
        return {
            loaded: true,
            multipleAction: {
                localStorageVariable: 'selectedRealization', // milyen local Storagebe rakja
                trackBy: 'id', // milyik oszlopot figyelje
                actions: [
                    {
                        name: this.$translate.t('Delete'),
                        trigger: 'bulkDelete'
                    }
                ]
            },
            apiurl: this.url,
            fields: [
                {
                    name: 'id',
                    sortField: 'id',
                    title: this.$translate.t('ID')
                },
                {
                    name: 'start',
                    sortField: 'start',
                    title: this.$translate.t('Start')
                },
                {
                    name: 'end',
                    sortField: 'end',
                    title: this.$translate.t('End')
                },
                {
                    name: 'monday',
                    sortField: 'monday',
                    title: this.$translate.t('monday')
                },
                {
                    name: 'tuesday',
                    sortField: 'tuesday',
                    title: this.$translate.t('Tuesday')
                },
                {
                    name: 'wednesday',
                    sortField: 'wednesday',
                    title: this.$translate.t('Wednesday')
                },
                {
                    name: 'thursday',
                    sortField: 'thursday',
                    title: this.$translate.t('Thursday')
                },
                {
                    name: 'friday',
                    sortField: 'friday',
                    title: this.$translate.t('Friday')
                },
                {
                    name: 'saturday',
                    sortField: 'saturday',
                    title: this.$translate.t('Saturday')
                },
                {
                    name: 'sunday',
                    sortField: 'sunday',
                    title: this.$translate.t('Sunday')
                },
                {
                    name: 'work',
                    sortField: 'work',
                    title: this.$translate.t('Work')
                },
                {
                    name: 'location',
                    sortField: 'location',
                    title: this.$translate.t('Location')
                },
                {
                    name: 'underage',
                    sortField: 'underage',
                    title: this.$translate.t('Underage')
                },
                {
                    name: 'student_id',
                    sortField: 'student_id',
                    title: this.$translate.t('Student')
                },
                {
                    name: '__slot:actions',
                    title: this.$translate.t('Actions')
                }
            ]
        }
    }
}
</script>
