<template>
    <div class="kt-portlet">
        <div class="kt-portlet__body">
            <div class="kt-form kt-form--label-right">
                <div class="kt-form__body">
                    <FormDatePicker v-model="model.start"  :title="$t('Start')"></FormDatePicker>
<FormDatePicker v-model="model.end"  :title="$t('End')"></FormDatePicker>
<FormSelect v-model="model.monday"  :title="$t('monday')" v-if="model && model.selectables && {}" :options="{}"></FormSelect>
<FormSelect v-model="model.tuesday"  :title="$t('Tuesday')" v-if="model && model.selectables && {}" :options="{}"></FormSelect>
<FormSelect v-model="model.wednesday"  :title="$t('Wednesday')" v-if="model && model.selectables && {}" :options="{}"></FormSelect>
<FormSelect v-model="model.thursday"  :title="$t('Thursday')" v-if="model && model.selectables && {}" :options="{}"></FormSelect>
<FormSelect v-model="model.friday"  :title="$t('Friday')" v-if="model && model.selectables && {}" :options="{}"></FormSelect>
<FormSelect v-model="model.saturday"  :title="$t('Saturday')" v-if="model && model.selectables && {}" :options="{}"></FormSelect>
<FormSelect v-model="model.sunday"  :title="$t('Sunday')" v-if="model && model.selectables && {}" :options="{}"></FormSelect>
<FormInput v-model="model.work"  :title="$t('Work')"></FormInput>
<FormSelect v-model="model.location"  :title="$t('Location')" v-if="model && model.selectables && {}" :options="{}"></FormSelect>
<FormSelect v-model="model.underage"  :title="$t('Underage')" v-if="model && model.selectables && {}" :options="{}"></FormSelect>
<FormSelect v-model="model.student_id"  :title="$t('Student')" v-if="model && model.selectables && {}" :options="{}"></FormSelect>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
import FormDatePicker from '../../../../../../resources/js/components/form/FormDatePicker'
import FormSelect from '../../../../../../resources/js/components/form/FormSelect'
import FormInput from '../../../../../../resources/js/components/form/FormInput'

export default {
    name: 'RealizationForm',
    props: {
        url: {
            required: true,
            type: String
        },
        model: {
            required: true,
            type: Object
        }
    },
    data () {
        return {

        }
    },
    computed: {
        languages: function () {
            const l = []
            for (const it in this.$store.state.defaultStore.languages) {
                l.push(it)
            }
            return l
        }
    },
    components: { FormDatePicker, FormSelect, FormInput },
    methods: {},
    created () {},
    mounted () {}
}
</script>
