<template>
  <div>
    <div class="modal fade" id="contactModal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header bg-warning">
            <h5 class="modal-title">{{$t('Kapcsolattartó')}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <i aria-hidden="true" class="ki ki-close"></i>
            </button>
          </div>
          <div class="modal-body p-4">
            <div class="row">
            <div class="col-12">
              <FormInput v-model="localModel.name" :title="$t('Név')"></FormInput>
            </div>
              <div class="col-12">
                <FormInput v-model="localModel.position" :title="$t('Beosztás')"></FormInput>
              </div>
              <div class="col-12">
                <FormInput v-model="localModel.email" :title="$t('Email')"></FormInput>
              </div>
              <div class="col-12">
                <FormPhone v-model="localModel.phone" :title="$t('Telefon')"></FormPhone>
              </div>
          </div>
          <div class="modal-footer ">
            <button type="button" class="btn btn-primary" data-dismiss="modal">{{$t('Mégse')}}</button>
            <button type="button" class="btn btn-success" @click="save()">{{$t('Hozzáad')}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</template>

<script>
import FormInput from '../../../../../../../resources/js/components/form/FormInput'
import FormPhone from '../../../../../../../resources/js/components/form/FormPhone'
export default {
    name: 'ContactForm',
    props: {
        url: {
            required: true,
            type: String
        },
        model: {
            required: true,
            type: Object
        }
    },
    components: { FormInput, FormPhone },
    data () {
        return {
            localModel: {}
        }
    },

    watch: {
        model: {
            handler: function (val, oldVal) {
                if (val !== oldVal) {
                    this.localModel = val
                }
            }
        }
    },
    methods: {
        save () {
            if (this.model.id) {
                this.axios.post(this.url + '/edit/' + this.model.id, this.localModel).then(() => {
                    this.$emit('refresh', true)
                    window.$('#contactModal').modal('hide')
                })
            } else {
                this.axios.put(this.url + '/edit', this.localModel).then(() => {
                    this.$emit('refresh', true)
                    window.$('#contactModal').modal('hide')
                })
            }
        }
    },

    created () {},
    mounted () {}
}
</script>
