<template>
  <div class = "col-12">
    <div>
      <button class = "btn btn-success" @click="openContactModal()">Új kapcsolattartó</button>
    </div>
    <ContactForm :url="url" v-on:refresh="getContact" :model = "selected"></ContactForm>
    <div class = "table-responsive">
      <table class = "table table-bordered table-responsive0">

        <tr>
          <th>Név</th>
          <th>Beosztás</th>
          <th>Email</th>
          <th>Telefon</th>
          <th>Művelet</th>
        </tr>
        <tbody>
        <tr v-for = "item in list" v-bind:key = "'contact-'+item.id">
          <td>{{ item.name }}</td>
          <td>{{ item.position }}</td>
          <td>{{ item.email }}</td>
          <td>{{ item.phone }}</td>
          <td>
            <button class="btn btn-outline btn-sm btn-primary" @click="openContactModal(item)"><i  class="la la-edit"></i></button>
            <DeleteConfirm v-on:delete="deleteContact(item.id)"></DeleteConfirm>
          </td>
        </tr>
        <tr v-if="!list.length">
          <td colspan="5" class="text-center">Nincs adat</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import ContactForm from './ContactForm'
import DeleteConfirm from '../../../../../../../resources/js/components/DeleteConfirm'

export default {
    name: 'ContactList',
    props: ['company_id'],
    components: { ContactForm, DeleteConfirm },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/contact`
        }
    },
    data () {
        return {
            list: [],
            fields: {},
            selected: {}
        }
    },
    methods: {
        getContact () {
            this.axios.get(this.url + '/list/' + this.company_id).then(resp => {
                this.list = resp.data.data
                this.$emit('refresh')
            })
        },
        openContactModal (model) {
            if (!model) {
                this.selected = {}
                this.selected.company_id = this.company_id
            } else {
                this.selected = JSON.parse(JSON.stringify(model))
            }
            window.$('#contactModal').modal('show')
        },
        deleteContact (id) {
            this.axios.delete(this.url + '/delete/' + id).then(resp => {
                this.getContact()
            })
        }
    },
    created () {
        this.getContact()
    }
}
</script>
