<template>
    <div class="">
        <div class="row">
          <StudentAdhoc    :model="{ student_id: student.id, company: (selectedAdhock)?selectedAdhock.company_name:0, industry_id: selectedAdhock?selectedAdhock.industry_id:0 }"></StudentAdhoc>
            <div class="col-12">
                <h1 class="title text-center text-white"
                    v-if="works ">Munkahelyek</h1>
                <div class="table-responsive">
                    <table v-if="works " class="table table-bordered">
                        <tr>
                            <th>Cég</th>
                            <th>Tevékenység</th>
                            <th>Eseti nyomtatása</th>
                        </tr>
                        <tr v-for="(d,i) in works" v-bind:key="'work'+i">
                            <td>{{ d.company_name }}</td>
                            <td>{{ d.industry_name }}</td>
                          <td><button type="button" @click="openEsetei(d)" class="btn btn-sm btn-info"><i class="fa fa-file-pdf"></i> </button></td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
import FormMonthPicker from '../../../../../../../resources/js/components/form/FormMonthPicker'
import StudentAdhoc from '../StudentAdhoc'
import Price from '../../../../../../../resources/js/components/Price'

export default {
    name: 'Works',
    props: ['student'],
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/`
        }
    },
    data () {
        return {
            selectedAdhock: null,
            works: null
        }
    },
    components: { Price, FormMonthPicker, StudentAdhoc },
    methods: {
        getWorks () {
            this.axios.get(this.url + 'student/get-works/' + this.student.id).then((response) => {
                this.works = response.data.data
            })
        },
        openEsetei (data) {
            this.selectedAdhock = data

            window.$('#studentAdhocModal').modal('show')
        }
    },
    mounted () {
        this.getWorks()
    }
}
</script>
