<template>
    <div class="kt-form kt-form--label-right">
        <div class="row align-items-center">
            <div class="col-xl-12 ">
                <div class="row align-items-center">
                    <div class="kt-margin-b-20-tablet-and-mobile" style="max-width: 250px" v-for="(item, index) in localSearches"
                         v-bind:key="'filter-'+index" v-bind:class="divClass(item)">
                        <template v-if="localSearches && localSearches.length > 0
">
                            <FormInput v-if="item.type === 'text' || item.type === 'raw'" v-model="query[item.name]" :title="$t(item.title)"
                                        :name-attr="item.name"></FormInput>
                            <FormSelectCheckbox v-if="item.type === 'select_checkbox'" v-model="query[item.name]" v-on:blurEvent="query[item.name]=$event" :title="$t(item.title)" :options="item.data"></FormSelectCheckbox>
                            <FormSelect v-if="item.type === 'select'" :select2="true" v-model="query[item.name]" :title="$t(item.title)"
                                        :options="item.data" :name-attr="item.name"></FormSelect>
                            <FormSelect v-if="item.type === 'json'" :select2="true" v-model="query[item.name]" :title="$t(item.title)"
                                        :options="item.data" :name-attr="item.name"></FormSelect>
                            <FormDateRangePicker v-if="item.type === 'date_interval'" v-model="query[item.name]" :title="$t(item.title)" :name-attr="item.name"></FormDateRangePicker>
                            <FormDatePicker v-if="item.type === 'date'" v-model="query[item.name]" :title="$t(item.title)" :name-attr="item.name"></FormDatePicker>
                            <FormMonthPicker v-if="item.type === 'month_picker'" v-model="query[item.name]" :title="$t(item.title)" :name-attr="item.name"></FormMonthPicker>
                            <FormTags v-if="item.type === 'tags'" v-model="query[item.name]" :title="$t(item.title)" :name-attr="item.name"></FormTags>
                            <div class="form-group" v-if="item.type === 'interval'">
                                <label>{{item.title}}</label>
                                <div class="input-group">
                                    <div class="input-group-prepend" style="max-width: 50%; width: 50%;">
                                        <input type="text" class="form-control" v-model="query[item.name + '_from']"  :name-attr="item.name">
                                    </div>
                                    <input type="text" class="form-control" v-model="query[item.name + '_to']"  :name-attr="item.name">
                                </div>
                            </div>
                        </template>
                    </div>
                    <div class="col kt-margin-b-20-tablet-and-mobile" v-if="!localSearches || localSearches.length < 1">
                        <FormInput v-model="query['search']" :title="$t('Search')" ></FormInput>
                    </div>
                    <div class="col kt-margin-b-20-tablet-and-mobile">
                        <button @click="resetFilter" type="button" class="btn btn-danger mb-3" :title="$t('reset')"><i class="fa fa-trash"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import FormInput from './form/FormInput'
import FormSelect from './form/FormSelect'
import FormDateRangePicker from './form/FormDateRangePicker'
import FormDatePicker from './form/FormDatePicker'
import FormTags from './form/FormTags'
import FormMonthPicker from './form/FormMonthPicker'
import FormSelectCheckbox from './form/FormSelectCheckbox'
export default {
    name: 'BaseFilter',
    components: { FormTags, FormDatePicker, FormDateRangePicker, FormSelect, FormInput, FormMonthPicker, FormSelectCheckbox },
    props: {
        searches: {
            type: Array
        }
    },
    data () {
        return {
            query: {},
            filterName: null,
            timeout: null,
            filters: [],
            firstLoad: true,
            localSearches: []
        }
    },
    beforeMount () {
        this.localSearches = this.searches
        const routeQuery = JSON.parse(JSON.stringify(this.$route.query))
        for (const it in this.localSearches) {
            this.query[it] = null
        }
        for (const it in routeQuery) {
            this.query[it] = routeQuery[it]
        }
    },
    mounted () {
        this.basicQueryInit(JSON.parse(JSON.stringify(this.$route.query)))

        this.filters = JSON.parse(localStorage.getItem('filters'))
    },
    watch: {
        query: {
            handler: function (val, oldVal) {
                console.log('changed')
                this.startFilter()
            },
            deep: true
        },
        $route: {
            handler: function (val, oldVal) {
                if (this.firstLoad) {
                    this.basicQueryInit(JSON.parse(JSON.stringify(val.query)))
                }
            },
            deep: true
        }
    },
    methods: {
        divClass: function (item) {
            let c = ''
            if (this.localSearches.length < 5) {
                c = 'col'
            } else {
                c = 'col-md-3'
            }

            return c
        },
        basicQueryInit (val) {
            this.query = {}
            for (const it in this.query) {
                if (val[it]) {
                    this.query[it] = val[it]
                } else {
                    this.query[it] = null
                }
            }
            console.log('basicQueryInit')
            this.firstLoad = false
        },
        deleteFilter (id) {
            const self = this
            const uri = `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/user/filter/delete`
            swal.fire({
                title: this.$t('Are you sure?'),
                text: this.$t('You won\'t be able to revert this!'),
                type: 'warning',
                showCancelButton: !0,
                confirmButtonText: this.$t('Confirm!'),
                cancelButtonText: this.$t('No, cancel!'),
                reverseButtons: !0
            }).then(function (e) {
                if (e.value) {
                    self.axios.delete(uri + '/' + id).then((response) => {
                        localStorage.setItem('filters', JSON.stringify(response.data))
                        self.filters = response.data
                    })
                }
            })
        },
        saveFilter () {
            const routeQuery = JSON.parse(JSON.stringify(this.$route.query))
            const routeParams = JSON.parse(JSON.stringify(this.$route.params))
            if (this.filterName !== null && this.filterName !== '') {
                const uri = `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/user/filter/save`
                this.axios.post(uri, {
                    name: this.filterName,
                    path: this.$route.name,
                    query: routeQuery,
                    params: routeParams
                }).then((response) => {
                    this.filterName = null
                    localStorage.setItem('filters', JSON.stringify(response.data))
                    this.filters = response.data
                })
            }
        },
        startFilter () {
            clearTimeout(this.timeout)
            const self = this
            const localQuery = {}
            console.log(this.query)
            for (const it in this.query) {
                if (this.query[it] !== null) {
                    localQuery[it] = this.query[it]
                }
                if (!self.initLoad && it === 'page') {
                    localQuery[it] = 1
                }
            }
            console.log(localQuery)
            this.timeout = setTimeout(function () {
                self.$router.push({ query: Object.assign({}, self.$route.query, localQuery) })
                self.initLoad = false
            }, 500)
        },
        resetFilter () {
            if (Object.keys(this.$route.query).length > 0) {
                this.$router.replace({ name: this.$route.name })
            }
        }
    }
}
</script>
