<template>
    <div v-if="loaded" class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__body" v-if="!disableFilter">
            <base-filter v-if="filterLoaded" :searches="filters"></base-filter>
        </div>
        <div class="kt-portlet__body kt-portlet__body--fit">
            <div class="kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--loaded"
                 style="margin: 20px">
                <div v-if="multipleActions && multipleActions.actions" class="btn-group">
                    <a class="btn btn-circle btn-default dropdown-toggle" data-toggle="dropdown" href="javascript:;"
                       aria-expanded="false"> {{$t('Group actions')}}
                        <i class=""></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li v-for="(action,index) in multipleActions.actions" v-bind:key="'dropdown-' + index">
                            <a href="javascript:;" @click="handleTrigger(action.trigger)"> {{action.name}}

                            </a>
                        </li>

                    </ul>
                </div>
                <div v-bind:class="{'table-responsive':!noResponsive}" >
                    <VuetableCustom ref="vuetable"
                              :api-url="listUrl"
                              :fields="computedFields"
                              :css="css.table"
                              :per-page="per_page"
                              pagination-path=""
                              :track-by="trackBy"
                              :initial-page="initialPage"
                              data-path="mydata"
                              :append-params="queryParams"
                              :no-data-template="$t('No releavant data')"
                              :http-options="{ headers: {Authorization: 'Bearer ' + token, Language: language} }"
                              @vuetable:pagination-data="onPaginationData"
                              @vuetable:loaded="onLoaded"
                              @vuetable:load-success="loadSuccess"
                              @vuetable:checkbox-toggled="toggledChbox($event)"
                              @vuetable:checkbox-toggled-all="toggledChbox($event)"
                    >
                        <template slot="checkboxSupplier" slot-scope="props">
                            <div class="m-checkbox-list">
                                <label class="m-checkbox">
                                    <input type="checkbox" @change="setChecked(props.rowData)">
                                    <span></span>
                                </label>
                            </div>
                        </template>
                        <template slot="component"   slot-scope="props"    >
                            <component v-on:refresh="$refs.vuetable.refresh()" v-if="computedFields[props.colIndex].componentName" :data="props.rowData" :componentProps="componentProps"  :is="computedFields[props.colIndex].componentName"></component>
                        </template>
                        <template slot="orderStatus" slot-scope="props">
                            <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--rounded" v-bind:class="'kt-badge--' + props.rowData.order_status.badge">{{props.rowData.order_status_name}}</span>
                        </template>
                        <template slot="realization-monday" slot-scope="props">
                            <img  v-if="props.rowData.monday===0" src="/images/0.svg" :title="'Nem ér rá'" width="25px">
                            <img v-if="props.rowData.monday===1" src="/images/1.svg" title="Egész nap ráér" width="25px">
                            <img v-if="props.rowData.monday===2" src="/images/2.svg" title="Délelőtt ráér" width="25px">
                            <img style="transform: rotate(180deg)" v-if="props.rowData.monday===3" src="/images/3.svg" title="Délután ráér" width="25px">
                        </template>
                        <template slot="realization-tuesday" slot-scope="props">
                            <img  v-if="props.rowData.tuesday===0" src="/images/0.svg" :title="'Nem ér rá'" width="25px">
                            <img v-if="props.rowData.tuesday===1" src="/images/1.svg" title="Egész nap ráér" width="25px">
                            <img v-if="props.rowData.tuesday===2" src="/images/2.svg" title="Délelőtt ráér" width="25px">
                            <img style="transform: rotate(180deg)" v-if="props.rowData.tuesday===3" src="/images/3.svg" title="Délután ráér" width="25px">
                        </template>
                        <template slot="realization-wednesday" slot-scope="props">
                            <img  v-if="props.rowData.wednesday===0" src="/images/0.svg" :title="'Nem ér rá'" width="25px">
                            <img v-if="props.rowData.wednesday===1" src="/images/1.svg" title="Egész nap ráér" width="25px">
                            <img v-if="props.rowData.wednesday===2" src="/images/2.svg" title="Délelőtt ráér" width="25px">
                            <img style="transform: rotate(180deg)" v-if="props.rowData.wednesday===3" src="/images/3.svg" title="Délután ráér" width="25px">
                        </template>
                        <template slot="realization-thursday" slot-scope="props">
                            <img  v-if="props.rowData.thursday===0" src="/images/0.svg" :title="'Nem ér rá'" width="25px">
                            <img v-if="props.rowData.thursday===1" src="/images/1.svg" title="Egész nap ráér" width="25px">
                            <img v-if="props.rowData.thursday===2" src="/images/2.svg" title="Délelőtt ráér" width="25px">
                            <img style="transform: rotate(180deg)" v-if="props.rowData.thursday===3" src="/images/3.svg" title="Délután ráér" width="25px">
                        </template>
                        <template slot="realization-friday" slot-scope="props">
                            <img  v-if="props.rowData.friday===0" src="/images/0.svg" :title="'Nem ér rá'" width="25px">
                            <img v-if="props.rowData.friday===1" src="/images/1.svg" title="Egész nap ráér" width="25px">
                            <img v-if="props.rowData.friday===2" src="/images/2.svg" title="Délelőtt ráér" width="25px">
                            <img style="transform: rotate(180deg)" v-if="props.rowData.friday===3" src="/images/3.svg" title="Délután ráér" width="25px">
                        </template>
                        <template slot="realization-saturday" slot-scope="props">
                            <img  v-if="props.rowData.saturday===0" src="/images/0.svg" :title="'Nem ér rá'" width="25px">
                            <img v-if="props.rowData.saturday===1" src="/images/1.svg" title="Egész nap ráér" width="25px">
                            <img v-if="props.rowData.saturday===2" src="/images/2.svg" title="Délelőtt ráér" width="25px">
                            <img style="transform: rotate(180deg)" v-if="props.rowData.saturday===3" src="/images/3.svg" title="Délután ráér" width="25px">
                        </template>
                        <template slot="realization-sunday" slot-scope="props">
                            <img  v-if="props.rowData.sunday===0" src="/images/0.svg" :title="'Nem ér rá'" width="25px">
                            <img v-if="props.rowData.sunday===1" src="/images/1.svg" title="Egész nap ráér" width="25px">
                            <img v-if="props.rowData.sunday===2" src="/images/2.svg" title="Délelőtt ráér" width="25px">
                            <img style="transform: rotate(180deg)" v-if="props.rowData.sunday===3" src="/images/3.svg" title="Délután ráér" width="25px">
                        </template>
                        <template slot="editWorkSafety" slot-scope="props">
                            <a  href="#" class="btn btn-warning" title="Jóváhagyás" @click.prevent="openWorkSafety(props.rowData)"><i class="fa fa-check"></i></a>
                        </template>
                        <template slot="image" slot-scope="props">
                            <ImageLazy style="max-width: 150px" :image="props.rowData.image" :alt="props.rowData.name"></ImageLazy>
                        </template>
                        <template slot="slider_image" slot-scope="props">
                            <ImageLazy style="max-width: 150px" :image="props.rowData.image_path" :alt="props.rowData.name"></ImageLazy>
                        </template>
                        <template slot="commentStudent" slot-scope="props">
                            <div  @click.prevent.stop="" v-if="props.rowData.comment" :title="props.rowData.comment" data-html="true" data-toggle="tooltip" data-theme="dark" >{{props.rowData.comment.split("\n")[0] }} <i class="fa fa-question-circle"></i></div>
                        </template>
                      <template slot="projectComment" slot-scope="props">
                        <div  @click.prevent.stop="" v-if="props.rowData.comment" :title="props.rowData.comment" data-html="true" data-toggle="tooltip" data-theme="dark" > <i class="fa fa-question-circle"></i></div>
                      </template>
                      <template slot="completion" slot-scope="props">
                        <div class="progress">
                          <div v-if="props.rowData.completion>=1" class="progress-bar progress-bar-striped bg-success" role="progressbar" :title="'100%'" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                          <div v-if="props.rowData.completion<1 && props.rowData.completion>0.5" class="progress-bar progress-bar-striped bg-warning" :title="props.rowData.completion*100+'%'" role="progressbar" :style="'width:' +props.rowData.completion*100+'%'" :aria-valuenow="props.rowData.completion*100" aria-valuemin="0" aria-valuemax="100"></div>
                          <div v-if=" props.rowData.completion<=0.5" class="progress-bar progress-bar-striped bg-danger" role="progressbar"  :title="props.rowData.completion*100+'%'" :style="'width:' +props.rowData.completion*100+'%'" :aria-valuenow="props.rowData.completion*100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </template>
                      <template slot="priority" slot-scope="props">
                        <div class="row ">
                        <div class="col-7" v-bind:class="{'height':props.rowData.priority==2,'normal':props.rowData.priority==1}">
                        <i v-if="props.rowData.priority==2" class="fa fa-exclamation-triangle" aria-hidden="true" ></i>
                        <i v-if="props.rowData.priority==1" class="fa fa-exclamation" aria-hidden="true"></i>
                        </div>
                          <div class="col-5">
                        <button class="btn btn-xs btn-outline-secondary float-right" style="padding: 5px" @click="setPritorty(props.rowData.id)"><i  class=" la la-gear"></i></button>
                        </div>
                        </div>
                      </template>
                        <template slot="student_link" slot-scope="props">
                            <router-link target="_blank" :to="'/admin/student/edit/'+props.rowData.student_id">{{props.rowData.student_name}}</router-link>
                        </template>
                      <template slot="pdf_link" slot-scope="props">
                        <a v-if="props.rowData.file" href="#" class="btn btn-primary" @click.prevent="openPdf('/'+props.rowData.file)"><i class="fa fa-file-pdf"></i></a>
                      </template>
                        <template slot="stockInput" slot-scope="props">
                            <div class="row">
                                <template v-for="(item, index) in props.rowData.stocks">
                                    <div class="col" v-bind:key="'stocks-' + index + '-' + props.rowIndex" v-if="item !== false">
                                        <FormNumberInput v-model="props.rowData.stocks[index].quantity" :title="props.rowData.stocks[index].name" :min="0"></FormNumberInput>
                                    </div>
                                </template>
                            </div>
                        </template>
                        <template slot="updateStock" slot-scope="props">
                            <button type="button" class="btn btn-info" @click="updateStock(props)">{{$t('Update')}}</button>
                        </template>
                        <template slot="actions" slot-scope="props">
                            <div class="btn btn-outline btn-xs btn-primary" @click="editAction(props.rowData, props.rowIndex)"><i
                                        class="la la-edit"></i> </div>
                                    <div class="btn btn-outline btn-xs btn-danger" @click="deleteAction(props.rowData, props.rowIndex)"><i
                                        class="la la-trash"></i> </div>
                        </template>
                        <template slot="action_view" slot-scope="props">
                            <div class="btn btn-outline btn-xs btn-primary" @click="editAction(props.rowData, props.rowIndex)"><i
                                class="la la-eye"></i> </div>
                        </template>
                      <template slot="action_delete" slot-scope="props">
                        <div class="btn btn-outline btn-xs btn-danger" @click="deleteAction(props.rowData, props.rowIndex)"><i
                            class="la la-trash"></i> </div>
                      </template>
                        <template slot="emailModal" slot-scope="props">
                            <div class="d-inline-flex">

                                <button v-if="!props.rowData.exit_date" class="btn btn-sm btn-label-dark" @click="sendEmail([{name:props.rowData.name,email:props.rowData.email}],props.rowData.status_id)">
                                    <i class="flaticon2-new-email"></i>
                                </button>
                                <button title="CV továbbítás" class="ml-1 btn btn-sm btn-label-dark" v-if="props.rowData.cv" @click="sendCVEmail({name:props.rowData.name,email:props.rowData.email,cv:props.rowData.cv,cv_name:props.rowData.cv_name})">
                                    <i class="fa fa-paper-plane"></i>
                                </button>
                                <span class="ml-2">{{props.rowData.email}}</span>
                            </div>
                        </template>
                      <template slot="number_of_employees" slot-scope="props">
                        <div class="d-inline-flex">
                          <FormNumberInput :name-attr="'project-count'" v-on:change="saveProjectEmploye($event,props.rowData)" input-class="p-0 m-0" readonly="true" :value="props.rowData.number_of_employees"></FormNumberInput>
                        </div>
                      </template>
                      <template slot="nameNewsletter" slot-scope="props">
                        <div class="d-inline-flex">
                          <span class="ml-2">{{props.rowData.name}}</span>
                            <i class="font-weight-bold fa-2x flaticon-danger kt-animate-blink text-info float-right" title="Nem kér hírlevelet" v-if="props.rowData.newsletter == 0"></i>
                        </div>
                      </template>
                      <template slot="nameNewsletterAndSafety" slot-scope="props">
                        <div class="d-inline-flex">
                          <span class="ml-2"><router-link :to="'/admin/student/edit/'+props.rowData.student_id">{{props.rowData.name}}</router-link></span>
                          <i class="font-weight-bold fa-2x flaticon-danger kt-animate-blink text-info float-right" title="Nem kér hírlevelet" v-if="props.rowData.newsletter == 0"></i>
                          <a href="#" v-if="props.rowData.answer > 0"  @click.prevent="openAnswerModal(props.rowData)">
                            <i class="font-weight-bold fa-2x flaticon-questions-circular-button  text-success float-right" title="Teszt megtekintése" ></i>
                            </a>
                          <i class="font-weight-bold fa-2x fa fa-stethoscope kt-animate-blink  float-right" v-bind:class="{'text-danger':(!props.rowData.expire_medical || new Date(props.rowData.expire_medical)< new Date()),'text-success':new Date(props.rowData.expire_medical)>= new Date()}" :title="'Orvosi igazolás kötelező! '+((props.rowData.expire_medical)? 'Lejár:'+props.rowData.expire_medical:'Nincs orvosi igazolása')" v-if="props.rowData.medical_certificate"></i>
                          <i class="font-weight-bold fa-2x fa fa-stethoscope kt-animate-blink  float-right" v-bind:class="{'text-danger':(!props.rowData.expire || new Date(props.rowData.expire)< new Date()),'text-success':new Date(props.rowData.expire)>= new Date()}" :title="'EÜ kiskönyv kötelező! '+((props.rowData.expire)? 'Lejár:'+props.rowData.expire:'Nincs EÜ kiskönyve')" v-if="props.rowData.eu_certificate"></i>
                            <a v-if="props.rowData.cv" href="#" @click.prevent="openPdf(props.rowData.cv)"><i class="font-weight-bold fa-2x fa fa-file-image text-info ml-2   float-right" @click="openPdf(props.rowData.cv)" :title="'CV'" ></i></a>
                        </div>
                      </template>
                      <template slot="card_status" slot-scope="props">
                        <div class="d-inline-flex">
                          <span class="badge bg-primary" v-if="props.rowData.card_status=='Beküldve'">{{props.rowData.card_status}}</span>
                          <span class="badge bg-success" v-if="props.rowData.card_status=='Elfogadva'">{{props.rowData.card_status}}</span>
                          <span class="badge bg-danger" v-if="props.rowData.card_status=='Elutasítva'">{{props.rowData.card_status}}</span>
                        </div>
                      </template>
                      <template slot="contract" slot-scope="props">
                        <div class="d-inline-flex">
                          <button class="btn btn-outline-warning" @click="openContractModal('MADS',props.rowData)">MADS</button>
                          <button class="btn btn-outline-success" @click="openContractModal('WORK',props.rowData)">WORK</button>
                          <button class="btn btn-outline-dark" @click="openContractModal('GOLD',props.rowData)">Gold</button>
                        </div>
                      </template>
                      <template slot="contract_show" slot-scope="props">
                        <div class="d-inline-flex">
                          <template v-for="c in props.rowData.contracts">
                            <router-link v-if="c && c.type=='mads'" v-bind:key="'contract-a-'+c.id" class="btn btn-warning" :to="'/admin/campaign/contract-list/show/'+c.id"><i class="fa fa-eye"></i></router-link>
                            <router-link v-if="c && c.type=='work'"  v-bind:key="'contract-b-'+c.id" class="btn btn-success" :to="'/admin/campaign/contract-list/show/'+c.id"><i class="fa fa-eye"></i></router-link>
                            <router-link v-if="c && c.type=='gold'"  v-bind:key="'contract-c-'+c.id" class="btn btn-dark" :to="'/admin/campaign/contract-list/show/'+c.id"><i class="fa fa-eye"></i></router-link>
                          </template>
                        </div>
                      </template>
                      <template slot="passiv" slot-scope="props">
                        <div class="text-right" v-bind:class="{'text-green':props.rowData.status == 'Aktív','text-danger':props.rowData.status != 'Aktív'}">
                          <b>{{props.rowData.status}}</b>
                        </div>
                      </template>
                      <template slot="date-range" slot-scope="props">
                        <div class="text-right">
                          {{props.rowData.start}}-{{props.rowData.end}}
                        </div>
                      </template>
                      <template slot="startDate" slot-scope="props">
                        <div class="d-inline text-nowrap">
                          {{props.rowData.start_date}} <button @click="emitStartDate(props.rowData)" class="btn btn-xs btn-outline-success" title="Kezdődátum beállítása"><i class="flaticon2-start-up" ></i> </button>
                        </div>
                      </template>
                      <template slot="work-active" slot-scope="props">
                        <div class="text-right">
                          <div class="text-green" v-if="props.rowData.status=='Aktív' ||(props.rowData.status!='Aktív' && props.rowData.student_25_year>props.rowData.end)"><b>Dolgozhat</b></div>
                          <div class="text-warning" v-if="props.rowData.status!='Aktív' && props.rowData.start<=props.rowData.student_25_year && props.rowData.student_25_year <=props.rowData.end"><b>{{ props.rowData.student_25_year }}</b></div>
                            <div class="text-warning" v-if="props.rowData.status!='Aktív' && props.rowData.start>props.rowData.student_25_year "><b>Nem dolgozhat</b></div>
                        </div>
                      </template>
                        <template slot="actionsOrder" slot-scope="props">
                            <div class="btn btn-outline btn-xs btn-primary" @click="editAction(props.rowData, props.rowIndex)"><i
                                class="la la-edit"></i> </div>
                        </template>
                        <template slot="phone" slot-scope="props">
                            <a :href="'tel:'+props.rowData.phone">{{props.rowData.phone}}</a>
                        </template>
                    </VuetableCustom>
                </div>
                <div class="kt-datatable__pager kt-datatable--paging-loaded">
                    <vuetable-pagination-bootstrap ref="pagination" class="pull-right"
                                                   @vuetable-pagination:change-page="onChangePage"></vuetable-pagination-bootstrap>

                    <vuetable-pagination-info v-if="language != 'hu'" ref="paginationInfo"
                                              info-template="Showing record {from} to {to} of {total} records"
                                              no-data-template="No relevant data">

                    </vuetable-pagination-info>
                    <vuetable-pagination-info v-if="language == 'hu'" ref="paginationInfo"
                                              info-template="Találatok mutatása {from}-tól {to}-ig a {total}-ból"
                                              no-data-template="Nincs találat">

                    </vuetable-pagination-info>
                </div>
            </div>
        </div>
      <PriorityModal v-on:refresh="$refs.vuetable.refresh()"></PriorityModal>
    </div>
</template>

<script>
import VuetableCustom from './VuetableCustom'
import VuetablePaginationBootstrap from './VuetablePaginationBootstrap'
import VuetablePaginationInfo from 'vuetable-2/src/components/VuetablePaginationInfo'
import BaseFilter from './BaseFilter'
import ImageLazy from './ImageLazy'
import FormInput from './form/FormInput'
import FormNumberInput from './form/FormNumberInput'
import EmailModal from '../../../Modules/Email/Resources/assets/js/components/EmailModal'
import EmailCvModal from '../../../Modules/Email/Resources/assets/js/components/EmailCvModal.vue'

import {
    ADD_BODY_CLASSNAME,
    REMOVE_BODY_CLASSNAME
} from '../store/modules/htmlclass.module.js'
import swal from 'sweetalert2'
export default {
    name: 'BaseDatatable',
    props: {
        componentProps: null,
        disableFilter: {
            type: Boolean,
            default: false
        },
        noResponsive: {
            type: Boolean,
            default: false
        },
        multipleActions: {
            localStorageVariable: String,
            actions: Object // {title:"Move To",trigger: 'moveTo'}
        },
        /* example
             * multipleActions:{
                         localStorageVariable: 'selectedLead', // milyen local Storagebe rakja
                         trackBy: 'name', //milyik oszlopot figyelje
                         actions: [
                              {
                                  name:'Add to event',
                                  trigger: 'addToEvent', Ezt az eventet triggerele ha kattint, fel kell iratkozni az datatable-ben rá
                              },
                         ]
                        },
              * */
        selectedIds: {
            type: Array
        },
        apiurl: {
            type: String,
            required: true
        },
        module: {
            type: String,
            required: true
        },
        fields: {
            type: Array,
            required: true
        },
        sortOrder: {
            type: Array,
            default () {
                return []
            }
        },
        loaded: {
            default: 1
        },
        listUrl: {
            required: true
        },
        detailRowComponent: {
            type: String
        }
    },
    data () {
        return {
            filterLoaded: false,
            timeoutProject: null,
            trackBy: 'id',
            loading: true,
            token: $cookies.get('token'),
            moreParams: JSON.parse(JSON.stringify(this.$route.query)),
            filters: [],
            per_page: 50,
            initialPage: 1,
            recipients: [],
            baseUrl: process.env.API_URL,
            css: {
                table: {
                    tableClass: 'table table-bordered table-striped',
                    ascendingIcon: 'fa fa-caret-down',
                    descendingIcon: 'fa fa-caret-up'
                }
            }
        }
    },
    components: {
        FormNumberInput,
        FormInput,
        ImageLazy,
        BaseFilter,
        VuetablePaginationBootstrap,
        VuetableCustom,
        VuetablePaginationInfo,
        EmailModal,
        EmailCvModal
    },
    computed: {
        language: function () {
            return localStorage.getItem('language')
        },
        queryParams: function () {
            return JSON.parse(JSON.stringify(this.$route.query))
        },
        computedFields: function () {
            let f = this.fields
            if (this.multipleActions && this.multipleActions.actions) {
                var checkbox = {
                    name: '__checkbox', // <----
                    titleClass: 'center aligned',
                    dataClass: 'center aligned'

                }
                // eslint-disable-next-line vue/no-side-effects-in-computed-properties
                this.trackBy = (this.multipleActions.trackBy) ? this.multipleActions.trackBy : 'id'
                f = [checkbox].concat(this.fields)
            }
            return f
        }
    },
    created () {
        const routeQuery = JSON.parse(JSON.stringify(this.$route.query))
        this.$store.dispatch(ADD_BODY_CLASSNAME, 'kt-page--loading')

        if (this.$route.query.per_page) {
            this.per_page = parseInt(routeQuery.per_page)
        }

        if (this.$route.query.page) {
            this.initialPage = parseInt(routeQuery.page, 0)
        }
    },
    mounted () {
        const self = this
        this.$eventHub.$on('refresh-table', function () {
            self.$refs.vuetable.refresh()
        })
    },
    watch: {
        $route: {
            handler: function (val, oldVal) {
                this.sendFilter()
            },
            deep: true
        }
    },
    methods: {
        toggledChbox (event) {
            if (this.multipleActions) {
                localStorage.setItem(this.multipleActions.localStorageVariable, this.$refs.vuetable.selectedTo)

                console.log(this.$refs.vuetable.selectedTo)
            }
        },
        emitStartDate (data) {
            this.$eventHub.$emit('openStartDateModal', data)
        },
        saveProjectEmploye (event, project) {
            const self = this
            console.log(event)
            console.log(project)
            if (event !== project.number_of_employees) {
                project.number_of_employees = event
                clearTimeout(this.timeoutProject)
                this.timeoutProject = setTimeout(function () {
                    self.$http.put(`/api/v1/project/update-employees/${project.id}`, project).then(() => {
                    })
                }, 500)
            }
        },
        openPdf (link) {
            this.$eventHub.$emit('openPDF', link)
        },
        openAnswerModal (data) {
            console.log('openAnswerModal')
            this.$eventHub.$emit('openAnswerModal', { name: data.name, project: data.project_id, student: data.student_id })
        },
        openWorkSafety (data) {
            this.$eventHub.$emit('openWorkSafety', data)
        },
        handleTrigger (trigger) {
            if (trigger === 'bulkDelete') {
                this.bulkDeleteAction()
            } else {
                this.$emit(trigger)
            }
        },
        sendEmail (recipient, status = null) {
            const self = this
            if (status) {
                self.$eventHub.$emit('sendEmailModal', { recipients: recipient, status_id: status })
            } else {
                self.$eventHub.$emit('sendEmailModal', { recipients: recipient })
            }
        },
        sendCVEmail (data) {
            const self = this
            console.log(data)
            self.$eventHub.$emit('sendCVEmailModal', { data: data })
        },
        openContractModal (type, data) {
            const self = this
            self.$eventHub.$emit('openContractModal', { type, data })
        },
        setPritorty (project) {
            const self = this
            console.log(project)
            self.$eventHub.$emit('openPriorityModal', project)
        },
        setChecked (data) {
            let haveIn = false
            for (const it in this.selectedIds) {
                if (this.selectedIds[it].id === data.id) {
                    haveIn = it
                }
            }

            if (!haveIn) {
                this.selectedIds.push(data)
            } else {
                this.selectedIds.splice(haveIn, 1)
            }
        },
        sendFilter () {
            const routeQuery = JSON.parse(JSON.stringify(this.$route.query))
            if (this.$route.query.per_page) {
                this.per_page = parseInt(routeQuery.per_page)
            }

            if (this.$route.query.page) {
                this.onChangePage(parseInt(routeQuery.page))
            }

            if (JSON.stringify(this.moreParams) !== JSON.stringify(routeQuery)) {
                this.moreParams = routeQuery

                this.$nextTick(() => this.$refs.vuetable.refresh())
            }
        },
        onLoaded () {
            this.$store.dispatch(REMOVE_BODY_CLASSNAME, 'kt-page--loading')
        },
        loadSuccess (_payload) {
            this.filters = _payload.data.filters
            this.filterLoaded = true
            this.$emit('loaded', _payload.data)
        },
        editAction (data, index, props) {
            this.$router.push(`/${process.env.MIX_ADMIN_URL}/${this.module}/edit/${data.id}`)
        },
        bulkDeleteAction () {
            const selectedIds = this.$refs.vuetable.selectedTo
            const self = this
            swal.fire({
                title: this.$t('Are you sure?'),
                text: this.$t('You won\'t be able to revert this!'),
                type: 'warning',
                showCancelButton: !0,
                confirmButtonText: this.$t('Yes, delete it!'),
                cancelButtonText: this.$t('No, cancel!'),
                reverseButtons: !0
            }).then(function (e) {
                if (e.value) {
                    self.$http.delete(self.apiurl + '/bulk-delete', {
                        headers: {
                            Authorization: 'Bearer ' + self.token,
                            language: self.$store.state.defaultStore.language
                        },
                        params: {
                            ids: selectedIds
                        }
                    }).then(res => {
                        if (res.data.data.message === 'OK') {
                            self.$nextTick(() => self.$refs.vuetable.refresh())

                            swal.fire(this.$t('Deleted!'), this.$t('Rows has been deleted.'), 'success')
                        }
                    }).catch(res => {

                    })
                }
            })
        },
        deleteAction (data, index) {
            const self = this
            swal.fire({
                title: this.$t('Are you sure?'),
                text: this.$t('You won\'t be able to revert this!'),
                type: 'warning',
                showCancelButton: !0,
                confirmButtonText: this.$t('Yes, delete it!'),
                cancelButtonText: this.$t('No, cancel!'),
                reverseButtons: !0
            }).then(function (e) {
                if (e.value) {
                    self.$http.delete(self.apiurl + `/delete/${data.id}`, {
                        headers: {
                            Authorization: 'Bearer ' + self.token,
                            language: self.$store.state.defaultStore.language
                        }
                    }).then(res => {
                        if (res.data.data.message === 'OK') {
                            self.$nextTick(() => self.$refs.vuetable.refresh())

                            swal.fire(this.$t('Deleted!'), this.$t('Row has been deleted.'), 'success')
                        }
                    }).catch(res => {

                    })
                }
            })
        },
        onPaginationData (paginationData) {
            this.$refs.pagination.setPaginationData(paginationData)
            this.$refs.paginationInfo.setPaginationData(paginationData)
        },
        onChangePage (page) {
            const q = this.$route.query
            q.page = page
            this.$router.replace({ query: q })

            this.$refs.vuetable.changePage(page)
        },
        serialize (obj) {
            var str = []
            for (var p in obj) {
                // eslint-disable-next-line no-prototype-builtins
                if (obj.hasOwnProperty(p) && obj[p] !== undefined) {
                    str.push(encodeURIComponent(p) + '=' + encodeURIComponent(obj[p]))
                }
            }
            return str.join('&')
        },

        historyPush (route) {
            let history = localStorage.getItem('urlHistoryList')
            if (!history || !history.length) {
                history = {}
            } else {
                history = JSON.parse(history)
            }
            if (!route.fullPath.includes('api_token=')) {
                console.log(route.path + '?' + this.serialize(route.query))
                history[route.path] = route.path + '?' + this.serialize(route.query)
            }

            localStorage.setItem('urlHistoryList', JSON.stringify(history))
        },
        transform: function (data) {
            const params = this.$refs.vuetable.getAllQueryParams()
            if (params.sort && this.$route.query.sort !== params.sort) {
                const data = JSON.parse(JSON.stringify(this.$route.query))
                data.sort = params.sort
                this.$router.replace({ query: data })
            }

            this.historyPush(this.$route)
            const transformed = {}

            transformed.pagination = {
                total: data.meta.total,
                per_page: data.meta.per_page,
                current_page: data.meta.current_page,
                last_page: data.meta.last_page,
                next_page_url: (data.links.next !== null) ? data.links.next : data.links.last,
                prev_page_url: (data.links.prev !== null) ? data.links.prev : data.links.first,
                from: data.meta.from,
                to: data.meta.to
            }

            transformed.total = data.meta.total
            transformed.per_page = data.meta.per_page
            transformed.current_page = data.meta.current_page
            transformed.last_page = data.meta.last_page
            transformed.next_page_url = data.links.next
            transformed.prev_page_url = data.links.prev
            transformed.from = data.meta.from
            transformed.to = data.meta.to

            transformed.mydata = []

            for (let i = 0; i < data.data.length; i++) {
                transformed.mydata.push(data.data[i])
            }

            return transformed
        },
        updateStock (_props) {
            this.$emit('updateStock', _props.rowData)
        }
    }
}
</script>
<style>
    .btn i{
        padding:0 !important;
    }
   .height{
      background: red;
    }
    .normal{
      background: orange;
    }
    td.nowrap {
      white-space: nowrap;
    }
</style>
