<template>
  <a class="btn btn-sm  btn-danger " @click.prevent="deleteAction" title="Törlés"> <i  class="fa fa-trash " ></i></a>
</template>

<script>
import swal from 'sweetalert2'

export default {
    name: 'DeleteConfirm',
    methods: {
        deleteAction () {
            const self = this
            swal.fire({
                title: this.$t('Biztos vagy benne?'),
                text: this.$t('A Művelet nem visszavonható'),
                type: 'warning',
                showCancelButton: !0,
                confirmButtonText: this.$t('Igen, törlöm!'),
                cancelButtonText: this.$t('Mégse!'),
                reverseButtons: !0
            }).then(function (e) {
                if (e.value) {
                    self.$emit('delete')
                }
            })
        }
    }
}
</script>

<style scoped>

</style>
