<template>
    <div>
    <div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Bezár</button>
                </div>
            </div>
        </div>
    </div>
   </div>
</template>

<script>
import FormInput from "./form/FormInput";
import FormWyswygEditor from "./form/FormWyswygEditor";
import FormDropZone from "./form/FormDropZone";

export default {
    name: 'EmailModal',
    data () {
        return {
            address: [],
            model: {
                subject: null,
                content: null,
                attachments: null
            }
        }
    },
    methods: {
        loaded () {
            this.load = true
        }
    },
    mounted () {
        const self = this
        this.$eventHub.$on('sendEmail', function (address) {
            self.load = true
            window.$('#emailModal').modal('show')
        })
    },
    watch: {

    }

}
</script>

