<template>
    <div>

    </div>
</template>

<script>
export default {
    name: 'ForgetPass',
    data () {
        return {
            model: {
                email: null
            }
        }
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/student/password/email`
        }
    },
    methods: {
        doReset () {
            this.axios.post(this.url, this.model).then((response) => {
                this.model = {
                    email: null
                }

                this.toastMessage(this.$translate.t('Success!'), this.$translate.t('We\'ve sent the instructions in email.'))
            })
        }
    }
}
</script>
