<template>
    <div class="inner" style="width: 100%; height: 300px;"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin:auto;background:#fff;display:block;" width="200px" height="200px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
        <defs>
            <filter id="ldio-z6sm3gd97in-filter" x="-100%" y="-100%" width="300%" height="300%" color-interpolation-filters="sRGB">
                <feGaussianBlur in="SourceGraphic" stdDeviation="4"></feGaussianBlur>
                <feComponentTransfer result="cutoff">
                    <feFuncA type="table" tableValues="0 0 0 0 0 0 1 1 1 1 1"></feFuncA>
                </feComponentTransfer>
            </filter>
        </defs>
        <g filter="url(#ldio-z6sm3gd97in-filter)"><g transform="translate(50 50)">
            <g transform="rotate(100.585)">
                <circle cx="20" cy="0" r="11.4705" fill="#201f2b">
                    <animate attributeName="r" keyTimes="0;0.5;1" values="6;14;6" dur="4s" repeatCount="indefinite" begin="-0.25s"></animate>
                </circle>
                <animateTransform attributeName="transform" type="rotate" keyTimes="0;1" values="0;360" dur="4s" repeatCount="indefinite" begin="0s"></animateTransform>
            </g>
        </g><g transform="translate(50 50)">
            <g transform="rotate(210.171)">
                <circle cx="20" cy="0" r="11.4591" fill="#ffb821">
                    <animate attributeName="r" keyTimes="0;0.5;1" values="6;14;6" dur="2s" repeatCount="indefinite" begin="-0.2s"></animate>
                </circle>
                <animateTransform attributeName="transform" type="rotate" keyTimes="0;1" values="0;360" dur="2s" repeatCount="indefinite" begin="-0.05s"></animateTransform>
            </g>
        </g><g transform="translate(50 50)">
            <g transform="rotate(328.757)">
                <circle cx="20" cy="0" r="6.78858" fill="#e9f1fe">
                    <animate attributeName="r" keyTimes="0;0.5;1" values="6;14;6" dur="1.3333333333333333s" repeatCount="indefinite" begin="-0.15s"></animate>
                </circle>
                <animateTransform attributeName="transform" type="rotate" keyTimes="0;1" values="0;360" dur="1.3333333333333333s" repeatCount="indefinite" begin="-0.1s"></animateTransform>
            </g>
        </g><g transform="translate(50 50)">
            <g transform="rotate(96.341)">
                <circle cx="20" cy="0" r="9.48182" fill="#201f2b">
                    <animate attributeName="r" keyTimes="0;0.5;1" values="6;14;6" dur="1s" repeatCount="indefinite" begin="-0.1s"></animate>
                </circle>
                <animateTransform attributeName="transform" type="rotate" keyTimes="0;1" values="0;360" dur="1s" repeatCount="indefinite" begin="-0.15s"></animateTransform>
            </g>
        </g><g transform="translate(50 50)">
            <g transform="rotate(232.926)">
                <circle cx="20" cy="0" r="13.3523" fill="#ffb821">
                    <animate attributeName="r" keyTimes="0;0.5;1" values="6;14;6" dur="0.8s" repeatCount="indefinite" begin="-0.05s"></animate>
                </circle>
                <animateTransform attributeName="transform" type="rotate" keyTimes="0;1" values="0;360" dur="0.8s" repeatCount="indefinite" begin="-0.2s"></animateTransform>
            </g>
        </g></g>
    </svg>
        <div v-if="text" class="text-danger text-center"><h3>{{text}}</h3></div>
    </div>
</template>

<script>
export default {
    name: 'Loader',
    props: ['text']
}
</script>

<style lang="css" scoped>

</style>
