<template>
    <div>

    </div>
</template>

<script>
export default {
    name: 'Login',
    props: ['redirect'],
    data () {
        return {
            model: {
                email: null,
                password: null
            },
            notVerified: false,
            resend: false
        }
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/student/login`
        }
    },
    methods: {
        doLogin () {
            const self = this
            this.axios.post(this.url, this.model).then((response) => {
                $cookies.set('student-token', response.data.token, 60 * 60 * 24)
                self.$emit('studentLoggedIn', true)
                self.$store.commit('defaultStore/setStudentLoggedIn', true)
                self.$store.commit('defaultStore/setStudent', response.data)
                self.$eventHub.$emit('studentLoggedIn', response.data)
                window.$('#loginModal').modal('hide')
                if (!this.$route.fullPath.includes('munkak') && !this.$route.fullPath.includes('mads/register') && !this.$route.fullPath.includes('schedules-editor') && !this.$route.fullPath.includes('realization')) {
                    this.$router.push('/profile')
                }
            }).catch(error => {
                if (error.response.data.errors.email && error.response.data.errors.email[0] === 'Az e-mail cím nincs megerősítve!') {
                    this.notVerified = true
                }
            })
        }
    }
}
</script>
