<template>
    <div></div>
</template>

<script>
export default {
    name: 'Logout',
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}`
        }
    },
    created: function () {
        const self = this
        self.axios.post(`${self.url}/student/logout`).finally(() => {
            self.$store.commit('defaultStore/setStudentLoggedIn', false)
            self.$store.commit('defaultStore/setStudent', {})
            localStorage.clear()
            $cookies.remove('student-token')
            document.location.href = '/'
        })
    }
}
</script>
