<template>
    <nav aria-label="Page navigation example">
        <ul class="pagination pagination_style1 justify-content-center">
            <li class="page-item">
                <button class="page-link"  v-on:click="go(1)" v-bind:disabled="!links.first" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;&laquo;</span>
                </button>
            </li>
            <li class="page-item">
                <button class="page-link"  v-on:click="go(meta.current_page-1)" v-bind:disabled="!links.prev" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </button>
            </li>
                <li class="page-item"  v-for="index in [4,3,2,1]" v-bind:key="'page-up-'+index" v-bind:class="{'d-none': meta.current_page-index < 1}" >
                    <button   v-on:click="go(meta.current_page-index)" class="page-link" v-if="meta.current_page-index >= 1" href="#">{{meta.current_page-index}} </button>
                </li>
            <li class="page-item">
                <button class="page-link" href="#">{{meta.current_page}}</button>
            </li>
            <li class="page-item"  v-for="index in [1,2,3,4]" v-bind:key="'page-down-'+index" v-bind:class="{'d-none': meta.current_page+index > meta.last_page}" >
                <button class="page-link" v-on:click="go(meta.current_page+index)" v-if="meta.current_page+index <= meta.last_page" href="#">{{meta.current_page+index}} </button>
            </li>
            <li class="page-item">
                <button class="page-link" v-on:click="go(meta.current_page+1)" v-bind:disabled="!links.next" href="#" aria-label="Previous">
                    <span aria-hidden="true">&raquo;</span>
                </button>
            </li>
            <li class="page-item">
                <button v-on:click="go(meta.last_page)" class="page-link" v-bind:disabled="!links.last" href="#" aria-label="Previous">
                    <span aria-hidden="true">&raquo;&raquo;</span>
                </button>
            </li>

        </ul>
    </nav>
</template>

<script>
export default {
    name: 'Pagination',
    props: ['meta', 'links'],
    methods: {
        go (page) {
            this.$emit('pageChange', page)
        }
    }
}
</script>
