<template>
    <div>
    <div class="modal fade" id="pdfViewer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-body" style="width:100%;height:80vh" v-if="toogle && link">
                    <Loader v-if="!load"></Loader>
                    <iframe frameBorder="0" scrolling="no" v-bind:class="!load?'hide':''"  style="width:100%;height:80vh" v-on:load="loaded()"  v-on:loadeddata="loaded()" :src="link" type="application/pdf">
                    </iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Bezár</button>
                </div>
            </div>
        </div>
    </div>
   </div>
</template>

<script>
import Loader from './Loader'
export default {
    name: 'PdfViewer',
    components: { Loader },
    data () {
        return {
            link: null,
            load: false,
            toogle: false
        }
    },
    methods: {
        loaded () {
            this.load = true
        }
    },
    mounted () {
        const self = this
        this.$eventHub.$on('openPDF', function (link) {
            self.link = '/api/v1/get-document/' + link + '?api_token=' + $cookies.get('token')
            console.log(this.link)
            self.load = true
            window.$('#pdfViewer').modal('show')
        })
        this.$eventHub.$on('openPDFStudent', function (link) {
            self.link = link + (link.includes('?') ? '&' : '?') + 'api_token=' + $cookies.get('token')
            self.load = true
            window.$('#pdfViewer').modal('show')
        })
        window.$('#pdfViewer').on('shown.bs.modal', function () {
            self.toogle = true
            self.load = false
        })
        window.$('#pdfViewer').on('hidden.bs.modal', function () {
            self.toogle = false
            self.load = true
        })
    },
    watch: {

    }

}
</script>

<style lang="css" scoped>
    .kt-spinner.kt-spinner--lg:before {
        width: 64px;
        height: 64px;
        margin-top: -19px;
    }
    .hide{
        display:none;
    }
</style>
