<template>
  <a class="btn btn-info btn-sm" href="#" @click.prevent="emit()"><i class="fa fa-file-pdf"></i> </a>
</template>

<script>
export default {
    name: 'PdfViewerButton',
    props: ['path'],
    methods: {
        emit () {
            this.$eventHub.$emit('openPDF', this.path)
        }
    }
}
</script>

<style scoped>

</style>
