<template>
    <div>

    </div>
</template>

<script>

export default {
    name: 'Register',
    data () {
        return {
            model: {
                lastname: null,
                firstname: null,
                phone: null,
                birthdate: null,
                name: null,
                email: null,
                password: null
            },
            regFinished: false,
            regRuning: false
        }
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/student/register`
        }
    },
    methods: {
        doRegister () {
            this.regRuning = true
            this.axios.post(this.url, this.model).then((response) => {
                this.model = {}
                this.regFinished = true
                this.toastMessage(this.$translate.t('Success registration!'), this.$translate.t('Thank you for registration.'))
                this.regRuning = false
                window.$('#loginModal').modal('hide')
            }).catch(() => {
                this.regRuning = false
            })
        }
    }
}
</script>
