<template>
    <div>

    </div>
</template>

<script>
export default {
    name: 'ResetPass',
    data () {
        return {
            model: {
                password: null,
                password_confirmation: null
            }
        }
    },
    mounted () {
        this.onReset()
    },
    watch: {
        '$route.query': {
            handler: function (val, oldVal) {
                this.onReset()
            },
            deep: true
        }
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/student/password/reset`
        }
    },
    methods: {
        onReset () {
            if (this.$route.query.change_password && this.$route.query.change_password === 'true') {
                this.axios.get(`${this.url}/${this.$route.query.token}`).then((response) => {
                    this.model.token = this.$route.query.token
                    this.model.email = this.$route.query.email
                }).catch(() => {
                    this.$router.push('/')
                })
            }
        },
        doReset () {
            this.model.token = this.$route.query.token
            this.model.email = this.$route.query.email
            this.axios.post(this.url, this.model).then((response) => {
                this.model = {
                    password: null,
                    password_confirmation: null
                }
                window.$('#loginModal').modal('show')
                this.toastMessage(this.$translate.t('Sikeres jelszó módostás!'), this.$translate.t('Lépj be az új jelszavaddal.'))
            })
        }
    }
}
</script>
