<template>
    <WorkForm v-if="Object.keys(model).length > 0" :url="url" :model="model"></WorkForm>
</template>

<script>
import WorkForm from './WorkForm'
import Work from './Work'

export default {
    name: 'WorkCreate',
    extends: Work,
    data () {
        return {
            model: {}
        }
    },
    components: { WorkForm },
    beforeMount: function () {
        this.handleCreate('work', this.url, {})

        this.getWork()
    }
}
</script>
