<template>
    <div>
        <div class = "alert alert-custom alert-white alert-shadow kt-portlet" role = "alert">

            <h3 class = "text-info">{{ $t('Munkák') }} - {{model.name}} </h3>
        </div>
        <div class = "kt-portlet">
            <div class = "kt-portlet__body">
                <div class = "kt-form kt-form--label-right">
                    <div class = "kt-form__body">
                        <div class = "row">
                            <div class="col-md-6">
                              <div class="row">
                                <div class = "col-md-12" >
                                      <FormInput v-model="model.name"  :title="$t('Munka megnevezése')"></FormInput>
                                </div>
                                  <div class = "col-md-12" >
                                     <FormTextArea v-model="model.lead"  :title="$t('Rövid leírás')"></FormTextArea>
                                  </div>
                                <div class = "col-md-12" >
                                  <FormSelect v-model="model.project_id" :select2="true"  :title="$t('Projekt')" v-if="model && model.selectables && model.selectables.projects" :options="model.selectables.projects"></FormSelect>
                                </div>
                              </div>
                            </div>
                            <div class = "col-md-6" >
                                <FormFileUpload v-model="model.image"  :title="$t('Kép')" :options="{}"></FormFileUpload>
                            </div>
                            <div class = "col-md-6" >
                                <FormInput v-model="model.zip"  :title="$t('Irányítószám')"></FormInput>
                            </div>
                            <div class = "col-md-6" >
                                <FormInput v-model="model.work_type"  :title="$t('Munka típusa')"></FormInput>
                            </div>
                            <div class = "col-md-6" >
                                <FormSelect v-model="model.user_id"  :title="$t('Projektmenedzser')" v-if="model && model.selectables && model.selectables.users" :options="model.selectables.users"></FormSelect>
                            </div>
                          <div class = "col-md-6" >
                            <FormSelect v-model="model.work_category_id"  :title="$t('Kategória')" :select2="true" v-if="model && model.selectables && model.selectables.categories" :options="model.selectables.categories"></FormSelect>
                          </div>
                            <div class = "col-md-6" >
                              <FormInput v-model="model.work_location"  :title="$t('Munkavégzés helye')"></FormInput>
                            </div>
                            <div class = "col-md-6" >
                                <FormSelect v-model="model.cv_online_kat_1"  :title="$t('CV onlione főkategória')"
                                            v-if="model && model.selectables && model.selectables.cv_online" :options="getCvOnlineKategory(model.selectables.cv_online)"></FormSelect>
                            </div>
                          <div class = "col-md-6" >
                            <FormSelect v-model="model.cv_online_kat_2"  :title="$t('CV onlione alkategória')"
                                        v-if="model.cv_online_kat_1" :options="getCvOnlineSubKategory(model.selectables.cv_online[model.cv_online_kat_1])"></FormSelect>
                          </div>
                          <div class = "col-md-6" >
                            <FormSelect v-model="model.jobhunter_category"  :title="$t('Jobhunter kategória')"
                                        v-if="model && model.selectables && model.selectables.jobhunter" :options="model.selectables.jobhunter"></FormSelect>
                          </div>

                            <div class = "col-md-6" >
                                <FormSelect v-model="model.city_id" :select2="true"  :title="$t('Város')" v-if="model && model.selectables && model.selectables.cities" :options="model.selectables.cities"></FormSelect>
                            </div>
                            <div class = "col-md-6" >
                                <FormInput v-model="model.work_time"  :title="$t('Munkaidő')"></FormInput>
                            </div>
                            <div class = "col-md-6" >
                                <FormInput v-model="model.gross"  :title="$t('Bruttó bér')"></FormInput>
                            </div>
                            <div class = "col-md-6" >
                                <FormSelect v-model="model.gross_type"  :title="$t('Bér típusa')"  :options="{1:'Fix',2:'Órabér'}"></FormSelect>
                            </div>
                          <div class = "col-md-6" >
                            <FormInput v-model="model.gross_text"  :title="$t('Bruttó bér szöveges (Ha ki van töltve, a honlapon ez jelenik meg az ár helyett )')"></FormInput>
                          </div>
                            <div class = "col-md-6" >
                                <FormInput v-model="model.work_duration"  :title="$t('Munka időtartama')"></FormInput>
                            </div>
                            <div class = "col-md-6" >
                                <FormInput v-model="model.start"  :title="$t('Kezdés')"></FormInput>
                            </div>
                            <div class = "col-md-6" >
                                <FormInput v-model="model.apply"  :title="$t('Jelentkezés')"></FormInput>
                            </div>
                            <div class = "col-md-6" >
                                <FormSelect v-model="model.highlighted"  :title="$t('Kiemelt')"  :options="{0:'Nem',1:'Igen'}"></FormSelect></div>
                            <div class = "col-md-6" >
                                <FormSelect v-model="model.is_full"  :title="$t('Betelt')" :options="{0:'Nem',1:'Igen'}"></FormSelect></div>

                            <div class = "col-md-6" >
                                <FormWyswygEditor v-model="model.task"  :title="$t('Feladat')"></FormWyswygEditor></div>
                            <div class = "col-md-6" >
                                <FormWyswygEditor v-model="model.company_description"  :title="$t('Cég bemutatása')"></FormWyswygEditor></div>
                            <div class = "col-md-6" >
                                <FormWyswygEditor v-model="model.interview_date"  :title="$t('Interjú időpontja')"></FormWyswygEditor></div>
                            <div class = "col-md-6" >
                                <FormWyswygEditor v-model="model.preference"  :title="$t('Előny')"></FormWyswygEditor></div>
                            <div class = "col-md-6" >
                                <FormWyswygEditor v-model="model.condition"  :title="$t('Feltétel')"></FormWyswygEditor></div>
                            <div class = "col-md-6" >
                                <FormWyswygEditor v-model="model.comment"  :title="$t('Megjegyzés')"></FormWyswygEditor></div>
                            <div class = "col-md-6" >
                            </div>
                        </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</template>

<script>
import FormFileUpload from '../../../../../../resources/js/components/form/FormFileUpload'
import FormInput from '../../../../../../resources/js/components/form/FormInput'
import FormSelect from '../../../../../../resources/js/components/form/FormSelect'
import FormTextArea from '../../../../../../resources/js/components/form/FormTextArea'
import FormWyswygEditor from '../../../../../../resources/js/components/form/FormWyswygEditor'

export default {
    name: 'WorkForm',
    props: {
        url: {
            required: true,
            type: String
        },
        model: {
            required: true,
            type: Object
        }
    },
    watch: {
        'model.project_id': {
            handler: function (val, oldVal) {
                if (val !== oldVal) {
                    this.axios.get(this.url.replace('work', 'project') + '/details/' + val).then(data => {
                        this.model.gross = data.data.data.industry.price_hour
                        this.model.work_location = data.data.data.site.work_location
                        this.model.work_category_id = data.data.data.industry.work_category_id
                    })
                }
            },
            deep: true
        }

    },
    data () {
        return {

        }
    },
    computed: {
        languages: function () {
            const l = []
            for (const it in this.$store.state.defaultStore.languages) {
                l.push(it)
            }
            return l
        }
    },
    components: { FormFileUpload, FormInput, FormSelect, FormTextArea, FormWyswygEditor },
    methods: {
        getCvOnlineKategory (items) {
            const resp = {}
            Object.keys(items).forEach((i, key) => {
                resp[i] = i
            })

            return resp
        },
        getCvOnlineSubKategory (items) {
            const resp = {}
            items.forEach((i, key) => {
                resp[i] = i
            })

            return resp
        }
    },
    created () {},
    mounted () {}
}
</script>
