<template>
    <div class="table-responsive">
        <BaseDatatable v-if="loaded" :multiple-actions="multipleAction" :module="`work`" :apiurl="url" :list-url="`${url}/index`" :fields="fields"></BaseDatatable>
    </div>
</template>

<script>
import BaseDatatable from '../../../../../../resources/js/components/BaseDatatable'
export default {
    name: 'WorkList',
    props: ['url'],
    components: { BaseDatatable },
    data () {
        return {
            loaded: true,
            multipleAction: {
                localStorageVariable: 'selectedWork', // milyen local Storagebe rakja
                trackBy: 'id', // milyik oszlopot figyelje
                actions: [
                    {
                        name: this.$translate.t('Delete'),
                        trigger: 'bulkDelete'
                    }
                ]
            },
            apiurl: this.url,
            fields: [
                {
                    name: 'id',
                    sortField: 'id',
                    title: this.$translate.t('ID')
                },
                {
                    name: '__slot:image',
                    sortField: 'image',
                    title: this.$translate.t('Kép')
                },
                {
                    name: 'name',
                    sortField: 'name',
                    title: this.$translate.t('Név')
                },
                {
                    name: 'user',
                    sortField: 'user_id',
                    title: this.$translate.t('Projektmenedzser')
                },
                {
                    name: 'city',
                    sortField: 'city_id',
                    title: this.$translate.t('Város')
                },
                {
                    name: 'gross',
                    sortField: 'gross',
                    title: this.$translate.t('Bruttó bér')
                },
                {
                    name: 'highlighted_text',
                    sortField: 'highlighted',
                    title: this.$translate.t('Kiemelt')
                },
                {
                    name: 'is_full_text',
                    sortField: 'is_full',
                    title: this.$translate.t('Betelt')
                },
                {
                    name: 'archive_text',
                    sortField: 'archive',
                    title: this.$translate.t('Archiv')
                },
                {
                    name: '__slot:component',
                    componentName: 'WorkAction',
                    title: this.$translate.t('Actions')
                }
            ]

        }
    }
}
</script>
