<template>
    <div class="nowrap">
        <router-link :to="'/admin/work/edit/'+data.id" class="btn btn-success" title="Szerkesztés" ><i class="fa fa fa-edit"></i> </router-link>
        <router-link :to="'/admin/work/create?copy='+data.id" class="btn btn-info" title="Másolás" ><i class="fa fa fa-clone"></i> </router-link>
        <a v-if="data.archive !=1"  href="#" @click.prevent="archive(data.id,1)" class="btn btn-outline-danger" title="Archivál" ><i class="fa fa fa-archive"></i> </a>
        <a v-if="data.archive==1"  href="#" @click.prevent="archive(data.id,0)" class="btn btn-outline-info" title="Visszaállít" ><i class="fa fa fa-arrow-left"></i> </a>
        <DeleteConfirm v-on:delete="deleteWork(data.id)"></DeleteConfirm>
    </div>
</template>

<script>

import DeleteConfirm from '../../../../../../resources/js/components/DeleteConfirm'
export default {
    name: 'WorkAction',
    props: ['data', 'componentProps'],
    components: { DeleteConfirm },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/work/`
        }
    },
    methods: {
        deleteWork (id) {
            this.axios.delete(this.url + 'delete/' + id).then(() => {
                this.$emit('refresh', true)
            })
        },
        archive (id, status) {
            this.axios.post(this.url + 'change-status/' + id, { status }).then(() => {
                this.$emit('refresh', true)
            })
        }
    }
}
</script>
