<template>
  <div class = "col-12">
    <div class="row">
      <div class="col-12">
        <a :href="link" target="_blank" class="btn btn-success float-right"> Excel letöltés</a>
      </div>
    </div>
    <div class = "table-responsive">
      <table class = "table table-bordered">

        <tr>
          <th>MADS azonosító</th>
          <th>Név</th>
          <th>Adószám</th>
          <th>Születési dátum</th>
          <th>Email</th>
          <th>Jogviszony</th>
          <th>Eü/orvosi</th>
          <th>Teljesítés kezdete</th>
          <th>Telefon</th>
          <th>Munkakör</th>
          <th>Azonosító</th>
          <th>óraszám</th>
        </tr>
        <tbody>
        <tr v-for = "(item,ind) in list" v-bind:key = "'workers-'+ind">
          <td>{{ item.student_number }}
            <i v-if="item.medical_certificate_type == 1" class="font-weight-bold fa-2x fa fa-stethoscope kt-animate-blink  float-right" v-bind:class="{'text-danger':(!item.expire_medical || new Date(item.expire_medical)< new Date()),'text-success':new Date(item.expire_medical)>= new Date()}" :title="'Orvosi igazolás kötelező! '+((item.expire_medical)? 'Lejár:'+item.expire_medical:'Nincs orvosi igazolása')" ></i>
            <i v-if="item.medical_certificate_type == 2" class="font-weight-bold fa-2x fa fa-stethoscope kt-animate-blink  float-right" v-bind:class="{'text-warning':(!item.expire || new Date(item.expire)< new Date()),'text-success':new Date(item.expire)>= new Date()}" :title="'EÜ kiskönyv kötelező! '+((item.expire)? 'Lejár:'+item.expire:'Nincs EÜ kiskönyve')" ></i>
            <i class="font-weight-bold fa-2x flaticon-danger kt-animate-blink text-info float-right" title="Nem kér hírlevelet" v-if="item.newsletter == 0"></i>
          </td>
          <td>{{ item.name }}</td>
          <td>{{ item.tax_number }}</td>
          <td>{{ item.birth_date }}</td>
          <td>{{ item.email }}</td>
          <td>{{ item.certificate }}</td>
          <td><span v-if="item.medical_certificate_type == 1">{{ item.expire_medical }}</span><span v-if="item.medical_certificate_type == 2">{{ item.expire }}</span></td>
          <td>{{ item.start_date }}</td>
          <td>{{ item.phone }}</td>
          <td>{{ item.teaor }}</td>
          <td>{{ item.industry_name }}</td>
          <td>{{ item.hour }}</td>
        </tr>
        <tr v-if="!list.length">
          <td colspan="13" class="text-center">Nincs adat</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>

import DeleteConfirm from '../../../../../../../resources/js/components/DeleteConfirm'

export default {
    name: 'WorkersList',
    props: ['company_id', 'month', 'all'],
    components: { DeleteConfirm },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/company`
        },
        link: function () {
            return this.url + '/list-worker/' + this.company_id + '?month=' + this.month + '&all=' + this.all + '&excel=true' + '&api_token=' + $cookies.get('token')
        }
    },
    watch: {
        month: {
            handler: function (val, oldVal) {
                if (val !== oldVal) {
                    this.getWorker()
                }
            }
        },
        all: {
            handler: function (val, oldVal) {
                if (val !== oldVal) {
                    this.getWorker()
                }
            }
        }
    },
    data () {
        return {
            list: [],
            industries: {},
            fields: {},
            selected: {}
        }
    },
    methods: {
        getWorker () {
            this.axios.get(this.url + '/list-worker/' + this.company_id + '?month=' + this.month + '&all=' + this.all).then(resp => {
                this.list = resp.data.data
            })
        }
    },
    created () {
        this.getWorker()
    }
}
</script>
