<template>
  <div>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newLanguage">
    Új nyelv
  </button>
  <div class="modal fade" id="newLanguage" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header bg-warning">
          <h5 class="modal-title">Új nyelv</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i aria-hidden="true" class="ki ki-close"></i>
          </button>
        </div>
        <div class="modal-body p-4">
          <div class="row">
              <div class="col-12" v-if="!clear">
                <FormAutocomplete  attributeKey="id" attributeValue="name" :url="autoUrl" v-model="model.language_id" :title="'Nyelvek'"></FormAutocomplete>
              </div>
              <div class="col-12">
                  <FormSelect v-model="model.value" :title="'Szint'" :options="{'Alap':'Alap','Közép':'Közép','Emelt':'Emelt'}"></FormSelect>
              </div>
          </div>
        </div>
        <div class="modal-footer bg-warning">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Mégse</button>
          <button type="button" class="btn btn-success" @click="saveStudentSchool">Hozzáad</button>
        </div>
      </div>
    </div>
  </div>
  </div>
</template>

<script>

import FormInput from '../../../../../../../resources/js/components/form/FormInput'
import FormMonthPicker from '../../../../../../../resources/js/components/form/FormMonthPicker'
import FormSelect from '../../../../../../../resources/js/components/form/FormSelect'
import FormAutocomplete from '../../../../../../../resources/js/components/form/FormAutocomplete'
export default {
    name: 'NewLanguage',
    props: ['student'],
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/student`
        },
        autoUrl: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/language/index`
        }
    },
    components: { FormInput, FormSelect, FormMonthPicker, FormAutocomplete },
    data () {
        return {
            model: {
                language_id: null,
                value: null
            },
            clear: false
        }
    },
    methods: {
        saveStudentSchool () {
            this.axios.post(this.url + '/add-language/' + this.student.id, this.model).then((resp) => {
                this.clear = true
                this.$emit('refresh')
                this.model = {
                    attribute_id: null,
                    value: null
                }
                window.$('#newLanguage').modal('hide')
                const self = this
                setTimeout(() => {
                    self.clear = false
                }, 300)
            })
        }
    }
}
</script>

<style scoped>

</style>
