<template>
  <div class="card card-custom">
    <div class="card-header">
        <h3 class="card-label pull-left">Nyelvismeret</h3>
      <div class="card-toolbar pull-right">
          <NewLanguage v-on:refresh="getStudentLanguage" :student="student" ></NewLanguage>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-12 mb-3 border-primary">
          <div class="row">
            <div class="col-md-12">
              <table class="table table-condensed mt-3">
                <tr>
                <th>Nyelv</th>
                <th>Szint</th>
                <th>Törlés</th>
                </tr>
                <tr v-for="document in attributes " v-bind:key="'attribute-'+ document.id">
                    <td>{{document.language_name}}</td>
                    <td>{{document.value}}</td>
                    <td><DeleteConfirm v-on:delete="deleteLanguage(document.id)"></DeleteConfirm></td>
                </tr>
              </table>
            </div>
            <hr class="col-md-12">
          </div>

        </div>
      </div>

    </div>
  </div>
</template>

<script>
import NewLanguage from './NewLanguage'
import DeleteConfirm from '../../../../../../../resources/js/components/DeleteConfirm'

export default {
    name: 'StudentLanguages',
    components: { NewLanguage, DeleteConfirm },
    props: ['student'],
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/student`
        }
    },
    data () {
        return {
            attributes: {},
            company: []
        }
    },

    methods: {
        getStudentLanguage () {
            this.axios.get(this.url + '/get-language/' + this.student.id).then((response) => {
                this.attributes = response.data.data
                this.company = response.data.company
            })
        },
        deleteLanguage (id) {
            this.axios.delete(this.url + '/delete-language/' + id).then((response) => {
                this.getStudentLanguage()
            })
        }

    },
    mounted () {
        this.getStudentLanguage()
    }
}
</script>

<style scoped>

</style>
