<template>
  <div>
    <div class = "alert alert-custom alert-white alert-shadow kt-portlet" role = "alert">
      <div class = "row">
        <h3 class = "text-info">{{ $t('Cég adatlap') }}</h3>
      </div>
    </div>
    <div class = "kt-portlet">
      <div class = "kt-portlet__body">
        <div class = "kt-form kt-form--label-right">
          <div class = "kt-form__body">
            <div class="row">
              <div class="col-md-12">
                <h2>{{model.name}}</h2>
                <p>Adószám: {{model.tax}}<br>
                   Képviselő: {{model.delegate}}
                </p>
              </div>
            </div>
            <nav>
              <div class = "nav nav-tabs nav-fill" id = "nav-tab" role = "tablist">
                <a class = "nav-item nav-link active" id = "nav-section1" data-toggle = "tab" href = "#section1" role = "tab" aria-controls = "nav-home" v-on:click="selectedTab='default'" aria-selected = "true">Alapadatok</a>
                <a class = "nav-item nav-link" id = "nav-section2" data-toggle = "tab" href = "#section2" role = "tab"  aria-controls = "nav-profile" aria-selected = "false" v-on:click="selectedTab='sites'">Telephelyek</a>
                <a class = "nav-item nav-link" id = "nav-section3" data-toggle = "tab" href = "#section3" role = "tab" aria-controls = "nav-contact" aria-selected = "false" v-on:click="selectedTab='industries'">Tevékenységek</a>
                <a class = "nav-item nav-link" id = "nav-section10" data-toggle = "tab" href = "#section10" role = "tab" aria-controls = "nav-contact" aria-selected = "false" v-on:click="selectedTab='bonus'">Bónuszok</a>
                <a class = "nav-item nav-link" id = "nav-section4" data-toggle = "tab" href = "#section4" role = "tab" aria-controls = "nav-about" aria-selected = "false" v-on:click="selectedTab='contacts'">Kapcsolattartók</a>
                <a class = "nav-item nav-link" id = "nav-section7" data-toggle = "tab" href = "#section7" role = "tab" aria-controls = "nav-about" aria-selected = "false" v-on:click="selectedTab='tenders'">Tenderek</a>
                <a class = "nav-item nav-link" id = "nav-section5" data-toggle = "tab" href = "#section5" role = "tab" aria-controls = "nav-about" aria-selected = "false" v-on:click="selectedTab='documents'">Dokumentumok</a>
                <a class = "nav-item nav-link" id = "nav-section8" data-toggle = "tab" href = "#section8" role = "tab" aria-controls = "nav-about" aria-selected = "false" v-on:click="selectedTab='prints'">Nyomtatványok</a>
                <a class = "nav-item nav-link" id = "nav-section11" data-toggle = "tab" href = "#section11" role = "tab" aria-controls = "nav-about" aria-selected = "false" v-on:click="selectedTab='workers'">Dolgozó diákok</a>
                <a class = "nav-item nav-link" id = "nav-section6" data-toggle = "tab" href = "#section6" role = "tab" aria-controls = "nav-about" aria-selected = "false" v-on:click="selectedTab='access'">Hozzáférések</a>
                <a class = "nav-item nav-link" id = "nav-section12" data-toggle = "tab" href = "#section12" role = "tab" aria-controls = "nav-about" aria-selected = "false" v-on:click="selectedTab='fixing'">Rögzítés</a>
                <a class = "nav-item nav-link" id = "nav-section13" data-toggle = "tab" href = "#section13" role = "tab" aria-controls = "nav-about" aria-selected = "false" v-on:click="selectedTab='comments'">Megjegyzések</a>
                <a class = "nav-item nav-link" id = "nav-section14" data-toggle = "tab" href = "#section14" role = "tab" aria-controls = "nav-about" aria-selected = "false" v-on:click="selectedTab='projects'">Projektek</a>
              </div>
            </nav>
            <div class = "tab-content py-3 px-3 px-sm-0" id = "nav-tabContent">
              <div class = "tab-pane fade show active container-fluid" id = "section1" role = "tabpanel" aria-labelledby = "nav-home-tab">
                <div class = "row">
                  <div class = "col-md-4 ">
                    <div class = "row p-2">
                      <h3 class = "col-md-12 mt-2 bg-warning p-2 mb-5">Céges adatok</h3>
                      <div class = "col-md-12">
                        <FormInput v-model = "model.name" :title = "$t('Cég neve')"></FormInput>
                      </div>
                      <div class = "col-md-12">
                        <FormInput v-model = "model.importer" :title = "$t('Ki hozta a munkák?')"></FormInput>
                      </div>
                      <div class = "col-md-12">
                        <FormInput v-model = "model.tax" :title = "$t('Adószám')"></FormInput>
                      </div>
                      <div class = "col-md-12">
                        <FormInput v-model = "model.tax_eu" :title = "$t('EU adószám')"></FormInput>
                      </div>
                      <div class = "col-md-12">
                        <FormInput v-model = "model.company_number" :title = "$t('Cégjegyzékszám')"></FormInput>
                      </div>
                      <div class = "col-md-12">
                        <FormInput v-model = "model.delegate" :title = "$t('Képviselő')"></FormInput>
                      </div>
                      <div class = "col-md-12">
                        <FormInput v-model = "model.delegate_position" :title = "$t('Képviselő beosztása')"></FormInput>
                      </div>
                      <div class = "col-md-12">
                        <FormInput v-model = "model.delegate_comment" :title = "$t('Megjegyzés')"></FormInput>
                      </div>
                      <div class="col-md-12">
                        <FormInput v-model="model.gdpr" :title="'GDPR link'"></FormInput>
                      </div>
                      <div class="col-md-12">
                        <FormSelect v-model="model.online_presence" :title="'Online jelenléti'" :options="{'0':'Nem','1':'Igen'}"></FormSelect>
                      </div>
                      <div class="col-md-12">
                        <FormSelect v-model="model.medical_certificate" :title="'EÜ kiskönyv szükséges'" :options="{'0':'Nem szükséges','1':'Orvosi vizsgálat szükséges','2':'Eü kiskönyv szükséges'}"></FormSelect>
                      </div>
                      <div class="col-md-12">
                        <FormSelect v-model="model.reject" :title="'Selejt'" :options="{'0':'Nem','1':'Igen'}"></FormSelect>
                      </div>
                      <div class="col-md-12" v-if="model.reject">
                        <FormInput v-model = "model.reject_message" :title = "$t('Megjegyzés')"></FormInput>
                      </div>
                    </div>
                  </div>
                  <div class = "col-md-4 ">
                    <div class = "row p-2">
                      <h3 class = "col-md-12 mt-2 bg-warning p-2 mb-5">Szerződés adatok</h3>
                      <div class = "col-md-12">
                        <FormDatePicker v-model = "model.contract_date" :title = "$t('Szerződéskötés dáuma')"></FormDatePicker>
                      </div>
                      <div class = "col-md-12">
                        <FormDatePicker v-model = "model.contract_expire" :title = "$t('Szerződés érvényessége')"></FormDatePicker>
                      </div>
                      <div class = "col-md-12">
                        <FormSelect v-model = "model.contract_type" :title = "$t('Határozattlan')" v-if = "model && model.selectables && {}" :options = "{'0':'Nem','1':'Igen'}"></FormSelect>
                      </div>
                      <div class = "col-md-12">
                        <FormDatePicker v-model = "model.agancy_contract_date" :title = "$t('Megbízási szerződés dátuma')"></FormDatePicker>
                      </div>
                      <div class = "col-md-12">
                        <FormDatePicker v-model = "model.works_contarct_date" :title = "$t('Vállalkozási szerződés dátuma')"></FormDatePicker>
                      </div>
                      <div class = "col-md-12">
                        <FormInput v-model = "model.payment_deadline" :title = "$t('Fizetési határidő')"></FormInput>
                      </div>
                      <div class = "col-md-12">
                        <FormSelect v-model = "model.paper_contract" :title = "$t('Papír alapú szerződés')" v-if = "model && model.selectables && {}" :options = "{'0':'Nincs',1:'Van'}"></FormSelect>
                      </div>
                      <div class = "col-md-12">
                        <div class="row">
                          <div class = "col-md-12">
                              <FormSelect v-model = "model.user_id" :title = "$t('Felelős')" :select2="true" v-if = "model && model.selectables && model.selectables.user" :options = "model.selectables.user"></FormSelect>
                          </div>
                          <div class="col-md-6 mb-4 text-center"><button @click="setProjectUser" class="btn btn-sm btn-warning">Beállítása a projektekhez</button></div>
                          <div class="col-md-6 mb-4 text-center"><button @click="setIndustryUser" class="btn btn-sm btn-warning">Beállítása a tevékenységekhez</button></div>
                        </div>
                      </div>
                      <div class = "col-md-12">
                        <FormSelect v-model = "model.completition_type" :title = "$t('Teljesítési típusa')" v-if = "model && model.selectables && model.selectables.completions" :options = "model.selectables.completions"></FormSelect>
                      </div>
                      <div class = "col-md-12">
                        <FormTextArea v-model = "model.completition_text" :title = "$t('Teljesítési szövege')"></FormTextArea>
                      </div>
                    </div>
                  </div>
                  <div class = "col-md-4 ">
                    <div class = "row p-2">
                      <h3 class = "col-md-12 mt-2 bg-warning p-2 mb-5">Számlázási adatok</h3>
                      <div class = "col-md-12">
                        <FormInput v-model = "model.pob" :title = "$t('Postafiók')"></FormInput>
                      </div>
                      <div class = "col-md-12">
                        <FormInput v-model = "model.zip" :title = "$t('Irányítószám')"></FormInput>
                      </div>
                      <div class = "col-md-12">
                        <FormSelect v-model = "model.country_id" :title = "$t('Ország')" :select2="true" v-if = "model && model.selectables && model.selectables.country" :options = "model.selectables.country"></FormSelect>
                      </div>
                      <div class = "col-md-12">
                        <FormSelect v-model = "model.city_id" :title = "$t('Város')" :select2="true" v-if = "model && model.selectables && model.selectables.city" :options = "model.selectables.city"></FormSelect>
                      </div>
                      <div class = "col-md-12">
                        <FormInput v-model = "model.street" :title = "$t('Útca ')"></FormInput>
                      </div>
                      <div class = "col-md-12">
                        <FormInput v-model = "model.number" :title = "$t('Házszám ')"></FormInput>
                      </div>
                      <div class = "col-md-12">
                        <FormInput v-model = "model.postal_address" :title = "$t('Postázási cím')"></FormInput>
                      </div>
                      <div class = "col-md-12">
                        <FormInput v-model = "model.work_address" :title = "$t('Munkavégés helye')"></FormInput>
                      </div>
                      <div class = "col-md-12">
                        <FormSelect v-model = "model.invoice_type" :title = "$t('Számla típusa')" v-if = "model && model.selectables && {}" :options = "{'0':'Elektronikus','1':'Papír alapú'}"></FormSelect>
                      </div>
                      <div class = "col-md-12">
                        <FormInput v-model = "model.invoice_name" :title = "$t('Cég számla felelőse')"></FormInput>
                      </div>
                      <div class = "col-md-12">
                        <FormInput v-model = "model.invoice_email" :title = "$t('Felelős email')"></FormInput>
                      </div>
                      <div class = "col-md-12">
                        <FormPhone v-model = "model.invoice_phone" :title = "$t('Felelős telefon')"></FormPhone>
                      </div>
                    </div>
                  </div>
                </div>
                  <div class="row" v-if="fixings && fixings.fixing">
                      <div class="col-md-9">
                          <h4>Rögzítések</h4>
                        <div class="table-responsive">
                          <table class="table table-bordered">
                              <tr>
                                  <th>Év</th>
                                  <th>Jan.</th>
                                  <th>Febr.</th>
                                  <th>Márc.</th>
                                  <th>Ápr.</th>
                                  <th>Máj.</th>
                                  <th>Jún.</th>
                                  <th>Júl.</th>
                                  <th>Aug</th>
                                  <th>Szept.</th>
                                  <th>Okt.</th>
                                  <th>Nov.</th>
                                  <th>Dec.</th>
                              </tr>
                              <tr v-for="(fix,index) in Object.keys(fixings.fixing)" v-bind:key="'fix-'+index">
                                  <th>{{fix}}</th>
                                  <td v-bind:class="{'bg-success':fixings.fixing[fix]['01'].hours}">{{fixings.fixing[fix]['01'].hours}}</td>
                                  <td v-bind:class="{'bg-success':fixings.fixing[fix]['02'].hours}">{{fixings.fixing[fix]['02'].hours}}</td>
                                  <td v-bind:class="{'bg-success':fixings.fixing[fix]['03'].hours}">{{fixings.fixing[fix]['03'].hours}}</td>
                                  <td v-bind:class="{'bg-success':fixings.fixing[fix]['04'].hours}">{{fixings.fixing[fix]['04'].hours}}</td>
                                  <td v-bind:class="{'bg-success':fixings.fixing[fix]['05'].hours}">{{fixings.fixing[fix]['05'].hours}}</td>
                                  <td v-bind:class="{'bg-success':fixings.fixing[fix]['06'].hours}">{{fixings.fixing[fix]['06'].hours}}</td>
                                  <td v-bind:class="{'bg-success':fixings.fixing[fix]['07'].hours}">{{fixings.fixing[fix]['07'].hours}}</td>
                                  <td v-bind:class="{'bg-success':fixings.fixing[fix]['08'].hours}">{{fixings.fixing[fix]['08'].hours}}</td>
                                  <td v-bind:class="{'bg-success':fixings.fixing[fix]['09'].hours}">{{fixings.fixing[fix]['09'].hours}}</td>
                                  <td v-bind:class="{'bg-success':fixings.fixing[fix]['10'].hours}">{{fixings.fixing[fix]['10'].hours}}</td>
                                  <td v-bind:class="{'bg-success':fixings.fixing[fix]['11'].hours}">{{fixings.fixing[fix]['11'].hours}}</td>
                                  <td v-bind:class="{'bg-success':fixings.fixing[fix]['12'].hours}">{{fixings.fixing[fix]['12'].hours}}</td>
                              </tr>
                          </table>

                      </div>
                      </div>
                      <div class="col-md-3">
                          <h4>Diákok akik dolgoztak</h4>
                          <h5>Összesen: {{fixings.students.length}}</h5>
                          <a class="btn btn-outline-danger" data-toggle="modal" data-target="#studentModal">Részletek</a>
                          <div class="modal fade" id="studentModal" tabindex="-1" role="dialog">
                              <div class="modal-dialog modal-dialog-centered" role="document">
                                  <div class="modal-content">
                                      <div class="modal-header bg-warning">
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <i aria-hidden="true" class="ki ki-close"></i>
                                          </button>
                                      </div>
                                      <div class="modal-body p-4">
                                        <div class="table-responsive">
                                          <table class=" table table-condensed table-bordered">
                                              <tr>
                                                  <th>Név</th>
                                                  <th nowrap="">Ledolgozott óraszám</th>
                                              </tr>
                                              <tr v-for="(student,index) in fixings.students" v-bind:key="'f-student-'+student.id+'-'+index">
                                                  <td>{{student.student_name}}</td>
                                                  <td>{{student.sum_hour}} óra</td>
                                              </tr>
                                          </table>
                                        </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class = "tab-pane fade container-fluid" id = "section2" role = "tabpanel" aria-labelledby = "nav-home-tab">
                <div class = "row">
                  <div class = "col-md-12 ">
                    <div class = "row p-2">
                      <h3 class = "col-md-12 mt-2 bg-warning p-2 mb-5">Telephelyek</h3>
                    </div>
                    <SiteList v-if="model && model.id && selectedTab=='sites'" :company_id="model.id" v-on:refresh="refreshCompany"></SiteList>
                  </div>
                </div>
              </div>
              <div class = "tab-pane fade container-fluid" id = "section11" role = "tabpanel" aria-labelledby = "nav-home-tab">
                <div class = "row">
                  <div class = "col-md-12 ">
                    <div class = "row p-2">
                      <h3 class = "col-md-8 mt-2 bg-warning p-2 mb-5">Dolgozók</h3>
                      <div class="col-md-2"><FormMonthPicker v-model="month" :title="'Hónap'"></FormMonthPicker>  </div>
                      <div class="col-md-2"><FormCheckbox v-model="all"   :options="{ 1: $t('Összes diák')}"></FormCheckbox></div>
                    </div>
                    <WorkersList v-if="model && model.id && selectedTab=='workers'" :month="month" :all="all" :company_id="model.id" ></WorkersList>
                  </div>
                </div>
              </div>
              <div class = "tab-pane fade container-fluid" id = "section3" role = "tabpanel" aria-labelledby = "nav-home-tab">
                <div class = "row">
                  <div class = "col-md-12 ">
                    <div class = "row p-2">
                      <h3 class = "col-md-12 mt-2 bg-warning p-2 mb-5">Tevékenységek</h3>
                    </div>
                    <IndustryList  v-if="model && model.id && selectedTab=='industries'" :company_id="model.id" :company="model" v-on:refresh="refreshCompany"></IndustryList>
                  </div>
                </div>
              </div>
              <div class = "tab-pane fade container-fluid" id = "section4" role = "tabpanel" aria-labelledby = "nav-home-tab">
                <div class = "row">
                  <div class = "col-md-12 ">
                    <div class = "row p-2">
                      <h3 class = "col-md-12 mt-2 bg-warning p-2 mb-5">Kapcsolattartók</h3>
                    </div>
                    <ContactList v-if="model && model.id && selectedTab=='contacts'" :company_id="model.id" v-on:refresh="refreshCompany"></ContactList>
                  </div>
                </div>
              </div>
              <div class = "tab-pane fade container-fluid" id = "section10" role = "tabpanel" aria-labelledby = "nav-home-tab">
                <div class = "row">
                  <div class = "col-md-12 ">
                    <div class = "row p-2">
                      <h3 class = "col-md-12 mt-2 bg-warning p-2 mb-5">Bónuszok</h3>
                    </div>
                    <BonusList v-if="model && model.id && selectedTab=='bonus'" :company_id="model.id" v-on:refresh="refreshCompany"></BonusList>
                  </div>
                </div>
              </div>
                <div class = "tab-pane fade container-fluid" id = "section5" role = "tabpanel" aria-labelledby = "nav-home-tab">
                    <div class = "row">
                        <div class = "col-md-12 ">
                            <div class = "row p-2">
                                <h3 class = "col-md-12 mt-2 bg-warning p-2 mb-5">Dokumentumok</h3>
                            </div>
                            <DocumentList v-if="model && model.id && selectedTab=='documents'"  :company_id="model.id"></DocumentList>
                        </div>
                    </div>
                </div>
              <div class = "tab-pane fade container-fluid" id = "section6" role = "tabpanel" aria-labelledby = "nav-home-tab">
                <div class = "row">
                  <div class = "col-md-12 ">
                    <div class = "row p-2">
                      <h3 class = "col-md-12 mt-2 bg-warning p-2 mb-5">Hozzáférések</h3>
                        <CompanyUserList v-if="model && model.id && selectedTab=='access'" :company_id="model.id" v-on:refresh="refreshCompany"></CompanyUserList>
                    </div>
                  </div>
                </div>
              </div>
              <div class = "tab-pane fade container-fluid" id = "section14" role = "tabpanel" aria-labelledby = "nav-home-tab">
                <div class = "row">
                  <div class = "col-md-12 ">
                    <div class = "row p-2">
                      <h3 class = "col-md-12 mt-2 bg-warning p-2 mb-5">Projectek</h3>
                      <ProjectList v-if="model && model.id && selectedTab=='projects'" :company_id="model.id" ></ProjectList>
                    </div>
                  </div>
                </div>
              </div>
                <div class = "tab-pane fade container-fluid" id = "section7" role = "tabpanel" aria-labelledby = "nav-home-tab">
                    <div class = "row">
                        <div class = "col-md-12 ">
                            <div class = "row p-2">
                                <h3 class = "col-md-12 mt-2 bg-warning p-2 mb-5">Tenderek</h3>
                            </div>
                            <TenderList v-if="model && model.id" :company_id="model.id"></TenderList>
                        </div>
                    </div>
                </div>
                <div class = "tab-pane fade container-fluid" id = "section8" role = "tabpanel" aria-labelledby = "nav-home-tab">
                    <div class = "row">
                        <div class = "col-md-12 ">
                            <div class = "row p-2">
                                <h3 class = "col-md-12 mt-2 bg-warning p-2 mb-5">Nyomtatványok</h3>
                            </div>
                            <FormList v-if="model && model.id" :company_id="model.id"></FormList>
                        </div>
                    </div>
                </div>
              <div class = "tab-pane fade container-fluid" id = "section12" role = "tabpanel" aria-labelledby = "nav-home-tab">
                <div class = "row">
                  <div class = "col-md-12 ">
                    <div class = "row p-2">
                      <h3 class = "col-md-8 mt-2 bg-warning p-2 mb-5">Rögzízés</h3>
                      <div class="col-md-4">
                        <FormSelect v-model = "fixingYear" :title = "$t('Év')" :options = "years"></FormSelect></div>
                    </div>
                    <FixingList v-if="model && model.id" :company_id="model.id" :year="fixingYear"></FixingList>
                  </div>
                </div>
              </div>
              <div class = "tab-pane fade container-fluid" id = "section13" role = "tabpanel" aria-labelledby = "nav-home-tab">
                <div class = "row">
                  <div class = "col-md-12 ">
                      <h3 class = "col-md-12 mt-2 bg-warning p-2 mb-5">Megjegyzések</h3>
                    <CommentsList v-if="model && model.id" :company_id="model.id"></CommentsList>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import FormInput from '../../../../../../resources/js/components/form/FormInput'
import FormDatePicker from '../../../../../../resources/js/components/form/FormDatePicker'
import FormSelect from '../../../../../../resources/js/components/form/FormSelect'
import FormPhone from '../../../../../../resources/js/components/form/FormPhone'
import ContactList from './contact/ContactList'
import IndustryList from './industry/IndustryList'
import DocumentList from './documents/DocumentsList'
import FormList from './forms/FormList'
import TenderList from './tenders/TendersList'
import CompanyUserList from './users/CompanyUserList'
import FormTextArea from '../../../../../../resources/js/components/form/FormTextArea'
import BonusList from './bonus/BonusList'
import WorkersList from './workers/WorkersList'
import FormMonthPicker from '../../../../../../resources/js/components/form/FormMonthPicker.vue'
import FormCheckbox from '../../../../../../resources/js/components/form/FormCheckbox.vue'
import FormRadio from '../../../../../../resources/js/components/form/FormRadio.vue'
import FixingList from './fixing/FixingList.vue'
import CommentsList from './comments/CommentsList.vue'
import ProjectList from './projects/ProjectsList.vue'

export default {
    name: 'CompanyForm',
    props: {
        url: {
            required: true,
            type: String
        },
        model: {
            required: true,
            type: Object
        }
    },
    data () {
        return {
            month: null,
            all: false,
            fixings: null,
            fixingYear: new Date().getFullYear(),
            selectedTab: ''
        }
    },
    computed: {
        languages: function () {
            const l = []
            for (const it in this.$store.state.defaultStore.languages) {
                l.push(it)
            }
            return l
        },
        years: function () {
            const start = new Date().getFullYear()
            const resp = {}
            resp[start] = start
            for (let i = 1; i < 10; i++) {
                resp[start - i] = start - i
            }
            console.log(resp)
            return resp
        }
    },
    components: { ProjectList, CommentsList, CompanyUserList, TenderList, DocumentList, IndustryList, ContactList, BonusList, FormInput, FormDatePicker, FormSelect, FormList, FormTextArea, FormPhone, WorkersList, FormMonthPicker, FormCheckbox, FormRadio, FixingList },
    methods: {
        getFixings () {
            if (this.model.id) {
                this.axios.get(this.url + '/get-fixings/' + this.model.id).then(resp => {
                    this.fixings = resp.data
                })
            }
        },
        setProjectUser () {
            const self = this
            swal.fire({
                title: this.$t('A művelet nem visszavonható!'),
                text: this.$t('A cég felelőse beállításra kerül az összes projektnél, ami a céghez tartozik'),
                type: 'warning',
                showCancelButton: !0,
                confirmButtonText: this.$t('Confirm!'),
                cancelButtonText: this.$t('No, cancel!'),
                reverseButtons: !0
            }).then(function (e) {
                if (e.value) {
                    self.axios.post(self.url + '/set-contact-all-project/' + self.model.id).then((response) => {
                    })
                }
            })
        },
        setIndustryUser () {
            const self = this
            swal.fire({
                title: this.$t('A művelet nem visszavonható!'),
                text: this.$t('A cég felelőse beállításra kerül az összes tevékenységnél, ami a céghez tartozik'),
                type: 'warning',
                showCancelButton: !0,
                confirmButtonText: this.$t('Confirm!'),
                cancelButtonText: this.$t('No, cancel!'),
                reverseButtons: !0
            }).then(function (e) {
                if (e.value) {
                    self.axios.post(self.url + '/set-contact-all-industry/' + self.model.id).then((response) => {
                    })
                }
            })
        },
        refreshCompany () {
            this.$eventHub.$emit('refreshCompany')
        }
    }

}
</script>
