<template>
  <div>
    <div class="modal fade" id="companyWorkerModal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header bg-warning">
            <h5 class="modal-title">Információ</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <i aria-hidden="true" class="ki ki-close"></i>
            </button>
          </div>
          <div class="modal-body p-4">
            <div class="row">
              <div class="col-12">
                <div class=" table-responsive">
                  <table class="table table-bordered table-hover">
                    <tr>
                      <th>Kapcsolattartó</th>
                      <th>Beosztás</th>
                      <th>Email</th>
                      <th>Telefon</th>
                    </tr>
                    <tr v-for="(student,index) in list.contact" v-bind:key="'ct-list-'+index">
                      <td>{{student.name}}</td>
                      <td>{{student.position}}</td>
                      <td>{{student.email}}</td>
                      <td>{{student.phone}}</td>
                    </tr>
                  </table>
                </div>
                </div>
              </div>
            <div class="row">
              <div class="col-12">
                <div class=" table-responsive">
                  <table class="table table-bordered table-hover">
                    <tr>
                      <th>Tevékenyéség</th>
                      <th>Diák bér</th>
                      <th>Felelős</th>
                    </tr>
                    <tr v-for="(student,index) in list.industry" v-bind:key="'ct-list-'+index">
                      <td>{{student.name}}</td>
                      <td>{{student.price_hour}}</td>
                      <td>{{student.contact.firstname}} {{student.contact.lastname}}</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            <div class="row">
            <div class="col-12">
              <div class=" table-responsive">
                <table class="table table-bordered table-hover">
                  <tr>
                    <th>Tevékenység</th>
                    <th>Diák</th>
                  </tr>
                  <tr v-for="(student,index) in list.worker" v-bind:key="'st-list-'+index">
                    <td>{{student.industry_name}}</td>
                    <td>{{student.student_name}}{{student.tax}}</td>
                  </tr>
                </table>
            </div>
            </div>
          </div>
          <div class="modal-footer ">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Bezár</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</template>

<script>

export default {
    name: 'CompanyWorker',
    props: {
        url: {
            required: true,
            type: String
        }
    },
    components: { },
    data () {
        return {
            list: []
        }
    },
    watch: {
        model: {
            handler: function (val, oldVal) {
                if (val !== oldVal) {
                    this.localModel = val
                }
            }
        }
    },
    methods: {
        getWorkers (companyId) {
            this.axios.get(this.url + '/get-worker/' + companyId).then((resp) => {
                this.list = resp.data.data
            })
        }
    },
    mounted () {
        const self = this
        this.$eventHub.$on('companyWorker', function (id) {
            self.getWorkers(id)
            window.$('#companyWorkerModal').modal('show')
        })
    }
}
</script>
