<template>
    <div>
        <div class="row">
            <div class="col-2">
                <FormInput title="Keresés" v-model="search.search"></FormInput>
            </div>
            <div class="col-8"></div>
            <div class="col-2">
            <a :href="excelLink" class="btn btn-outline-success pull-right"><i class="fa fa-file-excel"></i> Letöltés</a></div>
        </div>
    <div class=" table-responsive">
        <table class="table table-bordered table-hover">
            <tr>
                <th>Cég neve</th>
                <th>Kapcsolattartó</th>
                <th>Beosztás</th>
                <th>Email</th>
                <th>Telefon</th>
            </tr>
            <tbody v-if="list">
            <tr v-for="(contact,index) in list" v-bind:key="'contact-'+index+'-'+contact.id">
                <td>{{contact.company_name}}</td>
                <td>{{contact.name}}</td>
                <td>{{contact.position}}</td>
                <td><a :href="'mailto:'+contact.email">{{contact.email}}</a></td>
                <td><a :href="'tel:'+contact.phone">{{contact.phone}}</a></td>
            </tr>
            </tbody>
        </table>
        <Pagination v-if="loaded && meta && meta.current_page" v-on:pageChange="pageChange($event)" :meta="meta" :links="links"></Pagination>
    </div>
    </div>
</template>

<script>
import Pagination from '../../../../../../resources/js/components/Pagination'
import FormInput from '../../../../../../resources/js/components/form/FormInput'
import FormSelect from '../../../../../../resources/js/components/form/FormSelect'
export default {
    name: 'CompanyContactTable',
    components: { Pagination, FormSelect, FormInput },
    data () {
        return {
            meta: null,
            search: {},
            list: null,
            links: null,
            attributes: null,
            page: 1,
            loaded: false
        }
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/`
        },
        excelLink: function () {
            return this.url + 'company/list-company-contact/export' + '?page=' + this.page + this.getQuery()
        }

    },
    watch: {
        type: {
            handler: function (val, oldVal) {
                this.page = 1
                this.getCompanyContact()
            }
        },
        search: {
            handler: function (val, oldVal) {
                const self = this
                clearTimeout(self.timeout)
                self.timeout = setTimeout(function () {
                    self.page = 1
                    self.getCompanyContact()
                }, 500)
            },
            deep: true
        }
    },
    created () {
        this.getCompanyContact()
    },
    methods: {
        pageChange (page) {
            this.page = page
            this.getCompanyContact()
        },
        getQuery () {
            let query = ''
            Object.keys(this.search).forEach((item) => {
                if (this.search[item]) {
                    query += '&' + item + '=' + this.search[item]
                }
            })
            return query
        },
        getCompanyContact () {
            this.loaded = false
            this.axios.get(this.url + 'company/list-company-contact' + '?page=' + this.page + this.getQuery()).then((response) => {
                this.list = response.data.data
                this.meta = response.data.meta
                this.links = response.data.links
                this.loaded = true
            })
        }
    }
}
</script>

<style scoped>

</style>
