<template>
    <div>
        <div class="row">
            <div class="col-2">
                <FormInput title="Keresés" v-model="search.search"></FormInput>
            </div>
            <div class="col-2">
                <FormSelect title="Szerződés" v-model="search.contract" :options="{'0':'Nincs',1:'Van'}"></FormSelect>
            </div>
            <div class="col-2">
                <FormSelect title="Papír alapú szerződés" v-model="search.paper" :options="{'0':'Nincs',1:'Van'}"></FormSelect>
            </div>
            <div class="col-2" v-if="type!=='inactive'">
                <FormSelect title="Megbízási" v-model="search.agancy" :options="{'0':'Nincs',1:'Van'}"></FormSelect>
            </div>
            <div class="col-2">
                <FormSelect title="Munkáltatói" v-model="search.works" :options="{'0':'Nincs',1:'Van'}"></FormSelect>
            </div>
            <div class="col-2">
                <FormSelect title="Felelős" v-model="search.user_id" :options="users"></FormSelect>
            </div>
          <div class="col-2"   v-if="type==='inactive'">
            <FormSelect title="Nincs rögzítés" v-model="search.fixing" :options="{0:'Összes',1:'1 hónapja',3:'3 hónapja',6:'Hónapja'}"></FormSelect>
          </div>
        </div>
    <div class=" table-responsive">
        <table class="table table-bordered table-hover">
            <tr>
              <th role="bottom" class="cursor-pointer nowrap" @click="sortList('company_name')">Cég neve <i class="fa fa-fw fa-sort pull-right" ></i></th>
              <th class="cursor-pointer nowrap" @click="sortList('cnt')">Dolgozik <i class="fa fa-fw fa-sort pull-right" ></i></th>
              <th class="cursor-pointer nowrap" @click="sortList('tax')">Adószám <i class="fa fa-fw fa-sort pull-right" ></i></th>
              <th class="cursor-pointer nowrap" @click="sortList('user_name')">Felelős<i class="fa fa-fw fa-sort pull-right" ></i></th>
              <th class="cursor-pointer nowrap" @click="sortList('delegate')">Képviselő<i class="fa fa-fw fa-sort pull-right" ></i></th>
              <th class="cursor-pointer nowrap" @click="sortList('contract_date')">Szerződés dátuma<i class="fa fa-fw fa-sort pull-right" ></i></th>
              <th class="cursor-pointer nowrap" @click="sortList('contract_expire')">Szerződés időtartama<i class="fa fa-fw fa-sort pull-right" ></i></th>
              <th class="cursor-pointer nowrap" @click="sortList('paper_contract')">Papír alapú<i class="fa fa-fw fa-sort pull-right" ></i></th>
              <th class="cursor-pointer nowrap" @click="sortList('agancy_contract_date')">Megbízási<i class="fa fa-fw fa-sort pull-right" ></i></th>
              <th class="cursor-pointer nowrap" @click="sortList('created_at')">Rögzítve<i class="fa fa-fw fa-sort pull-right" ></i></th>
                <th>Művelet</th>
            </tr>
            <tbody v-if="list">
            <tr v-for="(company,index) in list" v-bind:key="'company-'+index+'-'+company.id">
                <td>{{company.name}}<span v-if="company.reject" class="text-danger"><br>{{company.reject_message}}</span></td>
                <td>{{company.cnt}}</td>
                <td>{{company.tax}}</td>
                <td>{{company.user_name}}</td>
                <td>{{company.delegate}}</td>
                <td>{{company.contract_date}}</td>
                <td>{{company.contract_expire}}</td>
                <td>{{company.paper_contract}}</td>
                <td>{{company.agancy_contract_date}}</td>
                <td>{{company.created_at}}</td>

                <td>
                    <router-link :to="'/admin/company/edit/'+company.id" class="btn btn-success" title="Szerkesztés"><i class="fa fa fa-edit"></i></router-link>
                    <button @click="openModal(company.id)" class="btn btn-info" title="Dolgozók"><i class="fa fa fa-list"></i></button>
                    <button @click="openCampaignModal(company.id)" class="btn btn-warning" title="Cég kampányhoz rendelése"><i class="flaticon-graph"></i></button>
                </td>
            </tr>
            </tbody>
        </table>
        <Pagination v-if="loaded && meta && meta.current_page" v-on:pageChange="pageChange($event)" :meta="meta" :links="links"></Pagination>
    </div>
    </div>
</template>

<script>
import Pagination from '../../../../../../resources/js/components/Pagination'
import FormInput from '../../../../../../resources/js/components/form/FormInput'
import FormSelect from '../../../../../../resources/js/components/form/FormSelect'
export default {
    name: 'CompanyTable',
    props: ['type', 'users'],
    components: { Pagination, FormSelect, FormInput },
    data () {
        return {
            meta: null,

            search: {},
            list: null,
            links: null,
            attributes: null,
            sort: '',
            direction: '',
            page: 1,
            loaded: false
        }
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/`
        }

    },
    watch: {
        type: {
            handler: function (val, oldVal) {
                this.page = 1
                this.getCompany()
            }
        },
        search: {
            handler: function (val, oldVal) {
                const self = this
                clearTimeout(self.timeout)
                self.timeout = setTimeout(function () {
                    self.page = 1
                    self.getCompany()
                }, 500)
            },
            deep: true
        }

    },
    created () {
        this.getCompany()
    },
    methods: {
        pageChange (page) {
            this.page = page
            this.getCompany()
        },
        getQuery () {
            let query = ''
            Object.keys(this.search).forEach((item) => {
                if (this.search[item]) {
                    query += '&' + item + '=' + this.search[item]
                }
            })
            if (this.sort) {
                query += '&sort=' + this.sort + ',' + this.direction
            }
            return query
        },
        openModal (id) {
            this.$eventHub.$emit('companyWorker', id)
        },
        openCampaignModal (id) {
            this.$eventHub.$emit('campaignModal', id)
        },
        getCompany () {
            this.loaded = false
            this.axios.get(this.url + 'company/list/' + this.type + '?page=' + this.page + this.getQuery()).then((response) => {
                this.list = response.data.data
                this.meta = response.data.meta
                this.links = response.data.links
                this.loaded = true
            })
        },
        sortList (name) {
            if (!this.direction) {
                this.direction = 'asc'
            }
            if (this.sort === name) {
                this.direction = (this.direction === 'asc') ? 'desc' : 'asc'
            } else {
                this.sort = name
                this.direction = 'asc'
            }
            this.getCompany()
        }
    }
}
</script>

<style scoped>

</style>
