<template>
    <CompanyForm v-on:refreshCompany="getCompany" v-if="Object.keys(model).length > 0" :url="url" :model="model"></CompanyForm>
</template>

<script>
import CompanyForm from './CompanyForm'
import Company from './Company'

export default {
    name: 'CompanyCreate',
    extends: Company,
    data () {
        return {
            model: {}
        }
    },
    components: { CompanyForm },
    beforeMount: function () {
        this.handleCreate('company', this.url, {})

        this.getCompany()
    }

}
</script>
