<template>
    <div>
        <div class = "kt-portlet">
            <div class = "kt-portlet__body">
                <div class = "kt-form kt-form--label-right">
                    <div class = "kt-form__body">
                      <div class="modal fade" id="campaignModal" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                          <div class="modal-content ">
                            <div class="modal-header bg-warning">
                              <h5 class="modal-title">Cég kampányhoz rendelése</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <i aria-hidden="true" class="ki ki-close"></i>
                              </button>
                            </div>
                            <div class="modal-body p-4" >
                              <div class="row">
                                <div class="col-md-12">
                                  <FormAutocomplete  attributeKey="id" attributeValue="name" :url="'/api/v1/campaig/index'" v-model="campaign.campaign_id" :title="'Kampány'"></FormAutocomplete>
                                </div>
                                <div class="col-md-12">
                                  <FormSelectCheckbox :select2="true"  v-model = "campaign.services" :title = "$t('Milyen szolgáltatások érdeklik')" :options = "{'diák':'diák', 'főállású':'főállású', 'kölcsönzés':'kölcsönzés', 'közvetítés':'közvetítés', 'nyugdíjkas':'nyugdíjkas'}"></FormSelectCheckbox>
                                </div>
                                <div class="col-md-12"><FormAutocomplete :title="'Kapcsolattartó'" attributeKey="id" attributeValue="name" :url="'/api/v1/user/index'" v-model="campaign.user_id" ></FormAutocomplete></div>
                              </div>
                              <div class="modal-footer ">
                                <button type="button" class="btn btn-success"  @click="addCompany">Cég hozzárendelése</button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Mégse</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                        <nav>
                          <CompanyWorker :url="url"></CompanyWorker>
                            <div class = "nav nav-tabs nav-fill" id = "nav-tab" role = "tablist">
                                <a class = "nav-item nav-link active" id = "nav-section0" data-toggle = "tab" href = "#section0" @click.prevent="selectedTab='company'" role = "tab" aria-controls = "nav-home" aria-selected = "true">Cégek</a>
                                <a class = "nav-item nav-link" id = "nav-section1" data-toggle = "tab" href = "#section1" @click.prevent="selectedTab='active'" role = "tab" aria-controls = "nav-home" aria-selected = "true">Aktív</a>
                                <a class = "nav-item nav-link" id = "nav-section2" data-toggle = "tab" href = "#section2" role = "tab" @click.prevent="selectedTab='inactive'" aria-controls = "nav-profile" aria-selected = "false">Inaktív</a>
                                <a class = "nav-item nav-link" id = "nav-section3" data-toggle = "tab" href = "#section3" role = "tab" @click.prevent="selectedTab='sleeping'" aria-controls = "nav-contact" aria-selected = "false">Alvó</a>
                                <a class = "nav-item nav-link" id = "nav-section6" data-toggle = "tab" href = "#section6" role = "tab" @click.prevent="selectedTab='reject'" aria-controls = "nav-contact" aria-selected = "false">Selejt</a>
                                <a class = "nav-item nav-link" id = "nav-section4" data-toggle = "tab" href = "#section4" role = "tab"  @click.prevent="selectedTab='tender'" aria-controls = "nav-about" aria-selected = "false">Tenderek</a>
                                <a class = "nav-item nav-link" id = "nav-section5" data-toggle = "tab" href = "#section5" role = "tab" @click.prevent="selectedTab='contact'" aria-controls = "nav-about" aria-selected = "false">Kapcsolattartók</a>
                            </div>
                        </nav>
                      <div class="mb-2"><a class="btn btn-success " target="_blank"  :href="getLink"><i class="fa fa-file-excel mr-2"></i>Aktív tevékenységek</a></div>
                        <div class = "tab-content py-3 px-3 px-sm-0" id = "nav-tabContent">
                            <div class = "tab-pane fade show active container-fluid" v-if="selectedTab==='company'" id = "section0" role = "tabpanel" aria-labelledby = "nav-home-tab">
                                <div class="row">
                                    <div class="col-2">
                                    <FormInput title="Keresés" v-model="search.search"></FormInput>
                                    </div>
                                    <div class="col-1">
                                      <FormSelect  v-if="selectedTab!=='inactive'" title="Dolgoznak" v-model="search.has_worker" :options="{'1':'Igen',0:'Nem'}"></FormSelect>
                                    </div>
                                    <div class="col-1">
                                    <FormSelect title="Szerződés" v-model="search.contract" :options="{'0':'Nincs',1:'Van'}"></FormSelect>
                                    </div>
                                    <div class="col-2">
                                    <FormSelect title="Papír alapú szerződés" v-model="search.paper" :options="{'0':'Nincs',1:'Van'}"></FormSelect>
                                        </div>
                                    <div class="col-2">
                                    <FormSelect title="Megbízási" v-model="search.agancy" :options="{'0':'Nincs',1:'Van'}"></FormSelect>
                                    </div>
                                    <div class="col-2">
                                    <FormSelect title="Munkáltatói" v-model="search.works" :options="{'0':'Nincs',1:'Van'}"></FormSelect>
                                    </div>
                                    <div class="col-2">
                                    <FormSelect title="Felelős" v-model="search.user_id" :options="attributes"></FormSelect>
                                    </div>
                                </div>
                                <div class=" table-responsive">

                                    <table class="table table-bordered table-hover">
                                        <tr>
                                            <th role="bottom" class="cursor-pointer nowrap" @click="sortList('company_name')">Cég neve <i class="fa fa-fw fa-sort pull-right" ></i></th>
                                              <th class="cursor-pointer nowrap" @click="sortList('cnt')">Dolgozik <i class="fa fa-fw fa-sort pull-right" ></i></th>
                                            <th class="cursor-pointer nowrap" @click="sortList('tax')">Adószám <i class="fa fa-fw fa-sort pull-right" ></i></th>
                                            <th class="cursor-pointer nowrap" @click="sortList('user_name')">Felelős<i class="fa fa-fw fa-sort pull-right" ></i></th>
                                            <th class="cursor-pointer nowrap" @click="sortList('delegate')">Képviselő<i class="fa fa-fw fa-sort pull-right" ></i></th>
                                            <th class="cursor-pointer nowrap" @click="sortList('contract_date')">Szerződés dátuma<i class="fa fa-fw fa-sort pull-right" ></i></th>
                                            <th class="cursor-pointer nowrap" @click="sortList('contract_expire')">Szerződés időtartama<i class="fa fa-fw fa-sort pull-right" ></i></th>
                                            <th class="cursor-pointer nowrap" @click="sortList('paper_contract')">Papír alapú<i class="fa fa-fw fa-sort pull-right" ></i></th>
                                            <th class="cursor-pointer nowrap" @click="sortList('agancy_contract_date')">Megbízási<i class="fa fa-fw fa-sort pull-right" ></i></th>
                                            <th class="cursor-pointer nowrap" @click="sortList('created_at')">Rögzítve<i class="fa fa-fw fa-sort pull-right" ></i></th>
                                         <!--   <th class="cursor-pointer nowrap" @click="sortList('works_contract_date')">Munkáltatói<i class="fa fa-fw fa-sort pull-right" ></i></th>-->
                                            <th >Művelet<i class="fa fa-fw fa-sort pull-right" ></i></th>
                                        </tr>
                                        <tbody v-if="list">
                                        <tr v-for="company in list" v-bind:key="'company-'+company.id" v-bind:class="{'bg-silver':company.campaign_name}" :title="company.campaign_name">
                                          <td>{{company.name}}

                                            <i class="fa fa-globe text-info" v-if="company.online_presence >0" title="Online jelénléti" ></i>
                                            <i v-if="company.campaign_name" class="flaticon-graph  text-danger" :title="company.campaign_name"></i>
                                          </td>
                                            <td>{{company.cnt}}</td>
                                            <td>{{company.tax}}</td>
                                            <td>{{company.user_name}}</td>
                                            <td>{{company.delegate}}</td>
                                            <td>{{company.contract_date}}</td>
                                            <td>{{company.contract_expire}}</td>
                                            <td>{{company.paper_contract}}</td>
                                            <td>{{company.agancy_contract_date}}</td>
                                            <td>{{company.created_at}}</td>
                                         <!--   <td>{{company.works_contract_date}}</td>-->
                                            <td>
                                                <router-link :to="'/admin/company/edit/'+company.id" class="btn btn-success" title="Szerkesztés"><i class="fa fa fa-edit"></i></router-link>
                                                <button @click="openModal(company.id)" class="btn btn-info" title="Dolgozók"><i class="fa fa fa-list"></i></button>
                                                 <button @click="openCampaignModal(company.id)" class="btn btn-warning" title="Cég kampányhoz rendelése"><i class="flaticon-graph"></i></button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <Pagination v-if="loaded && meta && meta.current_page" v-on:pageChange="pageChange($event)" :meta="meta" :links="links"></Pagination>
                                </div>
                            </div>
                            <div class = "tab-pane fade show active container-fluid" v-if="selectedTab==='active'" id = "section1" role = "tabpanel" aria-labelledby = "nav-home-tab">
                               <CompanyTable v-if="selectedTab==='active'" :users="attributes" type="active"></CompanyTable>
                            </div>
                            <div class = "tab-pane fade show active container-fluid" v-if="selectedTab==='inactive'" id = "section2" role = "tabpanel" aria-labelledby = "nav-home-tab">
                                <CompanyTable v-if="selectedTab==='inactive'" :users="attributes" type="inactive"></CompanyTable>
                            </div>
                            <div class = "tab-pane fade show active container-fluid" v-if="selectedTab==='sleeping'" id = "section3" role = "tabpanel" aria-labelledby = "nav-home-tab">
                                <CompanyTable v-if="selectedTab==='sleeping'" :users="attributes" type="sleeping"></CompanyTable>
                            </div>
                          <div class = "tab-pane fade show active container-fluid" v-if="selectedTab==='reject'" id = "section6" role = "tabpanel" aria-labelledby = "nav-home-tab">
                            <CompanyTable v-if="selectedTab==='reject'" :users="attributes" type="reject"></CompanyTable>
                          </div>
                            <div class = "tab-pane fade show active container-fluid" v-if="selectedTab==='contact'" id = "section5" role = "tabpanel" aria-labelledby = "nav-home-tab">
                                <CompanyContactTable v-if="selectedTab==='contact'"></CompanyContactTable>
                            </div>
                            <div class = "tab-pane fade show active container-fluid" v-if="selectedTab==='tender'" id = "section4" role = "tabpanel" aria-labelledby = "nav-home-tab">
                                <CompanyTenderTable v-if="selectedTab==='tender'"></CompanyTenderTable>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import CompanyTable from './CompanyTable'
import FormInput from '../../../../../../resources/js/components/form/FormInput'
import FormSelect from '../../../../../../resources/js/components/form/FormSelect'
import Pagination from '../../../../../../resources/js/components/Pagination'
import CompanyContactTable from './CompanyContactTable'
import CompanyTenderTable from './CompanyTenderTable'
import CompanyWorker from './CompanyWorker'
import FormAutocomplete from '../../../../../../resources/js/components/form/FormAutocomplete.vue'
import FormSelectCheckbox from '../../../../../../resources/js/components/form/FormSelectCheckbox.vue'
export default {
    name: 'CompanyList',
    props: ['url'],
    components: { FormSelectCheckbox, FormAutocomplete, CompanyWorker, CompanyTenderTable, CompanyContactTable, CompanyTable, Pagination, FormInput, FormSelect },
    data () {
        return {
            search: {},
            campaign: {
                user_id: null,
                services: null,
                company_id: null,
                campaign_id: null
            },
            user_id: null,
            selectedTab: 'company',
            meta: null,
            list: null,
            links: null,
            attributes: null,
            page: 1,
            loaded: false,
            sort: '',
            direction: '',
            timeout: null
        }
    },
    created () {
        this.getCompany()
    },
    watch: {
        search: {
            handler: function (val, oldVal) {
                const self = this
                clearTimeout(self.timeout)
                self.timeout = setTimeout(function () {
                    self.page = 1
                    self.getCompany()
                }, 500)
            },
            deep: true
        }
    },
    methods: {
        pageChange (page) {
            this.page = page
            this.getCompany()
        },
        getQuery () {
            let query = ''
            Object.keys(this.search).forEach((item) => {
                if (this.search[item]) {
                    query += '&' + item + '=' + this.search[item]
                }
            })
            if (this.sort) {
                query += '&sort=' + this.sort + ',' + this.direction
            }
            return query
        },
        getCompany () {
            this.loaded = false
            this.axios.get(this.url + '/list-company' + '?page=' + this.page + this.getQuery()).then((response) => {
                this.list = response.data.data
                this.meta = response.data.meta
                this.links = response.data.links
                this.attributes = response.data.attributes
                this.loaded = true
            })
        },
        addCompany () {
            this.axios.post(this.url.replace('company', 'campaig') + '/add-company', this.campaign).then((response) => {
                window.$('#campaignModal').modal('hide')
            }).catch(() => {
            })
        },
        sortList (name) {
            if (!this.direction) {
                this.direction = 'asc'
            }
            if (this.sort === name) {
                this.direction = (this.direction === 'asc') ? 'desc' : 'asc'
            } else {
                this.sort = name
                this.direction = 'asc'
            }
            this.getCompany()
        },
        openModal (id) {
            this.$eventHub.$emit('companyWorker', id)
        },
        openCampaignModal (id) {
            this.$eventHub.$emit('campaignModal', id)
        }
    },
    mounted () {
        const self = this
        this.$eventHub.$on('campaignModal', function (id) {
            self.campaign.company_id = id
            window.$('#campaignModal').modal('show')
        })
    },
    computed: {

        getLink: function () {
            return this.url + '/active-export?api_token=' + $cookies.get('token')
        }
    }
}
</script>
