<template>
    <div>
        <div class="row">
            <div class="col-2">
                <FormInput title="Keresés" v-model="search.search"></FormInput>
            </div>
        </div>
    <div class=" table-responsive">
        <table class="table table-bordered table-hover">
            <tr>
                <th>Cég neve</th>
                <th>Keret összeg</th>
                <th>Felhasznált</th>
                <th>Megmaradt</th>
                <th>Kezdete</th>
                <th>Vége</th>
            </tr>
            <tbody v-if="list">
            <tr v-for="(contact,index) in list" v-bind:key="'contact-'+index+'-'+contact.id">
                <td>{{contact.company_name}}</td>
                <td><Price :value="contact.frame_limit"></Price></td>
                <td><Price :value="contact.frame_used"></Price></td>
                <td><Price :value="contact.frame_left"></Price></td>
                <td>{{contact.start}}</td>
                <td>{{contact.end}}</td>
            </tr>
            </tbody>
        </table>
        <Pagination v-if="loaded && meta && meta.current_page" v-on:pageChange="pageChange($event)" :meta="meta" :links="links"></Pagination>
    </div>
    </div>
</template>

<script>
import Pagination from '../../../../../../resources/js/components/Pagination'
import Price from '../../../../../../resources/js/components/Price'
import FormInput from '../../../../../../resources/js/components/form/FormInput'
import FormSelect from '../../../../../../resources/js/components/form/FormSelect'
export default {
    name: 'CompanyTenderTable',
    components: { Pagination, FormSelect, FormInput, Price },
    data () {
        return {
            meta: null,
            search: {},
            list: null,
            links: null,
            attributes: null,
            page: 1,
            loaded: false
        }
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/`
        }

    },
    watch: {
        type: {
            handler: function (val, oldVal) {
                this.page = 1
                this.getCompanyTender()
            }
        },
        search: {
            handler: function (val, oldVal) {
                const self = this
                clearTimeout(self.timeout)
                self.timeout = setTimeout(function () {
                    self.page = 1
                    self.getCompanyTender()
                }, 500)
            },
            deep: true
        }
    },
    created () {
        this.getCompanyTender()
    },
    methods: {
        pageChange (page) {
            this.page = page
            this.getCompanyTender()
        },
        getQuery () {
            let query = ''
            Object.keys(this.search).forEach((item) => {
                if (this.search[item]) {
                    query += '&' + item + '=' + this.search[item]
                }
            })
            return query
        },
        getCompanyTender () {
            this.loaded = false
            this.axios.get(this.url + 'company/tenders' + '?page=' + this.page + this.getQuery()).then((response) => {
                this.list = response.data.data
                this.meta = response.data.meta
                this.links = response.data.links
                this.loaded = true
            })
        }
    }
}
</script>

<style scoped>

</style>
