<template>
  <ul class="kt-menu__nav" >
      <template v-if="!$store.state.defaultStore.user.is_company">
          <template v-for="(menu, i) in menuItems">
          <KTMenuItem v-if="!menu.section" :menu="menu" :key="i"></KTMenuItem>
          <KTMenuSection v-if="menu.section" :menu="menu" :key="i"></KTMenuSection>
        </template>
      </template>
      <template v-if="$store.state.defaultStore.user.is_company===1">
          <template v-for="(menu, i) in menuItemsCompany">
              <KTMenuItem v-if="!menu.section" :menu="menu" :key="i"></KTMenuItem>
              <KTMenuSection v-if="menu.section" :menu="menu" :key="i"></KTMenuSection>
          </template>
      </template>
  </ul>

</template>

<script>
import KTMenuItem from '../../theme/aside/MenuItem.vue'
import KTMenuSection from '../../theme/aside/MenuSection.vue'

export default {
    name: 'KTAsideMenu',
    components: {
        KTMenuItem,
        KTMenuSection
    },
    data () {
        return {
            menuItems: [],
            menuItemsCompany: [
                {

                    icon: 'la la-dashboard',
                    title: 'Dashboard',
                    route: '/admin'

                },
                {

                    icon: 'fa fa-calendar-alt',
                    title: 'Jelenléti ívek',
                    route: '/admin/company/presents'

                },
                {

                    icon: 'fa fa-industry',
                    title: 'Dolgozó diákok- a legutolsó lezárt hónapban',
                    route: '/admin/company/workers-list'

                },
                {

                    icon: 'fa fa-users',
                    title: 'Céges adatok',
                    route: '/admin/company/data'

                },
                {

                    icon: 'fa fa-table',
                    title: 'Beosztások',
                    route: '/admin/company/schedules'

                },
                {

                    icon: 'flaticon2-chart',
                    title: 'Teljesítési igazolások',
                    route: '/admin/company/certificates'

                },
                {

                    icon: 'fa fa-file-pdf',
                    title: 'Dokumentumok',
                    route: '/admin/company/documents'

                }
            ]
        }
    },
    beforeMount () {
        console.log(this.$store.state.defaultStore.user.is_company)
        console.log(this.menuItemsCompany)
        const uri = `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/menu`
        this.axios.get(uri).then((response) => {
            this.menuItems = response.data
        })
    }
}
</script>
