<template>
  <div>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newDocument">
    Új dokumentum
  </button>
  <div class="modal fade" id="newDocument" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header bg-warning">
          <h5 class="modal-title">Új dokumentum feltöltése</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i aria-hidden="true" class="ki ki-close"></i>
          </button>
        </div>
        <div class="modal-body p-4">
          <div class="row">
              <div class="col-12">
                <FormSelect v-model="model.type" :title="'Dokumentum típusa'"  :options="{'membership': 'Tagsági','adhock':'Eseti','card':'Jogviszony','finance':'Pénzügy','medical':'Orvosi','exit': $t('Kilépési'),'other':'Egyéb'}"></FormSelect></div>
              <div class="col-12">
                  <FormInput :title="'Név'" v-model="model.name"></FormInput>
              </div>
              <div class="col-12">
                  <FormDropZone v-if="!refreshDropzone" v-model="model.file"  v-on:success="changePath($event)" :student="false"  max-files="1" acceptedFiles="application/pdf" :url="'/api/v1/upload-private-file?dir=student/'+student.id" :option="{}" :title="'Húzd ide a dokumentumot'"></FormDropZone>
              </div>
              <div class="col-12">
                  <FormSelect :title="'Aláírás kell?'" v-model="model.document_type_id" :options="{0:'NEM',1:'Igen'}"></FormSelect>
              </div>
              <div class="col-12">
                <FormSelect :title="'Email értesítés a diáknak?'" v-model="model.send_email" :options="{0:'NEM',1:'Igen'}"></FormSelect>
              </div>
          </div>
        </div>
        <div class="modal-footer bg-warning">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Mégse</button>
          <button type="button" class="btn btn-success" @click="saveStudentSchool">Hozzáad</button>
        </div>
      </div>
    </div>
  </div>
  </div>
</template>

<script>

import FormInput from '../../../../../../../resources/js/components/form/FormInput'
import FormMonthPicker from '../../../../../../../resources/js/components/form/FormMonthPicker'
import FormSelect from '../../../../../../../resources/js/components/form/FormSelect'
import FormDropZone from '../../../../../../../resources/js/components/form/FormDropZone'
import FormCheckbox from '../../../../../../../resources/js/components/form/FormCheckbox.vue'
export default {
    name: 'NewDocument',
    props: ['student'],
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/student`
        }
    },
    components: { FormCheckbox, FormInput, FormSelect, FormMonthPicker, FormDropZone },
    data () {
        return {
            model: {
                type: 'other'
            },
            refreshDropzone: false
        }
    },
    watch: {
    },
    methods: {
        saveStudentSchool () {
            this.axios.post(this.url + '/add-documents/' + this.student.id, this.model).then((resp) => {
                this.$emit('refresh')
                this.model = {}
                window.$('#newDocument').modal('hide')
                this.refreshDropzone = true
                setTimeout(() => {
                    this.refreshDropzone = false
                }, 1000)
            }, () => {
                this.refreshDropzone = false
            })
        },
        changePath ($event) {
            console.log($event)
            this.model.file = $event
        },
        encodeStr (title) {
            if (!title) {
                return ''
            }
            var slug = ''
            title = title.trim()
            // Change to lower case
            var titleLower = title.toLowerCase()
            // Letter "e"
            slug = titleLower.replace(/e|é|è|ẽ|ẻ|ẹ|ê|ế|ề|ễ|ể|ệ/gi, 'e')
            // Letter "a"
            slug = slug.replace(/a|á|à|ã|ả|ạ|ă|ắ|ằ|ẵ|ẳ|ặ|â|ấ|ầ|ẫ|ẩ|ậ/gi, 'a')
            // Letter "o"
            slug = slug.replace(/o|ó|ò|ö|õ|ỏ|ọ|ô|ố|ồ|ỗ|ổ|ộ|ơ|ớ|ờ|ỡ|ở|ợ/gi, 'o')
            // Letter "u"
            slug = slug.replace(/u|ü|Ü|ú|ù|ũ|ủ|ụ|ư|ứ|ừ|ữ|ử|ự/gi, 'u')
            // Letter "d"
            slug = slug.replace(/đ/gi, 'd')
            // Trim the last whitespace
            slug = slug.replace(/\s*$/g, '')
            // Change whitespace to "-"
            slug = slug.replace(/\s+/g, '-')
            slug = slug.replace('.', '')
            slug = slug.replace(',', '')

            return slug
        }
    }
}
</script>

<style scoped>

</style>
