<template>
  <div class="card card-custom">
    <div class="card-header">
        <h3 class="card-label pull-left">Dokumentumok</h3>
      <div class="card-toolbar pull-right d-inline-block">
          <NewDocument  class="d-inline-block"  v-on:refresh="getStudentDocument" :student="student" ></NewDocument>
        <button class="btn btn-success" @click="openStudentPdf('membershipGDPR')">Tagsági megállapodás - GDPR</button>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-12 mb-3 border-primary">
          <div class="row">
            <div class="col-md-12">
              <table class="table table-condensed mt-3">
                <tr>
                <th>Név</th>
                <th>Létrehozzás dátuma</th>
                <th>Megtekint</th>
                </tr>
                <tr v-for="document in documents " v-bind:key="'document-'+ document.id">
                    <td>{{document.name}} <span  v-if="document.type===1" class="ml-5 bg-danger p-1">Aláírásra vár</span> <span  v-if="document.type===2" class="ml-5 bg-success p-1">Aláírva</span></td>
                    <td>{{document.created}}</td>
                    <td><a href="#" class="btn btn-primary" @click.prevent="openPdf('/'+document.file)"><i class="fa fa-file-pdf"></i> </a>
                        <DeleteConfirm v-on:delete="deleteDocument(document.id)"></DeleteConfirm>
                    </td>
                </tr>
              </table>
            </div>

            <hr class="col-md-12">
          </div>

        </div>
      </div>

    </div>
  </div>
</template>

<script>
import NewDocument from './NewDocument'
import DeleteConfirm from '../../../../../../../resources/js/components/DeleteConfirm'
import PdfViewerButton from '../../../../../../../resources/js/components/PdfViewerButton'
import StudentJob from '../StudentJob'
import StudentAdhoc from '../StudentAdhoc'

export default {
    name: 'StudentDocuments',
    components: { StudentAdhoc, StudentJob, NewDocument, DeleteConfirm, PdfViewerButton },
    props: ['student'],
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/student`
        }
    },
    data () {
        return {
            documents: {},
            company: [],
            works: []
        }
    },

    methods: {
        getStudentDocument () {
            this.axios.get(this.url + '/get-documents/' + this.student.id).then((response) => {
                this.documents = response.data.data
                this.company = response.data.company
            })
        },

        deleteDocument (id) {
            this.axios.delete(this.url + '/delete-document/' + id).then((response) => {
                this.getStudentDocument()
            })
        },
        openStudentPdf (type) {
            this.$eventHub.$emit('openPDFStudent', this.url + '/get-document-template/' + type + '/' + this.student.id)
        },
        openPdf (link) {
            this.$eventHub.$emit('openPDF', link)
        }

    },
    mounted () {
        this.getStudentDocument()
    }
}
</script>

<style scoped>

</style>
