<template>
    <div class="home">
        <!-- BLOCK "TYPE 11" -->
       <Slider></Slider>
       <Highlighted></Highlighted>
        <WorkCategory></WorkCategory>
        <Companies :content="contents"></Companies>
        <StudentCalculator :content="contents"></StudentCalculator>
        <AdultCalculator :content="contents"></AdultCalculator>
        <MADS :content="contents"></MADS>
        <!-- BLOCK "TYPE 15" -->
    </div>
</template>
<script>

import Home from '../../../../../Modules/WebshopFrontend/Resources/assets/js/components/home/Home'
import Slider from '../../../../../Modules/WebshopFrontend/Resources/assets/js/components/home/Slider'
import Highlighted from '../../../../../Modules/WebshopFrontend/Resources/assets/js/components/home/Highlighted'
import WorkCategory from '../../../../../Modules/WebshopFrontend/Resources/assets/js/components/home/WorkCategory'
import Companies from '../../../../../Modules/WebshopFrontend/Resources/assets/js/components/home/Companies'
import StudentCalculator from '../../../../../Modules/WebshopFrontend/Resources/assets/js/components/home/StudentCalculator'
import AdultCalculator from '../../../../../Modules/WebshopFrontend/Resources/assets/js/components/home/AdultCalculator'
import MADS from '../../../../../Modules/WebshopFrontend/Resources/assets/js/components/home/MADS'
import NewRealization from '../../../../../Modules/WebshopFrontend/Resources/assets/js/components/profile/Profile/NewRealization.vue'

export default {
    name: 'HomePage',
    components: { AdultCalculator, StudentCalculator, NewRealization, Companies, WorkCategory, Highlighted, Slider, MADS },
    extends: Home,
    mounted () {
        this.getContens()
    }
}
</script>
