<template>
    <div class="container blog-container">
        <div class="new-block">
            <div class="row">
                <div class="col-md-8 blog-content-column">

                    <div class="blog-post detail-post">

                        <div class="data">
                            <div class="text">
                                <h1 class="title">{{model.name}}</h1>
                                <div class="thumbnail-entry" v-if="model.og_image">
                                    <div class="swiper-container horizontal-pagination swiper-swiper-unique-id-0 initialized" id="swiper-unique-id-0">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide swiper-slide-visible swiper-slide-active" >
                                                <img :src="model.og_image" alt="">
                                            </div>
                                        </div>
                                              </div>
                                </div>

                                <div class="blog-detail-article" v-html="model.content">

                                </div>

                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 blog-content-column">
                    <WorkHighlighted></WorkHighlighted>
                    <WorkLastUpdated></WorkLastUpdated>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import LoadingSvg from '../../../../../Modules/WebshopFrontend/Resources/assets/js/components/LoadingSvg'
import ImageLazy from '../../../components/ImageLazy'
import WorkHighlighted
    from '../../../../../Modules/WebshopFrontend/Resources/assets/js/components/work/WorkHighlighted'
import WorkLastUpdated
    from '../../../../../Modules/WebshopFrontend/Resources/assets/js/components/work/WorkLastUpdated'
export default {
    props: ['url', 'model'],
    components: { WorkLastUpdated, WorkHighlighted, LoadingSvg, ImageLazy },
    data () {
        return {
            postData: {}
        }
    },
    computed: {
        postPrefix: function () {
            return this.$store.state.defaultStore.prefixes.blog
        }
    },
    methods: {
    }
}
</script>
