<template>
    <CountryForm v-if="Object.keys(model).length > 0" :url="url" :model="model"></CountryForm>
</template>

<script>
import CountryForm from './CountryForm'
import Country from './Country'

export default {
    name: 'CountryEdit',
    extends: Country,
    data () {
        return {
            model: {}
        }
    },
    components: { CountryForm },
    beforeMount: function () {
        this.handleUpdate('country', this.url, {})

        this.getCountry()
    }
}
</script>
