<template>
    <RoleForm :url="url" :model="model" :credentials="credentials"></RoleForm>
</template>

<script>
import RoleForm from './RoleForm'
import Role from './Role'

export default {
    name: 'RoleEdit',
    extends: Role,
    data () {
        return {
            model: {
                menu: [],
                access: []
            },
            credentials: {}
        }
    },
    components: { RoleForm },
    created: function () {
        this.handleUpdate('role', this.url, {
            menu: {},
            access: {}
        })

        this.getRole()
    }
}
</script>
