<template>
    <CategoryForm v-if="Object.keys(model).length > 0" :url="url" :model="model" :categories="categories"></CategoryForm>
</template>

<script>
import CategoryForm from './CategoryForm'
import Category from './Category'

export default {
    name: 'CategoryCreate',
    extends: Category,
    data () {
        return {
            model: {},
            categories: []
        }
    },
    components: { CategoryForm },
    beforeMount: function () {
        this.handleCreate('category', this.url, {})

        this.getCategory()
    }
}
</script>
