<template>
    <CampaigForm v-if="Object.keys(model).length > 0" :url="url" :model="model"></CampaigForm>
</template>

<script>
import CampaigForm from './CampaigForm'
import Campaig from './Campaig'

export default {
    name: 'CampaigEdit',
    extends: Campaig,
    data () {
        return {
            model: {}
        }
    },
    components: { CampaigForm },
    beforeMount: function () {
        this.handleUpdate('campaign', this.url, {})

        this.getCampaig()
    }
}
</script>
