<template>
  <div>
    <div class="modal fade" id="campaignQuestionModal" tabindex="-1" role="dialog">
      <div class="modal-dialog  modal-dialog-centered" role="document" style="max-width: 80%">
        <div class="modal-content">
          <div class="modal-header bg-warning">
            <h5 class="modal-title">Kérdések küldése a megrendelő felé</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <i aria-hidden="true" class="ki ki-close"></i>
            </button>
          </div>
          <div class="modal-body p-4" v-if="model">
            <div class="row">
              <div class="col-12">
                <h2>{{model.company_name}}</h2>
                <h3>{{model.services}}</h3>
              </div>
              <hr class="col-md-12 mb-2"/>
              <div class="col-md-6"><FormInput v-model="post.name" :title="'Címzett'"></FormInput></div>
              <div class="col-md-6"><FormInput v-model="post.email" :title="'Email'"></FormInput></div>
              <div class="col-md-12">
              <div class="row">
                <div class="col-md-12"><button class="btn btn-xs btn-success float-right" @click="addRec">Új címzett</button></div>
              </div>
              <div class="row" v-if="post.other_recipients">
                <template v-for="(rec,ind) in post.other_recipients">
                  <div class="col-md-5  mb-3" v-bind:key="'rec-name-'+ind">
                    <FormInput v-model="post.other_recipients[ind].name"  :title="$t('Címzett neve')"></FormInput>
                  </div>
                  <div class="col-md-5  mb-3" v-bind:key="'rec-email-'+ind">
                    <FormInput v-model="post.other_recipients[ind].email"  :title="$t('Email')"></FormInput>
                  </div>
                  <div class="col-md-2" v-bind:key="'rec-del-'+ind"><button @click="deleteRec(ind)" class="btn btn-xs btn-danger"><i class="fa fa-trash"></i> </button></div>
                </template>
              </div>
              </div>
              <div class="col-md-6">
                <h3>Elérhető kérdések</h3>
                <table class="table table-bordered table-striped">
                  <thead class="thead">
                  <tr>
                    <th scope="col">Kiválaszt</th>
                    <th scope="col">Kérdés</th>
                  </tr>
                  </thead>
                  <draggable v-if="filteredList" v-model="filteredList" tag="tbody">
                    <tr v-for="item in filteredList" :key="item.id">

                      <td>{{ item.question }}</td>
                      <td scope="row">
                        <i class="fa fa-plus-circle text-success fa-2x" @click="add(item)"></i>
                      </td>
                    </tr>
                  </draggable>
                </table>
              </div>
              <div class="col-md-6">
                <h3>Kiválasztott kérdések</h3>
                <table class="table table-bordered table-striped">
                  <thead class="thead">
                  <tr>
                    <th scope="col">Eltávolít</th>
                    <th scope="col">Kérdés</th>
                  </tr>
                  </thead>
                  <draggable v-if="post.questions" v-model="post.questions" tag="tbody">
                    <tr v-for="item in post.questions" :key="item.name">
                      <td scope="row">
                        <i class="fa fa-check-circle text-danger fa-2x" @click="remove(item)" ></i>
                      </td>
                      <td>{{ item.question }}</td>
                    </tr>
                  </draggable>
                </table>
              </div>
              </div>
            <div class="modal-footer ">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Mégse</button>
              <button type="button" class="btn btn-success" @click="saveQuestion()">Kérdések mentése és email küldése</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import FormTextArea from '../../../../../../resources/js/components/form/FormTextArea'
import FormInput from '../../../../../../resources/js/components/form/FormInput.vue'

export default {
    name: 'CampaignCompanyQuestion',
    props: ['model'],
    data: function () {
        return {
            questions: null,
            post: {
                questions: [],
                other_recipients: [],
                campaign_id: null,
                company_id: null,
                name: null,
                email: null

            }
        }
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/campaig/`
        },
        filteredList () {
            const l = []
            if (!this.questions) {
                return l
            }
            Object.keys(this.questions).forEach(item => {
                console.log(item)
                let exist = false
                this.post.questions.forEach(i => {
                    if (this.questions[item].id === i.id) {
                        exist = true
                    }
                })
                if (!exist) {
                    l.push(this.questions[item])
                }
            })
            return l
        }
    },
    watch: {
        model: {
            handler: function (val, oldVal) {
                this.post.name = val.contact_name
                this.post.email = val.contact_email
                this.post.campaign_id = val.campaign_id
                this.post.company_id = val.company_id
                this.post.questions = []
                this.post.other_recipients = []
            },

            deep: true
        }
    },
    components: { FormTextArea, FormInput },
    methods: {
        getQuestions () {
            this.axios.get(this.url + 'get-questions').then((resp) => {
                this.questions = resp.data.data
            })
        },
        saveQuestion () {
            this.axios.post(this.url + 'save-company-question', this.post).then(() => {
                window.$('#campaignQuestionModal').modal('hide')
            })
        },

        add (item) {
            this.post.questions.push(item)
        },
        remove (item) {
            this.post.questions = this.post.questions.filter(x => x.id !== item.id)
        },
        addRec () {
            this.post.other_recipients.push(JSON.parse(JSON.stringify({ name: null, email: null })))
        },
        deleteRec (index) {
            this.post.other_recipients.splice(index, 1)
        }
    },
    created () {
        this.getQuestions()
    }
}
</script>
