<template>
  <div>
    <div class = "alert alert-custom alert-white alert-shadow kt-portlet" role = "alert">
      <h3 class = "text-info">{{ $t('Kampányok') }}</h3>
    </div>
    <div class = "kt-portlet">
      <div class = "kt-portlet__body">
        <div class = "kt-form kt-form--label-right">
          <div class = "kt-form__body">
            <div class = "row">
              <div class = "col-md-6" >
                    <FormInput v-model="model.name"  :title="$t('Név')"></FormInput>
              </div>
              <div class = "col-md-6" >
<FormDatePicker v-model="model.deadline"  :title="$t('Határidő')"></FormDatePicker>

                </div>
              <div class="col-md-6">
                <h3>Elérhető állapotok</h3>
                <table class="table table-bordered table-striped">
                  <thead class="thead">
                  <tr>
                    <th scope="col">Kiválaszt</th>
                    <th scope="col">Hozzáad</th>
                  </tr>
                  </thead>
                  <draggable v-if="filteredList" v-model="filteredList" tag="tbody">
                    <tr v-for="item in filteredList" :key="item.name">

                      <td>{{ item.name }}</td>
                      <td scope="row">
                        <i class="fa fa-plus-circle text-success fa-2x" @click="add(item)"></i>
                      </td>
                    </tr>
                  </draggable>
                </table>
              </div>
              <div class="col-md-6">
                <h3>Aktuális kampány állapotok</h3>
                <table class="table table-bordered table-striped">
                  <thead class="thead">
                  <tr>
                    <th scope="col">Eltávolít</th>
                    <th scope="col">Állapot</th>
                  </tr>
                  </thead>
                  <draggable v-if="model.status_list" v-model="model.status_list" tag="tbody">
                    <tr v-for="item in model.status_list" :key="item.name">
                      <td scope="row">
                        <i class="fa fa-check-circle text-danger fa-2x" @click="remove(item)" ></i>
                      </td>
                      <td>{{ item.name }}</td>
                    </tr>
                  </draggable>
                </table>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
import FormInput from '../../../../../../resources/js/components/form/FormInput'
import FormDatePicker from '../../../../../../resources/js/components/form/FormDatePicker'

export default {
    name: 'CampaigForm',
    props: {
        url: {
            required: true,
            type: String
        },
        model: {
            required: true,
            type: Object
        }
    },
    data () {
        return {

        }
    },
    computed: {
        languages: function () {
            const l = []
            for (const it in this.$store.state.defaultStore.languages) {
                l.push(it)
            }
            return l
        },
        filteredList () {
            const l = []
            if (!this.model || !this.model.selectables || !this.model.selectables.statusList) {
                return l
            }
            Object.keys(this.model.selectables.statusList).forEach(item => {
                console.log(item)
                let exist = false
                this.model.status_list.forEach(i => {
                    if (this.model.selectables.statusList[item].id === i.id) {
                        exist = true
                    }
                })
                if (!exist) {
                    l.push(this.model.selectables.statusList[item])
                }
            })
            return l
        }
    },
    components: { FormInput, FormDatePicker },
    methods: {

        add (item) {
            this.model.status_list.push(item)
        },
        remove (item) {
            this.model.status_list = this.model.status_list.filter(x => x.id !== item.id)
        }
    },
    created () {},
    mounted () {}
}
</script>
