<template>
  <div>
    <div class="modal fade" id="companyDetailsModal" tabindex="-1" role="dialog">
      <div class="modal-dialog  modal-dialog-centered" role="document" style="max-width: 80%">
        <div class="modal-content">
          <div class="modal-header bg-warning">
            <h5 class="modal-title">Cég infó</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <i aria-hidden="true" class="ki ki-close"></i>
            </button>
          </div>
          <div class="modal-body p-4" v-if="model">
            <div class="row">
              <h3 class = "col-md-12 mt-2 bg-warning p-2 mb-5">Céges adatok</h3>
              <div class = "col-md-6">
                <FormInput disabled="disabked" v-model = "model.name" :title = "$t('Cég neve')"></FormInput>
              </div>
              <div class = "col-md-6">
                <FormInput disabled="disabked" v-model = "model.importer" :title = "$t('Ki hozta a munkák?')"></FormInput>
              </div>
              <div class = "col-md-6">
                <FormInput disabled="disabked" v-model = "model.tax" :title = "$t('Adószám')"></FormInput>
              </div>
              <div class = "col-md-6">
                <FormInput disabled="disabked" v-model = "model.tax_eu" :title = "$t('EU adószám')"></FormInput>
              </div>
              <div class = "col-md-6">
                <FormInput disabled="disabked" v-model = "model.company_number" :title = "$t('Cégjegyzékszám')"></FormInput>
              </div>
              <div class = "col-md-6">
                <FormInput disabled="disabked" v-model = "model.delegate" :title = "$t('Képviselő')"></FormInput>
              </div>
              <div class = "col-md-6">
                <FormInput disabled="disabked" v-model = "model.delegate_position" :title = "$t('Képviselő beosztása')"></FormInput>
              </div>
              <div class = "col-md-6">
                <FormInput disabled="disabked" v-model = "model.delegate_comment" :title = "$t('Megjegyzés')"></FormInput>
              </div>
              <div class="col-md-6">
                <FormInput disabled="disabled" v-model="model.gdpr" :title="'GDPR link'"></FormInput>
              </div>
              <div class="col-md-6">
                <FormSelect disabled="disabled" v-model="model.online_presence" :title="'Online jelenléti'" :options="{'0':'Nem','1':'Igen'}"></FormSelect>
              </div>
              <div class="col-md-6">
                <FormSelect disabled="disabled" v-model="model.medical_certificate" :title="'EÜ kiskönyv szükséges'" :options="{'0':'Nem szükséges','1':'Orvosi vizsgálat szükséges','2':'Eü kiskönyv szükséges'}"></FormSelect>
              </div>
              <div class="col-12">
                <FormTextArea :rows="10" disabled="disabled" v-model="model.comment" :title="'Megjegyzés'"></FormTextArea>
              </div>
              <div class = "table-responsive col-md-12">
                <table class = "table table-bordered table-responsive0">

                  <tr>
                    <th>Név</th>
                    <th>Beosztás</th>
                    <th>Email</th>
                    <th>Telefon</th>

                  </tr>
                  <tbody>
                  <tr v-for = "item in model.contacts" v-bind:key = "'contact-'+item.id">
                    <td>{{ item.name }}</td>
                    <td>{{ item.position }}</td>
                    <td>{{ item.email }}</td>
                    <td>{{ item.phone }}</td>

                  </tr>
                  <tr v-if="!model.contacts.length">
                    <td colspan="5" class="text-center">Nincs adat</td>
                  </tr>
                  </tbody>
                </table>
            </div>
              <div class = "table-responsive col-md-12">
                <table class = "table table-bordered table-responsive0">

                  <tr>
                    <th>Telephely neve</th>
                    <th>Munkavégzés helye</th>
                  </tr>
                    <template v-for = "item in model.industries">
                      <tr  v-bind:key = "'Industry-'+item.id">
                        <td>{{ item.name }}</td>
                        <td>{{ item.work_location }}</td>
                      </tr>
                    </template>
                  <tr v-if="!model.industries || !model.industries.length">
                    <td colspan="7" class="text-center">Nincs adat</td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="modal-footer ">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Mégse</button>
            </div>
          </div>
        </div>
      </div>
  </div>
  </div>
</template>

<script>
import FormTextArea from '../../../../../../resources/js/components/form/FormTextArea'
import FormSelect from '../../../../../../resources/js/components/form/FormSelect.vue'
import FormInput from '../../../../../../resources/js/components/form/FormInput.vue'
import DeleteConfirm from '../../../../../../resources/js/components/DeleteConfirm.vue'
export default {
    name: 'CampaignCompanyDetails',
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/campaig/`
        }
    },
    data: function () {
        return {

            model: null

        }
    },
    components: { DeleteConfirm, FormInput, FormSelect, FormTextArea },
    methods: {
        getCompanyDetails (id) {
            this.axios.get(this.url + 'company-details/' + id).then((rs) => {
                this.model = rs.data.data
            })
        }
    },
    created () {
        const self = this
        this.$eventHub.$on('openCompanyForm', function (data) {
            self.getCompanyDetails(data)
            window.$('#companyDetailsModal').modal('show')
        })
    }
}
</script>
