<template>
  <div>
    <div class = "alert alert-custom alert-white alert-shadow kt-portlet" role = "alert">
      <h3 class = "text-info">{{ $t('Szerződés adatok') }}</h3>
    </div>
    <div class = "kt-portlet">
      <div class = "kt-portlet__body">
        <div class = "kt-form kt-form--label-right">
          <div class = "kt-form__body">
            <div class = "row">
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
import FormInput from '../../../../../../resources/js/components/form/FormInput'
import FormDatePicker from '../../../../../../resources/js/components/form/FormDatePicker'

export default {
    name: 'CampaignContractForm',
    props: {
        url: {
            required: true,
            type: String
        }
    },
    data () {
        return {
            model: {}
        }
    },
    computed: {
        languages: function () {
            const l = []
            for (const it in this.$store.state.defaultStore.languages) {
                l.push(it)
            }
            return l
        }
    },
    components: { FormInput, FormDatePicker },
    methods: {

    },
    created () {},
    mounted () {}
}
</script>
