<template>
    <div class="table-responsive">
        <BaseDatatable v-if="loaded" :multiple-actions="multipleAction" :module="`campaig`" :apiurl="url" :list-url="`${url}/index`" :fields="fields"></BaseDatatable>
    </div>
</template>

<script>
import BaseDatatable from '../../../../../../resources/js/components/BaseDatatable'
export default {
    name: 'CampaigList',
    props: ['url'],
    components: { BaseDatatable },
    data () {
        return {
            loaded: true,
            multipleAction: {
            },
            apiurl: this.url,
            fields: [
                {
                    name: 'id',
                    sortField: 'id',
                    title: this.$translate.t('ID')
                },
                {
                    name: 'name',
                    sortField: 'name',
                    title: this.$translate.t('Név')
                },
                {
                    name: 'deadline',
                    sortField: 'deadline',
                    title: this.$translate.t('Határidő')
                },
                {
                    name: 'companies_count',
                    sortField: 'companies_count',
                    title: this.$translate.t('Cégek')
                },
                {
                    name: 'state',
                    title: this.$translate.t('Összes/Kész')
                },
                {
                    name: 'state_percent',
                    title: this.$translate.t('Teljesítve %')
                },
                {
                    name: '__slot:component',
                    componentName: 'CampaignAction',
                    title: this.$translate.t('Művelet')
                }
            ]
        }
    }
}
</script>
