<template>
  <div>
    <div class="modal fade" id="campaignRequestModal" tabindex="-1" role="dialog">
      <div class="modal-dialog  modal-dialog-centered" role="document" style="max-width: 80%">
        <div class="modal-content">
          <div class="modal-header bg-warning">
            <h5 class="modal-title">Árajánlat készítése</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <i aria-hidden="true" class="ki ki-close"></i>
            </button>
          </div>
          <div class="modal-body p-4" v-if="model && post">
            <div class="row">
              <div class="col-12">
                <h2>{{model.company_name}}</h2>
                <h3>{{model.services}}</h3>
              </div>
              <hr class="col-md-12 mb-2"/>
              <div class="col-md-6"><FormInput v-model="post.name" :title="'Címzett'"></FormInput></div>
              <div class="col-md-6"><FormInput v-model="post.email" :title="'Email'"></FormInput></div>
              <div class="col-12">
              <div class="row">
                <div class="col-md-12"><button class="btn btn-xs btn-success float-right" @click="addRec">Új címzett</button></div>
              </div>
              <div class="row" v-if="post.other_recipients">
                <template v-for="(rec,ind) in post.other_recipients">
                  <div class="col-md-5  mb-3" v-bind:key="'rec-name-'+ind">
                    <FormInput v-model="post.other_recipients[ind].name"  :title="$t('Címzett neve')"></FormInput>
                  </div>
                  <div class="col-md-5  mb-3" v-bind:key="'rec-email-'+ind">
                    <FormInput v-model="post.other_recipients[ind].email"  :title="$t('Email')"></FormInput>
                  </div>
                  <div class="col-md-2" v-bind:key="'rec-del-'+ind"><button @click="deleteRec(ind)" class="btn btn-xs btn-danger"><i class="fa fa-trash"></i> </button></div>
                </template>
              </div>
                <div class="col-12">
                  <FormWyswygEditor v-model="post.content"  :title="$t('Email tartalma (az email tartalmazza a megszólítást és a csatolmányt!)')"></FormWyswygEditor>
                </div>
              </div>
              <div class="col-md-12" v-for="(item,key) in post.data"  v-bind:key="'tipus-'+key">
                <h3 class="bg-warning pb-3 mb-3 pl-5">{{item.name}} <button v-if="!post.data[key].selected" class="btn btn-primary float-right" @click="post.data[key].selected = !post.data[key].selected" title="Ajánlathoz ad"><i class="fa fa-plus-circle"></i></button>
                  <button v-if="post.data[key].selected" class="btn btn-danger float-right" @click="post.data[key].selected = !post.data[key].selected" title="Törlés"><i class="fa fa-trash"></i></button>
                </h3>
                <div class="col-md-12" v-if="post.data[key].selected" >
                <div class="col-md-12">
                  <button class="btn btn-info" v-if="post.data[key].id === 'mads'" @click="addMads" >Tevékenység hozzáadása</button>
                  <button class="btn btn-info" v-if="post.data[key].id === 'work'" @click="addWork">Tevékenység hozzáadása</button>
                  <button class="btn btn-info" v-if="post.data[key].id === 'work2'" @click="addWork2">Tevékenység hozzáadása</button>
                  <button class="btn btn-info" v-if="post.data[key].id === 'gold'" @click="addGold">Tevékenység hozzáadása</button>
                </div>
                  <div class="col-md-12 mt-3" v-for="( props,index ) in post.data[key].properties" v-bind:key="'props-'+key+'-'+index+props">
                    <div class="row">
                      <h4 class="col-md-12 mb-3 bg-lime">{{index+1}}. tevékenység
                        <button class="btn btn-danger float-right" v-if="post.data[key].id === 'mads'" @click="removeMads(index)" ><i class="fa fa-trash"></i> </button>
                        <button class="btn btn-danger float-right" v-if="post.data[key].id === 'work'" @click="removeWork(index)" ><i class="fa fa-trash"></i> </button>
                        <button class="btn btn-danger float-right" v-if="post.data[key].id === 'work2'" @click="removeWork2(index)" ><i class="fa fa-trash"></i> </button>
                        <button class="btn btn-danger float-right" v-if="post.data[key].id === 'gold'" @click="removeGold(index)" ><i class="fa fa-trash"></i> </button>
                      </h4>
                      <div class="col-md-6"><FormInput v-model="post.data[key].properties[index].name" :title="'Munkakör neve/tevékenység'"></FormInput></div>
                      <div class="col-md-6"><FormAutocomplete v-model="post.data[key].properties[index].feor" :title="'FEOR'" attributeKey="code" attributeValue="name" :url="'/api/v1/feor/index'"></FormAutocomplete></div>
                      <div class="col-md-6"><FormTextArea v-model="post.data[key].properties[index].requirements" :placeholder="'Ide jönnek az elvárások'" :title="'Elvárások:'" :rows="3"></FormTextArea></div>
                      <div class="col-md-6"><FormTextArea v-model="post.data[key].properties[index].task" :placeholder="'Ide a feladat bemutatása'" :title="'Feladat rövid bemutatása:'" :rows="3"></FormTextArea></div>
                      <div class="col-md-6"><FormInput v-if="post.data[key].id !== 'work' && post.data[key].id !== 'work2'" v-model="post.data[key].properties[index].price" :placeholder="'pl: 1900'" :title="'Javasolt juttatási csomag (bruttó):'"></FormInput></div>
                      <div class="col-md-6" v-if="post.data[key].id== 'work' || post.data[key].id == 'work2'"><FormInput v-model="post.data[key].properties[index].price" :placeholder="'pl: Bruttó 450.000 Ft/hó'" :title="'Javasolt juttatási csomag (bruttó):'"></FormInput></div>
                      <div class="col-md-6"><FormInput v-model="post.data[key].properties[index].multiplier" :placeholder="'szolgáltatási szorzó (pl. 1,12)'" :title="'Sikerdíj szorzó (MADS):'"></FormInput></div>
                      <div class="col-md-6" v-if="post.data[key].id !== 'work' && post.data[key].id !== 'work2'"><FormInput v-model="post.data[key].properties[index].multiplier_company" :placeholder="'szolgáltatási szorzó (pl. 1,12)'" :title="'Sikerdíj szorzó (Cég):'"></FormInput></div>
                      <div class="col-md-6" v-if="post.data[key].id !== 'work' && post.data[key].id !== 'work2'"><FormSelect v-model="post.data[key].properties[index].min_type" :options="{0:'Minimálbér',1:'Garantált bér minimum'}" :placeholder="'Minimál bér típusa'" :title="' Minimálbér típusa (Cég):'"></FormSelect></div>
                      <div class="col-md-6" v-if="post.data[key].id !== 'work' && post.data[key].id !== 'work2'"><FormInput v-model="post.data[key].properties[index].min" :placeholder="'irányadó minimálbér vagy garantált bérminimum'" :title="' Minimálbér vagy garantált bérminimum (Cég):'"></FormInput></div>
                      <div class="col-md-6"  v-if="post.data[key].id === 'mads' && post.data[key].id === 'gold'"></div>
                      <div class="col-md-6" v-if="post.data[key].id !== 'work' && post.data[key].id !== 'work2'"><FormInput v-model="post.data[key].properties[index].night" :placeholder="'tól-ig'" :title="' Éjszakai pórlék:'"></FormInput></div>
                      <div class="col-md-6" v-if="post.data[key].id !== 'work' && post.data[key].id !== 'work2'"><FormInput v-model="post.data[key].properties[index].night_text" :placeholder="'+30%'" :title="' Százalék:'"></FormInput></div>
                      <div class="col-md-6" v-if="post.data[key].id !== 'work' && post.data[key].id !== 'work2'"><FormInput v-model="post.data[key].properties[index].weekend" :placeholder="'nap(ok) megadása'" :title="' Hétvégi pórlék:'"></FormInput></div>
                      <div class="col-md-6" v-if="post.data[key].id !== 'work' && post.data[key].id !== 'work2'"><FormInput v-model="post.data[key].properties[index].weekend_text" :placeholder="'+30%'" :title="' Százalék:'"></FormInput></div>
                      <div class="col-md-6" v-if="post.data[key].id !== 'work' && post.data[key].id !== 'work2'">Ünnepnapi pótlék</div>
                      <div class="col-md-6" v-if="post.data[key].id !== 'work' && post.data[key].id !== 'work2'"><FormInput v-model="post.data[key].properties[index].freeday" :placeholder="'+100%'" :title="' Százalék:'"></FormInput></div>
                      <div class="col-md-6" v-if="post.data[key].id !== 'work' && post.data[key].id !== 'work2'">Egyéb bónusz</div>
                      <div class="col-md-6" v-if="post.data[key].id !== 'work' && post.data[key].id !== 'work2'"><FormTextArea v-model="post.data[key].properties[index].other" :placeholder="'pl.: +50 Ft/óra 100 óra felett'" :title="'Egyedi bónusz:'"></FormTextArea></div>
                      <div class="col-md-12" v-if="post.data[key].id== 'work' || post.data[key].id == 'work2'"><FormTextArea v-model="post.data[key].properties[index].other_price" :placeholder="'+10 % éves bónusz,+2 % jutalék a nettó eladásból, elektromos roller vagy személygépkocsi'" :title="'Egyéb juttatások:'" :rows="3"></FormTextArea></div>
                      <template v-if="post.data[key].id === 'work2'">
                        <div class="col-md-6"><FormInput v-model="post.data[key].properties[index].name1" :placeholder="'0-3'" :title="' hónap között'"></FormInput></div>
                        <div class="col-md-6"><FormInput v-model="post.data[key].properties[index].name1_price" :placeholder="'15%'" :title="'Sikerdíj %:'"></FormInput></div>
                        <div class="col-md-6"><FormInput v-model="post.data[key].properties[index].name2" :placeholder="'3-12'" :title="' hónap között'"></FormInput></div>
                        <div class="col-md-6"><FormInput v-model="post.data[key].properties[index].name2_price" :placeholder="'12%'"  :title="'Sikerdíj %:'"></FormInput></div>
                        <div class="col-md-6"><FormInput v-model="post.data[key].properties[index].name3" :placeholder="'12-24'" :title="' hónap között'"></FormInput></div>
                        <div class="col-md-6"><FormInput v-model="post.data[key].properties[index].name3_price" :placeholder="'5%'" :title="'Sikerdíj %:'"></FormInput></div>
                        <div class="col-md-6"><FormInput v-model="post.data[key].properties[index].name4" :placeholder="'25.'" :title="' hónaptól'"></FormInput></div>
                        <div class="col-md-6">Díjmentes</div>
                      </template>
                    </div>
                </div>
              </div>
            </div>
            <div class="modal-footer ">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Mégse</button>
              <button type="button" class="btn btn-success" @click="saveRequest()">Árajánlat mentése és küldés</button>
              <button type="button" class="btn btn-warning" @click="getPdfpreview()">PDF előkép</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</template>

<script>
import FormTextArea from '../../../../../../resources/js/components/form/FormTextArea'
import FormInput from '../../../../../../resources/js/components/form/FormInput.vue'
import FormSelect from '../../../../../../resources/js/components/form/FormSelect.vue'
import FormAutocomplete from '../../../../../../resources/js/components/form/FormAutocomplete.vue'
import FormWyswygEditor from '../../../../../../resources/js/components/form/FormWyswygEditor.vue'
export default {
    name: 'CampaignCompanyRequest',
    props: ['model'],
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/campaig/`
        }
    },
    data: function () {
        return {
            post: {
                other_recipients: [],
                data: [
                    { id: 'mads', selected: null, name: 'diákmunka', properties: [] },
                    { id: 'work', selected: null, name: 'munkaerő-közvetítés', properties: [] },
                    { id: 'gold', selected: null, name: 'nyugdíjas foglalkoztatás', properties: [] },
                    { id: 'work2', selected: null, name: 'munkaerő-kölcsönzés', properties: [] }
                ],

                campaign_id: null,
                company_id: null,
                name: null,
                email: null

            },
            feors: [],
            work: {
                name: null,
                requirements: null,
                feor: null,
                task: null,
                price: null,
                multiplier: null,
                name1: null,
                name1_price: null,
                name2: null,
                name2_price: null,
                name3: null,
                name3_price: null,
                name4: null

            },
            work2: {
                name: null,
                requirements: null,
                feor: null,
                task: null,
                price: null,
                multiplier: null,
                name1: null,
                name1_price: null,
                name2: null,
                name2_price: null,
                name3: null,
                name3_price: null,
                name4: null

            },
            mads: {
                name: null,
                feor: null,
                requirements: null,
                task: null,
                price: null,
                multiplier: null,
                multiplier_company: null

            },
            gold: {
                name: null,
                feor: null,
                requirements: null,
                task: null,
                price: null,
                multiplier: null,
                multiplier_company: null

            }
        }
    },
    watch: {
        model: {
            handler: function (val, oldVal) {
                this.post.name = val.contact_name
                this.post.email = val.contact_email
                this.post.campaign_id = val.campaign_id
                this.post.company_id = val.company_id
                this.post.questions = []
                this.post.other_recipients = []
            },

            deep: true
        }
    },
    components: { FormWyswygEditor, FormInput, FormTextArea, FormSelect, FormAutocomplete },
    methods: {
        saveRequest () {
            this.axios.post(this.url + 'company-save-request', this.post).then(() => {
                window.$('#campaignRequestModal').modal('hide')
            })
        },
        addMads () {
            this.post.data[0].properties.push(JSON.parse(JSON.stringify(this.mads)))
        },
        removeMads (index) {
            this.post.data[0].properties.splice(index, 1)
        },
        addWork () {
            this.post.data[1].properties.push(JSON.parse(JSON.stringify(this.work)))
        },
        removeWork (index) {
            this.post.data[1].properties.splice(index, 1)
        },
        addWork2 () {
            this.post.data[3].properties.push(JSON.parse(JSON.stringify(this.work)))
        },
        removeWork2 (index) {
            this.post.data[3].properties.splice(index, 1)
        },
        addGold () {
            this.post.data[2].properties.push(JSON.parse(JSON.stringify(this.gold)))
        },
        removeGold (index) {
            this.post.data[2].properties.splice(index, 1)
        },
        getPdfpreview () {
            this.axios.post(this.url + 'company-pdf-preview', this.post, { responseType: 'arraybuffer' }).then((data) => {
                console.log(data)
                var file = new Blob([data.data], { type: 'application/pdf' })
                var fileURL = URL.createObjectURL(file)
                window.open(fileURL)
            })
        },
        addRec () {
            this.post.other_recipients.push(JSON.parse(JSON.stringify({ name: null, email: null })))
        },
        deleteRec (index) {
            this.post.other_recipients.splice(index, 1)
        }
    }
}
</script>
<style>
#campaignRequestModal ::placeholder,-webkit-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: red !important;
  opacity: 1; /* Firefox */
}

#campaignRequestModal :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: red !important;;
}

#campaignRequestModal ::-ms-input-placeholder { /* Microsoft Edge */
  color: red !important;;
}
</style>
