<template>
    <div class="nowrap ">
      <div class="dropdown d-inline">
        <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Státusz
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <template v-for="status in componentProps" >
              <a v-bind:key="'status-list-'+data.rowIndex+'-'+status.id"  class="dropdown-item" @click.prevent="changeStatus(data.id,status.id,data)" href="#">{{status.name}}</a>
          </template>
        </div>
      </div>
        <DeleteConfirm v-on:delete="deleteCompany(data.id)"></DeleteConfirm>
        <a href="#" @click.prevent="openCompanyCommentModal(data)" data-toggle="modal" data-target="#campaignCommentModal" :data-row-id="data.id" :data-comments ="data.comment"  class=" btn btn-info" title="Megjegyzés" ><i class="fa fa-comment"></i> </a>
        <a href="#" @click.prevent="openCompanyDetails(data.company_id)"    class=" btn btn-success" title="Cég részletek" ><i class="fa fa-question"></i> </a>
    </div>
</template>

<script>

import DeleteConfirm from '../../../../../../resources/js/components/DeleteConfirm.vue'
export default {
    name: 'ProjectDetailsAction',
    props: ['data', 'componentProps'],
    components: { DeleteConfirm },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/campaign/`
        }
    },
    methods: {
        deleteCompany (id) {
            this.axios.delete(this.url + 'delete-company/' + id).then(() => {
                this.$emit('refresh', true)
            })
        },
        changeStatus (id, status, data) {
            this.$eventHub.$emit('changeCompanyStatus', { id, status, data })
        },
        openCompanyCommentModal (data) {
            this.$eventHub.$emit('openCompanyCommentModal', data)
        },
        openCompanyDetails (companyId) {
            this.$eventHub.$emit('openCompanyForm', companyId)
        }

    }
}
</script>
