<template>
    <div>
      <div class = "alert alert-custom alert-white alert-shadow kt-portlet" role = "alert">
        <h3 class = "text-info">{{ $t('Szerződések') }}</h3>
      </div>
      <div class="table-responsive">
        <BaseDatatable
            v-if="loaded"
            :multiple-actions="multipleAction"
            :module="`campaig`"
            :apiurl="url"
            :list-url="`${url}/contract-list`"
            :fields="fields"
        ></BaseDatatable>
    </div>
    </div>
</template>

<script>
import BaseDatatable from '../../../../../../resources/js/components/BaseDatatable'
export default {
    name: 'CampaigContractList',
    props: ['url'],
    components: { BaseDatatable },
    data () {
        return {
            loaded: true,
            multipleAction: {},
            apiurl: this.url,
            fields: [
                {
                    name: 'id',
                    sortField: 'id',
                    title: this.$translate.t('ID')
                },
                {
                    name: 'number',
                    sortField: 'number',
                    title: this.$translate.t('Sorszám')
                },
                {
                    name: 'name',
                    sortField: 'name',
                    title: this.$translate.t('Cég')
                },
                {
                    name: 'mads_approved_bool',
                    sortField: 'mads_approved',
                    title: this.$translate.t('MADS jóváhagyta')
                },

                {
                    name: 'mads_updated',
                    sortField: 'mads_update',
                    title: this.$translate.t('MADS módosítva')
                },
                {
                    name: 'company_approved_bool',
                    sortField: 'company_approved',
                    title: this.$translate.t('Cég jóváhagyta')
                },
                {
                    name: 'company_updated',
                    sortField: 'company_update',
                    title: this.$translate.t('Cég módosítva')
                },

                {
                    name: '__slot:component',
                    componentName: 'ContractAction',
                    title: this.$translate.t('Művelet')
                }
            ]
        }
    }
}
</script>
