<template>
  <div id="campaign">
    <div class="modal fade" id="addNewCompanyDialog" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content ">
          <div class="modal-header bg-warning">
            <h5 class="modal-title">Új cég létrehozása</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <i aria-hidden="true" class="ki ki-close"></i>
            </button>
          </div>
          <div class="modal-body p-4" >
            <div class="row">
              <div class = "col-md-12">
                <FormInput input-class="has-error" v-model = "newCompany.name" :title = "$t('Cég neve')"></FormInput>
              </div>
              <div class = "col-md-6">
                <FormInput input-class="has-error" v-model = "newCompany.tax" :title = "$t('Adószám')"></FormInput>
              </div>
              <div class="col-md-12">
                <FormSelectCheckbox :select2="true"  v-model = "newCompany.services" :title = "$t('Milyen szolgáltatások érdeklik')" :options = "{'diák':'diák', 'főállású':'főállású', 'kölcsönzés':'kölcsönzés', 'közvetítés':'közvetítés', 'nyugdíjkas':'nyugdíjkas'}"></FormSelectCheckbox>
              </div>
              <div class = "col-md-6">
                <FormInput v-model = "newCompany.tax_eu" :title = "$t('EU adószám')"></FormInput>
              </div>
              <div class = "col-md-12">
                <FormInput v-model = "newCompany.company_number" :title = "$t('Cégjegyzékszám')"></FormInput>
              </div>
              <div class = "col-md-6">
                <FormInput v-model = "newCompany.delegate" :title = "$t('Képviselő')"></FormInput>
              </div>
              <div class = "col-md-6">
                <FormInput v-model = "newCompany.delegate_position" :title = "$t('Képviselő beosztása')"></FormInput>
              </div>
              <div class = "col-md-12">
                <FormInput v-model = "newCompany.work_address" :title = "$t('Munkavégés helye')"></FormInput>
              </div>
              <div class="col-6">
                <FormInput v-model="newCompany.contact_name" :title="'Kapcsolattartó neve'"></FormInput>
              </div>
              <div class="col-6">
                <FormInput v-model="newCompany.contact_position" :title="'Kapcsolattartó beosztása'"></FormInput>
              </div>
              <div class="col-6">
                <FormInput input-class="has-error" v-model="newCompany.contact_email" :title="'Kapcsolat email'"></FormInput>
              </div>
              <div class="col-6">
                <FormPhone v-model="newCompany.contact_phone" :title="'Kapcsolat telefon'"></FormPhone>
              </div>
            </div>
            <div class="modal-footer ">
              <button type="button" class="btn btn-success"  @click="createCompany">Céglétrehozás</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal">Mégse</button>
            </div>
          </div>
        </div>
      </div>
      </div>
    <div class="modal fade" id="addCompanyDialog" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content ">
          <div class="modal-header bg-warning">
            <h5 class="modal-title">Cég kampányhoz rendelése</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <i aria-hidden="true" class="ki ki-close"></i>
            </button>
          </div>
          <div class="modal-body p-4" >
            <div class="row">
              <div class="col-md-12">
              <FormAutocomplete  attributeKey="id" attributeValue="name" :url="'/api/v1/company/list-company'" v-model="company" :title="'Cég'"></FormAutocomplete>
              </div>
                <div class="col-md-12">
                <FormSelectCheckbox :select2="true"  v-model = "services" :title = "$t('Milyen szolgáltatások érdeklik')" :options = "{'diák':'diák', 'főállású':'főállású', 'kölcsönzés':'kölcsönzés', 'közvetítés':'közvetítés', 'nyugdíjkas':'nyugdíjkas'}"></FormSelectCheckbox>
              </div>
              <div class="col-md-12"><FormAutocomplete :title="'Kapcsolattartó'" attributeKey="id" attributeValue="name" :url="'/api/v1/user/index'" v-model="user_id" ></FormAutocomplete></div>
            </div>
            <div class="modal-footer ">
              <button type="button" class="btn btn-success"  @click="addCompany">Cég hozzárendelése</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal">Mégse</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <CampaignCompanyComment :model="selectedCompany"></CampaignCompanyComment>
    <CampaignCompanyDetails></CampaignCompanyDetails>
    <CampaignCompanyQuestion :model="selectedQuestionDetails"></CampaignCompanyQuestion>
    <CampaignCompanyRequest :model="selectedRequestDetails"></CampaignCompanyRequest>
    <MADSContractModal></MADSContractModal>
    <WORKContractModal></WORKContractModal>
    <IntroductionModal></IntroductionModal>
    <RememberModal></RememberModal>
    <div class = "alert alert-custom alert-white alert-shadow kt-portlet" role = "alert">
      <h3 class = "text-info" v-if = "model">
        {{ model.name }} részletek
        <div class="action pull-right" v-if="$route.path.includes('details')">
          <a href="/assets/MADS_cegek_betoltese_kampanyhoz.xlsx" target="_blank" class="btn btn-sm btn-warning float-right" ><i class="fa fa-plus"></i> Import EXCEL minta</a>
          <importModal class="float-left" :saveLink="'/api/v1/campaig/import/'+this.model.id"></importModal>
          <button type="button" class="btn btn-sm btn-outline-dark" data-toggle="modal" data-target="#addNewCompanyDialog"><i class="fa fa-address-card"></i> Cég létrehozása</button>
          <button type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#addCompanyDialog"><i class="fa fa-plus"></i> Új cég hozzáadása</button>
          <button type="button" class="btn btn-sm btn-info" data-toggle="modal" data-target="#campaignTaskModal"><i class="fa fa-plus"></i> Új feladat</button>
        </div>
      </h3>
    </div>
    <div class = "kt-portlet" v-if="model">
      <div class = "kt-portlet__body">
        <div class = "kt-form kt-form--label-right">
          <div class = "kt-form__body">
            <div class = "row">
              <h1 class = "text-center" v-if = "notFound">A keresett megrendelés nem tatlálható vagy nincs jogod a megtekintéshez!</h1>
              <div class = "col-md-2">
                <div class = "card text-white bg-dark mb-3">
                  <div class = "card-header bg-dark">
                    Határidő
                  </div>
                  <div class = "card-body">
                    <h5 class = "card-title">{{ model.deadline }}</h5>
                  </div>
                </div>
              </div>
              <div class="col-md-7" v-if="model.status_list">
                <div class="row">
                <div class="col-md-4" v-for="status in model.status_list" v-bind:key="'status-'+status.id">
                  <b>{{status.name}} </b> <span class="text-danger float-right">{{model.companies.filter(t => t.status_id === status.id).length }}/{{model.companies.length }}</span>
                  <div class="progress">

                      <div  class="progress-bar progress-bar-striped progress-bar progress-bar-animated " v-bind:class="getClass(status.id)" :title="status.name +': '+calcPercent(status)*100+'%'" role="progressbar" :style="'width:' +calcPercent(status)*100+'%'" :aria-valuenow="calcPercent(status)*100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                </div>
              </div>
              </div>
            <div class="row" v-if="$route.path.includes('details')">
              <div class="col-12">
                <hr/>
                <div class="row">
                  <div class="col-md-3">
                    <FormInput v-model="search" :placeholder="'Keresés a státuszokban'"></FormInput>
                  </div>
                </div>
                <hr/>
              </div>
              <div class="col-12">
                <CampaignTask :campaignId="model.id"></CampaignTask>
              </div>
              <div class="col-12">
                <hr/>
              </div>
            </div>
            <div class="" v-if="$route.path.includes('details')">
              <div id="accordion" v-if="selectedTab >0">
                <div class="card" v-for="(status) in model.status_list" v-bind:key="'status-tab-'+status.id">
                  <div class="card-header p-0 bg-warning" id="headingOne "  v-bind:class="{'d-none':search && !notHidden.includes(status.id.toString()) }">
                    <h1 class="mb-0">
                      <a class="btn btn-link w-100 text-left" style="font-size: 16px" data-toggle="collapse" :data-target="'#collapseOne'+status.id" aria-expanded="true" aria-controls="collapseOne">
                        <span class=" badge badge-danger mr-5">{{model.companies.filter(t => t.status_id === status.id).length }}</span> {{status.name}}
                      </a>
                    </h1>
                  </div>

                  <div :id="'collapseOne'+status.id" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                      <BaseDatatable v-if="selectedTab!=8 && selectedTab!=2 && selectedTab!=5 && selectedTab!=1" ref="table" :disable-filter="true" :no-responsive="true" :componentProps="model.status_list"  :module="`project`" :apiurl="url" :list-url="`${url}/${model.id}/campaign-company?status=${status.id}&per_page=100`" :fields="fields"></BaseDatatable>
                      <BaseDatatable v-if="selectedTab==8" ref="table" :disable-filter="true" :no-responsive="true" :componentProps="model.status_list"  :module="`project`" :apiurl="url" :list-url="`${url}/${model.id}/campaign-company?status=${status.id}&per_page=100`" :fields="fieldContarcts"></BaseDatatable>
                      <BaseDatatable v-if="selectedTab==1 || selectedTab==2 || selectedTab==5" ref="table" :disable-filter="true" :no-responsive="true" :componentProps="model.status_list"  :module="`project`" :apiurl="url" :list-url="`${url}/${model.id}/campaign-company?status=${status.id}&per_page=100`" :fields="fieldPhone"></BaseDatatable>

                    </div>
                  </div>
                </div>
              </div>
<!--              <nav>
                <div class = "nav nav-tabs nav-fill" id = "nav-tab" role = "tablist">
                  <a v-for="(status) in model.status_list" v-bind:key="'status-tab-'+status.id" v-bind:class="{'active':selectedTab==status.id}" class = "nav-item nav-link" @click="selectedTab=status.id" :id = "'nav-section'+status.id" data-toggle = "tab" :href = "'#status-'+status.id" role = "tab" aria-controls = "nav-home" aria-selected = "true">{{status.name}}</a>
                </div>
              </nav>
              <div class = "tab-content py-3 px-3 px-sm-0" id = "nav-tabContent">
                <template v-for="(status) in model.status_list">
                <div  v-bind:key="'status-content-'+status.id" v-bind:class="{'show active':selectedTab==status.id}" class = "tab-pane fade  container-fluid" :id = "'status-'+status.id" role = "tabpanel" aria-labelledby = "nav-home-tab" v-if="selectedTab==status.id">
                  <BaseDatatable v-if="selectedTab!=8 && selectedTab!=2 && selectedTab!=5 && selectedTab!=1" ref="table" :disable-filter="true" :no-responsive="true" :componentProps="model.status_list"  :module="`project`" :apiurl="url" :list-url="`${url}/${model.id}/campaign-company?status=${status.id}&per_page=100`" :fields="fields"></BaseDatatable>
                  <BaseDatatable v-if="selectedTab==8" ref="table" :disable-filter="true" :no-responsive="true" :componentProps="model.status_list"  :module="`project`" :apiurl="url" :list-url="`${url}/${model.id}/campaign-company?status=${status.id}&per_page=100`" :fields="fieldContarcts"></BaseDatatable>
                  <BaseDatatable v-if="selectedTab==1 || selectedTab==2 || selectedTab==5" ref="table" :disable-filter="true" :no-responsive="true" :componentProps="model.status_list"  :module="`project`" :apiurl="url" :list-url="`${url}/${model.id}/campaign-company?status=${status.id}&per_page=100`" :fields="fieldPhone"></BaseDatatable>
                </div>
                </template>
            </div>
            -->

          </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
import FormSelect from '../../../../../../resources/js/components/form/FormSelect.vue'
import FormInput from '../../../../../../resources/js/components/form/FormInput.vue'
import FormTextArea from '../../../../../../resources/js/components/form/FormTextArea.vue'
import FormDatePicker from '../../../../../../resources/js/components/form/FormDatePicker.vue'
import FormNumberInput from '../../../../../../resources/js/components/form/FormNumberInput.vue'
import BaseDatatable from '../../../../../../resources/js/components/BaseDatatable.vue'
import Price from '../../../../../../resources/js/components/Price.vue'
import FormAutocomplete from '../../../../../../resources/js/components/form/FormAutocomplete.vue'
import CampaignTask from './CampaignTask.vue'
import CampaignCompanyComment from './CampaignCompanyComment.vue'
import FormSelectCheckbox from '../../../../../../resources/js/components/form/FormSelectCheckbox.vue'
import CampaignCompanyDetails from './CampaignCompanyDetails.vue'
import CampaignCompanyQuestion from './CampaignCompanyQuestion.vue'
import CampaignCompanyRequest from './CampaignCompanyRequest.vue'
import MADSContractModal from './MADSContractModal.vue'
import WORKContractModal from './WorkContractModal.vue'
import IntroductionModal from './IntroductionModal.vue'
import RememberModal from './RememberModal.vue'
import importModal from '../../../../../../resources/js/admin/components/importModal.vue'
import FormPhone from '../../../../../../resources/js/components/form/FormPhone.vue'
export default {
    name: 'CampaignDetails',
    props: ['url'],
    watch: {
        '$route.query': {
            handler: function (val, oldVal) {
                if (val.status_id) {
                    this.selectedTab = val.status_id
                }
            },

            deep: true
        },
        'model.companies': {
            handler: function (val, oldVal) {

            },

            deep: true
        },
        search: {
            handler: function (val, oldVal) {
                const self = this
                clearTimeout(self.timeout)
                self.timeout = setTimeout(function () {
                    self.searchCompany()
                }, 300)
            }
        }
    },
    data () {
        return {
            search: null,
            timeout: null,
            notHidden: [],
            model: null,
            newCompany: {},
            rememberData: null,
            sendIntroduction: null,
            company: null,
            user_id: null,
            services: null,
            selectedTab: 0,
            notFound: false,
            selectedQuestionDetails: null,
            selectedRequestDetails: null,
            selectedCompany: null,
            loaded: true,
            apiurl: this.url,
            fields: [
                {
                    name: 'company_name',
                    sortField: 'company_name',
                    title: this.$translate.t('Név')
                },
                {
                    name: 'contact_name',
                    sortField: 'contact_name',
                    dataClass: 'nowrap',
                    title: this.$translate.t('Kapcsolattartó')
                },
                {
                    name: '__slot:phone',
                    sortField: 'phone',
                    dataClass: 'nowrap',
                    title: this.$translate.t('Telefon')
                }, {
                    name: 'contact_email',
                    sortField: 'contact_email',
                    dataClass: 'nowrap',
                    title: this.$translate.t('Email')
                },
                {
                    name: 'services',
                    sortField: 'services',
                    dataClass: 'nowrap',
                    title: this.$translate.t('Melyik szolgáltatás érdekli?')
                },
                {
                    name: 'updated_at',
                    sortField: 'updated_at',
                    dataClass: 'nowrap',
                    title: this.$translate.t('Módosítva')
                },
                {
                    name: 'comment',
                    sortField: 'comment',
                    dataClass: 'comment',
                    title: this.$translate.t('Megjegyzés')
                },

                {
                    name: '__slot:component',
                    componentName: 'CampaignDetailsAction',
                    title: this.$translate.t('Művelet')
                }
            ],
            fieldContarcts: [
                {
                    name: 'company_name',
                    sortField: 'company_name',
                    title: this.$translate.t('Név')
                },
                {
                    name: 'contact_name',
                    sortField: 'contact_name',
                    dataClass: 'nowrap',
                    title: this.$translate.t('Kapcsolattartó')
                },
                {
                    name: '__slot:phone',
                    sortField: 'phone',
                    dataClass: 'nowrap',
                    title: this.$translate.t('Telefon')
                }, {
                    name: 'contact_email',
                    sortField: 'contact_email',
                    dataClass: 'nowrap',
                    title: this.$translate.t('Email')
                },
                {
                    name: 'services',
                    sortField: 'services',
                    dataClass: 'nowrap',
                    title: this.$translate.t('Melyik szolgáltatás érdekli?')
                },
                {
                    name: 'updated_at',
                    sortField: 'updated_at',
                    dataClass: 'nowrap',
                    title: this.$translate.t('Módosítva')
                },
                {
                    name: '__slot:contract_show',
                    title: this.$translate.t('Megtekintés')
                },
                {
                    name: '__slot:contract',
                    title: this.$translate.t('Szerződés')
                },

                {
                    name: '__slot:component',
                    componentName: 'CampaignDetailsAction',
                    title: this.$translate.t('Művelet')
                }
            ],
            fieldPhone: [
                {
                    name: 'company_name',
                    sortField: 'company_name',
                    title: this.$translate.t('Név')
                },
                {
                    name: 'contact_name',
                    sortField: 'contact_name',
                    dataClass: 'nowrap',
                    title: this.$translate.t('Kapcsolattartó')
                },
                {
                    name: '__slot:phone',
                    sortField: 'phone',
                    dataClass: 'nowrap',
                    title: this.$translate.t('Telefon')
                }, {
                    name: 'contact_email',
                    sortField: 'contact_email',
                    dataClass: 'nowrap',
                    title: this.$translate.t('Email')
                },
                {
                    name: 'services',
                    sortField: 'services',
                    dataClass: 'nowrap',
                    title: this.$translate.t('Melyik szolgáltatás érdekli?')
                },
                {
                    name: 'updated_at',
                    sortField: 'updated_at',
                    dataClass: 'nowrap',
                    title: this.$translate.t('Módosítva')
                },
                {
                    name: 'comment',
                    sortField: 'comment',
                    dataClass: 'comment',
                    title: this.$translate.t('Megjegyzés')
                },
                {
                    name: '__slot:component',
                    componentName: 'IntroductionAction',
                    title: this.$translate.t('Bemutatkozó')
                },

                {
                    name: '__slot:component',
                    componentName: 'CampaignDetailsAction',
                    title: this.$translate.t('Művelet')
                }
            ]
        }
    },
    computed: {},
    components: {
        FormPhone,
        RememberModal,
        IntroductionModal,
        WORKContractModal,
        MADSContractModal,
        CampaignCompanyRequest,
        CampaignCompanyQuestion,
        CampaignCompanyDetails,
        CampaignCompanyComment,
        CampaignTask,
        FormSelect,
        FormInput,
        FormTextArea,
        FormDatePicker,
        FormNumberInput,
        BaseDatatable,
        Price,
        FormAutocomplete,
        FormSelectCheckbox,
        importModal
    },
    methods: {
        getProjectDetails () {
            const id = this.$route.params.id

            this.axios.get(this.url + '/details/' + id).then((response) => {
                this.model = response.data.data
                if (!this.selectedTab) {
                    this.selectedTab = this.model.status_list[0].id
                }
            }).catch(() => {
                this.notFound = true
            })
        },
        searchCompany () {
            const id = this.$route.params.id
            this.axios.get(this.url + '/search-company-by-name/' + id + '?search=' + this.search).then((response) => {
                this.notHidden = []
                Object.keys(response.data).forEach(item => {
                    console.log(item)
                    this.notHidden.push(item.toString())
                })
                console.log(this.notHidden)
            })
        },
        changeStatus (id, status) {
            this.axios.post(this.url + '/change-status', { id, status }).then((response) => {
                const self = this
                const tmp = this.selectedTab
                this.selectedTab = null
                self.getProjectDetails()
                setTimeout(function () {
                    self.selectedTab = tmp
                }, 500)
            })
        },
        calcPercent (status) {
            if (!this.model.companies || this.model.companies.length === 0) {
                return 0
            }
            return this.model.companies.filter(t => t.status_id === status.id).length / this.model.companies.length
        },
        getClass (id) {
            if (id % 4 === 0) {
                return 'bg-warning'
            }
            if (id % 4 === 1) {
                return 'bg-info'
            }
            if (id % 4 === 2) {
                return 'bg-danger'
            }
            if (id % 4 === 3) {
                return 'bg-success'
            }
            return 'bg-gray'
        },
        addCompany () {
            const id = this.$route.params.id

            this.axios.post(this.url + '/add-company', { campaign_id: id, company_id: this.company, services: this.services, user_id: this.user_id }).then((response) => {
                window.$('#addCompanyDialog').modal('hide')
                const self = this
                const tmp = this.selectedTab
                this.selectedTab = null
                self.getProjectDetails()
                setTimeout(function () {
                    self.selectedTab = tmp
                }, 500)
            }).catch(() => {
            })
        },
        createCompany () {
            this.newCompany.campaign_id = this.$route.params.id
            this.axios.post(this.url + '/create-company', this.newCompany).then((response) => {
                window.$('#addNewCompanyDialog').modal('hide')
                const self = this
                const tmp = this.selectedTab
                this.selectedTab = null
                self.getProjectDetails()
                this.newCompany = {}
                setTimeout(function () {
                    self.selectedTab = tmp
                }, 500)
            }).catch(() => {
            })
        }
    },
    created () {
        console.log(this.$route.query)
        if (this.$route.query.status_id) {
            this.selectedTab = this.$route.query.status_id
        }
        this.getProjectDetails()
        const self = this
        this.$eventHub.$on('sendRemember', function (data) {
            self.selectedCompany = data
        })
        this.$eventHub.$on('sendIntroductionModal', function (data) {
            self.selectedCompany = data
        })
        this.$eventHub.$on('openCompanyCommentModal', function (data) {
            self.selectedCompany = data
        })
        this.$eventHub.$on('changeCompanyStatus', function (data) {
            if (data.status === 5) {
                self.selectedQuestionDetails = data.data
                window.$('#campaignQuestionModal').modal('show')
            // Kérdések modal
            } else if (data.status === 7) {
                self.selectedRequestDetails = data.data
                window.$('#campaignRequestModal').modal('show')
            // Árajánlat modál
            } else {
                self.changeStatus(data.id, data.status)
            }
        })
    },
    mounted () {
    }
}
</script>
<style>
#campaign .has-error input{
  border-color: red;
}
</style>
