<template>
    <div class="nowrap project-action">
        <router-link :to="'/admin/campaign/details/'+data.id" class="btn btn-primary" title="Részletek" ><i class="fa fa fa-list"></i> </router-link>
        <router-link :to="'/admin/campaign/edit/'+data.id" class="btn btn-success" title="Szerkesztés" ><i class="fa fa fa-edit"></i> </router-link>
        <DeleteConfirm v-on:delete="deleteProject(data.id)"></DeleteConfirm>
    </div>
</template>

<script>
import DeleteConfirm from '../../../../../../resources/js/components/DeleteConfirm'
export default {
    name: 'CampaignAction',
    props: ['data'],
    components: { DeleteConfirm },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/campaign/`
        }
    },
    methods: {
        deleteProject (id) {
            this.axios.delete(this.url + 'delete/' + id).then(() => {
                this.$emit('refresh', true)
            })
        },
        changeStatus (id, status) {
            this.axios.post(this.url + 'status/' + id, { status }).then(() => {
                this.$emit('refresh', true)
            })
        }
    }
}
</script>

<style>
.project-action a{
  padding:5px
}
</style>
