<template>
    <div class="nowrap">
      <div class="modal fade" id="campaignTaskModal" tabindex="-1" role="dialog">
        <div class="modal-dialog  modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header bg-warning">
              <h5 class="modal-title">Fontos teendők</h5>
              <button type="button" class="close" @click="closeModal()" aria-label="Close">
                <i aria-hidden="true" class="ki ki-close"></i>
              </button>
            </div>
            <div class="modal-body p-4" v-if="model">
              <div class="row">
                <div class="col-12">
                  <FormDatePicker v-model="model.deadline" :title="'Határidő'"></FormDatePicker>
                </div>
                <div class="col-12">
                  <FormTextArea :rows="5" v-model="model.description" :title="'Leírás'"></FormTextArea>
                </div>
              </div>
              <div class="modal-footer ">
                <button type="button" class="btn btn-primary" @click="closeModal()">Mégse</button>
                <button type="button" class="btn btn-success" @click="saveTask()">Mentés</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h3 v-if="!tasks || !tasks.length" class="col-12 text-center">Nincs feladat rögzítve</h3>
      <VueSlickCarousel v-if="tasks && tasks.length" class=" h250" v-bind="settings" ref="carouselLogo"  >
        <div v-for="(task,index) in tasks" v-bind:key="'task'+index" class="partner-logo justify-content-center  align-items-center">
          <div class="card m-3">
            <div class="card-body bg-green">
              <h5><i class="fa fa-calendar-alt"></i> {{task.deadlineFormatted}}</h5>
              {{task.description}}</div>
            <div class="card-footer bg-green p-2 " >
              <a href="#" class="text-danger m-2" title="Szerkeszt" data-toggle="modal" data-target="#campaignTaskModal" @click.prevent="model=task"> <i class="fa fa-edit"></i></a>
              <a href="#" class="text-danger m-2" title="Kész" @click.prevent="completeTask(task)"> <i class="fa fa-check"></i></a>
              <a href="#" class="text-danger m-2" title="Törlés" @click.prevent="deleteTask(task.id)"> <i class="fa fa-trash"></i></a>
            </div>
          </div>
        </div>
      </VueSlickCarousel>
    </div>
</template>
<script>
import DeleteConfirm from '../../../../../../resources/js/components/DeleteConfirm'
import FormDatePicker from '../../../../../../resources/js/components/form/FormDatePicker'
import FormTextArea from '../../../../../../resources/js/components/form/FormTextArea'
import VueSlickCarousel from 'vue-slick-carousel'
export default {
    name: 'CampaignTask',
    props: ['campaignId'],
    components: { DeleteConfirm, VueSlickCarousel, FormDatePicker, FormTextArea },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/project/task/`
        }
    },
    data () {
        return {
            tasks: [],
            model: {},
            settings: {
                arrows: false,
                loop: false,
                dots: false,
                infinite: true,
                autoplay: false,
                speed: 1000,
                autoplaySpeed: 2000,
                fadeIn: true,
                slidesToShow: 4,
                slidesToScroll: 4,
                initialSlide: 0,
                responsive: [
                    {
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 5,
                            slidesToScroll: 5,
                            infinite: true,
                            dots: false
                        }
                    },
                    {
                        breakpoint: 600,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 2,
                            initialSlide: 2
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    }
                ]
            }
        }
    },
    created () {
        this.getCampaignTasks()
    },
    methods: {
        getCampaignTasks () {
            this.axios.get(this.url + 'list/' + this.campaignId).then((response) => {
                this.tasks = response.data.data
            })
        },
        saveTask () {
            this.model.project_id = this.campaignId
            this.axios.post(this.url + 'save', this.model).then(() => {
                this.getCampaignTasks()
                this.closeModal()
            })
        },
        completeTask (task) {
            task.status = 1
            this.axios.post(this.url + 'save', task).then(() => {
                this.getCampaignTasks()
            })
        },
        closeModal () {
            this.model = {}
            window.$('#campaignTaskModal').modal('hide')
        },
        deleteTask (id) {
            this.axios.delete(this.url + 'delete/' + id).then(() => {
                this.getCampaignTasks()
            })
        }
    }
}
</script>
<style>
.slick-slide{
  display: inline-block;
}
</style>
