<template>
    <div class="table-responsive">
        <BaseDatatable v-if="loaded" :multiple-actions="multipleAction" :module="`campaig`" :apiurl="url" :list-url="`${url}/contract-sablon/list`" :fields="fields"></BaseDatatable>
    </div>
</template>

<script>
import BaseDatatable from '../../../../../../resources/js/components/BaseDatatable'
export default {
    name: 'ContractSablonList',
    props: ['url'],
    components: { BaseDatatable },
    data () {
        return {
            loaded: true,
            multipleAction: {
            },
            apiurl: this.url,
            fields: [
                {
                    name: 'id',
                    sortField: 'id',
                    title: this.$translate.t('ID')
                },
                {
                    name: 'sablon',
                    sortField: 'sablon',
                    title: this.$translate.t('Név')
                },
                {
                    name: '__slot:component',
                    componentName: 'SablonAction',
                    title: this.$translate.t('Művelet')
                }
            ]
        }
    }
}
</script>
