<template>
  <div>
    <div class = "alert alert-custom alert-white alert-shadow kt-portlet" role = "alert">
      <h3 class = "text-info">{{ $t('Szerződések szerkesztése') }}- {{model.sablon}} <button class="btn btn-sm btn-success float-right" @click="saveAsDraft">Mentés</button></h3>
    </div>
    <div class = "kt-portlet" v-if="model.id !=5">
      <div class = "kt-portlet__body">
        <div class = "kt-form kt-form--label-right">
          <div class = "kt-form__body">
            <div class = "row">
              <div class="col-md-6">
                <h1>Magyar</h1>
              </div>
              <div class="col-md-6">
                <h1>Angol</h1>
              </div>
              <div class = "col-md-6" v-if="model &&  model.hu">
                <div class="row">
                  <div class="col-md-12" v-for="(section ,index) of model.hu.sections" v-bind:key="'section-hu-'+index">
                    <FormInput v-model="model.hu.sections[index].name" :title="(index+1)+'.'"></FormInput>
                    <div class="row" v-for="(item,ind) of section.items" v-bind:key="'item-hu-'+index+'-'+ind">
                      <div class="col-md-12">
                        <FormTextArea  :rows="10" :title="(index+1)+'. '+(ind+1)+'. pont'" :id="'item-hu-'+index+'-'+ind" v-model="model.hu.sections[index].items[ind].content"></FormTextArea>
                      </div>
                    </div>
                  </div>
                </div>

                </div>
              <div class = "col-md-6" v-if="model &&  model.en">
                <div class="row">
                  <div class="col-md-12" v-for="(section ,index) of model.en.sections" v-bind:key="'section-en-'+index">
                    <FormInput v-model="model.en.sections[index].name" :title="(index+1)+'.'"></FormInput>
                    <div class="row" v-for="(item,ind) of section.items" v-bind:key="'item-en-'+index+'-'+ind">
                      <div class="col-md-12">
                        <FormTextArea :rows="10"  :title="(index+1)+'. '+(ind+1)+'. pont'" :id="'item-en-'+index+'-'+ind" v-model="model.en.sections[index].items[ind].content"></FormTextArea>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    <div class = "kt-portlet" v-if="model.id == 5">
      <div class = "kt-portlet__body">
        <div class = "kt-form kt-form--label-right">
          <div class = "kt-form__body">
            <div class = "row">
              <div class="col-md-12">
                <FormWyswygEditor :title="'Árajánlat lábléc'" :id="'item-hu'" v-model="model.hu"></FormWyswygEditor>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      </div>
</template>

<script>
import FormWyswygEditor from '../../../../../../resources/js/components/form/FormWyswygEditor.vue'
import FormInput from '../../../../../../resources/js/components/form/FormInput.vue'
import FormTextArea from '../../../../../../resources/js/components/form/FormTextArea.vue'
export default {
    name: 'ContractSablonEdit',
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/campaig`
        }
    },
    data () {
        return {
            model: {}
        }
    },
    methods: {
        getContract () {
            let id = 0
            if (this.$route.params.id) {
                id = this.$route.params.id
            }

            this.axios.get(this.url + '/contract-sablon/show/' + id).then((response) => {
                this.model = response.data.data
            })
        },
        saveAsDraft () {
            this.axios.post(this.url + '/contract-sablon/edit/' + this.model.id, this.model).then((response) => {
                this.model = response.data.data
            })
        }
    },

    components: { FormWyswygEditor, FormInput, FormTextArea },
    beforeMount: function () {
        this.getContract()
    }
}
</script>
