<template>
  <div>
    <div class="modal fade" id="addressModal" tabindex="-1" role="dialog" >
      <div class="modal-dialog  modal-dialog-centered" role="document" >
        <div class="modal-content">
          <div class="modal-header bg-warning">
            <h5 class="modal-title">Címzettek</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <i aria-hidden="true" class="ki ki-close"></i>
            </button>
          </div>
          <div class="modal-body p-4" >
            <div class="row">
              <hr class="col-md-12 mb-2"/>
              <div class="col-md-6"><FormInput v-model="model.name" :title="'Címzett'"></FormInput></div>
              <div class="col-md-6"><FormInput v-model="model.email" :title="'Email'"></FormInput></div>
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-12"><button class="btn btn-xs btn-success float-right" @click="addRec">Új címzett</button></div>
                </div>
                <div class="row" v-if="model.other_recipients && model.other_recipients.length">
                  <template v-for="(rec,ind) in model.other_recipients">
                    <div class="col-md-5  mb-3" v-bind:key="'rec-name-'+ind">
                      <FormInput v-model="model.other_recipients[ind].name"  :title="$t('Címzett neve')"></FormInput>
                    </div>
                    <div class="col-md-5  mb-3" v-bind:key="'rec-email-'+ind">
                      <FormInput v-model="model.other_recipients[ind].email"  :title="$t('Email')"></FormInput>
                    </div>
                    <div class="col-md-2" v-bind:key="'rec-del-'+ind"><button @click="deleteRec(ind)" class="btn btn-xs btn-danger"><i class="fa fa-trash"></i> </button></div>
                  </template>
                </div>
               </div>
            </div>
          </div>
          <div class="modal-footer ">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Mégse</button>
            <button type="button" class="btn btn-success" @click="sendEmail()">Küldés emailben</button>
          </div>
        </div>
        </div>
        </div>
    <div class = "alert alert-custom alert-white alert-shadow kt-portlet" role = "alert">
      <h3 class = "text-info">{{ $t('Szerződések') }}  <div class="float-right" v-if="model.id">
        <template v-if="model.type!= 'work'">
        <button class="btn btn-outline-info" @click="openPDF(url+'/contract/pdf-preview/'+model.id+'/1-szamu-melleklet')">1. Számú melléklet <i class="fa fa-file-pdf"></i></button>
        <button class="btn btn-outline-info" @click="openPDF(url+'/contract/pdf-preview/'+model.id+'/2-szamu-melleklet')">2. Számú melléklet <i class="fa fa-file-pdf"></i></button>
        <button class="btn btn-outline-info" @click="openPDF(url+'/contract/pdf-preview/'+model.id+'/szerzodes')">Szerződés <i class="fa fa-file-pdf"></i></button>
        </template>
        <template v-if="model.type === 'work'">
          <button class="btn btn-outline-info" @click="openPDF(url+'/contract/pdf-preview/'+model.id+'/0-szamu-melleklet')">1. Számú melléklet <i class="fa fa-file-pdf"></i></button>
          <button class="btn btn-outline-info" @click="openPDF(url+'/contract/pdf-preview/'+model.id+'/1-szamu-melleklet')">2. Számú melléklet <i class="fa fa-file-pdf"></i></button>
          <button class="btn btn-outline-info" @click="openPDF(url+'/contract/pdf-preview/'+model.id+'/2-szamu-melleklet')">3. Számú melléklet <i class="fa fa-file-pdf"></i></button>
          <button class="btn btn-outline-info" @click="openPDF(url+'/contract/pdf-preview/'+model.id+'/szerzodes')">Szerződés <i class="fa fa-file-pdf"></i></button>
        </template>
      </div></h3>
    </div>
    <div class = "kt-portlet">
      <div class = "kt-portlet__body">
        <div class = "kt-form kt-form--label-right">
          <div class = "kt-form__body">
            <div class = "row">
              <div class="col-md-12 table-responsive">
                 <table class="table table-bordered">
                   <tr>
                     <th>MADS által utoljára szerkesztve</th>
                     <th>MADS által elfogadva?</th>
                     <th>Cég által utoljára szerkesztve</th>
                     <th>Cég által elfogadva</th>
                     <th>Műveletek</th>
                   </tr>
                   <tr>
                     <td>{{model.mads_updated}}</td>
                     <td>{{model.mads_approved}}</td>
                     <td>{{model.company_updated}}</td>
                     <td>{{model.company_approved}}</td>
                     <td>
                       <button class="btn btn-sm btn-primary" @click="openConfirm('Ha elfogadja a szerződést a végrahajtott módosítások elvesznek, a Cég által küldött módosítások lesznek érvényesek. A szerződés végleges lesz.',approve)">Elfogadás</button>
                       <button class="btn btn-sm btn-success" @click="openConfirm('A szerződést újra elküldjük az ügyfélnek jóváhagyásra.',saveAndApproveContract)">Mentés és küldés az ügyfélnek</button>
                       <button class="btn btn-sm btn-warning" @click="saveAsDraft">Mentés piszkozatként</button>
                       <button class="btn btn-sm btn-danger" @click="openConfirm('Biztos vissza szeretné tölteni a cég áltatl küldött verziót, a piszkozatok és a módosítások elvesznek.',revertLastVersion)">Utolsó verzió visszaállítása</button>
                     </td>
                   </tr>
                 </table>
              </div>
              <div class = "col-md-6" >
                <FormWyswygEditor v-model="model.actual_contract"></FormWyswygEditor>
                </div>
              <div class="col-md-6 " >
                <h2 class="text-center">Eltérések az előző verzióhoz képest</h2>
                <div style="margin-left:10px;margin-top:75px; margin-right:10px" class="diffBlock" v-html="model.diff"></div>
              </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      </div>
</template>

<script>
import FormWyswygEditor from '../../../../../../resources/js/components/form/FormWyswygEditor.vue'
import swal from 'sweetalert2'
import FormInput from '../../../../../../resources/js/components/form/FormInput.vue'

export default {
    name: 'ContractShow',
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/campaig`
        }
    },
    data () {
        return {
            model: {},
            selectedAction: null
        }
    },
    methods: {
        getContract () {
            let id = 0
            if (this.$route.params.id) {
                id = this.$route.params.id
            }

            this.axios.get(this.url + '/contract-list/show/' + id).then((response) => {
                this.model = response.data.data
                if (!this.model.other_recipients || !this.model.other_recipients.length) {
                    this.model.other_recipients = []
                }
            })
        },
        saveAsDraft () {
            this.axios.post(this.url + '/contract-list/save-as-draft/' + this.model.id, this.model).then((response) => {
                this.model = response.data.data
            })
        },
        approve () {
            this.selectedAction = 'approve'
            window.$('#addressModal').modal('show')
        },
        revertLastVersion () {
            this.axios.post(this.url + '/contract-list/revert-last-version/' + this.model.id, this.model).then((response) => {
                this.model = response.data.data
            })
        },
        saveAndApproveContract () {
            this.selectedAction = 'saveAndApprove'
            window.$('#addressModal').modal('show')
        },
        sendEmail () {
            if (this.selectedAction === 'approve') {
                this.axios.post(this.url + '/contract-list/approve-contract/' + this.model.id, this.model).then((response) => {
                    this.model = response.data.data
                    window.$('#addressModal').modal('hide')
                })
            } else {
                this.axios.post(this.url + '/contract-list/save-and-approve/' + this.model.id, this.model).then((response) => {
                    this.model = response.data.data
                    window.$('#addressModal').modal('hide')
                })
            }
        },
        addRec () {
            this.model.other_recipients.push(JSON.parse(JSON.stringify({ name: null, email: null })))
        },
        deleteRec (index) {
            this.model.other_recipients.splice(index, 1)
        },
        openPDF (link) {
            this.$eventHub.$emit('openPDFStudent', link)
        },
        openConfirm (question, callback) {
            swal.fire({
                title: question,
                text: this.$t('A Művelet nem visszavonható'),
                type: 'warning',
                showCancelButton: !0,
                confirmButtonText: this.$t('Igen, értettem!'),
                cancelButtonText: this.$t('Mégse!'),
                reverseButtons: !0
            }).then(function (e) {
                if (e.value) {
                    callback()
                }
            })
        }
    },

    components: { FormInput, FormWyswygEditor },
    beforeMount: function () {
        this.getContract()
    }
}
</script>
<style >
del.diffmod, del {
  background-color:red;
  font-weight: bold;
  color:white;
}
ins.diffmod, ins.diffins{
  background-color:green;
  font-weight: bold;
  color:white;
}
.normal {
   background: none !important;
}
.diffBlock{
  font-family: Arial !important;
}
.diffBlock li{
  line-height: 1.14;
}
.diffBlock table tr td
  {
    margin: 0px;
    padding: 5px;
    vertical-align: top;

    font-size: 12px;
    line-height: normal;
    border:solid 1px #ccccc6;
  }
  .paper{

    font-size: 12px;
    text-align: justify;

  }
  .signiture {

    text-align: right;
  }
.diffBlock  .paper div, .paper span
  {
    font-size:12px;
  }
  .head{
    font-size:13px;
    text-align: center
  }
.diffBlock  .paper table.data td{
    border:solid 1px #ccccc6;
    white-space: nowrap;
  }
.diffBlock  table {
    width: 100%; margin:0 0 0 0; font-size:14px; border:solid 1px #ccccc6;
  }
</style>
