<template>
    <div >
    <div class="modal fade" id="sendIntroductionModal" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-lg  modal-dialog-centered" role="document">
            <div class="modal-content ">
                <div class="modal-header bg-warning">
                    <h5 class="modal-title">Bemutatkozó küldése</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body p-4" v-if="model && model.data && model.data.id ">
                    <div class="row">
                        <div class="col-md-6  mb-3">
                          <FormInput v-model="model.recipient_name"  :title="$t('Címzett neve')"></FormInput>
                        </div>
                      <div class="col-md-6  mb-3">
                        <FormInput v-model="model.recipients"  :title="$t('Email')"></FormInput>
                      </div>
                    </div>
                  <div class="row">
                    <div class="col-md-12"><button class="btn btn-xs btn-success float-right" @click="addRec">Új címzett</button></div>
                  </div>
                  <div class="row" v-if="model.other_recipients">
                    <template v-for="(rec,ind) in model.other_recipients">
                    <div class="col-md-5  mb-3" v-bind:key="'rec-name-'+ind">
                      <FormInput v-model="model.other_recipients[ind].name"  :title="$t('Címzett neve')"></FormInput>
                    </div>
                    <div class="col-md-5  mb-3" v-bind:key="'rec-email-'+ind">
                      <FormInput v-model="model.other_recipients[ind].email"  :title="$t('Email')"></FormInput>
                    </div>
                      <div class="col-md-2" v-bind:key="'rec-del-'+ind"><button @click="deleteRec(ind)" class="btn btn-xs btn-danger"><i class="fa fa-trash"></i> </button></div>
                    </template>
                  </div>
                      <div class="row">
                        <div class="col-md-12">
                            <FormInput v-model="model.subject"  :title="$t('Tárgy')"></FormInput>
                        </div>
                        <div class="col-12">
                            <FormWyswygEditor v-model="model.content"  :title="$t('Tartalom')"></FormWyswygEditor>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-dark"  data-dismiss="modal">Bezár</button>
                    <button class="btn btn-success" @click="sendEmail" >Küldés</button>
                </div>
            </div>
        </div>
    </div>
    </div>
</template>

<script>
import FormInput from '../../../../../../resources/js/components/form/FormInput'
import FormWyswygEditor from '../../../../../../resources/js/components/form/FormWyswygEditor'
import FormDropZone from '../../../../../../resources/js/components/form/FormDropZone'
import FormSelect from '../../../../../../resources/js/components/form/FormSelect'

export default {
    name: 'IntroductionModal',
    data () {
        return {
            model: {
                data: {},
                recipients: null,
                other_recipients: []
            }

        }
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/email`
        }
    },
    components: { FormInput, FormWyswygEditor, FormDropZone, FormSelect },
    methods: {
        sendEmail () {
            this.axios.post(this.url + '/send-email-introduction', this.model).then(() => {
                window.$('#sendIntroductionModal').modal('hide')
                this.refreshDropzone = true
                setTimeout(() => {
                    this.refreshDropzone = false
                }, 1000)
            })
        },
        addRec () {
            this.model.other_recipients.push(JSON.parse(JSON.stringify({ name: null, email: null })))
        },
        deleteRec (index) {
            this.model.other_recipients.splice(index, 1)
        }

    },
    created () {

    },
    watch: {

    },
    mounted () {
        const self = this
        self.$eventHub.$on('sendIntroductionModal', function (data) {
            self.model.data = data
            self.model.id = data.id
            self.model.recipients = data.contact_email
            self.model.recipient_name = data.contact_name
            self.model.other_recipients = []
            console.log(data)
            window.$('#sendIntroductionModal').modal('show', { backdrop: 'static', keyboard: false })
        })
    }
}
</script>
