<template>
    <div class="nowrap ">
        <button    class=" btn btn-success" title="Bemutatkozó kiküldése" @click="sendEmail(data)"><i class="flaticon2-new-email"></i> </button>
        <button    class=" btn btn-warning" title="Visszahívást kér" @click="sendRemember(data)"><i class="fa fa-calendar"></i> </button>
    </div>
</template>

<script>

import DeleteConfirm from '../../../../../../resources/js/components/DeleteConfirm.vue'
export default {
    name: 'IntroductionAction',
    props: ['data', 'componentProps'],
    components: { DeleteConfirm },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/campaign/`
        }
    },
    methods: {
        sendEmail (data) {
            const self = this
            self.$eventHub.$emit('sendIntroductionModal', data)
        },
        sendRemember (data) {
            const self = this
            self.$eventHub.$emit('sendRemember', data)
        }
    }
}
</script>
