<template>
  <div>
    <div class="modal fade" id="MADSContractModal" tabindex="-1" role="dialog" >
      <div class="modal-dialog  modal-dialog-centered" role="document" style="max-width: 80%">
        <div class="modal-content">
          <div class="modal-header bg-warning">
            <h5 class="modal-title">MADS Szerződéskészítés</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <i aria-hidden="true" class="ki ki-close"></i>
            </button>
          </div>
          <div class="modal-body p-4" v-if="model">
            <div class="row">
              <div class="col-12">
                <h3 class="bg-aqua mb-3 p-2">Alapadatok</h3>
              </div>
              <div class="col-md-2">
                <img v-if="model.type=='gold'" class="img-fluid" height="50" src="/images/madsgold_logo.jpg" style="max-height: 80px" />
                <img v-if="model.type=='mads'" class="img-fluid"  height="50" src="/frontend/images/logo.png"  style="max-height: 80px" alt="">
              </div>
              <div class="col-2">
                <FormRadio  input-class="no-position" :title="'Szerződés típusa'" v-model="data.language" :options="{'hu':'Magyar','en': 'Kétnyelvű'}"></FormRadio>
              </div>
              <div class="col-4">
                <FormInput v-model="data.number" :title="'Szerződés sorszáma'" :placeholder="'10/2023'"></FormInput>
              </div>
              <div class="col-4">
                <FormDatePicker v-model="data.date" :title="'Szerződés dátuma'"></FormDatePicker>
              </div>
              <div class="col-8">
                <div  class="row">
                <h3 class="col-md-12 bg-aqua mb-3 p-2">1. számú mellékelet <button @click="previewFirst" class="btn btn-sm btn-danger float-right"><i class="fa fa-file-pdf"></i></button></h3>
                <h4 class="col-md-12 bg-aqua mb-3 p-2">Megbízó<button class="btn btn-sm btn-success float-right" @click="addContact()" ><i class="fa fa-plus"></i> </button></h4>
                </div>
                <div class="row">
                  <div class="col-md-6"><FormInput :title="'Adatkezelő'" v-model="data.first.controller"></FormInput></div>
                  <div class="col-md-6"><FormInput :title="'Az adatkezelő honlapja'" v-model="data.first.website"></FormInput></div>
                  <div class="col-md-12"><hr/></div>
                </div>
                <div class="row" v-for="(item,index) in data.first.contacts"  v-bind:key="'contacts-'+index">
                  <div class="col-md-12"><button v-if="index >0" class="btn btn-sm btn-danger float-right" @click="deleteContact(index)" ><i class="fa fa-trash"></i> </button></div>
                  <div class="col-md-6"><FormInput :title="'Kapcsolattartó neve'" v-model="data.first.contacts[index].name"></FormInput></div>
                  <div class="col-md-6"><FormInput :title="'Telefon, fax száma'" v-model="data.first.contacts[index].fax"></FormInput></div>
                  <div class="col-md-6"><FormInput :title="'Mobiltelefon száma'" v-model="data.first.contacts[index].phone"></FormInput></div>
                  <div class="col-md-6"><FormInput :title="'E-mail címe'" v-model="data.first.contacts[index].email"></FormInput></div>
                </div>
                <div  class="row">
                  <h4 class="col-md-12 bg-aqua mb-3 p-2">MADS kapcsolat<button class="btn btn-sm btn-success float-right" @click="addMadsContact()" ><i class="fa fa-plus"></i> </button></h4>
                </div>
                  <div class="row" v-for="(item,index) in data.first.madsContact"  v-bind:key="'mads-contacts-'+index">
                    <div class="col-md-12"><button  class="btn btn-sm btn-danger float-right" @click="deleteMadsContact(index)" ><i class="fa fa-trash"></i> </button></div>
                    <div class="col-md-6"><FormAutocomplete :title="'Kapcsolattartó'" attributeKey="id" attributeValue="name" :url="'/api/v1/user/index'" v-model="data.first.madsContact[index].user" ></FormAutocomplete></div>
                  </div>
              </div>

              <div class="col-4">
                <h3 class="bg-aqua mb-3 p-2">2. számú mellékelet <button @click="previewSecond" class="btn btn-sm btn-danger float-right"><i class="fa fa-file-pdf"></i></button></h3>
                <div class="row">
                  <div class="col-md-6"><FormCheckbox :options="{1:'név'}" v-model="data.second.name" ></FormCheckbox></div>
                  <div class="col-md-6"><FormCheckbox :options="{1:'lakcím'}" v-model="data.second.address" ></FormCheckbox></div>
                  <div class="col-md-6"><FormCheckbox :options="{1:'születési hely, idő'}" v-model="data.second.birthdate" ></FormCheckbox></div>
                  <div class="col-md-6"><FormCheckbox :options="{1:'telefonszám'}" v-model="data.second.phone" ></FormCheckbox></div>
                  <div class="col-md-6"><FormCheckbox :options="{1:'e-mail cím'}" v-model="data.second.email" ></FormCheckbox></div>
                  <div class="col-md-6"><FormCheckbox :options="{1:'állampolgárság'}" v-model="data.second.nationality" ></FormCheckbox></div>
                  <div class="col-md-6"><FormCheckbox :options="{1:'nem'}" v-model="data.second.gender" ></FormCheckbox></div>
                  <div class="col-md-6"><FormCheckbox :options="{1:'önéletrajz'}" v-model="data.second.cv" ></FormCheckbox></div>
                  <div class="col-md-6"><FormCheckbox :options="{1:'fénykép'}" v-model="data.second.picture" ></FormCheckbox></div>
                  <div class="col-md-12"><FormCheckbox :options="{1:'jelenlegi, és volt oktatási intézményekre vonatkozó adatok'}" v-model="data.second.school" ></FormCheckbox></div>
                  <div class="col-md-6"><FormCheckbox :options="{1:'nyelvismere'}" v-model="data.second.language" ></FormCheckbox></div>
                  <div class="col-md-6"><FormCheckbox :options="{1:'képzési információk'}" v-model="data.second.trainingInfo" ></FormCheckbox></div>
                  <div class="col-md-6"><FormCheckbox :options="{1:'jogosítvány típusa'}" v-model="data.second.driverLicense" ></FormCheckbox></div>
                  <div class="col-md-6"><FormCheckbox :options="{1:'referenciák'}" v-model="data.second.reference" ></FormCheckbox></div>
                  <div class="col-md-6"><FormCheckbox :options="{1:'jelenléti ív'}" v-model="data.second.precence" ></FormCheckbox></div>

                </div>
              </div>
              <div class="col-12">
                <div  class="row">
                  <h3 class="col-md-12 bg-aqua mb-3 p-2">Szerződés adatok <button @click="previewContract" class="btn btn-sm btn-danger float-right"><i class="fa fa-file-pdf"></i></button></h3>
                </div>
                <div class="row">
                  <div class="col-md-3"><FormInput :title="'Cég neve'" v-model="data.name"></FormInput></div>
                  <div class="col-md-3"><FormInput :title="'Székhelye'" v-model="data.site"></FormInput></div>
                  <div class="col-md-3"><FormInput :title="'Adószám'" v-model="data.tax"></FormInput></div>
                  <div class="col-md-3"><FormRadio  input-class="no-position" :title="'E Számla'" v-model="data.e_szamla_approve" :options="{'0':'Nem','1': 'Igen'}"></FormRadio></div>
                  <div class="col-md-3" v-if="data.e_szamla_approve===1"><FormInput :title="'E Számla e-mail'" v-model="data.e_szamla"></FormInput></div>
                  <div class="col-md-3"><FormInput :title="'Fizetése határidő'" v-model="data.payment_deadline"></FormInput></div>
                  <div class="col-md-3"><FormDatePicker :title="'Hatályba lépés dátuma'" v-model="data.effective_date"></FormDatePicker></div>
                  <div class="col-md-3"> <FormRadio  input-class="no-position" :title="'Előző szerződés'" v-model="data.previous_contract" :options="{'1':'Igen','2': 'Nem'}"></FormRadio></div>
                  <div class="col-md-3" v-if="data.previous_contract == 1">
                    <FormDatePicker   :title="'Előző szerződés dátuma'" v-model="data.previous_contract_date" ></FormDatePicker>
                  </div>
                  <div class="col-md-3" v-if="data.previous_contract == 1">
                    <FormInput  :title="'Előző szerződés sorszáma'" v-model="data.previous_contract_number" ></FormInput>
                  </div>
                  <div class="col-md-3"> <FormRadio  input-class="no-position" :title="'Szerződés típusa'" v-model="data.contract_type" :options="{'1':'Határozott','2': 'Határozattlan'}"></FormRadio></div>
                </div>
                <div  class="row">
                  <div class="col-md-6">
                    <div class="row">
                      <h3 class="col-md-12 bg-aqua mb-3 p-2">Képviselő adatok <button class="btn btn-sm btn-success float-right" @click="addPersons()" ><i class="fa fa-plus"></i> </button></h3>
                      <div class="col-md-12">
                        <div class="row" v-for="(item,index) in data.persons " v-bind:key="'person-'+index">
                          <div class="col-md-12"><button  class="btn btn-sm btn-danger float-right" @click="deletePerson(index)" ><i class="fa fa-trash"></i> </button></div>
                          <div class="col-md-4"><FormInput :title="'Név'" v-model="data.persons[index].name"></FormInput></div>
                          <div class="col-md-4"><FormInput :title="'Titulus'" v-model="data.persons[index].position"></FormInput></div>
                          <div class="col-md-4"  v-if="data.language == 'en'"><FormInput :title="'Titulus(en)'" v-model="data.persons[index].position_en"></FormInput></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="row">
                      <h3 class="col-md-12 bg-aqua mb-3 p-2">Tevékenység <button class="btn btn-sm btn-success float-right" @click="addIndustries()" ><i class="fa fa-plus"></i> </button></h3>
                      <div class="row" v-for="(item,index) in data.industries " v-bind:key="'industry-'+index">
                        <div class="col-md-12"><button  class="btn btn-sm btn-danger float-right" @click="deleteIndustry(index)" ><i class="fa fa-trash"></i> </button></div>
                        <div class="col-md-3"><FormInput :title="'Tevékenység'" v-model="data.industries[index].industry"></FormInput></div>
                        <div class="col-md-3" v-if="data.language == 'en'"><FormInput :title="'Tevékenység(en)'" v-model="data.industries[index].industry_en"></FormInput></div>
                        <div class="col-md-6"><FormSelect :title="'Elszámolási ár típusa'" v-model="data.industries[index].type" :options="{0:'Kérlek válassz',1:' 1) nettó összeg, ől. 2008 Ft/óra/fő',2:'2) Szorzat a bruttó díj helyére a bruttó diákbér majd a szorzó',3:'3) osztás a bruttó díj helyére a bruttó diák bér és az osztó'}"></FormSelect></div>
                        <div class="col-md-6"><FormNumberInput :title="'Bruttó ár'" v-model="data.industries[index].price"></FormNumberInput></div>
                        <div class="col-md-6" v-if="data.industries[index].type == 2"><FormNumberInput :title="'Szorzó'" v-model="data.industries[index].multiplier"></FormNumberInput></div>
                        <div class="col-md-6" v-if="data.industries[index].type == 3"><FormNumberInput :title="'Osztó'" v-model="data.industries[index].divisor"></FormNumberInput></div>
                        <div class="col-md-6"><FormInput :title="'Bruttó ár (szövegesen)'" v-model="data.industries[index].price_text"></FormInput></div>
                        <div class="col-md-6" v-if="data.industries[index].type == 2"><FormInput :title="'Szorzó (szövegesem)'" v-model="data.industries[index].multiplier_text"></FormInput></div>
                        <div class="col-md-6" v-if="data.industries[index].type == 3"><FormInput :title="'Osztó (szövegesem)'" v-model="data.industries[index].divisor_text"></FormInput></div>
                        <div class="col-md-6" v-if="data.language == 'en'"><FormInput :title="'Bruttó ár en (szövegesen)'" v-model="data.industries[index].price_text"></FormInput></div>
                        <div class="col-md-6" v-if="data.industries[index].type == 2 && data.language == 'en'"><FormInput :title="'Szorzó(en) (szövegesem)'" v-model="data.industries[index].multiplier_text"></FormInput></div>
                        <div class="col-md-6" v-if="data.industries[index].type == 3 && data.language == 'en'"><FormInput :title="'Osztó(en) (szövegesem)'" v-model="data.industries[index].divisor_text"></FormInput></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer ">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Mégse</button>
              <button type="button" class="btn btn-success" @click="saveComment()">Mentés</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import FormTextArea from '../../../../../../resources/js/components/form/FormTextArea'
import FormInput from '../../../../../../resources/js/components/form/FormInput.vue'
import FormSelect from '../../../../../../resources/js/components/form/FormSelect.vue'
import FormCheckbox from '../../../../../../resources/js/components/form/FormCheckbox.vue'
import FormRadio from '../../../../../../resources/js/components/form/FormRadio.vue'
import FormDatePicker from '../../../../../../resources/js/components/form/FormDatePicker.vue'
import FormAutocomplete from '../../../../../../resources/js/components/form/FormAutocomplete.vue'
import FormNumberInput from '../../../../../../resources/js/components/form/FormNumberInput.vue'
export default {
    name: 'MADSContractModal',
    props: [],
    data: function () {
        return {
            model: null,
            data: {
                language: null,
                number: null,
                first: {

                    contacts: [],
                    date: new Date(),
                    website: null,
                    controller: null,
                    madsContact: []
                },
                second: {
                    name: true,
                    address: false,
                    birthdate: false,
                    phone: false,
                    email: false,
                    nationality: false,
                    gender: false,
                    cv: false,
                    picture: false,
                    school: false,
                    language: false,
                    trainingInfo: false,
                    driverLicense: false,
                    reference: false,
                    precence: false
                },
                name: null,
                site: null,
                tax: null,
                e_szamla: null,
                payment_deadline: null,
                previous_contract: 2,
                previous_contract_date: null,
                previous_contract_number: null,
                effective_date: null,
                contract_type: 1,
                persons: [],
                industries: []
            },
            contact: {
                name: null,
                email: null,
                phone: null,
                mobil: null
            }
        }
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/campaig/`
        }
    },
    watch: {

    },
    components: { FormTextArea, FormSelect, FormInput, FormCheckbox, FormRadio, FormDatePicker, FormAutocomplete, FormNumberInput },
    methods: {
        saveComment () {
            this.model.data = this.data
            this.axios.post(this.url + 'company-save-contract/' + this.model.type, this.model).then((rs) => {
                window.$('#MADSContractModal').modal('hide')
                alert(rs.data)
                window.location.href = rs.data.link
            })
        },
        previewFirst () {
            this.model.data = this.data
            this.axios.post(this.url + 'pdf-preview/mads/1-szamu-melleklet', this.model, { responseType: 'arraybuffer' }).then((data) => {
                console.log(data)
                var file = new Blob([data.data], { type: 'application/pdf' })
                var fileURL = URL.createObjectURL(file)
                window.open(fileURL)
            })
        },
        previewSecond () {
            this.model.data = this.data
            this.axios.post(this.url + 'pdf-preview/mads/2-szamu-melleklet', this.model, { responseType: 'arraybuffer' }).then((data) => {
                console.log(data)
                var file = new Blob([data.data], { type: 'application/pdf' })
                var fileURL = URL.createObjectURL(file)
                window.open(fileURL)
            })
        },
        previewContract () {
            this.model.data = this.data
            this.axios.post(this.url + 'pdf-preview/mads/szerzodes', this.model, { responseType: 'arraybuffer' }).then((data) => {
                console.log(data)
                var file = new Blob([data.data], { type: 'application/pdf' })
                var fileURL = URL.createObjectURL(file)
                window.open(fileURL)
            })
        },
        getMaxNumber (campaign, company, type) {
            this.axios.get(this.url + 'get-max-contract-number/' + campaign + '/' + company + '/' + type, this.model).then((d) => {
                console.log(d.data.data)
                if (!d.data.data.exists) {
                    this.data.number = d.data.data.number
                } else {
                    this.data = d.data.data.data
                }
            })
        },
        getCompanyData (self, company) {
            self.axios.get(this.url.replace('campaig/', 'company/show/') + company).then((d) => {
                self.data.tax = d.data.data.tax
                self.data.name = d.data.data.name
                self.data.e_szamla = d.data.data.invoice_email
                self.data.site = d.data.data.postal_address
                if (d.data.data.delegate) {
                    self.data.persons.push({ name: d.data.data.delegate, position: d.data.data.delegate_position })
                }
            })
        },
        addContact () {
            this.data.first.contacts.push(JSON.parse(JSON.stringify(this.contact)))
        },
        addPersons () {
            this.data.persons.push(JSON.parse(JSON.stringify({ name: null, position: null, position_en: null })))
        },
        addIndustries () {
            this.data.industries.push(JSON.parse(JSON.stringify({ industry: null, industry_en: null, price: null, type: null, multiplire: null, divisor: null })))
        },
        addMadsContact () {
            this.data.first.madsContact.push(JSON.parse(JSON.stringify({ user: null })))
        },
        deleteMadsContact (index) {
            this.data.first.madsContact.splice(index, 1)
        },
        deletePerson (index) {
            this.data.persons.splice(index, 1)
        },
        deleteIndustry (index) {
            this.data.industries.splice(index, 1)
        },
        deleteContact (index) {
            this.data.first.contacts.splice(index, 1)
        }
    },
    created () {
        const self = this
        self.$eventHub.$on('openContractModal', function (data) {
            if (data.type === 'MADS' || data.type === 'GOLD') {
                self.model = data.data
                if (data.type === 'MADS') {
                    self.model.type = 'mads'
                }
                if (data.type === 'GOLD') {
                    self.model.type = 'gold'
                }
                self.data = {
                    language: 'hu',
                    number: null,
                    first: {

                        contacts: [],
                        date: new Date(),
                        website: null,
                        controller: null,
                        madsContact: []
                    },
                    second: {
                        name: true,
                        address: false,
                        birthdate: false,
                        phone: false,
                        email: false,
                        nationality: false,
                        gender: false,
                        cv: false,
                        picture: false,
                        school: false,
                        language: false,
                        trainingInfo: false,
                        driverLicense: false,
                        reference: false,
                        precence: false
                    },
                    name: null,
                    site: null,
                    tax: null,
                    e_szamla: null,
                    e_szamla_approve: false,
                    payment_deadline: null,
                    payment_deadline_en: null,
                    previous_contract: false,
                    contract_type: false,
                    effective_date: null,
                    persons: [],
                    industries: []
                }
                self.addContact()
                self.data.first.contacts[0].name = data.data.contact_name
                self.data.payment_deadline = '8 (nyolc)'
                self.data.payment_deadline_en = '8 (eight)'
                self.data.first.contacts[0].email = data.data.contact_email
                self.data.first.contacts[0].phone = data.data.phone
                self.getCompanyData(self, data.data.company_id)
                self.getMaxNumber(data.data.campaign_id, data.data.company_id, self.model.type)
                window.$('#MADSContractModal').modal('show')
            }
        })
    }
}
</script>
<style>
#MADSContractModal ::placeholder,-webkit-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: red !important;
  opacity: 1; /* Firefox */
}

#MADSContractModal :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: red !important;;
}

#MADSContractModal ::-ms-input-placeholder { /* Microsoft Edge */
  color: red !important;;
}
</style>
