<template>
    <div>
      <div class = "alert alert-custom alert-white alert-shadow kt-portlet" role = "alert">
        <h3 class = "text-info">{{ $t('Árajánlat válaszok') }}</h3>
      </div>
      <div class="modal fade" id="questionListModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content ">
            <div class="modal-header bg-warning">
              <h5 class="modal-title">Kérdések </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i aria-hidden="true" class="ki ki-close"></i>
              </button>
            </div>
            <div class="modal-body p-4" v-if="selectedQuestion">
              <div class="row" v-for="(q,i) of selectedQuestion.questions" v-bind:key="'question-'+i">
                <div class="col-md-12">{{i+1}}. {{q.question}}</div>
                <div class="col-md-12 mt-3"><FormTextArea :disabled="selectedQuestion.answered==1" v-model="selectedQuestion.questions[i].answer" :title="'Válasz'"></FormTextArea></div>
              </div>
              <div class="modal-footer ">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Mégse</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <BaseDatatable v-if="loaded" :multiple-actions="multipleAction" :module="`campaig`" :apiurl="url" :list-url="`${url}/question-list`" :fields="fields"></BaseDatatable>
    </div>
    </div>
</template>

<script>
import BaseDatatable from '../../../../../../resources/js/components/BaseDatatable'
import FormTextArea from '../../../../../../resources/js/components/form/FormTextArea.vue'
export default {
    name: 'QuestionList',
    props: ['url'],
    components: { FormTextArea, BaseDatatable },
    mounted () {
        const self = this
        self.$eventHub.$on('openQuestionModal', function (data) {
            self.selectedQuestion = data
            console.log(data)
            window.$('#questionListModal').modal('show')
        })
    },
    data () {
        return {
            loaded: true,
            selectedQuestion: null,
            multipleAction: {
            },
            apiurl: this.url,
            fields: [
                {
                    name: 'id',
                    sortField: 'id',
                    title: this.$translate.t('ID')
                },
                {
                    name: 'company_name',
                    sortField: 'company_name',
                    title: this.$translate.t('Cég')
                },
                {
                    name: 'name',
                    sortField: 'name',
                    title: this.$translate.t('Név')
                },
                {
                    name: 'email',
                    sortField: 'email',
                    title: this.$translate.t('E-mail')
                },
                {
                    name: 'updated_at',
                    sortField: 'updated_at',
                    title: this.$translate.t('Módosítáva')
                },
                {
                    name: 'answered_bool',
                    sortField: 'answered',
                    title: this.$translate.t('Megválaszolva')
                },
                {
                    name: '__slot:component',
                    componentName: 'QuestionAction',
                    title: this.$translate.t('Művelet')
                }
            ]
        }
    }
}
</script>
