<template>
  <div>
    <div class="modal fade" id="rememberModal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content ">
          <div class="modal-header bg-warning">
            <h5 class="modal-title">Emlékeztető beállítása</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <i aria-hidden="true" class="ki ki-close"></i>
            </button>
          </div>
          <div class="modal-body p-4" >
            <div class="row">
                <div class="col-md-12"><FormInput v-model="model.info" :title="'Esemény neve'"></FormInput></div>
                <div class="col-md-12"><FormDatePicker v-model="model.date" :title="'Dátum'"></FormDatePicker></div>
              <div class="col-md-6"><FormTimePicker v-model="model.start" :title="'Kezdete'"></FormTimePicker></div>
              <div class="col-md-6"><FormTimePicker v-model="model.end" :title="'Vége'"></FormTimePicker></div>
            </div>
            <div class="modal-footer ">
              <button type="button" class="btn btn-success"  @click="saveEvent">Mentés</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal">Mégse</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import FormTextArea from '../../../../../../resources/js/components/form/FormTextArea'
import FormInput from '../../../../../../resources/js/components/form/FormInput'
import FormSelect from '../../../../../../resources/js/components/form/FormSelect'
import FormTimePicker from '../../../../../../resources/js/components/form/FormTimePicker'
import FormDatePicker from '../../../../../../resources/js/components/form/FormDatePicker'

export default {
    name: 'RememberModal',
    props: ['users'],
    data () {
        return {
            model: {}

        }
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/user/calendar/`
        }
    },
    components: { FormTextArea, FormSelect, FormTimePicker, FormInput, FormDatePicker },
    methods: {
        saveEvent () {
            this.axios.post(this.url + 'edit', this.model).then(() => {
                this.model = {}
                this.$emit('refresh', true)
                window.$('#rememberModal').modal('hide')
            })
        }
    },
    created () {
        const self = this
        self.$eventHub.$on('sendRemember', function (data) {
            self.model.info = data.company_name + ' - visszahívást kér'
            window.$('#rememberModal').modal('show')
        })
    }

}
</script>
