
<template>
    <div class="nowrap ">
        <button    class=" btn btn-success" @click="emitQuestion(data)" title="Megtekint" ><i class="fa fa-eye"></i> </button>
    </div>
</template>

<script>

export default {
    name: 'RequestAction',
    props: ['data', 'componentProps'],
    methods: {
        emitQuestion (data) {
            console.log(data)
            this.$eventHub.$emit('openPDF', data.documentum)
        }
    }
}
</script>
