<template>
    <div>
      <div class = "alert alert-custom alert-white alert-shadow kt-portlet" role = "alert">
        <h3 class = "text-info">{{ $t('Kiküldött árajánlatok') }}</h3>
      </div>
      <div class="table-responsive">
        <BaseDatatable v-if="loaded" :multiple-actions="multipleAction" :module="`campaig`" :apiurl="url" :list-url="`${url}/request-list`" :fields="fields"></BaseDatatable>
      </div>
    </div>
</template>

<script>
import BaseDatatable from '../../../../../../resources/js/components/BaseDatatable'
export default {
    name: 'RequestList',
    props: ['url'],
    components: { BaseDatatable },
    data () {
        return {
            loaded: true,
            multipleAction: {
            },
            apiurl: this.url,
            fields: [
                {
                    name: 'id',
                    sortField: 'id',
                    title: this.$translate.t('ID')
                },
                {
                    name: 'company_name',
                    sortField: 'company_name',
                    title: this.$translate.t('Cég')
                },
                {
                    name: 'name',
                    sortField: 'name',
                    title: this.$translate.t('Név')
                },
                {
                    name: 'email',
                    sortField: 'email',
                    title: this.$translate.t('E-mail')
                },
                {
                    name: 'updated_at',
                    sortField: 'updated_at',
                    title: this.$translate.t('Módosítáva')
                },
                {
                    name: 'approved_bool',
                    sortField: 'approved',
                    title: this.$translate.t('Elfogadva')
                },
                {
                    name: '__slot:component',
                    componentName: 'RequestAction',
                    title: this.$translate.t('Művelet')
                }
            ]
        }
    }
}
</script>
