<template>
    <div class="nowrap ">
        <router-link href="#"  :to="'/admin/campaign/contract-sablon/edit/'+data.id"   class=" btn btn-success" title="Szerkesztés" ><i class="fa fa-edit"></i> </router-link>
    </div>
</template>

<script>

import DeleteConfirm from '../../../../../../resources/js/components/DeleteConfirm.vue'
export default {
    name: 'SablonAction',
    props: ['data', 'componentProps'],
    components: { DeleteConfirm },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/campaign/`
        }
    },
    methods: {
    }
}
</script>
