<template>
    <AreaTypeForm v-if="Object.keys(model).length > 0" :url="url" :model="model"></AreaTypeForm>
</template>

<script>
import AreaTypeForm from './AreaTypeForm'
import AreaType from './AreaType'

export default {
    name: 'AreaTypeCreate',
    extends: AreaType,
    data () {
        return {
            model: {}
        }
    },
    components: { AreaTypeForm },
    beforeMount: function () {
        this.handleCreate('area-type', this.url, {})

        this.getAreaType()
    }
}
</script>
