<template>
    <WorkLocationForm v-if="Object.keys(model).length > 0" :url="url" :model="model"></WorkLocationForm>
</template>

<script>
import WorkLocationForm from './WorkLocationForm'
import WorkLocation from './WorkLocation'

export default {
    name: 'WorkLocationCreate',
    extends: WorkLocation,
    data () {
        return {
            model: {}
        }
    },
    components: { WorkLocationForm },
    beforeMount: function () {
        this.handleCreate('worklocation', this.url, {})

        this.getWorkLocation()
    }
}
</script>
