<template>
    <div class="nowrap project-action">
         <a v-if="data.file" href="#" class="btn btn-primary" @click.prevent="openPdf('/'+data.file)"><i class="fa fa-file-pdf"></i></a>
        <a v-if="data.card_status == 'Beküldve'" href="#" @click.prevent="changeStatus(data)" class=" btn btn-success" title="Felülvizsgálat" ><i class="fa fa fa-flag-checkered"></i> </a>
    </div>
</template>

<script>
import DeleteConfirm from '../../../../../../resources/js/components/DeleteConfirm'
export default {
    name: 'CardAction',
    props: ['data'],
    components: { DeleteConfirm },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/project/`
        }
    },
    methods: {
        changeStatus (data) {
            this.$eventHub.$emit('handleCard', data)
        },
        openPdf (link) {
            this.$eventHub.$emit('openPDF', link)
        }
    }
}
</script>

<style>
.project-action a{
  padding:7px
}
</style>
