<template>
  <div>
    <div class="modal fade" id="handleEventModal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content ">
          <div class="modal-header bg-warning">
            <h5 class="modal-title">Diákigazolvány/Jogviszony kezelése</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <i aria-hidden="true" class="ki ki-close"></i>
            </button>
          </div>
          <div class="modal-body p-4" >
            <div class="row">
              <h1 class="text-center col-12">{{model.student_name}}</h1>
              <h3 class="text-center col-12">{{model.student_number}}</h3>
              <h3 class="text-center col-12 mb-5">25. életévét ekkor tölti be:<br/>{{model.student_25_year}}</h3>
                <div class="col-md-6"><FormDatePicker v-model="model.start_date" :title="'Érvényesség kezdete'"></FormDatePicker></div>
                <div class="col-md-6"><FormDatePicker v-model="model.end_date" :title="'Érvényesség vége'"></FormDatePicker></div>
                <div class="col-md-12"><FormTextArea v-model="model.comment" :title="'Elutasítás megjegyzése'"></FormTextArea></div>
            </div>
            <div class="modal-footer ">
              <button type="button" class="btn btn-success"  @click="saveEvent">Elfogadás</button>
              <button type="button" class="btn btn-danger"  @click="rejectEvent">Elutasítás</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal">Mégse</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import FormTextArea from '../../../../../../resources/js/components/form/FormTextArea'
import FormInput from '../../../../../../resources/js/components/form/FormInput'
import FormSelect from '../../../../../../resources/js/components/form/FormSelect'
import FormTimePicker from '../../../../../../resources/js/components/form/FormTimePicker'
import FormDatePicker from '../../../../../../resources/js/components/form/FormDatePicker'
export default {
    name: 'HandleModal',
    data () {
        return {
            model: {}

        }
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/online-student-card`
        }
    },
    components: { FormTextArea, FormSelect, FormTimePicker, FormInput, FormDatePicker },
    methods: {
        saveEvent () {
            this.model.card_status = 1
            this.axios.post(this.url + '/handle', this.model).then(() => {
                this.model = {}
                this.$eventHub.$emit('refresh-table', true)
                this.$emit('refresh', true)
                window.$('#handleEventModal').modal('hide')
            })
        },
        rejectEvent () {
            this.model.card_status = 2
            this.axios.post(this.url + '/handle', this.model).then(() => {
                this.model = {}
                this.$emit('refresh', true)
                this.$eventHub.$emit('refresh-table', true)
                window.$('#handleEventModal').modal('hide')
            })
        }
    },
    mounted () {
        const self = this
        this.$eventHub.$on('handleCard', function (data) {
            self.model = data
            window.$('#handleEventModal').modal('show')
        })
    }

}
</script>
