<template>
<div>
  <HandleModal></HandleModal>
<nav>
  <div class = "nav nav-tabs nav-fill" id = "nav-tab" role = "tablist">
    <a class = "nav-item nav-link active" @click="selectedTab='active-1'" id = "nav-section1" data-toggle = "tab" href = "#active" role = "tab" aria-controls = "nav-home" aria-selected = "true">Diákigazolvány</a>
    <a class = "nav-item nav-link" @click="selectedTab='active-2'" id = "nav-section4" data-toggle = "tab" href = "#active2" role = "tab" aria-controls = "nav-home" aria-selected = "false">Jogviszony igazolás</a>
  </div>
</nav>
<div class = "tab-content py-3 px-3 px-sm-0" id = "nav-tabContent">
  <div class = "tab-pane fade show active container-fluid" id = "active" role = "tabpanel" aria-labelledby = "nav-home-tab" v-if="selectedTab=='active-1'">
       <h1 class="mb-4 bg-light">Új diákigazolvány bejelentések</h1>
    <div class="table-responsive">
       <BaseDatatable v-if="loaded" :multiple-actions="multipleAction" :module="`onlinestudentcard`" :apiurl="url" :list-url="`${url}/index?document_type=1&card_status=0`" :fields="fields"></BaseDatatable>
    </div>
       <h1 class="mb-4 bg-light">Kezelt bejelentések</h1>
    <div class="table-responsive">
      <BaseDatatable v-if="loaded" :multiple-actions="multipleAction" :module="`onlinestudentcard`" :apiurl="url" :list-url="`${url}/index?document_type=1&card_status=1,2`" :fields="fields"></BaseDatatable>
    </div>
  </div>
  <div class = "tab-pane fade show active container-fluid" id = "active2" role = "tabpanel" aria-labelledby = "nav-home-tab" v-if="selectedTab=='active-2'">
    <h1 class="mb-4 bg-light">Új jogviszony bejelentések</h1>
    <div class="table-responsive">
    <BaseDatatable v-if="loaded" :multiple-actions="multipleAction" :module="`onlinestudentcard`" :apiurl="url" :list-url="`${url}/index?document_type=2&card_status=0`" :fields="fields"></BaseDatatable>
    </div>
    <h1 class="mb-4 bg-light">Kezelt bejelentések</h1>
    <div class="table-responsive">
    <BaseDatatable v-if="loaded" :multiple-actions="multipleAction" :module="`onlinestudentcard`" :apiurl="url" :list-url="`${url}/index?document_type=2&card_status=1,2`" :fields="fields"></BaseDatatable>
    </div>
  </div>
</div>
</div>
</template>

<script>
import BaseDatatable from '../../../../../../resources/js/components/BaseDatatable'
import HandleModal from './HandleModal'
export default {
    name: 'OnlineStudentCardList',
    props: ['url'],
    components: { HandleModal, BaseDatatable },
    data () {
        return {
            selectedTab: 'active-1',
            loaded: true,
            multipleAction: {

            },
            apiurl: this.url,
            fields: [

                {
                    name: '__slot:student_link',
                    sortField: 'student_id',
                    title: this.$translate.t('Diák')
                },
                {
                    name: 'student_number',
                    sortField: 'student_number',
                    title: this.$translate.t('Azonosító')
                },
                {
                    name: 'om_code',
                    sortField: 'om_code',
                    title: this.$translate.t('Diák/OM')
                },
                {
                    name: 'school_type',
                    sortField: 'school_type',
                    title: this.$translate.t('Képzés típusa')
                },
                {
                    name: 'school_year',
                    sortField: 'school_year',
                    title: this.$translate.t('Tanév')
                },
                {
                    name: '__slot:passiv',
                    sortField: 'status',
                    title: this.$translate.t('Státusz')
                },
                {
                    name: '__slot:date-range',
                    sortField: 'start',
                    title: this.$translate.t('Érvényesség')
                },
                {
                    name: 'new_school',
                    sortField: 'new_school',
                    title: this.$translate.t('Változás')
                },
                {
                    name: '__slot:work-active',
                    sortField: 'student_25_year',
                    title: this.$translate.t('Dolgozhat?')
                },
                {
                    name: '__slot:card_status',
                    sortField: 'card_status',
                    title: this.$translate.t('Állapot')
                },
                {
                    name: '__slot:component',
                    componentName: 'CardAction',
                    title: this.$translate.t('Művelet')
                }
            ],
            fields2: [

                {
                    name: '__slot:student_link',
                    sortField: 'student_id',
                    title: this.$translate.t('Diák')
                },
                {
                    name: 'student_number',
                    sortField: 'student_number',
                    title: this.$translate.t('Azonosító')
                },
                {
                    name: 'om_code',
                    sortField: 'om_code',
                    title: this.$translate.t('Diák/Om azonosító')
                },
                {
                    name: 'school_type',
                    sortField: 'school_type',
                    title: this.$translate.t('Képzés típusa')
                },
                {
                    name: 'semester',
                    sortField: 'semester',
                    title: this.$translate.t('Félév')
                },
                {
                    name: '__slot:passiv',
                    sortField: 'status',
                    title: this.$translate.t('Státusz')
                },
                {
                    name: '__slot:date-range',
                    sortField: 'start',
                    title: this.$translate.t('Érvényesség')
                },
                {
                    name: 'new_school',
                    sortField: 'new_school',
                    title: this.$translate.t('Változás')
                },

                {
                    name: 'card_status',
                    sortField: 'card_status',
                    title: this.$translate.t('mads állapot')
                },
                {
                    name: '__slot:component',
                    componentName: 'CardAction',
                    title: this.$translate.t('Művelet')
                }
            ]
        }
    }
}
</script>
