<template>
    <div class="kt-portlet">
        <div class="kt-portlet__body">
            <div class="kt-form kt-form--label-right">
                <div class="kt-form__body">
                    <FormInput v-model="model.student_id"  :title="$t('Diák')"></FormInput>
<FormInput v-model="model.document_type"  :title="$t('Dokumentum')"></FormInput>
<FormInput v-model="model.school_type"  :title="$t('Képzés típusa')"></FormInput>
<FormInput v-model="model.school_year"  :title="$t('Tanév')"></FormInput>
<FormInput v-model="model.semester"  :title="$t('Félév')"></FormInput>
<FormInput v-model="model.status"  :title="$t('Státusz')"></FormInput>
<FormInput v-model="model.selected_school"  :title="$t('Iskola')"></FormInput>
<FormInput v-model="model.new_school"  :title="$t('Változás')"></FormInput>
<FormInput v-model="model.om_code"  :title="$t('Diák/Om azonosító')"></FormInput>
<FormInput v-model="model.new_file"  :title="$t('File')"></FormInput>
<FormInput v-model="model.user_id"  :title="$t('felelős')"></FormInput>
<FormInput v-model="model.card_status"  :title="$t('mads állapot')"></FormInput>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
import FormInput from '../../../../../../resources/js/components/form/FormInput'

export default {
    name: 'OnlineStudentCardForm',
    props: {
        url: {
            required: true,
            type: String
        },
        model: {
            required: true,
            type: Object
        }
    },
    data () {
        return {

        }
    },
    computed: {
        languages: function () {
            const l = []
            for (const it in this.$store.state.defaultStore.languages) {
                l.push(it)
            }
            return l
        }
    },
    components: { FormInput },
    methods: {},
    created () {},
    mounted () {}
}
</script>
