<template>
    <OnlineStudentCardForm v-if="Object.keys(model).length > 0" :url="url" :model="model"></OnlineStudentCardForm>
</template>

<script>
import OnlineStudentCardForm from './OnlineStudentCardForm'
import OnlineStudentCard from './OnlineStudentCard'

export default {
    name: 'OnlineStudentCardEdit',
    extends: OnlineStudentCard,
    data () {
        return {
            model: {}
        }
    },
    components: { OnlineStudentCardForm },
    beforeMount: function () {
        this.handleUpdate('online-student-card', this.url, {})

        this.getOnlineStudentCard()
    }
}
</script>
