<template>
    <ContentForm v-if="Object.keys(model).length > 0" :url="url" :model="model"></ContentForm>
</template>

<script>
import ContentForm from './ContentForm'
import Content from './Content'

export default {
    name: 'ContentEdit',
    extends: Content,
    data () {
        return {
            model: {}
        }
    },
    components: { ContentForm },
    beforeMount: function () {
        this.handleUpdate('content', this.url, {})

        this.getContent()
    }
}
</script>
