<template>
    <div class="kt-portlet">
        <div class="kt-portlet__body">
            <div class="kt-form kt-form--label-right">
                <div class="kt-form__body">
                    <FormInput v-model="model.name"  :title="$t('Partner neve')"></FormInput>
<FormFileUpload v-model="model.log"  :title="$t('Partner Logo')" :options="{}"></FormFileUpload>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
import FormInput from '../../../../../../resources/js/components/form/FormInput'
import FormFileUpload from '../../../../../../resources/js/components/form/FormFileUpload'

export default {
    name: 'PartnerLogoForm',
    props: {
        url: {
            required: true,
            type: String
        },
        model: {
            required: true,
            type: Object
        }
    },
    data () {
        return {

        }
    },
    computed: {
        languages: function () {
            const l = []
            for (const it in this.$store.state.defaultStore.languages) {
                l.push(it)
            }
            return l
        }
    },
    components: { FormInput, FormFileUpload },
    methods: {},
    created () {},
    mounted () {}
}
</script>
