<template>
    <PartnerLogoForm v-if="Object.keys(model).length > 0" :url="url" :model="model"></PartnerLogoForm>
</template>

<script>
import PartnerLogoForm from './PartnerLogoForm'
import PartnerLogo from './PartnerLogo'

export default {
    name: 'PartnerLogoCreate',
    extends: PartnerLogo,
    data () {
        return {
            model: {}
        }
    },
    components: { PartnerLogoForm },
    beforeMount: function () {
        this.handleCreate('partner-logo', this.url, {})

        this.getPartnerLogo()
    }
}
</script>
