<template>
    <div>
    <div class="modal fade" id="openAnwerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" >
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-body">
                  <h3 class="text-center">{{model.name}}</h3>
                  <table class="table table-condensed table-bordered" v-if="model.question && model.question.answers">
                    <tr><td>Kérdés</td>
                    <td>Válasz</td>
                    <td>Helyes válasz</td></tr>
                    <template v-for=" item in model.question.answers">
                    <tr  v-bind:key="'id'+item.id">
                      <td colspan="3" class="bg-silver">{{ item.question }}</td>
                    </tr>
                      <tr  v-bind:key="'id2'+item.id">
                      <td></td>
                      <td>{{item.answer }}</td>
                      <td>{{item.correct_answer}}</td></tr>
                    </template>

                  </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Bezár</button>
                </div>
            </div>
        </div>
    </div>
   </div>
</template>

<script>

export default {
    name: 'AnswerModal',
    data () {
        return {
            address: [],
            model: {
                name: null,
                student: null,
                project: null,
                question: null
            }
        }
    },
    methods: {
        loaded () {
            this.load = true
        },
        getAnswer (item) {
            return Object.keys(item) ? Object.keys(item) : item
        }
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/project/`
        }
    },
    mounted () {
        const self = this
        this.$eventHub.$on('openAnswerModal', function (data) {
            self.model.name = data.name
            window.$('#openAnwerModal').modal('show')
            self.axios.get(self.url + 'test-answer/' + data.project + '/' + data.student).then((res) => {
                self.model.question = res.data
                console.log(self.model)
            })
        })
    },
    watch: {

    }

}
</script>
