<template>
  <div>
    <div class="modal fade" id="formPrintModal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="form">
        <div class="modal-content">
          <div class="modal-header bg-warning">
            <h5 class="modal-title">Nyomtatvány</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <i aria-hidden="true" class="ki ki-close"></i>
            </button>
          </div>
          <div class="modal-body p-4">
            <div class="row">
            <div class="col-12">
              <FormSelect v-model="model.form" :title="'Sablon'" :options="forms"></FormSelect>
            </div>
            <div class="col-12">
                    <FormDatePicker v-model="model.date" title="Dátum"></FormDatePicker>
            </div>
          </div>
          <div class="modal-footer ">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Mégse</button>
            <button type="button" class="btn btn-success" @click="preview()">Nyomtat</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</template>
<script>
import FormSelect from '../../../../../../resources/js/components/form/FormSelect'
import FormDatePicker from '../../../../../../resources/js/components/form/FormDatePicker'
export default {
    name: 'FormsPrint',
    props: ['forms', 'company_id', 'industry_id'],
    components: { FormSelect, FormDatePicker },
    data () {
        return {
            model: {}
        }
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/project`
        }
    },
    watch: {
        model: {
            handler: function (val, oldVal) {
                if (val !== oldVal) {
                    this.localModel = val
                }
            }
        }
    },
    methods: {
        preview () {
            window.$('#formPrintModal').modal('hide')
            this.$eventHub.$emit('openPDFStudent', this.url + '/print-company-form' + '/' + this.model.form + '/' + this.company_id + '/' + this.industry_id + '/' + this.model.student + '/' + this.model.date)
        }
    },
    created () {},
    mounted () {
        const self = this
        this.$eventHub.$on('openPrintForms', function (student) {
            self.model.student = student
            window.$('#formPrintModal').modal('show')
        })
    }
}
</script>
