<template>
  <div>
    <div class="modal fade" id="priorityModal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="form">
        <div class="modal-content">
          <div class="modal-header bg-warning">
            <h5 class="modal-title">Fontosság beállítása</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <i aria-hidden="true" class="ki ki-close"></i>
            </button>
          </div>
          <div class="modal-body p-4">
            <div class="row">
            <div class="col-12">
              <FormSelect v-model="model.priority" :title="'Fontosság'" :options="{'2':'Fontos','1':'Kevésbé fontos','0':'Normál'}"></FormSelect>
            </div>
          </div>
          <div class="modal-footer ">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Mégse</button>
            <button type="button" class="btn btn-success" @click="savePriority()">Mentés</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</template>
<script>
import FormSelect from '../../../../../../resources/js/components/form/FormSelect'
export default {
    name: 'PriorityModal',
    props: [],
    components: { FormSelect },
    data () {
        return {
            model: {}
        }
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/project`
        }
    },
    watch: {
        model: {
            handler: function (val, oldVal) {
                if (val !== oldVal) {
                    this.localModel = val
                }
            }
        }
    },
    methods: {
        savePriority () {
            this.axios.post(this.url + '/priority' + '/' + this.model.project_id, this.model).then(() => {
                this.$emit('refresh')
                window.$('#priorityModal').modal('hide')
            })
        }
    },
    created () {},
    mounted () {
        const self = this
        this.$eventHub.$on('openPriorityModal', function (project) {
            self.model.project_id = project
            window.$('#priorityModal').modal('show')
        })
    }
}
</script>
