<template>
  <div>
    <div class = "alert alert-custom alert-white alert-shadow kt-portlet" role = "alert">
      <h3 class = "text-info" v-if = "model &&  model.company && model.industry">
        {{ model.company.name }} - {{ model.industry.name }} {{model.name}}
        <div class="action pull-right" v-if="$route.path.includes('details')">
          <button type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#projectTaskModal"><i class="fa fa-plus"></i> Új feladat</button>
          <button type="button" class="btn btn-sm btn-info" data-toggle="modal" data-target="#projectCalendarModal"><i class="fa fa-calendar-day"></i> Naptár</button>
          <router-link :to="'/admin/projects/schedule/'+model.id" type="button" class="btn btn-sm btn-outline-info" v-if="model.schedule"><i class="fa fa-hourglass-start"></i> Beosztás</router-link>
          <router-link :to="'/admin/projects/realization/'+model.id" type="button" class="btn btn-sm btn-outline-danger" v-if="model.departments"><i class="fa fa-calendar"></i> Ráérés</router-link>
          <button type="button" class="btn btn-sm btn-outline-warning" @click="recruit"><i class="fa fa-users"></i> Toborzás</button>
        </div>
      </h3>
    </div>
    <div class="modal fade" id="numberOfEmployes" tabindex="-1" role="dialog">
      <div class="modal-dialog   modal-dialog-centered" role="document">
        <div class="modal-content modal-lg" >
          <div class="modal-header bg-danger">
            <h5 class="modal-title text-white">A dolgozók száma meghaladja a létszámot!</h5>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <i aria-hidden="true" class="ki ki-close"></i>
            </button>
          </div>
          <div class="modal-body p-4 " >
             <div class="col-12 p-4" v-if="model">
            <FormNumberInput  v-model="model.number_of_employees" :title="'Kélek állítsd be a létszámigényt'"></FormNumberInput>
             </div>
            <div class="modal-footer ">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Mégse</button>
              <button type="button" class="btn btn-success"  @click="setNumberOfEmployes()">Létszám beállítása</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="startDateModal" tabindex="-1" role="dialog">
      <div class="modal-dialog   modal-dialog-centered" role="document">
        <div class="modal-content modal-lg" >
          <div class="modal-header bg-info">
            <h5 class="modal-title text-white">Teljesítés kezdetének beállítása !</h5>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <i aria-hidden="true" class="ki ki-close"></i>
            </button>
          </div>
          <div class="modal-body p-4 " v-if="selectedStudentStatus" >
            <div class="col-12">
              <h3 class="text-center mb-3"> {{selectedStudentStatus.name}}</h3>
            </div>
            <div class="col-12 p-4">
              <FormDatePicker  v-model="selectedStudentStatus.start_date" :title="'Teljesítés kezdete'"></FormDatePicker>
            </div>
            <div class="modal-footer ">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Mégse</button>
              <button type="button" class="btn btn-success"  @click="setStartDate()">Mentés</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="contactModal" tabindex="-1" role="dialog">
      <div class="modal-dialog   modal-dialog-centered" role="document">
        <div class="modal-content modal-lg" >
          <div class="modal-header bg-warning">
            <h5 class="modal-title text-white">Kapcsolattartó hozzáadása!</h5>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <i aria-hidden="true" class="ki ki-close"></i>
            </button>
          </div>
          <div class="modal-body p-4 " >
            <div class="row">
            <div class="col-12 ">
              <FormInput  v-model="contact.name" :title="'Név'"></FormInput>
            </div>
            <div class="col-12 ">
              <FormInput  v-model="contact.email" :title="'Email'"></FormInput>
            </div>
            <div class="col-12 ">
              <FormPhone  v-model="contact.phone" :title="'Telefon'"></FormPhone>
            </div>
            <div class="col-12 ">
              <FormInput  v-model="contact.position" :title="'Beosztás'"></FormInput>
            </div>
            </div>
            <div class="modal-footer ">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Mégse</button>
              <button type="button" class="btn btn-success"  @click="saveContact()">Mentés</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class = "kt-portlet" v-if="model && model.company && model.industry">
      <div class = "kt-portlet__body">
        <div class = "kt-form kt-form--label-right">
          <div class = "kt-form__body">
              <FormsPrint :forms="model.forms" :industry_id="model.industry.id" :company_id="model.company.id"></FormsPrint>
            <ProjectStudentComment :model="selectedStudent"></ProjectStudentComment>
              <StudentJob  :model="{company:model.company.name,industry_id:model.industry.id}"></StudentJob>
              <StudentAdhoc  :model="{company:model.company.name,industry_id:model.industry.id}"></StudentAdhoc>
              <StudentMembership  :model="{company:model.company.name,industry_id:model.industry.id}"></StudentMembership>
              <ProjectCalendarModal :model="model"></ProjectCalendarModal>
            <div class = "row">
              <h1 class = "text-center" v-if = "notFound">A keresett megrendelés nem tatlálható vagy nincs jogod a megtekintéshez!</h1>
              <div class = "col-md-2">
                <div class = "card text-white bg-primary mb-3">
                  <div class = "card-header bg-primary">
                    Fizetés
                  </div>
                  <div class = "card-body">
                    <h5 class = "card-title">
                      <div v-if="model.industry.price_hour">Óradíj: <Price class="pull-right" :value="''+ model.industry.price_hour"></Price></div>
                      <div v-if="model.industry.price_fix">Fix: + {{model.industry.price_fix}}</div>
                    </h5>
                  </div>
                </div>
              </div>
              <div class = "col-md-2">
                <div class = "card text-white bg-danger mb-3">
                  <div class = "card-header bg-danger">
                    Hely
                  </div>
                  <div class = "card-body">
                    <h5 class = "card-title">
                      <div v-if="model.site">{{model.site.work_location}}</div>

                    </h5>
                  </div>
                </div>
              </div>
              <div class = "col-md-3">
                <div class = "card bg-orange mb-3">
                  <div class = "card-header bg-orange pt-1 pb-1">
                    Kapcsolat <button class=" btn-sm btn btn-info pull-right" data-toggle="modal" data-target="#contactModal" @click="contact={}"><i class="fa fa-plus"></i> </button>
                  </div>
                  <div class = "card-body">
                    <h5 class = "card-title" v-if="!model.contact_counts">
                      <template v-if=" model.industry && model.industry.instructor_name">
                      <div  >{{model.industry.instructor_name.name}}
                        <br/>
                        <div class="small text-white">
                        <i class="fa fa-phone"></i> <a class="text-white" :href="'tel:'+model.industry.instructor_name.phone">{{model.industry.instructor_name.phone}}</a><br/>
                        <i class="fa fa-envelope"></i> <a class="text-white" :href="'mailto:'+model.industry.instructor_name.email">{{model.industry.instructor_name.email}}</a><br/>
                        </div>
                      </div>
                      </template>
                    </h5>
                    <template v-if="model.contact_counts>0">
                    <h5 class = "card-title" v-for="(contact,index) in model.contacts" v-bind:key="'contact-'+index">

                        <div  >{{contact.name}} <i class="fa fa-trash text-danger cursor-pointer" @click="deleteContact(contact.id)"></i> <br/>
                          <div class="small text-white">{{contact.position}}</div>
                          <div class="small text-white">
                            <i class="fa fa-phone"></i> <a class="text-white" :href="'tel:'+contact.phone">{{contact.phone}}</a><br/>
                            <i class="fa fa-envelope"></i> <a class="text-white" :href="'mailto:'+contact.email">{{contact.email}}</a><br/>
                          </div>
                        </div>

                    </h5>
                    </template>
                  </div>
                </div>
              </div>
              <div class = "col-md-3">
                <div class = "card text-white bg-dark mb-3">
                  <div class = "card-header bg-dark">
                    Határidő
                  </div>
                  <div class = "card-body"><h5 class = "card-title">{{model.deadline}}</h5></div>
                </div>
              </div>
              <div class = "col-md-2">
                <div class = "card  bg-aqua mb-3">
                  <div class = "card-header bg-aqua">
                    Munkakör
                  </div>
                  <div class = "card-body"><h5 class = "card-title"><button data-toggle="modal" data-target="#infoModal" class="btn btn-danger pull-right btn-sm"><i class="fa fa-info-circle"></i> </button></h5></div>
                </div>
              </div>
            </div>
            <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
              <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                  <div class="modal-body">
                    <div v-html="model.position"></div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Bezár</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" v-if="$route.path.includes('details')">
              <div class="col-12">
                <hr/>
              </div>
              <div class="col-12">
                <ProjectTask :projectId="model.id"></ProjectTask>
              </div>
              <div class="col-12">
                <hr/>
              </div>
            </div>
            <div class="" v-if="$route.path.includes('details')">
              <nav>
                <div class = "nav nav-tabs nav-fill" id = "nav-tab" role = "tablist">
                  <RecruitModal v-on:refresh="changeTab" :project_id="model.id"></RecruitModal>
                  <a v-for="(status) in model.status_list" v-bind:key="'status-tab-'+status.id" v-bind:class="{'active':selectedTab==status.id}" class = "nav-item nav-link" @click="selectedTab=status.id" :id = "'nav-section'+status.id" data-toggle = "tab" :href = "'#status-'+status.id" role = "tab" aria-controls = "nav-home" aria-selected = "true">{{status.name}}</a>
                </div>
              </nav>
              <div class = "tab-content py-3 px-3 px-sm-0" id = "nav-tabContent">
                <template v-for="(status) in model.status_list">
                <div  v-bind:key="'status-content-'+status.id" v-bind:class="{'show active':selectedTab==status.id}" class = "tab-pane fade  container-fluid" :id = "'status-'+status.id" role = "tabpanel" aria-labelledby = "nav-home-tab" v-if="selectedTab==status.id">
                    <div ><button class="btn btn-sm btn-label-dark" v-if="recipients && recipients.length" @click="sendEmail()">
                        <i class="flaticon2-new-email">Üzenet mindenkinek</i>
                    </button></div>
                  <AnswerModal></AnswerModal>
                  <BaseDatatable v-if="selectedTab !=2" ref="table" v-on:loaded="fillEmailRecipient($event)" :disable-filter="true" :no-responsive="true" :componentProps="model.status_list"  :module="`project`" :apiurl="url" :list-url="`${url}/${model.id}/project-students?status=${status.id}&per_page=100`" :fields="fields"></BaseDatatable>
                  <BaseDatatable v-if="selectedTab ==2" ref="table" v-on:loaded="fillEmailRecipient($event)" :disable-filter="true" :no-responsive="true" :componentProps="model.status_list"  :module="`project`" :apiurl="url" :list-url="`${url}/${model.id}/project-students?status=${status.id}&per_page=100`" :fields="fieldsWork"></BaseDatatable>

                </div>
                </template>
            </div>

          </div>

            <ProjectSchedule v-if="$route.path.includes('schedule')" :model="model"></ProjectSchedule>
          </div>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
import FormSelect from '../../../../../../resources/js/components/form/FormSelect'
import FormInput from '../../../../../../resources/js/components/form/FormInput'
import FormTextArea from '../../../../../../resources/js/components/form/FormTextArea'
import FormDatePicker from '../../../../../../resources/js/components/form/FormDatePicker'
import FormNumberInput from '../../../../../../resources/js/components/form/FormNumberInput'
import BaseDatatable from '../../../../../../resources/js/components/BaseDatatable'
import Price from '../../../../../../resources/js/components/Price'
import ProjectStudentComment from './ProjectStudentComment'
import ProjectTask from './ProjectTask'
import ProjectSchedule from './ProjectSchedule'
import StudentAdhoc from '../../../../../Student/Resources/assets/js/components/StudentAdhoc'
import StudentJob from '../../../../../Student/Resources/assets/js/components/StudentJob'
import FormsPrint from './FormsPrint'
import StudentMembership from '../../../../../Student/Resources/assets/js/components/StudentMembership'
import ProjectCalendarModal from './ProjectCalendarModal'
import RecruitModal from './RecruitModal.vue'
import FormSingleCheckbox from '../../../../../../resources/js/components/form/FormSingleCheckbox.vue'
import FormPhone from '../../../../../../resources/js/components/form/FormPhone.vue'
import AnswerModal from './AnswerModal.vue'

export default {
    name: 'ProjectDetails',
    props: ['url'],
    watch: {
        '$route.query': {
            handler: function (val, oldVal) {
                if (val.status_id) {
                    this.selectedTab = val.status_id
                }
            },

            deep: true
        }
    },
    data () {
        return {
            model: null,
            contact: {},
            recipients: [],
            selectedStudentStatus: null,
            selectedTab: 0,
            notFound: false,
            selectedStudent: null,
            loaded: true,
            apiurl: this.url,
            fields: [
                {
                    name: '__slot:nameNewsletterAndSafety',
                    sortField: 'name',
                    title: this.$translate.t('Név')
                },
                {
                    name: '__slot:emailModal',
                    sortField: 'email',
                    title: this.$translate.t('Email')
                },
                {
                    name: '__slot:phone',
                    sortField: 'phone',
                    title: this.$translate.t('Telefon')
                },
                {
                    name: 'comment',
                    sortField: 'comment',
                    dataClass: 'comment',
                    title: this.$translate.t('Megjegyzés')
                },
                {
                    name: 'certificate',
                    sortField: 'end',

                    title: this.$translate.t('Jogviszony')
                },
                {
                    name: 'created_at',
                    sortField: 'created_at',
                    title: this.$translate.t('Hozzáadva')
                },
                {
                    name: '__slot:component',
                    componentName: 'ProjectDetailsAction',
                    title: this.$translate.t('Művelet')
                }
            ],
            fieldsWork: [
                {
                    name: '__slot:nameNewsletterAndSafety',
                    sortField: 'name',
                    title: this.$translate.t('Név')
                },
                {
                    name: '__slot:emailModal',
                    sortField: 'email',
                    title: this.$translate.t('Email')
                },
                {
                    name: '__slot:phone',
                    sortField: 'phone',
                    title: this.$translate.t('Telefon')
                },
                {
                    name: 'comment',
                    sortField: 'comment',
                    dataClass: 'comment',
                    title: this.$translate.t('Megjegyzés')
                },
                {
                    name: 'certificate',
                    sortField: 'end',

                    title: this.$translate.t('Jogviszony')
                },
                {
                    name: '__slot:startDate',
                    sortField: 'start_date',
                    title: this.$translate.t('Teljesítés kezdete')
                },
                {
                    name: 'created_at',
                    sortField: 'created_at',
                    title: this.$translate.t('Hozzáadva')
                },
                {
                    name: '__slot:component',
                    componentName: 'ProjectDetailsAction',
                    title: this.$translate.t('Művelet')
                }
            ]
        }
    },
    computed: {},
    components: { AnswerModal, FormPhone, FormSingleCheckbox, RecruitModal, FormsPrint, ProjectSchedule, ProjectTask, StudentMembership, ProjectStudentComment, FormSelect, FormInput, FormTextArea, FormDatePicker, FormNumberInput, BaseDatatable, Price, StudentAdhoc, StudentJob, ProjectCalendarModal },
    methods: {
        getProjectDetails () {
            const id = this.$route.params.id

            this.axios.get(this.url + '/details/' + id).then((response) => {
                this.model = response.data.data
                if (!this.selectedTab) {
                    this.selectedTab = this.model.status_list[0].id
                }
            }).catch(() => {
                this.notFound = true
            })
        },
        recruit () {
            this.$store.commit('defaultStore/setRecruitment', {
                id: this.model.id,
                company_name: this.model.company.name,
                industry_name: this.model.industry.name
            })
        },
        fillEmailRecipient (data) {
            this.recipients = []
            data.data.forEach(item => {
                if (!item.exit_date) {
                    this.recipients.push({ name: item.name, email: item.email })
                }
            })
            if (this.selectedTab === 2 && this.recipients.length > this.model.number_of_employees) {
                window.$('#numberOfEmployes').modal('show')
            }
        },
        sendEmail () {
            const self = this
            self.$eventHub.$emit('sendEmailModal', { recipients: self.recipients, status_id: self.selectedTab })
        },
        setStartDate () {
            this.axios.put(this.url + '/set-start-date/' + this.selectedStudentStatus.id, this.selectedStudentStatus).then((response) => {
                this.changeTab()
                window.$('#startDateModal').modal('hide')
            })
        },
        saveContact () {
            this.contact.project_id = this.model.id
            this.axios.post(this.url + '/add-contact', this.contact).then((response) => {
                this.model = response.data.data
                if (!this.selectedTab) {
                    this.selectedTab = this.model.status_list[0].id
                }
                this.contact = {}
                window.$('#contactModal').modal('hide')
            })
        },
        deleteContact (id) {
            this.axios.delete(this.url + '/delete-contact/' + id).then((response) => {
                this.model = response.data.data
                if (!this.selectedTab) {
                    this.selectedTab = this.model.status_list[0].id
                }
            })
        },
        changeTab () {
            const self = this
            const actTab = JSON.parse(JSON.stringify(self.selectedTab))
            self.selectedTab = -1
            setTimeout(function () {
                self.selectedTab = actTab
            }, 200)
        },
        setNumberOfEmployes () {
            this.axios.put(this.url + '/update-employees/' + this.model.id, this.model).then((response) => {
                this.model = response.data.data
                if (!this.selectedTab) {
                    this.selectedTab = this.model.status_list[0].id
                }
                window.$('#numberOfEmployes').modal('hide')
            })
        },
        padLeft (t) {
            if (t < 10) {
                return '0' + t
            }
            return t
        }
    },
    created () {
        if (this.$route.query.status_id) {
            this.selectedTab = this.$route.query.status_id
        }
        this.getProjectDetails()
        const self = this
        this.$eventHub.$on('openProjectCommentModal', function (data) {
            self.selectedStudent = data
            const date = new Date()
            if (!self.selectedStudent.comment.includes(date.getFullYear() + '.' + self.padLeft(date.getMonth() + 1) + '.' + date.getDate())) {
                self.selectedStudent.comment = date.getFullYear() + '.' + self.padLeft(date.getMonth() + 1) + '.' + date.getDate() + ' - ' + '\n' + self.selectedStudent.comment
            }
        })
        this.$eventHub.$on('openStartDateModal', function (data) {
            self.selectedStudentStatus = data

            window.$('#startDateModal').modal('show')
        })
    },
    mounted () {
    }
}
</script>
