<template>
  <div>
    <div class = "alert alert-custom alert-white alert-shadow kt-portlet" role = "alert">
      <h3 class = "text-info">{{ $t('Megrendelés') }}</h3>
    </div>
    <div class = "kt-portlet">
      <div class = "kt-portlet__body">
        <div class = "kt-form kt-form--label-right">
          <div class = "kt-form__body">
            <div class = "row">
              <div class = "col-md-4" >
                <FormSelect :select2="true" v-model = "model.company_id" @change="getIndustry" :title = "$t('Cég')" v-if = "model && model.selectables && model.selectables.company" :options = "model.selectables.company"></FormSelect>
              </div>
              <div class = "col-md-4" >
                <FormSelect  v-model = "model.industry_id" :title = "$t('Tevékenység')"  :options = "industry"></FormSelect>
              </div>
                <div class = "col-md-4" >
                    <FormInput  v-model = "model.name" :title = "$t('Azonosító')"  ></FormInput>
                </div>
              <div class = "col-md-4" >
                <FormNumberInput v-model = "model.number_of_employees" :title = "$t('Létszám')"></FormNumberInput>
              </div>
              <div class = "col-md-6" >
                <FormSelect :select2="true" v-model = "model.user_id" :title = "$t('Projekt menedzser')" v-if = "model && model.selectables && model.selectables.user" :options = "model.selectables.user"></FormSelect>
              </div>
              <div  class = "col-md-6" >
                <FormSelect :select2="true" v-model = "model.replacement_user_id" :title = "$t('Helyettesítő')" v-if = "model && model.selectables && model.selectables.replacement_user" :options = "model.selectables.replacement_user"></FormSelect>
              </div>

              <div class = "col-md-6" >
                <FormDatePicker v-model = "model.deadline" :title = "$t('Határidő')"></FormDatePicker>
              </div>
              <div class = "col-md-6" >
                <FormSelect v-model = "model.status" :title = "$t('Állapot')" v-if = "model && model.selectables && model.selectables.status" :options = "model.selectables.status"></FormSelect>
              </div>
              <div class = "col-md-6" >
                <FormSelect v-model = "model.schedule" :title = "$t('Kell beosztás?')" v-if = "model && model.selectables && {}" :options = "{0:'Nem',1:'Igen'}"></FormSelect>
              </div>
              <div class = "col-md-6" >
                <FormSelect v-model = "model.week_start" :title = "$t('Beosztás kezdőnapja?')" v-if = "model && model.selectables && {}" :options = "model.selectables.days"></FormSelect>
              </div>
              <div class = "col-md-12" >
                <FormInput v-model = "model.departments" :title = "$t('Beosztás részlegek(pontosvesszővel tagolva)')"></FormInput>
              </div>
              <div class = "col-md-12" >
                <FormTextArea v-model = "model.comment" :title = "$t('Megjegyzés')"></FormTextArea>
              </div>
              <div class = "col-md-12" >
                <FormWyswygEditor v-model = "model.position" :title = "$t('Munkakör')"></FormWyswygEditor>
              </div>
              <div class="col-md-6">
                <h3>Elérhető állapotok</h3>
                <table class="table table-bordered table-striped">
                  <thead class="thead">
                  <tr>
                    <th scope="col">Kiválaszt</th>
                    <th scope="col">Hozzáad</th>
                  </tr>
                  </thead>
                  <draggable v-if="filteredList" v-model="filteredList" tag="tbody">
                    <tr v-for="item in filteredList" :key="item.name">

                      <td>{{ item.name }}</td>
                      <td scope="row">
                        <i class="fa fa-plus-circle text-success fa-2x" @click="add(item)"></i>
                      </td>
                    </tr>
                  </draggable>
                </table>
                </div>
              <div class="col-md-6">
                <h3>Aktuális megrendelés állapotok</h3>
                <table class="table table-bordered table-striped">
                  <thead class="thead">
                  <tr>
                    <th scope="col">Eltávolít</th>
                    <th scope="col">Állapot</th>
                  </tr>
                  </thead>
                  <draggable v-if="model.status_list" v-model="model.status_list" tag="tbody">
                    <tr v-for="item in model.status_list" :key="item.name">
                      <td scope="row">
                        <i class="fa fa-check-circle text-danger fa-2x" @click="remove(item)" ></i>
                      </td>
                      <td>{{ item.name }}</td>
                    </tr>
                  </draggable>
                </table>
              </div>
              <hr class="p-4 w-100"/>
              <div class="modal fade" id="questionListModal" tabindex="-1" role="dialog">
                <div class="modal-dialog  modal-lg modal-dialog-centered" role="document">
                  <div class="modal-content ">
                    <div class="modal-header bg-warning">
                      <h5 class="modal-title">Kérdések </h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                      </button>
                    </div>
                    <div class="modal-body p-4" >
                      <div class="row">
                        <div  class="col-12">
                      <label class=" w-100">
                        <FormSelect v-if="model && model.selectables && model.selectables.questionList"  :select2="true" v-model = "model.question_id" @change="setQuestion($event)" :title = "$t('Válassz kérdést!')"  :options = "getQuestionList"></FormSelect>
                      </label>
                        </div>
                        <div class="col-12">
                          <div class="form-group checkbox" >
                            <div class="kt-checkbox-list">
                              <label class="kt-checkbox" >
                                <input type="checkbox"   v-model="addTest.required" :value="true" ><div >Kötlező a munkához?</div>
                                <span></span>
                              </label>
                            </div>
                            <span class="form-text text-muted" v-if="helpText">{{helpText}}</span>
                            <div class="invalid-feedback" v-for="message in filter(name)"
                                 v-bind:key="message">{{message}}
                            </div>
                          </div>
                        </div>
                        <template v-if="addTest.question && addTest.question.answer_type && (addTest.question.answer_type =='1' || addTest.question.answer_type =='2')">
                        <div class="col-12" >
                          <label class=" w-100"> Hány helyes válasz van?</label>
                          <div class="w-100 text-center">
                            <button class="btn m-2 btn-primary btn-xs" @click.stop="setAnswerValue('one')" v-bind:class="{'btn-success': addTest.ct=='one'}">Egy</button>
                            <button class="btn m-2 btn-primary btn-xs" @click.stop="setAnswerValue('many')" v-bind:class="{'btn-success':addTest.ct=='many'}" >Több</button>
                          </div>
                        </div>
                        <div class="col-12" v-if="addTest.ct =='one'">
                          <template v-if="addTest.question && addTest.question.answer_type =='1'">
                            <div class="row">
                              <div class="col-3 text-center"  v-for="i in getIntervall(addTest.question.answer)" v-bind:key="'itt'+i">
                              <label class="kt-radio " >
                                <input type="radio" v-model="addTest.correct_answer" :value="i" /> {{i}}
                                <span></span>
                              </label>
                                </div>
                            </div>
                          </template>
                          <template v-if="addTest.question && addTest.question.answer_type =='2'">
                            <div class="row">
                              <div class="col-3 text-center"  v-for="i in addTest.question.answer.split(',')" v-bind:key="'itt'+i">
                              <label class="kt-radio d-inline"  >
                                <input type="radio" v-model="addTest.correct_answer" :value="i" /> {{i}}
                                <span></span>
                              </label>
                            </div>
                            </div>
                          </template>
                        </div>
                          <div class="col-12" v-if="addTest.ct =='many'">
                            <template v-if="addTest.question && addTest.question.answer_type =='1'">
                              <div class="row">
                                <div class="col-3 text-center"  v-for="(i,index) in getIntervall(addTest.question.answer)" v-bind:key="'itt'+i">
                                  <label class="kt-checkbox" >
                                    <input type="checkbox" v-model="addTest.c_answer[index]" @change="check($event,i)"  /> {{i}}
                                    <span></span>
                                  </label>
                                </div>
                              </div>
                            </template>
                            <template v-if="addTest.question && addTest.question.answer_type =='2'">
                              <div class="row">
                                <div class="col-3 text-center"  v-for="(i,index) in addTest.question.answer.split(',')" v-bind:key="'itt'+i">
                                  <label class="kt-checkbox" >
                                    <input type="checkbox" v-model="addTest.c_answer[index]" @change="check($event,i)"  /> {{i}}
                                    <span></span>
                                  </label>
                                </div>
                              </div>
                            </template>
                          </div>
                        </template>
                        <template v-if="addTest.question && addTest.question.answer_type && addTest.question.answer_type =='3'">
                          <div class="w-100 text-center">
                            <button class="btn m-2 btn-primary btn-xs" @click.stop="setConditionValue('less')" v-bind:class="{'btn-success': addTest.condition=='less'}">Kissebb</button>
                            <button class="btn m-2 btn-primary btn-xs" @click.stop="setConditionValue('equal')" v-bind:class="{'btn-success':addTest.condition=='equal'}" >Egyenlő</button>
                            <button class="btn m-2 btn-primary btn-xs" @click.stop="setConditionValue('greater')" v-bind:class="{'btn-success':addTest.condition=='greater'}" >Nagyobb</button>
                          </div>
                          <div class="col-12">
                          <FormNumberInput :title="'Helyes válasz'" v-model="addTest.correct_answer"></FormNumberInput>
                          </div>
                        </template>
                        </div>
                      <div class="modal-footer ">
                        <button v-if="addTest.correct_answer ||(addTest.question && addTest.question.answer_type =='4')" type="button" class="btn btn-primary" @click="addToList" data-dismiss="modal">Hozzáad</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Mégse</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <h3>Teszt kérdések <button class="btn btn-xs btn-primary float-right" data-toggle="modal" data-target="#questionListModal"><i class="fa fa-plus-circle  fa-2x"></i></button></h3>
                <table class="table table-bordered table-striped">
                  <thead class="thead">
                  <tr>
                    <th scope="col">Kérdés</th>
                    <th scope="col">Kérdés típus</th>
                    <th scope="col">Kötlező?</th>
                    <th scope="col">Feltétel</th>
                    <th scope="col">Helyes válasz</th>
                    <th scope="col">Eltávolít</th>
                  </tr>
                  </thead>
                  <draggable v-if="model.test_list" v-model="model.test_list" tag="tbody">
                    <tr v-for="(item,index) in model.test_list" :key="'q-'+index">
                      <template v-if="item.question">
                      <td>{{ item.question.question }}</td>
                      <td>
                        <span v-if="item.question.answer_type=='1'">Intervallum</span>
                        <span v-if="item.question.answer_type=='2'">Felsorolás</span>
                        <span v-if="item.question.answer_type=='3'">Szám</span>
                        <span v-if="item.question.answer_type=='4'">Szöveg</span>
                      </td>
                        <td><span v-if="item.required">Igen</span><span v-else>Nem</span></td>
                      <td>
                        <span v-if="item.ct=='one'">Egy helyes válasz</span>
                        <span v-if="item.ct=='many'">Több helyes válasz</span>
                        <span v-if="item.condition=='less'">Kissebb, mint</span>
                        <span v-if="item.condition=='equal'">Egyenlő</span>
                        <span v-if="item.condition=='greater'">Nagyobb, mint</span>
                      </td>
                      <td>{{ item.correct_answer }}</td>
                      <td scope="row">
                        <a @click.prevent="removeQuestion(index)"><i class="fa fa-check-circle text-danger fa-2x"  ></i></a>
                        <a @click.prevent="editQuestion(item,index)"><i class="fa fa-edit text-info fa-2x"  ></i></a>
                      </td>
                      </template>
                    </tr>
                  </draggable>
                </table>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    </div>
</template>

<script>
import FormSelect from '../../../../../../resources/js/components/form/FormSelect'
import FormInput from '../../../../../../resources/js/components/form/FormInput'
import FormTextArea from '../../../../../../resources/js/components/form/FormTextArea'
import FormDatePicker from '../../../../../../resources/js/components/form/FormDatePicker'
import FormNumberInput from '../../../../../../resources/js/components/form/FormNumberInput'
import FormWyswygEditor from '../../../../../../resources/js/components/form/FormWyswygEditor'

export default {
    name: 'ProjectForm',
    props: {
        url: {
            required: true,
            type: String
        },
        model: {
            required: true,
            type: Object
        }
    },
    watch: {
        addTest: {
            handler: function (val, oldVal) {
                if (val !== oldVal) {
                    console.log(val)
                }
            }
        }
    },
    data () {
        return {
            industry: [],
            selectedIndex: -1,
            addTest: {
                question: {},
                type: null,
                ct: null,
                condition: null,
                c_answer: [],
                correct_answer: null
            }
        }
    },
    computed: {
        languages: function () {
            const l = []
            for (const it in this.$store.state.defaultStore.languages) {
                l.push(it)
            }
            return l
        },
        getQuestionList () {
            const r = {}
            this.model.selectables.questionList.forEach(item => {
                r[item.id] = item.question
            })
            return r
        },
        filteredList () {
            const l = []
            if (!this.model || !this.model.selectables) {
                return l
            }
            this.model.selectables.statusList.forEach(item => {
                let exist = false
                this.model.status_list.forEach(i => {
                    if (item.id === i.id) {
                        exist = true
                    }
                })
                if (!exist) {
                    l.push(item)
                }
            })
            return l
        }
    },
    components: { FormSelect, FormInput, FormTextArea, FormDatePicker, FormNumberInput, FormWyswygEditor },
    methods: {
        getIntervall (intreval) {
            const res = []
            for (let i = intreval.split('...')[0]; i < intreval.split('...')[1]; i++) {
                res.push(i)
            }
            return res
        },
        setQuestion (val) {
            console.log(val)
            this.addTest.question = null
            this.model.selectables.questionList.forEach(item => {
                console.log(item.id)
                if (item.id.toString() === val.toString()) {
                    this.addTest.question = item
                }
            })
        },
        check (item, value) {
            if (item.target.checked === true) {
                this.addTest.correct_answer.push(value)
            } else {
                this.addTest.correct_answer = this.addTest.correct_answer.filter(x => x !== value)
            }
        },
        addToList () {
            if (this.selectedIndex === -1) {
                this.model.test_list.push(this.addTest)
            } else {
                this.model.test_list[this.selectedIndex] = this.addTest
            }
            this.selectedIndex = -1
            window.$('#questionListModal').modal('hide')
            this.addTest = {
                question: {},
                type: null,
                ct: null,
                condition: null,
                correct_answer: null,
                c_answer: []
            }
        },
        setAnswerValue (str) {
            this.addTest.correct_answer = []
            this.addTest.c_answer = []
            this.addTest.ct = str
        },
        setConditionValue (str) {
            this.addTest.condition = str
        },
        getIndustry () {
            this.axios.get(this.url + '/get-industry/' + this.model.company_id).then((resp) => {
                this.industry = resp.data
            })
        },
        add (item) {
            this.model.status_list.push(item)
        },
        remove (item) {
            this.model.status_list = this.model.status_list.filter(x => x.id !== item.id)
        },
        removeQuestion (index) {
            this.model.test_list.splice(index, 1)
        },
        editQuestion (item, index) {
            this.addTest = item
            this.model.question_id = item.question.id
            if (this.addTest.correct_answer == null) {
                this.addTest.correct_answer = []
            }
            if (this.addTest.c_answer == null) {
                this.addTest.c_answer = []
            }
            this.selectedIndex = index
            window.$('#questionListModal').modal('show')
        }
    },
    created () {
    },
    mounted () {
        this.getIndustry()
    }
}
</script>
