<template>
    <div class="nowrap ">
      <div class="dropdown d-inline">
        <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Állapot váltás
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <template v-for="status in componentProps" >
              <a v-bind:key="'status-list-'+data.rowIndex+'-'+status.id"  class="dropdown-item" @click.prevent="changeStatus(data.id,status.id)" href="#">{{status.name}}</a>
          </template>
        </div>
      </div>
        <div class="dropdown d-inline" v-if="data.status_id == 2">
            <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dokumentumok
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
               <!-- <a class="dropdown-item" @click.prevent="openStudentPdf('membership',data.student_id)">Tagsági megállapodás</a>
                <a class="dropdown-item" @click.prevent="openStudentPdf('membership2017',data.student_id)">Tagsági megállapodás - 2017</a>-->
                <!--<a class="dropdown-item" data-toggle="modal" data-target="#studentMembershipModal" @click.prevent="openStudentMemebershipModal({type:'membershipGDPR',studentId:data.student_id,projectId:data.id})">Tagsági megállapodás - GDPR</a>
                <a class="dropdown-item" data-toggle="modal" data-target="#studentMembershipModal" @click.prevent="openStudentMemebershipModal({type:'membershipGDPREn',studentId:data.student_id,projectId:data.id})">MEMBERSHIP AGREEMENT - GDPR</a>
                <a class="dropdown-item" @click.prevent="openStudentPdf('entry',data.student_id,data.id)">Belépési</a>-->
               <!-- <a class="dropdown-item" @click.prevent="openStudentPdf('adhoc-and-member',data.student_id)">Regisztáció (Eseti és tagsági)</a>-->
                <a class="dropdown-item" @click.prevent="openCompanyPdf(data.student_id,data.id)">Céges nyomtatványok</a>
                <a class="dropdown-item" data-toggle="modal" @click="openStudentAdhockModal(data.student_id,data.id)" data-target="#studentAdhocModal">Eseti megállapodás</a>
                <!--<a class="dropdown-item" data-toggle="modal" @click="openStudentJobModal(data.student_id)" data-target="#studentJobModal">Munkaköri leírás</a>-->
            </div>
        </div>
        <DeleteConfirm v-on:delete="deleteProject(data.id)"></DeleteConfirm>
        <a href="#" @click.prevent="openProjectModal(data)" data-toggle="modal" data-target="#projectCommentModal" :data-row-id="data.id" :data-comments ="data.comments"  class=" btn btn-info" title="Megjegyzés" ><i class="fa fa-comment"></i> </a>
    </div>
</template>

<script>

import DeleteConfirm from '../../../../../../resources/js/components/DeleteConfirm'
export default {
    name: 'ProjectDetailsAction',
    props: ['data', 'componentProps'],
    components: { DeleteConfirm },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/project/`
        }
    },
    methods: {
        deleteProject (id) {
            this.axios.delete(this.url + 'delete-student/' + id).then(() => {
                this.$emit('refresh', true)
            })
        },
        changeStatus (id, status) {
            this.axios.post(this.url + 'project-student-status/' + id, { status }).then(() => {
                this.$emit('refresh', true)
            })
        },
        openProjectModal (data) {
            this.$eventHub.$emit('openProjectCommentModal', data)
        },
        openStudentAdhockModal (data) {
            this.$eventHub.$emit('openStudentAdhockModal', data)
        },
        openStudentMemebershipModal (data) {
            this.$eventHub.$emit('openStudentMembershipModal', data)
        },
        openStudentJobModal (data) {
            this.$eventHub.$emit('openStudentJobModal', data)
        },
        openStudentPdf (type, studentId, projectId) {
            this.$eventHub.$emit('openPDFStudent', this.url.replace('project', 'student') + 'get-document-template/' + type + '/' + studentId + '?project=' + projectId)
        },
        openCompanyPdf (studentId) {
            this.$eventHub.$emit('openPrintForms', studentId)
        },
        openPdf (link) {
            this.$eventHub.$emit('openPDF', link)
        }
    }
}
</script>
