<template>
  <div class="row">
    <ProjectScheduleModal v-on:refresh="getSchedule" :model="selectedStudent" :info="scheduleData.schedulesInfo" :days="scheduleData.days" :departments="model.departments"></ProjectScheduleModal>
    <div class="col-md-12 sticky-top bg-light mb-2" style="top:100px;z-index: 40">
      <hr>
      <h4 class="text-center">Beosztás: <span class="text-danger">{{scheduleData.title}}</span>
        <a target="_blank" :href="exportScheduleGroup()" class="btn btn-warning btn-xs pull-right">Összes részleg letöltése excelben</a>
        <FormWeekPicker :week_start="parseInt(model.week_start,0)" class="d-inline pull-right" style="width:300px" v-model="currentDate"></FormWeekPicker>
      </h4>
      <hr>
    </div>
    <div class="col-md-3">
      <h5>Beosztott diákok</h5>
      <table class="table table-condensed">
        <tr v-for="(student,index) in scheduleData.students" v-bind:key="'recruit-'+index+'-'+student.id">
          <td>{{student.name}}</td>
          <td style="white-space: nowrap"><i class="fa fa-phone"></i> <a :href="'tel:'+student.phone">{{student.phone}}</a></td>
          <td><a href="#" @click.prevent="selectStudent(student)" class="text-success m-2" title="Besztás/Szerkesztés" data-toggle="modal" @click="selectStudent(student)" data-target="#projectScheduleModal"> <i class="fa fa-calendar"></i></a></td>
        </tr>
      </table>
    </div>
    <div class="col-md-9 " v-if="model  ">
      <div class="sticky-top" style="top:200px">
      <div  v-for="(dep,index) in (model.departments)?model.departments.split(';'):['']"  v-bind:key="'deps-'+index">
        <h4 v-if="dep">{{dep}}<a target="_blank" :href="exportSchedule(dep)" class="btn btn-success btn-xs pull-right">Letöltés excelben</a>
          <button  @click="openLinkModal(encodeStr(dep))" class="btn btn-info btn-xs pull-right">Beosztás tervező a diákoknak</button></h4>
      <table class="table table-bordered table-striped " v-if="scheduleData && scheduleData.schedules && scheduleData.schedulesInfo">
        <thead>
        <tr>
          <th class="bg-dark text-white text-center">Diákok</th>
          <th class="bg-dark text-white text-center" v-for="day in scheduleData.days" v-bind:key="'day-header'+day.value" v-html="day.formatted">
          </th>
        <tr>
          <th class=" text-center">Hány diákot kérnek? </th>
          <th class=" text-center" v-for="day in scheduleData.days" v-bind:key="'day-header2'+day.value">
            <template v-if="scheduleData.schedulesInfo[encodeStr(dep)][day.value]">
              <h4 class="text-danger float-left" >{{(scheduleData.schedulesInfo[encodeStr(dep)][day.value].student_count)?scheduleData.schedulesInfo[encodeStr(dep)][day.value].student_count:0}} / <span class="text-success">{{cnt(day.value,encodeStr(dep))}}</span></h4>
            <button class="btn btn-xs pull-right" @click="selectInfo(scheduleData.schedulesInfo[encodeStr(dep)][day.value])"><i class="fa fa-edit"></i></button>
            </template>
          </th>
        </tr>
        <tr>
          <th class=" text-center">Egyéb megjegyzés</th>
          <th class=" text-center" v-for="day in scheduleData.days" v-bind:key="'day-header3'+day.value" >
            {{scheduleData.schedulesInfo[encodeStr(dep)][day.value].info}}
          </th>
        </tr>
        <tr>
          <th class=" text-center">Beosztás</th>
          <th class=" text-center" v-for="day in scheduleData.days" v-bind:key="'day-header3'+day.value" >
            {{scheduleData.schedulesInfo[encodeStr(dep)][day.value].start}} - {{scheduleData.schedulesInfo[encodeStr(dep)][day.value].end}}
          </th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(st,index,key) in scheduleData.schedules[encodeStr(dep)]" v-bind:key="'dd'-dep+'-'+ key + '-' + st.student_id">
          <td class="bg-silver">{{st.name}} <a href="#" data-toggle="modal" data-target="#projectScheduleModal" @click.prevent="selectExistingStudent(st,st.student_id,dep)" class="pull-right text-indo m-2" title="Besztás/Szerkesztés"> <i class="fa fa-calendar "></i></a>
            <br/>
            <i class="fa fa-phone"></i> <a :href="'tel:'+st.phone">{{st.phone}}</a>
          </td>
          <template  v-for="day in scheduleData.days">

            <td class="text-center" v-bind:key="'day-ddd'+day.value+'-'+ key + '-' + st.student_id" > <span v-if="st[day.value]">{{st[day.value].start}} - {{st[day.value].end}}</span>
             <!-- <i class="text-danger fa fa-exclamation-triangle" title="Nem jelent meg" aria-hidden="true"></i>
              <i class="text-warning fa fa-exclamation" title="Időpont eltérés" aria-hidden="true"></i>
              <i class="text-success fa fa-check" title="Megjelent" aria-hidden="true"></i> -->
            </td>

          </template>
        </tr>
        </tbody>
      </table>
      </div>
      </div>
    </div>
    <div class="modal fade" id="infoschModal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header bg-warning">
            <h5 class="modal-title">Beállít</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <i aria-hidden="true" class="ki ki-close"></i>
            </button>
          </div>
          <div class="modal-body">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <FormNumberInput v-model="selectedInfo.student_count" :title="'Hány diákot kér?'"></FormNumberInput>
                </div>
                <div class="col-md-6">
                  <FormTimePicker  v-model="selectedInfo.start" :name-attr="'schedules.'+key+'.start'" :title="'Érkezés'"></FormTimePicker>
                </div>
                <div class="col-md-6">
                  <FormTimePicker  v-model="selectedInfo.end" :name-attr="'schedules.'+key+'.end'" :title="'Távozás'"></FormTimePicker>
                </div>
                <div class="col-md-12">
                  <FormTextArea v-model="selectedInfo.info" :title="'info'"></FormTextArea>
                </div>
              </div>
              <div class="modal-footer ">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Mégse</button>
                <button type="button" class="btn btn-success" @click="saveInfo()">Mentés</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="schedluesEditorModal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header bg-warning">
            <h5 class="modal-title">Kérlek add meg meddig szerkeszthető a beosztás!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <i aria-hidden="true" class="ki ki-close"></i>
            </button>
          </div>
          <div class="modal-body">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <FormDatePicker  v-model="expire"  :title="'Eddig szerkeszthetik a beosztást'"></FormDatePicker>
                </div>
              </div>
              <div class="modal-footer ">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Mégse</button>
                <button type="button" class="btn btn-success" @click="createScheduleLink(dept)">Link küldése a diákoknak</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import FormWeekPicker from '../../../../../../resources/js/components/form/FormWeekPicker'
import FormTimePicker from '../../../../../../resources/js/components/form/FormTimePicker'
import FormDatePicker from '../../../../../../resources/js/components/form/FormDatePicker'
import ProjectScheduleModal from './ProjectShceduleModal'
import FormNumberInput from '../../../../../../resources/js/components/form/FormNumberInput'
import FormTextArea from '../../../../../../resources/js/components/form/FormTextArea'
export default {
    name: 'ProjectSchedule',
    props: ['model'],
    data () {
        return {
            currentDate: null,
            expire: null,
            dept: null,
            selectedTab: 0,
            notFound: false,
            selectedStudent: null,
            selectedInfo: {},
            scheduleData: {
                days: {},
                students: {},
                scheduels: {},
                schedulesInfo: []
            }
        }
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/project/schedule`
        }
    },
    watch: {
        currentDate: {
            handler: function (val, oldVal) {
                console.log('change')

                this.getSchedule()
            },
            deep: true
        }
    },
    components: { ProjectScheduleModal, FormWeekPicker, FormNumberInput, FormTextArea, FormTimePicker, FormDatePicker },
    methods: {
        cnt: function (day, dept) {
            let count = 0
            if (this.scheduleData.schedules[dept]) {
                console.log(this.scheduleData.schedules[dept])
                Object.keys(this.scheduleData.schedules[dept]).forEach(item => {
                    console.log(this.scheduleData.schedules[dept][item][day])
                    console.log(this.scheduleData.schedules[dept][item])
                    if (this.scheduleData.schedules[dept][item][day] && this.scheduleData.schedules[dept][item][day].start) {
                        count++
                    }
                })
            }
            return count
        },
        encodeStr (title) {
            var slug = ''
            title = title.trim()
            // Change to lower case
            var titleLower = title.toLowerCase()
            // Letter "e"
            slug = titleLower.replace(/e|é|è|ẽ|ẻ|ẹ|ê|ế|ề|ễ|ể|ệ/gi, 'e')
            // Letter "a"
            slug = slug.replace(/a|á|à|ã|ả|ạ|ă|ắ|ằ|ẵ|ẳ|ặ|â|ấ|ầ|ẫ|ẩ|ậ/gi, 'a')
            // Letter "o"
            slug = slug.replace(/o|ó|ò|ö|õ|ỏ|ọ|ô|ố|ồ|ỗ|ổ|ộ|ơ|ớ|ờ|ỡ|ở|ợ/gi, 'o')
            // Letter "u"
            slug = slug.replace(/u|ü|Ü|ú|ù|ũ|ủ|ụ|ư|ứ|ừ|ữ|ử|ự/gi, 'u')
            // Letter "d"
            slug = slug.replace(/đ/gi, 'd')
            // Trim the last whitespace
            slug = slug.replace(/\s*$/g, '')
            // Change whitespace to "-"
            slug = slug.replace(/\s+/g, '-')
            slug = slug.replace('.', '')
            slug = slug.replace(',', '')

            return slug
        },
        getSchedule () {
            this.axios.get(this.url + '/get-schedule/' + this.model.id + '?interval=' + this.currentDate).then((resp) => {
                this.scheduleData = resp.data
            })
        },
        exportSchedule (department) {
            return this.url + '/get-schedule-excel/' + this.model.id + '/' + department + '?interval=' + this.currentDate
        },
        exportScheduleGroup () {
            return this.url + '/get-schedule-excel-all/' + this.model.id + '?interval=' + this.currentDate
        },
        selectInfo (info) {
            this.selectedInfo = info
            window.$('#infoschModal').modal('show')
        },
        saveInfo () {
            this.axios.post(this.url + '/save-info', this.selectedInfo).then((resp) => {
                this.getSchedule()
                window.$('#infoschModal').modal('hide')
            })
        },
        openLinkModal (dept) {
            this.dept = dept
            window.$('#schedluesEditorModal').modal('show')
        },
        createScheduleLink () {
            this.axios.post(this.url + '/send-schedule-link/' + this.model.id, { interval: this.currentDate, expire: this.expire, departmen: this.dept }).then(resp => {
                window.$('#schedluesEditorModal').modal('hide')
            })
        },
        selectStudent (student, department = null) {
            const temp = JSON.parse(JSON.stringify(student))
            temp.project_id = this.model.id
            temp.department = department
            temp.has_department = (this.model.departments) ? this.model.departments.length : 0
            temp.schedules = {}
            Object.keys(this.scheduleData.days).forEach(item => {
                temp.schedules[this.scheduleData.days[item].value] = {
                    schedule_date: this.scheduleData.days[item].value,
                    have_time: false,
                    start: '8:00',
                    end: '16:00'

                }
            })

            this.selectedStudent = temp
        },
        padLeft (t) {
            if (t < 10) {
                return '0' + t
            }
            return t
        },
        selectExistingStudent (student, studentId, department = null) {
            const temp = JSON.parse(JSON.stringify(student))
            console.log(temp)
            temp.project_id = this.model.id
            temp.department = department
            temp.student_id = studentId
            temp.has_department = this.model.departments.length
            temp.schedules = {}
            Object.keys(this.scheduleData.days).forEach(item => {
                temp.schedules[this.scheduleData.days[item].value] = {
                    schedule_date: this.scheduleData.days[item].value,
                    have_time: (!!(temp[this.scheduleData.days[item].value])),
                    start: (temp[this.scheduleData.days[item].value] && temp[this.scheduleData.days[item].value].start) ? temp[this.scheduleData.days[item].value].start : '8:00',
                    end: (temp[this.scheduleData.days[item].value] && temp[this.scheduleData.days[item].value].end) ? temp[this.scheduleData.days[item].value].end : '16:00'

                }
            })

            this.selectedStudent = temp
        }

    },

    created () {
        var date = new Date()
        let add = 1

        if (date.getDay() === 0) {
            add = -6
        }
        const startDate = new Date(date.getFullYear(), date.getMonth(), date.getDate() - date.getDay() + add + this.model.week_start)
        const endDate = new Date(date.getFullYear(), date.getMonth(), date.getDate() - date.getDay() + add + 6 + this.model.week_start)
        this.currentDate = (startDate.getFullYear() + '-' + this.padLeft(startDate.getMonth() + 1) + '-' + startDate.getDate()) + ' - ' + (endDate.getFullYear() + '-' + this.padLeft(endDate.getMonth() + 1) + '-' + endDate.getDate())
        this.expire = this.currentDate.split(' - ')[0]
    }

}
</script>
