<template>
  <div>
    <div class="alert alert-custom alert-white alert-shadow kt-portlet" role="alert">
      <h3 class="text-info">
        Projekt státuszok
      </h3>
    </div>
    <div class="kt-portlet" >
      <div class="kt-portlet__body">
        <div class="kt-form kt-form--label-right">
          <div class="kt-form__body">
            <div class="row" v-if="this.filter && this.filter.users">
              <div class="col-md-3">
              <FormSelect v-model="selectedUser" :options="this.filter.users" v-on:change="getProjectDetails" :title="'Project menedzser'"></FormSelect>
              </div>
            </div>
            <div class="table-responsive">
            <table class="table table-bordered " style="font-size: 15px!important;">
              <tr>
                <th>Állapot</th>
                <th>Diákok száma</th>
                <th></th>
              </tr>
              <template v-for="(l,index) in list ">
              <tr class="cursor bg-success" v-bind:key="'list-'+ index" >
                <th >{{l.status_name}} </th>
                <th>{{l.student_count}}</th>
                <th class="w-25">
                  <div class="row">
                    <div class="col-3"><button v-if="!list[index].opened" @click="list[index].opened = !list[index].opened" class="btn btn-xs btn-info"><i class="fa fa-arrow-down"></i> </button>
                      <button  v-if="list[index].opened" @click="list[index].opened = !list[index].opened" class="btn btn-xs btn-info"><i class="fa fa-arrow-up"></i> </button></div>
                    <div class="col-9">
                <FormInput :placeholder="'Keresés'" v-model="list[index].search"></FormInput>
                    </div>
                    </div>
                </th>
              </tr>
                <tr v-bind:key="'list2-'+ index">
                  <td v-if="list[index].opened" colspan="3">
                    <table class="table table-bordered ">
                      <tr>
                        <th>Cég</th>
                        <th>Felelős</th>
                        <th>Diákok száma</th>
                      </tr>
                      <tr v-for="(l2,index2) in l.list" v-bind:key="'item-'+index+'-'+index2">
                        <template v-if="l2.company_name.toString().toLowerCase().includes(list[index].search.toString().toLowerCase()) || l2.industry_name.toString().toLowerCase().includes(list[index].search.toString().toLowerCase())">
                        <td class=""><router-link :to="'/admin/projects/details/'+l2.project_id+'?status_id='+l.status_id" >{{l2.company_name}} / {{l2.industry_name}} /{{l2.name}}</router-link></td>
                        <td class="w-25">{{l2.user_name}}</td>
                        <td class="w-25">{{l2.student_count}}</td>
                        </template>
                      </tr>
                    </table>
                  </td>
                </tr>
              </template>
            </table>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import FormInput from '../../../../../../resources/js/components/form/FormInput'
import FormSelect from '../../../../../../resources/js/components/form/FormSelect.vue'
export default {
    name: 'ProjectStatusList',
    props: ['url'],
    components: { FormInput, FormSelect },
    data () {
        return {
            list: [],
            filter: [],
            selectedUser: null
        }
    },
    methods: {
        getProjectDetails () {
            this.axios.get(this.url + '/status-list' + (this.selectedUser ? '?user_id=' + this.selectedUser : '')).then((response) => {
                this.list = response.data.data
                this.filter = response.data.filter
            }).catch(() => {
                this.notFound = true
            })
        }
    },
    created () {
        this.getProjectDetails()
    }
}
</script>
