<template>
  <div>
    <div class="modal fade" id="projectCommentModal" tabindex="-1" role="dialog">
      <div class="modal-dialog  modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header bg-warning">
            <h5 class="modal-title">Megjegyzés</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <i aria-hidden="true" class="ki ki-close"></i>
            </button>
          </div>
          <div class="modal-body p-4" v-if="model">
            <div class="row">
              <div class="col-12">
                <h2>{{model.name}}</h2>
              </div>
              <div class="col-12">
                <FormTextArea :rows="30" v-model="model.comment" :title="'Megjegyzés'"></FormTextArea>
              </div>
            </div>
            <div class="modal-footer ">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Mégse</button>
              <button type="button" class="btn btn-success" @click="saveComment()">Hozzáad</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import FormTextArea from '../../../../../../resources/js/components/form/FormTextArea'
export default {
    name: 'ProjectStudentComment',
    props: ['model'],
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/project/`
        }
    },
    components: { FormTextArea },
    methods: {
        saveComment () {
            this.axios.post(this.url + 'student-add-comment/' + this.model.id, { comment: this.model.comment }).then(() => {
                window.$('#projectCommentModal').modal('hide')
            })
        }
    }
}
</script>
