<template>
  <div>
    <div class="col-md-12 sticky-top  mb-2 bg-warning" style="top:100px;z-index: 40" v-if="model">
      <hr>
      <h4 class="text-left">Ráérések: <span class="text-danger"></span>
        <FormDatePicker v-if="disabledDays && disabledDays.length" :disabledDays="disabledDays" class="d-inline pull-right" style="width:300px;margin-top: -9px;" v-model="currentDate"></FormDatePicker>
      </h4>
      <hr>
    </div>
    <div class="col-md-12  mb-2">
      <div class="row">
        <div class="col-4">&nbsp;<br/></div>
        <div class="col-8 text-right">
          <a target="_blank" :href="exportScheduleGroup()" class="btn btn-warning btn-sm pull-right">Összes részleg letöltése excelben</a>
          <a target="_blank" :href="exportRealization()" class="btn btn-success btn-sm pull-right">Ráérés letöltése excelben</a>
          <button class="btn btn-sm btn-outline-danger pull-right" @click="createRealization">Email újraküldés</button>
          <router-link :to="'/admin/projects/details/'+model.id" type="button" class="btn btn-sm btn-outline-info pull-right"><i class="fa fa-arrow-left"></i> Vissza</router-link>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="kt-portlet" v-if="model">
        <div class="kt-portlet__body">
          <div class="kt-form kt-form--label-right">
            <div class="kt-form__body">
              <div class="row">
                <div class="col-12 text-center" v-if="!this.realization.length && currentDate">
                  <h1 class="mb-5">Az adott hétre még nem lett küldve ráérés</h1>
                  <button class="btn btn-success btn-lg" @click="createRealization">Ráérés küldése a diákoknak</button>
                </div>
                <div class="col-12 table-responsive" v-if="this.realization.length && currentDate">
                  <div class="modal fade" id="editRealization" tabindex="-1" role="dialog" v-if="selectedRow">
                    <div class="modal-dialog   modal-dialog-centered" role="document" style="max-width:90%">
                      <div class="modal-content modal-lg" style="max-width:100%">
                        <div class="modal-header bg-danger">
                          <h5 class="modal-title text-white">Ráérés szerkesztése!</h5>

                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i aria-hidden="true" class="ki ki-close"></i>
                          </button>
                        </div>
                        <div class="modal-body p-4 " v-if="selectedRow && model && model.departments">
                          <div class="row">
                            <div class="col-md-12">
                              <FormInput :title="'Rövid megjegyzés'" v-model="selectedRow.comment"></FormInput>
                            </div>
                            <div class="col-md-12">
                              <FormSelect :multiple="true" v-if="model && model.departments" :title="'Preferált részleg'" :select2="true" v-model="selectedRow.preferred_departments" :options="getDepartments"></FormSelect>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <table class="table table-bordered">
                              <tr><th colspan="7" class="bg-success"> <h2 class="text-center">Ráérés</h2></th></tr>
                              <tr>
                                <th style="width:14%" v-for="(w,index) in tableWeek" v-bind:key="'m'+w.key">{{ w.value }}<br>{{ formatDate(realization[0].date, index) }}</th>
                              </tr>
                              <tr>
                                <td class="text-center" style="white-space: normal" v-for="(w) in tableWeek" v-bind:key="'m3'+w.key">
                                  <div>
                                    <button class="btn btn-sm w-100" @click="setValue(w.key,'F')" v-bind:class="{'btn-outline-danger':selectedRow[w.key] !=='F','btn-danger':selectedRow[w.key] ==='F'}">Egész nap ráérek</button>
                                    <button class="btn btn-sm w-100" @click="setValue(w.key,'X')" v-bind:class="{'btn-outline-danger':selectedRow[w.key] !=='X','btn-danger':selectedRow[w.key] ==='X'}">Nem érek rá</button>
                                    <button class="btn btn-sm w-100" @click="setValue(w.key,'')" v-bind:class="{'btn-danger':selectedRow[w.key] !='F' && selectedRow[w.key] !='X','btn-outline-danger':selectedRow[w.key] ==='F' || selectedRow[w.key] ==='X'}">Egyedi</button>

                                  </div>
                                  <div class="w-100 mt-1">
                                    <FormInput v-if="selectedRow[w.key] !='F' && selectedRow[w.key] !='X'"  placeholder="PL: 10-16" v-model="selectedRow[w.key]" ></FormInput>
                                  </div>
                                </td>
                              </tr>
                              <tr><th colspan="7" class="bg-success"> <h2 class="text-center">Beosztás</h2></th></tr>
                              <tr v-if="schedule">
                                <th style="width:14%" v-for="(w,index) in tableWeek" v-bind:key="'m23'+w.key">
                                  <div v-if="schedule[formatDate(realization[0].date, index)]">
                                   <div style="position: relative">
                                  <FormSelect v-if="model && model.departments" :title="'Részleg'" :select2="true" v-model="schedule[formatDate(realization[0].date, index)].department" :options="getDepartments"></FormSelect>
                                   </div><div style="position: relative">
                                  <FormTimePicker  v-model="schedule[formatDate(realization[0].date, index)].start" :name-attr="'schedules.'+key+'.start'" :title="'Érkezés'"></FormTimePicker>
                                  </div><div style="position: relative">
                                  <FormTimePicker  v-model="schedule[formatDate(realization[0].date, index)].end"  :name-attr="'schedules.'+key+'.end'" :title="'Távozás'"></FormTimePicker>
                                  </div>
                                  </div>
                                </th>
                              </tr>
                            </table>
                          </div>
                          <div class="modal-footer ">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Mégse</button>
                            <button type="button" class="btn btn-success" @click="saveRealization()">Mentés</button>
                            <button type="button" class="btn btn-success" @click="saveSchedule()">Beosztás mentése</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <h4>
                        <i class="fa fa-ban text-danger"></i> Nem jelzett
                      </h4>
                    </div>
                    <div class="col-md-2">
                      <h4>
                        <i class="fa fa-times text-warning"></i> Nem ér rá
                      </h4>
                    </div>
                    <div class="col-md-2">
                      <h4>
                        <i class="fa  fa-calendar-check text-success"></i> Egész nap ráér
                      </h4>
                    </div>
                    <div class="col-md-6">
                      <h4 class="text-right">
                        Visszajelzett: <b>{{realization.length}}</b>/<b class="text-danger">{{calcBack}}</b>
                      </h4>
                    </div>
                  </div>
                  <hr>
                  <table class="table table-bordered">
                    <tr>
                      <th> Diák</th>
                      <th>Preferált részleg</th>
                      <th>Megjegyzés</th>
                      <th>Előző beosztások</th>
                      <th v-for="(w,index) in tableWeek" v-bind:key="'m'+w.key">{{ w.value }}<br>{{ formatDate(realization[0].date, index) }}</th>
                    </tr>
                    <tr v-for="data in realization" v-bind:key="'m'+data.id" v-bind:class="{'bg-lime':data.scheduled===1}">
                      <td><a :href="'/admin/students/edit/'+data.student_id" target="_blank">{{ data.name }}</a><br>{{ data.student_number }}<span v-if="data.scheduled===1" class="text-danger"> - Beosztva</span>
                        <button class="btn btn-info btn-sm float-right" @click="openRealization(data)"><i class="fa fa-edit"></i></button>
                      </td>
                      <td>{{ writeDepartments(data.preferred_departments) }}</td>
                      <td>{{ data.comment }}</td>
                      <td><div style="font-size: 12px" v-html="data.prev_department"></div></td>
                      <td class="text-center" v-for="(w) in tableWeek" v-bind:key="'m'+w.key">
                        <i v-if="!data[w.key]" class="fa fa-2x fa-ban text-danger"></i>
                        <i v-if="data[w.key]=='X'" class="fa fa-2x  fa-times text-warning"></i>
                        <i v-if="data[w.key]=='F'" class="fa fa-2x  fa-calendar-check text-success"></i>
                        <span v-if="data[w.key] !='X' && data[w.key] !='F' && data[w.key]"><b>{{ data[w.key] }}</b></span>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import FormWeekPicker from '../../../../../../resources/js/components/form/FormWeekPicker'
import FormTimePicker from '../../../../../../resources/js/components/form/FormTimePicker'
import FormDatePicker from '../../../../../../resources/js/components/form/FormDatePicker'
import ProjectScheduleModal from './ProjectShceduleModal'
import FormNumberInput from '../../../../../../resources/js/components/form/FormNumberInput'
import FormTextArea from '../../../../../../resources/js/components/form/FormTextArea'
import FormInput from '../../../../../../resources/js/components/form/FormInput.vue'
import FormSelect from '../../../../../../resources/js/components/form/FormSelect.vue'

export default {
    name: 'ProjectRealization',
    data () {
        return {
            realization: [],
            model: {},
            schedule: {},
            currentDate: null,
            dept: null,
            selectedRow: {},
            default: {},
            notFound: false,
            disabledDays: [],
            week: [
                { key: 'monday', value: 'Hétfő' },
                { key: 'tuesday', value: 'Kedd' },
                { key: 'wednesday', value: 'Szerda' },
                { key: 'thursday', value: 'Csütörtök' },
                { key: 'friday', value: 'Péntek' },
                { key: 'saturday', value: 'Szombat' },
                { key: 'sunday', value: 'Vasárnap' }
            ]
        }
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/project`
        },
        tableWeek: function () {
            if (this.model && this.model.week_start) {
                const sec = this.week.slice(0, this.model.week_start)
                const first = this.week.slice(this.model.week_start, 7)
                return first.concat(sec)
            }
            return this.week
        },
        calcBack: function () {
            if (!this.realization.length) {
                return 0
            }
            let cnt = 0
            this.realization.forEach(r => {
                if (r.monday) {
                    cnt++
                }
            })
            return cnt
        },
        getDepartments: function () {
            const deps = {}
            this.model.departments.split(';').forEach(i => {
                deps[this.encodeStr(i)] = i
            })

            return deps
        }
    },
    watch: {
        currentDate: {
            handler: function (val, oldVal) {
                this.getRealization()
            },
            deep: true
        }
    },
    components: { ProjectScheduleModal, FormWeekPicker, FormNumberInput, FormTextArea, FormTimePicker, FormDatePicker, FormInput, FormSelect },
    methods: {
        encodeStr (title) {
            var slug = ''
            title = title.trim()
            // Change to lower case
            var titleLower = title.toLowerCase()
            // Letter "e"
            slug = titleLower.replace(/e|é|è|ẽ|ẻ|ẹ|ê|ế|ề|ễ|ể|ệ/gi, 'e')
            // Letter "a"
            slug = slug.replace(/a|á|à|ã|ả|ạ|ă|ắ|ằ|ẵ|ẳ|ặ|â|ấ|ầ|ẫ|ẩ|ậ/gi, 'a')
            // Letter "o"
            slug = slug.replace(/o|ó|ò|ö|õ|ỏ|ọ|ô|ố|ồ|ỗ|ổ|ộ|ơ|ớ|ờ|ỡ|ở|ợ/gi, 'o')
            // Letter "u"
            slug = slug.replace(/u|ü|Ü|ú|ù|ũ|ủ|ụ|ư|ứ|ừ|ữ|ử|ự/gi, 'u')
            // Letter "d"
            slug = slug.replace(/đ/gi, 'd')
            // Trim the last whitespace
            slug = slug.replace(/\s*$/g, '')
            // Change whitespace to "-"
            slug = slug.replace(/\s+/g, '-')
            slug = slug.replace('.', '')
            slug = slug.replace(',', '')

            return slug
        },
        formatDate (date, day) {
            const d = new Date(date)

            d.setDate(d.getDate() + day)
            return d.getFullYear() + '-' + this.padLeft(d.getMonth() + 1) + '-' + this.padLeft(d.getDate())
        },
        padLeft (t) {
            if (t < 10) {
                return '0' + t
            }
            return t
        },
        writeDepartments (deps) {
            if (deps) {
                const resp = []
                deps.forEach(d => {
                    resp.push(this.getDepartments[d])
                })
                return resp.join(',')
            }
            return ''
        },
        exportScheduleGroup () {
            var date = new Date()
            let add = 1

            if (date.getDay() === 0) {
                add = -6
            }
            const startDate = new Date(date.getFullYear(), date.getMonth(), date.getDate() - date.getDay() + add + this.model.week_start)
            const endDate = new Date(date.getFullYear(), date.getMonth(), date.getDate() - date.getDay() + add + 6 + this.model.week_start)
            const d = (startDate.getFullYear() + '-' + this.padLeft(startDate.getMonth() + 1) + '-' + startDate.getDate()) + ' - ' + (endDate.getFullYear() + '-' + this.padLeft(endDate.getMonth() + 1) + '-' + endDate.getDate())
            return this.url + '/schedule/get-schedule-excel-all/' + this.model.id + '?interval=' + d
        },
        exportRealization () {
            return this.url + '/get-realization-excel/' + this.model.id + '?date=' + this.currentDate
        },
        setValue (item, value) {
            if (this.selectedRow[item] === value) {
                this.selectedRow[item] = ''
            } else {
                this.selectedRow[item] = value
            }
        },

        getRealization () {
            this.axios.get(this.url + '/get-realization/' + this.model.id + '?date=' + this.currentDate).then((resp) => {
                this.realization = resp.data.data
                Object.keys(this.tableWeek).forEach(i => {
                    const d = new Date(this.realization[0].date)
                    d.setDate(d.getDate() + (i * 1))

                    this.schedule[d.getFullYear() + '-' + this.padLeft(d.getMonth() + 1) + '-' + this.padLeft(d.getDate())] = {}
                })
            })
        },
        createRealization () {
            this.axios.post(this.url + '/create-realization-link/' + this.model.id, { date: this.currentDate }).then((resp) => {
                this.realization = resp.data.data
            })
        },
        openRealization (row) {
            this.selectedRow = null
            this.schedule = null
            this.selectedRow = JSON.parse(JSON.stringify(row))
            this.schedule = JSON.parse(JSON.stringify(row.schedule))
            window.$('#editRealization').modal('show')
        },
        saveRealization () {
            this.axios.post(this.url + '/save-realization/' + this.model.id, this.selectedRow).then((resp) => {
                this.getRealization()
                window.$('#editRealization').modal('hide')
            })
        },
        saveSchedule () {
            this.axios.post(this.url + '/save-realization-schedule/' + this.model.id + '/' + this.selectedRow.id, { schedule: this.schedule }).then((resp) => {
                this.getRealization()
                window.$('#editRealization').modal('hide')
            })
        },

        getProjectDetails () {
            this.axios.get(this.url + '/details/' + this.$route.params.id).then((response) => {
                this.model = response.data.data
                this.disabledDays = []
                this.disabledDays.push((this.model.week_start + 1 > 7) ? 1 : this.model.week_start + 1)

                var date = new Date()
                let add = 1

                if (date.getDay() === 0) {
                    add = -6
                }
                const startDate = new Date(date.getFullYear(), date.getMonth(), date.getDate() - date.getDay() + add + this.model.week_start)

                this.currentDate = (startDate.getFullYear() + '-' + this.padLeft(startDate.getMonth() + 1) + '-' + startDate.getDate())
                this.expire = this.currentDate.split(' - ')[0]
            }).catch(() => {
                this.notFound = true
            })
        }

    },

    created () {
        this.getProjectDetails()
    }

}
</script>
