<template>
  <div>
    <div class="modal fade" id="projectScheduleModal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg  modal-dialog-centered" role="document">
        <div class="modal-content ">
          <div class="modal-header bg-warning">
            <h5 class="modal-title">Beosztás - Bodák Szabolcs</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <i aria-hidden="true" class="ki ki-close"></i>
            </button>
          </div>
          <div class="modal-body p-4" v-if="model">
            <div class="row">
              <div class="col-12">
                <FormSelect v-if="departments" v-model="model.department" title="Részleg" :options="getDepartments" ></FormSelect>
              </div>
              <div class="table-responsive">
              <table class="table-striped table table-bordered">
                <thead>
                <tr>
                  <th>Nap</th>
                  <th>Ráér</th>
                  <th style="width:200px">Kezdete</th>
                  <th style="width:200px">Vége</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(sch,key,index) in model.schedules" v-bind:key="'sch-'+index">
                  <td>{{
                      ((getDate(model.schedules[key].schedule_date)) )?days[6]:days[new Date(model.schedules[key].schedule_date).getDay()-1]}} ({{model.schedules[key].schedule_date}}) </td>
                  <td><BFormCheckbox v-model="model.schedules[key].have_time"></BFormCheckbox></td>
                  <td style="width:200px"><div class="col-12" v-if="model.schedules[key].have_time"> <FormTimePicker  v-model="model.schedules[key].start" :name-attr="'schedules.'+key+'.start'" :title="'Érkezés'"></FormTimePicker></div></td>
                  <td style="width:200px"> <div class="col-12" v-if="model.schedules[key].have_time"> <FormTimePicker  v-model="model.schedules[key].end"  :name-attr="'schedules.'+key+'.end'" :title="'Távozás'"></FormTimePicker></div></td>
                </tr>
                </tbody>
              </table>
            </div>
            </div>
            <div class="modal-footer ">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Mégse</button>
              <button type="button" class="btn btn-success" @click="saveSchedule()">Beosztás mentése</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import FormTextArea from '../../../../../../resources/js/components/form/FormTextArea'
import FormSelect from '../../../../../../resources/js/components/form/FormSelect'
import FormTimePicker from '../../../../../../resources/js/components/form/FormTimePicker'
export default {
    name: 'ProjectScheduleModal',
    props: ['model', 'departments', 'info'],
    data () {
        return {
            localModel: null,
            localValue: null,
            days: ['Hétfő', 'Kedd', 'Szerda', 'Csütörtök', 'Péntek', 'Szombat', 'Vasárnap']

        }
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/project/schedule/`
        },
        getDepartments: function () {
            const arr = {}
            const self = this
            const data = this.departments.split(';')

            data.forEach(item => {
                arr[item] = item
            })
            Object.keys(self.model.schedules).forEach((idnex) => {
                data.forEach(item => {
                    self.model.schedules[idnex].start = (item) ? this.info[this.encodeStr(item)][idnex].start : this.info[this.encodeStr(item)][idnex].start
                    self.model.schedules[idnex].end = (item) ? this.info[this.encodeStr(item)][idnex].end : this.info[this.encodeStr(item)][idnex].end
                })
            })

            console.log(arr)
            return arr
        }
    },
    components: { FormTextArea, FormSelect, FormTimePicker },
    methods: {
        saveSchedule () {
            this.axios.post(this.url + 'save-schedule', this.model).then(() => {
                window.$('#projectScheduleModal').modal('hide')
                this.$emit('refresh', true)
            })
        },
        getDate (data) {
            return (new Date(data).getDay() - 1 < 0)
        },
        encodeStr (title) {
            if (!title) {
                return ''
            }
            var slug = ''
            title = title.trim()
            // Change to lower case
            var titleLower = title.toLowerCase()
            // Letter "e"
            slug = titleLower.replace(/e|é|è|ẽ|ẻ|ẹ|ê|ế|ề|ễ|ể|ệ/gi, 'e')
            // Letter "a"
            slug = slug.replace(/a|á|à|ã|ả|ạ|ă|ắ|ằ|ẵ|ẳ|ặ|â|ấ|ầ|ẫ|ẩ|ậ/gi, 'a')
            // Letter "o"
            slug = slug.replace(/o|ó|ò|ö|õ|ỏ|ọ|ô|ố|ồ|ỗ|ổ|ộ|ơ|ớ|ờ|ỡ|ở|ợ/gi, 'o')
            // Letter "u"
            slug = slug.replace(/u|ü|Ü|ú|ù|ũ|ủ|ụ|ư|ứ|ừ|ữ|ử|ự/gi, 'u')
            // Letter "d"
            slug = slug.replace(/đ/gi, 'd')
            // Trim the last whitespace
            slug = slug.replace(/\s*$/g, '')
            // Change whitespace to "-"
            slug = slug.replace(/\s+/g, '-')
            slug = slug.replace('.', '')
            slug = slug.replace(',', '')

            return slug
        }

    }

}
</script>
