<template>
    <div class="nowrap project-action">
        <router-link :to="'/admin/projects/details/'+data.id" class="btn btn-primary" title="Részletek" ><i class="fa fa fa-list"></i> </router-link>
        <a href="#"  class="btn btn-secondary" title="A projekthez tartozó hírdetések" @click.prevent="openProjectWorkModal(data.id)" ><i class="fa fa-newspaper"></i> </a>
        <router-link :to="'/admin/projects/edit/'+data.id" class="btn btn-success" title="Szerkesztés" ><i class="fa fa fa-edit"></i> </router-link>
        <DeleteConfirm v-on:delete="deleteProject(data.id)"></DeleteConfirm>
        <a v-if="data.status !== 0" href="#" @click.prevent="changeStatus(data.id,0)" class=" btn btn-info" title="Aktivál" ><i class="fa fa fa-check"></i> </a>
        <a v-if="data.status !== 1" href="#" @click.prevent="changeStatus(data.id,1)" class=" btn btn-warning" title="Inaktivál" ><i class="fa fa fa-hourglass"></i> </a>
        <a v-if="data.status !== 2" href="#" @click.prevent="changeStatus(data.id,2)" class=" btn btn-success" title="Teljesítve" ><i class="fa fa fa-flag-checkered"></i> </a>
    </div>
</template>

<script>
import DeleteConfirm from '../../../../../../resources/js/components/DeleteConfirm'
export default {
    name: 'ProjectAction',
    props: ['data'],
    components: { DeleteConfirm },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/project/`
        }
    },
    methods: {
        deleteProject (id) {
            this.axios.delete(this.url + 'delete/' + id).then(() => {
                this.$emit('refresh', true)
            })
        },
        changeStatus (id, status) {
            this.axios.post(this.url + 'status/' + id, { status }).then(() => {
                this.$emit('refresh', true)
            })
        },
        openProjectWorkModal (id) {
            this.$eventHub.$emit('openProjectWork', id)
        }
    }
}
</script>

<style>
.project-action a{
  padding:5px
}
</style>
