<template>
  <div class="kt-portlet recruitment" style="z-index: 7000" v-if="model">
    <div class="kt-portlet__head bg-orange p-3">

      <div class="text-white ">Toborzás<br>
                                               {{ model.company_name }} - {{ model.industry_name }}
      </div>
      <a  data-toggle="collapse" href="#recruitCollapse" role="button" aria-expanded="false" aria-controls="recruitCollapse">
        <i class="fa fa-minus fa-2x"></i>
      </a>
    </div>
    <div class="kt-portlet__body">
    <div class="collapse" id="recruitCollapse">
      <div class="card card-body">
        <table class="table table-condensed" >
          <tr v-for="student in list" v-bind:key="'recruit-'+student.id">
            <td>{{student.name}}</td>
            <td><a :href="'tel:'+student.phone"> {{student.phone}}</a></td>
            <td><a href="#" class="text-danger m-2" title="Törlés" @click.prevent="recruitDeleteStudent(student.id)"> <i class="fa fa-trash"></i></a></td>
          </tr>
        </table>
      </div>
      <div class="card-footer">
        <button class="btn btn-dark btn-xs" @click="endRecruit"> Toborzás vége</button>
      </div>
      </div>
    </div>
  </div>
</template>
<style>
.recruitment{
  bottom:0;
  right: 50px;
  position:fixed;
  margin-left:10px;
  width:400px;

}
#recruitCollapse .card{
  height:400px;
  overflow-y: scroll;
}

</style>
<script>
export default {
    name: 'ProjectRecruiting',
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/project/`
        }
    },
    data () {
        return {
            model: {
                list: []
            },
            list: []
        }
    },
    watch: {
        '$store.state.defaultStore.recruit': {
            handler: function (val, oldVal) {
                if (val !== oldVal) {
                    this.model = val
                    localStorage.setItem('recruit', JSON.stringify(this.model))
                }
            },
            deep: true

        },
        model: {
            handler: function (val, oldVal) {
                if (val && val.list) {
                    this.list = val.list
                }
            },
            deep: true
        }
    },
    methods: {
        recruitStudent (id) {
            this.axios.post(this.url + 'recruit', { project_id: this.model.id, student_id: id }).then((resp) => {
                let temp = []
                if (this.model && this.model.list && this.model.list.length) {
                    temp = this.model.list
                }
                temp.push(resp.data.data)
                this.model.list = JSON.parse(JSON.stringify(temp))
                this.list = JSON.parse(JSON.stringify(temp))
                localStorage.setItem('recruit', JSON.stringify(this.model))
            })
        },
        recruitDeleteStudent (id) {
            this.axios.delete(this.url + 'recruit/delete/' + id).then((resp) => {
                if (!this.model.list) {
                    this.model.list = []
                }
                this.model.list.forEach((student, index) => {
                    if (student.id === id) {
                        this.$delete(this.model.list, index)
                    }
                })
                localStorage.setItem('recruit', JSON.stringify(this.model))
            })
        },
        endRecruit () {
            localStorage.removeItem('recruit')
            this.$store.commit('defaultStore/setRecruitment', null)
        }
    },
    created () {
        try {
            this.model = JSON.parse(localStorage.getItem('recruit'))
        } catch (e) {}

        const self = this
        this.$eventHub.$on('recruitStudent', function (id) {
            self.recruitStudent(id)
        })
    }
}
</script>
