<template>
  <div>
    <div class = "alert alert-custom alert-white alert-shadow kt-portlet" role = "alert">

      <h3 class = "text-info">{{ $t('Megrendelés') }}</h3>
    </div>
    <div class = "kt-portlet">
      <div class = "kt-portlet__body">
        <div class = "kt-form kt-form--label-right">
          <div class = "kt-form__body">
            <div class = "row">
              <div class = "col-md-4" >
                <FormSelect :select2="true" v-model = "model.company_id" :title = "$t('Cég')" v-if = "model && model.selectables && model.selectables.company" :options = "model.selectables.company"></FormSelect>
              </div>
              <div class = "col-md-4" >
                <FormSelect  v-model = "model.industry_id" :title = "$t('Tevékenység')"  :options = "industry"></FormSelect>
              </div>
              <div class = "col-md-4" >
                <FormNumberInput v-model = "model.number_of_employees" :title = "$t('Létszám')"></FormNumberInput>
              </div>
              <div class = "col-md-6" >
                <FormSelect :select2="true" v-model = "model.user_id" :title = "$t('Projekt menedzser')" v-if = "model && model.selectables && model.selectables.user" :options = "model.selectables.user"></FormSelect>
              </div>
              <div  class = "col-md-6" >
                <FormSelect :select2="true" v-model = "model.replacement_user_id" :title = "$t('Helyettesítő')" v-if = "model && model.selectables && model.selectables.replacement_user" :options = "model.selectables.user"></FormSelect>
              </div>

              <div class = "col-md-6" >
                <FormDatePicker v-model = "model.deadline" :title = "$t('Határidő')"></FormDatePicker>
              </div>
              <div class = "col-md-6" >
                <FormSelect v-model = "model.status" :title = "$t('Állapot')" v-if = "model && model.selectables && model.selectables.status" :options = "model.selectables.status"></FormSelect>
              </div>
              <div class = "col-md-6" >
                <FormSelect v-model = "model.schedule" :title = "$t('Kell beosztás?')" v-if = "model && model.selectables && {}" :options = "{0:'Nem',1:'Igen'}"></FormSelect>
              </div>
              <div class = "col-md-12" >
                <FormTextArea v-model = "model.comment" :title = "$t('Megjegyzés')"></FormTextArea>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
import FormSelect from '../../../../../../resources/js/components/form/FormSelect'
import FormInput from '../../../../../../resources/js/components/form/FormInput'
import FormTextArea from '../../../../../../resources/js/components/form/FormTextArea'
import FormDatePicker from '../../../../../../resources/js/components/form/FormDatePicker'
import FormNumberInput from '../../../../../../resources/js/components/form/FormNumberInput'

export default {
    name: 'ProjectForm',
    props: {
        url: {
            required: true,
            type: String
        },
        model: {
            required: true,
            type: Object
        }
    },
    data () {
        return {
            industry: []
        }
    },
    computed: {
        languages: function () {
            const l = []
            for (const it in this.$store.state.defaultStore.languages) {
                l.push(it)
            }
            return l
        }
    },
    watch: {
        'model.company_id': {
            handler: function (val, oldVal) {
                if (val !== oldVal) {
                    this.getIndustry()
                }
            },
            deep: true
        }
    },
    components: { FormSelect, FormInput, FormTextArea, FormDatePicker, FormNumberInput },
    methods: {
        getIndustry () {
            if (this.model.company_id) {
                console.log(this.model.company_id)
                this.axios.get(this.url + '/get-industry/' + this.model.company_id).then((resp) => {
                    this.industry = resp.data
                })
            }
        }
    },
    created () {
    },
    mounted () {
    }
}
</script>
