<template>
  <div>
    <div class="modal fade" id="projectWorkModal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content ">
          <div class="modal-header bg-warning">
            <h5 class="modal-title">A projekthez tartozó munkahirdetések!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <i aria-hidden="true" class="ki ki-close"></i>
            </button>
          </div>
          <div class="modal-body p-4" >
            <div class="">
              <table class="table table-condensed">
                <template v-for="work in model">
                <tr  v-bind:key="'work-'+work.id">
                  <td style=""><img :src="work.image" width="130"></td>
                  <td class="">{{work.name}}</td>
                  <td ></td>
                </tr>
                  <tr  v-bind:key="'work-action-'+work.id">
                    <td><router-link target="_blank" class="btn btn-warning" :to="'/admin/work/edit/'+work.id"><i class="fa fa-edit"></i> Szerkesztés</router-link></td>
                    <td><router-link target="_blank" class="btn btn-success" :to="getLink(work)"><i class="fa fa-globe"></i> Weboldal</router-link></td>
                    <td ></td>
                  </tr>
                </template>
                <div v-if="loaded && !model.length" class="text-center text-danger">A projekthez nem tartozik hírdetés</div>
              </table>
            </div>
            <div class="modal-footer ">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Bezár</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
    name: 'ProjectWorkModal',
    data () {
        return {
            model: [],
            categories: [],
            loaded: false
        }
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/project/get-work/`
        }
    },
    components: { },
    methods: {
        getWork (projectId) {
            this.axios.get(this.url + projectId).then((resp) => {
                this.model = resp.data.data
                this.categories = resp.data.categories
                this.loaded = true
            })
        },
        getLink (work) {
            let link = '/munkak'
            const subCategory = this.categories.find(f => f.id === work.work_category_id)
            const headCategory = this.categories.find(f => f.id === subCategory.parent_id)
            link += '/' + headCategory.slug + '/' + subCategory.slug + '/' + work.slug
            return link
        }
    },
    mounted: function () {
        const self = this
        this.$eventHub.$on('openProjectWork', function (id) {
            self.model = []
            self.loaded = false
            self.getWork(id)

            window.$('#projectWorkModal').modal('show')
        })
    }

}
</script>
