<template>
  <div>
  <nav>
    <div class = "nav nav-tabs nav-fill" id = "nav-tab" role = "tablist">
      <a class = "nav-item nav-link active" @click="selectedTab='active-1'" id = "nav-section1" data-toggle = "tab" href = "#active" role = "tab" aria-controls = "nav-home" aria-selected = "true">Aktív - toborzást igényel</a>
      <a class = "nav-item nav-link" @click="selectedTab='active-2'" id = "nav-section4" data-toggle = "tab" href = "#active2" role = "tab" aria-controls = "nav-home" aria-selected = "false">Aktív - nem igényel toborzást</a>
      <a class = "nav-item nav-link" @click="selectedTab='inactive'" id = "nav-section2" data-toggle = "tab" href = "#inactive" role = "tab" aria-controls = "nav-profile" aria-selected = "false">Inaktív</a>
      <a class = "nav-item nav-link" @click="selectedTab='completed'" id = "nav-section3" data-toggle = "tab" href = "#completed" role = "tab" aria-controls = "nav-contact" aria-selected = "false">Teljesítve</a>
    </div>
  </nav>
  <div class = "tab-content py-3 px-3 px-sm-0" id = "nav-tabContent">
    <ProjectWorkModal></ProjectWorkModal>
    <div class = "tab-pane fade show active container-fluid" id = "active" role = "tabpanel" aria-labelledby = "nav-home-tab" v-if="selectedTab=='active-1'">
      <div class="table-responsive">
        <BaseDatatable v-if="loaded" :multiple-actions="multipleAction" :module="`project`" :apiurl="url" :list-url="`${url}/index?status=0&student-diff=1`" :fields="fields"></BaseDatatable>
      </div>
    </div>
    <div class = "tab-pane fade show active container-fluid" id = "active2" role = "tabpanel" aria-labelledby = "nav-home-tab" v-if="selectedTab=='active-2'">
      <div class="table-responsive">
      <BaseDatatable v-if="loaded" :multiple-actions="multipleAction" :module="`project`" :apiurl="url" :list-url="`${url}/index?status=0&student-diff=2`" :fields="fields"></BaseDatatable>
      </div>
    </div>
    <div class = "tab-pane fade show active container-fluid" id = "inactive" role = "tabpanel" aria-labelledby = "nav-home-tab" v-if="selectedTab=='inactive'">
      <div class="table-responsive">
      <BaseDatatable v-if="loaded" :multiple-actions="multipleAction" :module="`project`" :apiurl="url" :list-url="`${url}/index?status=1`" :fields="fields"></BaseDatatable>
      </div>
    </div>
    <div class = "tab-pane fade show active container-fluid" id = "completed" role = "tabpanel" aria-labelledby = "nav-home-tab" v-if="selectedTab=='completed'">
      <div class="table-responsive">
      <BaseDatatable v-if="loaded" :multiple-actions="multipleAction" :module="`project`" :apiurl="url" :list-url="`${url}/index?status=2`" :fields="fields"></BaseDatatable>
      </div>
    </div>
  </div>
  </div>
</template>

<script>
import BaseDatatable from '../../../../../../resources/js/components/BaseDatatable'
import ProjectWorkModal from './ProjectWorkModal.vue'
export default {
    name: 'ProjectList',
    props: ['url'],
    components: { BaseDatatable, ProjectWorkModal },
    data () {
        return {
            selectedTab: 'active-1',
            loaded: true,
            multipleAction: {

            },
            apiurl: this.url,
            fields: [
                {
                    name: 'company',
                    sortField: 'company_name',
                    title: this.$translate.t('Cég')
                },
                {
                    name: '__slot:priority',
                    sortField: 'priority',
                    title: this.$translate.t('Fontosság')
                },
                {
                    name: '__slot:completion',
                    sortField: 'completion',
                    title: this.$translate.t('Állapot')
                },
                {
                    name: 'industry',
                    sortField: 'industry_name',
                    title: this.$translate.t('Tevékenység')
                },
                {
                    name: 'name',
                    sortField: 'name',
                    title: this.$translate.t('Azonosító')
                },
                {
                    name: 'user',
                    dataClass: 'nowrap',
                    sortField: 'user',
                    title: this.$translate.t('Felelős')
                },
                {
                    name: 'comment',
                    sortField: 'comment',
                    title: this.$translate.t('Megjegyzés')
                },
                {
                    name: '__slot:number_of_employees',
                    sortField: 'number_of_employees',
                    title: this.$translate.t('Létszám')
                },
                {
                    name: 'worker',
                    sortField: 'worker',
                    title: this.$translate.t('Dolgozik')
                },
                {
                    name: 'deadline',
                    sortField: 'deadline',
                    title: this.$translate.t('Határidő')
                },
                {
                    name: 'schedule',
                    sortField: 'schedule',
                    title: this.$translate.t('Beosztás?')
                },
                {
                    name: '__slot:component',
                    componentName: 'ProjectAction',
                    title: this.$translate.t('Művelet')
                }
            ]
        }
    }
}
</script>
