<template>
    <ProjectForm v-if="Object.keys(model).length > 0" :url="url" :model="model"></ProjectForm>
</template>

<script>
import ProjectForm from './ProjectForm'
import Project from './Project'

export default {
    name: 'ProjectCreate',
    extends: Project,
    data () {
        return {
            model: {}
        }
    },
    components: { ProjectForm },
    beforeMount: function () {
        this.handleCreate('projects', this.url, {})

        this.getProject()
    }
}
</script>
