<template>
  <div>
    <button class="btn btn-outline-success btn-md p-3 m-1" data-toggle="modal" data-target="#recruitModal"><i class="fa fa-plus-circle" title="Toborzás"></i> </button>
    <div class="modal fade" id="recruitModal" tabindex="-1" role="dialog" >
      <div class="modal-dialog modal-dialog-centered"  role="document" style="max-width: 60%">
        <div class="modal-content">
          <div class="modal-header bg-warning">
            <h5 class="modal-title">Diákok toborzása</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <i aria-hidden="true" class="ki ki-close"></i>
            </button>
          </div>
          <div class="modal-body p-4">
            <div class="row">
              <div class="col-md-6">
              <FormInput :title="'Keresés'" v-model="search" v-on:keyupEvent="onSearch($event)"></FormInput>
              </div>
            </div>
            <div class="row">
            <div class="col-12">
              <table class="table table-bordered table-condensed">
                <tr>
                  <th>MADS azonsoító</th>
                  <th>Név</th>
                  <th>Email</th>
                  <th>Telefon</th>
                  <th>Művelet</th>
                </tr>
                <tr v-for="student in data.data" v-bind:key="'student_data-'+student.id">
                  <td>{{student.id}}</td>
                  <td>{{student.name}}</td>
                  <td>{{student.email}}</td>
                  <td>{{student.phone}}</td>
                  <td><button class="btn btn-xs btn-success" @click="recruitStudent(student.id)"><i class="fa fa-plus"></i> </button> </td>
                </tr>
              </table>
            </div>
          </div>
          <div class="modal-footer ">
            <button type="button" class="btn btn-primary" data-dismiss="modal" @click="$emit('refresh')">Kész</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</template>
<script>
import FormSelect from '../../../../../../resources/js/components/form/FormSelect'
import FormInput from '../../../../../../resources/js/components/form/FormInput.vue'
export default {
    name: 'RecruitModal',
    props: ['project_id'],
    components: { FormSelect, FormInput },
    data () {
        return {
            search: null,
            data: []
        }
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/project`
        }
    },
    watch: {
        model: {
            handler: function (val, oldVal) {
                if (val !== oldVal) {
                    this.localModel = val
                }
            }
        }
    },
    methods: {
        onSearch (event) {
            if (this.search.length > 2) {
                this.loading = true
                const self = this
                clearTimeout(this.timeout)
                // simulate getting search result
                console.log(self.search)
                this.timeout = setTimeout(() => {
                    self.axios.get(`${process.env.MIX_APP_URL}/api/v1/student/index?per_page=10&search=` + this.search).then(resp => {
                        self.data = resp.data
                        self.loading = false
                    })
                }, 500)
            }
        },
        recruitStudent (id) {
            this.axios.post(this.url + '/recruit', { project_id: this.project_id, student_id: id }).then((resp) => {
                let temp = []
                if (this.model && this.model.list && this.model.list.length) {
                    temp = this.model.list
                }
                temp.push(resp.data.data)
                this.model.list = JSON.parse(JSON.stringify(temp))
                this.list = JSON.parse(JSON.stringify(temp))
                localStorage.setItem('recruit', JSON.stringify(this.model))
            })
        }
    },
    created () {}
}
</script>
