<template>
    <div class="table-responsive">
        <BaseDatatable v-if="loaded" :multiple-actions="multipleAction" :module="`email`" :apiurl="url" :list-url="`${url}/index`" :fields="fields"></BaseDatatable>
    </div>
</template>

<script>
import BaseDatatable from '../../../../../../resources/js/components/BaseDatatable'
export default {
    name: 'EmailList',
    props: ['url'],
    components: { BaseDatatable },
    data () {
        return {
            loaded: true,
            multipleAction: {},
            apiurl: this.url,
            fields: [
                {
                    name: 'subject',
                    sortField: 'subject',
                    title: this.$translate.t('Tárgy')
                },
                {
                    name: 'recipient_name',
                    sortField: 'recipient_name',
                    title: this.$translate.t('Cimzett')
                },
                {
                    name: 'sent_date',
                    sortField: 'sent_date',
                    title: this.$translate.t('Küldés időpontja')
                },
                {
                    name: 'viewed',
                    sortField: 'viewed',
                    title: this.$translate.t('Megtekintve')
                },
                {
                    name: '__slot:action_view',
                    title: this.$translate.t('Actions')
                }
            ]
        }
    }
}
</script>
