<template>
    <div >
    <div class="modal fade" id="sendCVEmailModal" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-lg  modal-dialog-centered" role="document">
            <div class="modal-content ">
                <div class="modal-header bg-warning">
                    <h5 class="modal-title">CV továbbítás</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body p-4" v-if="model">
                    <div class="row">
                        <div class="col-md-12  mb-3">
                            <FormInput v-model="model.recipient_name"  :title="$t('Cimzett')"></FormInput>
                        </div>
                        <div class="col-md-12  mb-3">
                            <FormInput v-model="model.recipients"  :title="$t('Email')"></FormInput>
                        </div>
                        <div class="col-md-12">
                            <FormInput v-model="model.subject"  :title="$t('Tárgy')"></FormInput>
                        </div>
                        <div class="col-md-12 p-2 mb-3 ">
                            Csatolmányok:
                            <div class="m-2">
                           <span class="m-1 d-inline-block" style="white-space:nowrap;height:30px;background: aliceblue;padding: 3px;border: solid 1px;border-radius: 5px;margin: 2px;"  >
                               {{model.cv_name}}
                           </span>
                            </div>
                        </div>
                        <div class="col-12">
                            <FormWyswygEditor v-model="model.content"  :title="$t('Tartalom')"></FormWyswygEditor>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-dark"  data-dismiss="modal">Bezár</button>
                    <button class="btn btn-success"   @click="sendEmail" >Küldés</button>
                </div>
            </div>
        </div>
    </div>
    </div>
</template>

<script>
import FormInput from '../../../../../../resources/js/components/form/FormInput'
import FormWyswygEditor from '../../../../../../resources/js/components/form/FormWyswygEditor'
import FormDropZone from '../../../../../../resources/js/components/form/FormDropZone'
import FormSelect from '../../../../../../resources/js/components/form/FormSelect'

export default {
    name: 'EmailCvModal',
    data () {
        return {
            refreshDropzone: false,
            status_id: null,
            status_list: [],
            sablon_list: [],
            model: {
                cv: null,
                cv_name: null,
                recipients: null
            }

        }
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/email`
        }
    },
    components: { FormInput, FormWyswygEditor, FormDropZone, FormSelect },
    methods: {
        sendEmail () {
            this.axios.post(this.url + '/send-email-cv', this.model).then(() => {
                window.$('#sendCVEmailModal').modal('hide')
            })
        }
    },
    created () {

    },
    watch: {
    },
    mounted () {
        const self = this
        self.$eventHub.$on('sendCVEmailModal', function (data) {
            console.log(data)
            self.model.cv_name = data.data.cv_name
            self.model.cv = data.data.cv
            self.model.name = data.data.name
            window.$('#sendCVEmailModal').modal('show', { backdrop: 'static', keyboard: false })
        })
    }
}
</script>
