<template>
    <div >
    <div class="modal fade" id="sendEmailModal" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-lg  modal-dialog-centered" role="document">
            <div class="modal-content ">
                <div class="modal-header bg-warning">
                    <h5 class="modal-title">Üzenet írása</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body p-4" v-if="model">
                    <div class="row">
                        <div class="col-md-12  mb-3">
                            Címzettek: <span class="badge badge-info">{{model.recipients.length}}</span> <br/>
                            <div class="m-2">
                           <span class="m-1 d-inline-block" style="white-space:nowrap;height:30px;background: aliceblue;padding: 3px;border: solid 1px;border-radius: 5px;margin: 2px;"  v-for="(r,index) in model.recipients" v-bind:key="'rec-'+index">
                               {{r.name}} <i class="fa fa-trash" @click="removeReicipent(r)"></i>
                           </span>
                            </div>

                        </div>
                        <div class="col-md-12">
                            <FormInput v-model="model.subject"  :title="$t('Tárgy')"></FormInput>
                        </div>
                        <div class="col-md-12" v-if="status_id" >
                          <FormSelect v-model="model.project_sablon_id"  :title="$t('Projekt sablon')" :options="status_list"></FormSelect>
                        </div>
                        <div class="col-md-12 p-2 mb-3 ">
                            Csatolmányok:
                            <div class="m-2">
                           <span class="m-1 d-inline-block" style="white-space:nowrap;height:30px;background: aliceblue;padding: 3px;border: solid 1px;border-radius: 5px;margin: 2px;"  v-for="(a,index) in model.attachments" v-bind:key="'attach-'+index">
                               {{a.name}}
                           </span>
                            </div>
                            <div class="col-md-12">
                                <FormDropZone v-if="!refreshDropzone" v-model="model.path"  v-on:success-full="changePath($event)" v-on:remove="remove($event)" :acceptedFiles="null" :max-files="5" url="/api/v1/upload-private-file?dir=email" :options = "{acceptedFiles:null}" ></FormDropZone>
                            </div>
                        </div>
                        <div class="col-12">
                            <FormWyswygEditor v-model="model.content"  :title="$t('Tartalom')"></FormWyswygEditor>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-dark"  data-dismiss="modal">Bezár</button>
                    <button class="btn btn-success" :disabled="!model.recipients.length" @click="sendEmail" >Küldés</button>
                </div>
            </div>
        </div>
    </div>
    </div>
</template>

<script>
import FormInput from '../../../../../../resources/js/components/form/FormInput'
import FormWyswygEditor from '../../../../../../resources/js/components/form/FormWyswygEditor'
import FormDropZone from '../../../../../../resources/js/components/form/FormDropZone'
import FormSelect from '../../../../../../resources/js/components/form/FormSelect'

export default {
    name: 'EmailModal',
    data () {
        return {
            refreshDropzone: false,
            status_id: null,
            status_list: [],
            sablon_list: [],
            model: {

                recipients: [],
                attachments: []
            }

        }
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/email`
        }
    },
    components: { FormInput, FormWyswygEditor, FormDropZone, FormSelect },
    methods: {
        changePath (event) {
            console.log(event)
            this.model.attachments.push(event)
        },
        remove (event) {
            this.model.attachments = this.model.attachments.filter(f => f.name !== event.filename)
        },
        sendEmail () {
            this.axios.post(this.url + '/send-email', this.model).then(() => {
                window.$('#sendEmailModal').modal('hide')
                this.refreshDropzone = true
                setTimeout(() => {
                    this.refreshDropzone = false
                }, 1000)
            })
        },
        removeReicipent (r) {
            this.model.recipients = this.model.recipients.filter(f => f.email !== r.email)
        }
    },
    created () {

    },
    watch: {
        'model.project_sablon_id': {
            handler: function (val, oldVal) {
                if (val !== oldVal) {
                    console.log(this.sablon_list.filter(s => s.id === val))
                    this.model.content = this.sablon_list.filter(s => s.id === val)[0].content
                }
            },
            deep: true
        }
    },
    mounted () {
        const self = this
        self.$eventHub.$on('sendEmailModal', function (recepients) {
            self.model.recipients = recepients.recipients
            if (recepients.status_id) {
                self.status_id = recepients.status_id
                self.axios.get(self.url.replace('email', 'projectemailsablon/index?sort=&page=1&per_page=150&status_id=') + recepients.status_id).then(resp => {
                    self.sablon_list = resp.data.data
                    self.status_list = []
                    self.sablon_list.forEach(sablon => {
                        self.status_list.push({ id: sablon.id, name: sablon.name })
                    })
                })
            }
            window.$('#sendEmailModal').modal('show', { backdrop: 'static', keyboard: false })
        })
    }
}
</script>
