<template>
    <div style="margin-top:-60px">
        <div class="alert alert-custom alert-white alert-shadow kt-portlet" role="alert">

            <h3 class="text-info pull-left">{{ $t('Email') }}  <router-link to="/admin/email/index" class="btn btn-default pull-right">Vissza </router-link></h3>

        </div>
        <div class="kt-portlet">
            <div class="kt-portlet__body">
                <div class="kt-form kt-form--label-right">
                    <div class="kt-form__body">
                        <div class="row">
                            <div class="col-md-6">
                                <table class="table table-bordered table-condensed">
                                    <tr>
                                        <th>Címzett</th>
                                        <th>Elküldve</th>
                                        <th>Megtekintve</th>
                                    </tr>
                                    <tbody>
                                    <tr v-for="(r, index) in model.data" v-bind:key="'recipients-'+index">
                                        <td>{{r.recipient_name}} {{r.recipient_email}}</td>
                                        <td>{{r.sent_date}}</td>
                                        <td>{{r.view_date}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-6">
                                <h3>Csatolmányok</h3>
                                <ul class="list-group">
                                    <li v-for="(a,index) in model.attachments" v-bind:key ="'attach-'+index" class="list-group-item"><a :href="link(a.path)" target="_blank"> {{a.name}}</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row" v-if="model">

                            <div class="col-12" v-html="model.content"></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
</template>

<script>

export default {
    name: 'EmailView',
    data () {
        return {
            model: {}

        }
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/email`
        }
    },
    methods: {
        link (link) {
            return '/api/v1/get-any-document/' + link + '?api_token=' + $cookies.get('token')
        }
    },
    components: {},
    created () {

    },
    mounted () {
        let id = 0
        if (this.$route.params.id) {
            id = this.$route.params.id
        }

        this.axios.get(this.url + '/show/' + id).then((response) => {
            this.model = response.data
        })
    }
}
</script>
