<template>
  <div class = "col-12">
    <div>
      <button class = "btn btn-success" @click="openTenderModal()">Új Tender összeg</button>
    </div>
    <TenderForm :url="url" v-on:refresh="getTender" :model = "selected"></TenderForm>
    <div class = "table-responsive">
      <table class = "table table-bordered table-responsive0">

        <tr>
          <th>Keret</th>
          <th>Kezdete</th>
          <th>Vége</th>
          <th>Művelet</th>
        </tr>
        <tbody>
        <tr v-for = "item in list" v-bind:key = "'Site-'+item.id">
          <td><Price :value="item.frame_limit"></Price></td>
          <td>{{ item.start }}</td>
          <td>{{ item.end }}</td>
          <td>
            <button class="btn btn-outline btn-sm btn-primary" @click="openTenderModal(item)"><i  class="la la-edit"></i></button>
            <DeleteConfirm v-on:delete="deleteSite(item.id)"></DeleteConfirm>
          </td>
        </tr>
        <tr v-if="!list.length">
          <td colspan="5" class="text-center">Nincs adat</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import TenderForm from './TendersForm'
import Price from '../../../../../../../resources/js/components/Price'
import DeleteConfirm from '../../../../../../../resources/js/components/DeleteConfirm'

export default {
    name: 'TenderList',
    props: ['company_id'],
    components: { TenderForm, DeleteConfirm, Price },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/tender`
        }
    },
    data () {
        return {
            list: [],
            fields: {},
            selected: {}
        }
    },
    methods: {
        getTender () {
            this.axios.get(this.url + '/list/' + this.company_id).then(resp => {
                this.list = resp.data.data
            })
        },
        openTenderModal (model) {
            if (!model) {
                this.selected = {}
                this.selected.company_id = this.company_id
            } else {
                this.selected = JSON.parse(JSON.stringify(model))
            }
            window.$('#tenderModal').modal('show')
        },
        deleteSite (id) {
            this.axios.delete(this.url + '/delete/' + id).then(resp => {
                this.getTender()
            })
        }
    },
    created () {
        this.getTender()
    }
}
</script>
