<template>
  <div>
    <div class="modal fade" id="tenderModal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header bg-warning">
            <h5 class="modal-title">Tender</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <i aria-hidden="true" class="ki ki-close"></i>
            </button>
          </div>
          <div class="modal-body p-4">
            <div class="row">
            <div class="col-12">
              <FormNumberInput v-model="localModel.frame_limit" :title="'Keret összeg'"></FormNumberInput>
            </div>
              <div class="col-6">
                <FormMonthPicker v-model="localModel.start" :title="'Kezdete'"></FormMonthPicker>
              </div>
                <div class="col-6">
                    <FormMonthPicker v-model="localModel.end" :title="'Vége'"></FormMonthPicker>
                </div>
          </div>
          <div class="modal-footer ">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Mégse</button>
            <button type="button" class="btn btn-success" @click="save()">Hozzáad</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</template>

<script>
import FormNumberInput from '../../../../../../../resources/js/components/form/FormNumberInput'
import FormMonthPicker from '../../../../../../../resources/js/components/form/FormMonthPicker'
export default {
    name: 'TenderForm',
    props: {
        url: {
            required: true,
            type: String
        },
        model: {
            required: true,
            type: Object
        }
    },
    components: { FormNumberInput, FormMonthPicker },
    data () {
        return {
            localModel: {}
        }
    },
    watch: {
        model: {
            handler: function (val, oldVal) {
                if (val !== oldVal) {
                    this.localModel = val
                }
            }
        }
    },
    methods: {
        save () {
            if (this.model.id) {
                this.axios.post(this.url + '/edit/' + this.model.id, this.localModel).then(() => {
                    this.$emit('refresh', true)
                    window.$('#tenderModal').modal('hide')
                })
            } else {
                this.axios.put(this.url + '/edit', this.localModel).then(() => {
                    this.$emit('refresh', true)
                    window.$('#tenderModal').modal('hide')
                })
            }
        }
    },

    created () {},
    mounted () {}
}
</script>
