<template>
    <div>
        <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
          <div class="table-responsive">
            <BaseDatatable v-if="loaded" :multiple-actions="multipleAction" :module="`student`" :apiurl="url" :list-url="`${url}/student-register`" :fields="fields"></BaseDatatable>
        </div>
        </div>
        <StudentComment v-on:commented="refresh()"></StudentComment>
    </div>
</template>

<script>
import BaseDatatable from '../../../../../../../resources/js/components/BaseDatatable'
import StudentComment from '../StudentComment'
export default {
    name: 'StudentRegister',
    props: ['url'],
    components: { StudentComment, BaseDatatable },
    methods: {
        refresh () {
            const self = this
            self.loaded = false
            setTimeout(function () {
                self.loaded = true
            }, 100)
        }
    },
    data () {
        return {
            loaded: true,
            multipleAction: {
            },
            selectedTab: 'all',
            apiurl: this.url,
            fields: [
                {
                    name: '__slot:component',
                    componentName: 'StudentStatus',
                    title: this.$translate.t('Figyelmeztetések')
                },
                {
                    name: 'name',
                    sortField: 'name',
                    title: this.$translate.t('Név')
                },
                {
                    name: 'tax_number',
                    sortField: 'tax_number',
                    title: this.$translate.t('Adószám')
                },
                {
                    name: '__slot:phone',
                    sortField: 'phone',
                    title: this.$translate.t('Mobil')
                },
                {
                    name: '__slot:emailModal',
                    sortField: 'email',
                    title: this.$translate.t('E-mail')
                },
                {
                    name: 'registration_link_sended',
                    sortField: 'registration_link_sended',
                    title: this.$translate.t('Regisztráció kiküldve')
                },
                {
                    name: 'registration_created',
                    sortField: 'registration_created',
                    title: this.$translate.t('Regisztrációt kitöltötte')
                },
                {
                    name: '__slot:commentStudent',
                    sortField: 'comment',
                    title: this.$translate.t('Megjegyzés?')
                },
                {
                    name: '__slot:component',
                    componentName: 'StudentAction',
                    title: this.$translate.t('Actions')
                }
            ]
        }
    }
}
</script>
