<template>
    <div>
        <div class="alert alert-custom alert-white alert-shadow kt-portlet" role="alert">

            <h3 class="text-info">{{ $t('Számlák') }}</h3>
        </div>
        <div class="kt-portlet pt-3">
            <div class="kt-portlet__body">
                <div class="kt-form kt-form--label-right">
                    <div class="kt-form__body">
                        <div class="row">
                            <div class="col-md-6">
                                <FormSelect v-model="model.invoice_transporter_id" :title="$t('Szállító')"
                                            v-if="model && model.selectables && model.selectables.invoicetransporter"
                                            :options="model.selectables.invoicetransporter"></FormSelect>
                            </div>
                            <div class="col-md-6">
                                <FormDatePicker v-model="model.invoice_date"
                                                :title="$t('Számla kelte')"></FormDatePicker>
                            </div>
                            <div class="col-md-6">
                                <FormInput v-model="model.invoice_number" :title="$t('Számla sorszáma')"></FormInput>
                            </div>
                            <div class="col-md-6">
                                <FormDatePicker v-model="model.payment_deadline"
                                                :title="$t('Fizetési határidő')"></FormDatePicker>
                            </div>
                            <div class="col-md-6">
                                <FormDatePicker v-model="model.completion_date"
                                                :title="$t('Teljesítés dátuma')"></FormDatePicker>
                            </div>
                            <div class="col-md-6">
                                <FormInput v-model="model.subject" :title="$t('Tárgy')"></FormInput>
                            </div>
                            <div class="col-md-6">
                                <FormInput v-model="model.net" :title="$t('Nettó')"></FormInput>
                            </div>
                            <div class="col-md-6">
                                <FormInput v-model="model.vat" :title="$t('Áfa értéke')"></FormInput>
                            </div>
                            <div class="col-md-6">
                                <FormInput v-model="model.gross" :title="$t('Bruttó')"></FormInput>
                            </div>
                            <div class="col-md-6">
                                <FormInput v-model="model.pay" :title="$t('Fizetendő')"></FormInput>
                            </div>
                            <div class="col-md-6">
                                <FormInput v-model="model.payed" :title="$t('Fizetve')"></FormInput>
                            </div>
                            <div class="col-md-6">
                                <FormDatePicker v-model="model.payed_date"
                                                :title="$t('Fizetés dátuma')"></FormDatePicker>

                            </div>
                          <div class="col-md-6">
                            <FormDropZone  v-model="model.file"  v-on:success="changePath($event)" :student="false"  max-files="1" acceptedFiles="application/pdf" :url="'/api/v1/upload-private-file?dir=invoice'" :option="{}" :title="'Húzd ide a dokumentumot'"></FormDropZone>
                          </div>
                          <div class="col-md-6">
                            <button class="btn btn-info" v-if="model.file" @click="openPdf(model.file)"><i class="fa fa-eye"></i> </button>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import FormSelect from '../../../../../../resources/js/components/form/FormSelect'
import FormDatePicker from '../../../../../../resources/js/components/form/FormDatePicker'
import FormInput from '../../../../../../resources/js/components/form/FormInput'
import FormDropZone from '../../../../../../resources/js/components/form/FormDropZone'
export default {
    name: 'InvoiceForm',
    props: {
        url: {
            required: true,
            type: String
        },
        model: {
            required: true,
            type: Object
        }
    },
    data () {
        return {}
    },
    computed: {
        languages: function () {
            const l = []
            for (const it in this.$store.state.defaultStore.languages) {
                l.push(it)
            }
            return l
        }
    },
    components: { FormSelect, FormDatePicker, FormInput, FormDropZone },
    methods: {
        changePath ($event) {
            this.model.file = $event
        },
        openPdf (link) {
            this.$eventHub.$emit('openPDF', link)
        }
    },
    created () {
    },
    mounted () {
    }
}
</script>
