<template>
    <div>
      <div class="row">
        <div class="col-8"></div>
        <div class="col-4"> <a :href="excelLink" target="_blank" class="btn btn-warning pull-right"><i class="fa fa-file-excel"></i> Letöltés</a></div>
      </div>
      <div class="table-responsive">
        <BaseDatatable v-if="loaded" :multiple-actions="multipleAction" :module="`invoices`" :apiurl="url" :list-url="`${url}/index`" :fields="fields"></BaseDatatable>
      </div>
    </div>
</template>

<script>
import BaseDatatable from '../../../../../../resources/js/components/BaseDatatable'
export default {
    name: 'InvoiceList',
    props: ['url'],
    components: { BaseDatatable },
    computed: {
        excelLink: function () {
            return '/api/v1/invoice/export' + '?' + (window.location.href.split('?')[1] ? window.location.href.split('?')[1] : '')
        }
    },
    data () {
        return {
            loaded: true,
            multipleAction: {
                localStorageVariable: 'selectedInvoice', // milyen local Storagebe rakja
                trackBy: 'id', // milyik oszlopot figyelje
                actions: [
                    {
                        name: this.$translate.t('Delete'),
                        trigger: 'bulkDelete'
                    }
                ]
            },
            apiurl: this.url,
            fields: [
                {
                    name: 'id',
                    sortField: 'id',
                    title: this.$translate.t('ID')
                },
                {
                    name: 'invoice_transporter_id',
                    sortField: 'invoice_transporter_id',
                    title: this.$translate.t('Szállító')
                },
                {
                    name: 'invoice_date',
                    sortField: 'invoice_date',
                    title: this.$translate.t('Számla kelte')
                },
                {
                    name: 'invoice_number',
                    sortField: 'invoice_number',
                    title: this.$translate.t('Számla sorszáma')
                },
                {
                    name: 'payment_deadline',
                    sortField: 'payment_deadline',
                    title: this.$translate.t('Fizetési határidő')
                },
                {
                    name: 'completion_date',
                    sortField: 'completion_date',
                    title: this.$translate.t('Teljesítés dátuma')
                },
                {
                    name: 'subject',
                    sortField: 'subject',
                    title: this.$translate.t('Tárgy')
                },
                {
                    name: 'net',
                    sortField: 'net',
                    title: this.$translate.t('Nettó')
                },
                {
                    name: 'gross',
                    sortField: 'gross',
                    title: this.$translate.t('Bruttó')
                },
                {
                    name: 'payed',
                    sortField: 'payed',
                    title: this.$translate.t('Fizetve')
                },
                {
                    name: 'payed_date',
                    sortField: 'payed_date',
                    title: this.$translate.t('Fizetés dátuma')
                },
                {
                    name: '__slot:actions',
                    title: this.$translate.t('Actions')
                }
            ]
        }
    }
}
</script>
