<template>
    <InvoiceForm v-if="Object.keys(model).length > 0" :url="url" :model="model"></InvoiceForm>
</template>

<script>
import InvoiceForm from './InvoiceForm'
import Invoice from './Invoice'

export default {
    name: 'InvoiceCreate',
    extends: Invoice,
    data () {
        return {
            model: {}
        }
    },
    components: { InvoiceForm },
    beforeMount: function () {
        this.handleCreate('invoices', this.url, {})

        this.getInvoice()
    }
}
</script>
