<template>
  <div>
    <div class = "alert alert-custom alert-white alert-shadow kt-portlet" role = "alert">

      <h3 class = "text-info">{{ $t('Fontos infók') }}</h3>
    </div>
    <div class = "kt-portlet">
      <div class = "kt-portlet__body">
        <div class = "kt-form kt-form--label-right">
          <div class = "kt-form__body">
            <div class = "row">
              <div class = "col-md-6" >
                <FormInput v-model="model.name"  :title="$t('Megnevezés')"></FormInput>
              </div>
              <div class = "col-md-6" >
                <FormDropZone  v-model="model.file"  v-on:success="changePath($event)" :student="false"  max-files="1" acceptedFiles="application/pdf" :url="'/api/v1/upload-private-file?dir=important-dokument'" :option="{}" :title="'Húzd ide a dokumentumot'"></FormDropZone>
                <a v-if="model.file" href="#" class="btn btn-primary" @click.prevent="openPdf('/'+model.file)"><i class="fa fa-file-pdf"></i></a>
              </div>
              <div class = "col-md-12" >
                <FormWyswygEditor v-model="model.content"  :title="$t('Tartalom')"></FormWyswygEditor>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
import FormInput from '../../../../../../resources/js/components/form/FormInput'
import FormWyswygEditor from '../../../../../../resources/js/components/form/FormWyswygEditor'
import FormDropZone from '../../../../../../resources/js/components/form/FormDropZone'

export default {
    name: 'ImportantInfoForm',
    props: {
        url: {
            required: true,
            type: String
        },
        model: {
            required: true,
            type: Object
        }
    },
    data () {
        return {

        }
    },
    computed: {
        languages: function () {
            const l = []
            for (const it in this.$store.state.defaultStore.languages) {
                l.push(it)
            }
            return l
        }
    },
    components: { FormInput, FormWyswygEditor, FormDropZone },
    methods: {
        changePath ($event) {
            console.log($event)
            this.model.file = $event
        },
        openPdf (link) {
            this.$eventHub.$emit('openPDF', link)
        }
    },
    created () {},
    mounted () {}
}
</script>
