<template>
    <ImportantInfoForm v-if="Object.keys(model).length > 0" :url="url" :model="model"></ImportantInfoForm>
</template>

<script>
import ImportantInfoForm from './ImportantInfoForm'
import ImportantInfo from './ImportantInfo'

export default {
    name: 'ImportantInfoCreate',
    extends: ImportantInfo,
    data () {
        return {
            model: {}
        }
    },
    components: { ImportantInfoForm },
    beforeMount: function () {
        this.handleCreate('important-info', this.url, {})

        this.getImportantInfo()
    }
}
</script>
