<template>
  <div class="card card-custom">
    <div class="card-header">
        <h3 class="card-label pull-left custom-title">Tanulmányok és végzettségek</h3>
      <div class="card-toolbar pull-right">
          <button class="btn btn-xs btn-primary d-inline" @click="selectSchoolDefault()">Ugyanaz a sulim, Tovább</button>
          <NewSchool class="d-inline" v-on:refresh="getStudentSchool" :student="student"  :education_areas="education_areas" :education_levels="education_levels" :education_types="education_types" :schools="school_list"></NewSchool>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-12 mb-3 border-primary">
          <div class="row">
            <div class="col-md-6 select-school" v-bind:class="{'selected':selectedSchool == s.id}"   v-for="s in schools" v-bind:key="'school-'+s.id" @click="selectSchool(s.id)">
              <h4 class="green p-3 text-white" >{{s.school}} </h4>
              <p class="bg-success-o-50  p-3" s><i class="fa fa-map-marker-alt"></i> {{s.school_address}}<br>
             {{s.education_area}}<br>
             {{s.education_level}}<br>
             {{s.education_type}}<br>
              {{s.start}} - {{s.end}}<br>
              </p>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</template>

<script>
import NewSchool from './NewSchool'

export default {
    name: 'StudentSchool',
    components: { NewSchool },
    props: ['student', 'selectedSchool'],
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/student`
        }
    },
    data () {
        return {
            schools: {},
            firstLoad: true,
            education_types: {},
            education_levels: {},
            education_areas: {},
            school_list: {}
        }
    },
    methods: {
        getStudentSchool () {
            if (!this.firstLoad) {
                this.newSchool()
            }
            this.axios.get(this.url + '/get-schools').then((response) => {
                this.schools = response.data.data
                this.education_types = response.data.education_types
                this.education_levels = response.data.education_levels
                this.education_areas = response.data.education_areas
                this.school_list = response.data.school_list
                this.firstLoad = false
            })
        },
        newSchool () {
            this.$emit('newSchool')
        },
        selectSchool (id) {
            this.$emit('selectSchool', id)
        },
        selectSchoolDefault () {
            const s = this.schools[this.schools.length - 1]
            this.selectedSchool = s.id
            this.$emit('selectSchool', s.id)
        }
    },
    mounted () {
        this.getStudentSchool()
    }
}
</script>

<style scoped>
.select-school:hover .bg-success-o-50{
  background: rgba(0, 0, 0, 0.03);
  cursor:pointer;
}
.select-school:hover .green, .select-school .selected{
  background: #16a085 !important;
}
.select-school .green{
   background: #2980b9 !important;
 }
.selected .bg-success-o-50{
  background: rgba(0, 0, 0, 0.03) !important;
}
.selected .green{
  background: #16a085 !important;
}
</style>
