<template>
  <div>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newSchool">
    Új iskola
  </button>
  <div class="modal fade" id="newSchool" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header green text-white">
          <h5 class="modal-title">Új iskola</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i aria-hidden="true" class="ki ki-close"></i>
          </button>
        </div>
        <div class="modal-body p-4">
          <div class="row">
            <div class = "col-md-12">
              <FrontendSelect v-model = "model.school_id" :title = "$t('Iskola')" :options = "schools" :select2="true"></FrontendSelect>
            </div>
            <div class = "col-md-12">
              <FrontendSelect v-model = "model.education_type" :title = "$t('Képzés típusa')"  :options = "education_types" ></FrontendSelect>
            </div>
            <div class = "col-md-6">
              <FrontendMonthPicker v-model = "model.start" :title = "$t('Kezdés')"></FrontendMonthPicker>
            </div>
            <div class = "col-md-6">
              <FrontendMonthPicker v-model = "model.end" :title = "$t('Várható befejezés')"></FrontendMonthPicker>
            </div>
            <div class = "col-md-12">
              <FrontendSelect v-model = "model.education_area_id" :title = "$t('Képzési terület')"  :options = "education_areas" :select2="true"></FrontendSelect>
            </div>
            <div class = "col-md-12">
              <FrontendSelect v-model = "model.education_level_id" :title = "$t('Képzési szint')"  :options = "education_levels" :select2="true"></FrontendSelect>
            </div>
          </div>
        </div>
        <div class="modal-footer ">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Mégse</button>
          <button type="button" class="btn btn-success" @click="saveStudentSchool">Hozzáad</button>
        </div>
      </div>
    </div>
  </div>
  </div>
</template>

<script>

import FrontendInput from '../../../../../../../../../resources/js/frontend/components/form/FrontendInput'
import FrontendMonthPicker from '../../../../../../../../../resources/js/frontend/components/form/FrontendMonthPicker'
import FrontendSelect from '../../../../../../../../../resources/js/frontend/components/form/FrontendSelect'
export default {
    name: 'NewSchool',
    props: ['student', 'education_types', 'education_levels', 'education_areas', 'schools'],
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/student`
        }
    },
    components: { FrontendInput, FrontendMonthPicker, FrontendSelect },
    data () {
        return {
            model: {
            }
        }
    },
    methods: {
        saveStudentSchool () {
            this.model.start = this.model.start + '-01'
            this.model.end = this.model.end + '-01'
            this.axios.post(this.url + '/add-student-school/' + this.student.id, this.model).then((resp) => {
                this.$emit('refresh')
                this.model = {}
                window.$('#newSchool').modal('hide')
            })
        }
    }
}
</script>

<style scoped>

</style>
