<template>
  <div class="card card-custom">
    <div class="card-header">
        <h3 class="card-label pull-left custom-title">Tanulmányok és végzettségek</h3>
      <div class="card-toolbar pull-right" v-if="student.id && !student.exit_date">
          <NewSchool v-on:refresh="getStudentSchool" :student="student"  :education_areas="education_areas" :education_levels="education_levels" :education_types="education_types" :schools="school_list"></NewSchool>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-12 mb-3 border-primary">
          <div class="row">
            <div class="col-md-4 "  v-for="s in schools" v-bind:key="'school-'+s.id">
              <h4 class="green p-3 text-white" >{{s.school}} </h4>
              <p class="bg-success-o-50  p-3" s><i class="fa fa-map-marker-alt"></i> {{s.school_address}}<br>
             {{s.education_area}}<br>
             {{s.education_level}}<br>
             {{s.education_type}}<br>
              {{s.start}} - {{s.end}}<br>
              </p>
                <button type="button" class="btn btn-danger w-100" @click="deleteSchool(s.id)">Törlés</button>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</template>

<script>
import NewSchool from './NewSchool'

export default {
    name: 'StudentSchool',
    components: { NewSchool },
    props: ['student'],
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/student`
        }
    },
    data () {
        return {
            selectedSchool: null,
            schools: {},
            education_types: {},
            education_levels: {},
            education_areas: {},
            school_list: {}
        }
    },
    methods: {
        getStudentSchool () {
            this.axios.get(this.url + '/get-schools').then((response) => {
                this.schools = response.data.data
                this.education_types = response.data.education_types
                this.education_levels = response.data.education_levels
                this.education_areas = response.data.education_areas
                this.school_list = response.data.school_list
            })
        },
        deleteSchool (id) {
            this.axios.delete(this.url + '/delete-school/' + id).then((response) => {
                this.getStudentSchool()
            })
        }
    },
    mounted () {
        this.getStudentSchool()
    }
}
</script>

<style scoped>

</style>
