<template>
    <div class="form-group recze radio" v-bind:class="inputClass">
      <label class="radio-title" v-if="title"><span v-if="badge" class="badge">{{badge}}</span>{{title}}</label>
        <div class="kt-radio-list">
            <label class="kt-radio" v-bind:class="{'is-invalid': hasError(name) ,'selected':localValue==index,'inactive':localValue && localValue!=index}" v-for="(item, index) in options" v-bind:key="index" >
                <input v-bind:readonly="readonly" v-bind:disabled="disabled" type="radio" v-model="localValue" :value="index" > {{item}}
                <span></span>
            </label>
        </div>
        <span class="form-text text-muted" v-if="helpText">{{helpText}}</span>
        <div class="invalid-feedback" v-for="message in filter(name)"
             v-bind:key="message">{{message}}
        </div>
    </div>
</template>

<script>
import FormControl from '../../../components/form/FormControl'

export default {
    name: 'FrontendCustomRadio',
    props: ['badge'],
    extends: FormControl
}
</script>
<style>
label.kt-radio {
  padding: 10px;
  font-size: 22px;
  border: solid 1px #2980b9;
  width: 45%;
  margin-right: 8px;
  background: #2980b9;
  color: white;
}
@media (max-width: 768px) {
  label.kt-radio {
    font-size: 16px !important;
    width: 45% !important;
  }
  .recze label.radio-title{
    font-size: 18px !important;
    width: 100% !important;

  }
}
label.kt-radio:hover {
  border: solid 1px #16a085 !important;
  background: #16a085 !important;
}
.recze label.radio-title{
  font-size: 24px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: dashed 3px #f39c12;
  width: 80%;
  padding-bottom: 5px;
}
label.kt-radio.selected {
  border: solid 1px #16a085 !important;
  background: #16a085 !important;
}
label.kt-radio.inactive {
  background: #bdc3c7;
  border: solid 1px #bdc3c7;
}
span.badge {
  float: left;
  font-size: 19px;
  border-radius: 50%;
  background: red;
  color: white;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
}
</style>
