<template>
    <div class="form-group" v-bind:class="inputClass">
        <label v-if="title">{{title}}</label>
        <div class="input-group">
        <input   v-bind:disabled="disabled" :type="type" class="form-control timepicker" v-bind:class="{'is-invalid': hasError(name)}" v-bind:placeholder="placeholder" v-model="localValue" v-bind:id="id">
            <div class="input-group-append">
                <span class="input-group-text" @click="localValue=null">
                    <i class="fa fa-trash"></i>
                </span>
            </div>
        </div>
        <span class="form-text text-danger" v-if="helpText">{{helpText}}</span>
        <div class="invalid-feedback" v-for="message in filter(name)"
             v-bind:key="message">{{message}}
        </div>
    </div>
</template>

<script>
import FormControl from '../../../components/form/FormControl'

export default {
    name: 'FrontendTimePicker',
    extends: FormControl,
    mounted: function () {
        var vm = this
        $(document).ready(function () {
            window.$(vm.$el)
                .find('.timepicker')
                // init select2
                .trigger('change')
                .trigger('input')
                .timepicker({
                    minuteStep: 15,
                    defaultTime: null,
                    showSeconds: false,
                    showMeridian: false,
                    clearBtn: true,
                    icons: {
                        up: 'fa fa-angle-up fa-2x',
                        down: 'fa fa-angle-down fa-2x'
                    }
                })
                .on('change', function () {
                    vm.$emit('input', window.$(vm.$el).find('.timepicker').val())
                    vm.$emit('change', window.$(vm.$el).find('.timepicker').val())
                })
        })
    },
    watch: {
        localValue: function (value) {
            window.$(this.$el)
                .find('.timepicker')
                .val(value)
                .trigger('change')
                .trigger('input')
        }
    }
}
</script>
