<template>
    <div class="form-group checkbox" v-bind:class="inputClass">
        <div class="checkbox-entry checkbox">

                <input type="checkbox" v-bind:readonly="readonly" v-bind:disabled="disabled"  v-model="localValue" >
            <label  v-bind:class="{'is-invalid': hasError(name)}">
                <div v-html="title"></div>
            </label>
        </div>
        <span class="form-text text-muted" v-if="helpText">{{helpText}}</span>
        <div class="invalid-feedback" v-for="message in filter(name)"
             v-bind:key="message">{{message}}
        </div>
    </div>
</template>

<script>
import FormControl from '../../../components/form/FormControl'

export default {
    name: 'FrontendSingleCheckbox',
    extends: FormControl

}
</script>
