<template>
    <div class="form-group" v-bind:class="inputClass">
        <label v-if="title">{{title}}</label>
        <input v-bind:readonly="readonly" v-bind:disabled="disabled" :type="type" class="form-control week" v-bind:class="{'is-invalid': hasError(name)}" v-bind:placeholder="placeholder" v-model="localValue" v-bind:id="id">
        <span class="form-text text-muted" v-if="helpText">{{helpText}}</span>
        <div class="invalid-feedback" v-for="message in filter(name)"
             v-bind:key="message">{{message}}
        </div>
    </div>
</template>

<script>
import FormControl from '../../../components/form/FormControl'

export default {
    name: 'FrontendWeekPicker',
    extends: FormControl,
    beforeDestroy () {
        var vm = this
        window.$(vm.window.$el)
            .find('.week')
            .datepicker('destroy')
    },
    mounted: function () {
        var startDate,
            endDate
        var vm = this
        $(document).ready(function () {
            window.$(vm.$el)
                .find('.week').datepicker({
                    autoclose: true,
                    format: 'yyyy-mm-dd',
                    weekStart: 1,
                    forceParse: true

                }).on('changeDate', function (e) {
                    var date = e.date
                    let add = 1

                    if (date.getDay() === 0) {
                        add = -6
                    }
                    startDate = new Date(date.getFullYear(), date.getMonth(), date.getDate() - date.getDay() + add)
                    endDate = new Date(date.getFullYear(), date.getMonth(), date.getDate() - date.getDay() + add + 7)

                    window.$('.week').datepicker('update', startDate)
                    window.$('.week').val((startDate.getFullYear() + '-' + (startDate.getMonth() + 1) + '-' + startDate.getDate()) + ' - ' + (endDate.getFullYear() + '-' + (endDate.getMonth() + 1) + '-' + endDate.getDate()))
                    vm.$emit('input', window.$(vm.$el).find('.week').val())
                    vm.$emit('change', window.$(vm.$el).find('.week').val())
                })
        })
    },
    watch: {
        localValue: function (value) {
            window.$(this.$el)
                .find('.week')
                .val(value)
                .trigger('change')
                .trigger('input')
        }
    }
}
</script>
