<template>
    <div class="form-group" v-bind:class="inputClass">
        <label v-if="title">{{title}}</label>
        <div class="input-group">
        <input v-bind:readonly="readonly" v-bind:disabled="disabled" :type="type" class="form-control date" v-bind:class="{'is-invalid': hasError(name)}" v-bind:placeholder="placeholder" v-model="localValue" v-bind:id="id">

        </div>
        <span class="form-text text-muted" v-if="helpText">{{helpText}}</span>
        <div class="invalid-feedback" v-for="message in filter(name)"
             v-bind:key="message">{{message}}
        </div>
    </div>
</template>

<script>
import FormControl from '../../../components/form/FormControl'
import moment from 'moment'
export default {
    name: 'FrontendDatePicker',
    extends: FormControl,
    mounted: function () {
        var vm = this
        $(document).ready(function () {
            window.$(vm.$el)
                .find('.date')
                // init select2
                .datepicker({
                    format: 'yyyy-mm-dd',
                    autoclose: true,
                    weekStart: 1,
                    forceParse: true,
                    locale: vm.$store.state.defaultStore.pageLanguage,
                    beforeShowDay: function (date) {
                        let dmy = date.getDay()
                        if (dmy === 0) {
                            dmy = 7
                        }
                        if (!vm.disabledDays || vm.disabledDays.length === 0) {
                            return true
                        }
                        if (vm.disabledDays.includes(dmy)) {
                            return true
                        } else {
                            return false
                        }
                    },
                    minDate: (vm.startDate) ? vm.startDate : moment().startOf('hour')
                })
                .on('changeDate', function () {
                    vm.$emit('input', window.$(vm.$el).find('.date').val())
                    vm.$emit('change', window.$(vm.$el).find('.date').val())
                })
        })
    },
    watch: {
        localValue: function (value) {
            window.$(this.$el)
                .find('.date')
                .val(value)
                .trigger('change')
                .trigger('input')
        }
    }
}
</script>
