<template>
  <div class="form-group" v-bind:class="inputClass">
        <label v-if="title">{{title}}</label>
        <input v-bind:readonly="readonly" v-bind:disabled="disabled" @keyup="autocomplete()" style="min-width: 100%;background: white"  type="text" class="form-control w-100" v-bind:class="{'is-invalid': hasError(name)}" v-bind:placeholder="placeholder" v-model="search" v-bind:id="id">
        <input type="hidden" v-model="localValue">
        <ul style="position: absolute;width: 90%; max-width:500px; list-style: none;border: 1px solid rgb(238, 238, 238);padding: 0px;background: white;z-index: 3000;}" v-if="responseList">
            <template v-for="item in responseList">
                <li class="autoLi" v-bind:key="item[attributeKey]" style="border-bottom:solid 1px #eee;padding:7px;" @click="selectItem(item)">{{item[attributeValue]}}<span v-if="attributeValue2"> {{item[attributeValue2]}}</span></li>
            </template>
            <li style="padding: 5px;" v-if="!responseList.length && search && search.length && !localValue">
                Nincs találat
            </li>
        </ul>
        <span class="form-text text-muted" v-if="helpText">{{helpText}}</span>
        <div class="invalid-feedback" v-for="message in filter(name)"
             v-bind:key="message">{{message}}
        </div>
    </div>
</template>

<script>
import FormControl from '../../../components/form/FormControl'

export default {
    name: 'FrontendAutocomplete',
    extends: FormControl,
    data () {
        return {
            search: null,
            timeout: null,
            responseList: []
        }
    },
    props: ['url', 'attributeKey', 'attributeValue', 'attributeValue2', 'full'],
    methods: {
        autocomplete () {
            const self = this
            clearTimeout(self.timeout)
            self.timeout = null
            self.timeout = setTimeout(() => {
                self.axios.get(self.url + '?search=' + self.search + '&limit=10').then(resp => {
                    self.responseList = resp.data.data
                })
            }, 500)
        },
        selectItem (item) {
            this.responseList = []
            this.localValue = item[this.attributeKey]
            this.search = item[this.attributeValue]
            this.$emit('inputEvent', item[this.attributeKey])
            this.$emit('change', item[this.attributeKey])
            if (this.full) {
                this.$emit('objectChanged', item)
            }
        }
    },
    mounted () {
        this.search = null
        this.responseList = []
    }
}
</script>

<style scoped>
    .autoLi:hover{
        cursor: pointer;
        background: #dbdfe0;
    }
    li.autoLi {
      list-style: none;
      padding: 12px !important;
    }
    ul li:after{
      background: none;
    }
</style>
