<template>
    <div class="form-group" v-bind:class="inputClass">
        <label v-if="title">{{title}}</label>
        <textarea v-bind:readonly="readonly" v-bind:disabled="disabled" class="form-control" v-bind:placeholder="placeholder" v-model="localValue" v-bind:id="id" :rows="rows" v-bind:class="{'is-invalid': hasError(name)}"></textarea>
        <span class="form-text text-muted" v-if="helpText">{{helpText}}</span>
        <div class="invalid-feedback" v-for="message in filter(name)"
             v-bind:key="message">{{message}}
        </div>
    </div>
</template>

<script>
import FormControl from '../../../components/form/FormControl'

export default {
    name: 'FrontendTextArea',
    extends: FormControl
}
</script>
