<template>
    <div  v-bind:class="inputClass" class="custom-radio-2">
        <template v-for="(item, index) in options"  >
            <div v-bind:key="'div-'+item+index">
            <label class="d-block text-nowrap p-2" v-bind:key="'label-'+item+index" v-bind:class="{'is-invalid': hasError(name)}"  >
            <input v-bind:key="'input-'+item+index" v-bind:class="{'checked':localValue==index}" v-bind:readonly="readonly" v-bind:disabled="disabled" type="radio" v-model="localValue" :value="index"   class="box-shadow custom-radio">
            {{item}}</label>
            </div>
        </template>
    </div>
</template>

<script>
import FormControl from '../../../components/form/FormControl'

export default {
    name: 'FrontendRadio2',
    extends: FormControl
}
</script>
<style>
html {
    --color: #999;
    --checked-color: #ff5722;

    --bg-color: #e8e8e8;

    font-family: Arial;
    font-size: 16px;
}

h3 {
    margin-bottom: 0.2em;
}

small {
    font-size: 11px;
    color: #555;
    margin-left: 1rem;
}

section {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

input,
label {
    cursor: pointer;
}

label,
small {
    margin-top: 0.1em;
}

.custom-radio-2 input[type="radio"] {
    height: 1.2rem;
    width: 1.2rem;
    margin-right: 0.5rem;
}

#accent {
    accent-color: var(--checked-color);
}

.custom-radio {
    /* hiding browser el */
    appearance: none;
    /* Safari support */
    -webkit-appearance: none;
    border: 0.2rem solid #fff;
    background-color: var(--bg-color);
    border-radius: 50%;
}

/* keyboard navigation focus appearance */
.custom-radio:focus-visible {
    outline-offset: 0;
}

.box-shadow {
    box-shadow: 0 0 0 1px var(--color);
}

.box-shadow:hover {
    border-width: 0;
}

.box-shadow:checked {
    box-shadow: 0 0 0 1px var(--checked-color);
    background-color: var(--checked-color) !important;
    border-width: 0.2rem;
}

#outline {
    outline: 1px solid var(--color);
}

#outline:hover {
    outline-color: var(--checked-color);
}

#outline:checked {
    outline-color: var(--checked-color);
    background-color: var(--checked-color);

    animation: outline-checked;
    animation-duration: 0.1s;
    animation-iteration-count: 4;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes outline-checked {
    0% {
        outline-offset: 0;
    }

    100% {
        outline-offset: -0.2rem;
    }
}
</style>
