<template>
    <div class="form-group" v-bind:class="inputClass">
        <label v-if="title">{{title}}</label>
        <input v-bind:readonly="readonly" v-bind:disabled="disabled" :type="type" @blur="sendBlurEvent" @input="sendInputEvent" @keyup="sendKeyupevent" class="form-control" v-bind:class="{'is-invalid': hasError(name)}" v-bind:placeholder="placeholder" v-model="localValue" v-bind:id="id">
        <span class="form-text text-muted" v-if="helpText">{{helpText}}</span>
        <div class="invalid-feedback" v-for="message in filter(name)"
             v-bind:key="message">{{message}}
        </div>
    </div>
</template>

<script>
import FormControl from '../../../components/form/FormControl'

export default {
    name: 'FrontendInput',
    extends: FormControl,
    methods: {
        sendBlurEvent () {
            this.$emit('blurEvent', this.localValue)
        },
        sendInputEvent () {
            this.$emit('inputEvent', this.localValue)
        },
        sendKeyupevent () {
            this.$emit('keyupEvent', this.localValue)
        }
    }
}
</script>
