<template>
    <div class="form-group" v-bind:class="inputClass">
        <label v-if="title">{{title}}</label>
        <div class="input-group">
        <input v-bind:readonly="readonly" v-bind:disabled="disabled" :type="type" class="form-control date" v-bind:class="{'is-invalid': hasError(name)}" v-bind:placeholder="placeholder" v-model="localValue" v-bind:id="id">

        </div>
        <span class="form-text text-muted" v-if="helpText">{{helpText}}</span>
        <div class="invalid-feedback" v-for="message in filter(name)"
             v-bind:key="message">{{message}}
        </div>
    </div>
</template>

<script>
import FormControl from '../../../components/form/FormControl'
export default {
    name: 'FrontendDatePicker',
    extends: FormControl,
    mounted: function () {
        this.initDatePicker()
    },
    watch: {
        value: function (value) {
            window.$(this.$el)
                .find('.date')
                .val(value)
                .trigger('change')
                .trigger('input')
        },
        disabledDays: function (value) {
            var vm = this
            window.$(vm.$el)
                .find('.date').datepicker('destroy')
            this.initDatePicker()
        }
    },
    methods: {
        initDatePicker: function () {
            var vm = this
            $(document).ready(function () {
                window.$(vm.$el)
                    .find('.date')
                    // init select2
                    .trigger('change')
                    .trigger('input')
                    .datepicker({
                        format: 'yyyy-mm',
                        locale: 'hu',
                        minViewMode: 1,
                        autoclose: true

                    })
                    .on('change', function () {
                        vm.$emit('input', window.$(vm.$el).find('.date').val())
                        vm.$emit('change', window.$(vm.$el).find('.date').val())
                    })
            })
        }
    }
}
</script>
