<template>
    <div class="" v-bind:class="inputClass">

        <div class="row" v-bind:class="{'is-invalid': hasError(name)}">
          <div class="checkbox-entry checkbox ml-3 col-3" v-for="(item, index) in options" v-bind:key="index">

            <input type="checkbox" v-bind:readonly="readonly" v-bind:disabled="disabled"   v-model="localValue[item]"  >
            <label  >
              <div v-html="index"></div>
            </label>
          </div>
        </div>
    </div>
</template>

<script>
import FormControl from '../../../components/form/FormControl'

export default {
    name: 'FrontendCheckbox',
    extends: FormControl

}
</script>
