<template>
  <div>
    <div class="modal fade" id="CompanyCommentsModal" tabindex="-1" role="dialog">
      <div class="modal-dialog  modal-lg modal-dialog-centered" role="form">
        <div class="modal-content">
          <div class="modal-header bg-warning">
            <h5 class="modal-title">Megjegyzés</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <i aria-hidden="true" class="ki ki-close"></i>
            </button>
          </div>
          <div class="modal-body p-4">
            <div class="row">
            <div class="col-12">
              <FormTextArea v-model="localModel.comment" :title="'Megjegyzés'"></FormTextArea>
            </div>
          </div>
          <div class="modal-footer ">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Mégse</button>
            <button type="button" class="btn btn-success" @click="save()">Mentés</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</template>
<script>
import FormTextArea from '../../../../../../../resources/js/components/form/FormTextArea.vue'
export default {
    name: 'CommentsForm',
    props: {
        url: {
            required: true,
            type: String
        },
        model: {
            required: true,
            type: Object
        }
    },
    components: { FormTextArea },
    data () {
        return {
            localModel: {}
        }
    },
    watch: {
        model: {
            handler: function (val, oldVal) {
                if (val !== oldVal) {
                    this.localModel = val
                }
            }
        }
    },
    methods: {
        save () {
            this.axios.put(this.url + '/edit', this.localModel).then(() => {
                this.$emit('refresh', true)
                window.$('#CompanyCommentsModal').modal('hide')
            })
        }

    },
    created () {},
    mounted () {}
}
</script>
