<template>
  <div class = "col-12">
    <div>
      <button class = "btn btn-success" @click="openCommentModal(null,0)">Új Megjegyzés</button>
    </div>
    <CommentsForm :url="url" v-on:refresh="getForm" :model = "selected"></CommentsForm>
    <div class = "table-responsive">
      <table class = "table table-bordered table-responsive0">

        <tr>
          <th>Megjegyzés</th>
          <th>Dátum</th>
          <th>Felhasználó</th>
        </tr>
        <tbody>
        <tr v-for = "item in list" v-bind:key = "'comments-'+item.id">
          <td>{{ item.comment }}</td>
          <td>{{ item.created_at }}</td>
          <td>{{ item.user }}</td>
        </tr>
        <tr v-if="!list.length">
          <td colspan="5" class="text-center">Nincs még megyjegyzés rögzítve</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import DeleteConfirm from '../../../../../../../resources/js/components/DeleteConfirm'
import CommentsForm from './CommentsForm.vue'

export default {
    name: 'CommentsList',
    props: ['company_id'],
    components: { CommentsForm, DeleteConfirm },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/comments`
        }
    },
    data () {
        return {
            list: [],
            fields: {},
            selected: {}
        }
    },
    methods: {
        getForm () {
            this.axios.get(this.url + '/list/' + this.company_id).then(resp => {
                this.list = resp.data.data
            })
        },
        openCommentModal (model, type) {
            if (!model) {
                this.selected = {}
                this.selected.company_id = this.company_id
            } else {
                this.selected = JSON.parse(JSON.stringify(model))
            }
            window.$('#CompanyCommentsModal').modal('show')
        },
        deleteForm (id) {
            this.axios.delete(this.url + '/delete/' + id).then(resp => {
                this.getForm()
            })
        }
    },
    created () {
        this.getForm()
    }
}
</script>
