<template>
  <div>
    <div class="modal fade" id="companyUserModal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="companyUser">
        <div class="modal-content">
          <div class="modal-header bg-warning">
            <h5 class="modal-title">Hozzáférés</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <i aria-hidden="true" class="ki ki-close"></i>
            </button>
          </div>
          <div class="modal-body p-4">
            <div class="row">
            <div class="col-12">
              <FormSelect v-model="localModel.contact" :title="'Kapcsolattartó'" :options="contacts"></FormSelect>
            </div>
                <div class="col-12" v-if="industries">
                    <FormSelectCheckbox v-model="localModel.industries" :title="'tevékenységek'" :select2="true" :multiple="true" :options="industries"></FormSelectCheckbox>
                </div>
          </div>
          <div class="modal-footer ">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Mégse</button>
            <button type="button" class="btn btn-success" @click="save()">Hozzáad</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</template>

<script>

import FormSelect from '../../../../../../../resources/js/components/form/FormSelect'
import FormSelectCheckbox from '../../../../../../../resources/js/components/form/FormSelectCheckbox'
export default {
    name: 'CompanyUserForm',
    props: {
        url: {
            required: true,
            type: String
        },
        model: {
            required: true,
            type: Object
        },
        contacts: {
            required: true
        },
        industries: {
            required: true
        }
    },
    components: { FormSelect, FormSelectCheckbox },
    data () {
        return {
            localModel: {}
        }
    },
    watch: {
        model: {
            handler: function (val, oldVal) {
                if (val !== oldVal) {
                    this.localModel = val
                }
            }
        }
    },
    methods: {
        save () {
            if (this.model.id) {
                this.axios.post(this.url + '/edit-user/' + this.model.id, this.localModel).then(() => {
                    this.$emit('refresh', true)
                    window.$('#companyUserModal').modal('hide')
                })
            } else {
                this.axios.post(this.url + '/create-users/' + this.model.contact, this.localModel).then(() => {
                    this.$emit('refresh', true)
                    window.$('#companyUserModal').modal('hide')
                })
            }
        },
        changePath (event) {
            this.model.path = event
        }
    },

    created () {},
    mounted () {}
}
</script>
