<template>
  <div class = "col-12">
    <div>
      <button class = "btn btn-success" @click="openCompanyUserModal()">Új hozzáférés</button>
    </div>
    <CompanyUserForm :url="url" :industries="industries" :contacts="contacts" v-on:refresh="getCompanyUser" :model = "selected"></CompanyUserForm>
    <div class = "table-responsive">
      <table class = "table table-bordered table-responsive0">

        <tr>
          <th>Név</th>
          <th>Email</th>
          <th>Művelet</th>
        </tr>
        <tbody>
        <tr v-for = "item in list" v-bind:key = "'CompanyUser-'+item.id">
          <td>{{ item.name }}</td>
          <td>
              {{ item.email }}
          </td>
            <td>
              <DeleteConfirm v-on:delete="deleteCompanyUser(item.id)"></DeleteConfirm>
              <a class="btn btn-xs btn-success" title="Szerkesztés" href="#" @click.prevent="openCompanyUserModal(item)" ><i class="fa fa-edit"></i></a>
                <a class="btn btn-xs btn-warning" title="jelszó generálás" @click.prevent="generatePassword(item)" href="#"><i class="fa fa-user-secret"></i></a>
            </td>
        </tr>
        <tr v-if="!list.length">
          <td colspan="5" class="text-center">Nincs adat</td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import CompanyUserForm from './CompanyUserForm'
import DeleteConfirm from '../../../../../../../resources/js/components/DeleteConfirm'

export default {
    name: 'CompanyUserList',
    props: ['company_id'],
    components: { CompanyUserForm, DeleteConfirm },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/company`
        }
    },
    data () {
        return {
            list: [],
            contacts: [],
            industries: [],
            fields: {},
            selected: {}
        }
    },
    methods: {
        getCompanyUser () {
            this.axios.get(this.url + '/list-users/' + this.company_id).then(resp => {
                this.list = resp.data.data
                this.contacts = resp.data.contacts
                this.industries = resp.data.industries
                this.$emit('refresh')
            })
        },
        generatePassword (item) {
            this.axios.post(this.url + '/generate-password/' + item.id).then(resp => {
                console.log('Sikerese jelszó generálás!')
            })
        },
        openCompanyUserModal (model) {
            if (!model) {
                this.selected = {}
                this.selected.company_id = this.company_id
            } else {
                this.selected = JSON.parse(JSON.stringify(model))
            }
            window.$('#companyUserModal').modal('show')
        },
        deleteCompanyUser (id) {
            this.axios.delete(this.url + '/delete/' + id).then(resp => {
                this.getCompanyUser()
            })
        },
        openPDF (link) {
            this.$eventHub.$emit('openPDF', link)
        }
    },
    created () {
        this.getCompanyUser()
    }
}
</script>
