<template>
    <div class="table-responsive">
        <BaseDatatable :module="`user`" :apiurl="url" :list-url="customListUrl" :fields="fields"></BaseDatatable>
    </div>
</template>

<script>
import BaseDatatable from '../../../../../../resources/js/components/BaseDatatable'

export default {
    name: 'AccessLog',
    components: { BaseDatatable },
    computed: {
        customListUrl: function () {
            if (this.$route.params.id) {
                return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/user/accesslogs/${this.$route.params.id}`
            }

            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/user/profile/accesslogs`
        }
    },
    data () {
        return {
            url: '',
            fields: [
                {
                    name: 'created_at',
                    sortField: 'created_at',
                    title: this.$translate.t('Date')
                },
                {
                    name: 'user_name',
                    sortField: 'user_id',
                    title: this.$translate.t('User')
                },
                {
                    name: 'action',
                    sortField: 'action',
                    title: this.$translate.t('Action')
                },
                {
                    name: 'route',
                    sortField: 'route',
                    title: this.$translate.t('Route')
                },
                {
                    name: 'extra',
                    title: this.$translate.t('Extra')
                }
            ]
        }
    }
}
</script>
