<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-12">
        <div class="kt-portlet kt-portlet--height-fluid">
          <div class="row">
            <div role="alert" class="alert alert-custom alert-white alert-shadow kt-portlet"><h3 class="text-info">Kapcsolattartó- diákok</h3></div>
            <FormInput :inputClass="'mr-5 mt-1'" v-model="search" placeholder="Keresés: (Név, MADS azonosító)"></FormInput>
          </div>
          <div class="kt-portlet__body">
            <div v-if="list">
              <div v-for="(company,index) in list" v-bind:key="'company-'+index">
                <h2 >{{ company.name }}</h2>
                <div v-for="(user,index2) in Object.keys(company.userList)" v-bind:key="'user-'+index+'-'+index2">
                  <h4 class="ml-5 text-info">{{ user }}</h4>
                  <div class="table-responsive " >
                    <table class="table table-bordered table-condensed ml-5 bg-aqua" style="width: 90%">
                      <tr v-for="(student,index3) in company.userList[user].students" v-bind:key="'student-'+index+'-'+index2+'-'+index3" v-bind:class="{'d-none': search && (!student.student_number.toUpperCase().includes(search.toUpperCase()) && !student.name.toUpperCase().includes(search.toUpperCase()) )}">
                        <td style="width: 18%">{{ student.name }}</td>
                        <td style="width: 18%">{{ student.phone }}</td>
                        <td style="width: 18%">{{ student.email }}</td>
                        <td style="width: 18%">{{ student.tax_number }}</td>
                        <td style="width: 18%">{{ student.student_number }}</td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
import FormInput from '../../../../../../resources/js/components/form/FormInput'
export default {
    name: 'CompanyUserPresence',
    components: { FormInput },
    props: ['url'],
    computed: {
        adminUrl: function () {
            return process.env.MIX_ADMIN_URL
        }
    },
    data () {
        return {
            list: {},
            search: null
        }
    },
    watch: {},
    beforeMount () {
        this.getData()
    },
    created () {
        this.getData()
    },
    methods: {
        getData () {
            this.axios.get(this.url + '/company-pm-students').then((response) => {
                this.list = response.data
            })
        }
    }
}
</script>
