<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-12">
        <div class="kt-portlet kt-portlet--height-fluid">
          <div class="row">
            <div role="alert" class="alert alert-custom alert-white alert-shadow kt-portlet"><h3 class="text-info">Tevékenység statisztika</h3></div>
            <div class="col-md-3">
               <FormDateRangePicker v-model="date" @change="getData"></FormDateRangePicker>
            </div>
            <div class="col-md-3">
              <FormSelect v-model="user" :options="users" @change="getData"></FormSelect>
            </div>
          </div>
          <div class="kt-portlet__body">
            <div class="table-responsive">
              <table class="table table-bordered table-condensed" v-if="model && model.data">
                <tr>
                  <th v-if="user">Dátum</th>
                  <th v-if="!user">PM</th>
                  <th>Új proket</th>
                  <th>Új megrendelés</th>
                  <th>Feladott új hírdetés</th>
                  <th>Frissitett hírdetés</th>
                  <th>Jelentkezett diák</th>
                  <th>E-mailben jelentkezett</th>
                  <th>CV bekérve</th>
                  <th>CV elküldve</th>
                  <th>Regisztrációs link</th>
                  <th>Elkezdett dolgozni</th>
                  <th>Elkezdett dolgozni régi</th>
                </tr>
                <tr v-for="(user2,index) in model.data" v-bind:key="'pm-'+index">
                  <td  v-if="user">{{ user2.date }} </td>
                  <td  v-if="!user">{{ user2.name }} </td>
                  <td>{{ user2.new_project }}</td>
                  <td>{{ user2.new_order }}</td>
                  <td>{{ user2.new_adversting }}</td>
                  <td>{{ user2.refreshed_adversting }}</td>
                  <td>{{ user2.new_apply }}</td>
                  <td>{{ user2.new_apply_email }}</td>
                  <td>{{ user2.cv_request }}</td>
                  <td>{{ user2.cv_send }}</td>
                  <td>{{ user2.registration_send }}</td>
                  <td>{{ user2.start_work }}</td>
                  <td>{{ user2.start_work_old }}</td>
                </tr>
                <tr v-if="model && model.data" class="btn-success text-white">
                  <td>Összesen</td>
                  <td>{{ sum('new_project') }}</td>
                  <td>{{ sum('new_order') }}</td>
                  <td>{{ sum('new_adversting') }}</td>
                  <td>{{ sum('refreshed_adversting') }}</td>
                  <td>{{ sum('new_apply') }}</td>
                  <td>{{ sum('new_apply_email') }}</td>
                  <td>{{sum('cv_request') }}</td>
                  <td>{{sum('cv_send') }}</td>
                  <td>{{sum('registration_send') }}</td>
                  <td>{{sum('start_work') }}</td>
                  <td>{{sum('start_work_old') }}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import FormDateRangePicker from '../../../../../../resources/js/components/form/FormDateRangePicker'
import FormSelect from '../../../../../../resources/js/components/form/FormSelect'

export default {
    name: 'PMStatistic',
    components: { FormDateRangePicker, FormSelect },
    props: ['url'],
    computed: {
        adminUrl: function () {
            return process.env.MIX_ADMIN_URL
        }
    },
    data () {
        return {
            model: {},
            users: {},
            date: null,
            user: null,
            page: 0
        }
    },
    watch: {
        date: function (val) {
            this.$router.push({ query: Object.assign({}, this.$route.query, { date: val }) })
        },
        user: function (val) {
            this.$router.push({ query: Object.assign({}, this.$route.query, { user_id: val }) })
        }
    },
    created () {
        if (this.$route.query.date) {
            this.date = this.$route.query.date
        } else {
            const d = new Date()
            this.date = d.getFullYear() + '-' + ((d.getMonth() + 1) > 9 ? (d.getMonth() + 1) : '0' + (d.getMonth() + 1)) + '-' + d.getDate() + ' - ' + d.getFullYear() + '-' + ((d.getMonth() + 1) > 9 ? (d.getMonth() + 1) : '0' + (d.getMonth() + 1)) + '-' + d.getDate()
        }
        if (this.$route.query.user_id) {
            this.user = this.$route.query.user_id
        }
        this.getData()
    },
    methods: {
        getData () {
            let query = ''
            if (this.date) {
                query += 'date=' + this.date + '&'
            }
            if (this.user) {
                query += 'user_id=' + this.user
            }
            this.axios.get(this.url + '/get-pm-statistic?' + query).then((response) => {
                this.model = response.data
                this.users = response.data.users
            })
        },
        sum (key) {
            let sum = 0
            this.model.data.forEach(ite => {
                sum += (ite[key] > 0) ? parseInt(ite[key]) : 0
            })
            return sum
        }
    }
}
</script>
