<template>
    <div>
        <router-view :url="url"></router-view>
    </div>
</template>

<script>
export default {
    name: 'User',
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/user`
        }
    }
}
</script>
