<template>
    <UserForm :url="url" :model="model"></UserForm>
</template>

<script>
import UserForm from './UserForm'
import User from './User'

export default {
    name: 'UserEdit',
    extends: User,
    data () {
        return {
            model: {
                shipping: {},
                billing: {},
                roles: {}
            }
        }
    },
    components: { UserForm },
    beforeMount: function () {
        this.handleUpdate('user', this.url, {
            shipping: {},
            billing: {},
            roles: {}
        })

        this.getUser()
    }
}
</script>
