<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="kt-portlet kt-portlet--height-fluid">
                    <div class="kt-portlet__body">
                        <BaseFilter :searches="filters" v-if="filters.length > 0"></BaseFilter>
                    </div>
                </div>
            </div>
            <div class="col-xl-3" v-for="(item, index) in model.data" v-bind:key="index">

                <!--Begin::Portlet-->
                <div class="kt-portlet kt-portlet--height-fluid">
                    <div class="kt-portlet__head kt-portlet__head--noborder">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                            </h3>
                        </div>
                        <div class="kt-portlet__head-toolbar">
                            <a href="#" class="btn btn-icon" data-toggle="dropdown">
                                <i class="flaticon-more-1 kt-font-brand"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <ul class="kt-nav">
                                    <li class="kt-nav__item">
                                        <router-link :to="`/${adminUrl}/activities/`+item.id" class="kt-nav__link">
                                            <i class="kt-nav__link-icon flaticon2-line-chart"></i>
                                            <span class="kt-nav__link-text">{{$t('Access Logs')}}</span>
                                        </router-link>
                                    </li>
                                    <li class="kt-nav__item">
                                        <router-link :to="`/${adminUrl}/messages/`+item.id" class="kt-nav__link">
                                            <i class="kt-nav__link-icon flaticon2-send"></i>
                                            <span class="kt-nav__link-text">{{$t('Messages')}}</span>
                                        </router-link>
                                    </li>
                                    <li class="kt-nav__item">
                                        <a href="#" @click="generatePassword(item.id)" class="kt-nav__link">
                                            <i class="kt-nav__link-icon flaticon2-shield"></i>
                                            <span class="kt-nav__link-text">{{$t('Generate password')}}</span>
                                        </a>
                                    </li>
                                    <li class="kt-nav__item">
                                        <a href="#" @click="forceLogin(item.id)" class="kt-nav__link">
                                            <i class="kt-nav__link-icon flaticon-logout"></i>
                                            <span class="kt-nav__link-text">{{$t('Login as')}}</span>
                                        </a>
                                    </li>
                                    <li class="kt-nav__item">
                                        <router-link :to="`/${adminUrl}/user/edit/`+item.id" class="kt-nav__link">
                                            <i class="kt-nav__link-icon flaticon-edit-1"></i>
                                            <span class="kt-nav__link-text">{{$t('Edit')}}</span>
                                        </router-link>
                                    </li>
                                    <li class="kt-nav__item">
                                        <a @click="deleteUser(item.id)" class="kt-nav__link">
                                            <i class="kt-nav__link-icon flaticon2-trash"></i>
                                            <span class="kt-nav__link-text">{{$t('Delete')}}</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="kt-portlet__body">

                        <!--begin::Widget -->
                        <div class="kt-widget kt-widget--user-profile-2">
                            <div class="kt-widget__head">
                                <div class="kt-widget__media">
                                    <img class="kt-widget__img" v-bind:class="{'kt-hidden' : item.avatar === null}"
                                         :src="item.avatar" alt="image">
                                    <div class="kt-widget__pic kt-widget__pic--success kt-font-success kt-font-boldest"
                                         v-bind:class="{'kt-hidden' : item.avatar !== null}">
                                        {{item.monogram}}
                                    </div>
                                </div>
                                <div class="kt-widget__info">
                                    <a href="#" class="kt-widget__username">
                                        {{item.name_formatted}}
                                    </a>
                                    <span class="kt-widget__desc">
                                        <span v-for="(item, index) in item.roles" v-bind:key="item.id+'-'+index">{{item.name}}<br/></span>
                                    </span>
                                   {{item.company}}
                                </div>
                            </div>
                            <div class="kt-widget__body">
                                <div class="kt-widget__section">
                                    <br/>
                                </div>
                                <div class="kt-widget__item">
                                    <div class="kt-widget__contact">
                                        <span class="kt-widget__label">{{$t('Email')}}:</span>
                                        <a :href="'mailto:'+item.email" class="kt-widget__data">{{item.email}}</a>
                                    </div>
                                    <div class="kt-widget__contact">
                                        <span class="kt-widget__label">{{$t('Phone')}}:</span>
                                        <a :href="'tel:'+item.shipping.phone" class="kt-widget__data" v-if="item.shipping">{{item.shipping.phone}}</a>
                                    </div>
                                    <div class="kt-widget__contact">
                                        <span class="kt-widget__label">{{$t('Email verified')}}:</span>
                                        <span class="kt-widget__data">{{item.email_verified_at}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--end::Widget -->
                    </div>
                </div>

                <!--End::Portlet-->
            </div>
        </div>

        <!--Begin::Section-->
        <div class="row">
            <div class="col-xl-12">

                <!--begin:: Components/Pagination/Default-->
                <div class="kt-portlet">
                    <div class="kt-portlet__body">

                        <!--begin: Pagination-->
                        <div class="kt-pagination kt-pagination--brand" v-if="model && model.meta">
                            <ul class="kt-pagination__links">
                                <li class="kt-pagination__link--first" :class="{'kt-datatable__pager-link--disabled': model.meta.current_page == 1}">
                                    <a @click="page = 1" :class="{'disabled': model.meta.current_page == 1}"><i class="fa fa-angle-double-left kt-font-brand"></i></a>
                                </li>
                                <li class="kt-pagination__link--next" :class="{'kt-datatable__pager-link--disabled': model.meta.current_page == 1}">
                                    <a @click="page = model.meta.current_page - 1" :class="{'disabled': model.meta.current_page == 1}" ><i class="fa fa-angle-left kt-font-brand"></i></a>
                                </li>
                                <li v-if="model.meta.current_page > 3">
                                    <a @click="page = model.meta.current_page - 3" >...</a>
                                </li>
                                <li v-if="model.meta.current_page > 2">
                                    <a @click="page = model.meta.current_page - 2" >{{model.meta.current_page - 2}}</a>
                                </li>
                                <li v-if="model.meta.current_page > 1">
                                    <a @click="page = model.meta.current_page - 1" >{{model.meta.current_page - 1}}</a>
                                </li>
                                <li class="kt-pagination__link--active">
                                    <a >{{model.meta.current_page}}</a>
                                </li>
                                <li v-if="model.meta.current_page < model.meta.last_page">
                                    <a @click="page = model.meta.current_page + 1" >{{model.meta.current_page + 1}}</a>
                                </li>
                                <li v-if="model.meta.current_page < model.meta.last_page - 1">
                                    <a @click="page = model.meta.current_page + 2" >{{model.meta.current_page + 2}}</a>
                                </li>
                                <li v-if="model.meta.current_page < model.meta.last_page - 2">
                                    <a @click="page = model.meta.current_page + 3" >{{model.meta.current_page + 3}}</a>
                                </li>
                                <li v-if="model.meta.current_page < model.meta.last_page - 3">
                                    <a @click="page = model.meta.current_page + 4" >...</a>
                                </li>
                                <li class="kt-pagination__link--prev" :class="{'kt-datatable__pager-link--disabled': model.meta.current_page == model.meta.last_page}">
                                    <a @click="page = model.meta.current_page + 1" :class="{'disabled': model.meta.current_page == model.meta.last_page}"><i class="fa fa-angle-right kt-font-brand"></i></a>
                                </li>
                                <li class="kt-pagination__link--last" :class="{'kt-datatable__pager-link--disabled': model.meta.current_page == model.meta.last_page}">
                                    <a @click="page = model.meta.last_page" :class="{'disabled': model.meta.current_page == model.meta.last_page}" ><i class="fa fa-angle-double-right kt-font-brand"></i></a>
                                </li>
                            </ul>
                            <div class="kt-pagination__toolbar">
                                <select class="form-control kt-font-brand" v-model="per_page" style="width: 60px">
                                    <option value="12">12</option>
                                    <option value="24">24</option>
                                    <option value="36">36</option>
                                    <option value="60">60</option>
                                    <option value="120">120</option>
                                </select>
                                <span class="pagination__desc">
                                    {{$t(' / page')}}
                                </span>
                            </div>
                        </div>

                        <!--end: Pagination-->
                    </div>
                </div>

                <!--end:: Components/Pagination/Default-->
            </div>
        </div>
    </div>
</template>

<script>
import BaseFilter from '../../../../../../resources/js/components/BaseFilter'

export default {
    name: 'UserCompanyList',
    components: { BaseFilter },
    props: ['url'],
    computed: {
        adminUrl: function () {
            return process.env.MIX_ADMIN_URL
        }
    },
    data () {
        return {
            model: {},
            page: 1,
            per_page: 12,
            filters: []
        }
    },
    watch: {
        page: function (val) {
            this.$router.push({ query: Object.assign({}, this.$route.query, { page: val }) })
        },
        per_page: function (val) {
            this.$router.push({ query: Object.assign({}, this.$route.query, { per_page: val }) })
        },
        $route: {
            handler: function (val, oldVal) {
                this.getData()
            },
            deep: true
        }
    },
    beforeMount () {
        if (this.$route.query.page) {
            this.page = this.$route.query.page
        }

        if (this.$route.query.per_page) {
            this.per_page = this.$route.query.per_page
        }

        this.getData()
    },
    methods: {
        forceLogin (id) {
            const self = this
            swal.fire({
                title: this.$t('Are you sure?'),
                text: this.$t('You will be logged in as the selected person!'),
                type: 'warning',
                showCancelButton: !0,
                confirmButtonText: this.$t('Confirm!'),
                cancelButtonText: this.$t('No, cancel!'),
                reverseButtons: !0
            }).then(function (e) {
                if (e.value) {
                    self.axios.post(self.url + '/force-login/' + id).then((response) => {
                        $cookies.set('token', response.data.api_token, 60 * 60)
                        if (response.data.roles_length > 0) {
                            document.location.href = '/admin'
                        } else {
                            document.location.href = '/'
                        }
                    })
                }
            })
        },
        generatePassword (id) {
            const self = this
            swal.fire({
                title: this.$t('Are you sure?'),
                text: this.$t('A new password will be sent to the user.'),
                type: 'warning',
                showCancelButton: !0,
                confirmButtonText: this.$t('Confirm!'),
                cancelButtonText: this.$t('No, cancel!'),
                reverseButtons: !0
            }).then(function (e) {
                if (e.value) {
                    self.axios.post(self.url + '/generate-password/' + id).then((response) => {

                    })
                }
            })
        },
        deleteUser (id) {
            const self = this
            swal.fire({
                title: this.$t('Are you sure?'),
                text: this.$t('You won\'t be able to revert this!'),
                type: 'warning',
                showCancelButton: !0,
                confirmButtonText: this.$t('Yes, delete it!'),
                cancelButtonText: this.$t('No, cancel!'),
                reverseButtons: !0
            }).then(function (e) {
                if (e.value) {
                    self.$http.delete(self.url + `/delete/${id}`, {
                        headers: {
                            Authorization: 'Bearer ' + $cookies.get('token'),
                            language: self.$store.state.defaultStore.language
                        }
                    }).then((res) => {
                        if (res.data.data.message === 'OK') {
                            self.getData()
                            swal.fire(this.$t('Deleted!'), this.$t('Row has been deleted.'), 'success')
                        }
                    }).catch((res) => {

                    })
                }
            })
        },
        getData () {
            const query = this.encodeQueryData(Object.assign({}, this.$route.query, { page: this.page, per_page: this.per_page }))
            this.axios.get(this.url + '/company?' + query).then((response) => {
                this.model = response.data
                this.filters = response.data.filters
            })
        }
    }
}
</script>
