<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-12">
        <div class="kt-portlet kt-portlet--height-fluid">
          <div class="row">
            <div role="alert" class="alert alert-custom alert-white alert-shadow kt-portlet"><h3 class="text-info">Project statisztika</h3></div>
            <div class="col-md-3">
               <FormMonthPicker v-model="month" @change="getData"></FormMonthPicker>
            </div>
          </div>
          <div class="kt-portlet__body">
            <div class="table-responsive">
              <table class="table table-bordered table-condensed" v-if="model && model.data">
                <tr>
                  <th>PM</th>
                  <th>Összes cég</th>
                  <th>Új cég</th>
                  <th>Aktív cég</th>
                  <th>Projectek száma</th>
                  <th>Jelentkezők száma</th>
                  <th>Dolgozott</th>
                  <th>Össz óra</th>

                  <th>Bevétel össz</th>
                </tr>
                <tr v-for="(user,index) in model.data" v-bind:key="'pm-'+index">
                  <td>{{ user.lastname }} {{ user.firstname }}</td>
                  <td>{{ user.all_company }}</td>
                  <td>{{ user.new_company }}</td>
                  <td>{{ user.count_company }}</td>
                  <td>{{ user.count_project }}</td>
                  <td>{{ user.count_apply }}</td>
                  <td>{{ user.count_student }}</td>
                  <td><span v-if="user.sum_hour >0">{{ parseInt(user.sum_hour, 0) }}</span></td>
                  <td>
                    <Price :value="user.sum_price"></Price>
                  </td>
                </tr>
                <tr v-if="model && model.data" class="btn-success text-white">
                  <td>Összesen</td>
                  <td>{{ sum('all_company') }}</td>
                  <td>{{ sum('new_company') }}</td>
                  <td>{{ sum('count_company') }}</td>
                  <td>{{ sum('count_project') }}</td>
                  <td>{{ sum('count_apply') }}</td>
                  <td>{{ sum('count_student') }}</td>
                  <td>{{parseInt(sum('sum_hour'),0) }}</td>
                  <td>
                    <Price :value="sum('sum_price')"></Price>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import BaseFilter from '../../../../../../resources/js/components/BaseFilter'
import Price from '../../../../../../resources/js/components/Price'
import FormMonthPicker from '../../../../../../resources/js/components/form/FormMonthPicker'

export default {
    name: 'Statistic',
    components: { BaseFilter, Price, FormMonthPicker },
    props: ['url'],
    computed: {
        adminUrl: function () {
            return process.env.MIX_ADMIN_URL
        }
    },
    data () {
        return {
            model: {},
            page: 0,
            month: new Date().getFullYear() + '-' + ((new Date().getMonth() < 10) ? '0' + new Date().getMonth() : new Date().getMonth()),
            per_page: 12,
            filters: []
        }
    },
    watch: {
        page: function (val) {
            this.$router.push({ query: Object.assign({}, this.$route.query, { page: val }) })
        },
        per_page: function (val) {
            this.$router.push({ query: Object.assign({}, this.$route.query, { per_page: val }) })
        },
        $route: {
            handler: function (val, oldVal) {
                this.getData()
            },
            deep: true
        }
    },
    beforeMount () {
        if (this.$route.query.page) {
            this.page = this.$route.query.page
        }

        if (this.$route.query.per_page) {
            this.per_page = this.$route.query.per_page
        }

        this.getData()
    },
    created () {
        this.getData()
    },
    methods: {
        getData () {
            this.axios.get(this.url + '/project-manager-statistic/' + this.month).then((response) => {
                this.model = response.data
            })
        },
        sum (key) {
            let sum = 0
            this.model.data.forEach(ite => {
                sum += (ite[key] > 0) ? parseInt(ite[key]) : 0
            })
            return sum
        }
    }
}
</script>
