<template>
  <div>
    <div class = "alert alert-custom alert-white alert-shadow kt-portlet" role = "alert">

      <h3 class = "text-info">{{ $t('Naptáram') }}  </h3>
    </div>
    <div class = "kt-portlet">
      <div class = "kt-portlet__body">
        <div class = "kt-form kt-form--label-right">
          <div class = "kt-form__body">

            <div class="row">
                <div class="col-md-2"><FormSelect title="Év" v-model="year" :options="years"></FormSelect></div>
                <div class="col-md-2"><FormSelect title="Hónap" v-model="month" :options="months"></FormSelect></div>
                <div class="col-md-2"><button class="btn btn-success" @click="getEvents">Lekérdez</button></div>
                <div class="col-md-2"></div>
              <div class="col-md-2 text-right"></div>
              <div class="col-md-2 text-right"><a class="btn btn-success" target="_blank"  :href="'/api/v1/user/calendar/get-calendar-excel/'+year+'/'+month"><i class="fa fa-file-excel"></i> Export</a><button class="btn btn-danger"  @click="addEvent"><i class="fa fa-plus"></i> Új esemény</button></div>
              <div class="col-12 table-responsive" style="max-height: 700px;overflow: auto">
                <table class="table table-bordered kt-datatable--scroll">
                  <tr>
                    <th v-for="(d,i) in days" v-bind:key="'day-'+i" v-bind:class="{'bg-info':i>4}">{{d}}</th>
                  </tr>
                  <tr v-for="(date,i2) in dates" v-bind:key="'dates-'+i2">
                    <td v-for="(dd,i3) in date" v-bind:key="'dd--'+i2+'-'+i3" v-bind:class="{'bg-yellow':dd.value.getMonth() === new Date().getMonth() && dd.value.getDate() === new Date().getDate(),'bg-silver':dd.value.getMonth() != month,'bg-info-calendar':i3>4}" style="width:11%">
                      <div class="events" style="min-height: 150px">
                      <div class="header" v-if="dd.value.getMonth() == month">{{dd.index}}</div>
                        <div  v-if="calendar && calendar[dd.index]">
                          <div class="col-12 event mb-2" v-for="event in calendar[dd.index]" v-bind:key="'event-'+event.id">
                            <div class="row">
                              <div class="col-3 p-2 text-left bg-orange">{{(event.start)?event.start.split(':').slice(0,2).join(':'):''}}</div>
                              <div class="col-6 p-2 text-center"></div>
                              <div class="col-3 p-2 text-right bg-orange">{{(event.end)?event.end.split(':').slice(0,2).join(':'):''}}</div>
                              <div class="col-12 p-2 text-center bg-secondary">{{event.info}}</div>
                              <div class="col-12 p-2 text-center " v-if=" event.participants && event.participants && $store.state.defaultStore.user.id == event.user_id">
                                <span v-for="(p,index) in event.participants" v-bind:key="'p-'+event.id+'-'+index"> {{users[p]}}</span>
                              </div>
                              <div class="col-12 p-2 text-center bg-blue" v-if=" $store.state.defaultStore.user.id != event.user_id">
                                <span > {{users[event.user_id] }} meghívott</span>
                              </div>
                              <button v-if="$store.state.defaultStore.user.id == event.user_id" class="btn-sm btn-icon btn btn-danger ml-2" @click="deleteEvent(event.id)"><i class="fa fa-trash"></i> </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>

                </table>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <CalendarEventModal v-on:refresh="getEvents" :users="users"></CalendarEventModal>
  </div>
</template>

<script>
import FormTextArea from '../../../../../../resources/js/components/form/FormTextArea'
import FormSelect from '../../../../../../resources/js/components/form/FormSelect'
import FormTimePicker from '../../../../../../resources/js/components/form/FormTimePicker'
import { eachDayOfInterval, eachWeekOfInterval, format, lastDayOfMonth, lastDayOfWeek } from 'date-fns'
import CalendarEventModal from './UserEventModal'
export default {
    name: 'UserCalendar',
    props: ['model'],
    data () {
        return {
            dates: null,
            currenYear: new Date().getFullYear(),
            year: new Date().getFullYear(),
            calendar: [],
            students: [],
            users: [],
            month: new Date().getMonth(),
            localValue: null,
            days: ['Hétfő', 'Kedd', 'Szerda', 'Csütörtök', 'Péntek', 'Szombat', 'Vasárnap'],
            months: ['Január', 'Február', 'Március', 'Április', 'Május', 'Június', 'Július', 'Agusztus', 'Szeptember', 'Október', 'November', 'December']

        }
    },
    watch: {
        month: {
            handler: function (val, oldVal) {
                if (val !== oldVal) {
                    this.dates = this.buildDates(this.year, this.month)
                }
            },
            deep: true
        }
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/user/calendar/`
        },
        years: function () {
            const resp = {}
            resp[this.currenYear - 1] = this.currenYear - 1
            resp[this.currenYear] = this.currenYear
            resp[this.currenYear + 1] = this.currenYear + 1
            return resp
        }
    },
    components: { CalendarEventModal, FormTextArea, FormSelect, FormTimePicker },
    methods: {
        getEvents () {
            this.dates = this.buildDates(this.year, this.month)
            this.axios.get(this.url + 'get-calendar/' + this.year + '/' + ((this.month + 1 < 10) ? '0' + (this.month + 1) : (this.month + 1))).then((resp) => {
                this.calendar = resp.data.calendar
                if (resp.data.users) {
                    this.users = resp.data.users
                }
            })
        },
        deleteEvent (id) {
            this.axios.delete(this.url + 'delete/' + id).then(() => {
                this.getEvents()
            })
        },
        addEvent () {
            window.$('#userCalendarEventModal').modal('show')
        },
        buildDates (year, month) {
            const dates = []
            const date = new Date(year, month, 1)
            const interval = {
                start: date,
                end: lastDayOfMonth(date)
            }
            const weeks = eachWeekOfInterval(interval, { weekStartsOn: 1 })
            weeks.forEach((d) => {
                const weekInterval = { start: d, end: lastDayOfWeek(d, { weekStartsOn: 1 }) }
                dates.push(
                    eachDayOfInterval(weekInterval).map((dd) => {
                        return { index: format(dd, 'yyyy-MM-dd'), value: dd }
                    })
                )
            })

            return dates
        }

    },
    created () {
        this.dates = this.buildDates(this.currenYear, this.month)
        this.getEvents()
    }

}
</script>
<style>
.header {
  text-align: center;
  background: #555454;
  color: white;
  font-weight: 500;
  padding: 4px;
}
.bg-info-calendar{
  background: #a5cee8;
}
.event{
  background: antiquewhite;
  border: solid 1px black;
  margin-bottom: 10px !important;
}
.bg-orange {
  background-color: #ff851b;
  font-weight: 600;
}
</style>
