<template>
    <UserForm :url="url" :model="model" ></UserForm>
</template>

<script>
import UserForm from './UserForm'
import User from './User'

export default {
    name: 'UserCreate',
    extends: User,
    data () {
        return {
            model: {}
        }
    },
    components: { UserForm },
    beforeMount: function () {
        this.handleCreate('user', this.url, {})

        this.getUser()
    }
}
</script>
