<template>
    <InvoiceTransporterForm v-if="Object.keys(model).length > 0" :url="url" :model="model"></InvoiceTransporterForm>
</template>

<script>
import InvoiceTransporterForm from './InvoiceTransporterForm'
import InvoiceTransporter from './InvoiceTransporter'

export default {
    name: 'InvoiceTransporterCreate',
    extends: InvoiceTransporter,
    data () {
        return {
            model: {}
        }
    },
    components: { InvoiceTransporterForm },
    beforeMount: function () {
        this.handleCreate('invoice-transporters', this.url, {})

        this.getInvoiceTransporter()
    }
}
</script>
