<template>
    <div>
        <div class="alert alert-custom alert-white alert-shadow kt-portlet" role="alert">

            <h3 class="text-info">{{ $t('Szállítók') }}</h3>
        </div>
        <div class="kt-portlet">
            <div class="kt-portlet__body">
                <div class="kt-form kt-form--label-right">
                    <div class="kt-form__body">
                        <div class="row">
                            <div class="col-md-6">
                                <FormInput v-model="model.name" :title="$t('Név')"></FormInput>
                            </div>
                            <div class="col-md-6">
                                <FormInput v-model="model.address" :title="$t('Cím')"></FormInput>
                            </div>
                            <div class="col-md-6">
                                <FormInput v-model="model.product" :title="$t('Termék/szolgáltatás')"></FormInput>
                            </div>
                            <div class="col-md-6">
                                <FormSelect v-model="model.payment_method" :title="$t('Fizetés módja')"
                                            :options="{1:'Utalás',2:'Kézpénz'}"></FormSelect>
                            </div>
                            <div class="col-md-6">
                                <FormInput v-model="model.payment_deadline"
                                           :title="$t('Fizetési határidő')"></FormInput>
                            </div>
                            <div class="col-md-6">
                                <FormSelect v-model="model.completion" :title="$t('Teljesítés')"
                                            v-if="model && model.selectables && {}"
                                            :options="{1:'Folyamatos',2:'Alkalmi'}"></FormSelect>
                            </div>
                            <div class="col-md-6">
                                <FormSelect v-model="model.vat" :title="$t('Áfa')"
                                            v-if="model && model.selectables && {}"
                                            :options="{1:'Normal 27%',2:'AM 0%',3:'TM 0%'}"></FormSelect>
                            </div>
                            <div class="col-md-6">
                                <FormInput v-model="model.multiplier" :title="$t('Szorzó')"></FormInput>
                            </div>
                            <div class="col-md-6">
                                <FormInput v-model="model.contact" :title="$t('Kapcsolattartó')"></FormInput>
                            </div>
                            <div class="col-md-6">
                                <FormInput v-model="model.email" :title="$t('E-mail')"></FormInput>
                            </div>
                            <div class="col-md-6">
                                <FormInput v-model="model.phone" :title="$t('Telefon')"></FormInput>
                            </div>
                            <div class="col-md-6">
                                <FormInput v-model="model.web" :title="$t('Web')"></FormInput>
                            </div>
                            <div class="col-md-6">
                                <FormInput v-model="model.identifier" :title="$t('Azonositó')"></FormInput>
                            </div>
                            <div class="col-md-6">
                                <FormInput v-model="model.password" :title="$t('Jelszó')"></FormInput>
                            </div>
                            <div class="col-md-6">
                                <FormInput v-model="model.pin_code" :title="$t('PIN')"></FormInput>
                            </div>
                            <div class="col-md-6">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import FormInput from '../../../../../../resources/js/components/form/FormInput'
import FormSelect from '../../../../../../resources/js/components/form/FormSelect'

export default {
    name: 'InvoiceTransporterForm',
    props: {
        url: {
            required: true,
            type: String
        },
        model: {
            required: true,
            type: Object
        }
    },
    data () {
        return {}
    },
    computed: {
        languages: function () {
            const l = []
            for (const it in this.$store.state.defaultStore.languages) {
                l.push(it)
            }
            return l
        }
    },
    components: { FormInput, FormSelect },
    methods: {},
    created () {
    },
    mounted () {
    }
}
</script>
