<template>
    <div class="table-responsive">
        <BaseDatatable v-if="loaded" :multiple-actions="multipleAction" :module="`invoice-transporters`" :apiurl="url" :list-url="`${url}/index`" :fields="fields"></BaseDatatable>
    </div>
</template>

<script>
import BaseDatatable from '../../../../../../resources/js/components/BaseDatatable'
export default {
    name: 'InvoiceTransporterList',
    props: ['url'],
    components: { BaseDatatable },
    data () {
        return {
            loaded: true,
            multipleAction: {
                localStorageVariable: 'selectedInvoiceTransporter', // milyen local Storagebe rakja
                trackBy: 'id', // milyik oszlopot figyelje
                actions: [
                    {
                        name: this.$translate.t('Delete'),
                        trigger: 'bulkDelete'
                    }
                ]
            },
            apiurl: this.url,
            fields: [
                {
                    name: 'name',
                    sortField: 'name',
                    title: this.$translate.t('Név')
                },
                {
                    name: 'address',
                    sortField: 'address',
                    title: this.$translate.t('Cím')
                },
                {
                    name: 'product',
                    sortField: 'product',
                    title: this.$translate.t('Termék/szolgáltatás')
                },
                {
                    name: 'payment_method',
                    sortField: 'payment_method',
                    title: this.$translate.t('Fizetés módja')
                },
                {
                    name: 'payment_deadline',
                    sortField: 'payment_deadline',
                    title: this.$translate.t('Fizetési határidő')
                },
                {
                    name: 'completion',
                    sortField: 'completion',
                    title: this.$translate.t('Teljesítés')
                },
                {
                    name: 'vat',
                    sortField: 'vat',
                    title: this.$translate.t('Áfa')
                },
                {
                    name: 'contact',
                    sortField: 'contact',
                    title: this.$translate.t('Kapcsolattartó')
                },
                {
                    name: 'email',
                    sortField: 'email',
                    title: this.$translate.t('E-mail')
                },
                {
                    name: 'phone',
                    sortField: 'phone',
                    title: this.$translate.t('Telefon')
                },
                {
                    name: '__slot:actions',
                    title: this.$translate.t('Actions')
                }
            ]
        }
    }
}
</script>
