<template>
    <div class="container blog-container">
        <div class="new-block">
            <Breadgrump :links="[{'name':'Letölthető dokumentumok'}]"></Breadgrump>
            <div class="row page-tagline">
                <div class="col-md-12 col-md-offset-3">
                    <h2 class="title">Letölthető dokumentumok</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12  blog-content-column">
                    <div class = "row mt-3">
                        <div class = "col-lg-12" id = "blogList">
                            <div class = " col-md-12 text-center p-3" v-if = "!list.length && !infinityLoading">
                                <h3>{{ $t('Nem található letölthető dokumentum') }}</h3></div>
                            <div class = "row justify-content-center d-flex align-items-center">
                                <template v-for = "(postD,key) in list">
                                    <div class = "col-md-12" v-bind:key = "'clear-'+postD.id+'-'+key"
                                         v-if = "key>0 && list[key-1].is_main !== list[key].is_main"
                                    ></div>
                                    <div class = "col-md-4 col-sm-6" v-bind:key = "'post-'+postD.id+'-'+key">

                                        <div class = "blog_post blog_style2 box_shadow1 pt-1">
                                            <div class = "blog_img mt-2 text-center" v-if = "postD.is_main == 1">
                                                <ImageLazy :height="300" :image = "postD.main_image" :alt = "postD.name"></ImageLazy>
                                            </div>
                                            <div class = "blog_content bg-white">
                                                <div class = "blog_text ">
                                                    <h4 class = "h5 title text-center mt-3">{{ postD.name }}</h4>
                                                    <div class = "p-1 text-center" style = "background: #f5f5f5">
                                                        <a :href = "postD.file" class="button size-2" target = "_blank"><i
                                                            class = "fa  fa-file-pdf mr-3"
                                                        ></i> {{ $t('Letöltés') }}</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </template>
                                <InfinityScroll class="col-md-12"
                                                v-if = "postData.meta && postData.meta.last_page > postData.meta.current_page"
                                                :infinityLoading = "infinityLoading" :HTMLElement = "'blogList'"
                                                v-on:loadMore = "getData(currentPage++)"
                                ></InfinityScroll>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</template>

<script>
import LoadingSvg from '../LoadingSvg'
import InfinityScroll from '../InfinityScroll'
import ImageLazy from '../../../../../../../resources/js/components/ImageLazy'

export default {
    name: 'Downloadable',
    data () {
        return {
            postData: [],
            infinityLoading: false,
            currentPage: 1,
            list: [],
            type: '',
            search: ''
        }
    },
    components: {
        LoadingSvg,
        InfinityScroll,
        ImageLazy
    },
    methods: {
        searchEvent () {
            clearTimeout(this.searchTimeout)
            this.searchTimeout = null
            this.currentPage = 1
            const self = this

            this.searchTimeout = setTimeout(() => {
                this.list = []
                self.getData()
            }, 400)
        },
        getData (page = null) {
            this.infinityLoading = true
            const self = this
            let slug = '/api/v1/downloadable-content'

            if (this.$route.query.page) {
                this.currentPage = this.$route.query.page
            }
            if (!page) {
                slug += `?page=${this.currentPage}`
            } else {
                slug += `?page=${page}`
            }
            if (self.search) {
                slug += '&search=' + self.search
            }
            this.axios.get(`${slug}`).then(response => {
                self.infinityLoading = false
                self.postData = response.data
                self.postData.data.forEach(item => {
                    this.list.push(item)
                })
                self.currentPage++
            }).catch(() => {
                //  self.$router.push({ name: 'NotFound' })
            })
        }
    },
    mounted () {
        this.getData()
    }

}
</script>

<style scoped>

</style>
