<template>
    <SchoolForm v-if="Object.keys(model).length > 0" :url="url" :model="model"></SchoolForm>
</template>

<script>
import SchoolForm from './SchoolForm'
import School from './School'

export default {
    name: 'SchoolCreate',
    extends: School,
    data () {
        return {
            model: {}
        }
    },
    components: { SchoolForm },
    beforeMount: function () {
        this.handleCreate('school', this.url, {})

        this.getSchool()
    }
}
</script>
