<template>
    <PostSubjectForm v-if="Object.keys(model).length > 0" :url="url" :model="model"></PostSubjectForm>
</template>

<script>
import PostSubjectForm from './PostSubjectForm'
import PostSubject from './PostSubject'

export default {
    name: 'PostSubjectEdit',
    extends: PostSubject,
    data () {
        return {
            model: {}
        }
    },
    components: { PostSubjectForm },
    beforeMount: function () {
        this.handleUpdate('post-subject', this.url, {})

        this.getPostSubject()
    }
}
</script>
