<template>
  <div class="container blog-container">
    <div class="mt-5">
      <div class="row page-tagline members py-2 mb-2">
        <div class="col-md-6">
          <h3 class="h4 title-left mt-3">MADS kapcsolat</h3>
          <div class="row">
            <div class="col-md-4"><img :src="contact.avatar" class="rounded-circle"></div>
            <div class="col-md-8 text-left">
              <div class="name">{{ contact.name }}</div>
              <div class="contact"><i class="fa fa-envelope"></i> E-mail: <a :href="'mailto:'+contact.email">{{contact.email}}</a></div>
              <div class="contact"><i class="fa fa-phone"></i>Telefon: <a :href="'tel:'+contact.phone">{{contact.phone}}</a></div>
            </div>
          </div>

        </div>
        <div class="col-md-6"><h3 class="h4 title-left mt-3">Ajánalat kérés</h3>
          <div class="name text-justify text-left">A pontos, személyre szabott árajánlat érdekében, kérjük a lehető legtöbb mezőt töltse ki. Amennyiben kérdése, vagy észrevétele van, kérem keresse értékesítési vezető
            kollégánkat bizalommal.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-sm-6">
          <div class="circle-tile ">
            <div class="circle-tile-content orange p-0">
              <div class="circle-tile-description text-faded py-3"><h3 class="text-dark">Diákmunka</h3></div>
              <a target="_blank" href="https://mads.hu/" class="circle-tile-footer p-2"><img class="img-fluid" height="50" style="max-height: 80px" src="/frontend/images/logo.png"></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="circle-tile ">
            <div class="circle-tile-content orange p-0">
              <div class="circle-tile-description text-faded py-3"><h3 class="text-dark">Munkaerő-kölcsönzés</h3></div>
              <a target="_blank" href="https://madswork.hu/" class="circle-tile-footer p-2"><img class="img-fluid" height="50" style="max-height: 80px" src="/images/madswork_logo.png"></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="circle-tile ">
            <div class="circle-tile-content orange p-0">
              <div class="circle-tile-description text-faded py-3"><h3 class="text-dark">Nyugdíjas foglalkoztatás</h3></div>
              <a class="circle-tile-footer p-2" href="https://www.madsgold.hu/"><img class="img-fluid" height="50" src="/images/madsgold_logo.jpg" style="max-height: 80px"></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="circle-tile ">
            <div class="circle-tile-content orange p-0">
              <div class="circle-tile-description text-faded py-3"><h3 class="text-dark">Munkaerő-közvetítés</h3></div>
              <a target="_blank" href="https://madswork.hu/" class="circle-tile-footer p-2"><img class="img-fluid" height="50" style="max-height: 80px" src="/images/madswork_logo.png"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="row page-tagline members py-2 mb-2">
        <div class="col-md-6"><h3 class="h4 title-left mt-3">Cég- és kapcsolat adatok</h3>
          <div class="row">
            <div class="col-md-12 text-left px-3">
              <FrontendInput v-model="requestModel.company_name" :title="'Cég neve'"></FrontendInput>
              <FrontendInput v-model="requestModel.city" :title="'Város'"></FrontendInput>
              <FrontendInput v-model="requestModel.zip" :title="'Irányítószám'"></FrontendInput>
              <FrontendInput v-model="requestModel.address" :title="'Cím'"></FrontendInput>
              <FrontendInput v-model="requestModel.contact_name" :title="'Kapcsolattartó neve'"></FrontendInput>
              <FrontendMask :mask="['+36(##)-###-####']" v-model="requestModel.contact_phone" :title="'Kapcsolattartó telefonszáma'"></FrontendMask>
              <FrontendInput v-model="requestModel.contact_email" :title="'Kapcsolattartó email címe'"></FrontendInput>
            </div>
          </div>
        </div>
        <div class="col-md-6"><h3 class="h4 title-left mt-3">Ajánalat kérés tárgya és feladatok</h3>
          <div class="row">
            <div class="col-md-6">
          <FrontendSingleCheckbox v-model="requestModel.subject[0]" :title="'Diákmunka'"></FrontendSingleCheckbox>
          <FrontendSingleCheckbox v-model="requestModel.subject[1]" :title="'Munkaerő közvetítés'"></FrontendSingleCheckbox>
            </div>
            <div class="col-md-6">
          <FrontendSingleCheckbox v-model="requestModel.subject[2]" :title="'Munkaerő kölcsönzés'"></FrontendSingleCheckbox>
          <FrontendSingleCheckbox v-model="requestModel.subject[3]" :title="'Nyugdíjasok foglalkoztatása'"></FrontendSingleCheckbox>
            </div>
            <div class="col-12 text-left">
              <FrontendInput v-model="requestModel.task" :title="'Elvégzendő feladat típus'"></FrontendInput>
              <FrontendInput v-model="requestModel.location" :title="'Munkavegzés helye'"></FrontendInput>
              <FrontendInput v-model="requestModel.duration" :title="'Megbízás időtartam'"></FrontendInput>
              <FrontendInput v-model="requestModel.program" :title="'Munkarend'"></FrontendInput>
              <FrontendInput v-model="requestModel.type" :title="'Típusa'"></FrontendInput>
              <FormTextArea v-model="requestModel.description" :title="'Tevékenység rövid bemutatása, speciális igények'"></FormTextArea>
            </div>
          </div>
        </div>

      </div>
      <div class="row mb-5">
        <div class="col-md-4"></div>
        <div  class="col-md-4 text-center">
          <button v-if="!sent" :disabled="sending" @click="saveRequest" type="submit" name="register" class="text-center button btn-xs black w-100"><span style="float: none">Ajánlat kérés</span></button>

        </div>
        <div class="col-12 p-3">
          <div v-if="sent" class="bg-success"><h2 class="h4 title p-3">Köszönjük hogy minket választott! Hamarosan a kollégáink felveszik önnel a kapcsolatot!</h2></div>
        </div>
      </div>

    </div>
  </div>

</template>

<script>
import LoadingSvg from '../LoadingSvg'
import InfinityScroll from '../InfinityScroll'
import ImageLazy from '../../../../../../../resources/js/components/ImageLazy'
import Breadgrump from '../Breadgrump.vue'
import FrontendInput from '../../../../../../../resources/js/frontend/components/form/FrontendInput.vue'
import FrontendCheckbox from '../../../../../../../resources/js/frontend/components/form/FrontendCheckbox.vue'
import FrontendSingleCheckbox from '../../../../../../../resources/js/frontend/components/form/FrontendSingleCheckbox.vue'
import FrontendMask from '../../../../../../../resources/js/frontend/components/form/FrontendMask.vue'
import FormTextArea from '../../../../../../../resources/js/components/form/FormTextArea.vue'

export default {
    name: 'Request',
    data () {
        return {
            requestModel: {
                subject: {}
            },
            sending: false,
            sent: false,
            contact: [],
            infinityLoading: false,
            currentPage: 1,
            list: [],
            type: '',
            search: ''
        }
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/request/`
        }
    },
    components: {
        Breadgrump,
        LoadingSvg,
        InfinityScroll,
        ImageLazy,
        FrontendInput,
        FrontendCheckbox,
        FrontendMask,
        FrontendSingleCheckbox,
        FormTextArea
    },
    methods: {
        searchEvent () {
            clearTimeout(this.searchTimeout)
            this.searchTimeout = null
            this.currentPage = 1
            const self = this

            this.searchTimeout = setTimeout(() => {
                this.list = []
                self.getData()
            }, 400)
        },
        getContact () {
            this.axios.get(`${this.url}` + 'user?id=' + (this.$route.query.id ? this.$route.query.id : 8)).then((rs) => {
                this.contact = rs.data
            })
        },
        saveRequest () {
            this.sending = true
            this.axios.post(`${this.url}` + 'save?id=' + (this.$route.query.id ? this.$route.query.id : 8) + (this.$route.query.cid ? '&cid=' + this.$route.query.cid : ''), this.requestModel).then((rs) => {
                this.contact = rs.data
                this.sending = false
                this.sent = true
            }).catch(() => { this.sending = false })
        }

    },
    mounted () {
        this.getContact()
    }

}
</script>

<style scoped>

</style>
