<template>
    <SemesterForm v-if="Object.keys(model).length > 0" :url="url" :model="model"></SemesterForm>
</template>

<script>
import SemesterForm from './SemesterForm'
import Semester from './Semester'

export default {
    name: 'SemesterEdit',
    extends: Semester,
    data () {
        return {
            model: {}
        }
    },
    components: { SemesterForm },
    beforeMount: function () {
        this.handleUpdate('semester', this.url, {})

        this.getSemester()
    }
}
</script>
