<template>
  <div>
    <div class="alert alert-custom alert-white alert-shadow kt-portlet" role="alert">

      <h3 class="text-info">{{ $t('Tanév félév') }}</h3>
    </div>
    <div class="kt-portlet">
      <div class="kt-portlet__body">
        <div class="kt-form kt-form--label-right">
          <div class="kt-form__body">
            <div class="row">
              <div class="col-6">
                <FormSelect v-model="model.type" :title="$t('Típus')" v-if="model" :options="{'2':'Tanév','1':'Félév(Diák)','3':'Félév(Jogviszony)'}" @change="changeModel"></FormSelect>
              </div>
              <div class="col-6" >
                <FormSelect v-model="model.semester" :title="$t('Évszak')" v-if="model.type != 2 " :options="{'1':'Őszi','2':'Tavaszi'}" @change="changeModel"></FormSelect>
              </div>
              <div class="col-6">
                <FormDatePicker v-model="model.start" :title="$t('Kezdete')" @change="changeModel"></FormDatePicker>
              </div>
              <div class="col-6">
                <FormDatePicker v-model="model.end" :title="$t('Vége')" @change="changeModel" ></FormDatePicker>
              </div>
              <div class="col-6">
                <FormInput readonly="true" v-model="model.name" :title="$t('Megnevezés')"></FormInput>
              </div>
              <div class="col-6">
                <FormSelect v-model="model.active" :title="$t('Aktív')" v-if="model" :options="{'1':'Igen','2':'Nem'}"></FormSelect>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
import FormSelect from '../../../../../../resources/js/components/form/FormSelect'
import FormDatePicker from '../../../../../../resources/js/components/form/FormDatePicker'
import FormInput from '../../../../../../resources/js/components/form/FormInput'

export default {
    name: 'SemesterForm',
    props: {
        url: {
            required: true,
            type: String
        },
        model: {
            required: true,
            type: Object
        }
    },
    data () {
        return {}
    },
    computed: {
        languages: function () {
            const l = []
            for (const it in this.$store.state.defaultStore.languages) {
                l.push(it)
            }
            return l
        }
    },
    components: { FormSelect, FormDatePicker, FormInput },
    methods: {
        changeModel () {
            this.model.name = new Date(this.model.start).getFullYear() + '/' + new Date(this.model.end).getFullYear() + (this.model.type === '2' ? ' Tanév' : (this.model.semester === '1' ? ' Őszi' : ' Tavaszi'))
            this.model.key = new Date(this.model.start).getFullYear() + '/' + new Date(this.model.end).getFullYear() + (this.model.type === '2' ? 'tanev' : (this.model.semester === '1' ? 'osz' : 'tavasz'))
        }
    },
    created () {
    },
    mounted () {
    }
}
</script>
