<template>
    <CityForm v-if="Object.keys(model).length > 0" :url="url" :model="model"></CityForm>
</template>

<script>
import CityForm from './CityForm'
import City from './City'

export default {
    name: 'CityCreate',
    extends: City,
    data () {
        return {
            model: {}
        }
    },
    components: { CityForm },
    beforeMount: function () {
        this.handleCreate('city', this.url, {})

        this.getCity()
    }
}
</script>
