<template>
    <div class="new-block block type-4 scroll-to-block" data-id="#felnott-berkalkulator">
        <div class="container">
            <div class="row page-tagline">
                <div class="col-md-10 offset-md-1">
                    <h2 class="title">FELNŐTT BÉR KALKULÁTOR</h2>
                    <div class="description" v-if="content && content['felnott-ber-kalkulator']">{{content['felnott-ber-kalkulator'].content}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <FrontendSingleCheckbox class="mb-5" :title="'25 év alatti vagyok'" v-model="income.year25"></FrontendSingleCheckbox>
                    <div class="has-float-label" v-bind:class="{'has-error':income.gross_error}">
                        <input v-model="income.gross" class="form-control" id="gross-hour2" type="text" placeholder=" " >
                        <label for="gross-hour2">Havi bruttó munkabér</label>
                    </div>
                    <div class="mt-3">
                        <div class="description-label mb-2" v-bind:class="{'has-error':income.child_error}">Gyermekek száma: </div>
                        <div class="checkbox-entry radio">
                            <input type="radio" checked="" v-model="income.child" value="0" name="radiobutton">
                            <label>Nincs gyerekem</label>
                        </div>
                        <div class="checkbox-entry radio">
                            <input type="radio" checked="" v-model="income.child" value="1" name="radiobutton">
                            <label>1 gyerek</label>
                        </div>
                        <div class="checkbox-entry radio">
                            <input type="radio" checked="" v-model="income.child" value="2" name="radiobutton">
                            <label>2 gyerek</label>
                        </div>
                        <div class="checkbox-entry radio">
                            <input type="radio" checked="" v-model="income.child" value="3" name="radiobutton">
                            <label>3 gyerek</label>
                        </div>

                    </div>
                    <a class=" button size-2 mt-5 pull-right" @click="calcIncome"><span>Nettó bér számítása</span></a>
                </div>
                <div class="col-md-6">
                    <div class="row" v-if="income.net_month">
                        <div class="col-md-8 text-right mt-5">
                            <h3 class="calculator text-warning">SzJA:</h3>
                        </div>
                        <div class="col-md-4 text-left right mt-5">
                            <h3 class="calculator"><Price :value="''+income.szja"></Price></h3>
                        </div>
                        <div class="col-md-8 text-right mt-1">
                            <h3 class="calculator text-warning">Társadalombiztosítási járulék(18,5%):</h3>
                        </div>
                        <div class="col-md-4 text-left right mt-1">
                            <h3 class="calculator"><Price :value="''+income.tb"></Price></h3>
                        </div>
                        <div class="col-md-8 text-right mt-1">
                            <h3 class="calculator text-warning">Adókedvezmény:</h3>
                        </div>
                        <div class="col-md-4 text-left right mt-1">
                            <h3 class="calculator"><Price :value="''+income.discount"></Price></h3>
                        </div>
                        <div class="col-md-8 text-right mt-1">
                            <h3 class="calculator text-warning">Szociális hozzájárolási adó:</h3>
                        </div>
                        <div class="col-md-4 text-left right mt-1">
                            <h3 class="calculator"><Price :value="'' + income.szoc"></Price></h3>
                        </div>
                        <div class="col-md-8 text-right mt-1">
                            <h3 class="calculator text-warning">Szakképzési hozzájárulás:</h3>
                        </div>
                        <div class="col-md-4 text-left right mt-1">
                            <h3 class="calculator"><Price :value="''+income.szak"></Price></h3>
                        </div>
                        <div class="col-md-8 text-right mt-1">
                            <h3 class="calculator text-warning">Munkáltató össz költsége:</h3>
                        </div>
                        <div class="col-md-4 text-left right mt-1">
                            <h3 class="calculator"><Price :value="''+income.price"></Price></h3>
                        </div>
                        <div class="col-md-8 text-right mt-1">
                            <h3 class="calculator text-warning">Éves bruttó jövedelem:</h3>
                        </div>
                        <div class="col-md-4 text-left right mt-1">
                            <h3 class="calculator"><Price :value="''+income.gross_year"></Price></h3>
                        </div>
                        <div class="col-md-8 text-right mt-3">
                            <h3 class="calculator text-warning">Nettó bér:</h3>
                        </div>
                        <div class="col-md-4 text-left right mt-3">
                            <h3 class="calculator"><Price :value="''+income.net_month"></Price></h3>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
import Price from '../../../../../../../resources/js/components/Price'
import FrontendSingleCheckbox from '../../../../../../../resources/js/frontend/components/form/FrontendSingleCheckbox'
export default {
    name: 'AdultCalculator',
    components: { Price, FrontendSingleCheckbox },
    props: ['content'],
    data () {
        return {
            income: {
                year25: false,
                gross: null,
                gross_error: false,
                child: null,
                child_error: null,
                szja: null,
                tb: null,
                discount: null,
                szoc: null,
                szak: null,
                price: null,
                gross_year: null,
                net_month: null,
                underAgeLimit: 656785

            }
        }
    },
    methods: {
        calcIncome () {
            this.income.gross_error = false
            if (!this.income.gross || parseInt(this.income.gross) !== 1 * this.income.gross) {
                this.income.gross_error = true
            } else {
                if (this.income.year25) {
                    if (this.income.gross < this.underAgeLimit) {
                        this.income.szja = this.income.gross * 0
                    } else {
                        this.income.szja = (this.income.gross - this.underAgeLimit) * 0.15
                    }
                } else {
                    this.income.szja = this.income.gross * 0.15
                }
                this.income.tb = this.income.gross * 0.185
                this.income.szoc = this.income.gross * 0.13
                this.income.szak = 0
                this.income.price = this.income.gross * 1 + this.income.szoc * 1 + this.income.szak * 1

                this.income.gross_year = 12 * this.income.gross
                this.income.discount = 0
                const sum = this.income.szja + this.income.tb
                if (parseInt(this.income.child) === 1) {
                    this.income.discount = 10000
                    if (this.income.discount > sum) {
                        this.income.discount = sum
                    }
                }
                if (parseInt(this.income.child) === 2) {
                    this.income.discount = 25000
                    if (this.income.discount > sum) {
                        this.income.discount = sum
                    }
                }
                if (parseInt(this.income.child) === 3) {
                    this.income.discount = 99000
                    if (this.income.discount > sum) {
                        this.income.discount = sum
                    }
                }
                this.income.net_month = this.income.gross - this.income.szja - this.income.szak - this.income.tb + this.income.discount
            }
        }
    }
}
</script>

<style scoped>

</style>
