<template>
    <div>
        <u-animate-container class = "new-block type-3 type-3-1 scroll-to-block color-background" data-id = "#cegeknek">
            <div class = "container type-3-text">
                <div class = "row page-tagline">
                    <div class = "col-md-12  wow flipInX animated">
                        <h2 class = "title">Cégeknek</h2>
                        <div class = "description"><img class = "img-responsive full company"
                                                        src = "https://mads.hu/assets/frontend/img/munkaltatok.png"
                                                        alt = "Munkáltatóknak" title = "munkavállalóknak"
                        ></div>
                    </div>
                </div>
                <div class = "row front-company" v-if = "content">
                    <u-animate name = "flipInX" delay = "0.3s" duration = "1s" :iteration = "1" :offset = "0"
                               animateClass = "animated" :begin = "false" v-if = "content.diakmunka"
                               class = "col-md-4 col-sm-6 little-img-text-entry"
                    >
                        <article class = "small">
                            <h5 class = "h5">{{ content.diakmunka.title }}</h5>
                            <p>{{ content.diakmunka.content }}</p>
                            <a class = "button black type-1 w-100 text-center pb-1 " href = "/diakmunka"
                            ><span>Bővebben</span></a>
                        </article>
                    </u-animate>
                    <u-animate name = "flipInX" delay = "0.3s" duration = "1s" :iteration = "1" :offset = "0"
                               animateClass = "animated" :begin = "false" v-if = "content['gyakornoki-program']"
                               class = "col-md-4 col-sm-6 little-img-text-entry"
                    >
                        <article class = "small">
                            <h5 class = "h5">{{ content['gyakornoki-program'].title }}</h5>
                            <p>{{ content['gyakornoki-program'].content }}</p>
                            <a class = "button black type-1 w-100 text-center pb-1 " href = "/gyakornoki-program"
                            ><span>Bővebben</span></a>
                        </article>
                    </u-animate>
                    <u-animate name = "flipInX" delay = "0.3s" duration = "1s" :iteration = "1" :offset = "0"
                               animateClass = "animated" :begin = "false" v-if = "content['miert-a-mads']"
                               class = "col-md-4 col-sm-6 little-img-text-entry"
                    >
                        <article class = "small">
                            <h5 class = "h5">{{ content['miert-a-mads'].title }}</h5>
                            <p>{{ content['miert-a-mads'].content }}</p>
                            <a class = "button black type-1 w-100 text-center pb-1 " href = "/miert-a-mads"
                            ><span>Bővebben</span></a>
                        </article>
                    </u-animate>
                    <u-animate name = "flipInX" delay = "0.3s" duration = "1s" :iteration = "1" :offset = "0"
                               animateClass = "animated" :begin = "false" v-if = "content['egyeb-szolgalatas']"
                               class = "col-md-4 col-sm-6 little-img-text-entry"
                    >
                        <article class = "small">
                            <h5 class = "h5">{{ content['egyeb-szolgalatas'].title }}</h5>
                            <p>{{ content['egyeb-szolgalatas'].content }}</p>
                            <a class = "button black type-1 w-100 text-center pb-1 " href = "/egyeb-szolgaltatsok"
                            ><span>Bővebben</span></a>
                        </article>
                    </u-animate>
                    <u-animate name = "flipInX" delay = "0.3s" duration = "1s" :iteration = "1" :offset = "0"
                               animateClass = "animated" :begin = "false" v-if = "content['arajanlat-keres']"
                               class = "col-md-4 col-sm-6 little-img-text-entry"
                    >
                        <article class = "small">
                            <h5 class = "h5">{{ content['arajanlat-keres'].title }}</h5>
                            <p>{{ content['arajanlat-keres'].content }}</p>
                            <a class = "button black type-1 w-100 text-center pb-1 " target="_blank" href = "https://mads.hu/ajanlat-keres?id=8"
                            ><span>Bővebben</span></a>
                        </article>
                    </u-animate>
                    <u-animate name = "flipInX" delay = "0.3s" duration = "1s" :iteration = "1" :offset = "0"
                               animateClass = "animated" :begin = "false" v-if = "content.referencia"
                               class = "col-md-4 col-sm-6 little-img-text-entry"
                    >
                        <article class = "small">
                            <h5 class = "h5">{{ content.referencia.title }}</h5>
                            <p>{{ content.referencia.content }}</p>
                            <a class = "button black type-1 w-100 text-center pb-1 " href = "/referencia"
                            ><span>Bővebben</span></a>
                        </article>
                    </u-animate>
                </div>
            </div>
        </u-animate-container>
        <PartnerLogo></PartnerLogo>
        <u-animate-container class = "new-block type-3 type-3-1 scroll-to-block color-background"
                             data-id = "#torvenyek" v-if="content"
        >
                <div class = "container type-3-text">
                    <div class="row">
                    <u-animate name = "bounceInLeft" delay = "0.4s" duration = "1s" :iteration = "1" :offset = "0"
                               animateClass = "animated" :begin = "false"
                               class = "col-md-4 col-sm-6 little-img-text-entry"
                               v-if = "content['torvenyek-jogszabalyok']"
                    >
                        <img class = "icon" src = "/frontend/images/torveny.jpg" alt = "">
                        <article class = "small ">
                            <h5 class = "h5 mt-1"><br>{{ content['torvenyek-jogszabalyok'].title }}</h5>
                            <p>{{ content['torvenyek-jogszabalyok'].content }}</p>
                            <a class = "button black type-1 w-100 text-center pb-1 " href = "/torvenyek-jogszabalyok"
                            ><span>Bővebben</span></a>
                        </article>
                    </u-animate>
                    <u-animate name = "bounceInLeft" delay = "0.4s" duration = "1s" :iteration = "1" :offset = "0"
                               animateClass = "animated" :begin = "false"
                               class = "col-md-4 col-sm-6 little-img-text-entry"
                               v-if = "content['munkavallalas-feltetelei']"
                    >
                        <img class = "icon" src = "/frontend/images/munkavallalas.jpg" alt = "">
                        <article class = "small ">
                            <h5 class = "h5 mt-1"><br>{{ content['munkavallalas-feltetelei'].title }}</h5>
                            <p>{{ content['munkavallalas-feltetelei'].content }}</p>
                            <a class = "button black type-1 w-100 text-center pb-1 " href = "/munkavallalas-feltetelei"><span>Bővebben</span></a>
                        </article>
                    </u-animate>
                    <u-animate name = "bounceInLeft" delay = "0.4s" duration = "1s" :iteration = "1" :offset = "0"
                               animateClass = "animated" :begin = "false"
                               class = "col-md-4 col-sm-6 little-img-text-entry"
                               v-if = "content['letoltheto-dokumentumok']"
                    >
                        <img class = "icon" src = "/frontend/images/letoltheto.jpg" alt = "">
                        <article class = "small ">
                            <h5 class = "h5 mt-1"><br>{{ content['letoltheto-dokumentumok'].title }}</h5>
                            <p>{{ content['letoltheto-dokumentumok'].content }} </p>
                            <a class = "button black type-1 w-100 text-center pb-1 " href = "/letoltheto-dokumentumok"
                            ><span>Bővebben</span></a>
                        </article>
                    </u-animate>
                </div>
                </div>
        </u-animate-container>
    </div>
</template>

<script>
import { UAnimateContainer, UAnimate } from 'vue-wow'
import PartnerLogo from './PartnerLogo'

export default {
    name: 'Companies',
    props: ['content'],
    components: {
        PartnerLogo,
        UAnimateContainer,
        UAnimate
    }
}
</script>

<style scoped>

</style>
