<template>
    <u-animate-container class="new-block type-15 scroll-to-block " data-id="#kiemelt-munkak" v-if="works.length">
        <div class="container">
            <div class="row">
                <u-animate
                    name="flipInX"
                    delay="0s"
                    duration="1s"
                    :iteration="1"
                    :offset="0"
                    animateClass="animated"
                    :begin="false"
                    class="col-md-12 page-tagline">
                <h2 class="title">Kiemelt munkáink</h2>
                </u-animate>
                <u-animate v-for="(work,index) in works" v-bind:key="'hwork-'+work.id"
                :name="(index%2===0)?'bounceInLeft':'bounceInRight'"
                delay="0s"
                duration="1s"
                :iteration="1"
                :offset="0"
                animateClass="animated"
                :begin="false"
                class="col-md-6">
                    <div class="blog-post">
                        <router-link :to="'/munkak'+work.category_slug+work.slug" class="thumbnail-entry"><img :src="work.image" :title="work.name" :alt="work.name"></router-link>
                        <div class="data ">
                            <div class="text frontend-text">
                                <router-link :to="'/munkak'+work.category_slug+work.slug">{{work.name}}</router-link>
                                <div class="description">{{work.lead}}
                                </div>
                                <router-link :to="'/munkak'+work.category_slug+work.slug" class="button size-2"><span>Részletek</span></router-link>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </u-animate>
            </div>
        </div>
    </u-animate-container>
</template>

<script>
import { UAnimateContainer, UAnimate } from 'vue-wow'
export default {
    name: 'Highlighted.vue',
    components: {
        UAnimateContainer,
        UAnimate
    },
    data () {
        return {
            works: []
        }
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/`
        }
    },
    methods: {
        getHighlightedWork () {
            this.axios.get(this.url + 'highlighted-work').then(resp => {
                this.works = resp.data.data
            })
        }
    },
    mounted () {
        this.getHighlightedWork()
    }
}
</script>

<style scoped>

</style>
