
<script>
import Site from '../Site'

export default {
    name: 'Home',

    data () {
        return {
            contents: null,
            contact: null
        }
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/`
        }
    },
    extends: { Site },
    methods: {
        getContens () {
            this.axios.get('/storage/content.json?time=' + (new Date().getTime())).then(resp => {
                this.contents = resp.data
            })
            this.axios.get('/storage/contact.json?time=' + (new Date().getTime())).then(resp => {
                this.contact = resp.data
            })
        }

    }
}
</script>

<style scoped>

</style>
