<template>
    <div class="new-block type-18 scroll-to-block" data-id="#diak-berkalkulator" v-if="content && content['kinek-jo-a-diakmunka']">
        <div class="container">
            <div class="row page-tagline mads">
                        <div class="col-md-12 description" v-html="content['kinek-jo-a-diakmunka'].content">

                        </div>

            </div>
        </div>
    </div>
</template>

<script>

export default {
    name: 'MADS',
    props: ['content']
}
</script>

<style scoped>

</style>
