<template>
    <div class="conatiner-fluid block" id="logos"  v-if="logos && Object.keys(logos).length">
        <div class = "row page-tagline type-4">
            <div class = "col-md-12  wow flipInX animated">
                <h3 class = "title">Ők már minket választottak</h3>
            </div>
        </div>
    <VueSlickCarousel class=" container-fluid" v-bind="settings" ref="carouselLogo"  style="max-height:200px" >
        <div v-for="(slider,index) in logos" v-bind:key="'logos'+index" class=" justify-content-center  align-items-center">
            <ImageLazy :image="slider.log" ></ImageLazy>
        </div>
    </VueSlickCarousel>
    </div>
</template>

<script>
import VueSlickCarousel from 'vue-slick-carousel'
import ImageLazy from '../../../../../../../resources/js/components/ImageLazy'
export default {
    name: 'PartnerLogo',
    components: { VueSlickCarousel, ImageLazy },
    data () {
        return {
            logos: [],
            settings: {
                arrows: false,
                loop: true,
                dots: false,
                infinite: true,
                autoplay: true,
                speed: 1000,
                autoplaySpeed: 2000,
                fadeIn: true,
                slidesToShow: 4,
                slidesToScroll: 4,
                initialSlide: 0,
                responsive: [
                    {
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 3,
                            infinite: true,
                            dots: true
                        }
                    },
                    {
                        breakpoint: 600,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 2,
                            initialSlide: 2
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    }
                ]
            }
        }
    },
    methods: {
        getSlider () {
            this.axios.get('/api/v1/get-partner-logos').then(resp => {
                this.logos = resp.data.data
            })
        }
    },
    mounted () {
        this.getSlider()
    }
}
</script>

<style scoped>

</style>
