<template>
    <div class="new-block type-11 increased-height scroll-to-block" data-id="home" v-if="slides && Object.keys(slides).length">

        <VueSlickCarousel class="d-none d-sm-block" ref="carousel" :arrows="false"  :infinite = "true" :autoplay="true" @afterChange="setActive($event)"  >
            <div v-for="(slider,index) in slides" v-bind:key="'slides'+index" >
                <div class="hv-100" :style="'background: url(\''+slider.image+'\');background-size: cover;background-position:center center'">
                <div class="center-tagline" :style="'position-relative'">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8">
                                <u-animate-container v-if="index-1 == active">
                                <u-animate
                                    name="bounceInLeft"
                                    delay="0.5s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                                    class="banner-article layer-container">
                                    <h1 class="title" v-if="slider.title">{{slider.title}}</h1>
                                    <div class="description" v-if="slider.lead">{{slider.lead}}
                                    </div>
                                    <a class="button" v-if="slider.link && slider.button_text" :href="slider.link"><span>{{slider.button_text}}</span></a>
                                </u-animate>
                                <u-animate
                                    name="bounceInLeft"
                                    delay="0.3s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                                    class="layer"></u-animate>
                                </u-animate-container>
                            </div>
                            <div class="col-md-6 banner-image" v-if="slider.sec_image">
                                <u-animate-container v-if="index-1 == active">
                                    <u-animate
                                        name="flipInX"
                                        delay="0.5s"
                                        duration="1s"
                                        :iteration="1"
                                        :offset="0"
                                        animateClass="animated"
                                        :begin="false"
                                        class="col-md-12 center-block">
                                <img :src="slider.sec_image" alt="">
                                    </u-animate>
                                </u-animate-container>
                            </div>
                        </div>
                    </div>
                    </div>
                </div></div>

        </VueSlickCarousel>
       <VueSlickCarousel class="d-block d-sm-none" ref="carousel2" :arrows="false"  :infinite = "true" :autoplay="true" @afterChange="setActive($event)"  >
        <div v-for="(slider,index) in slides" v-bind:key="'slides'+index" >
          <div class="hv-100" :style="'background: url(\''+((slider.mobile_image)?slider.mobile_image:slider.image)+'\');background-size: cover;background-position:center center'">
            <div class="center-tagline" :style="'position-relative'">
              <div class="container">
                <div class="row">
                  <div class="col-md-8">
                    <u-animate-container v-if="index-1 == active">
                      <u-animate
                          name="bounceInLeft"
                          delay="0.5s"
                          duration="1s"
                          :iteration="1"
                          :offset="0"
                          animateClass="animated"
                          :begin="false"
                          class="banner-article layer-container">
                        <h1 class="title" v-if="slider.title">{{slider.title}}</h1>
                        <div class="description" v-if="slider.lead">{{slider.lead}}
                        </div>
                        <a class="button" v-if="slider.link && slider.button_text" :href="slider.link"><span>{{slider.button_text}}</span></a>
                      </u-animate>
                      <u-animate
                          name="bounceInLeft"
                          delay="0.3s"
                          duration="1s"
                          :iteration="1"
                          :offset="0"
                          animateClass="animated"
                          :begin="false"
                          class="layer"></u-animate>
                    </u-animate-container>
                  </div>
                  <div class="col-md-6 banner-image" v-if="slider.sec_image">
                    <u-animate-container v-if="index-1 == active">
                      <u-animate
                          name="flipInX"
                          delay="0.5s"
                          duration="1s"
                          :iteration="1"
                          :offset="0"
                          animateClass="animated"
                          :begin="false"
                          class="col-md-12 center-block">
                        <img :src="slider.sec_image" alt="">
                      </u-animate>
                    </u-animate-container>
                  </div>
                </div>
              </div>
            </div>
          </div></div>

      </VueSlickCarousel>
        <div class="swiper-arrow left default-arrow" @click="showPerv"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></div>
        <div class="swiper-arrow right default-arrow" @click="showNext"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></div>
    </div>

</template>
<style>
.slick-slide {
  display: inline-grid;
}
@media only screen and (max-width: 600px) {
.d-none {
  display:none !important;
}

}
</style>
<script>
import VueSlickCarousel from 'vue-slick-carousel'
import 'vue-slick-carousel/dist/vue-slick-carousel.css'
// optional style for arrows & dots
// import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'
import '../../../../../../../public/frontend/css/swiper.min.css'
import { UAnimateContainer, UAnimate } from 'vue-wow'
export default {
    name: 'Slider.vue',
    components: {
        VueSlickCarousel,
        UAnimateContainer,
        UAnimate
    },
    data () {
        return {
            active: 0,
            slides: {}
        }
    },
    computed: {
        getActive () {
            console.log(window.$('.slick-slide.slick-active.slick-current').data('index'))
            return window.$('.slick-slide.slick-active.slick-current').data('index')
        }
    },
    methods: {
        getSlider () {
            this.axios.get('/storage/slider.json?time=' + (new Date().getTime())).then(resp => {
                this.slides = resp.data
            })
        },
        setActive (index) {
            this.active = index
        },
        showNext () {
            this.$refs.carousel.next()
        },
        showPerv () {
            this.$refs.carousel.prev()
        }
    },
    mounted () {
        this.getSlider()
    }
}
</script>
