<template>
    <div class="new-block type-18 scroll-to-block" data-id="#diak-berkalkulator">
        <div class="container">
            <div class="row page-tagline">
                <div class="col-md-10 offset-md-1">
                    <h2 class="title">DIÁK BÉRKALKULÁTOR</h2>
                    <div class="description" v-if="content && content['diak-berkalkulator']">{{content['diak-berkalkulator'].content}}
                    </div>
                </div>
            </div>
            <div class="row">
                        <div class="col-md-6">
                            <FrontendSingleCheckbox class="mb-5" :title="'25 év alatti vagyok'" v-model="income.year25"></FrontendSingleCheckbox>
                            <div class="has-float-label" v-bind:class="{'has-error':income.gross_error}">
                                <input class="form-control" id="gross" type="text" v-model="income.gross" placeholder=" " >
                                <label for="gross">Bruttó bér</label>
                            </div>
                            <a class=" button size-2 mt-2 mb-2 " @click="calcByGross"><span>Nettó bér számítása</span></a>
                            <div class="separator">vagy</div>
                            <div class="has-float-label" v-bind:class="{'has-error':income.gross_hour_error}">
                                <input class="form-control" id="gross-hour" v-model="income.gross_hour" type="text" placeholder=" " >
                                <label for="gross-hour">Bruttó óra bér</label>
                            </div>
                            <div class="has-float-label" v-bind:class="{'has-error':income.hour_error}">
                                <input class="form-control" v-model="income.hour" id="hours" type="text" placeholder=" " >
                                <label for="hours">Ledolgozott órák száma</label>
                            </div>
                            <a class=" button size-2  mt-2 " @click="calcByGrossAndHour"><span>Nettó bér számítása</span></a>
                        </div>
                        <div class="col-md-6">
                            <div class="row" v-if="income.gross_month">
                                <div class="col-md-8 text-right mt-5">
                                    <h3 class="calculator text-warning">Aktuális havi bruttó jövedelem:</h3>
                                </div>
                                <div class="col-md-4 text-left right mt-5">
                                    <h3 class="calculator"><Price :value="''+this.income.gross_month"></Price></h3>
                                </div>
                                <div class="col-md-8 text-right mt-2">
                                    <h3 class="calculator text-warning">SzJA:</h3>
                                </div>
                                <div class="col-md-4 text-left mt-2">
                                    <h3 class="calculator"><Price :value="''+this.income.szja"></Price></h3>
                                </div>
                                <div class="col-md-8 text-right mt-5">
                                    <h3 class="calculator text-warning">Nettó jövedelem:</h3>
                                </div>
                                <div class="col-md-4 text-left mt-5">
                                    <h3 class="calculator"><Price :value="''+this.income.net_month"></Price></h3>
                                </div>
                            </div>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
import Price from '../../../../../../../resources/js/components/Price'
import FrontendSingleCheckbox from '../../../../../../../resources/js/frontend/components/form/FrontendSingleCheckbox'
export default {
    name: 'StudentCalculator',
    props: ['content'],
    data () {
        return {
            income: {
                year25: false,
                gross: null,
                gross_error: false,
                gross_hour: null,
                gross_hour_error: null,
                hour: null,
                hour_error: null,
                gross_month: null,
                szja: null,
                net_month: null,
                underAgeLimit: 656785

            }
        }
    },
    methods: {
        calcByGross () {
            this.income.gross_error = false
            if (!this.income.gross || parseInt(this.income.gross) !== 1 * this.income.gross) {
                this.income.gross_error = true
            } else {
                if (this.income.year25) {
                    if (this.income.gross <= this.underAgeLimit) {
                        this.income.szja = 0
                        this.income.net_month = this.income.gross
                        this.income.gross_month = this.income.gross
                    } else {
                        this.income.szja = (this.income.gross - this.underAgeLimit) * 0.15
                        this.income.net_month = this.income.gross - this.income.szja
                        this.income.gross_month = this.income.gross
                    }
                } else {
                    this.income.szja = this.income.gross * 0.15
                    this.income.net_month = this.income.gross - this.income.szja
                    this.income.gross_month = this.income.gross
                }
            }
        },
        calcByGrossAndHour () {
            this.income.gross_hour_error = false
            this.income.hour_error = false
            if (!this.income.gross_hour || parseInt(this.income.gross_hour) !== 1 * this.income.gross_hour) {
                this.income.gross_hour_error = true
            }
            if (!this.income.hour || !parseFloat(this.income.gross_hour)) {
                this.income.hour_error = true
            }
            if (!this.income.hour_error && !this.income.hour_error) {
                if (this.income.year25) {
                    if (this.income.gross_hour * this.income.hour <= this.underAgeLimit) {
                        this.income.szja = 0
                        this.income.net_month = this.income.gross_hour * this.income.hour
                        this.income.gross_month = this.income.gross_hour * this.income.hour
                    } else {
                        this.income.szja = (this.income.gross_hour * this.income.hour - this.underAgeLimit) * 0.15
                        this.income.net_month = this.income.gross_hour * this.income.hour - this.income.szja
                        this.income.gross_month = this.income.gross_hour * this.income.hour
                    }
                } else {
                    this.income.szja = this.income.gross_hour * this.income.hour * 0.15
                    this.income.net_month = this.income.gross_hour * this.income.hour - this.income.szja
                    this.income.gross_month = this.income.gross_hour * this.income.hour
                }
            }
        }
    },
    components: { Price, FrontendSingleCheckbox }
}
</script>

<style scoped>

</style>
