<template>
    <u-animate-container class="new-block type-19 scroll-to-block" data-id="#munkakategoriak" v-if="categories.length">
        <div class="container-fluid">
            <u-animate
                name="flipInX"
                delay="0s"
                duration="1s"
                :iteration="1"
                :offset="0"
                animateClass="animated"
                :begin="false"
                class="row page-tagline">
                <div class="col-md-12">
                    <h2 class="title">Munka kategóriák</h2>
                </div>
            </u-animate>
            <div class="row">
                <u-animate
                    name="bounceInLeft"
                    delay="0s"
                    duration="1s"
                    :iteration="1"
                    :offset="0"
                    animateClass="animated"
                    :begin="false"
                    class=" sorting-item" v-for="i in categories" v-bind:key="'cat'+i.id">
                    <router-link :to="'/munkak/'+i.slug">
                        <img :src="i.og_image"  class="img-fluid" alt="">
                        <div class="tagline">
                            <div class="content">
                                <div class="title">{{i.name}}</div>
                                <div class="description">Kattints a részletekért</div>
                            </div>
                        </div>
                    </router-link>
                </u-animate>
                <u-animate v-if="categories.length%4 ==2"
                    name="rotateInUpLeft"
                    delay="0s"
                    duration="1s"
                    :iteration="1"
                    :offset="0"
                    animateClass="animated"
                    :begin="false"
                    class="">
                <img src="/frontend/images/munkaero.jpg" class="img-fluid">
                </u-animate>
            </div>

        </div>
    </u-animate-container>
</template>

<script>
import { UAnimateContainer, UAnimate } from 'vue-wow'
export default {
    name: 'WorkCategory',
    components: {
        UAnimateContainer,
        UAnimate
    },
    data () {
        return {
            categories: []
        }
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/`
        }
    },
    methods: {
        getWorkCategories () {
            this.axios.get(this.url + 'work-categories').then(resp => {
                this.categories = resp.data.data
            })
        }
    },
    mounted () {
        this.getWorkCategories()
    }
}
</script>

<style scoped>

</style>
