<template>
    <DownloadableDocumentForm v-if="Object.keys(model).length > 0" :url="url" :model="model"></DownloadableDocumentForm>
</template>

<script>
import DownloadableDocumentForm from './DownloadableDocumentForm'
import DownloadableDocument from './DownloadableDocument'

export default {
    name: 'DownloadableDocumentCreate',
    extends: DownloadableDocument,
    data () {
        return {
            model: {}
        }
    },
    components: { DownloadableDocumentForm },
    beforeMount: function () {
        this.handleCreate('downloadable-contents', this.url, {})

        this.getDownloadableDocument()
    }
}
</script>
