<template>
    <div class="kt-portlet">
        <div class="kt-portlet__body">
            <div class="kt-form kt-form--label-right">
                <div class="kt-form__body">
                    <div class="row">
                    <div class="col-lg-6">
                        <FormInput v-model="model.name" :title="$t('Document name')"></FormInput>
                        <FormSelect v-model="model.is_main" :title="$t('Featured?')" :options="{0: $t('No'), 1: $t('Yes')}"></FormSelect>
                        <FormFileUpload v-model="model.main_image" :title="$t('Featured image')" v-if="parseInt(model.is_main) === 1"></FormFileUpload>
                        <a v-if="model.file" :href="model.file" download >{{$t('Download File')}} </a>
                    </div>
                    <div class="col-lg-6">
                        <FormFileUpload v-model="model.file" :title="$t('Documentum')" ></FormFileUpload>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import FormInput from '../../../../../../resources/js/components/form/FormInput'
import FormDropZone from '../../../../../../resources/js/components/form/FormDropZone'
import FormSelect from '../../../../../../resources/js/components/form/FormSelect'
import FormFileUpload from '../../../../../../resources/js/components/form/FormFileUpload'

export default {
    name: 'DownloadableDocumentForm',
    props: {
        url: {
            required: true,
            type: String
        },
        model: {
            required: true,
            type: Object
        }
    },
    data () {
        return {

        }
    },
    computed: {},
    components: { FormInput, FormDropZone, FormSelect, FormFileUpload },
    methods: {
        changeImage (event) {
            console.log(event)
            this.model.file = event
        }

    },
    created () {},
    mounted () {}
}
</script>
