<template>
    <AutomaticEmailForm v-if="Object.keys(model).length > 0" :url="url" :model="model"></AutomaticEmailForm>
</template>

<script>
import AutomaticEmailForm from './AutomaticEmailForm'
import AutomaticEmail from './AutomaticEmail'

export default {
    name: 'AutomaticEmailCreate',
    extends: AutomaticEmail,
    data () {
        return {
            model: {}
        }
    },
    components: { AutomaticEmailForm },
    beforeMount: function () {
        this.handleCreate('automatic-email', this.url, {})

        this.getAutomaticEmail()
    }
}
</script>
