<template>
    <div class="table-responsive">
        <BaseDatatable v-if="loaded" :multiple-actions="multipleAction" :module="`automaticemail`" :apiurl="url" :list-url="`${url}/index`" :fields="fields"></BaseDatatable>
    </div>
</template>

<script>
import BaseDatatable from '../../../../../../resources/js/components/BaseDatatable'
export default {
    name: 'AutomaticEmailList',
    props: ['url'],
    components: { BaseDatatable },
    data () {
        return {
            loaded: true,
            multipleAction: {
                localStorageVariable: 'selectedAutomaticEmail', // milyen local Storagebe rakja
                trackBy: 'id', // milyik oszlopot figyelje
                actions: []
            },
            apiurl: this.url,
            fields: [
                {
                    name: 'id',
                    sortField: 'id',
                    title: this.$translate.t('ID')
                },
                {
                    name: 'recipient_name',
                    sortField: 'recipient_name',
                    title: this.$translate.t('cimzett')
                },
                {
                    name: 'recipient_email',
                    sortField: 'recipient_email',
                    title: this.$translate.t('email')
                },
                {
                    name: 'subject',
                    sortField: 'subject',
                    title: this.$translate.t('Tárgy')
                },
                {
                    name: 'created_at',
                    sortField: 'created_at',
                    title: this.$translate.t('Elküldve')
                }
            ]
        }
    }
}
</script>
