<template>
    <div>
        <div class="alert alert-custom alert-white alert-shadow kt-portlet" role="alert">

            <h3 class="text-info">{{ $t('Bejövő posta') }}</h3>
        </div>
        <div class="kt-portlet pt-3">
            <div class="kt-portlet__body">
                <div class="kt-form kt-form--label-right">
                    <div class="kt-form__body">
                        <div class="row">
                            <div class="col-md-6">
                                <FormInput readonly="readonly" v-model="model.number" :title="$t('Sorszám')"></FormInput>
                            </div>
                            <div class="col-md-6">

                                <FormDatePicker v-model="model.income_date" :title="$t('Érkezés dátuma')"></FormDatePicker>
                            </div>
                          <div class="col-md-6">
                            <FormInput v-model="model.recipient" :title="$t('Feladó neve ')"></FormInput>
                          </div>
                            <div class="col-md-6">
                                <FormAutocomplete empty-enable="true" v-model="model.sender_name" :url="'/api/v1/postal-income/search'" :attribute-key="'name'" :attribute-value="'name'" :full="true" v-on:objectChanged="model.sender_address = $event.address" :title="$t('Küldő neve')"></FormAutocomplete>
                            </div>
                            <div class="col-md-6">
                                <FormInput v-model="model.sender_address" :title="$t('Küldő címe')"></FormInput>
                            </div>
                            <div class="col-md-6">
                                <FormTextArea v-model="model.comment" :title="$t('Megyjegyzés')"></FormTextArea>
                            </div>
                            <div class="col-md-6">
                                <FormSelect v-model="model.post_subject_id" :title="$t('Tárgy')"
                                            v-if="model && model.selectables && model.selectables.postsubject"
                                            :options="model.selectables.postsubject"></FormSelect>
                                </div>
                            <div class="col-md-6">
                                <FormDatePicker v-model="model.archive_date"
                                           :title="$t('Irattárba helyezés dátuma')"></FormDatePicker>
                            </div>
                          <div class="col-md-6" v-if="model.post_subject_id == 6 || model.post_subject_id==20 || model.post_subject_id== 19">
                            <FormAutocomplete class="w-100 text-dark" :title="'Diák'" v-on:objectChanged="selectStudent($event)" :full="true" attributeKey="id" attributeValue="name"  attributeValue2="student_number" :url="'/api/v1/student/student-list/all'" v-model="model.student_id" ></FormAutocomplete>
                          </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</template>

<script>
import FormInput from '../../../../../../resources/js/components/form/FormInput'
import FormTextArea from '../../../../../../resources/js/components/form/FormTextArea'
import FormSelect from '../../../../../../resources/js/components/form/FormSelect'
import FormDatePicker from '../../../../../../resources/js/components/form/FormDatePicker'
import FormAutocomplete from '../../../../../../resources/js/components/form/FormAutocomplete'

export default {
    name: 'PostalIncomeForm',
    props: {
        url: {
            required: true,
            type: String
        },
        model: {
            required: true,
            type: Object
        }
    },
    data () {
        return {}
    },
    computed: {
        languages: function () {
            const l = []
            for (const it in this.$store.state.defaultStore.languages) {
                l.push(it)
            }
            return l
        }
    },
    components: { FormInput, FormTextArea, FormSelect, FormDatePicker, FormAutocomplete },
    methods: {
        selectStudent (s) {
            this.model.student_id = s.id
        }
    },
    created () {
    },
    mounted () {
    }
}
</script>
