<template>
    <PostalIncomeForm v-if="Object.keys(model).length > 0" :url="url" :model="model"></PostalIncomeForm>
</template>

<script>
import PostalIncomeForm from './PostalIncomeForm'
import PostalIncome from './PostalIncome'

export default {
    name: 'PostalIncomeEdit',
    extends: PostalIncome,
    data () {
        return {
            model: {}
        }
    },
    components: { PostalIncomeForm },
    beforeMount: function () {
        this.handleUpdate('postal-income', this.url, {})

        this.getPostalIncome()
    }
}
</script>
