<template>
    <div class="table-responsive">
        <BaseDatatable v-if="loaded" :multiple-actions="multipleAction" :module="`postal-income`" :apiurl="url" :list-url="`${url}/index`" :fields="fields"></BaseDatatable>
    </div>
</template>

<script>
import BaseDatatable from '../../../../../../resources/js/components/BaseDatatable'
export default {
    name: 'PostalIncomeList',
    props: ['url'],
    components: { BaseDatatable },
    data () {
        return {
            loaded: true,
            multipleAction: {
                localStorageVariable: 'selectedPostalIncome', // milyen local Storagebe rakja
                trackBy: 'id', // milyik oszlopot figyelje
                actions: [
                    {
                        name: this.$translate.t('Delete'),
                        trigger: 'bulkDelete'
                    }
                ]
            },
            apiurl: this.url,
            fields: [
                {
                    name: 'id',
                    sortField: 'id',
                    title: this.$translate.t('ID')
                },
                {
                    name: 'number',
                    sortField: 'number',
                    title: this.$translate.t('Sorszám')
                },
                {
                    name: 'income_date',
                    sortField: 'income_date',
                    title: this.$translate.t('Érkezés dátuma')
                },
                {
                    name: 'recipient',
                    sortField: 'recipient',
                    title: this.$translate.t('Címzett')
                },
                {
                    name: 'sender_name',
                    sortField: 'sender_name',
                    title: this.$translate.t('Küldő neve')
                },
                {
                    name: 'sender_address',
                    sortField: 'sender_address',
                    title: this.$translate.t('Küldő címe')
                },
                {
                    name: 'post_subject_id',
                    sortField: 'post_subject_id',
                    title: this.$translate.t('Tárgy')
                },
                {
                    name: 'archive_date',
                    sortField: 'archive_date',
                    title: this.$translate.t('Irattárba helyezés dátuma')
                },
                {
                    name: '__slot:actions',
                    title: this.$translate.t('Actions')
                }
            ]
        }
    }
}
</script>
