<template>
    <CampaignStatusForm v-if="Object.keys(model).length > 0" :url="url" :model="model"></CampaignStatusForm>
</template>

<script>
import CampaignStatusForm from './CampaignStatusForm'
import CampaignStatus from './CampaignStatus'

export default {
    name: 'CampaignStatusCreate',
    extends: CampaignStatus,
    data () {
        return {
            model: {}
        }
    },
    components: { CampaignStatusForm },
    beforeMount: function () {
        this.handleCreate('campaign-status', this.url, {})

        this.getCampaignStatus()
    }
}
</script>
