<template>
  <div>
    <div class="alert alert-custom alert-white alert-shadow kt-portlet" role="alert">
      <h3 class="text-info">{{ $t('Kampány állapotok') }}</h3>
    </div>
    <div class="kt-portlet">
      <div class="kt-portlet__body">
        <div class="kt-form kt-form--label-right">
          <div class="kt-form__body">
            <div class="row">
              <div class="col-md-6">
                <FormInput v-model="model.name" :title="$t('Név')"></FormInput>
              </div>
              <div class="col-md-6">
                <FormInput v-model="model.o" :title="$t('Sorrend')"></FormInput>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
import FormInput from '../../../../../../resources/js/components/form/FormInput'

export default {
    name: 'CampaignStatusForm',
    props: {
        url: {
            required: true,
            type: String
        },
        model: {
            required: true,
            type: Object
        }
    },
    data () {
        return {}
    },
    computed: {
        languages: function () {
            const l = []
            for (const it in this.$store.state.defaultStore.languages) {
                l.push(it)
            }
            return l
        }
    },
    components: { FormInput },
    methods: {},
    created () {
    },
    mounted () {
    }
}
</script>
