<template>
  <div class = "col-12">
    <div>
      <button class = "btn btn-success" @click="openDocumentModal()">Új dokumentum</button>
    </div>
    <div class="modal fade" id="questionListModal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content ">
          <div class="modal-header bg-warning">
            <h5 class="modal-title">Kérdések </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <i aria-hidden="true" class="ki ki-close"></i>
            </button>
          </div>
          <div class="modal-body p-4" v-if="selectedQuestion">
            <div class="row" v-for="(q,i) of selectedQuestion.questions" v-bind:key="'question-'+i">
              <div class="col-md-12">{{i+1}}. {{q.question}}</div>
              <div class="col-md-12 mt-3"><FormTextArea :disabled="selectedQuestion.answered==1" v-model="selectedQuestion.questions[i].answer" :title="'Válasz'"></FormTextArea></div>
            </div>
            <div class="modal-footer ">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Mégse</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <DocumentsForm :url="url" v-on:refresh="getDocument" :model = "selected"></DocumentsForm>
    <div class = "table-responsive">
      <table class = "table table-bordered table-responsive0">

        <tr>
          <th>Név</th>
          <th>Fájl</th>
          <th>Művelet</th>
        </tr>
        <tbody>
        <tr v-for = "item in list" v-bind:key = "'Document-'+item.id">
          <td>{{ item.name }}</td>
            <td><button class="btn btn-info" @click="openPDF(item.path)"><i class="fa fa-eye"></i> </button> </td>
          <td>
            <DeleteConfirm v-on:delete="deleteDocument(item.id)"></DeleteConfirm>
          </td>
        </tr>
        <tr v-if="!list.length">
          <td colspan="5" class="text-center">Nincs adat</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="table table-responsive" v-if="listRequests && listRequests.length">
      <h3 class="col-md-12 mt-2 bg-warning p-2 mb-5">Árajánlatok</h3>
      <div class="table-responsive">
      <table class="table table-bordered">
        <tr>
          <th>Címzett</th>
          <th>Email</th>
          <th>Dátum</th>
          <th>Ajánlat</th>
          <th>Elfogadva</th>
        </tr>
        <tr v-for="document in listRequests" v-bind:key="'docr-'+document.id">
          <td>{{document.name}}</td>
          <td>{{document.email}}</td>
          <td>{{document.updated_at}}</td>
          <td><button class="btn btn-warning btn-xs" @click="openPDF(document.documentum)" title="Megtekintés"><i class="fa fa-eye"></i> </button></td>
          <td class="text-center"><div v-if="document.approved" class="text-info">IGEN</div> <div v-if="!document.approved" class="text-info">NEM</div> </td>
        </tr>
      </table>
      </div>
    </div>
    <div class="table table-responsive" v-if="listQuestions && listQuestions.length">
      <h3 class="col-md-12 mt-2 bg-warning p-2 mb-5">Árajánlat kérdések</h3>
      <div class="table-responsive">
        <table class="table table-bordered">
          <tr>
            <th>Címzett</th>
            <th>Email</th>
            <th>Dátum</th>
            <th>Megtekint</th>
          </tr>
          <tr v-for="document in listQuestions" v-bind:key="'docrq-'+document.id">
            <td>{{document.name}}</td>
            <td>{{document.email}}</td>
            <td>{{document.updated_at}}</td>
            <td><button class="btn btn-warning btn-xs" data-toggle="modal" data-target="#questionListModal" @click="selectedQuestion = document" title="Megtekintés"><i class="fa fa-eye"></i> </button></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import DocumentForm from './DocumentsForm'
import DeleteConfirm from '../../../../../../../resources/js/components/DeleteConfirm'
import FormTextArea from '../../../../../../../resources/js/components/form/FormTextArea.vue'

export default {
    name: 'DocumentList',
    props: ['company_id'],
    components: { FormTextArea, DocumentForm, DeleteConfirm },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/document`
        }
    },
    data () {
        return {
            list: [],
            listRequests: [],
            listQuestions: [],
            fields: {},
            selected: {},
            selectedQuestion: null
        }
    },
    methods: {
        getDocument () {
            this.axios.get(this.url + '/list/' + this.company_id).then(resp => {
                this.list = resp.data.data
            })
        },
        getRequests () {
            this.axios.get(this.url.replace('document', 'company/list-requests/') + this.company_id).then(resp => {
                this.listRequests = resp.data.data
            })
        },
        getQuestion () {
            this.axios.get(this.url.replace('document', 'company/list-questions/') + this.company_id).then(resp => {
                this.listQuestions = resp.data.data
            })
        },
        openDocumentModal (model) {
            if (!model) {
                this.selected = {}
                this.selected.company_id = this.company_id
            } else {
                this.selected = JSON.parse(JSON.stringify(model))
            }
            window.$('#documentModal').modal('show')
        },
        deleteDocument (id) {
            this.axios.delete(this.url + '/delete/' + id).then(resp => {
                this.getDocument()
            })
        },
        openPDF (link) {
            this.$eventHub.$emit('openPDF', link)
        }
    },
    created () {
        this.getDocument()
        this.getRequests()
        this.getQuestion()
    }
}
</script>
