<template>
  <div>
    <div class="modal fade" id="documentModal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header bg-warning">
            <h5 class="modal-title">Dokumentum</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <i aria-hidden="true" class="ki ki-close"></i>
            </button>
          </div>
          <div class="modal-body p-4">
            <div class="row">
            <div class="col-12">
              <FormInput v-model="localModel.name" :title="'Név'"></FormInput>
            </div>
              <div class="col-12">
                <FormDropZone v-if="!refreshDropzone" v-model="localModel.path"  v-on:success="changePath($event)" acceptedFiles="application/pdf" url="/api/v1/upload-private-file?dir=/company" :options = "{acceptedFiles:'application/pdf'}" :title="'Fájl'"></FormDropZone>
              </div>
          </div>
          <div class="modal-footer ">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Mégse</button>
            <button type="button" class="btn btn-success" @click="save()">Hozzáad</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</template>

<script>
import FormInput from '../../../../../../../resources/js/components/form/FormInput'
import FormDropZone from '../../../../../../../resources/js/components/form/FormDropZone'
export default {
    name: 'DocumentsForm',
    props: {
        url: {
            required: true,
            type: String
        },
        model: {
            required: true,
            type: Object
        }
    },
    components: { FormInput, FormDropZone },
    data () {
        return {
            refreshDropzone: false,
            localModel: {}
        }
    },
    watch: {
        model: {
            handler: function (val, oldVal) {
                if (val !== oldVal) {
                    this.localModel = val
                }
            }
        }
    },
    methods: {
        save () {
            if (this.model.id) {
                this.axios.post(this.url + '/edit/' + this.model.id, this.localModel).then(() => {
                    this.$emit('refresh', true)
                    window.$('#documentModal').modal('hide')
                    this.refreshDropzone = true
                    setTimeout(() => {
                        this.refreshDropzone = false
                    }, 1000)
                })
            } else {
                this.axios.put(this.url + '/edit', this.localModel).then(() => {
                    this.$emit('refresh', true)
                    window.$('#documentModal').modal('hide')
                    this.refreshDropzone = true
                    setTimeout(() => {
                        this.refreshDropzone = false
                    }, 1000)
                })
            }
        },
        changePath (event) {
            this.model.path = event
        }
    },

    created () {},
    mounted () {}
}
</script>
