<template>
    <div class="table-responsive">
        <BaseDatatable v-if="loaded" :multiple-actions="multipleAction" :module="`downpayment`" :apiurl="url" :list-url="`${url}/index`" :fields="fields"></BaseDatatable>
    </div>
</template>

<script>
import BaseDatatable from '../../../../../../resources/js/components/BaseDatatable'
export default {
    name: 'DownPaymentList',
    props: ['url'],
    components: { BaseDatatable },
    data () {
        return {
            loaded: true,
            multipleAction: {},
            apiurl: this.url,
            fields: [
                {
                    name: 'id',
                    sortField: 'id',
                    title: this.$translate.t('ID')
                },
                {
                    name: '__slot:student_link',
                    sortField: 'student_id',
                    title: this.$translate.t('Diák')
                },
                {
                    name: 'mads_number',
                    sortField: 'student_id',
                    title: this.$translate.t('Mads azonosító')
                },
                {
                    name: 'month',
                    sortField: 'month',
                    title: this.$translate.t('Hónap')
                },
                {
                    name: 'approved_val',
                    sortField: 'approved',
                    title: this.$translate.t('Jóváhagyva')
                },
                {
                    name: '__slot:component',
                    componentName: 'DownPaymentAction',
                    title: this.$translate.t('Művelet')
                }
            ]
        }
    }
}
</script>
