<template>
  <div>
  <div class="modal fade" id="approveDownPay" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header bg-warning">
          <h5 class="modal-title">Előleg kérés jóváhagyása</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i aria-hidden="true" class="ki ki-close"></i>
          </button>
        </div>
        <div class="modal-body p-4">
          <div class="row">
            <div class="col-12">
              <h1 class="text-center">{{model.student_name}}</h1>
            </div>
          </div>
          <div class="col-12">
            <FormNumberInput  v-model="model.price"  title="Összeg" ></FormNumberInput>
          </div>
          <div class="col-12">
            <FormTextArea v-model="model.comment" title="Megjegyzés"></FormTextArea>
          </div>
        </div>
        <div class="modal-footer bg-warning">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Mégse</button>
          <button type="button" class="btn btn-success" @click.prevent="changeStatus()" >Jóváhagyás és mentés a hóközi kifizetésekbe</button>
        </div>
      </div>
    </div>

  </div>
    <div class="nowrap project-action"  >
        <a v-if="!data.approved"  href="#" @click.prevent="openModal(data)" class=" btn btn-info " title="Jóváhagy" ><i class="fa fa fa-check"></i> </a>
        <button v-if="data.approved"  disabled class=" btn btn-success btn-xs" title="Már jóvá lett hagyva" ><i class="fa fa fa-check-circle"></i> </button>
    </div>
    </div>
</template>

<script>

import FormTextArea from '../../../../../../resources/js/components/form/FormTextArea'

import FormNumberInput from '../../../../../../resources/js/components/form/FormNumberInput'
export default {
    name: 'DownPaymentAction',
    props: ['data'],
    data: function () {
        return {
            model: {}
        }
    },
    components: { FormNumberInput, FormTextArea },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/down-payment/`
        }
    },
    methods: {
        openModal (data) {
            this.model = data
            window.$('#approveDownPay').modal('show')
        },
        changeStatus () {
            this.axios.post(this.url + 'approve', this.model).then(() => {
                window.$('#approveDownPay').modal('hide')
                this.$emit('refresh', true)
            })
        }
    }
}
</script>

<style>
.project-action a{
  padding:5px
}
</style>
