<template>
    <DownPaymentForm v-if="Object.keys(model).length > 0" :url="url" :model="model"></DownPaymentForm>
</template>

<script>
import DownPaymentForm from './DownPaymentForm'
import DownPayment from './DownPayment'

export default {
    name: 'DownPaymentCreate',
    extends: DownPayment,
    data () {
        return {
            model: {}
        }
    },
    components: { DownPaymentForm },
    beforeMount: function () {
        this.handleCreate('down-payment', this.url, {})

        this.getDownPayment()
    }
}
</script>
