<template>
    <div class="kt-portlet">
        <div class="kt-portlet__body">
            <div class="kt-form kt-form--label-right">
                <div class="kt-form__body">
                    <FormSelect v-model="model.student_id"  :title="$t('Diák')" v-if="model && model.selectables && {}" :options="{}"></FormSelect>
<FormInput v-model="model.month"  :title="$t('Hónap')"></FormInput>
<FormInput v-model="model.percent"  :title="$t('Százalék')"></FormInput>
<FormInput v-model="model.approved"  :title="$t('Jóváhagyva')"></FormInput>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
import FormSelect from '../../../../../../resources/js/components/form/FormSelect'
import FormInput from '../../../../../../resources/js/components/form/FormInput'

export default {
    name: 'DownPaymentForm',
    props: {
        url: {
            required: true,
            type: String
        },
        model: {
            required: true,
            type: Object
        }
    },
    data () {
        return {

        }
    },
    computed: {
        languages: function () {
            const l = []
            for (const it in this.$store.state.defaultStore.languages) {
                l.push(it)
            }
            return l
        }
    },
    components: { FormSelect, FormInput },
    methods: {},
    created () {},
    mounted () {}
}
</script>
