<template>
    <div>
        <div class = "alert alert-custom alert-white alert-shadow kt-portlet" role = "alert">
            <h3 class = "text-info">{{ $t('Contact information') }}</h3>
        </div>
        <div class = "kt-portlet" id="contact">
            <div class = "kt-portlet__body">
                <div class = "kt-form kt-form--label-right">
                    <div class = "kt-form__body">
                        <div class = "row">
                            <div class = "col-md-6">
                                <FormInput v-model = "model.address" :title = "$t('Address')"></FormInput>
                            </div>
                            <div class = "col-md-6">
                                <FormInput v-model = "model.email" :title = "$t('Email')"></FormInput>
                            </div>
                            <div class = "col-md-6">
                                <FormInput v-model = "model.fax" :title = "$t('Fax')"></FormInput>
                            </div>
                            <div class = "col-md-6">
                                <FormInput v-model = "model.phone" :title = "$t('Phones comma separated')"></FormInput>
                            </div>
                            <div class = "col-md-6">
                                <FormTextArea v-model = "model.map"
                                              :title = "$t('Google embed map code')"
                                ></FormTextArea>

                            </div>
                            <div class = "col-md-6">
                                <FormWyswygEditor v-model = "model.contactInfo" :title = "$t('Contact info')"></FormWyswygEditor>
                            </div>
                            <div class = "col-md-6">
                                <FormTextArea v-model = "model.opening_alert"
                                              :title = "$t('Nyitvatartás figyelmeztetés - pl: ünnepi')"
                                ></FormTextArea>

                            </div>
                            <div class = "col-md-6" v-if="model">
                                <label>Nyitvatartás:</label>

                                <FormInput v-model = "model.opening[1]" :title = "$t('Hétfő')"></FormInput>
                                <FormInput v-model = "model.opening[2]" :title = "$t('Kedd')"></FormInput>
                                <FormInput v-model = "model.opening[3]" :title = "$t('Szerda')"></FormInput>
                                <FormInput v-model = "model.opening[4]" :title = "$t('Csütörtök')"></FormInput>
                                <FormInput v-model = "model.opening[5]" :title = "$t('Péntek')"></FormInput>
                                <FormInput v-model = "model.opening[6]" :title = "$t('Szombat')"></FormInput>
                                <FormInput v-model = "model.opening[7]" :title = "$t('Vasárnap')"></FormInput>
                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-success pull-right" @click="saveContact" >{{$t('Save')}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import FormInput from '../../../../../../resources/js/components/form/FormInput'
import FormTextArea from '../../../../../../resources/js/components/form/FormTextArea'
import FormCheckbox from '../../../../../../resources/js/components/form/FormCheckbox'
import FormWyswygEditor from '../../../../../../resources/js/components/form/FormWyswygEditor'
import FormFileUpload from '../../../../../../resources/js/components/form/FormFileUpload'
import FormSelect from '../../../../../../resources/js/components/form/FormSelect'

export default {
    name: 'ContactForm',
    data () {
        return {
            model: {
                address: '',
                email: '',
                phone: '',
                map: '',
                opening_alert: '',
                opening: {
                    1: '',
                    2: '',
                    3: '',
                    4: '',
                    5: '',
                    6: '',
                    7: ''
                },
                contactInfo: ''
            }
        }
    },
    computed: {
        languages: function () {
            const l = []
            for (const it in this.$store.state.defaultStore.languages) {
                l.push(it)
            }
            return l
        },
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/page`
        }
    },
    beforeMount () {
        this.axios.get('/storage/contact.json').then((response) => {
            console.log(response)
            if (response.status === 200) {
                this.model = Object.assign({}, this.model, response.data)
            }
        })
    },
    components: { FormSelect, FormFileUpload, FormWyswygEditor, FormCheckbox, FormTextArea, FormInput },
    methods: {
        saveContact () {
            this.axios.post(this.url + '/contact', this.model).then((response) => {

            })
        }
    }
}
</script>
