<template>
    <PageForm v-if="Object.keys(model).length > 0" :url="url" :model="model"></PageForm>
</template>

<script>
import PageForm from './PageForm'
import Page from './Page'

export default {
    name: 'PageCreate',
    extends: Page,
    data () {
        return {
            model: {}
        }
    },
    components: { PageForm },
    beforeMount: function () {
        this.handleCreate('page', this.url, {})

        this.getPage()
    }
}
</script>
