<template>
    <div>
        <div class = "alert alert-custom alert-white alert-shadow kt-portlet" role = "alert">

            <h3 class = "text-info">{{ $t('Page details') }}</h3>
        </div>
        <div class = "kt-portlet">
            <div class = "kt-portlet__body">
                <div class = "kt-form kt-form--label-right">
                    <div class = "kt-form__body">
                        <div class = "row">
                            <div class = "col-md-6">
                                <FormInput v-model = "model.name"  :title = "$t('Name')"></FormInput>
                            </div>
                            <div class = "col-md-6" >
                                <FormInput v-model = "model.meta_title" :title = "$t('Meta Title')"></FormInput>
                            </div>
                            <div class = "col-md-6" >
                                <FormTextArea v-model = "model.meta_description" :title = "$t('Meta Description')"></FormTextArea>
                            </div>
                            <div class = "col-md-6">
                                <FormSelect v-model = "model.component_name" :title = "$t('Vue Component')" :options = "components" v-if = "Object.keys(components).length > 0"
                                ></FormSelect>
                            </div>
                            <div class = "col-md-6" >
                                <FormWyswygEditor v-model = "model.content" :title = "$t('Content')"></FormWyswygEditor>
                            </div>
                            <div class = "col-md-12"></div>
                            <div class="col-md-6">
                            <FormInput v-model = "model.slug" :title = "$t('Url')"
                                       v-on:keyupEvent = "setSlugEditSlug('en')"
                            ></FormInput>
                            </div>

                        </div>
                    </div>
                </div>
                <div class = "col-md-6">
                    <FormFileUpload v-model = "model.og_image" :title = "$t('Kép')"></FormFileUpload>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import FormInput from '../../../../../../resources/js/components/form/FormInput'
import FormTextArea from '../../../../../../resources/js/components/form/FormTextArea'
import FormCheckbox from '../../../../../../resources/js/components/form/FormCheckbox'
import FormWyswygEditor from '../../../../../../resources/js/components/form/FormWyswygEditor'
import FormFileUpload from '../../../../../../resources/js/components/form/FormFileUpload'
import FormSelect from '../../../../../../resources/js/components/form/FormSelect'

export default {
    name: 'PageForm',
    data () {
        return {
            components: [],
            slugEditable: {}
        }
    },
    props: {
        url: {
            required: true,
            type: String
        },
        model: {
            required: true,
            type: Object
        }
    },
    computed: {
        languages: function () {
            const l = []
            for (const it in this.$store.state.defaultStore.languages) {
                l.push(it)
            }
            return l
        }
    },
    beforeMount () {
        this.axios.get(`${this.url}/get-components`).then((response) => {
            this.components = response.data.files
        })
    },
    components: { FormSelect, FormFileUpload, FormWyswygEditor, FormCheckbox, FormTextArea, FormInput },
    methods: {
        fullUrl: function (_lang) {
            if (this.model.slug[_lang] === null) {
                return `${process.env.MIX_APP_URL}/`
            }
            return `${process.env.MIX_APP_URL}/${this.model.slug[_lang]}`
        },
        setSlugEditSlug (_lang) {
            const self = this
            setTimeout(function () {
                self.model.slug = self.sanitizeTitle(self.model.slug)
            }, 500)
        }
    }
}
</script>
