<template>
    <div class="tab-pane" id="kt_apps_user_edit_tab_4" role="tabpanel">
        <div class="kt-form kt-form--label-right">
            <div class="kt-form__body">
                <div class="kt-section kt-section--first">
                    <div class="kt-section__body">
                        <div class="alert alert-solid-danger alert-bold fade show kt-margin-t-20 kt-margin-b-40" role="alert">
                            <div class="alert-icon"><i class="fa fa-exclamation-triangle"></i></div>
                            <div class="alert-text">{{$t('Passwords must be more then 6 characters long, should contains one Uppercase letter, one lowercase letter, one numeric value and one special character.')}}</div>
                        </div>
                        <div class="row">
                          <img :src="model.ga_image" alt="">
                                <h2 class="col-12">{{$t('Change password')}}:</h2>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <FormInput type="password" v-model="model.new_password" :title="$t('New Password')" autocomplete="new-password"></FormInput>
                                        </div>
                                        <div class="col-md-12">
                                            <FormInput type="password" v-model="model.verify_password" :title="$t('Verify Password')" autocomplete="new-password"></FormInput>
                                        </div>
                                </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import FormInput from '../../../../../../../resources/js/components/form/FormInput'
export default {
    name: 'Password',
    props: ['model', 'url'],
    components: { FormInput }
}
</script>
