<template>
    <div class="tab-pane" id="kt_apps_user_edit_tab_5" role="tabpanel">
        <div class="kt-form kt-form--label-right">
            <div class="kt-form__body">
                <div class="kt-section kt-section--first">
                    <div class="kt-section__body">
                        <!--<div class="alert alert-solid-danger alert-bold fade show kt-margin-t-20 kt-margin-b-40" role="alert">
                            <div class="alert-icon"><i class="fa fa-exclamation-triangle"></i></div>
                            <div class="alert-text">{{$t('Permissions can only be modified by SuperAdmin users.')}}</div>
                        </div>-->
                        <div class="row">
                            <h2 class="col-12 mb-3">{{$t('User granted permission groups')}}:</h2>
                        </div>
                        <div class="form-group form-group-sm row" v-for="(item, index) in roles" v-bind:key="index">
                            <div class="col-lg-9 col-xl-6">
                                <FormSingleCheckbox :title="item.name" v-model="userRoles[item.id]" :value="item.id"></FormSingleCheckbox>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import FormSingleCheckbox from '../../../../../../../resources/js/components/form/FormSingleCheckbox'
export default {
    name: 'Permissions',
    props: ['model', 'url'],
    components: { FormSingleCheckbox },
    data () {
        return {
            roles: [],
            userRoles: []
        }
    },
    watch: {
        userRoles: {
            handler: function (val, oldVal) {
                this.model.user_roles = this.userRoles
            },
            deep: true
        }
    },
    beforeMount () {
        const uri = `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/role/role-list`

        this.axios.get(uri).then((response) => {
            this.roles = response.data

            for (const it in this.model.roles) {
                this.userRoles[this.model.roles[it].id] = true
            }

            this.model.user_roles = this.userRoles
        })
    }
}
</script>
