<template>
    <div class="tab-pane active" id="kt_apps_user_edit_tab_1" role="tabpanel">
        <div class="kt-portlet">
            <div class="kt-portlet__body">
                <div class="kt-form kt-form--label-right">
                    <div class="kt-form__body">
                        <div class="row">
                            <div class="col-md-6">
                                <h2> Alapadatok</h2>
                                <div class="row">
                                    <div class="col-12">
                                <FormFileUpload v-if="!$store.state.defaultStore.user.is_company" v-model="model.avatar" :type="'image'" :title="$t('Avatar')"></FormFileUpload>
                                    </div>
                                    <div class="col-12">
                                <FormInput v-model="model.firstname" :title="$t('First Name')"></FormInput>
                                    </div>
                                    <div class="col-12">
                                <FormInput v-model="model.lastname" :title="$t('Last Name')"></FormInput>
                                    </div>
                                    <div class="col-12">
                                <FormInput v-model="model.email" :title="$t('Email')"></FormInput>
                                    </div>
                                    <div class="col-12">
                                  <FormInput v-model="model.phone" :title="$t('Phone')"></FormInput>
                                    </div>
                                  <div class="col-12">
                                  <FormDropZone  :title="'Sales bemutatkozó'" :acceptedFiles="'application/pdf'" :url="'/api/v1/upload-private-file'"  v-on:success="model.introduction=$event"></FormDropZone>
                                  </div>
                                  <div class="col-12" v-if="model.is_company">
                                    <FormTextArea v-model="model.students" :title="$t('Csak a felsorolt diákokat jelenlétijét látja( MADS azonosító vesszővel elválasztva)')"></FormTextArea>
                                  </div>
                                    <div class="col-12">
                                <FormSelect v-if="model.selectables && !model.is_company" v-model="model.position" :options="model.selectables.positions"
                                            :title="$t('Beosztás')"></FormSelect>
                                    </div>
                                    </div>
                            </div>
                            <div class="col-md-6" v-if="!model.is_company">
                                <h2> Levelező</h2>
                                <div class="row">
                                    <div class="col-12">
                                        <FormInput v-model="model.mads_email" :title="$t('Mads email')"></FormInput>
                                    </div>
                                    <div class="col-12">
                                        <FormWyswygEditor v-model="model.signature" :title="$t('Aláírás')"></FormWyswygEditor>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import FormFileUpload from '../../../../../../../resources/js/components/form/FormFileUpload'
import FormSelect from '../../../../../../../resources/js/components/form/FormSelect'
import FormInput from '../../../../../../../resources/js/components/form/FormInput'
import FormWyswygEditor from '../../../../../../../resources/js/components/form/FormWyswygEditor'
import FormTextArea from '../../../../../../../resources/js/components/form/FormTextArea'
import FormDropZone from '../../../../../../../resources/js/components/form/FormDropZone.vue'

export default {
    name: 'Profile',
    components: { FormDropZone, FormFileUpload, FormSelect, FormInput, FormWyswygEditor, FormTextArea },
    props: ['model', 'url'],
    methods: {
        fileUpload (event) {
            this.model.avatar = event.path
        }
    }
}
</script>
