<template>
    <div class="tab-pane" id="kt_apps_user_edit_tab_2" role="tabpanel">
        <div class="kt-form kt-form--label-right">
            <div class="kt-form__body">
                <div class="kt-section kt-section--first">
                    <div class="kt-section__body">
                        <div class="row">
                            <label class="col-xl-3"></label>
                            <div class="col-lg-9 col-xl-6">
                                <h3 class="kt-section__title kt-section__title-sm">{{$t('Shipping')}}:</h3>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-xl-3 col-lg-3 col-form-label">{{$t('Lastname')}}</label>
                            <div class="col-lg-9 col-xl-6">
                                <div>
                                    <input class="form-control" type="text" v-model="model.shipping.lastname">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-xl-3 col-lg-3 col-form-label">{{$t('Firstname')}}</label>
                            <div class="col-lg-9 col-xl-6">
                                <div>
                                    <input class="form-control" type="text" v-model="model.shipping.firstname">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-xl-3 col-lg-3 col-form-label">{{$t('Company name')}}</label>
                            <div class="col-lg-9 col-xl-6">
                                <div>
                                    <input class="form-control" type="text" v-model="model.shipping.company_name">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-xl-3 col-lg-3 col-form-label">{{$t('Country')}}</label>
                            <div class="col-lg-9 col-xl-6">
                                <div v-if="model && model.selectables">
                                    <select class="form-control" v-model="model.shipping.country_id">
                                        <option :value="null">{{$t('Please choose')}}</option>
                                        <option v-for="(item, index) in model.selectables.countries" v-bind:key="'country-'+index" :value="index">{{item}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-xl-3 col-lg-3 col-form-label">{{$t('Zip')}}</label>
                            <div class="col-lg-9 col-xl-6">
                                <div>
                                    <input class="form-control" type="text" v-model="model.shipping.zip">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-xl-3 col-lg-3 col-form-label">{{$t('State')}}</label>
                            <div class="col-lg-9 col-xl-6">
                                <div>
                                    <input class="form-control" type="text" v-model="model.shipping.state">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-xl-3 col-lg-3 col-form-label">{{$t('City')}}</label>
                            <div class="col-lg-9 col-xl-6">
                                <div>
                                    <input class="form-control" type="text" v-model="model.shipping.city">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-xl-3 col-lg-3 col-form-label">{{$t('Address type')}}</label>
                            <div class="col-lg-9 col-xl-6">
                                <div>
                                    <input class="form-control" type="text" v-model="model.shipping.address_type">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-xl-3 col-lg-3 col-form-label">{{$t('Address')}}</label>
                            <div class="col-lg-9 col-xl-6">
                                <div>
                                    <input class="form-control" type="text" v-model="model.shipping.address">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-xl-3 col-lg-3 col-form-label">{{$t('Building')}}</label>
                            <div class="col-lg-9 col-xl-6">
                                <div>
                                    <input class="form-control" type="text" v-model="model.shipping.building">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-xl-3 col-lg-3 col-form-label">{{$t('Floor')}}</label>
                            <div class="col-lg-9 col-xl-6">
                                <div>
                                    <input class="form-control" type="text" v-model="model.shipping.floor">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-xl-3 col-lg-3 col-form-label">{{$t('Stairs')}}</label>
                            <div class="col-lg-9 col-xl-6">
                                <div>
                                    <input class="form-control" type="text" v-model="model.shipping.stairs">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-xl-3 col-lg-3 col-form-label">{{$t('Phone')}}</label>
                            <div class="col-lg-9 col-xl-6">
                                <div>
                                    <input class="form-control" type="text" v-model="model.shipping.phone">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Shipping',
    props: ['model', 'url']
}
</script>
