<template>
    <FeorForm v-if="Object.keys(model).length > 0" :url="url" :model="model"></FeorForm>
</template>

<script>
import FeorForm from './FeorForm'
import Feor from './Feor'

export default {
    name: 'FeorEdit',
    extends: Feor,
    data () {
        return {
            model: {}
        }
    },
    components: { FeorForm },
    beforeMount: function () {
        this.handleUpdate('feor', this.url, {})

        this.getFeor()
    }
}
</script>
