<template>
  <div class="modal fade" id="newCertificate" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header bg-warning">
          <h5 class="modal-title">Új Jogviszony</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i aria-hidden="true" class="ki ki-close"></i>
          </button>
        </div>
        <div class="modal-body p-4">
          <div class="row">
            <div class = "col-md-12 mb-4">
              <FormDropZone v-if="!refreshDropzone" :title="'Fájl csatolása'" :acceptedFiles="'image/*,application/pdf'" :url="'/api/v1/upload-private-file'"  v-on:success="model.document=$event"></FormDropZone>
            </div>
            <div class = "col-md-6">
              <FormDatePicker v-model = "model.start" :title = "$t('Érvényesség kezdete')"></FormDatePicker>
            </div>
            <div class = "col-md-6">
              <FormDatePicker v-model = "model.end" :title = "$t('Érvényesség vége')"></FormDatePicker>
            </div>
          </div>
        </div>
        <div class="modal-footer bg-warning">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Mégse</button>
          <button type="button" class="btn btn-success" @click="saveStudentCertificate">Hozzáad</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import FormInput from '../../../../../../../resources/js/components/form/FormInput'
import FormDropZone from '../../../../../../../resources/js/components/form/FormDropZone'
import FormSelect from '../../../../../../../resources/js/components/form/FormSelect'
import FormDatePicker from '../../../../../../../resources/js/components/form/FormDatePicker'
export default {
    name: 'NewCertificate',
    props: ['school', 'student'],
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/student`
        }
    },
    components: { FormInput, FormSelect, FormDatePicker, FormDropZone },
    data () {
        return {
            refreshDropzone: false,
            model: {
            }
        }
    },
    methods: {
        saveStudentCertificate () {
            this.model.school_id = this.school.id
            this.axios.post(this.url + '/add-certificate/' + this.student.id, this.model).then((resp) => {
                this.$emit('refresh')
                this.model = {}
                window.$('#newCertificate').modal('hide')
                this.refreshDropzone = true
                setTimeout(() => {
                    this.refreshDropzone = false
                }, 1000)
            })
        }
    }
}
</script>

<style scoped>

</style>
