<template>
  <div class="modal fade" id="newCard" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header bg-warning">
          <h5 class="modal-title">Új diákigazolvány</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i aria-hidden="true" class="ki ki-close"></i>
          </button>
        </div>
        <div class="modal-body p-4">
          <div class="row">
              <div class = "col-md-12">
                <FormInput :title="'Diák száma'" v-model="model.student_card"></FormInput>
              </div>
              <div class = "col-md-12">
                <FormInput :title="'Ideiglenes diák száma'" v-model="model.temporary_student_card"></FormInput>
              </div>
              <div class = "col-md-12">
                <FormDatePicker v-model = "model.temporary_student_card_expire" :title = "$t('Lejárat')"></FormDatePicker>
              </div>
          </div>
        </div>
        <div class="modal-footer bg-warning">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Mégse</button>
          <button type="button" class="btn btn-success" @click="saveStudentCard">Hozzáad</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import FormInput from '../../../../../../../resources/js/components/form/FormInput'
import FormDatePicker from '../../../../../../../resources/js/components/form/FormDatePicker'
import FormSelect from '../../../../../../../resources/js/components/form/FormSelect'
export default {
    name: 'NewCard',
    props: ['student', 'school'],
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/student`
        }
    },
    components: { FormInput, FormSelect, FormDatePicker },
    data () {
        return {
            model: {
            }
        }
    },
    methods: {
        saveStudentCard () {
            console.log(this.school)
            this.model.school_id = this.school.id
            this.axios.post(this.url + '/add-card/' + this.student.id, this.model).then((resp) => {
                this.$emit('refresh')
                this.model = {}
                window.$('#newCard').modal('hide')
            })
        }
    }
}
</script>

<style scoped>

</style>
