<template>
  <div class="card card-custom">
    <div class="card-header">
        <h3 class="card-label pull-left">Tanulmányok és végzettségek</h3>
      <div class="card-toolbar pull-right">
          <NewSchool v-on:refresh="getStudentSchool" :student="student"  :education_areas="education_areas" :education_levels="education_levels" :education_types="education_types" :schools="school_list"></NewSchool>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-12 mb-3 border-primary" v-for="s in schools" v-bind:key="'school-'+s.id">
          <div class="row">
            <div class="col-md-4 ">
              <h4 class="bg-warning p-3">{{s.school}} </h4>
              <p class="bg-success-o-50  p-3"><i class="fa fa-map-marker-alt"></i> {{s.school_address}}<br>
             {{s.education_area}}<br>
             {{s.education_level}}<br>
             {{s.education_type}}<br>
              {{s.start}} - {{s.end}}<br>
                <DeleteConfirm v-on:delete="deleteSchool(s.id)"></DeleteConfirm>
              </p>
            </div>
            <div class="col-md-4">
              <h4 class="bg-warning p-3">Diákigazolványok <button class="btn btn-circle btn-primary btn-sm pull-right" data-toggle="modal" data-target="#newCard" @click="selectedSchool = s"><i class="la la-plus-circle pull-right"></i></button></h4>
              <table class="table table-condensed" v-if="s.cards && s.cards.length">
                <tr>
                <th>Azonosító</th>
                <th>Lejár</th>
                <th>Művelet</th>
                </tr>
                <tr v-for="card in s.cards " v-bind:key="'card-'+ card.id">
                  <td><span v-if="card.student_card">{{card.student_card}}</span>
                    <span v-if="card.temporary_student_card">{{card.temporary_student_card}}(Id.Diák)</span>
                  </td>
                  <td>{{card.temporary_student_card_expire}}</td>
                  <td><DeleteConfirm v-on:delete="deleteCard(card.id)"></DeleteConfirm></td>
                </tr>
              </table>
            </div>
            <div class="col-md-4">
              <h4 class="bg-warning p-3">Jogviszonyok <button class="btn btn-circle btn-primary btn-sm pull-right" data-toggle="modal" data-target="#newCertificate" @click="selectedSchool = s"><i class="la la-plus-circle pull-right"></i></button></h4>
              <table class="table table-condensed" v-if="s.certificates">
                <tr>
                <th>Fájl</th>
                <th>Érvényesség</th>
                <th>Művelet</th>
                </tr>
                <tr v-for="cert in s.certificates " v-bind:key="'cert-'+ cert.id">
                  <td><span v-if="cert.document"><PdfViewerButton :path="cert.document"></PdfViewerButton></span></td>
                  <td>{{cert.start}}-{{cert.end}}</td>
                  <td><DeleteConfirm v-on:delete="deleteCertificate(cert.id)"></DeleteConfirm></td>
                </tr>
              </table>
            </div>

            <hr class="col-md-12">
          </div>

        </div>
      </div>

    </div>
    <NewCard v-on:refresh="getStudentSchool" :school="selectedSchool" :student="student"></NewCard>
    <NewCertificate v-on:refresh="getStudentSchool" :school="selectedSchool" :student="student"></NewCertificate>
  </div>
</template>

<script>
import NewSchool from './NewSchool'
import NewCard from './NewCard'
import NewCertificate from './NewCertificate'
import DeleteConfirm from '../../../../../../../resources/js/components/DeleteConfirm'
import PdfViewerButton from '../../../../../../../resources/js/components/PdfViewerButton'

export default {
    name: 'StudentSchool',
    components: { NewCertificate, NewCard, NewSchool, DeleteConfirm, PdfViewerButton },
    props: ['student'],
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/student`
        }
    },
    data () {
        return {
            selectedSchool: null,
            schools: {},
            education_types: {},
            education_levels: {},
            education_areas: {},
            school_list: {}
        }
    },
    methods: {
        getStudentSchool () {
            this.axios.get(this.url + '/get-schools/' + this.student.id).then((response) => {
                this.schools = response.data.data
                this.education_types = response.data.education_types
                this.education_levels = response.data.education_levels
                this.education_areas = response.data.education_areas
                this.school_list = response.data.school_list
            })
        },
        deleteSchool (id) {
            this.axios.delete(this.url + '/delete-schools/' + id).then((response) => {
                this.getStudentSchool()
            })
        },
        deleteCard (id) {
            this.axios.delete(this.url + '/delete-card/' + id).then((response) => {
                this.getStudentSchool()
            })
        },
        deleteCertificate (id) {
            this.axios.delete(this.url + '/delete-certificate/' + id).then((response) => {
                this.getStudentSchool()
            })
        }
    },
    mounted () {
        this.getStudentSchool()
    }
}
</script>

<style scoped>

</style>
