<template>
    <AttributeForm v-if="Object.keys(model).length > 0" :url="url" :model="model"></AttributeForm>
</template>

<script>
import AttributeForm from './AttributeForm'
import Attribute from './Attribute'

export default {
    name: 'AttributeCreate',
    extends: Attribute,
    data () {
        return {
            model: {}
        }
    },
    components: { AttributeForm },
    beforeMount: function () {
        this.handleCreate('attributes', this.url, {})

        this.getAttribute()
    }
}
</script>
