<template>
    <div class="kt-portlet kt-portlet--head-noborder kt-portlet--fit kt-portlet--height-fluid">
        <div class="kt-portlet__head kt-portlet__space-x">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    {{$t('Statistic')}}
                </h3>
            </div>
        </div>
        <div class="kt-portlet__body kt-portlet__body--fluid">
            <div class="kt-widget21">
                <div class="kt-widget21__content kt-portlet__space-x">
                    <div class="kt-widget21__item">
                        <div href="#" class="kt-widget21__icon kt-bg-fill-brand">
                            <i class="flaticon2-bell-alarm-symbol"></i>
                        </div>
                        <div class="kt-widget21__info">
                            <span class="kt-widget21__title">
                                                                {{$t('Sales')}}
                            </span>
                            <span class="kt-widget21__sub">
                                                                {{$t('Total orders monthly')}}
                            </span>
                        </div>
                    </div>
                    <div class="kt-widget21__item">
                        <div href="#" class="kt-widget21__icon kt-bg-fill-success">
                            <i class="flaticon2-pie-chart-4"></i>
                        </div>
                        <div class="kt-widget21__info">
                            <span class="kt-widget21__title">
                                                                {{$t('Users')}}
                            </span>
                            <span class="kt-widget21__sub">
                                                                {{$t('Registrated users monthly')}}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="kt-widget21__chart">
                    <canvas id="kt_chart_adwords_stats" style="height:310px;"></canvas>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: ['response'],
    beforeMount () {
        const self = this
        const adWordsStat = function () {
            if ($('#kt_chart_adwords_stats').length === 0) {
                return
            }

            var ctx = document.getElementById('kt_chart_adwords_stats').getContext('2d')

            var gradient = ctx.createLinearGradient(0, 0, 0, 240)
            gradient.addColorStop(0, window.Chart.helpers.color('#ffefce').alpha(1).rgbString())
            gradient.addColorStop(1, window.Chart.helpers.color('#ffefce').alpha(0.3).rgbString())

            var config = {
                type: 'line',
                data: {
                    labels: self.response.labels,
                    datasets: [{
                        label: self.$translate.t('Orders'),
                        backgroundColor: KTApp.getStateColor('brand'),
                        borderColor: KTApp.getStateColor('brand'),

                        pointBackgroundColor: window.Chart.helpers.color('#000000').alpha(0).rgbString(),
                        pointBorderColor: window.Chart.helpers.color('#000000').alpha(0).rgbString(),
                        pointHoverBackgroundColor: KTApp.getStateColor('danger'),
                        pointHoverBorderColor: window.Chart.helpers.color('#000000').alpha(0.1).rgbString(),
                        data: self.response.orders
                    }, {
                        label: self.$translate.t('Users'),

                        backgroundColor: KTApp.getStateColor('success'),
                        borderColor: KTApp.getStateColor('success'),

                        pointBackgroundColor: window.Chart.helpers.color('#000000').alpha(0).rgbString(),
                        pointBorderColor: window.Chart.helpers.color('#000000').alpha(0).rgbString(),
                        pointHoverBackgroundColor: KTApp.getStateColor('danger'),
                        pointHoverBorderColor: window.Chart.helpers.color('#000000').alpha(0.1).rgbString(),
                        data: self.response.users
                    }]
                },
                options: {
                    title: {
                        display: false
                    },
                    tooltips: {
                        mode: 'nearest',
                        intersect: false,
                        position: 'nearest',
                        xPadding: 10,
                        yPadding: 10,
                        caretPadding: 10
                    },
                    legend: {
                        display: false
                    },
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        xAxes: [{
                            display: false,
                            gridLines: false,
                            scaleLabel: {
                                display: true,
                                labelString: 'Month'
                            }
                        }],
                        yAxes: [{
                            stacked: true,
                            display: false,
                            gridLines: false,
                            scaleLabel: {
                                display: true,
                                labelString: 'Value'
                            },
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    },
                    elements: {
                        line: {
                            tension: 0.0000001
                        },
                        point: {
                            radius: 4,
                            borderWidth: 12
                        }
                    },
                    layout: {
                        padding: {
                            left: 0,
                            right: 0,
                            top: 10,
                            bottom: 0
                        }
                    }
                }
            }

            new window.Chart(ctx, config)
        }

        window.$(document).ready(function () {
            adWordsStat()
        })
        /* setTimeout(function () {
            adWordsStat()
        }, 3000)
         */
    }
}
</script>
