
<script>
import { Doughnut } from 'vue-chartjs'

export default {
    name: 'PieChart',
    extends: Doughnut,
    props: ['chartdata', 'options'],
    mounted () {
        this.renderChart(this.chartdata, {
            animations: {
                tension: {
                    duration: 1000,
                    easing: 'linear',
                    from: 1,
                    to: 0,
                    loop: true
                }
            },
            scales: {
                y: { // defining min and max so hiding the dataset does not change scale range
                    min: 0,
                    max: 100
                }
            }
        })
    }
}
</script>

<style scoped>

</style>
