<template>
  <!-- begin:: Footer -->
  <div
    class="kt-footer kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop"
    id="kt_footer"
  >
    <div
      class="kt-container"
      v-bind:class="{ 'kt-container--fluid': isFluid() }"
    >
      <div class="kt-footer__copyright">
          {{ new Date().getFullYear() }} &nbsp;&copy;&nbsp;
        <a
          rel="noopener noreferrer" href="https://creativeagent.hu"
          target="_blank"
          class="kt-link ml-1"
        >
          Bodák Szabolcs
        </a>
      </div>
      <div class="kt-footer__menu">
        <a
          href="mailto:recze01@gmail.com"
          target="_blank"
          class="kt-footer__menu-link kt-link"
          >{{$t('Support')}}</a
        >
      </div>
    </div>
  </div>
  <!-- end:: Footer -->
</template>

<script>
import { mapGetters } from 'vuex'

export default {
    name: 'KTFooter',
    data () {
        return {
            appName: process.env.MIX_APP_NAME
        }
    },
    methods: {
    /**
     * Check if footer container is fluid
     * @returns {boolean}
     */
        isFluid () {
            return this.layoutConfig('footer.self.width') === 'fluid'
        }
    },
    computed: {
        ...mapGetters(['layoutConfig'])
    }
}
</script>
