<template>
    <div class="nowrap">
      <button class="btn btn-info btn-xs" @click.prevent="openPdf(data.file)"><i class="fa fa-eye"></i></button>
      <button href="#" class="btn btn-success" @click.prevent="noSign(data.id)" title="Nem kell aláírás"><i class="fa fa-check"></i></button>

    </div>
</template>

<script>
import DeleteConfirm from '../../../../../../resources/js/components/DeleteConfirm'
export default {
    name: 'DocumentAction',
    props: ['data'],
    components: { DeleteConfirm },
    data () {
        return {
            recruit: false
        }
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/student/`
        }
    },
    watch: {
    },
    methods: {
        openPdf (link) {
            this.$eventHub.$emit('openPDF', link)
        },
        noSign (id) {
            this.axios.post(`${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}` + '/no-sign/' + id).then((resp) => {
                this.$emit('refresh', true)
            })
        }
    },
    created () {
    }
}
</script>
