<template>
  <div class="table-responsive">
    <BaseDatatable :multiple-actions="multipleAction" :module="`student`" :apiurl="url" :list-url="`${url}/get-my-documents-pm`" :fields="fields"></BaseDatatable>
  </div>
</template>

<script>
import BaseDatatable from '../../../../../../resources/js/components/BaseDatatable'
import StudentComment from './StudentComment'
export default {
    name: 'MyDocumentList',
    props: ['url'],
    components: { StudentComment, BaseDatatable },
    methods: {
        refresh () {
            const self = this
            self.loaded = false
            setTimeout(function () {
                self.loaded = true
            }, 100)
        }
    },
    data () {
        return {
            loaded: true,
            multipleAction: {
            },
            selectedTab: 'all',
            apiurl: this.url,
            fields: [
                {
                    name: 'student_number',
                    sortField: 'student_number',
                    title: this.$translate.t('MADS azonosító')
                },
                {
                    name: 'student_name',
                    sortField: 'student_name',
                    title: this.$translate.t('Diák')
                },
                {
                    name: 'name',
                    sortField: 'name',
                    dataClass: 'overflow-table',
                    title: this.$translate.t('Dokumentum')
                },
                {
                    name: 'created_at',
                    sortField: 'created_at',
                    title: this.$translate.t('Létrehozva')
                },
                {
                    name: 'signed_date',
                    sortField: 'signed_date',
                    title: this.$translate.t('Aláírva')
                },
                {
                    name: '__slot:component',
                    componentName: 'DocumentAction',
                    title: this.$translate.t('Actions')
                }
            ]

        }
    }
}
</script>
