<template>
  <div>
    <div class = "alert alert-custom alert-white alert-shadow kt-portlet" role = "alert" v-bind:class="{'bg-dark text-white':model && model.exit_date}">
      <div class="row" >
      <h3 class = "text-info col-md-6" >{{ $t('Diák adatlap') }}</h3>
          <div class="col-md-2" v-if="!model.date_of_entry">
              <div v-if="!model.exit_date">
              <button v-bind:disabled="disableButton" type="button" class="btn btn-danger" @click="sendRegistrationEmail" v-if="!model.registration_date && !model.registration_created">Tag regisztrációs link küldése</button>
              <div v-if="model.registration_token_expire && !model.registration_created">Eddig regisztrálhat:{{model.registration_token_expire}}</div>
              </div>
              <h1 v-if="model.exit_date" class="text-danger kt-animate-blink">Kilépett</h1>
          </div>
          <div class="col-md-2" >
              <div v-if="!model.date_of_entry && !model.exit_date">
                <button  v-bind:disabled="disableButton" type="button" class="btn btn-success" @click="approveRegistration" v-if="!model.registration_approved && model.registration_created">Tag regisztráci jóváhagyása</button>
              </div>
          </div>
      <div class="col-md-4">

        <table class="table table-bordered text-center table-min-padding" v-bind:class="{'bg-dark text-white':model && model.exit_date}">
          <tr>
            <th>NAV</th>
            <th>BANK</th>
            <th>SULI</th>
            <th>TAG</th>
            <th v-if="cert.eu && cert.eu.required">EÜ</th>
            <th v-if="cert.medical && cert.medical.required">Orvosi</th>
          </tr>
          <tr>
            <th>
              <i v-if="model.nav_declaration" class="fa fa-2x fa-check-circle text-success"></i>
              <i v-if="!model.nav_declaration" class="fa fa-2x fa fa-times-circle text-danger"></i>
            </th>
            <th>
              <i v-if="model.bank_account_number" class="fa fa-2x fa-check-circle text-success"></i>
              <i v-if="!model.bank_account_number" class="fa fa-2x fa fa-times-circle text-danger"></i></th>
            <th>
              <i v-if="model.certificate" class="fa fa-2x fa-check-circle text-success"></i>
              <i v-if="!model.certificate" class="fa fa-2x fa fa-times-circle text-danger"></i></th>
            <th>
              <i v-if="model.date_of_entry" class="fa fa-2x fa-check-circle text-success"></i>
              <i v-if="!model.date_of_entry" class="fa fa-2x fa fa-times-circle text-danger"></i>
            </th>
            <th v-if="cert.eu && cert.eu.required">
              <span v-if="cert.eu.expire " class=" text-success">{{cert.eu.expire}}</span>
              <i v-if="!cert.eu.expire" class="fa fa-2x fa fa-times-circle text-danger"></i>
            </th>
            <th v-if="cert.medical && cert.medical.required ">
              <span v-if="cert.medical.expire" class=" text-success">{{cert.medical.expire}}</span>
              <i v-if="!cert.medical.expire" class="fa fa-2x fa fa-times-circle text-danger"></i>
            </th>
          </tr>
        </table>
      </div>
        </div>
    </div>
    <div class = "kt-portlet">
      <div class = "kt-portlet__body">
        <div class = "kt-form kt-form--label-right">
          <div class = "kt-form__body">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-4">
                    <ImageLazy :image="(model.avatar)?model.avatar:'/frontend/images/no-image.png'"></ImageLazy>
                  </div>
                  <div class="col-md-8">
                    <table class="table-condensed table table-bordered">
                      <tr>
                        <th class="w-25">Név</th>
                        <td>{{model.name}}</td>
                      </tr>
                      <tr>
                        <th  class="w-25">MADS azonosító</th>
                        <td>{{model.student_number}}</td>
                      </tr>
                      <tr>
                        <th  class="w-25">Adószám</th>
                        <td>{{model.tax_number}}</td>
                      </tr>
                      <tr>
                        <th  class="w-25">Email</th>
                        <td>{{model.email}}</td>
                      </tr>
                      <tr>
                        <th  class="w-25">Telefon</th>
                        <td>{{model.phone}}</td>
                      </tr>
                        <tr v-if="model.cv" class="bg-info">
                            <th  class="w-25">CV</th>
                            <td><a class="text-white" href="#" @click.prevent="openPdf(model.cv)"> {{model.cv_name}}</a></td>
                        </tr>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-12">
                         <FormSelect :select2="true" v-model = "model.prefered_work_location" :title = "$t('Hol szeretne dolgozni?')" v-if = "model && model.selectables " :options = "model.selectables.work_location"></FormSelect>
                  </div>
                  <div class="col-md-12">
                         <FormSelect v-model = "model.newsletter" :title = "$t('Hírlevelet kér?')" v-if = "model && model.selectables && {}" :options = "{1:'Igen',0:'Nem'}"></FormSelect>
                  </div>
                  <div class="col-md-12">
                <FormSelect :select2="true" v-model = "model.work_categories" :title = "$t('Milyen munka érdekli')" :multiple="'multiple'" v-if = "model && model.selectables && {}" :options = "model.selectables.work_categories"></FormSelect>
                  </div>
                  <div class="col-md-12">
                    <FormTextArea v-model = "model.comment" :title = "$t('Megjegyzés')"></FormTextArea>
                  </div>
                </div>

              </div>
            </div>
            <nav>
              <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-section1" data-toggle="tab" href="#section1" role="tab" aria-controls="nav-home" @click="selectTab('data')" aria-selected="true">Alapadatok</a>
                <a class="nav-item nav-link" v-if="model.id" id="nav-section7" data-toggle="tab" href="#section7" role="tab" aria-controls="nav-home" @click="selectTab('other')" aria-selected="true">Egyéb</a>
                <a class="nav-item nav-link" v-if="model.id" id="nav-section2" data-toggle="tab" href="#section2" role="tab" aria-controls="nav-profile" @click="selectTab('school')" aria-selected="false">Tanulmányok</a>
                <a class="nav-item nav-link" v-if="model.id" id="nav-section3" data-toggle="tab" href="#section3" role="tab" aria-controls="nav-contact" @click="selectTab('documents')" aria-selected="false">Dokumentumok</a>
                <a class="nav-item nav-link" v-if="model.id" id="nav-section4" data-toggle="tab" href="#section4" role="tab" aria-controls="nav-about" @click="selectTab('payment')" aria-selected="false">Pénzügyek</a>
                <a class="nav-item nav-link" v-if="model.id" id="nav-section5" data-toggle="tab" href="#section5" role="tab" aria-controls="nav-about" @click="selectTab('work')" aria-selected="false">Munkahelyek</a>
                <a class="nav-item nav-link" v-if="model.id" id="nav-section8" data-toggle="tab" href="#section8" role="tab" aria-controls="nav-about" @click="selectTab('project')" aria-selected="false">Projektek</a>
                <a class="nav-item nav-link" v-if="model.id" id="nav-section9" data-toggle="tab" href="#section9" role="tab" aria-controls="nav-about" @click="selectTab('email')" aria-selected="false">Elküldött levelek</a>
                <a class="nav-item nav-link" v-if="model.id" id="nav-section10" data-toggle="tab" href="#section10" role="tab" aria-controls="nav-about" @click="selectTab('realization')" aria-selected="false">Ráérés</a>
              </div>
            </nav>
            <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
              <div class="tab-pane fade show active container-fluid" id="section1" role="tabpanel" aria-labelledby="nav-home-tab">
                  <div class = "row" v-if="selectedTab === 'data' || !selectedTab">
                    <div class = "col-md-4 ">
                      <div class = "row p-2">
                        <h3 class = "col-md-12 mt-2 bg-warning p-2 mb-5">Személyes adatok</h3>
                        <div class = "col-md-12">
                          <FormInput v-model = "model.name" :title = "$t('Név')"></FormInput>
                        </div>
                        <div class = "col-md-12">
                          <FormInput v-model = "model.identity_card" :title = "$t('Személyi igazolvány szám')"></FormInput>
                        </div>
                        <div class = "col-md-12">
                          <FormInput v-model = "model.birth_location" :title = "$t('Születési hely')"></FormInput>
                        </div>
                        <div class = "col-md-12">
                          <FormDatePicker v-model = "model.birth_date" :title = "$t('Születési dátum')"></FormDatePicker>
                        </div>
                        <div class = "col-md-12">
                          <FormInput v-model = "model.mothers_name" :title = "$t('Anyja leánykori neve')"></FormInput>
                        </div>
                        <div class = "col-md-12">
                          <FormSelect v-model = "model.nationality" :title = "$t('Állampolgársága')" v-if = "model && model.selectables " :options = "model.selectables.nationalities" :select2="true"></FormSelect>
                        </div>
                        <div class = "col-md-12">
                          <FormInput v-model = "model.passport" :title = "$t('Útlevélszám (ha nincs személyi igazolvány)')"></FormInput>
                        </div>
                        <div class = "col-md-12">
                          <FormInput v-model = "model.om_code" :title = "$t('Diákigazolvány/OM kód')"></FormInput>
                        </div>
                        <div class = "col-md-12">
                          <FormSelect v-model = "model.driver_licence" :title = "$t('Jogosítvány')" v-if = "model && model.selectables && {}" :options = "{1:'Igen',0:'Nem'}"></FormSelect>
                        </div>
                        <div class = "col-md-12">
                          <FormDatePicker v-model = "model.eu_expire_date" :title = "$t('EÜ lejárat dátuma')"></FormDatePicker>
                        </div>
                        <div class = "col-md-12">
                          <FormDatePicker v-model = "model.exit_date" :title = "$t('Kilépés dátuma')"></FormDatePicker>
                        </div>
                        <div class = "col-md-12">
                          <FormSelect v-model = "model.gender" :title = "$t('Neme')" v-if = "model && model.selectables " :options = "model.selectables.genders" ></FormSelect>
                        </div>
                          <div class = "col-md-12">
                              <FormSelect v-model = "model.ability_to_work" :title = "$t('Megváltozott munkaképességű')"  :options = "{1:'Igen',2:'Nem'}" ></FormSelect>
                          </div>
                      </div>
                    </div>
                    <div class = "col-md-4">
                      <div class = "row p-2">
                        <h3 class = "col-md-12 mt-2 bg-warning p-2 mb-5">Elérhetőség</h3>
                        <div class = "col-md-12">
                          <FormPhone v-model = "model.phone" :title = "$t('Mobil')"></FormPhone>
                        </div>
                        <div class = "col-md-12">
                          <FormInput v-model = "model.email" :title = "$t('E-mail')"></FormInput>
                        </div>
                        <div class = "col-md-12">
                          <FormSelect v-model = "model.country_id" :title = "$t('Ország')" v-if = "model && model.selectables && model.selectables.countries" :options = "model.selectables.countries" :select2="true"></FormSelect>
                        </div>
                        <div class = "col-md-12">
                          <FormInput v-model = "model.zip" :title = "$t('Irányítószám')"></FormInput>
                        </div>
                        <div class = "col-md-12">
                          <FormSelect v-model = "model.city_id" :title = "$t('Város')" v-if = "model && model.selectables && model.selectables.cities" :options = "model.selectables.cities" :select2="true"></FormSelect>
                        </div>
                        <div class = "col-md-12">
                          <FormInput v-model = "model.street" :title = "$t('Utca')"></FormInput>
                        </div>
                        <div class = "col-md-12">
                          <FormSelect v-model = "model.area_type_id" :title = "$t('Közterület jellege (utca, út, tér, stb.)')" v-if = "model && model.selectables" :options = "model.selectables.area_types" :select2="true"></FormSelect>
                        </div>
                        <div class = "col-md-12">
                          <FormInput v-model = "model.house_number" :title = "$t('Házszám')"></FormInput>
                        </div>
                        <div class = "col-md-12">
                          <FormInput v-model = "model.building" :title = "$t('Épület')"></FormInput>
                        </div>
                        <div class = "col-md-12">
                          <FormInput v-model = "model.stairs" :title = "$t('Lépcsőház')"></FormInput>
                        </div>
                        <div class = "col-md-12">
                          <FormInput v-model = "model.level" :title = "$t('Emelet')"></FormInput>
                        </div>
                        <div class = "col-md-12">
                          <FormInput v-model = "model.door" :title = "$t('Ajtó')"></FormInput>
                        </div>
                        <div class = "col-md-12">
                          <FormInput v-model = "model.notification_address" :title = "$t('Értesítési cím')"></FormInput>
                        </div>
                      </div>
                    </div>
                    <div class = "col-md-4">
                      <div class = "row p-2">
                        <h3 class = "col-md-12 mt-2 bg-warning p-2 mb-5">Kifizetéshez szükséges adatok</h3>
                        <div class = "col-md-12">
                          <FormBank v-model = "model.bank_account_number" :title = "$t('Bankszámlaszám')"></FormBank>
                        </div>
                        <div class = "col-md-12">
                          <FormTax v-model = "model.tax_number" :title = "$t('Adószám')"></FormTax>
                        </div>
                        <div class = "col-md-12">
                          <FormTaj v-model = "model.taj" :title = "$t('Tajszám')"></FormTaj>
                        </div>
                        <div class = "col-md-12">
                          <FormDatePicker v-model = "model.date_of_entry" :title = "$t('Belépés dátuma')"></FormDatePicker>
                        </div>
                        <div class = "col-md-12">
                          <FormDatePicker v-model = "model.nav_declaration" :title = "$t('Nav bejelentés')"></FormDatePicker>
                        </div>
                        <div class = "col-md-12">
                          <FormDatePicker v-model = "model.membership_agreement" :title = "$t('Tagsági megállapodás')"></FormDatePicker>
                        </div>
                        <div class = "col-md-12">
                          <FormDatePicker v-model = "model.employment_contract" :title = "$t('Munkaszerződés')"></FormDatePicker>
                        </div>
                        <div class = "col-md-12">
                          <FormSelect v-model = "model.part_ticket" :title = "$t('Részjegy fizetve')" v-if = "model && model.selectables && {}" :options = "{1:'Igen',0:'Nem'}"></FormSelect>
                        </div>

                      </div>
                    </div>
                    </div>
                </div>
              <div v-if="model.id" class="tab-pane fade container-fluid" id="section2" role="tabpanel" aria-labelledby="nav-home-tab">
                <StudentSchool v-if="selectedTab==='school'" :student="model"></StudentSchool>
                </div>
              <div  v-if="model.id" class="tab-pane fade container-fluid" id="section3" role="tabpanel" aria-labelledby="nav-home-tab">
                <StudentDocuments v-if="selectedTab==='documents'" :student="model"></StudentDocuments>
                </div>
              <div  v-if="model.id" class="tab-pane fade container-fluid" id="section9" role="tabpanel" aria-labelledby="nav-home-tab">
                <StudentEmails v-if="selectedTab==='email'" :student="model"></StudentEmails>
              </div>
              <div v-if="model.id" class="tab-pane fade container-fluid" id="section4" role="tabpanel" aria-labelledby="nav-home-tab">
                  <Finance v-if="selectedTab==='payment'" :student="model"></Finance>
                </div>
              <div v-if="model.id" class="tab-pane fade container-fluid" id="section5" role="tabpanel" aria-labelledby="nav-home-tab">
                  <Works v-if="selectedTab==='work'" :student="model"></Works>
                </div>
              <div v-if="model.id" class="tab-pane fade container-fluid" id="section8" role="tabpanel" aria-labelledby="nav-home-tab">
                <Projects v-if="selectedTab==='project'" :student="model"></Projects>
              </div>
              <div v-if="model.id" class="tab-pane fade container-fluid" id="section6" role="tabpanel" aria-labelledby="nav-home-tab">
                </div>
                <div v-if="model.id" class="tab-pane fade container-fluid" id="section7" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="row" v-if="selectedTab=== 'other'">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-12">
                                <StudentAttributes :student="model"></StudentAttributes>
                            </div>
                            <div class="col-12">
                                <StudentLanguages :student="model"></StudentLanguages>
                            </div>
                        </div>
                    </div>
                        <div class="col-md-6">
                            <WorkSafeties :student="model"></WorkSafeties>
                        </div>
                    </div>
                </div>
                <div v-if="model.id" class="tab-pane fade container-fluid" id="section10" role="tabpanel" aria-labelledby="nav-home-tab">
                    <Realization v-if="selectedTab==='realization'" :student="model.id"></Realization>
                </div>
              </div>

          </div>
            </div>
            </div>
            </div>
          </div>

</template>

<script>
import FormInput from '../../../../../../resources/js/components/form/FormInput'
import FormPhone from '../../../../../../resources/js/components/form/FormPhone'
import FormBank from '../../../../../../resources/js/components/form/FormBank'
import FormTax from '../../../../../../resources/js/components/form/FormTax'
import FormTaj from '../../../../../../resources/js/components/form/FormTaj'
import FormDatePicker from '../../../../../../resources/js/components/form/FormDatePicker'
import FormSelect from '../../../../../../resources/js/components/form/FormSelect'
import FormTextArea from '../../../../../../resources/js/components/form/FormTextArea'
import FormFileUpload from '../../../../../../resources/js/components/form/FormFileUpload'
import ImageLazy from '../../../../../../resources/js/components/ImageLazy'
import StudentSchool from './school/StudentSchool'
import StudentDocuments from './documents/StudentDokuments'
import StudentAttributes from './attributes/StudentAttribute'
import StudentLanguages from './language/StudentLanguages'
import WorkSafeties from './work-safety/WorkSafeties'
import Finance from './finance/Finance'
import Works from './works/Works'
import Projects from './projects/Projects'
import Realization from './realization/Realization.vue'

export default {
    name: 'StudentForm',
    props: {
        url: {
            required: true,
            type: String
        },
        model: {
            required: true,
            type: Object
        }

    },
    data () {
        return {
            disableButton: false,
            selectedTab: '',
            cert: {}
        }
    },
    methods: {
        selectTab (tab) {
            this.selectedTab = tab
        },
        sendRegistrationEmail () {
            this.disableButton = true
            this.axios.get(this.url + '/send-student-registration-link/' + this.model.id).then(response => {
                this.disableButton = false
                this.model = response.data.data
                alert('Az email sikeresen elküldtük')
            })
        },
        approveRegistration () {
            this.disableButton = true
            this.axios.post(this.url + '/approve-registration/' + this.model.id, this.model).then(response => {
                this.disableButton = false
                this.model = response.data.data
            })
        },
        getCertificate () {
            this.axios.get(this.url + '/get-certificate-by-company/' + this.model.id).then(response => {
                this.cert = response.data
            })
        },

        openPdf (link) {
            this.$eventHub.$emit('openPDF', link)
        }
    },
    computed: {
        languages: function () {
            const l = []
            for (const it in this.$store.state.defaultStore.languages) {
                l.push(it)
            }
            return l
        }
    },
    components: { Works, Realization, Projects, Finance, WorkSafeties, StudentLanguages, StudentAttributes, StudentDocuments, StudentSchool, FormInput, FormDatePicker, FormSelect, FormTextArea, FormFileUpload, ImageLazy, FormPhone, FormBank, FormTaj, FormTax },

    created () {
    },
    mounted () {
        this.getCertificate()
    }
}
</script>
