<template>
  <div>
    <div class="modal fade" id="studentJobModal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg  modal-dialog-centered" role="document">
        <div class="modal-content modal-lg" >
          <div class="modal-header bg-warning">
            <h5 class="modal-title">Munkaköri</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <i aria-hidden="true" class="ki ki-close"></i>
            </button>
          </div>
          <div class="modal-body p-4">
            <div class="row">
                <div class="col-6">
                    <FormInput v-model="model.job" :title="'Munkakör'"></FormInput>
                </div>
                <div class="col-6">
                    <FormInput v-model="model.task" :title="'A munkavállaló által vállalt feladatok köre'"></FormInput>
                </div>
                <div class="col-6">
                    <FormInput v-model="model.task_details" :title="'A munkáltató által vállalt feladatok jellemzői'"></FormInput>
                </div>
                <div class="col-6">
                    <FormInput v-model="model.company" :title="'Megrendelő/harmadik személy'"></FormInput>
                </div>
                <div class="col-6">
                    <FormInput v-model="model.work_location" :title="'Munkavégzés helye'"></FormInput>
                </div>
                <div class="col-6">
                    <FormInput v-model="model.work_time" :title="'Munkaidő'"></FormInput>
                </div>
                <div class="col-6">
                    <FormInput v-model="model.gross" :title="'Személyi alapbér'"></FormInput>
                </div>
                <div class="col-6">
                    <FormInput v-model="model.day" :title="'Bérfizetés napja'"></FormInput>
                </div>
                <div class="col-6">
                    <FormInput v-model="model.delegate" :title="'A munkáltatói utasítást adó személy'"></FormInput>
                </div>
                <div class="col-6">
                    <FormInput v-model="model.schedule" :title="'Irányadó munkarend'"></FormInput>
                </div>
                <div class="col-6">
                    <FormInput v-model="model.question" :title="'További szükségesnek tartott kérdés'"></FormInput>
                </div>

            </div>
            <div class="modal-footer ">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Mégse</button>
              <button type="button" class="btn btn-success"  @click="saveMunkakori()">Munkaköri mentése</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import FormTextArea from '../../../../../../resources/js/components/form/FormTextArea'
import FormInput from '../../../../../../resources/js/components/form/FormInput'
import FormSelect from '../../../../../../resources/js/components/form/FormSelect'
export default {
    name: 'StudentJob',
    props: ['model'],
    data () {
        return {
            student_id: null,
            selectedIndustry: null
        }
    },
    watch: {
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/student/`
        }
    },
    mounted () {
        const self = this
        self.$eventHub.$on('openStudentJobModal', function (data) {
            self.student_id = data
            self.industryDetails()
        })
    },
    components: { FormTextArea, FormInput, FormSelect },
    methods: {
        getIndustry () {
            this.axios.get(this.url.replace('student', 'project') + 'get-industry/' + this.model.company_id).then((resp) => {
                this.industry = resp.data
            })
        },
        industryDetails () {
            this.axios.get(this.url.replace('student', 'industry') + 'show/' + this.model.industry_id).then((resp) => {
                this.selectedIndustry = resp.data.data
                this.model.job = this.selectedIndustry.name
                this.model.task = this.selectedIndustry.name
                this.model.task_details = ''
                this.model.student_id = this.student_id
                this.model.question = ''
                this.model.student_id = this.student_id
                this.model.work_location = (this.selectedIndustry.site) ? this.selectedIndustry.site.work_location : ''
                if (!this.model.work_time) {
                    this.model.work_time = 'Részmunkaidő'
                }
                this.model.gross = 'Br.' + this.selectedIndustry.price_hour + ' Ft/óra'
                this.model.day = 'Munkavégzést követő hónap 10.-e és 20.-a között'
                this.model.delegate = this.selectedIndustry.instructor
                this.model.schedule = '0:00 - 24:00 között, 8 és 12 órás munkabeosztásban'
                console.log(this.model.job)
            })
        },
        saveMunkakori () {
            this.$eventHub.$emit('openPDFStudent', this.url + 'get-document-template/job/' + this.model.student_id + '?' + new URLSearchParams(this.model).toString())
            this.$emit('refresh', true)
            window.$('#studentJobModal').modal('hide')
        }
    }

}
</script>
