<template>
    <StudentForm v-if="Object.keys(model).length > 0" :url="url" :model="model"></StudentForm>
</template>

<script>
import StudentForm from './StudentForm'
import Student from './Student'

export default {
    name: 'StudentCreate',
    extends: Student,
    data () {
        return {
            model: {}
        }
    },
    components: { StudentForm },
    beforeMount: function () {
        this.handleCreate('student', this.url, {})

        this.getStudent()
    }
}
</script>
