<template>
    <div class="nowrap">
        <button class="btn btn-info" data-toggle="modal" data-target="#studentCommentModal" @click="emitStudentComment(data)"><i class="fa fa-comment"></i> </button>
        <router-link :to="'/admin/student/edit/'+data.id" class="btn btn-success" title="Szerkesztés" ><i class="fa fa fa-edit"></i> </router-link>
        <button v-if="recruit" class="btn btn-circle btn-dark" title="Toborzás" @click="recruitStudent(data.id)"><i class="fa fa-users"></i> </button>
    </div>
</template>

<script>
import DeleteConfirm from '../../../../../../resources/js/components/DeleteConfirm'
export default {
    name: 'StudentActionRealization',
    props: ['data'],
    components: { DeleteConfirm },
    data () {
        return {
            recruit: false
        }
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/student/`
        }
    },
    watch: {
        '$store.state.defaultStore.recruit': {
            handler: function (val, oldVal) {
                if (val !== oldVal) {
                    if (val) {
                        this.recruit = true
                    } else {
                        this.recruit = false
                    }
                }
            },
            deep: true

        }
    },
    methods: {
        deleteStudent (id) {
            this.axios.delete(this.url + 'delete/' + id).then(() => {
                this.$emit('refresh', true)
            })
        },
        recruitStudent (id) {
            this.$eventHub.$emit('recruitStudent', id)
        },
        realizationStudent (id) {
            this.$eventHub.$emit('openRealization', id)
        },
        emitStudentComment (data) {
            this.$eventHub.$emit('studentComment', data)
        }
    },
    created () {
        try {
            this.model = JSON.parse(localStorage.getItem('recruit'))
            if (this.model) {
                this.recruit = true
            }
        } catch (e) {}
    }
}
</script>
