<template>
  <div>
    <div class="modal fade" id="studentAdhocModal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg  modal-dialog-centered" role="document">
        <div class="modal-content modal-lg" >
          <div class="modal-header bg-warning">
            <h5 class="modal-title">Eseti megállapodás</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <i aria-hidden="true" class="ki ki-close"></i>
            </button>
          </div>
          <div class="modal-body p-4" >
            <div class="row mb-4 text-right" v-if="forms ">
              <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Mentett eseti spablon betöltése
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <a v-for="f in forms" class="dropdown-item" v-bind:key="'forms'+f.id" @click.prevent="loadForm(f)">{{f.name}}</a>
              </div>
            </div>
            <div class="row" v-if="!hide">
                <template >
                <div class="col-6">
                    <FormInput v-model="model.job" :title="'Ellátandó feladatkör'"></FormInput>
                </div>
                <div class="col-6">
                    <FormInput v-model="model.task" :title="'A Tag által vállalt feladatok köre'"></FormInput>
                </div>
                <div class="col-6">
                    <FormInput v-model="model.task_details" :title="'A Tag általt vállalt feladatok jellemző'"></FormInput>
                </div>
                <div class="col-6">
                    <FormInput v-model="model.company" :title="'A Szolgáltatás fogadójának személye'"></FormInput>
                </div>
                <div class="col-6">
                    <FormInput v-model="model.work_location" :title="'A feladat teljesítésének hely'"></FormInput>
                </div>
                <div class="col-6">
                    <FormInput v-model="model.date" :title="'A feladat teljesítésének kezdőnapja'"></FormInput>
                </div>
                <div class="col-6">
                    <FormInput v-model="model.work_time" :title="'A feladat teljesítésének tartama'"></FormInput>
                </div>
                <div class="col-6">
                    <FormInput v-model="model.gross" :title="'Megbízási dí'"></FormInput>
                </div>
                <div class="col-6">
                    <FormInput v-model="model.day" :title="'A díjfizetés napja'"></FormInput>
                </div>

                <div class="col-6">
                    <FormInput v-model="model.schedule" :title="'Napi időbeosztás'"></FormInput>
                </div>
                    <div class="col-6">
                        <FormInput v-model="model.contact" :title="'Az iskolaszövetkezet által kijelölt kapcsolattartó'"></FormInput>
                    </div>
                    <div class="col-6">
                        <FormInput v-model="model.contact_data" :title="'Kapcsolattartó elérhetősége'"></FormInput>
                    </div>
                    <div class="col-12">
                        <FormInput v-model="model.aszf" :title="'A szolgáltatás fogadója adatvédelmi tájékoztatójának és adatkezelési szabályzatának elérhetősége'"></FormInput>
                    </div>
                    <div class="col-6">
                        <FormInput v-model="model.delegate" :title="'A szolgáltatás fogadója által kijelölt kapcsolattartó'"></FormInput>
                    </div>
                    <div class="col-6">
                        <FormInput v-model="model.delegate_data" :title="'Kapcsolattartó elérhetősége'"></FormInput>
                    </div>
                <div class="col-6">
                    <FormInput v-model="model.question" :title="'További szükségesnek tartott kérdés'"></FormInput>
                </div>

                </template>
              <hr class="bg-danger col-10"/>
              <div class="col-6">
                <FormDatePicker v-model="model.document_date" :title="'Eseti dátuma'"></FormDatePicker>
              </div>
              <div class="col-6">
                <FormSingleCheckbox :title="'Online aláírás'" v-model="model.sign"></FormSingleCheckbox>
              </div>

            </div>
            <div class="modal-footer ">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Mégse</button>
              <button type="button" class="btn btn-success" v-if="selectedIndustry" @click="saveAdhoc()">Eseti mentése</button>
              <button type="button" class="btn btn-success" v-if="selectedIndustry" @click="saveAdhocEn()">INDIVIDUAL AGREEMENT</button>
              <button type="button" class="btn btn-success" v-if="selectedIndustry" @click="saveAdhocAndMember()">Eseti + Tagsági mentése</button>
              <button type="button" class="btn btn-success" v-if="selectedIndustry" @click="saveAdhocAndMemberEn()">INDIVIDUAL AGREEMENT + MEMBERSHIP AGREEMENT</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import FormTextArea from '../../../../../../resources/js/components/form/FormTextArea'
import FormInput from '../../../../../../resources/js/components/form/FormInput'
import FormSelect from '../../../../../../resources/js/components/form/FormSelect'
import FormDatePicker from '../../../../../../resources/js/components/form/FormDatePicker'
import FormSingleCheckbox from '../../../../../../resources/js/components/form/FormSingleCheckbox'

export default {
    name: 'StudentAdhoc',
    props: ['model'],
    data () {
        return {
            student_id: null,
            industry: [],
            id: null,
            start_date: null,
            hide: false,
            forms: [],
            selectedIndustry: null
        }
    },
    watch: {
        'model.company_id': {
            handler: function (val, oldVal) {
                if (val !== oldVal) {
                    this.selectedIndustry = null
                    console.log('change company')
                    this.getIndustry()
                }
            },
            deep: true
        },
        'model.industry_id': {
            handler: function (val, oldVal) {
                if (val !== oldVal) {
                    this.industryDetails()
                }
            },
            deep: true
        }
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/student/`
        }
    },
    created () {
        const self = this
        self.$eventHub.$on('openStudentAdhockModal', function (data) {
            self.student_id = data
            self.industryDetails()
        })
    },
    components: { FormTextArea, FormInput, FormSelect, FormDatePicker, FormSingleCheckbox },
    methods: {
        loadForm (form) {
            this.hide = true
            const self = this
            const d = JSON.parse(form.data)
            console.log(d)
            Object.keys(d).forEach(key => {
                if (d[key]) {
                    self.model[key] = d[key]
                    console.log(self.model[key])
                }
            })
            setTimeout(() => {
                self.hide = false
            })
        },
        getIndustry () {
            this.axios.get(this.url.replace('student', 'project') + 'get-industry/' + this.model.company_id).then((resp) => {
                this.industry = resp.data
            })
        },
        getCompanyForm () {
            this.axios.get(this.url.replace('student', 'form') + 'list/' + this.selectedIndustry.company_id + '&type=1').then((resp) => {
                this.forms = resp.data.data
            })
        },
        industryDetails () {
            this.axios.get(this.url.replace('student', 'industry') + 'show/' + this.model.industry_id).then((resp) => {
                this.selectedIndustry = resp.data.data
                this.getCompanyForm()
                this.model.job = this.selectedIndustry.name
                this.model.task = this.selectedIndustry.name
                if (!this.start_date) {
                    const d = new Date()
                    this.model.date = d.getFullYear() + '-' + ((d.getMonth() + 1) < 10 ? '0' + (d.getMonth() + 1) : (d.getMonth() + 1)) + '-' + d.getDate()
                } else {
                    this.model.date = this.start_date
                }
                this.model.task_details = ''
                this.model.delegate_data = ''
                this.model.question = ''
                this.model.student_id = this.student_id
                this.model.contact = (this.selectedIndustry.contact) ? this.selectedIndustry.contact.firstname + ' ' + this.selectedIndustry.contact.lastname : '' + ((this.selectedIndustry.contact2 ? this.selectedIndustry.contact2.firstname + ' ' + this.selectedIndustry.contact2.lastname : ''))
                this.model.contact_data = (this.selectedIndustry.contact) ? 'Email:' + this.selectedIndustry.contact.email + ' Tel.:' + this.selectedIndustry.contact.phone : '' + ((this.selectedIndustry.contact2) ? 'Email:' + this.selectedIndustry.contact2.email + ' Tel.:' + this.selectedIndustry.contact2.phone : '')
                this.model.work_location = (this.selectedIndustry.site) ? this.selectedIndustry.site.work_location : ''
                if (!this.model.work_time) {
                    this.model.work_time = 'Határozatlan'
                }
                this.model.gross = 'Br.' + this.selectedIndustry.price_hour + ' Ft/óra'
                this.model.day = 'Munkavégzést követő hónap 10.-e és 20.-a között'
                this.model.delegate = (this.selectedIndustry.instructor_name) ? this.selectedIndustry.instructor_name.name : ''
                this.model.delegate_data = (this.selectedIndustry.instructor_name) ? 'Email:' + this.selectedIndustry.instructor_name.email + ' Tel.:' + this.selectedIndustry.instructor_name.phone : ''
                this.model.schedule = '8:00 - 20:00 óra között, 4-6-8-10-12 órás munkabeosztásban'
            })
        },
        saveAdhoc () {
            this.$eventHub.$emit('openPDFStudent', this.url + 'get-document-template/adhoc/' + this.model.student_id + '?' + new URLSearchParams(this.model).toString())
            this.$emit('refresh', true)
            window.$('#studentAdhocModal').modal('hide')
        },
        saveAdhocAndMember () {
            this.$eventHub.$emit('openPDFStudent', this.url + 'get-document-template/adhoc-and-member/' + this.model.student_id + '?' + new URLSearchParams(this.model).toString())
            this.$emit('refresh', true)
            window.$('#studentAdhocModal').modal('hide')
        },
        saveAdhocEn () {
            this.$eventHub.$emit('openPDFStudent', this.url + 'get-document-template/adhoc-en/' + this.model.student_id + '?' + new URLSearchParams(this.model).toString())
            this.$emit('refresh', true)
            window.$('#studentAdhocModal').modal('hide')
        },
        saveAdhocAndMemberEn () {
            this.$eventHub.$emit('openPDFStudent', this.url + 'get-document-template/adhoc-and-member-en/' + this.model.student_id + '?' + new URLSearchParams(this.model).toString())
            this.$emit('refresh', true)
            window.$('#studentAdhocModal').modal('hide')
        }
    }

}
</script>
