<template>
  <div>
    <div class="modal fade" id="studentCommentModal" tabindex="-1" role="dialog">
      <div class="modal-dialog  modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header bg-warning">
            <h5 class="modal-title">Megjegyzés</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <i aria-hidden="true" class="ki ki-close"></i>
            </button>
          </div>
          <div class="modal-body p-4" v-if="model">
            <div class="row">
              <div class="col-12">
                <h2>{{model.name}}</h2>
              </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-10">
                    <FormInput v-model="model.new_comment" :title="'Új megyjegyzés'"></FormInput>
                        </div>
                        <div class="col-2">
                    <button type="button" class="btn btn-success" @click="saveComment(true)">Új</button>
                        </div>
                        </div>
                    </div>

              <div class="col-12">
                <FormTextArea :rows="20" v-model="model.comment" :title="'Megjegyzés'"></FormTextArea>
              </div>
            </div>
            <div class="modal-footer ">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Mégse</button>
              <button type="button" class="btn btn-success" @click="saveComment(false)">Módosít</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import FormTextArea from '../../../../../../resources/js/components/form/FormTextArea'
import FormInput from '../../../../../../resources/js/components/form/FormInput'
export default {
    name: 'StudentComment',
    data () {
        return {
            model: {}
        }
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/student/`
        }
    },
    components: { FormTextArea, FormInput },
    mounted () {
        const self = this
        this.$eventHub.$on('studentComment', function (data) {
            self.model = data
        })
    },
    methods: {
        saveComment (newComment = false) {
            this.model.newComment = newComment
            this.axios.post(this.url + 'add-comment/' + this.model.id, this.model).then(() => {
                window.$('#studentCommentModal').modal('hide')
                const self = this
                self.$emit('commented', true)
            })
        }
    }
}
</script>
