<template>
    <div>
        <div>
            <div class="col-12 bg-white p-2">
                <!-- <i class="fa fa-globe text-dark fa-2x ml-4 mr-1"></i> Webes regisztráló-->
                <i class="flaticon2-time text-danger fa-2x ml-4 mr-1"></i> Nincs jogviszonya
                <i class="flaticon-edit-1 fa-2x ml-4 mr-1 text-warning"></i> Nincs nav bejelentés
                <i class="flaticon-businesswoman text-info fa-2x ml-4 mr-1"></i> Kiskorú
                <i class="flaticon-medal text-success fa-2x ml-4 mr-1"></i> Tag
              <a class="btn btn-sm btn-primary" target="_blank" :href="getUrl">Excel letöltés</a>
            </div>
        </div>
        <NewRealization></NewRealization>
        <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
            <div class="tab-pane fade show active container-fluid" id="section1" role="tabpanel" aria-labelledby="nav-home-tab">
              <div class="table-responsive">
                <BaseDatatable  :multiple-actions="multipleAction" :module="`student`" :apiurl="url" :list-url="`${url}/student-list-realization`" :fields="fields"></BaseDatatable>
              </div>
            </div>
        </div>
        <StudentComment v-on:commented="refresh()"></StudentComment>
    </div>
</template>

<script>
import BaseDatatable from '../../../../../../resources/js/components/BaseDatatable'
import StudentComment from './StudentComment'
import NewRealization from './realization/NewRealization.vue'
export default {
    name: 'StudentListRealization',
    props: ['url'],
    components: { StudentComment, BaseDatatable, NewRealization },
    methods: {
        refresh () {
            const self = this
            self.loaded = false
            setTimeout(function () {
                self.loaded = true
            }, 100)
        }
    },
    computed: {
        getUrl: function () {
            const query = window.location.href.split('?')

            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/student/student-list-realization?excel=true&api_token=` + $cookies.get('token') + '&' + ((query.length > 1) ? query[1] : '')
        }
    },
    data () {
        return {
            loaded: true,
            multipleAction: {
            },
            selectedTab: 'all',
            apiurl: this.url,
            fields: [
                {
                    name: '__slot:component',
                    componentName: 'StudentStatus',
                    title: this.$translate.t('Figyelmeztetések')
                },
                {
                    name: 'name',
                    sortField: 'name',
                    title: this.$translate.t('Név')
                },
                {
                    name: '__slot:phone',
                    sortField: 'phone',
                    title: this.$translate.t('Mobil')
                },
                {
                    name: '__slot:emailModal',
                    sortField: 'email',
                    title: this.$translate.t('E-mail')
                },
                {
                    name: 'start',
                    sortField: 'start',
                    title: this.$translate.t('Dátum')
                },
                {
                    name: '__slot:realization-monday',
                    sortField: 'monday',
                    title: this.$translate.t('Hé')
                },
                {
                    name: '__slot:realization-tuesday',
                    sortField: 'tuesday',
                    title: this.$translate.t('Ke')
                },
                {
                    name: '__slot:realization-wednesday',
                    sortField: 'wednesday',
                    title: this.$translate.t('Sze')
                },
                {
                    name: '__slot:realization-thursday',
                    sortField: 'thursday',
                    title: this.$translate.t('Csüt')
                },
                {
                    name: '__slot:realization-friday',
                    sortField: 'friday',
                    title: this.$translate.t('Pé')
                },
                {
                    name: '__slot:realization-saturday',
                    sortField: 'saturday',
                    title: this.$translate.t('Szo')
                },
                {
                    name: '__slot:realization-sunday',
                    sortField: 'sunday',
                    title: this.$translate.t('Vas')
                },
                {
                    name: 'work',
                    sortField: 'work',
                    title: this.$translate.t('Munka')
                },
                {
                    name: 'location',
                    sortField: 'location',
                    title: this.$translate.t('Hely')
                },
                {
                    name: '__slot:component',
                    componentName: 'StudentActionRealization',
                    title: this.$translate.t('Actions')
                }
            ]

        }
    }
}
</script>
