<template>
    <div class="nowrap">
        <i class="fa fa-globe text-dark  mr-1" v-if="data.registration_web==1"></i>
        <i class="flaticon2-time text-danger  mr-1" v-if="data.expire"></i>
        <i class="flaticon-edit-1 mr-1 text-warning" v-if="!data.nav_declaration"></i>
        <i class="flaticon-businesswoman  fa-2x mr-1" v-if="data.underage"></i>
        <i class="flaticon-medal text-success  mr-1" v-if="data.date_of_entry && data.nav_declaration"></i>
       <a v-if="data.cv" href="#" @click.prevent="openPdf(data.cv)"><i class="font-weight-bold  fa fa-file-image "  :title="'CV'" ></i></a>
    </div>
</template>

<script>
export default {
    name: 'StudentStatus',
    props: ['data'],
    data () {
        return {
            recruit: false
        }
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/student/`
        }
    },
    watch: {
        '$store.state.defaultStore.recruit': {
            handler: function (val, oldVal) {
                if (val !== oldVal) {
                    if (val) {
                        this.recruit = true
                    } else {
                        this.recruit = false
                    }
                }
            },
            deep: true

        }
    },
    methods: {
        openPdf (link) {
            this.$eventHub.$emit('openPDF', link)
        }
    },
    created () {

    }
}
</script>
