<template>
    <div>
        <NewRealization></NewRealization>
        <nav>
            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-section1" data-toggle="tab" href="#section1" role="tab" aria-controls="nav-home" aria-selected="true" @click="selectedTab='all';refresh()">Mindenki</a>
                <a class="nav-item nav-link" id="nav-section2" data-toggle="tab" href="#section2" role="tab" aria-controls="nav-profile" aria-selected="false" @click="selectedTab='active';refresh()">Aktív</a>
                <a class="nav-item nav-link" id="nav-section3" data-toggle="tab" href="#section3" role="tab" aria-controls="nav-contact" aria-selected="false" @click="selectedTab='inactive';refresh()">Nincs jogviszonya</a>
                <a class="nav-item nav-link" id="nav-section5" data-toggle="tab" href="#section5" role="tab" aria-controls="nav-about" aria-selected="false" @click="selectedTab='new';refresh()">Új belépők</a>
                <a class="nav-item nav-link" id="nav-section6" data-toggle="tab" href="#section6" role="tab" aria-controls="nav-about" aria-selected="false" @click="selectedTab='underage';refresh()">Kiskorúak</a>
                <a class="nav-item nav-link" id="nav-section7" data-toggle="tab" href="#section6" role="tab" aria-controls="nav-about" aria-selected="false" @click="selectedTab='has-work';refresh()">Jelenleg dolgozik</a>
                <a class="nav-item nav-link" id="nav-section10" data-toggle="tab" href="#section10" role="tab" aria-controls="nav-about" aria-selected="false" @click="selectedTab='dept';refresh()">Tartozása van</a>
               <!-- <a class="nav-item nav-link" id="nav-section8" data-toggle="tab" href="#section7" role="tab" aria-controls="nav-home" aria-selected="true" @click="selectedTab='index'">Adatváltozás</a>-->
                <a class="nav-item nav-link" id="nav-section9" data-toggle="tab" href="#section9" role="tab" aria-controls="nav-home" aria-selected="true" @click="selectedTab='members';refresh()">Tag regisztrálók</a>
                <a class="nav-item nav-link" id="nav-section11" data-toggle="tab" href="#section11" role="tab" aria-controls="nav-home" aria-selected="true" @click="selectedTab='exited';refresh()">Kilépett</a>
            </div>
        </nav>
        <div>
            <div class="col-12 bg-white p-2">
               <!-- <i class="fa fa-globe text-dark fa-2x ml-4 mr-1"></i> Webes regisztráló-->
                <i class="flaticon2-time text-danger fa-2x ml-4 mr-1"></i> Nincs jogviszonya
                <i class="flaticon-edit-1 fa-2x ml-4 mr-1 text-warning"></i> Nincs nav bejelentés
                <i class="flaticon-businesswoman text-info fa-2x ml-4 mr-1"></i> Kiskorú
                <i class="flaticon-medal text-success fa-2x ml-4 mr-1"></i> Tag
                <i class="fa fa-file-image text-info fa-2x ml-4 mr-1"></i> CV
            </div>
        </div>
        <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
            <div v-if="selectedTab=='all' && loaded" class="tab-pane fade show active container-fluid" id="section1" role="tabpanel" aria-labelledby="nav-home-tab">
              <div class="table-responsive">
                <BaseDatatable v-if="selectedTab=='all'" :multiple-actions="multipleAction" :module="`student`" :apiurl="url" :list-url="`${url}/student-list/all`" :fields="fields"></BaseDatatable>
            </div>
            </div>
            <div v-if="selectedTab=='active' && loaded"  class="tab-pane fade show active container-fluid" id="section2" role="tabpanel" aria-labelledby="nav-home-tab">
              <div class="table-responsive">
              <BaseDatatable v-if="selectedTab=='active'" :multiple-actions="multipleAction" :module="`student`" :apiurl="url" :list-url="`${url}/student-list/active`" :fields="fields"></BaseDatatable>
            </div>
            </div>
            <div v-if="selectedTab=='dept' && loaded"  class="tab-pane fade show active container-fluid" id="section10" role="tabpanel" aria-labelledby="nav-home-tab">
              <div class="table-responsive">
              <BaseDatatable v-if="selectedTab=='dept'" :multiple-actions="multipleAction" :module="`student`" ref="table" :apiurl="url" :list-url="`${url}/student/dept`" :fields="fields2"></BaseDatatable>
            </div>
            </div>
            <div v-if="selectedTab=='inactive' && loaded" class="tab-pane fade show active container-fluid" id="section3" role="tabpanel" aria-labelledby="nav-home-tab">
              <div class="table-responsive">
              <BaseDatatable v-if="selectedTab=='inactive'" :multiple-actions="multipleAction" :module="`student`" :apiurl="url" :list-url="`${url}/student-list/inactive`" :fields="fields"></BaseDatatable>
            </div>
            </div>
            <div v-if="selectedTab=='new' && loaded" class="tab-pane fade show active container-fluid" id="section5" role="tabpanel" aria-labelledby="nav-home-tab">
              <div class="table-responsive">
              <BaseDatatable v-if="selectedTab=='new'" :multiple-actions="multipleAction" :module="`student`" :apiurl="url" :list-url="`${url}/student-list/new`" :fields="fields"></BaseDatatable>
            </div>
            </div>
            <div v-if="selectedTab=='underage' && loaded" class="tab-pane fade show active container-fluid" id="section6" role="tabpanel" aria-labelledby="nav-home-tab">
              <div class="table-responsive">
              <BaseDatatable v-if="selectedTab=='underage'" :multiple-actions="multipleAction" :module="`student`" :apiurl="url" :list-url="`${url}/student-list/underage`" :fields="fields"></BaseDatatable>
            </div>
            </div>
            <div v-if="selectedTab=='has-work' && loaded" class="tab-pane fade show active container-fluid" id="section7" role="tabpanel" aria-labelledby="nav-home-tab">
              <div class="table-responsive">
              <BaseDatatable v-if="selectedTab=='has-work'" :multiple-actions="multipleAction" :module="`student`" :apiurl="url" :list-url="`${url}/student-list/has-work`" :fields="fields"></BaseDatatable>
            </div>
            </div>
            <div v-if="selectedTab=='index' && loaded" class="tab-pane fade show active container-fluid" id="section8" role="tabpanel" aria-labelledby="nav-home-tab">
              <div class="table-responsive">
              <BaseDatatable v-if="selectedTab=='index'" :multiple-actions="multipleAction" :module="`student`" :apiurl="url" :list-url="`${url}/student-list/index`" :fields="fields"></BaseDatatable>
            </div>
            </div>
            <div v-if="selectedTab=='members' && loaded" class="tab-pane fade show active container-fluid" id="section9" role="tabpanel" aria-labelledby="nav-home-tab">
              <div class="table-responsive">
              <BaseDatatable v-if="selectedTab=='members'" :multiple-actions="multipleAction" :module="`student`" :apiurl="url" :list-url="`${url}/student-list/members`" :fields="fields"></BaseDatatable>
            </div>
            </div>
            <div v-if="selectedTab=='exited' && loaded" class="tab-pane fade show active container-fluid" id="section11" role="tabpanel" aria-labelledby="nav-home-tab">
              <div class="table-responsive">
              <BaseDatatable v-if="selectedTab=='exited'" :multiple-actions="multipleAction" :module="`student`" :apiurl="url" :list-url="`${url}/student-list/exited`" :fields="fields3"></BaseDatatable>
              </div>
            </div>
        </div>
        <StudentComment v-on:commented="refresh()"></StudentComment>
    </div>
</template>

<script>
import BaseDatatable from '../../../../../../resources/js/components/BaseDatatable'
import StudentComment from './StudentComment'
import NewRealization from './realization/NewRealization.vue'
export default {
    name: 'StudentList',
    props: ['url'],
    components: { StudentComment, BaseDatatable, NewRealization },
    methods: {
        refresh () {
            const self = this
            self.loaded = false
            setTimeout(function () {
                self.loaded = true
            }, 100)
        }
    },
    data () {
        return {
            loaded: true,
            multipleAction: {
            },
            selectedTab: 'all',
            apiurl: this.url,
            fields: [
                {
                    name: '__slot:component',
                    componentName: 'StudentStatus',
                    title: this.$translate.t('Figyelmeztetések')
                },
                {
                    name: 'student_number',
                    sortField: 'student_number',
                    title: this.$translate.t('Azonosító')
                },
                {
                    name: 'name',
                    sortField: 'name',
                    title: this.$translate.t('Név')
                },
                {
                    name: 'tax_number',
                    sortField: 'tax_number',
                    title: this.$translate.t('Adószám')
                },
                {
                    name: '__slot:phone',
                    sortField: 'phone',
                    title: this.$translate.t('Mobil')
                },
                {
                    name: '__slot:emailModal',
                    sortField: 'email',
                    title: this.$translate.t('E-mail')
                },
                {
                    name: 'created_at',
                    sortField: 'created_at',
                    title: this.$translate.t('Regisztráció')
                },
                {
                    name: 'membership',
                    sortField: 'nav_declaration',
                    title: this.$translate.t('Tagság')
                },
                {
                    name: '__slot:commentStudent',
                    sortField: 'comment',
                    title: this.$translate.t('Megjegyzés?')
                },
                {
                    name: 'newsletter',
                    sortField: 'newsletter',
                    title: this.$translate.t('Hírlevelet kér?')
                },

                {
                    name: '__slot:component',
                    componentName: 'StudentAction',
                    title: this.$translate.t('Actions')
                }
            ],
            fields2: [
                {
                    name: 'student_number',
                    sortField: 'student_number',
                    title: this.$translate.t('Azonosító')
                },
                {
                    name: 'name',
                    sortField: 'name',
                    title: this.$translate.t('Név')
                },
                {
                    name: 'tax_number',
                    sortField: 'tax_number',
                    title: this.$translate.t('Adószám')
                },
                {
                    name: '__slot:phone',
                    sortField: 'phone',
                    title: this.$translate.t('Mobil')
                },
                {
                    name: '__slot:emailModal',
                    sortField: 'email',
                    title: this.$translate.t('E-mail')
                },
                {
                    name: 'expire_safety',
                    sortField: 'expire_safety',
                    title: this.$translate.t('Lejárat')
                },
                {
                    name: 'type',
                    sortField: 'type',
                    title: this.$translate.t('Eszköz, igazolás típusa')
                },
                {
                    name: 'value',
                    title: this.$translate.t('Eszköz értéke')
                },

                {
                    name: '__slot:component',
                    componentName: 'StudentAction',
                    title: this.$translate.t('Actions')
                }
            ],
            fields3: [
                {
                    name: '__slot:component',
                    componentName: 'StudentStatus',
                    title: this.$translate.t('Figyelmeztetések')
                },
                {
                    name: 'student_number',
                    sortField: 'student_number',
                    title: this.$translate.t('Azonosító')
                },
                {
                    name: 'name',
                    sortField: 'name',
                    title: this.$translate.t('Név')
                },
                {
                    name: 'tax_number',
                    sortField: 'tax_number',
                    title: this.$translate.t('Adószám')
                },
                {
                    name: '__slot:phone',
                    sortField: 'phone',
                    title: this.$translate.t('Mobil')
                },
                {
                    name: '__slot:emailModal',
                    sortField: 'email',
                    title: this.$translate.t('E-mail')
                },
                {
                    name: 'created_at',
                    sortField: 'created_at',
                    title: this.$translate.t('Regisztráció')
                },
                {
                    name: 'membership',
                    sortField: 'nav_declaration',
                    title: this.$translate.t('Tagság')
                },
                {
                    name: 'exit_date',
                    sortField: 'exit_date',
                    title: this.$translate.t('Kilépett')
                },
                {
                    name: '__slot:component',
                    componentName: 'StudentAction',
                    title: this.$translate.t('Actions')
                }
            ]
        }
    }
}
</script>
