<template>
  <div>
    <div class="modal fade" id="studentMembershipModal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg  modal-dialog-centered" role="document">
        <div class="modal-content modal-lg" >
          <div class="modal-header bg-warning">
            <h5 class="modal-title">Tagásgi</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <i aria-hidden="true" class="ki ki-close"></i>
            </button>
          </div>
          <div class="modal-body p-4" >
            <div class="row">
              <div class="col-6">
                <FormDatePicker v-model="model.document_date" :title="'Tagsági dátuma'"></FormDatePicker>
              </div>
              <div class="col-6">
                <FormSingleCheckbox :title="'Online aláírás'" v-model="model.sign"></FormSingleCheckbox>
              </div>

            </div>
            </div>
            <div class="modal-footer ">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Mégse</button>
              <button type="button" class="btn btn-success"  @click="saveMembership()">Nyomtatás</button>
            </div>
          </div>
        </div>
    </div>
  </div>
</template>

<script>
import FormTextArea from '../../../../../../resources/js/components/form/FormTextArea'
import FormInput from '../../../../../../resources/js/components/form/FormInput'
import FormSelect from '../../../../../../resources/js/components/form/FormSelect'
import FormDatePicker from '../../../../../../resources/js/components/form/FormDatePicker'
import FormSingleCheckbox from '../../../../../../resources/js/components/form/FormSingleCheckbox'

export default {
    name: 'StudentMemebership',
    props: ['model', 'link'],
    data () {
        return {
            data1: null,
            industry: [],
            hide: false,
            forms: [],
            selectedIndustry: null
        }
    },
    watch: {
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/student/`
        }
    },
    created () {
        const self = this
        self.$eventHub.$on('openStudentMembershipModal', function (data) {
            self.data1 = data
        })
    },
    components: { FormTextArea, FormInput, FormSelect, FormDatePicker, FormSingleCheckbox },
    methods: {
        saveMembership () {
            this.$eventHub.$emit('openPDFStudent', this.url.replace('project', 'student') + 'get-document-template/' + this.data1.type + '/' + this.data1.studentId + '?project=' + this.data1.projectId + '&document_date=' + this.model.document_date + '&sign=' + this.model.sign)
            this.$emit('refresh', true)
            window.$('#studentMembershipModal').modal('hide')
        }

    }

}
</script>
