<template>
    <li class="kt-menu__item" aria-haspopup="true" v-if="!menu.submenu || menu.submenu.length < 1"
        v-bind:class="{'kt-menu__item--parent' : parent, 'kt-menu__item--active' : isActive}">
        <router-link :to="{path: path}" v-on:click.native="resetActiveMenus" class="kt-menu__link " v-if="menu.route !== '/telescope'">
            <i class="kt-menu__link-icon" v-bind:class="menu.icon"></i>
            <span class="kt-menu__link-text">{{$t(menu.title)}}</span>
        </router-link>
        <a :href="path" target="_blank" class="kt-menu__link " v-else>
            <i class="kt-menu__link-icon" v-bind:class="menu.icon"></i>
            <span class="kt-menu__link-text">{{$t(menu.title)}}</span>
        </a>

    </li>
    <li v-else class="kt-menu__item  kt-menu__item--submenu" v-bind:class="{'kt-menu__item--open' : isActive}" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
        <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
            <i class="kt-menu__link-icon" v-bind:class="menu.icon"></i>
            <span class="kt-menu__link-text">{{$t(menu.title)}}</span>
            <i class="kt-menu__ver-arrow la la-angle-right"></i>
        </a>
        <div class="kt-menu__submenu "><span class="kt-menu__arrow"></span>
            <ul class="kt-menu__subnav">
                <li class="kt-menu__item  kt-menu__item--parent" aria-haspopup="true"><span class="kt-menu__link"><span
                        class="kt-menu__link-text">{{$t(menu.title)}}</span></span></li>
                <MenuItem v-for="(item, index) in menu.submenu" v-bind:menu="item" v-bind:key="index"
                          v-bind:parent="false" :activeMenus="activeMenus" v-on:resetActiveMenus="resetActiveMenus"></MenuItem>
            </ul>
        </div>
    </li>
</template>

<script>
export default {
    name: 'MenuItem',
    computed: {
        isActive: function () {
            if (this.$route.path === this.menu.route) {
                return true
            }
            if (this.activeMenus.length > 0 && this.activeMenus.includes(this.menu.route)) {
                return true
            }
            return false
        },
        path: function () {
            if (this.menu.route === '/telescope') {
                return '/telescope?api_token=' + $cookies.get('token')
            }

            return this.menu.route
        }
    },
    methods: {
        resetActiveMenus () {
            this.$emit('resetActiveMenus', true)
        }
    },
    props: {
        menu: {
            type: Object,
            required: true
        },
        parent: {
            type: Boolean,
            default: false
        },
        activeMenus: {
            type: Array
        }
    }
}
</script>
