<template>
    <div>
        <div class = "alert alert-custom alert-white alert-shadow kt-portlet" role = "alert">

            <h3 class = "text-info">{{$t('Slide details')}}</h3>
        </div>
        <div class = "kt-portlet">
            <div class = "kt-portlet__body">
                <div class = "kt-form kt-form--label-right">
                    <div class = "kt-form__body">
                        <div class = "row">
                            <div class = "col-md-6">
                                <FormInput v-model = "model.name" :title = "$t('Name')"></FormInput>
                            </div>
                            <div class = "col-md-6">
                                <FormInput v-model = "model.title" :title = "$t('Cím')"></FormInput>
                            </div>
                            <div class = "col-md-6" >
                                <FormInput v-model = "model.lead" :title = "$t('Lead')" ></FormInput>
                            </div>
                            <div class = "col-md-6">
                                <FormInput v-model = "model.button_text" :title = "$t('Link button text')" ></FormInput>
                            </div>
                            <div class="col-md-6">
                                <FormInput v-model = "model.link" :title = "$t('Link')"></FormInput>
                            </div>
                            <div class="col-md-6"></div>
                            <div class="col-md-6">
                                <FormDropZone  :title = "$t('Image')" :options = "{}" v-on:success="success($event)"></FormDropZone>
                                <ImageLazy v-if="model.image_path" :image="'https://mads.eu-central-1.linodeobjects.com'+model.image_path" style="width:130px"></ImageLazy>
                            </div>
                            <div class="col-md-6">
                              <FormDropZone  :title = "$t('Mobil kép')" :options = "{}" v-on:success="success2($event)"></FormDropZone>
                              <ImageLazy v-if="model.image_mobile_path" :image="'https://mads.eu-central-1.linodeobjects.com'+model.image_mobile_path" style="width:130px"></ImageLazy>
                            </div>
                            <div class="col-md-6">
                                <FormDropZone  :title = "$t('Második kis kép')" :options = "{}" v-on:success="successSec($event)"></FormDropZone>
                                <ImageLazy v-if="model.second_image" :image="'https://mads.eu-central-1.linodeobjects.com'+model.second_image" style="width:130px"></ImageLazy>
                            </div>
                          <div class = "col-md-12">
                            <FormSelect v-model = "model.active" :title = "$t('Aktív?')"  :options = "{'1':'Igen','0':'Nem'}"></FormSelect>
                          </div>
                          <div class = "col-md-12">
                            <FormNumberInput v-model = "model.order" :title = "$t('Sorrend')"  ></FormNumberInput>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import FormInput from '../../../../../../resources/js/components/form/FormInput'
import FormDropZone from '../../../../../../resources/js/components/form/FormDropZone'
import ImageLazy from '../../../../../../resources/js/components/ImageLazy'
import FormSelect from '../../../../../../resources/js/components/form/FormSelect'
import FormNumberInput from '../../../../../../resources/js/components/form/FormNumberInput'

export default {
    name: 'SliderForm',
    props: {
        url: {
            required: true,
            type: String
        },
        model: {
            required: true,
            type: Object
        }
    },
    data () {
        return {}
    },
    computed: {
        languages: function () {
            const l = []
            for (const it in this.$store.state.defaultStore.languages) {
                l.push(it)
            }
            return l
        }
    },
    components: { FormInput, FormDropZone, ImageLazy, FormSelect, FormNumberInput },
    methods: {
        success ($event) {
            console.log('success')
            this.model.image_path = $event
        },
        success2 ($event) {
            console.log('success')
            this.model.image_mobile_path = $event
        },
        successSec ($event) {
            console.log('success')
            this.model.second_image = $event
        }
    },
    created () {
    },
    mounted () {
    }
}
</script>
