<template>
    <QuestionsForm v-if="Object.keys(model).length > 0" :url="url" :model="model"></QuestionsForm>
</template>

<script>
import QuestionsForm from './QuestionsForm'
import Questions from './Questions'

export default {
    name: 'QuestionsCreate',
    extends: Questions,
    data () {
        return {
            model: {}
        }
    },
    components: { QuestionsForm },
    beforeMount: function () {
        this.handleCreate('question', this.url, {})

        this.getQuestions()
    }
}
</script>
