<template>
    <div class="container blog-container">
        <div class="row mt-5 mb-5 page-tagline present">
            <div class="col-12 mt-2">
                <div class="tags-container">
                    <router-link :to="item.link" v-bind:class="item.color"  class="text-white p-1 pl-4 pr-4" v-for="(item,index) in getMenu()" v-bind:key="'small-menu-'+index"><i  v-bind:class="item.icon"></i> {{item.title}}</router-link>
                </div>
                <div class="circle-tile-heading light-gray"><i class="fa fa-hand-paper fa-fw fa-3x"></i></div>
                <div class="circle-tile-content light-gray">
                    <h1 class="title text-white">Munkajelenkezéseim</h1>
                </div>
            </div>
            <div class="col-12">
                <div  v-if="!apply" class="mt-5">
                    <h2 class="title">Még nem jelentkeztél munkára!</h2>
                    <h3><router-link class="button dark w-50" to="/munkak">Tovább a munkákhoz</router-link></h3>
                </div>
                <div class="table-responsive" v-if="apply">
                    <table class="table table-bordered mt-3">
                        <tr class="light-gray text-white">
                            <th>#</th>
                            <th>Név</th>
                        </tr>
                        <tr v-for="document in apply " v-bind:key="'apply-'+ document.id">
                            <td class="text-left"><ImageLazy :src="document.image" class-name="img-fluid"></ImageLazy>
                                </td>
                            <td class="text-left"><router-link :to="document.slug"><b>{{document.name}}</b><br>{{document.lead}} </router-link></td>
                        </tr>
                    </table>
                    <Pagination v-if="loaded && meta && meta.current_page" v-on:pageChange="pageChange($event)" :meta="meta" :links="links"></Pagination>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
import FrontendInput from '../../../../../../../../resources/js/frontend/components/form/FrontendInput'
import Profile from '../Profile'
import Pagination from '../../../../../../../../resources/js/components/Pagination'
import ImageLazy from '../../../../../../../../resources/js/components/ImageLazy'
export default {
    name: 'Apply',
    extends: Profile,
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/`
        }
    },
    data () {
        return {
            selectedFile: null,
            apply: null,
            meta: null,
            links: null,
            attributes: null,
            page: 1,
            loaded: false,
            file: null

        }
    },
    components: { FrontendInput, Pagination, ImageLazy },
    methods: {
        getMyApply (page = null) {
            const currentPage = 1
            let slug = this.url + 'student/get-my-apply'
            if (this.$route.query.page) {
                this.currentPage = this.$route.query.page
            }
            if (!page) {
                slug += `?page=${currentPage}`
            } else {
                slug += `?page=${page}`
            }
            this.axios.get(slug).then((response) => {
                this.apply = response.data.data
                this.meta = response.data.meta
                this.links = response.data.links
                this.attributes = response.data.attributes
                this.loaded = true
            })
        },
        pageChange (page) {
            this.page = page
            this.getMyApply()
        }
    },
    created () {
        this.getMyApply()
    }
}
</script>
