<template>
    <div class="bg-white m-2 text-white " v-if="schedule">
            <div class="w-100" style="font-size: 18px;"><h1 class="bg-danger p-1" >{{schedule.start}}-{{schedule.end}}</h1></div>
            <div class="w-100 p-1 pt-2 pb-2 text-dark" v-html="schedule.name"></div>
            <div class="w-100 pt-1 pb-1 bg-success text-dark" style="font-weight: 700">{{schedule.schedule_date}}</div>
        </div>
</template>

<script>
export default {
    name: 'Calendar',
    props: ['schedule']
}
</script>

<style scoped>

</style>
