<template>
    <div class="container blog-container">
        <div class="row mt-5 mb-5 page-tagline present">
            <div class="col-12 bg-danger p-3" v-if="profile && profile.exit_date" >
                <h3 class="text-large text-white" style="font-size: 23px">A profilod fel lett függesztve kilépés miatt. Néhány funkció nem lesz elérhető a továbbiakban, de továbbra is hozzáférsz majd az adataidhoz!</h3>
            </div>
            <div class="col-12 mt-2">
                <div class="tags-container">
                    <router-link :to="item.link" v-bind:class="item.color"  class="text-white p-1 pl-4 pr-4" v-for="(item,index) in getMenu()" v-bind:key="'small-menu-'+index"><i  v-bind:class="item.icon"></i> {{item.title}}</router-link>
                </div>
                <div class="circle-tile-heading blue"><i class="fa fa-file-pdf fa-fw fa-3x"></i></div>
                <div class="circle-tile-content blue">
                    <h1 class="title text-white">Dokumentumok</h1>
                </div>
                <h2 style="font-size: 18px" class="text-center p-3">Online aláírás ügyfélkapu segítségével!</h2>
                <div class="message-box-entry style-3">
                    <div class="text-box">Ha van DÁP alkalmazásod, lehetőséged van a dokumentumok online hitelesítésére! Elkerülve a sorbanállást vagy a postázást!
                    </div>
                    <ul class="text-left">
                        <li class="tex-left">1) Ha van DÁP alkalmazásod töltsd le a fáljt a mobilodra</li>
                        <li class="tex-left">2) nyitsd meg a DÁP alkalmazást, azon belül a Digitális aláírás lehetőséget </li>
                        <li class="tex-left">3) Aláírás indítása, Tovább, Dokumentum kiválasztása gombok megnyomása után választ ki az aláírandó filet és töltsd be PDF filet</li>
                        <li class="tex-left">4) klikkelj az Áttekintés és aláírás gombra</li>
                        <li class="tex-left">5) klikkelj az Aláírás gombra</li>
                        <li class="tex-left">6) Add meg a jelszavad</li>
                        <li class="tex-left">7) Az aláírt filet mentsd le a mobilodra</li>
                        <li class="tex-left">8) Az aláírt filet töltsd vissza az admin fiókodba</li>
                    </ul>
                </div>
            </div>
            <div class="col-12">
                <div class="table-responsive" v-if="documents">
                    <table class="table table-bordered mt-3">
                        <tr class="blue text-white">
                            <th>Név</th>
                            <th>Létrehozzás dátuma</th>
                            <th>Megtekint</th>
                        </tr>
                        <tr v-for="document in documents " v-bind:key="'document-'+ document.id">
                            <td class="text-left">{{document.name}} <span  v-if="document.type===1" class="ml-5 bg-danger p-1 d-none d-sm-block">Aláírásra vár</span> <span  v-if="document.type===2" class="ml-5 bg-success p-1 d-none d-sm-block">Aláírva</span></td>
                            <td>{{document.created}}</td>
                            <td><a :href="'/api/v1/student/get-my-document/'+document.id" target="_blank" class="btn btn-primary" ><i class="fa fa-file-pdf"></i></a>
                                <a v-if="document.type===1" href="#" @click.prevent="openDocumentModal(document)" class="btn btn-danger" ><i class="fa fa-upload"></i></a>
                            </td>
                        </tr>
                    </table>
                    <Pagination v-if="loaded && meta && meta.current_page" v-on:pageChange="pageChange($event)" :meta="meta" :links="links"></Pagination>
                </div>
            </div>
            <div class = "modal fade" id = "documentModal" tabindex = "-1" role = "dialog" aria-labelledby = "exampleModalLabel" aria-hidden = "true">
                <div class = "modal-dialog">
                    <div class = "modal-content">
                        <div class="widget-entry">
                            <div class="widget-title p-3"> Aláírt fájl feltöltése <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button></div>
                            <div class="row page-tagline  p-3">
                                <div class="col-md-12 col-md-offset-3 wow flipInX animated" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: flipInX;">
                                    <FormDropZone v-model="file"  v-on:success="changePath($event)" :student="true"  max-files="1" acceptedFiles="application/pdf" :url="'/api/v1/student/upload-document'" :option="{}" :title="'Húzd ide az aláírt dokumentumot'"></FormDropZone>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import FrontendInput from '../../../../../../../../resources/js/frontend/components/form/FrontendInput'
import Pagination from '../../../../../../../../resources/js/components/Pagination'
import Profile from '../Profile'
import FormDropZone from '../../../../../../../../resources/js/components/form/FormDropZone'
export default {
    name: 'Documents',
    extends: Profile,
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/`
        }
    },
    data () {
        return {
            selectedFile: null,
            documents: null,
            meta: null,
            links: null,
            attributes: null,
            page: 1,
            loaded: false,
            file: null

        }
    },
    components: { FrontendInput, Pagination, FormDropZone },
    methods: {
        getMyDocuments (page = null) {
            const currentPage = 1
            let slug = this.url + 'student/get-my-documents'
            if (this.$route.query.page) {
                this.currentPage = this.$route.query.page
            }
            if (!page) {
                slug += `?page=${currentPage}`
            } else {
                slug += `?page=${page}`
            }
            this.axios.get(slug).then((response) => {
                this.documents = response.data.data
                this.meta = response.data.meta
                this.links = response.data.links
                this.attributes = response.data.attributes
                this.loaded = true
            })
        },
        openDocumentModal (model) {
            this.selectedFile = model
            window.$('#documentModal').modal('show')
        },
        changePath ($event) {
            console.log($event)
            this.selectedFile.new_file = $event

            this.axios.post(this.url + 'student/save-my-document', this.selectedFile).then((response) => {
                window.$('#documentModal').modal('hide')
                this.pageChange(1)
            })
        },
        pageChange (page) {
            this.page = page
            this.getMyDocuments(page)
        }
    },
    created () {
        this.getMyDocuments()
    }
}
</script>
