<template>
    <div class="container blog-container profile">
        <div class="row mt-5 mb-5 page-tagline present">
            <div class="col-12 bg-danger p-3" v-if="profile && profile.exit_date" >
                <h3 class="text-large text-white" style="font-size: 23px">A profilod fel lett függesztve kilépés miatt. Néhány funkció nem lesz elérhető a továbbiakban, de továbbra is hozzáférsz majd az adataidhoz!</h3>
            </div>
            <div class="col-12 mt-2">
                <div class="tags-container">
                    <router-link :to="item.link" v-bind:class="item.color"  class="text-white p-1 pl-4 pr-4" v-for="(item,index) in getMenu()" v-bind:key="'small-menu-'+index"><i  v-bind:class="item.icon"></i> {{item.title}}</router-link>
                </div>
                <div class="circle-tile-heading red"><i class="fa fa-key fa-fw fa-3x"></i></div>
                <div class="circle-tile-content red">
                    <h1 class="title text-white">Pénzügyek</h1>
                </div>
                <div class="row mt-2">
                    <div class="col-sm-3">
                    <FrontendMask :mask="['####-##']" v-model="month" title="Válassz hónapot" ></FrontendMask>
                    </div>
                    <div class="col-sm-2"><button class="button size-3 w-100 mt-4 black" @click="getMyFinance()"><span class="text-center w-100">Lekérdez</span></button></div>
                    <div class="col-12">
                        <hr/>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <h1 class="title" v-if="fixings && fixings.fixings && Object.keys(fixings.fixings).length === 0">Az adott hónapban nem dolgoztál!</h1>
                <div class="table-responsive">
                <table v-if="fixings && fixings.fixings && Object.keys(fixings.fixings).length > 0" class="table table table-condensed table-bordered" >
                    <tr><th colspan="7" style="font-size: 21px; font-weight: bold" class="bg-orange"><h2>Az aktuális hónapban beosztott napok</h2> </th></tr>

                    <tr v-for="(day,index) in fixings.days" v-bind:key="'fixing-days'+index">
                        <td v-for="d in fixings.days[index]" v-bind:key="'fixing-days-td'+d.date" class="text-center p-2" >
                            <b class="d-none d-sm-block">{{d.name}}</b><br>
                            {{d.date}}<br>
                            <i v-if="d.work" class="fa fa-check-circle fa-2x text-success"></i>
                            <i v-if="!d.work" class="fa fa-times-circle fa-2x text-danger"></i>
                        </td>
                        <td v-if="fixings.days[index].length <7" :colspan="7-fixings.days[index].length"></td>
                    </tr>
                </table>
                </div>
                <h1 class="title" v-if="fixings && fixings.fixings && Object.keys(fixings.fixings).length > 0">Munkahelyek</h1>
                <template v-if="fixings && fixings.fixings && Object.keys(fixings.fixings).length > 0">
                    <div class="table-responsive">
                <table  v-for="(company,index)  in fixings.fixings" class="table table table-condensed table-bordered" v-bind:key="'fixings-company'+index" >
                    <tr><th colspan="8" style="font-size: 21px; font-weight: bold" class="bg-orange"><h2>{{company.company_name}}</h2> </th></tr>
                    <tr>
                        <th>Dátum</th>
                        <th>Kezdés</th>
                        <th>Végzés</th>
                        <th>Óra</th>
                        <th>Fix</th>
                        <th>Bruttó összeg</th>
                        <th>Levont(SZJA)</th>
                        <th>Nettó összeg</th>
                    </tr>
                    <tr v-for="(day,i) in company.data" v-bind:key="'fixing-company-days'+index+'-'+i">
                        <td>{{day.date}}</td>
                        <td>{{day.start}}</td>
                        <td>{{day.end}}</td>
                        <td>{{day.hour}} óra</td>
                        <td class="text-right"><Price :value="day.fix"></Price></td>
                        <td class="text-right"><Price :value="day.price"></Price></td>
                        <td class="text-right"><Price :value="day.szja"></Price></td>
                        <td class="text-right"><Price :value="day.price_net"></Price></td>

                    </tr>
                </table>
                    </div>
                </template>
                <h2 class="title" v-if="fixings && fixings.fixings && Object.keys(fixings.fixings).length > 0">Összesen</h2>
                <div class="table-responsive">
                <table  class="table table table-condensed table-bordered" style="font-weight: 700;" v-if="fixings && fixings.fixings && Object.keys(fixings.fixings).length && fixings.summation">
                    <tr class="bg-danger">
                        <th>#</th>
                        <th>Óra</th>
                        <th>Bruttó bér</th>
                        <th>Levont (SZJA)</th>
                        <th>Nettó bér</th>
                    </tr>
                    <tr>
                        <th class="text-left">Összesen</th>
                        <td>{{fixings.summation['Összesen'].hour}} óra</td>
                        <td class="text-right"><Price :value="fixings.summation['Összesen'].price"></Price></td>
                        <td class="text-right"><Price :value="fixings.summation['Összesen'].szja"></Price></td>
                        <td class="text-right"><Price :value="fixings.summation['Összesen'].price_net"></Price></td>
                    </tr>
                    <tr>
                        <th class="text-left">Részjegy</th>
                        <td></td>
                        <td class="text-right"></td>
                        <td class="text-right"></td>
                        <td class="text-right"><Price :value="fixings.summation['Részjegy'].price_net"></Price></td>
                    </tr>
                    <tr>
                        <th class="text-left">Hóközi kifizetés</th>
                        <td></td>
                        <td class="text-right"><Price :value="fixings.summation['Hóközi kifizetés'].price"></Price></td>
                        <td class="text-right"><Price :value="fixings.summation['Hóközi kifizetés'].szja"></Price></td>
                        <td class="text-right"><Price :value="fixings.summation['Hóközi kifizetés'].price_net"></Price></td>
                    </tr>
                    <tr class="bg-success">
                        <th class="text-left">Mindösszesen</th>
                        <th>{{fixings.summation['Mindösszesen'].hour}} óra</th>
                        <th class="text-right"><Price :value="fixings.summation['Mindösszesen'].price"></Price></th>
                        <th class="text-right"><Price :value="fixings.summation['Mindösszesen'].szja"></Price></th>
                        <th class="text-right"><Price :value="fixings.summation['Mindösszesen'].price_net"></Price></th>
                    </tr>
                </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import FrontendInput from '../../../../../../../../resources/js/frontend/components/form/FrontendInput'
import Profile from '../Profile'
import FrontendMask from '../../../../../../../../resources/js/frontend/components/form/FrontendMask'
import Price from '../../../../../../../../resources/js/components/Price'
export default {
    name: 'Finance',
    extends: Profile,
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/`
        }
    },
    data () {
        return {
            fixings: null,
            month: new Date().getFullYear() + '-' + (new Date().getMonth() + 1)
        }
    },
    components: { FrontendInput, FrontendMask, Price },
    methods: {
        getMyFinance () {
            this.axios.get(this.url + 'student/get-my-finance/' + this.month).then((response) => {
                this.fixings = response.data
            })
        }
    },
    mounted () {
        this.getMyFinance()
    }
}
</script>
