<template>
  <div>
  <div class="modal fade" id="newRealization" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document"  style="max-width: 1131px;">
      <div class="modal-content">
        <div class="modal-header bg-warn">
          <h5 class="modal-title"> Ráérés rögzítése</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i aria-hidden="true" class="ki ki-close"></i>
          </button>
        </div>
        <div class="modal-body p-4">
          <div class="row">
            <div class = "col-md-6">
                <FrontendSelect  :select2="true" v-model = "model.work" :title = "$t('Milyen munka érdekli?')"  :options = "works" ></FrontendSelect>
            </div>
            <div class = "col-md-6">
              <FrontendSelect :select2="true" :multiple="true" v-model = "model.location" :title = "$t('Hol szeretne dolgozni?')"  :options = "cities" ></FrontendSelect>
            </div>
              <div class="col-12 text-center">
                  <FrontendCustumRadio v-model="model.underage" :badge="1" :options="{'0':'Kiskorú vagyok',1:'Elmúltam 18'}" ></FrontendCustumRadio>
              </div>
              <div class="col-12 text-center">
                  <FrontendCustumRadio v-model="model.type" :badge="1" :options="{'0':'Jövőhéten ráérek',1:'Egyedi dátum'}" ></FrontendCustumRadio>
              </div>
            <div class = "col-md-6" v-if="model.type==1">
                <FrontendDatePicker v-model="model.start" :title="'Kezdete'"></FrontendDatePicker>
            </div>
              <div class = "col-md-6"  v-if="model.type==1">
                  <FrontendDatePicker v-model="model.end" :title="'Vége'"></FrontendDatePicker>
              </div>
              <div class="col-md-12">
                  <div class="table-responsive">
                      <table class="w-100 table table-bordered table-condensed  d-none d-md-block d-lg-block">
                          <thead>
                          <tr>
                              <th>Hétfő</th>
                              <th>Kedd</th>
                              <th>Szerda</th>
                              <th>Csütörtök</th>
                              <th>Péntek</th>
                              <th>Szombat</th>
                              <th>Vasárnáp</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr>
                              <td><FrontendRadio2 inputClass="no-position" v-model="model.monday" :options="{0:'Nem ér rá',1:'Egész nap ráér',2:'Délelőtt ráér',3:'Délután ráér'}"></FrontendRadio2></td>
                              <td><FrontendRadio2 inputClass="no-position" v-model="model.tuesday" :options="{0:'Nem ér rá',1:'Egész nap ráér',2:'Délelőtt ráér',3:'Délután ráér'}"></FrontendRadio2></td>
                              <td><FrontendRadio2 inputClass="no-position" v-model="model.wednesday" :options="{0:'Nem ér rá',1:'Egész nap ráér',2:'Délelőtt ráér',3:'Délután ráér'}"></FrontendRadio2></td>
                              <td><FrontendRadio2 inputClass="no-position" v-model="model.thursday" :options="{0:'Nem ér rá',1:'Egész nap ráér',2:'Délelőtt ráér',3:'Délután ráér'}"></FrontendRadio2></td>
                              <td><FrontendRadio2 inputClass="no-position" v-model="model.friday" :options="{0:'Nem ér rá',1:'Egész nap ráér',2:'Délelőtt ráér',3:'Délután ráér'}"></FrontendRadio2></td>
                              <td><FrontendRadio2 inputClass="no-position" v-model="model.saturday" :options="{0:'Nem ér rá',1:'Egész nap ráér',2:'Délelőtt ráér',3:'Délután ráér'}"></FrontendRadio2></td>
                              <td><FrontendRadio2 inputClass="no-position"  v-model="model.sunday" :options="{0:'Nem ér rá',1:'Egész nap ráér',2:'Délelőtt ráér',3:'Délután ráér'}"></FrontendRadio2></td>
                          </tr>
                          </tbody>
                      </table>
                      <table class="w-100 table table-bordered table-condensed  d-inline-table  d-sm-none">
                          <tbody>
                          <tr>
                              <th class="w-50">Hétfő</th>
                              <td class="w-50"><FrontendRadio2 inputClass="no-position" v-model="model.monday" :options="{0:'Nem ér rá',1:'Egész nap ráér',2:'Délelőtt ráér',3:'Délután ráér'}"></FrontendRadio2></td>
                          </tr>
                          <tr>
                              <th class="w-50">Kedd</th>
                              <td class="w-50"><FrontendRadio2 inputClass="no-position" v-model="model.tuesday" :options="{0:'Nem ér rá',1:'Egész nap ráér',2:'Délelőtt ráér',3:'Délután ráér'}"></FrontendRadio2></td>
                          </tr>
                          <tr>
                              <th class="w-50">Szerda</th>
                              <td class="w-50"><FrontendRadio2 inputClass="no-position" v-model="model.wednesday" :options="{0:'Nem ér rá',1:'Egész nap ráér',2:'Délelőtt ráér',3:'Délután ráér'}"></FrontendRadio2></td>
                          </tr>
                          <tr>
                              <th class="w-50">Csütörtök</th>
                              <td class="w-50"><FrontendRadio2 inputClass="no-position" v-model="model.thursday" :options="{0:'Nem ér rá',1:'Egész nap ráér',2:'Délelőtt ráér',3:'Délután ráér'}"></FrontendRadio2></td>
                          </tr>
                          <tr>
                              <th class="w-50">Péntek</th>
                              <td class="w-50"><FrontendRadio2 inputClass="no-position" v-model="model.friday" :options="{0:'Nem ér rá',1:'Egész nap ráér',2:'Délelőtt ráér',3:'Délután ráér'}"></FrontendRadio2></td>
                          </tr>
                          <tr>
                              <th class="w-50">Szombat</th>
                              <td class="w-50"><FrontendRadio2 inputClass="no-position" v-model="model.saturday" :options="{0:'Nem ér rá',1:'Egész nap ráér',2:'Délelőtt ráér',3:'Délután ráér'}"></FrontendRadio2></td>
                          </tr>
                          <tr>
                              <th class="w-50">Vasárnáp</th>

                              <td class="w-50"><FrontendRadio2 inputClass="no-position"  v-model="model.sunday" :options="{0:'Nem ér rá',1:'Egész nap ráér',2:'Délelőtt ráér',3:'Délután ráér'}"></FrontendRadio2></td>
                          </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
        </div>
        <div class="modal-footer bg-warn">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Mégse</button>
          <button type="button" class="btn btn-success" @click="saveStudentSchool">Hozzáad</button>
        </div>
      </div>
    </div>
  </div>
  </div>
</template>

<script>

import FormDatePicker from '../../../../../../../../resources/js/components/form/FormDatePicker.vue'

import FrontendDatePicker from '../../../../../../../../resources/js/frontend/components/form/FrontendDatePicker.vue'
import FrontendRadio2 from '../../../../../../../../resources/js/frontend/components/form/FrontendRadio2.vue'
import FrontendSelect from '../../../../../../../../resources/js/frontend/components/form/FrontendSelect.vue'
import FrontendCustumRadio from '../../../../../../../../resources/js/frontend/components/form/FrontendCustumRadio.vue'
export default {
    name: 'NewRealization',
    props: ['student'],
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/student`
        }
    },
    components: { FrontendCustumRadio, FrontendSelect, FormDatePicker, FrontendRadio2, FrontendDatePicker },
    data () {
        return {
            works: {},
            cities: {},
            model: {
            }
        }
    },
    methods: {
        saveStudentSchool () {
            this.axios.post(this.url + '/add-realization', this.model).then((resp) => {
                this.$eventHub.$emit('refreshRealization')
                this.model = {}
                window.$('#newRealization').modal('hide')
            })
        },
        getSelect () {
            this.axios.get(`${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/realization/select`).then((resp) => {
                this.works = resp.data.works
                this.cities = resp.data.cities
                this.model.start = resp.data.start
                this.model.end = resp.data.end
                this.model.type = 0
            })
        }
    },
    mounted () {
        const self = this
        this.$eventHub.$on('openRealization', function (data) {
            self.model = {}
            self.model.student_id = data
            window.$('#newRealization').modal('show')
        })
    },
    created () {
        this.getSelect()
    }

}
</script>

<style scoped>
.bg-warn{
    background: #f3ad0b;
}
</style>
