<template>
  <div>
  <button type="button" class="btn btn-primary mt-3 mb-3 float-left" data-toggle="modal" data-target="#newWorkSafety">
    Új orvosi igazolás, EÜ kiskönyv feltöltése
  </button>
  <div class="modal fade" id="newWorkSafety" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header bg-warning">
          <h5 class="modal-title">  Új eszköz, igazolás</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i aria-hidden="true" class="ki ki-close"></i>
          </button>
        </div>
        <div class="modal-body p-4">
          <div class="row">
              <div class="col-12">
                  <FrontendSelect v-model="model.type" :title="'Típus'" :options="{'1':'Egeszsegügyi kiskönyv','3':'Orvosi igazolás',}"></FrontendSelect>
              </div>
              <div class="col-12">
                  <FrontendDatePicker v-model="model.date" :title="'Kiállítás dátuma'" ></FrontendDatePicker>
              </div>
              <div class="col-12">
                  <FrontendDatePicker v-model="model.expire" :title="'Lejárat dátuma'" ></FrontendDatePicker>
              </div>
              <div class="col-12">
                <FormDropZone v-model="model.file"  v-on:success="model.file=$event" :student="true"  max-files="1" acceptedFiles="application/pdf" :url="'/api/v1/upload-private-file?dir=student'" :option="{}" :title="'Húzd ide a dokumentumot'"></FormDropZone>
             </div>
              <div class="col-12">
                  <FrontendInput v-model="model.value" :title="'Egyéb infó'" ></FrontendInput>
              </div>
          </div>
        </div>
        <div class="modal-footer bg-warning">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Mégse</button>
          <button type="button" class="btn btn-success" @click="saveStudentSchool">Hozzáad</button>
        </div>
      </div>
    </div>
  </div>
  </div>
</template>

<script>

import FrontendInput from '../../../../../../../../resources/js/frontend/components/form/FrontendInput.vue'
import FormNumberInput from '../../../../../../../../resources/js/components/form/FormNumberInput.vue'
import FrontendSelect from '../../../../../../../../resources/js/frontend/components/form/FrontendSelect.vue'

import FormDropZone from '../../../../../../../../resources/js/components/form/FormDropZone.vue'
import FrontendDatePicker from '../../../../../../../../resources/js/frontend/components/form/FrontendDatePicker.vue'
export default {
    name: 'NewLanguage',
    props: ['student'],
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/student`
        }
    },
    components: { FrontendInput, FrontendSelect, FormNumberInput, FormDropZone, FrontendDatePicker },
    data () {
        return {
            model: {
                language_id: null,
                value: null
            }
        }
    },
    methods: {
        saveStudentSchool () {
            this.axios.post(this.url + '/create-work-safety', this.model).then((resp) => {
                this.$emit('refresh')
                this.model = {
                    type: null,
                    value: null,
                    expire: null,
                    date: null,
                    file: null
                }
                window.$('#newWorkSafety').modal('hide')
            })
        }
    }
}
</script>

<style scoped>

</style>
