<template>
    <div class="container blog-container">
        <div class="row mt-5 mb-5 page-tagline present">
            <div class="col-12 mt-2">
                <div class="tags-container">
                    <router-link :to="item.link" v-bind:class="item.color"  class="text-white p-1 pl-4 pr-4" v-for="(item,index) in getMenu()" v-bind:key="'small-menu-'+index"><i  v-bind:class="item.icon"></i> {{item.title}}</router-link>
                </div>
                <div class="circle-tile-heading yellow"><i class="fa fa-comment fa-fw fa-3x"></i></div>
                <div class="circle-tile-content yellow">
                    <h1 class="title text-white">Értesítések</h1>
                </div>
            </div>
            <div class="col-12">
                <h1 class="title mt-4" v-if=" !notifications || !notifications.length">Nincs új értesítésed!</h1>
                <div class="table-responsive"  v-if=" notifications && notifications.length > 0">
                <Pagination v-if="loaded && meta && meta.current_page" v-on:pageChange="pageChange($event)" :meta="meta" :links="links"></Pagination>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
import FrontendInput from '../../../../../../../../resources/js/frontend/components/form/FrontendInput'
import Profile from '../Profile'
import Pagination from '../../../../../../../../resources/js/components/Pagination'
export default {
    name: 'Notification',
    extends: Profile,
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/`
        }
    },
    data () {
        return {
            notifications: null,
            meta: null,
            links: null,
            attributes: null,
            page: 1,
            loaded: false
        }
    },
    components: { FrontendInput, Pagination },
    methods: {
        getMyNotification (page = null) {
            const currentPage = 1
            let slug = this.url + 'student/get-my-notification'
            if (this.$route.query.page) {
                this.currentPage = this.$route.query.page
            }
            if (!page) {
                slug += `?page=${currentPage}`
            } else {
                slug += `?page=${page}`
            }
            this.axios.get(slug).then((response) => {
                this.notifications = response.data
                this.meta = response.data.meta
                this.links = response.data.links
                this.attributes = response.data.attributes
                this.loaded = true
            })
        },
        pageChange (page) {
            this.page = page
            this.getMyNotification(page)
        }
    },
    mounted () {
        this.getMyNotification()
    },
    created () {

    }
}
</script>
