<template>
    <div class="container blog-container">
        <div class="row mt-5 mb-5 page-tagline present">
            <div class="col-12 bg-danger p-3" v-if="profile && profile.exit_date" >
                <h3 class="text-large text-white" style="font-size: 23px">A profilod fel lett függesztve kilépés miatt. Néhány funkció nem lesz elérhető a továbbiakban, de továbbra is hozzáférsz majd az adataidhoz!</h3>
            </div>
            <div class="col-12 mt-2">
                <div class="tags-container">
                    <router-link :to="item.link" v-bind:class="item.color"  class="text-white p-1 pl-4 pr-4" v-for="(item,index) in getMenu()" v-bind:key="'small-menu-'+index"><i  v-bind:class="item.icon"></i> {{item.title}}</router-link>
                </div>
                <div class="circle-tile-heading red"><i class="fa fa-key fa-fw fa-3x"></i></div>
                <div class="circle-tile-content red">
                    <h1 class="title text-white">Jelszó módosítás</h1>
                </div>
            </div>
            <div class="col-12">
                <div class="row m-5">
                    <div class="col-md-6 offset-md-3">
                        <p>
                            {{ $t('A jelszó legalább 6 karakter hosszú kell legyen és tartalmazzon kisbetűt,nagybetűt számot és speciális karaktert! pl: #,?,!,@,$,%,^,&,*,-') }}</p>

                        <FrontendInput class="m-3" v-model="model.password" :type="'password'"
                                       :placeholder="$t('Password')"></FrontendInput>
                        <FrontendInput class="m-3" v-model="model.password_confirm" :type="'password'"
                                       :placeholder="$t('Password confirm')"></FrontendInput>

                        <button type="button" @click="changePassword()" class="button size-3 mt-3 w-50"><span
                            class="w-100">{{ $t('Change') }}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
import FrontendInput from '../../../../../../../../resources/js/frontend/components/form/FrontendInput'
import Profile from '../Profile'
export default {
    name: 'PasswordChange',
    extends: Profile,
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/`
        }
    },
    data () {
        return {
            model: {
                password: null,
                password_confirm: null
            }

        }
    },
    components: { FrontendInput },
    methods: {
        changePassword () {
            this.axios.put(this.url + 'student/change-password', this.model).then((response) => {
                this.model = {
                    password: null,
                    password_confirm: null
                }
            })
        }
    },
    created () {

    }
}
</script>
