<template>
    <div class="container blog-container">
        <div class="row mt-5 mb-5 page-tagline profile">
            <div class="col-12 bg-danger p-3" v-if="profile && profile.exit_date" >
                <h3 class="text-large text-white" style="font-size: 23px">A profilod fel lett függesztve kilépés miatt. Néhány funkció nem lesz elérhető a továbbiakban, de továbbra is hozzáférsz majd az adataidhoz!</h3>
            </div>
            <div class="col-12 mt-2">
                <div class="tags-container">
                    <router-link :to="item.link" v-bind:class="item.color"  class="text-white p-1 pl-4 pr-4" v-for="(item,index) in getMenu()" v-bind:key="'small-menu-'+index"><i  v-bind:class="item.icon"></i> {{item.title}}</router-link>
                </div>
                <div class="circle-tile-heading orange"><i class=" fa-fw fa-3x fa fa-chart-line"></i></div>
                <div class="circle-tile-content orange">
                    <h1 class="title text-white">Bérelszámolási lapok</h1>
                </div>
                <div class="row mt-2">
                    <div class="col-sm-3">
                        <FrontendMask :mask="['####']" v-model="year" title="Add meg az évet!" ></FrontendMask>
                    </div>
                    <div class="col-sm-2"><button class="button size-3 w-100 mt-4 black" @click="getMyPayroll()"><span class="text-center w-100">Lekérdez</span></button></div>
                    <div class="col-12">
                        <hr/>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="table-responsive">
                    <table v-if="payrols && Object.keys(payrols).length>0" class="table table table-condensed table-bordered" >
                        <thead>
                        <tr class="orange">
                            <th class="text-left">Hónap</th>
                            <th >Bruttó bér</th>
                            <th >SZJA</th>
                            <th>Levonás</th>
                            <th>Részjegy</th>
                            <th>Hóközi kifizetés</th>
                            <th>Nettó</th>
                            <th>Fizetendő</th>
                            <th>Letöltés</th>
                        </tr>
                        </thead>
                        <tr v-for="(month,index) in payrols" v-bind:key="'payroll'+index">
                            <td class="text-left">{{month.month}}</td>
                            <td class="text-right"><Price v-if="month.data" :value="month.data.gross"></Price></td>
                            <td class="text-right"><Price v-if="month.data" :value="month.data.szja"></Price></td>
                            <td class="text-right"><Price v-if="month.data" :value="month.data.deduction"></Price></td>
                            <td class="text-right"><Price v-if="month.data" :value="month.data.part_ticket"></Price></td>
                            <td class="text-right"><Price v-if="month.data" :value="month.data.monthly"></Price></td>
                            <td class="text-right"><Price v-if="month.data" :value="month.data.net"></Price></td>
                            <td class="text-right text-danger"><Price v-if="month.data" :value="month.data.payable"></Price></td>
                            <td><a v-if="month.data" :href ="'/api/v1/print-payroll/'+index" target="_blank"><i class="fa fa-2x fa-file-pdf"></i></a> </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
import FrontendInput from '../../../../../../../../resources/js/frontend/components/form/FrontendInput'
import FrontendMask from '../../../../../../../../resources/js/frontend/components/form/FrontendMask'
import Price from '../../../../../../../../resources/js/components/Price'
import Profile from '../Profile'
export default {
    name: 'Payroll',
    extends: Profile,
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/`
        },

        token: function () {
            return $cookies.get('token')
        }

    },
    data () {
        return {
            year: new Date().getFullYear(),
            payrols: null

        }
    },
    components: { FrontendInput, FrontendMask, Price },
    methods: {
        getMyPayroll () {
            this.axios.get(this.url + 'student/get-my-payroll/' + this.year).then((response) => {
                this.payrols = response.data
            })
        }
    },
    created () {
        this.getMyPayroll()
    }
}
</script>
