<template>
    <div class="container blog-container">
        <div class="row mt-5 mb-5 page-tagline present">
            <div class="col-12 bg-danger p-3" v-if="model && model.exit_date" >
                <h3 class="text-large text-white" style="font-size: 23px">A profilod fel lett függesztve kilépés miatt. Néhány funkció nem lesz elérhető a továbbiakban, de továbbra is hozzáférsz majd az adataidhoz!</h3>
            </div>
            <div class="col-12 mt-2">
                <div class="tags-container">
                    <router-link :to="item.link" v-bind:class="item.color"  class="text-white p-1 pl-4 pr-4" v-for="(item,index) in getMenu()" v-bind:key="'small-menu-'+index"><i  v-bind:class="item.icon"></i> {{item.title}}</router-link>
                </div>
                <div class="circle-tile-heading dark-blue"><i class="fa-fw fa-3x fa fa-users"></i></div>
                <div class="circle-tile-content dark-blue">
                    <h1 class="title text-white">Személyes adatok</h1>
                </div>
              <div class=" dark-blue mt-2" v-if="model && model.student_number">
                <h2 class="title text-white" style="font-size: 18px;">MADS azonosítód: <span class="text-warning">{{model.student_number}}</span></h2>
              </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div v-if="model && !model.exit_date " class="col-md-12 text-left">
                        <h2 class="mt-2 mb-2 custom-title">Önéletrajz</h2>
                        <div class="row">
                            <div class="col-md-6 p-3">
                                <table v-if="model.cv" class="table table-active w-50">
                                    <tr><td class="p-3">
                                <i  class="p-3 fa fa-file-image fa-5x text-purple"></i>
                                    </td>
                                        <td class="p-3">
                                <button @click="deleteCV" class="w-100 btn-xs btn btn-danger">Törlés</button><br>
                                <a href="/api/v1/student/get-my-cv" target="_blank" class="w-100 btn-xs btn btn-success">Letölt</a>
                                        </td>
                                    </tr>
                                    <tr><td class="p-3" colspan="2">{{model.cv_name}}</td></tr>
                                </table>
                                <h2 v-if="!model.cv" class="text-center text-info">Még nem töltöttél fel önéletrajzot!</h2>
                            </div>
                            <div class="col-md-6">
                                <FormDropZone  :title="'Önéletrajz feltöltése'" :student="true" :acceptedFiles="'application/pdf'" :url="'/api/v1/student/upload-cv'"  v-on:success-full="onSuccess($event)"></FormDropZone>
                            </div>
                        </div>
                    </div>
                    <div v-if="profile && model" class="col-md-6 text-left" >
                        <h2 class="mt-2 mb-2 custom-title">Alapadatok</h2>
                        <FrontendSelect :select2="true" v-model = "model.prefered_work_location" :title = "$t('Hol szeretne dolgozni?')" v-if = "model && model.selectables " :options = "model.selectables.work_location"></FrontendSelect>
                        <FrontendSelect v-model = "model.newsletter" :title = "$t('Hírlevelet kér?')" v-if = "model && model.selectables && {}" :options = "{1:'Igen',0:'Nem'}"></FrontendSelect>
                        <FrontendSelect :select2="true" v-model = "model.work_categories" :title = "$t('Milyen munka érdekli')" :multiple="'multiple'" v-if = "model && model.selectables && {}" :options = "model.selectables.work_categories"></FrontendSelect>
                        <FrontendInput disabled="disabled" v-model = "model.name" :title = "$t('Név')"></FrontendInput>
                        <FrontendInput v-if="profile.date_of_entry" disabled="disabled" v-model = "model.identity_card" :title = "$t('Személyi igazolvány szám')"></FrontendInput>
                        <FrontendInput v-if="profile.date_of_entry" disabled="disabled" v-model = "model.birth_location" :title = "$t('Születési hely')"></FrontendInput>
                        <FrontendInput v-model = "model.birth_date" :title = "$t('Születési dátum')"></FrontendInput>
                        <FrontendInput v-if="profile.date_of_entry" disabled="disabled" v-model = "model.mothers_name" :title = "$t('Anyja leánykori neve')"></FrontendInput>
                        <FrontendSelect v-if="profile.date_of_entry && model && model.selectables" :select2="true" v-model = "model.nationality" :title = "$t('Állampolgársága')"  :options = "model.selectables.nationalities"></FrontendSelect>
                        <FrontendInput v-if="profile.date_of_entry" disabled="disabled" v-model = "model.passport" :title = "$t('Útlevélszám (ha nincs személyi igazolvány)')"></FrontendInput>
                        <FrontendInput v-if="profile.date_of_entry"  v-model = "model.om_code" :title = "$t('OM azonosító/Diákig.szám')"></FrontendInput>
                        <FrontendInput v-if="profile.date_of_entry" disabled="disabled" v-model = "model.eu_expire_date" :title = "$t('EÜ lejárat dátuma')"></FrontendInput>
                        <FrontendSelect v-if="profile.date_of_entry && model && model.selectables" v-model = "model.gender" :title = "$t('Neme')"  :options = "{'1':'Nő','2':'Férfi'}" ></FrontendSelect>
                        <FrontendSelect v-if="profile.date_of_entry && model && model.selectables" v-model = "model.driver_licence" :title = "$t('Jogosítvány')"  :options = "{1:'Igen',0:'Nem'}" ></FrontendSelect>
                         <FrontendSingleCheckbox v-if="profile.date_of_entry" v-model="model.ability_to_work"   title="Megváltozott munkaképességű?"></FrontendSingleCheckbox>
                    </div>
                    <div v-if="profile && model" class="col-md-6 text-left">
                        <h2 class="mt-2 mb-2 custom-title"  v-if="profile.date_of_entry" >Kifizetéshez szükséges adatok</h2>
                        <FrontendInput v-if="profile.date_of_entry" disabled="disabled" v-model = "model.bank_account_number" :title = "$t('Bankszámlaszám')"></FrontendInput>
                        <FrontendInput v-if="profile.date_of_entry" disabled="disabled" v-model = "model.tax_number" :title = "$t('Adószám')"></FrontendInput>
                        <FrontendInput v-if="profile.date_of_entry" disabled="disabled" v-model = "model.date_of_entry" :title = "$t('Belépés dátuma')"></FrontendInput>
                        <FrontendInput v-if="profile.date_of_entry" disabled="disabled" v-model = "model.nav_declaration" :title = "$t('Nav bejelentés')"></FrontendInput>
                        <FrontendInput v-if="profile.date_of_entry" disabled="disabled" v-model = "model.membership_agreement" :title = "$t('Tagsági megállapodás')"></FrontendInput>
                        <FrontendInput v-if="profile.date_of_entry" disabled="disabled" v-model = "model.employment_contract" :title = "$t('Munkaszerződés')"></FrontendInput>
                        <h2 class="mt-2 mb-2 custom-title">Elérhetőségek</h2>
                        <FrontendMask :help-text="'pl:308111365'" :mask="['+36(##)-###-####','+36(#)-###-####']" v-model = "model.phone" :title = "$t('Mobil')"></FrontendMask>
                        <FrontendInput disabled="disabled" v-model = "model.email" :title = "$t('E-mail')"></FrontendInput>
                        <FrontendInput v-if="profile.date_of_entry" v-model = "model.notification_address" :title = "$t('Értesítési cím')"></FrontendInput>
                        <div class="row" v-if="profile.date_of_entry">
                            <div class="col-md-4"><FrontendSelect :select2="true"  v-model = "model.country_id" :title = "$t('Ország')" v-if = "model && model.selectables && model.selectables.countries" :options = "model.selectables.countries" ></FrontendSelect></div>
                            <div class="col-md-4"><FrontendInput  v-model = "model.zip" :title = "$t('Irányítószám')"></FrontendInput></div>
                            <div class="col-md-4"><FrontendSelect :select2="true"  v-model = "model.city_id" :title = "$t('Város')" v-if = "model && model.selectables && model.selectables.cities" :options = "model.selectables.cities" ></FrontendSelect></div>
                            <div class="col-md-4"> <FrontendInput  v-model = "model.street" :title = "$t('Utca')"></FrontendInput></div>
                            <div class="col-md-4"> <FrontendSelect :select2="true"  v-model = "model.area_type_id" :title = "$t('Közterület jellege')" v-if = "model && model.selectables" :options = "model.selectables.area_types" ></FrontendSelect></div>
                            <div class="col-md-4">  <FrontendInput  v-model = "model.house_number" :title = "$t('Házszám')"></FrontendInput></div>
                            <div class="col-md-4"> <FrontendInput  v-model = "model.building" :title = "$t('Épület')"></FrontendInput></div>
                        </div>

                      </div>

                    <div v-if="model && model.id"  class="col-md-12 mt-3"  >
                      <div class=" text-right pull-right"   >
                        <button class="btn btn-xs btn-warning " v-if="model.id && !model.exit_date" @click="updateProfile()"><span>Mentés</span></button>
                      </div>
                    </div>

                  <div class="col-12 mt-5" v-if="profile && profile.date_of_entry">
                    <StudentSchool v-if="model" :student="model"></StudentSchool>
                    <StudentLanguages v-if="model" :student="model"></StudentLanguages>
                  </div>

                </div>
            </div>
        </div>

    </div>
</template>

<script>
import FrontendSingleCheckbox from '../../../../../../../../resources/js/frontend/components/form/FrontendSingleCheckbox'
import FrontendInput from '../../../../../../../../resources/js/frontend/components/form/FrontendInput'
import FrontendSelect from '../../../../../../../../resources/js/frontend/components/form/FrontendSelect'
import FrontendMask from '../../../../../../../../resources/js/frontend/components/form/FrontendMask'
import StudentLanguages from './language/StudentLanguages'
import StudentSchool from './schools/StudentSchool'
import Profile from '../Profile'
import FormDropZone from '../../../../../../../../resources/js/components/form/FormDropZone.vue'

export default {
    name: 'PersonalData',
    components: { FrontendInput, FrontendMask, FrontendSelect, StudentLanguages, StudentSchool, FrontendSingleCheckbox, FormDropZone },
    extends: Profile,
    data () {
        return {
            model: {}
        }
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/`
        }
    },
    methods: {
        updateProfile () {
            this.axios.put(this.url + 'student/update-profile', this.model).then((response) => {
                this.$store.commit('defaultStore/setUser', response.data.data)
            })
        },
        getPersonalData () {
            this.axios.get(this.url + 'student/profile', this.profile).then((response) => {
                this.model = response.data.data
            })
        },
        deleteCV () {
            this.axios.delete(this.url + 'student/delete-cv').then((response) => {
                this.model.cv = ''
                this.model.cv_name = ''
            })
        },
        onSuccess ($event) {
            console.log($event)
            this.model.cv = $event.path
            this.model.cv_name = $event.name
        }

    },
    created () {
        this.getPersonalData()
    }
}
</script>
