<template>
  <div class="container blog-container">
    <div class="row mt-5 mb-5 page-tagline present">
      <div class="col-12 mt-2">
        <div class="tags-container">
          <router-link :to="item.link" v-bind:class="item.color" class="text-white p-1 pl-4 pr-4" v-for="(item,index) in getMenu()" v-bind:key="'small-menu-'+index"><i v-bind:class="item.icon"></i> {{ item.title }}
          </router-link>
        </div>
        <div class="circle-tile-heading purple"><i class="fa fa-calendar-alt fa-fw fa-3x"></i></div>
        <div class="circle-tile-content purple">
          <h1 class="title text-white"> Online jelenléti </h1>
        </div>
      </div>
      <div v-if="presents && !presents.length" class="col-12 mt-2">
        <div class="alert alert-info">Jelenleg nem dolgozol olyan cégnél aki támogatná az online jelenlétit!</div>
      </div>
      <div class="col-12 mt-2" v-if="presents && presents.length">
        <h2 style="font-size: 18px" class="text-left pl-2 mt-2 mb-2">Válassz hónapot!</h2>
        <div class="tags-container">
          <a v-if="new Date().getMonth() == 0" class="text-white" v-bind:class="{'bg-success':month == 0, 'bg-info':0 !=month}" href="#" @click.prevent="month=0">December</a>
          <a class="text-white" v-bind:class="{'bg-success':index == month ,'bg-info':index !=month,'d-none':index<new Date().getMonth()}" v-for="(m,index) in months" v-bind:key="'month-'+index" href="#"
             @click.prevent="month=index">{{ m }}</a>
        </div>
        <h2 style="font-size: 18px" class="text-left pl-2 mt-2 mb-2">Válassz céget!</h2>
        <div class="tags-container">
          <a class="text-white" v-bind:class="{'bg-success':present.industry_id == selectedPresent.industry_id ,'bg-info':present.industry_id != selectedPresent.industry_id}" v-for="(present,index) in presents"
             v-bind:key="'presents-'+index" href="#" @click.prevent="selectedPresent=present">{{ present.company }}/{{ present.industry }}</a>
        </div>
        <div class="alert alert-danger">Most már online is kérhetsz előleget!</div>
        Előleget minden hónapban 20-25 között utalunk és csak a 15.-ig ledolgozott munkabéred 80%-át áll módunkban kifizetni, amit a Munkahelyed is leigazol jelenléti íven. Az elutalt előleg összegével csökken hó végén az utalandó béred.
        <div class="alert alert-info">Az előlegkérés határideje 15-ike!</div>
        <div class="text-center">
          <a @click.prevent="getDownPayment" class="button size-2 text-white"><span>Előleget kérek</span></a>
        </div>
      </div>
    </div>
    <div class="row" style="    position: fixed;top: 110px;z-index: 2000;%">
      <div class="col-md-12 " v-if="selectedPresent && selectedPresent.company_id">
        <div class=" text-right">
          <button :disabled="disable" class="btn btn-xs btn-danger " @click="savePresents()"><span>Mentés</span></button>
        </div>
      </div>
    </div>
    <div class="row" v-if="presents && presents.length">
      <div class="col-12">
        <table class="table table-bordered present-table presents" v-if="selectedPresent && selectedPresent.price_hourly ">
          <tr class="purple text-white">
            <th class="text-center">Bér az alap órabérrel számolva</th>
            <th class="text-center">MADS által véglegesített adatok</th>
          </tr>
          <tr>
            <td class="text-center">
              <h1 class="h3 text-success">
                <Price :value="sum*selectedPresent.price_hourly"></Price>
              </h1>
            </td>
            <td class="text-center">
              <h1 class="h3 text-danger" v-if="selectedPresent.mads_all">
                <Price :value="selectedPresent.mads_all"></Price>
              </h1>
              <span v-if="!selectedPresent.mads_all" class="text-info">Az adatok még nem kerültek feldolgozásra</span>
            </td>
          </tr>
          <tr>
            <td class="text-center" colspan="2">
              <span class="text-success" v-if="selectedPresent.company_use"> Az {{ selectedPresent.company }} használja és jóváhagyja online az adataidat!</span>
              <span class="text-danger" v-if="!selectedPresent.company_use"> Köszönjük, hogy óvod a természetet és online töltöd a jelenléti ívet. Hó végén ne feledd letölteni és leigazoltatni a munkahelyi vezetőddel.</span>
            </td>
          </tr>
        </table>
        <h2 style="font-size: 18px" class="text-left pl-2 mt-2 mb-2">
          <b v-if="month===0">{{ new Date().getFullYear() - 1 }}. December</b>
          <b v-if="month!==0">{{ new Date().getFullYear() }}. {{ months[month] }}</b> -
          <a :href="presenentsUrl" target="_blank" v-if="selectedPresent.industry_id >0" class=" button size-3 ml-2 btn-dark e pull-right">Letöltés pdf-ben</a><span class="bg-danger p-2 text-white pull-right"><b>összesen: {{ sum }} óra</b></span>
        </h2>
        <table class="table-bordered presents table table-bordered present-table">
          <tr class="purple text-white">
            <th>#</th>
            <th>Érkezés</th>
            <th>Távozás</th>
            <th class="d-none d-sm-block" v-if="selectedPresent.industry_has_break">Szünet</th>
            <th>Óra</th>
          </tr>
          <template v-for="(day,index) in selectedPresent.presents">
            <tr v-bind:key="'date-'+day.date" v-bind:class="{'bg-weekend':day.weekend}">
              <th>
                <div class="d-none d-sm-block" v-html="day.name"></div>
                <div class="d-sm-none d-md-block">{{ index.split('-')[2] }}</div>
              </th>
              <td>
                <FrontendTimePicker v-if="!day.approved" v-model="selectedPresent.presents[day.date].start"
                                    v-on:change="selectedPresent.presents[day.date].hour=calculate_diff_hour(selectedPresent.presents[day.date].start,selectedPresent.presents[day.date].end,selectedPresent.presents[day.date].break_from,selectedPresent.presents[day.date].break_to)"></FrontendTimePicker>
                <span class="d-block d-sm-none"><FrontendTimePicker inputClass="" :title="'Szünte kezdete'" v-if="!day.approved" v-model="selectedPresent.presents[day.date].break_from"
                                                                    v-on:change="selectedPresent.presents[day.date].hour=calculate_diff_hour(selectedPresent.presents[day.date].start,selectedPresent.presents[day.date].end,selectedPresent.presents[day.date].break_from,selectedPresent.presents[day.date].break_to)"></FrontendTimePicker></span>
                <span v-if="day.approved">{{ selectedPresent.presents[day.date].start }}</span>
              </td>
              <td>
                <FrontendTimePicker v-if="!day.approved" v-model="selectedPresent.presents[day.date].end"
                                    v-on:change="selectedPresent.presents[day.date].hour=calculate_diff_hour(selectedPresent.presents[day.date].start,selectedPresent.presents[day.date].end,selectedPresent.presents[day.date].break_from,selectedPresent.presents[day.date].break_to)"></FrontendTimePicker>
                <span class="d-block d-sm-none"><FrontendTimePicker :title="'Szünte vége'" v-if="!day.approved" v-model="selectedPresent.presents[day.date].break_to"
                                                                    v-on:change="selectedPresent.presents[day.date].hour=calculate_diff_hour(selectedPresent.presents[day.date].start,selectedPresent.presents[day.date].end,selectedPresent.presents[day.date].break_from,selectedPresent.presents[day.date].break_to)"></FrontendTimePicker></span>
                <span v-if="day.approved">{{ selectedPresent.presents[day.date].end }}</span>
              </td>
              <td v-if="selectedPresent.industry_has_break" class="d-none d-sm-block">
                <div class="d-inline-flex">
                  <FrontendTimePicker v-if="!day.approved" v-model="selectedPresent.presents[day.date].break_from"
                                      v-on:change="selectedPresent.presents[day.date].hour=calculate_diff_hour(selectedPresent.presents[day.date].start,selectedPresent.presents[day.date].end,selectedPresent.presents[day.date].break_from,selectedPresent.presents[day.date].break_to)"></FrontendTimePicker>
                  <FrontendTimePicker v-if="!day.approved" v-model="selectedPresent.presents[day.date].break_to"
                                      v-on:change="selectedPresent.presents[day.date].hour=calculate_diff_hour(selectedPresent.presents[day.date].start,selectedPresent.presents[day.date].end,selectedPresent.presents[day.date].break_from,selectedPresent.presents[day.date].break_to)"></FrontendTimePicker>
                  <div v-if="day.approved"><span>{{ selectedPresent.presents[day.date].break_from }}</span>-<span>{{ selectedPresent.presents[day.date].break_to }}</span></div>
                </div>
              </td>
              <td>
                {{ selectedPresent.presents[day.date].hour }}
              </td>
            </tr>
          </template>
        </table>

      </div>
      <div class="col-12">
        <hr class="separator"/>
      </div>
      <div class="modal fade" id="downPaymentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
           aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="">
              <div class="widget-title p-3 text-center">
                Előleg kérés
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="row page-tagline  p-3">
                <div class="col-md-12 col-md-offset-3 wow flipInX animated" data-wow-delay="0.3s">
                  <h1 class="alert alert-danger" v-if="errorDownPayment">{{message}}</h1>
                  <h1 class="alert alert-success" v-if="!errorDownPayment">{{message}}</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import ImageLazy from '../../../../../../../../resources/js/components/ImageLazy'
import LoadingSvg from '../../LoadingSvg'
import Price from '../../../../../../../../resources/js/components/Price'
import FrontendTimePicker from '../../../../../../../../resources/js/frontend/components/form/FrontendTimePicker'
import Profile from '../Profile'
import swal from 'sweetalert2'
export default {
    name: '',
    components: { LoadingSvg, ImageLazy, Price, FrontendTimePicker },
    extends: Profile,
    data () {
        return {
            presents: {},
            months: {
                1: 'Január',
                2: 'Február',
                3: 'Március',
                4: 'Április',
                5: 'Május',
                6: 'Június',
                7: 'Július',
                8: 'Augusztus',
                9: 'Szeptember',
                10: 'Október',
                11: 'November',
                12: 'December'
            },
            selectedPresent: {
                industry_id: 0
            },
            message: '',
            errorDownPayment: '',
            meta: null,
            links: null,
            attributes: null,
            page: 1,
            loaded: false,
            disable: false,
            month: (new Date().getMonth() + 1)
        }
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/student`
        },
        sum: function () {
            let sum = 0
            if (!this.selectedPresent.presents) {
                return 0
            }
            Object.keys(this.selectedPresent.presents).forEach(key => {
                sum += this.selectedPresent.presents[key].hour
            })
            return sum
        },
        presenentsUrl () {
            if (this.month === 0) {
                return this.url + '/presents-pdf/' + this.selectedPresent.industry_id + '/' + `${new Date().getFullYear() - 1}-12` + '?api_token=' + $cookies.get('student-token')
            }
            return this.url + '/presents-pdf/' + this.selectedPresent.industry_id + '/' + `${new Date().getFullYear()}-${this.month}` + '?api_token=' + $cookies.get('student-token')
        },

        pageLanguage: function () {
            return this.$store.state.defaultStore.pageLanguage
        }
    },
    created () {
        this.getMyPresents()
    },
    watch: {
        '$store.state.defaultStore.pageLanguage': {
            handler: function (val, oldVal) {
            }
        },
        month: {
            handler: function (val, oldVal) {
                if (val !== oldVal) {
                    this.getMyPresents()
                    this.selectedPresent = {
                        industry_id: 0
                    }
                }
            }
        }
    },
    methods: {
        getMyPresents () {
            if (this.month === 0) {
                this.axios.get(this.url + '/get-my-presents/' + (new Date().getFullYear() - 1) + '-12').then((resp) => {
                    this.presents = resp.data
                })
            } else {
                this.axios.get(this.url + '/get-my-presents/' + (new Date().getFullYear()) + '-' + this.month).then((resp) => {
                    this.presents = resp.data
                })
            }
        },
        getDownPayment () {
            const self = this
            if (this.month === 0) {
                swal.fire({
                    title: this.$t('Megerősítés'),
                    text: this.$t('Biztosan szeretnél előleget kérni?'),
                    type: 'warning',
                    showCancelButton: !0,
                    confirmButtonText: this.$t('Igen, Kérek!'),
                    cancelButtonText: this.$t('Mégse!'),
                    reverseButtons: !0
                }).then(function (e) {
                    if (e.value) {
                        self.axios.post(self.url + '/down-payment-request', { month: (new Date().getFullYear() - 1) + '-12' }).then((resp) => {
                            self.errorDownPayment = resp.data.error
                            self.message = resp.data.message

                            window.$('#downPaymentModal').modal('show')
                        })
                    }
                })
            } else {
                swal.fire({
                    title: this.$t('Megerősítés'),
                    text: this.$t('Biztosan szeretnél előleget kérni?'),
                    type: 'warning',
                    showCancelButton: !0,
                    confirmButtonText: this.$t('Igen, Kérek!'),
                    cancelButtonText: this.$t('Mégse!'),
                    reverseButtons: !0
                }).then(function (e) {
                    if (e.value) {
                        self.axios.post(self.url + '/down-payment-request', { month: (new Date().getFullYear()) + '-' + self.month }).then((resp) => {
                            self.errorDownPayment = resp.data.error
                            self.message = resp.data.message
                            window.$('#downPaymentModal').modal('show')
                        })
                    }
                })
            }
        },
        savePresents () {
            this.disable = true
            this.axios.post(this.url + '/save-my-presents', this.selectedPresent).then((resp) => {
                this.selectedPresent.presents = resp.data
                Object.keys(this.selectedPresent.presents).forEach(key => {
                    this.selectedPresent.presents[key].hour = this.calculate_diff_hour(this.selectedPresent.presents[key].start, this.selectedPresent.presents[key].end)
                })
                this.disable = false
            }).catch(() => {
                this.disable = false
            })
        },
        calculate_diff_hour (a, b, c = null, d = null) {
            if (!a || !b || a.includes(':') === false || b.includes(':') === false) {
                return 0
            }
            let minusHour = 0
            if (c && d && c.includes(':') > 0 && d.includes(':') > 0) {
                // Mindekettő benne van
                if (this.calculate_between(a, b, c) && this.calculate_between(a, b, d)) {
                    minusHour = this.calculate_diff_hour(c, d)
                }
                // eleje benne van vége nincs
                if (this.calculate_between(a, b, c) && !this.calculate_between(a, b, d)) {
                    minusHour = this.calculate_diff_hour(c, b)
                }
                // vége benne van eleje nincs
                if (!this.calculate_between(a, b, c) && this.calculate_between(a, b, d)) {
                    minusHour = this.calculate_diff_hour(a, d)
                }
            }
            a = (parseInt(a) * 60 + parseInt(a.substring(a.indexOf(':') + 1)))
            b = (parseInt(b) * 60 + parseInt(b.substring(b.indexOf(':') + 1)))
            let diff = b - a
            if (diff < 0) {
                diff += 1440
            }
            return (parseInt(100 * diff / 60) / 100) - minusHour
        },
        calculate_between (a, b, c) {
            if (!a || !b || !c || a.includes(':') === false || b.includes(':') === false || c.includes(':') === false) {
                return 0
            }
            a = (parseInt(a) * 60 + parseInt(a.substring(a.indexOf(':') + 1)))
            b = (parseInt(b) * 60 + parseInt(b.substring(b.indexOf(':') + 1)))
            c = (parseInt(c) * 60 + parseInt(c.substring(c.indexOf(':') + 1)))
            if (a === b) {
                return false
            }
            if (b < a) {
                return (a <= c && 23 * 60 + 59 >= c) || (c >= 0 && b >= c)
            } else {
                return a <= c && b >= c
            }
        }
    }
}
</script>
<style>
.bg-weekend {
  background: #8fcba3 !important
}

td input {
  border: solid 1px silver !important;
  max-width: 120px;
  margin-top: 0px !important;
  background: white !important;
}

.present .input-group-append {
  margin-left: -1px;
  height: 43px;
}

.present .form-group {
  margin-bottom: 0rem;
}

.table td {
  padding: 0.35rem !important;
}

.bootstrap-timepicker-widget {
  display: none !important;
}

</style>
