<template>
    <div class="container blog-container">
        <div class="row mt-5 mb-5 page-tagline profile">
            <div class="col-12 mt-2">
                <div class="tags-container">
                    <router-link :to="item.link" v-bind:class="item.color"  class="text-white p-1 pl-4 pr-4" v-for="(item,index) in getMenu()" v-bind:key="'small-menu-'+index"><i  v-bind:class="item.icon"></i> {{item.title}}</router-link>
                </div>
                <div class="circle-tile-heading dark-gray"><i class=" fa-fw fa-3x fa fa-table"></i></div>
                <div class="circle-tile-content dark-gray">
                    <h1 class="title text-white">Ráérésem</h1>
                </div>
            </div>
          <div v-if="!profile || !profile.id" class="alert alert-danger w-100 text-center p-3 m-3"> Kérlek jelentkezz be!</div>
            <div class="col-12" v-if="profile && profile.id">
                <h1 class="title mt-5" v-if=" realization.length === 0">Nincs rögzítve ráérésed</h1>
                <div class="table-responsive">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newRealization">
                        Ráérés rögzítése
                    </button>
                <table class="table table-bordered table-striped " v-if="realization">
                    <tr>
                        <th>#</th>
                        <th>Kezdete</th>
                        <th>Vége</th>
                        <th>Munka</th>
                        <th>Hely</th>
                        <th>Hétfő</th>
                        <th>Kedd</th>
                        <th>Szerda</th>
                        <th>Csütörtök</th>
                        <th>Péntek</th>
                        <th>Szombat</th>
                        <th>Vasárnap</th>
                    </tr>
                    <tr v-for="s in realization" v-bind:key="'school-'+s.id">
                        <td class="text-nowrap"><i class="fa fa-trash pointer-event text-danger" style="cursor:pointer" @click="deleteRealization(s.id)"></i></td>
                        <td class="text-nowrap">{{s.start}}</td>
                        <td class="text-nowrap">{{s.end}}</td>
                        <td>{{s.work}}</td>
                        <td>{{s.location}}</td>
                        <td>{{s.monday}}<i v-if="!s.monday" class="fa fa-2x fa fa-times-circle text-danger"></i></td>
                        <td>{{s.tuesday}}<i v-if="!s.tuesday" class="fa fa-2x fa fa-times-circle text-danger"></i></td>
                        <td>{{s.wednesday}}<i v-if="!s.wednesday" class="fa fa-2x fa fa-times-circle text-danger"></i></td>
                        <td>{{s.thursday}}<i v-if="!s.thursday" class="fa fa-2x fa fa-times-circle text-danger"></i></td>
                        <td>{{s.friday}}<i v-if="!s.friday" class="fa fa-2x fa fa-times-circle text-danger"></i></td>
                        <td>{{s.saturday}}<i v-if="!s.saturday" class="fa fa-2x fa fa-times-circle text-danger"></i></td>
                        <td>{{s.sunday}}<i v-if="!s.sunday" class="fa fa-2x fa fa-times-circle text-danger"></i></td>
                    </tr>
                </table>
                <div class="table-responsive">
                  <div class="circle-tile-content dark-gray">
                    <h1 class="title text-white">Munkákhoz tartozó ráérések</h1>
                  </div>
                  <div class="modal fade" id="editRealization" tabindex="-1" role="dialog" v-if="selectedPrelization">
                    <div class="modal-dialog   modal-dialog-centered" role="document" >
                      <div class="modal-content modal">
                        <div class="modal-header bg-info">
                          <h5 class="modal-title text-white">Visszajelzés küldése!</h5>

                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i aria-hidden="true" class="ki ki-close"></i>
                          </button>
                        </div>
                        <div class="modal-body p-4 " v-if="selectedPrelization &&  selectedPrelization.departments">
                          <div class="row">
                            <div class="col-md-12">
                              <FrontendInput :title="'Rövid megjegyzés'" v-model="selectedPrelization.comment"></FrontendInput>
                            </div>
                            <div class="col-md-12">
                              <FrontendSelect :multiple="true" v-if="selectedPrelization && selectedPrelization.departments" :title="'Preferált részleg'" :select2="true" v-model="selectedPrelization.preferred_departments" :options="getDepartments"></FrontendSelect>
                            </div>

                          <div class="col-md-12">
                            <table class="table table-bordered">
                              <tr v-for="(w,index) in tableWeek" v-bind:key="'m'+w.key">
                                <th  style="witdh:50%" >{{ w.value }}<br>{{ formatDate(selectedPrelization.date, index) }}</th>
                                  <td style="witdh:50%" class="text-center">
                                    <div>
                                      <button class="btn btn-sm w-100" @click="setValue(w.key,'F')" v-bind:class="{'btn-outline-success':selectedPrelization[w.key] !=='F','btn-success':selectedPrelization[w.key] ==='F'}">Egész nap ráérek</button>
                                      <button class="btn btn-sm w-100" @click="setValue(w.key,'X')" v-bind:class="{'btn-outline-success':selectedPrelization[w.key] !=='X','btn-success':selectedPrelization[w.key] ==='X'}">Nem érek rá</button>
                                      <button class="btn btn-sm w-100" @click="setValue(w.key,'')" v-bind:class="{'btn-success':selectedPrelization[w.key] !='F' && selectedPrelization[w.key] !='X','btn-outline-success':selectedPrelization[w.key] ==='F' || selectedPrelization[w.key] ==='X'}">Egyedi</button>

                                    </div>
                                    <div class="w-100 mt-1">
                                      <FrontendInput v-if="selectedPrelization[w.key] !='F' && selectedPrelization[w.key] !='X'"  placeholder="PL: 10-16" v-model="selectedPrelization[w.key]" ></FrontendInput>
                                    </div>
                                  </td>
                              </tr>
                            </table>
                          </div>
                          </div>
                          <div class="modal-footer ">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Mégse</button>
                            <button type="button" class="btn btn-success" @click="saveRealization">Mentés</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <table class="table table-bordered table-striped " v-if="projectRealization">
                    <tr>
                      <th>Cég</th>
                      <th>Hét</th>
                      <th>Visszajelzve</th>
                      <th>Művelet</th>
                    </tr>
                    <tr v-for="s in projectRealization" v-bind:key="'school-'+s.id">
                      <td class="text-nowrap">{{s.company_name}}</td>
                      <td class="text-nowrap">{{s.date}}</td>
                      <td>{{s.apply?'IGEN':'NEM'}}</td>
                      <td><i class="fa fa-check pointer-event btn btn-sm text-info bg-warning" style="cursor:pointer" @click="openRealization(s)"></i></td>
                    </tr>
                  </table>
                </div>
            </div>
            </div>
        </div>

    </div>
</template>

<script>
import Profile from '../Profile'
import FrontendInput from '../../../../../../../../resources/js/frontend/components/form/FrontendInput.vue'
import FrontendSelect from '../../../../../../../../resources/js/frontend/components/form/FrontendSelect.vue'
import NewRealization from './NewRealization.vue'
import FormInput from '../../../../../../../../resources/js/components/form/FormInput.vue'
import FormSelect from '../../../../../../../../resources/js/components/form/FormSelect.vue'
import FormTimePicker from '../../../../../../../../resources/js/components/form/FormTimePicker.vue'
export default {
    name: 'Realization',
    extends: Profile,
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/`
        },
        tableWeek: function () {
            if (this.selectedPrelization && this.selectedPrelization.week_start) {
                const sec = this.week.slice(0, this.selectedPrelization.week_start)
                const first = this.week.slice(this.selectedPrelization.week_start, 7)
                return first.concat(sec)
            }
            return this.week
        },
        getDepartments: function () {
            const deps = {}
            this.selectedPrelization.departments.split(';').forEach(i => {
                deps[this.encodeStr(i)] = i
            })

            return deps
        }
    },
    data () {
        return {
            interval: null,
            realization: [],
            selectedPrelization: {},
            projectRealization: [],
            week: [
                { key: 'monday', value: 'Hétfő' },
                { key: 'tuesday', value: 'Kedd' },
                { key: 'wednesday', value: 'Szerda' },
                { key: 'thursday', value: 'Csütörtök' },
                { key: 'friday', value: 'Péntek' },
                { key: 'saturday', value: 'Szombat' },
                { key: 'sunday', value: 'Vasárnap' }
            ]
        }
    },
    watch: {
        '$route.params': {
            handler: function (val, oldVal) {
                if (val.hash) {
                    this.getProjectRealizationByHash()
                }
            },

            deep: true
        }
    },
    components: { FormTimePicker, FormSelect, FormInput, NewRealization, FrontendInput, FrontendSelect },
    methods: {
        getProjectRealization () {
            this.axios.get(this.url + 'student/get-project-realization').then((resp) => {
                console.log(resp)
                this.projectRealization = resp.data
            })
        },
        encodeStr (title) {
            var slug = ''
            title = title.trim()
            // Change to lower case
            var titleLower = title.toLowerCase()
            // Letter "e"
            slug = titleLower.replace(/e|é|è|ẽ|ẻ|ẹ|ê|ế|ề|ễ|ể|ệ/gi, 'e')
            // Letter "a"
            slug = slug.replace(/a|á|à|ã|ả|ạ|ă|ắ|ằ|ẵ|ẳ|ặ|â|ấ|ầ|ẫ|ẩ|ậ/gi, 'a')
            // Letter "o"
            slug = slug.replace(/o|ó|ò|ö|õ|ỏ|ọ|ô|ố|ồ|ỗ|ổ|ộ|ơ|ớ|ờ|ỡ|ở|ợ/gi, 'o')
            // Letter "u"
            slug = slug.replace(/u|ü|Ü|ú|ù|ũ|ủ|ụ|ư|ứ|ừ|ữ|ử|ự/gi, 'u')
            // Letter "d"
            slug = slug.replace(/đ/gi, 'd')
            // Trim the last whitespace
            slug = slug.replace(/\s*$/g, '')
            // Change whitespace to "-"
            slug = slug.replace(/\s+/g, '-')
            slug = slug.replace('.', '')
            slug = slug.replace(',', '')

            return slug
        },
        formatDate (date, day) {
            const d = new Date(date)

            d.setDate(d.getDate() + day)
            return d.getFullYear() + '-' + this.padLeft(d.getMonth() + 1) + '-' + this.padLeft(d.getDate())
        },
        padLeft (t) {
            if (t < 10) {
                return '0' + t
            }
            return t
        },
        setValue (item, value) {
            if (this.selectedPrelization[item] === value) {
                this.selectedPrelization[item] = ''
            } else {
                this.selectedPrelization[item] = value
            }
        },
        openRealization (s) {
            this.selectedPrelization = s
            window.$('#editRealization').modal('show')
        },
        getProjectRealizationByHash () {
            this.axios.get(this.url + 'student/get-project-realization/' + this.$route.params.hash).then((resp) => {
                console.log('open modal')
                this.openRealization(resp.data)
            })
        },
        saveRealization () {
            this.axios.post(this.url + 'student/save-porject-realization', this.selectedPrelization).then((resp) => {
                window.$('#editRealization').modal('hide')
                this.getProjectRealization()
            })
        },
        getMySchedule () {
            this.axios.get(this.url + 'student/get-realization').then((resp) => {
                this.realization = resp.data.data
            })
        },
        deleteRealization (id) {
            this.axios.delete(this.url + 'student/delete-realization/' + id).then((resp) => {
                this.getMySchedule()
            })
        }
    },
    mounted () {
        this.getMySchedule()
        this.getProjectRealization()
        if (this.$route.params.hash) {
            this.getProjectRealizationByHash()
        }
        const self = this
        this.$eventHub.$on('refreshRealization', function (data) {
            self.getMySchedule()
            self.getProjectRealization()
        })
    },
    created () {
        const self = this
        this.$eventHub.$on('studentLoggedIn', function (data) {
            self.profile = data
            if (self.$route.params.hash) {
                self.getProjectRealizationByHash()
            }
            self.getMySchedule()
            self.getProjectRealization()
        })
    }
}
</script>
<style>
</style>
