<template>
    <div class="container blog-container">
        <div class="row mt-5 mb-5 page-tagline present">
            <div class="col-12 mt-2">
                <div class="circle-tile-heading green"><i class="fa fa-address-card fa-fw fa-3x"></i></div>
                <div class="circle-tile-content green">
                    <h1 class="title text-white">MADS Tag regisztráció</h1>
                </div>
            </div>
            <div class="col-12">
                <div  class="mt-5">
                    <p class=" m-5 pt-6 pb-5" style="font-size: 20px" v-if="!linkActive && loggedIn">{{linkMessage}}
                    <br>
                        Új regisztrációs linket a projekt menedzseredtől tudsz kérni.
                    </p>
                    <h2 class=" m-5 pt-6 pb-5" v-if="!loggedIn" style="font-size: 20px">A regisztráció folytatásához kérlek jelentkezz be!</h2>
                    <h3 v-if="!loggedIn" ><button data-toggle="modal" data-target="#loginModal" class="button dark w-25" >Belépés</button></h3>
                    <template v-if="loggedIn && linkActive">
                        <div class="row">
                        <div class="col-md-6 text-left">
                            <h2 class="mt-2 mb-2 custom-title">Alapadatok</h2>
                            <FrontendSelect :select2="true" v-model = "model.prefered_work_location" :title = "$t('Hol szeretne dolgozni?')" v-if = "model && model.selectables " :options = "model.selectables.work_location"></FrontendSelect>
                            <FrontendSelect v-model = "model.newsletter" :title = "$t('Hírlevelet kér?')" v-if = "model && model.selectables && {}" :options = "{1:'Igen',0:'Nem'}"></FrontendSelect>
                            <FrontendSelect :select2="true" v-model = "model.work_categories" :title = "$t('Milyen munka érdekli')" :multiple="'multiple'" v-if = "model && model.selectables && {}" :options = "model.selectables.work_categories"></FrontendSelect>
                            <FrontendInput v-model = "model.name" :title = "$t('Név')"></FrontendInput>
                            <FrontendInput v-model = "model.identity_card" :title = "$t('Személyi igazolvány szám')"></FrontendInput>
                            <FrontendInput v-model = "model.om_code" :title = "$t('Diákigazolvány/OM azonosító')"></FrontendInput>
                            <FrontendInput v-model = "model.birth_location" :title = "$t('Születési hely')"></FrontendInput>
                            <FrontendDatePicker v-model = "model.birth_date" :title = "$t('Születési dátum')"></FrontendDatePicker>
                            <FrontendInput v-model = "model.mothers_name" :title = "$t('Anyja leánykori neve')"></FrontendInput>
                            <FrontendSelect :select2="true" v-model = "model.nationality" :title = "$t('Állampolgársága')" v-if = "model && model.selectables " :options = "model.selectables.nationalities"></FrontendSelect>
                            <FrontendSelect :select2="true" v-model = "model.gender" :title = "$t('Neme')" v-if = "model && model.selectables " :options = "{'1':'Nő','2':'Férfi'}" ></FrontendSelect>
                            <FrontendSelect :select2="true" v-model = "model.driver_licence" :title = "$t('Jogosítvány')" v-if = "model && model.selectables " :options = "{'0':'Nem','1':'Igen'}" ></FrontendSelect>
                        </div>
                        <div class="col-md-6 text-left">
                            <h2 class="mt-2 mb-2 custom-title">Kifizetéshez szükséges adatok</h2>
                            <FrontendMask  :mask="['########-########-########','########-########']" v-model = "model.bank_account_number" :title = "$t('Bankszámlaszám')"></FrontendMask>
                            <FrontendMask  :mask="['###########']"  v-model = "model.tax_number" :title = "$t('Adószám')"></FrontendMask>
                            <FrontendMask   :mask="['### ### ####']"  v-model = "model.taj" :title = "$t('Tajszám')"></FrontendMask>
                            <FrontendInput  v-model = "model.eu_taj" :title = "$t('EU taj')"></FrontendInput>
                            <h2 class="mt-2 mb-2 custom-title">Elérhetőségek</h2>
                            <FrontendMask :mask="['+36(##)-###-####','+36(#)-###-####']" v-model = "model.phone" :title = "$t('Mobil')"></FrontendMask>
                            <FrontendInput disabled  v-model = "model.email" :title = "$t('E-mail')"></FrontendInput>
                            <FrontendInput  v-model = "model.notification_address" :title = "$t('Értesítési cím')"></FrontendInput>
                            <div class="row">
                                <div class="col-md-4"><FrontendSelect :select2="true"  v-model = "model.country_id" :title = "$t('Ország')" v-if = "model && model.selectables && model.selectables.countries" :options = "model.selectables.countries" ></FrontendSelect></div>
                                <div class="col-md-4"><FrontendInput  v-model = "model.zip" :title = "$t('Irányítószám')"></FrontendInput></div>
                                <div class="col-md-4"><FrontendSelect :select2="true"  v-model = "model.city_id" :title = "$t('Város')" v-if = "model && model.selectables && model.selectables.cities" :options = "model.selectables.cities" ></FrontendSelect></div>
                                <div class="col-md-4"> <FrontendInput  v-model = "model.street" :title = "$t('Utca')"></FrontendInput></div>
                                <div class="col-md-4"> <FrontendSelect :select2="true"  v-model = "model.area_type_id" :title = "$t('Közterület jellege')" v-if = "model && model.selectables" :options = "model.selectables.area_types" ></FrontendSelect></div>
                                <div class="col-md-4">  <FrontendInput  v-model = "model.house_number" :title = "$t('Házszám')"></FrontendInput></div>
                                <div class="col-md-4"> <FrontendInput  v-model = "model.building" :title = "$t('Épület')"></FrontendInput></div>
                            </div>
                        </div>
                        </div>
                        <div class="col-md-12 mt-3">
                          <div class="widget-entry">
                            <div class="widget-title p-3"> Diákigazolvány feltöltése
                            </div>
                            <div class="row page-tagline">
                              <div class="col-md-12 col-md-offset-3 wow flipInX animated" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: flipInX;">
                                <FormDropZone v-model="model.student_card"  v-on:success="changePath($event)" :student="true"  max-files="1" acceptedFiles="application/pdf" :url="'/api/v1/student/upload-document'" :option="{}"></FormDropZone>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12 mt-3">
                            <StudentSchool :student="model"></StudentSchool>
                        </div>
                        <div class="col-md-12 mt-3">
                            <StudentLanguages :student="model"></StudentLanguages>
                        </div>
                        <div class="offset-md-2 col-md-8">
                            <button type="button" class="button black size-2 mt-3 w-50" @click="saveRegistration()"><span class="w-100">Regisztráció véglegesítése</span></button>
                        </div>
                    </template>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
import FrontendInput from '../../../../../../../../resources/js/frontend/components/form/FrontendInput'
import Pagination from '../../../../../../../../resources/js/components/Pagination'
import FrontendSelect from '../../../../../../../../resources/js/frontend/components/form/FrontendSelect'
import FrontendMask from '../../../../../../../../resources/js/frontend/components/form/FrontendMask'
import FrontendDatePicker from '../../../../../../../../resources/js/frontend/components/form/FrontendDatePicker'
import StudentSchool from './schools/StudentSchool'
import StudentLanguages from './language/StudentLanguages'
import FormDropZone from '../../../../../../../../resources/js/components/form/FormDropZone.vue'
export default {
    name: 'Register',
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/`
        }
    },
    data () {
        return {
            linkActive: false,
            linkMessage: '',
            loggedIn: false,
            model: {}

        }
    },
    components: { FormDropZone, StudentLanguages, FrontendInput, Pagination, FrontendSelect, FrontendMask, FrontendDatePicker, StudentSchool },
    methods: {
        checkLink () {
            this.axios.post(`${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/` + 'student/check-registration-link', { token: this.$route.params.hash }).then(resp => {
                this.linkActive = resp.data.status
            }).catch((err) => {
                this.linkActive = err.response.data.status
                this.linkMessage = err.response.data.error
            })
        },
        changePath ($event) {
            console.log($event)
            this.model.student_card = $event
        },
        checkLogin () {
            this.axios.get(`${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/` + 'student/profile').then((response) => {
                const profile = response.data.data
                if (profile.id) {
                    this.model = profile
                    this.loggedIn = true
                    this.checkLink()
                }
            })
        },
        saveRegistration () {
            this.axios.post(`${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/` + 'student/save-registration', this.model).then((response) => {
                setTimeout(() => {
                    window.location.href = '/profile/personal-data'
                }, 2000)
            }).catch(() => {
                setTimeout(() => {
                    window.scrollTo(0, 0)
                }, 1000)
            })
        }
    },
    created () {
        this.checkLogin()
        const self = this
        this.$eventHub.$on('studentLoggedIn', function () {
            self.checkLogin()
        })
    }
}
</script>
