<template>
    <div class="container blog-container">
        <div class="row mt-5 mb-5 page-tagline profile">
            <div class="col-12 mt-2">
                <div class="tags-container">
                    <router-link :to="item.link" v-bind:class="item.color"  class="text-white p-1 pl-4 pr-4" v-for="(item,index) in getMenu()" v-bind:key="'small-menu-'+index"><i  v-bind:class="item.icon"></i> {{item.title}}</router-link>
                </div>
                <div class="circle-tile-heading dark-gray"><i class=" fa-fw fa-3x fa fa-table"></i></div>
                <div class="circle-tile-content dark-gray">
                    <h1 class="title text-white">Beosztás tervező</h1>
                </div>
            </div>
            <div class="col-12">
              <hr/>
                <h1 class="h3 text-danger mt-3 mb-3">{{ scheduleData.title }}</h1>
                <h1 class="h4 text-success mt-3 mb-3">Szerkeszthető: {{ scheduleData.expire }}</h1>
              <hr/>
                <div class="table-responsive" v-if="profile && profile.id">
                  <table class="table table-bordered table-striped " v-if="scheduleData && scheduleData.schedules && scheduleData.schedulesInfo">
                    <thead>
                    <tr>
                      <th class="bg-dark text-white text-center">#</th>
                      <th class="bg-dark text-white text-center" v-for="day in scheduleData.days" v-bind:key="'day-header'+day.value" v-html="day.formatted">
                      </th>
                    </tr>
                    <tr>
                      <th class=" text-center">Kért létszám/ Foglalt
                      </th>
                      <th class=" text-center" v-for="day in scheduleData.days" v-bind:key="'day-header2'+day.value">
                        <template v-if="scheduleData.schedulesInfo[scheduleData.departmen][day.value]">
                          <h4  class="h3 text-success text-center " >{{(scheduleData.schedulesInfo[scheduleData.departmen][day.value].student_count)?scheduleData.schedulesInfo[scheduleData.departmen][day.value].student_count:0}} / <span class="text-danger">{{cnt(day.value,scheduleData.departmen)}}</span></h4>
                        </template>
                      </th>
                    </tr>
                    <tr>
                      <th class=" text-center">Egyéb megjegyzés</th>
                      <th class=" text-center" v-for="day in scheduleData.days" v-bind:key="'day-header3'+day.value" >
                        {{scheduleData.schedulesInfo[scheduleData.departmen][day.value].info}}
                      </th>
                    </tr>
                    <tr>
                      <th class=" text-center">Adot napi időbeosztás</th>
                      <th class=" text-center" v-for="day in scheduleData.days" v-bind:key="'day-header3'+day.value" >
                        {{scheduleData.schedulesInfo[scheduleData.departmen][day.value].start}} - {{scheduleData.schedulesInfo[scheduleData.departmen][day.value].end}}
                      </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-if="scheduleData.editable">
                      <td class="bg-silver">
                      </td>
                      <template  v-for="day in scheduleData.days">

                        <td class="text-center" v-bind:key="'day-ddd'+day.value+'-'" >
                          <div class="text-danger" v-if="!scheduleData.schedulesInfo[scheduleData.departmen][day.value].student_count">Nem kérnek diákot</div>
                          <div class="text-danger" v-if="!checkExist(day.value,scheduleData.departmen) && scheduleData.schedulesInfo[scheduleData.departmen][day.value].student_count==cnt(day.value,scheduleData.departmen)">Betelt</div>
                           <button class="btn btn-sm btn-success" v-if="scheduleData.schedulesInfo[scheduleData.departmen][day.value].student_count && scheduleData.schedulesInfo[scheduleData.departmen][day.value].student_count>cnt(day.value,scheduleData.departmen) && !checkExist(day.value,scheduleData.departmen)" title="Jelentkezem az adott napra"  @click="subscribe(day.value)" aria-hidden="true">Ráérek</button>
                           <button class="btn btn-sm btn-danger" v-if="scheduleData.schedulesInfo[scheduleData.departmen][day.value].student_count && checkExist(day.value,scheduleData.departmen)" title="Jelentkezem az adott napra" @click="unsubscribe(day.value)" aria-hidden="true">Leiratkozom</button>
                        </td>

                      </template>
                    </tr>
                    <tr v-if="!scheduleData.editable">
                      <td class="bg-silver text-center" colspan="8">
                        <span class="text-danger h4">A beosztás már nem szerkeszthető!</span>
                      </td>
                    </tr>
                    </tbody>
                  </table>

            </div>
                <div v-if="!profile || !profile.id" class="alert alert-danger"> Kérlek jelentkezz be!</div>
            </div>
        </div>

    </div>
</template>

<script>
import FrontendInput from '../../../../../../../../resources/js/frontend/components/form/FrontendInput'
import FrontendWeekPicker from '../../../../../../../../resources/js/frontend/components/form/FrontendWeekPicker'
import Calendar from './Calendar'
import Profile from '../Profile'
export default {
    name: 'SchedulesEditor',
    extends: Profile,
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/`
        }
    },
    data () {
        return {
            interval: null,
            scheduleData: {
                days: {},
                students: {},
                schedules: {},
                schedulesInfo: []
            }

        }
    },
    components: { FrontendInput, FrontendWeekPicker, Calendar },
    methods: {
        getMySchedule () {
            this.axios.get(this.url + 'student/get-my-schedules-editor/' + this.$route.params.hash).then((resp) => {
                this.scheduleData = resp.data
            })
        },
        cnt: function (day, dept) {
            let count = 0
            if (this.scheduleData.schedules[dept]) {
                console.log(this.scheduleData.schedules[dept])
                Object.keys(this.scheduleData.schedules[dept]).forEach(item => {
                    console.log(this.scheduleData.schedules[dept][item][day])
                    console.log(this.scheduleData.schedules[dept][item])
                    if (this.scheduleData.schedules[dept][item][day] && this.scheduleData.schedules[dept][item][day].start) {
                        count++
                    }
                })
            }
            return count
        },
        checkExist: function (day, dept) {
            let count = 0
            if (this.scheduleData.schedules[dept]) {
                Object.keys(this.scheduleData.schedules[dept]).forEach(item => {
                    if (this.scheduleData.schedules[dept][item][day] && this.scheduleData.schedules[dept][item][day].exist) {
                        count++
                    }
                })
            }
            return count
        },
        subscribe (day) {
            this.axios.post(this.url + 'student/subscribe-schedules-editor/' + this.$route.params.hash, { date: day, start: this.scheduleData.schedulesInfo[this.scheduleData.departmen][day].start, end: this.scheduleData.schedulesInfo[this.scheduleData.departmen][day].end }).then((resp) => {
                this.scheduleData = resp.data
            })
        },
        unsubscribe (day) {
            this.axios.post(this.url + 'student/unsubscribe-schedules-editor/' + this.$route.params.hash, { date: day }).then((resp) => {
                this.scheduleData = resp.data
            })
        },
        initUserPage () {
            this.axios.get(`${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/` + 'student/profile').then((response) => {
                this.profile = response.data.data
            })
        }
    },
    mounted () {
        var date = new Date()
        let add = 1

        if (date.getDay() === 0) {
            add = -6
        }
        const startDate = new Date(date.getFullYear(), date.getMonth(), date.getDate() - date.getDay() + add)
        const endDate = new Date(date.getFullYear(), date.getMonth(), date.getDate() - date.getDay() + add + 6)
        this.interval = (startDate.getFullYear() + '-' + (startDate.getMonth() + 1) + '-' + startDate.getDate()) + ' - ' + (endDate.getFullYear() + '-' + (endDate.getMonth() + 1) + '-' + endDate.getDate())
        this.getMySchedule()
    },
    created () {
        const self = this
        this.$eventHub.$on('studentLoggedIn', function (data) {
            self.profile = data
            self.getMySchedule()
        })
    }
}
</script>
<style>
</style>
