<template>
    <div class="container blog-container">
        <div class="row mt-5 mb-5 page-tagline profile">
            <div class="col-12 mt-2">
                <div class="tags-container">
                    <router-link :to="item.link" v-bind:class="item.color"  class="text-white p-1 pl-4 pr-4" v-for="(item,index) in getMenu()" v-bind:key="'small-menu-'+index"><i  v-bind:class="item.icon"></i> {{item.title}}</router-link>
                </div>
                <div class="circle-tile-heading dark-gray"><i class=" fa-fw fa-3x fa fa-table"></i></div>
                <div class="circle-tile-content dark-gray">
                    <h1 class="title text-white">Beosztások</h1>
                </div>
                <div class="row mt-2">
                    <div class="col-sm-3">
                        <FrontendWeekPicker  v-model="interval" title="Válassz hetet" ></FrontendWeekPicker>
                    </div>
                    <div class="col-sm-2"><button class="button size-3 w-100 mt-4 black" @click="getMySchedule()"><span class="text-center w-100">Lekérdez</span></button></div>
                    <div class="col-12">
                        <hr/>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <h1 class="title" v-if="scheduleData && scheduleData.schedules.length === 0">Az adott hétre nincs beosztás rögzítve</h1>
                <div class="table-responsive">
                <table class="table table-bordered table-striped " v-if="scheduleData && Object.keys(scheduleData.schedules).length">
                    <thead>
                    <tr>
                        <th class="dark-gray text-white text-center" v-for="day in scheduleData.days" v-bind:key="'day-header'+day.value" v-html="day.formatted"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="padding:0" class=" text-center" v-for="day in scheduleData.days" v-bind:key="'day-header-row'+day.value" >
                            <Calendar v-for="(sch,ind) in scheduleData.schedules[day.value]" v-bind:key="'sch-'+sch.schedule_date+'-'+ind" :schedule="sch"></Calendar>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            </div>
        </div>

    </div>
</template>

<script>
import FrontendInput from '../../../../../../../../resources/js/frontend/components/form/FrontendInput'
import FrontendWeekPicker from '../../../../../../../../resources/js/frontend/components/form/FrontendWeekPicker'
import Calendar from './Calendar'
import Profile from '../Profile'
export default {
    name: 'Schedules',
    extends: Profile,
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/`
        }
    },
    data () {
        return {
            interval: null,
            scheduleData: null

        }
    },
    components: { FrontendInput, FrontendWeekPicker, Calendar },
    methods: {
        getMySchedule () {
            this.axios.get(this.url + 'student/get-my-schedule?interval=' + this.interval).then((resp) => {
                this.scheduleData = resp.data
            })
        }
    },
    mounted () {
        var date = new Date()
        let add = 1

        if (date.getDay() === 0) {
            add = -6
        }
        const startDate = new Date(date.getFullYear(), date.getMonth(), date.getDate() - date.getDay() + add)
        const endDate = new Date(date.getFullYear(), date.getMonth(), date.getDate() - date.getDay() + add + 6)
        this.interval = (startDate.getFullYear() + '-' + (startDate.getMonth() + 1) + '-' + startDate.getDate()) + ' - ' + (endDate.getFullYear() + '-' + (endDate.getMonth() + 1) + '-' + endDate.getDate())
        this.getMySchedule()
    },
    created () {

    }
}
</script>
<style>
</style>
