<template>
    <div class="container blog-container text-center mb-5">
        <div class="row mt-5 mb-5 page-tagline present" >
            <div class="col-12 mt-2">
                <div class="tags-container">
                    <router-link :to="item.link" v-bind:class="item.color"  class="text-white p-1 pl-4 pr-4" v-for="(item,index) in getMenu()" v-bind:key="'small-menu-'+index"><i  v-bind:class="item.icon"></i> {{item.title}}</router-link>
                </div>
                <div class="circle-tile-heading blue"><i class="fa fa-globe fa-fw fa-3x"></i></div>
                <div class="circle-tile-content blue">
                    <h1 class="title text-white">Diákigazolvány / Jogviszony feltöltés</h1>
                </div>
                </div>
            </div>
      <div class="col-12" v-if="!profile"><loading-svg></loading-svg></div>
      <template v-if="successMessage">
        <div class="col-12">
          <div class=" text-center alert alert-success" style="font-size: 22px">Sikeresen rögzítettük a kérésed! Amint felülvizsgáljuk, emailben értesítünk az eredményről</div>
        </div>
      </template>
      <template v-if="!successMessage && profile" >
            <div class="col-12">
              <FrontendCustumRadio v-model="model.document_type" :badge="1" :options="documentOption" :title="'Kérlek válaszd ki, hogy mit szeretnél feltölteni!' "></FrontendCustumRadio>
            </div>
             <div class="col-12" v-if="model.document_type">
              <FrontendCustumRadio v-model="model.school_type" :badge="2" :options="schoolOption" :title="'Válassz képzési formát!' "></FrontendCustumRadio>
            </div>
          <div class="col-12" v-if="model.school_type && model.school_type==1">
            <FrontendCustumRadio :badge="3" v-model="model.school_year" :options="school_yearOption" :title="'Válassz tanévet !' "></FrontendCustumRadio>
          </div>
          <div class="col-12"  v-if="model.school_type && model.school_type==2">
            <FrontendCustumRadio  :badge="3" v-model="model.semester" :options="semesterOption" :title="'Válassz félévet!' "></FrontendCustumRadio>
          </div>
          <div class="col-12"  v-if="model.school_year || model.semester">
            <FrontendCustumRadio @change="scrollTo" :badge="4" v-model="model.status" :options="statusOption" :title="'Kérlek add meg az adott évre/félévre vonatkozó stástuszod!' "></FrontendCustumRadio>
            <div class="col-md-8 offset-md-2 text-center alert alert-danger" v-if="year25Error">{{year25Error}}</div>
          </div>
          <div class="col-12" v-if="model.status">
            <div class="recze radio">
            <label  class="radio-title"><span class="badge">5</span>Kérlek válassz intézményt!</label>
            </div>
            <div class="row">
              <div class="col-md-10 offset-md-1">
            <CardStudentSchool v-on:selectSchool="selectSchool($event)" v-on:new_school="new_school" :selectedSchool="model.selected_school" :student="profile"></CardStudentSchool>
              </div>
            </div>
          </div>
          <div class="col-12" id="om_code_field"></div>
          <div class="col-12" v-if="model.selected_school" >
            <div class="recze radio">
              <label class="radio-title"> <span class="badge">6</span>Kérlek pontisítsd az diákigazolvány számodat vagy OM azonosítódat!</label>
              <div class="row">
                <div class="col-md-3 offset-md-4">
              <FrontendInput  v-model="model.om_code"></FrontendInput>
                </div>
                <div class="col-md-1 mt-2"><button class="btn btn-primary btn-lg" @click="model.om_checked=true">Tovább</button></div>

              </div>
            </div>
          </div>
          <div class="col-12" v-if="model.om_checked">
            <div class="recze radio">
              <label class="radio-title"> <span class="badge">7</span>Töltsd fel a hitelesített dokumentumot</label>
              <div class="row">
                <div style="font-size: 18px" class="text-center p-3 col-md-8 offset-md-2">Fotózd le a diákigazolványod mindkét oldalát, vagy a jogviszony igazolásodat és alakítsd át 1 db PDF file-ba és a DÁP alkalmazással írd alá.!</div>
                <div class="text-box text-left col-md-8 offset-md-2">1) nyitsd meg a DÁP alkalmazást, azon belül a Digitális aláírás lehetőséget</div>
                <div class="text-box text-left col-md-8 offset-md-2">2) Aláírás indítása, Tovább, Dokumentum kiválasztása gombok megnyomása után választ ki az aláírandó filet (diákigazolvány/jogviszony) és töltsd be PDF filet</div>
                <div class="text-box text-left col-md-8 offset-md-2">3) klikkelj az Áttekintés és aláírás gombra</div>
                <div class="text-box text-left col-md-8 offset-md-2">4) klikkelj az Aláírás gombra</div>
                <div class="text-box text-left col-md-8 offset-md-2">5) Add meg a jelszavad</div>
                <div class="text-box text-left col-md-8 offset-md-2">6) Az aláírt filet mentsd le a mobilodra</div>
                <div class="text-box text-left col-md-8 offset-md-2 mt-2 text-success">7) Az aláírt filet töltsd fel a megfelelő helyre, amikor a rendszer kéri.</div>
                <div class="col-md-4 mt-5 offset-md-4"><button class="btn btn-primary btn-lg w-100" data-toggle="modal" data-target="#documentModal">Aláírt dokumentum feltötlése</button></div>
              </div>
            </div>
          </div>
          <div class="col-12 mb-5" v-if="model.new_file">
            <div class="recze radio">
              <label class="radio-title"> <span class="badge">8</span>Véglegesítés és beküldés!</label>
              <div class="row">
                <div class="col-md-4 mt-5 offset-md-4"><button class="btn btn-success btn-lg w-100" @click="saveCard" >Dátum felülvizsgálatot kérek/feltöltöm!</button></div>
              </div>
            </div>
          </div>
            <div class = "modal fade" id = "documentModal" tabindex = "-1" role = "dialog" aria-labelledby = "exampleModalLabel" aria-hidden = "true">
                <div class = "modal-dialog">
                    <div class = "modal-content">
                        <div class="widget-entry">
                            <div class="widget-title p-3"> Aláírt fájl feltöltése <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button></div>
                            <div class="row page-tagline  p-3">
                                <div class="col-md-12 col-md-offset-3 wow flipInX animated" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: flipInX;">
                                    <FormDropZone v-model="file"  v-on:success="changePath($event)" :student="true"  max-files="1" acceptedFiles="application/pdf" :url="'/api/v1/student/upload-document'" :option="{}" :title="'Húzd ide az aláírt dokumentumot'"></FormDropZone>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
      </template>
    </div>
</template>

<script>
import FrontendInput from '../../../../../../../../resources/js/frontend/components/form/FrontendInput'
import Pagination from '../../../../../../../../resources/js/components/Pagination'
import Profile from '../Profile'
import FormDropZone from '../../../../../../../../resources/js/components/form/FormDropZone'
import FrontendCustumRadio from '../../../../../../../../resources/js/frontend/components/form/FrontendCustumRadio'
import CardStudentSchool from './schools/CardStudentSchool'
import LoadingSvg from '../../LoadingSvg'
export default {
    name: 'StudentCards',
    extends: Profile,
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/`
        },
        year25Error: function () {
            console.log(this.model.status === '' + 2)
            if (this.profile.year25 && this.model.status === '' + 2) {
                const year25 = new Date(this.profile.year25)
                console.log(this.model.school_type)
                console.log(this.model.school_year)
                if (this.model.school_type === '' + 1 && this.model.school_year) {
                    const start = new Date(this.profile.getStudentYear[this.model.school_year].start)
                    const end = new Date(this.profile.getStudentYear[this.model.school_year].end)
                    console.log(year25)
                    console.log(start)
                    console.log(end)
                    if (year25 < start) {
                        return 'A jelenlegi jogszabályok értelmében, passzív jogviszonnyal csak a 25 év alattiak dolgozhatnak!'
                    }
                    if (year25 > start && year25 < end) {
                        return 'A jelenlegi jogszabályok értelmében, passzív jogviszonnyal csak a 25 év alattiak dolgozhatnak! Csak ' + this.profile.year25 + ' -ig dolgozhatsz!'
                    }
                }
                if (this.model.school_type === '' + 2 && this.model.semester) {
                    if (this.model.document_type === '' + 1) {
                        const start = new Date(this.profile.semesterCard[this.model.semester].start)
                        const end = new Date(this.profile.semesterCard[this.model.semester].end)
                        if (year25 < start) {
                            return 'A jelenlegi jogszabályok értelmében, passzív jogviszonnyal csak a 25 év alattiak dolgozhatnak! Jelenleg nem dolgozhatsz'
                        }
                        if (year25 > start && year25 < end) {
                            return 'A jelenlegi jogszabályok értelmében, passzív jogviszonnyal csak a 25 év alattiak dolgozhatnak! Csak ' + this.profile.year25 + ' -ig dolgozhatsz!'
                        }
                    }
                    if (this.model.document_type === '' + 2) {
                        const start = new Date(this.profile.semesterCertificate[this.model.semester].start)
                        const end = new Date(this.profile.semesterCertificate[this.model.semester].end)
                        if (year25 < start) {
                            return 'A jelenlegi jogszabályok értelmében, passzív jogviszonnyal csak a 25 év alattiak dolgozhatnak! Jelenleg nem dolgozhatsz'
                        }
                        if (year25 > start && year25 < end) {
                            return 'A jelenlegi jogszabályok értelmében, passzív jogviszonnyal csak a 25 év alattiak dolgozhatnak! Csak ' + this.profile.year25 + ' -ig dolgozhatsz!'
                        }
                    }
                }
            }
            return ''
        },
        school_yearOption: function () {
            const resp = Object.assign({})
            if (this.profile) {
                Object.keys(this.profile.getStudentYear).forEach(key => {
                    resp[this.profile.getStudentYear[key].key] = this.profile.getStudentYear[key].name
                })
            }
            return resp
        },
        semesterOption: function () {
            const resp = Object.assign({})
            if (this.profile) {
                if (this.model.document_type === 1) {
                    Object.keys(this.profile.semesterCard).forEach(key => {
                        resp[this.profile.semesterCard[key].key] = this.profile.semesterCard[key].name
                    })
                    return resp
                }
                Object.keys(this.profile.semesterCertificate).forEach(key => {
                    resp[this.profile.semesterCertificate[key].key] = this.profile.semesterCertificate[key].name
                })
            }
            return resp
        }

    },
    watch: {
        profile: function (value) {
            this.model.om_code = value.om_code
        }
    },
    data () {
        return {
            successMessage: false,
            year: new Date().getFullYear(),
            model: {
                document_type: null,
                school_type: null,
                school_year: null,
                semester: null,
                status: null,
                selected_school: null,
                new_school: false,
                om_code: '',
                om_checked: false,
                new_file: ''
            },
            file: null,
            documentOption: { 1: 'Diákigazolvány', 2: 'Jogviszony' },
            statusOption: { 1: 'Aktív', 2: 'Passzív' },
            schoolOption: { 1: 'Középiskola / szakközépiskola', 2: 'Egyetem / főiskola' }

        }
    },
    components: { LoadingSvg, FrontendInput, Pagination, FormDropZone, FrontendCustumRadio, CardStudentSchool },
    methods: {
        selectSchool ($event) {
            this.model.selected_school = $event
            const element = document.getElementById('om_code_field').offsetTop

            window.scrollTo({ top: element + 50, behavior: 'smooth' })
        },
        new_school () {
            this.model.new_school = true
        },
        changePath ($event) {
            console.log($event)
            this.model.new_file = $event
            window.$('#documentModal').modal('hide')
        },
        scrollTo () {
            const element = document.getElementById('om_code_field').offsetTop

            window.scrollTo({ top: element, behavior: 'smooth' })
        },
        saveCard () {
            this.axios.post(`${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/` + 'student/save-online-student-card', this.model).then((response) => {
                this.successMessage = true
            })
        }
    }

}
</script>
