<template>
    <div class="container blog-container">
        <div class="row mt-5 mb-5 page-tagline profile">
            <div class="col-12 bg-danger p-3" v-if="profile && profile.exit_date" >
                <h3 class="text-large text-white" style="font-size: 23px">A profilod fel lett függesztve kilépés miatt. Néhány funkció nem lesz elérhető a továbbiakban, de továbbra is hozzáférsz majd az adataidhoz!</h3>
            </div>
            <div class="col-12 mt-2">
                <div class="tags-container">
                    <router-link :to="item.link" v-bind:class="item.color"  class="text-white p-1 pl-4 pr-4" v-for="(item,index) in getMenu()" v-bind:key="'small-menu-'+index"><i  v-bind:class="item.icon"></i> {{item.title}}</router-link>
                </div>
                <div class="circle-tile-heading orange"><i class=" fa-fw fa-3x fa ffa fa-ambulance"></i></div>
                <div class="circle-tile-content orange">
                    <h1 class="title text-white">Munkaeszközök, igazolások</h1>
                </div>
            </div>
            <div class="col-12">
                <NewWorkSafety v-if="profile && !profile.exit_date" v-on:refresh="getWorkSafety"></NewWorkSafety>
                <div class="table-responsive">
                    <table v-if="payrols && Object.keys(payrols).length>0" class="table table table-condensed table-bordered" >
                        <tr>
                            <th>Típus</th>
                            <th>Kiállítás dátuma</th>
                            <th>Lejárat dátuma</th>
                            <th>Méret</th>
                            <th>Érték</th>
                            <th>Infó</th>
                            <th>Törlés</th>
                        </tr>
                        <tr v-for="document in payrols " v-bind:key="'work-safety-'+ document.id">
                            <td>{{document.type}}</td>
                            <td>{{document.date}}</td>
                            <td>{{document.expire}}</td>
                            <td>{{document.size}}</td>
                            <td><Price :value="document.price"></Price></td>
                            <td>{{document.value}} <span v-if="document.approve_is_required" class="text-success"> Jóváhagyásra vár</span></td>
                            <td><DeleteConfirm v-if="document.approve_is_required && !document.approved && profile && !profile.exit_date" v-on:delete="deleteWorkSafety(document.id)"></DeleteConfirm></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
import FrontendInput from '../../../../../../../../resources/js/frontend/components/form/FrontendInput'
import FrontendMask from '../../../../../../../../resources/js/frontend/components/form/FrontendMask'
import Price from '../../../../../../../../resources/js/components/Price'
import DeleteConfirm from '../../../../../../../../resources/js/components/DeleteConfirm.vue'
import Profile from '../Profile'
import NewWorkSafety from './NewWorkSafety.vue'

export default {
    name: 'WorkSafety',
    extends: Profile,
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/`
        },

        token: function () {
            return $cookies.get('token')
        }

    },
    data () {
        return {
            year: new Date().getFullYear(),
            payrols: null

        }
    },
    components: { FrontendInput, FrontendMask, Price, DeleteConfirm, NewWorkSafety },
    methods: {
        getWorkSafety () {
            this.axios.get(this.url + 'student/get-my-work-safety').then((response) => {
                this.payrols = response.data.data
                console.log(this.payrols)
            })
        },
        deleteWorkSafety (id) {
            this.axios.delete(this.url + 'student/delete-work-safety/' + id).then((response) => {
                this.getWorkSafety()
            })
        }
    },
    created () {
        this.getWorkSafety()
    }
}
</script>
